<style>
    .ajax-content {
        width: max-content;
        display: none;
    }

    /* .table{
        border: 1px solid;
        border-collapse: inherit;
    }
    .table>thead>tr>th{
        border-left: 1px solid;
    }
    .table>tbody>tr>td{
        border-left: 1px solid;
        border-top: 1px solid;
    }*/

    .block2 {
        margin-left: -400px;
    }

    .block3 {
        margin-left: -800px;
    }

    .block4 {
        margin-left: -1200px;
    }
</style>
<!-- Content Wrapper. Contains page content -->





 <!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div>  -->

<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header container">
        <h1>        Dashboard        <small>Control panel</small>      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->

    <div class="container no-pad">
		<div class="col-lg-6">
			<div id="colChart">Placeholder for chart</div>
			<p>&nbsp;</p>
		</div>
		<div class="col-lg-6">
			<div id="studentsChart">Placeholder for chart</div>
			<p>&nbsp;</p>
		</div>
		<!--div class="col-lg-6">
			<div id="potentialChart">Placeholder for chart</div>
			<p>&nbsp;</p>
		</div-->

    </div>

    <section class="container no-pad" ng-show="banksTableData">

            <div class="col-lg-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                        <span> Total No -
                            <b>{{ tableParamsBankLeadStatus.total() }}</b>
                        </span>
                        <table ng-table="tableParamsBankLeadStatus" class="table table-bordered table-striped" show-filter="true">
                            <tr>
                                <th>Status</th>
                                <th>No. Of Applications</th>
                            </tr>
                            <tr ng-repeat="value in $data" id="list_status_table">
                                <td>{{value.worked_type}}</td>
                                <td><a href="/students/fistudentlist/{{value.worked_type}}" target="_blank"> {{value.application_count}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

    </section>

    <section class="container no-pad" ng-show="banksTableData">

            <div class="col-lg-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                        <span> Total No -
                            <b>{{ tableParamsBankStatus.total() }}</b>
                        </span>
                        <table ng-table="tableParamsBankStatus" class="table table-bordered table-striped" show-filter="true">
                            <tr>
                                <th>Banks</th>
                                <th>No. Of Applications</th>
                            </tr>
                            <tr ng-repeat="value in $data" id="list_table">
                                <td>{{value.display_name}}</td>
                                <td>{{value.leads}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

    </section>

    <section class="container no-pad" ng-show="stagesTableData">

           <div class="col-lg-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                        <span> Total No -
                            <b>{{ tableParamsStages.total() }}</b>
                        </span>
                        <table ng-table="tableParamsStages" class="table table-bordered table-striped" show-filter="true">
                            <tr>
                                <th>Stages</th>
                                <th>No. Of Students</th>
                            </tr>
                            <tr ng-repeat="value in $data" id="list_table">
                                <td>{{value.current_lead_state}}</td>
                                <td><a href="/students/assigned-me/all?lead_state={{value.current_lead_state}}" target="_blank">{{value.lead_count}}</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

    </section>

    <!--section class="container no-pad" ng-show="potentialTableData">

                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{title}}</h3>
                        </div>
                        <div class="box-body">
                            <span> Total No -
                                <b>{{ tableParamsPotential.total() }}</b>
                            </span>
                            <table ng-table="tableParamsPotential" class="table table-bordered table-striped" show-filter="true">
                                <tr>
                                    <th>DISBURSED</th>
                                    <th>POTENTIAL</th>
                                </tr>
                                <tr ng-repeat="value in $data" id="list_table">
                                    <td ng-if="value.DISBURSED[0].total">{{value.DISBURSED[0].total}}</td>
                                    <td ng-if="!value.DISBURSED[0].total">0</td>
                                    <td ng-if="value.POTENTIAL[0].total">{{value.POTENTIAL[0].total}}</td>
                                    <td ng-if="!value.POTENTIAL[0].total">0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

        </section-->


    <!-- /.content -->
    <div style="clear:both;"></div>

	<!-- text info boxes -->
	<!-- <div class="container no-pad board">
		<div class="col-lg-6 no-pad">
			<div class="col-lg-6">
				<div class="panel panel-primary">
					<div class="panel-heading">To be Scheduled</div>
					<div class="panel-body">
						<span>6</span>
						Keep up the Good work!
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-primary ello">
					<div class="panel-heading">On Hold</div>
					<div class="panel-body">
						<span>2</span>
						Lets Get these in Green
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Applications</h3>
						<p><span>18</span> Processed</p>
					</div>
				</div>
			</div>
		</div> -->
		<!-- <div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-body">
				<h3>Schedule</h3>
					<h5>Today</h5>
					<p class="well well-sm ">8:00 AM | Dapibus ac facilisis in</p>
					<p class="well well-sm">9:00 AM | Morbi leo risus</p>
					<p class="well well-sm">12:00 PM |  Porta ac consectetur ac</p>

					<h5>Tomorrow</h5>
					<p class="well well-sm">Dapibus ac facilisis in</p>
					<p class="well well-sm">Morbi leo risus</p>
					<p class="well well-sm">Porta ac consectetur ac</p>


				</div>
			</div>
		</div>
	</div> -->
	<!-- text info boxes -->
	<!-- graphs, charts section -->

<style>
.highcharts-root {
font-family:Roboto!important;
}
highchart {
  display: block;
  width: 100%;
  max-width: 100%;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}
</style>
