<style>
    .new_ul ul{
        padding-left:0px;
    }
    .new_ul ul li{
        display:inline-block;
        padding-right:20px;
    }
    .new_ul ul	li:not(:first-child):before{
        position:absolute;
        content:"\00BB";
        top:24%;
        font-size:24px;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        margin-left:-17px;
        width: 0;
        height: 0;
        }
</style>
<!-- content begin -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Student Dashboard</h1>
                <ul class="crumb">
                    <li><a href="<?php echo base_url();?>">Home</a></li>
                    <li class="sep">/</li>
                    <li>Student Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div id="content" class="no-top no-bottom">
    <section id="" class="side-bg no-padding">
        <div class="image-container col-md-4 pull-left" data-delay="0"></div>
        <div class="container">
            <div class="row">
                <div class="inner-padding" id="form6">
                    <div class="col-md-12 hr_margin" id="us-related" data-animation="fadeInRight" data-delay="200">
                        <div class="col-md-8 " data-animation="fadeInRight" data-delay="200">
                            <h2>Good Night, Sudhir</h2>
                            <hr/>
                            <?php
                            $app_type_arr = explode(",",getLoanTypeArr(@$this->session->userdata('eduloanfrontuser')['id']));
                            ?>
                            <?php
                            if(in_array(1,$app_type_arr) == true){
                                ?>
                                <?php
                                if(count(@$applied_banks_collateral) > 0){
                                    ?>
                                    <h3>Collateral</h3>
                                    <hr/>
                                    <?php foreach(@$applied_banks_collateral as $applied_bank_collateral){
                                        ?>
                                        <div class="col-md-12 no-padding" style="padding: 30px 0px 30px 0px;">
                                            <div class="col-md-12 new_ul">
                                                <ul>
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="Application Process">
                                                            <img src="images/ico/online-application.png" width="50"/>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="Application Review">
                                                            <img src="images/ico/Application-Review.png" width="50"/>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="Provisional Offer">
                                                            <img src="images/ico/Provisional-Offer.png" width="50"/>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="Uploading your Documents">
                                                            <img src="images/ico/Uploading-Your-Documents.png" width="50"/>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="Disbursement">
                                                            <img src="images/ico/Disbursement.png" width="50"/>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="Study and Grace Period">
                                                            <img src="images/ico/Study-And-Grace-Period.png" width="50"/>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="Loan Repayment">
                                                            <img src="images/ico/Loan-Repayment.png" width="50"/>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-3">
                                                <img src="<?php echo base_url().$applied_bank_collateral->profile_pics?>" class="img-responsive" width="180"/>
                                            </div>
                                            <div class="col-md-5">
                                                <p><strong>Application Id: <a href="javascript:void()">                           <?php echo @getBankStudentDetails(array('bank_student.student_id'=>@$this->session->userdata('eduloanfrontuser')['id'],'bank_student.bank_id'=>$applied_bank_collateral->bank_id,'bank_student.loan_type'=>1))->application_id;?>                           </a></strong>                           <br>                           <strong>Application Status: <a href="javascript:void()"><?php echo getAppStatus(@$this->session->userdata('eduloanfrontuser')['id']);?></a></strong>                           <br>                           <strong>Type of Loan: <a href="javascript:void()">                           <?php echo $applied_bank_collateral->loantypename?></a></strong><br>                           <strong>Financial Institute:                           <a href="<?php echo base_url();?>user/profile/<?php if($applied_bank_collateral->bank_id !=27) {echo 'index/'.base64_encode($applied_bank_collateral->bank_id); }?>"><?php echo $applied_bank_collateral->bankname;?></a></strong>                           <?php                           if(getAppStatus(@$this->session->userdata('eduloanfrontuser')['id']) == 'Complete'){?>                           <?php }?>                           </p>                           </div>                           <div class="col-md-4">                           <style type="text/css">                           .progress.progress-xs {                               height: 5px;                               margin-top: 25px;                               margin-bottom: 20px;                               border-radius: 0px;                               -webkit-box-shadow: none;                               box-shadow: none;                               overflow: hidden;                               background-color: #f5f5f5;                           }                           .bg-pink-1 {                               background-color: #f57a82 !important;                           }                           .progress-bar {                               float: left;                               width: 0;                               height: 100%;                               font-size: 12px;                               line-height: 20px;                               color: #fff;                               text-align: center;                               background-color: #337ab7;                               -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);                               box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);                               -webkit-transition: width .6s ease;                               -o-transition: width .6s ease;                               transition: width .6s ease;                           }                           </style>                               <p class="pull-right">                               <strong><a href="<?php echo base_url();?>user/profile/<?php if($applied_bank_collateral->bank_id !=27) {echo 'index/'.base64_encode($applied_bank_collateral->bank_id); }?>"> Edit <?php echo $applied_bank_collateral->bankname;?> Collateral Profile</a></strong>                               </p>                           <?php if($this->session->userdata('eduloanfrontuser')['id']==344){ ?>                           <?php if($applied_bank_collateral->bank_id !=27) {?>                           <?php $profile_percentage = round(get_profile_meter_SBI($this->session->userdata('eduloanfrontuser')['id'],2));?>                               <div class="clearfix"></div>                                           <span class="pull-left"><strong>Profile Completed</strong></span><span class="pull-right"><?php echo $profile_percentage;?>%</span>                                           <div class="progress progress-xs">                                               <div style="width: <?php echo $profile_percentage;?>%;" class="progress-bar bg-pink-1"></div>                                           </div>                           <?php }                           }?>                           </div>                       </div>                       <div class="clearfix"></div>                       <?php } ?>                       <hr/>                       <?php } ?>                       <?php } ?>                       <?php if(in_array(2,$app_type_arr) == true){?>                       <?php if(count(@$applied_banks_noncollateral) > 0){?>                       <h3>Non Collateral</h3>                       <hr/>                       <?php foreach(@$applied_banks_noncollateral as $applied_bank_noncollateral){?>                       <div class="col-md-12 no-padding" style="padding: 30px 0px 30px 0px;">                           <div class="col-md-12 new_ul">                           <ul>                               <li><a href="#" data-toggle="tooltip" title="Application Process"><img src="images/ico/online-application.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Application Review"><img src="images/ico/Application-Review.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Provisional Offer"><img src="images/ico/Provisional-Offer.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Uploading your Documents"><img src="images/ico/Uploading-Your-Documents.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Disbursement"><img src="images/ico/Disbursement.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Study and Grace Period"><img src="images/ico/Study-And-Grace-Period.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Loan Repayment"><img src="images/ico/Loan-Repayment.png" width="50"/></a></li>                           </ul>                           </div>                           <div class="clearfix"></div>                           <div class="col-md-3">                               <img src="<?php echo base_url().$applied_bank_noncollateral->profile_pics?>" class="img-responsive" width="180"/>                           </div>                           <div class="col-md-5">                           <p>                           <strong>Application Id: <a href="javascript:void()">                           <?php echo @getBankStudentDetails(array('bank_student.student_id'=>@$this->session->userdata('eduloanfrontuser')['id'],'bank_student.bank_id'=>$applied_bank_noncollateral->bank_id,'bank_student.loan_type'=>1))->application_id;?>                           </a></strong>                           <br>                           <strong>Application Status: <a href="javascript:void()"><?php echo getAppStatus(@$this->session->userdata('eduloanfrontuser')['id']);?></a></strong>                           <br>                           <strong>Type of Loan: <a href="javascript:void()">                           <?php echo $applied_bank_noncollateral->loantypename?></a></strong><br>                           <strong>Financial Institute:                           <a href="<?php echo base_url();?>user/profile/<?php if($applied_bank_noncollateral->bank_id !=27) {echo 'index/'.base64_encode($applied_bank_noncollateral->bank_id); }?>"><?php echo $applied_bank_noncollateral->bankname;?></a></strong>                           <?php                           if(getAppStatus(@$this->session->userdata('eduloanfrontuser')['id']) == 'Incomplete'){                           if(in_array(1,$app_type_arr) == true){?>                           <br>                           <strong>Remarks: <a href="javascript:void()" style="color:#FF9A00; font-weight:bold">Complete Non Collateral Profile</a></strong>                           <?php }                           }?>                           <br />                           <?php                           if(getAppStatus(@$this->session->userdata('eduloanfrontuser')['id']) == 'Complete'){?>                           <?php }?>                           </p>                           </div>                           <div class="col-md-4">                               <p class="pull-right">                               <strong><a href="<?php echo base_url();?>user/profile/<?php if($applied_bank_noncollateral->bank_id !=27) {echo 'index/'.base64_encode($applied_bank_noncollateral->bank_id); }?>"> Edit <?php echo $applied_bank_noncollateral->bankname;?> Non Collateral Profile</a></strong>                               </p>                           </div>                       </div>                       <div class="clearfix"></div>                       <?php } ?>                       <hr/>                       <?php } ?>                       <?php } ?>                       <?php if(in_array(3,$app_type_arr) == true){?>                       <?php if(count(@$applied_banks_uscosigner) > 0){?>                       <h3>US Cosigner</h3>                       <hr/>                       <?php foreach(@$applied_banks_uscosigner as $applied_bank_uscosigner){?>                       <div class="col-md-12 no-padding" style="padding: 30px 0px 30px 0px;">                           <div class="col-md-12 new_ul">                           <ul>                               <li><a href="#" data-toggle="tooltip" title="Application Process"><img src="images/ico/online-application.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Application Review"><img src="images/ico/Application-Review.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Provisional Offer"><img src="images/ico/Provisional-Offer.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Uploading your Documents"><img src="images/ico/Uploading-Your-Documents.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Disbursement"><img src="images/ico/Disbursement.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Study and Grace Period"><img src="images/ico/Study-And-Grace-Period.png" width="50"/></a></li>                               <li><a href="#" data-toggle="tooltip" title="Loan Repayment"><img src="images/ico/Loan-Repayment.png" width="50"/></a></li>                           </ul>                           </div>                           <div class="clearfix"></div>                           <div class="col-md-3">                               <img src="<?php echo base_url().$applied_bank_uscosigner->profile_pics?>" class="img-responsive" width="180"/>                           </div>                           <div class="col-md-5">                           <p>                           <strong>Application Id: <a href="javascript:void()">                           <?php echo @getBankStudentDetails(array('bank_student.student_id'=>@$this->session->userdata('eduloanfrontuser')['id'],'bank_student.bank_id'=>$applied_bank_uscosigner->bank_id,'bank_student.loan_type'=>1))->application_id;?>                           </a></strong>                           <br><strong>Application Status: <a href="javascript:void()"><?php echo getAppStatus(@$this->session->userdata('eduloanfrontuser')['id']);?></a></strong>                           <br>                           <strong>Type of Loan: <a href="javascript:void()">                           <?php echo $applied_bank_uscosigner->loantypename?></a></strong><br>                           <strong>Financial Institute:                           <a href="<?php echo base_url();?>user/profile_us/<?php if($applied_bank_uscosigner->bank_id !=27) {echo base64_encode($applied_bank_uscosigner->bank_id); }?>"><?php echo $applied_bank_uscosigner->bankname;?></a></strong>                           <?php                           if(getAppStatus(@$this->session->userdata('eduloanfrontuser')['id']) == 'Incomplete'){                           if(in_array(1,$app_type_arr) == true){?>                           <br>                           <strong>Remarks: <a href="javascript:void()" style="color:#FF9A00; font-weight:bold">Complete US Cosigner Profile</a></strong>                           <?php }                           }?>                           <br />                           <?php                           if(getAppStatus(@$this->session->userdata('eduloanfrontuser')['id']) == 'Complete'){?>                           <?php }?>                           </p>                           </div>                           <div class="col-md-4">                               <p class="pull-right">                               <strong><a href="<?php echo base_url();?>user/profile/<?php if($applied_bank_uscosigner->bank_id !=27) {echo base64_encode($applied_bank_uscosigner->bank_id); }?>"> Edit <?php echo $applied_bank_uscosigner->bankname;?> US Cosigner Profile</a></strong>                               </p>                           </div>                       </div>                       <div class="clearfix"></div>                       <?php } ?>                       <hr/>                       <?php } ?>                       <?php } ?>                       <div class="clearfix"></div>                       </div>                       <div class="col-md-4 " data-animation="fadeInRight" data-delay="200">                       <div class="spacer-single"></div>                       <h3 style="display:none;">Account Balance of All Loans </h3><br/>                       <style type="text/css">.customh4{margin-top:14px;}</style>                       <h4 class="customh4">Quick Links</h4>                       <hr/>                       <div class="col-lg-12">                       <ul class="no-padding">                           <li><a href="<?php echo base_url();?>bankselection">Choose Other Bank</button></a></li>                           <li><a href="<?php echo base_url();?>user/signup/changepassword">Change Password</a></li>                           <li><a href="<?php echo base_url();?>common/home/logout">Logout</a></li>                       </ul>                       </div>                       <div class="col-lg-12 no-padding">                       <p><strong>For any Technical Assistance, Call on:<br>Dipesh Sejpal<br />+919819788868<br />sejpal.dipesh@inventifweb.com</strong></p>                       </div>                       </div>                       </div>                       </div>                   </div>               </div>	<br/>           </section><section id="section-fun-facts">               <div class="container">                   <div class="row"></div>                       <div class="clearfix"></div><div class="row"></div>                       <div class="clearfix"></div>                       <div><a href="<?php echo base_url();?>bankselection"><button class=" btn-big col-lg-offset-5 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 check_btn" style="border:0px;" >Choose Other Bank</button></a></div>                   </div>               </div>           </section><section id="section-why-choose-us" class="text-light">   <div class="container">       <div class="row">           <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">               <h1 style="color:#fff;">Tell your friend About Us</h1>               <div class="text" style="color:#fff;"><p>Receive Rs 5000/- for every friend that becomes a borrower!</p></div>               <div class="separator"><span><i class="fa fa-circle"></i></span></div>               <div class="spacer-single"></div>           </div>           <form method="post" id="referral">               <div class="col-md-4 wow fadeIn animated" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">                   <div class="box-number">                       <div class="text">                           <h3><span class="id-color">Name</span></h3>                           <p><input type="text" class="form-control" name="name" id="name" /></p>                           <p id="errorname" style="color:#FF9900"></p>                       </div>                   </div>               </div>               <div class="col-md-4 wow fadeIn animated" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">									 					<div class="box-number">                       <div class="text">                           <h3><span class="id-color">Mobile No.</span></h3>                           <p><input type="text" class="form-control" name="mobile" id="mobile"/></p>                           <p id="errormobile" style="color:#FF9900"></p>                       </div>                   </div>               </div>               <div class="col-md-4 wow fadeIn animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">                   <div class="box-number">                       <div class="text">                           <h3><span class="id-color">Email</span></h3>                           <p><input type="text" class="form-control" name="email" id="email" /></p>                           <p id="erroremail" style="color:#FF9900"></p>                       </div>                   </div>               </div>               <div class="col-md-4 col-lg-offset-5 col-md-offset-4 col-sm-offset-4 col-xs-offset-4"><button type="submit" class="btn-big   check_btn" style="border: none; background-color:#fff; color:#000;">SHARE</button></div>               <div class="spacer-single"></div>           </form>           <hr>           <div class="row">               <div class="col-md-offset-5 col-md-2">                   <a href="<?php echo base_url() ?>user/reference" style="text-decoration: none;">View Refer Friends List</a>               </div>           </div>       </div>   </div></section><script>$(document).ready(function(){   $('[data-toggle="tooltip"]').tooltip();   $('#email').change(function(){       var email = $('#email').val();       if(email != ''){           $.ajax({               url: '<?php echo base_url() ?>common/dashboard/check_email_availability',               method: 'post',               data: {email:email},               success: function(data){                   $('#erroremail').html(data);               }           });       }   });   $('#mobile').change(function(){       var mobile = $('#mobile').val();       if(mobile != ''){           $.ajax({               url: '<?php echo base_url() ?>common/dashboard/check_mobile_availability',               method: 'post',               data: {mobile:mobile},               success: function(data){                   $('#errormobile').html(data);               }           });       }   });   $('#referral').on('submit', function(event){       var name_pattern = /^[a-zA-Z ]*$/;       var mobile_pattern = /^[0-9]{10}$/;       var email_pattern = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,4}$/;       if($('#name').val() == ""){           alert("Please Enter Friend Name");       }else if(!name_pattern.test($('#name').val())){           alert("Name contains only characters");       }else if($('#mobile').val() == ""){           alert("Please Enter Friend Mobile");       }else if(!mobile_pattern.test($('#mobile').val())){           alert("Entered mobile number is Incorrect");       }else if($('#email').val() == ""){           alert("Please Enter Friend Email");       }else if(!email_pattern.test($('#email').val())){           alert("Entered Email is Invalid");       }else{           $.ajax({               url: "<?php base_url() ?>common/dashboard/submit_refferal",               type: "post",               data: $('#referral').serialize(),               success: function(d){                   //alert("Data Inserted Successfully....");                   $('#referral')[0].reset();               }           });       }       event.preventDefault();   });});</script>
