/* section background
/* -------------------------------------------------- */
section,#subheader{
-webkit-background-size: 100% !important;
-moz-background-size: 100% !important;
-o-background-size: 100% !important;
background-size: 100% !important;
}

#subheader{
background:url(../images/background/bg-subheader.jpg)top fixed;
}

.page-projects #subheader{background-image:url(../images/background/subheader-1.jpg);}
.page-services #subheader{background-image:url(../images/background/subheader-2.jpg);}
.page-about #subheader{background-image:url(../images/background/subheader-3.jpg);}
.page-blog #subheader{background-image:url(../images/background/subheader-4.jpg);}
.page-shop #subheader{background-image:url(../images/background/subheader-5.jpg);}
.page-contact #subheader{background-image:url(../images/background/subheader-6.jpg);}

#info-address{background:url(../images/background/bg-3.jpg) top fixed;}
#view-all-projects, #call-to-action{padding:25px 0 17px 0;}
#section-about-us-2{background:#f8f8f8; height:100%;}
#section-about-us-2 .image-container{background:url(../images/background/bg-side-1.jpg);}
#section-about-us-3{background:#111; height:100%;}
#section-about-us-3 .image-container{background:url(../images/background/bg-side-2.jpg);}
#section-about-us-4 .image-container{background:url(../images/background/bg-side-3.jpg);}
#section-blog {background:url(../images/background/bg-5.jpg) top fixed;}
#section-coming-soon{ background:none; position:absolute; min-height:100%; width:100%;z-index:1;}
#section-describe{background:#202020;}
#section-download{background:url(../images/background/bg-9.jpg) top fixed;}
#bg-coming-soon-page{background:url(../images/background/bg-6.jpg) top fixed; position:fixed; min-height:100%; width:100%;}
#section-about-us-2{background:#18191b; height:100%;}
.de_light #section-about-us-2{background:none;}
#section-welcome{background:url(../images/background/bg-4.jpg) top fixed;}
#section-welcome-2{background:url(../images/background/bg-6.jpg) top fixed;}
#section-welcome-3{background:url(../images/background/bg-7.jpg) top fixed;}
#section-welcome-4{background:url(../images/background/bg-10.jpg) top fixed;}
#section-why-choose-us{background:url(../images/background/bg-8.jpg) top fixed;}
#section-portfolio{background:#222; width:101%; overflow:hidden;}
.de_light #section-portfolio{background:#fff;}
#section-skill-bar{ background:url(../images/background/bg-8.jpg) top fixed;}
#section-testimonial{ /*background:url(../images/background/bg-3.jpg) top fixed;*/}
#section-steps{ background:#FFEBCC;/*url(../images/background/bg-2.jpg) top fixed;*/}
#section-steps-2{ background:url(../images/background/bg-11.jpg) top fixed;}
#section-team{background:#111;}
.de_light #section-team{background:#f5f5f5;}
#hide-content{position:absolute; width:100%; min-height:100%; z-index:100;display:none; background:rgba(0,0,0,.8);}

@media only screen and (max-width: 992px) {
section,#subheader{
-webkit-background-size:cover !important;
-moz-background-size: cover !important;
-o-background-size: cover !important;
background-size: cover !important;
}
}
