/* responsive styles begin ***/
@media screen and (max-width: 992px){
	body {
		top:40px;
		position:relative;
	}
	.container-fluid {
      padding: 20px 0px;
    }
	section {
    padding: 20px 0;
	}
}

/* responsive styles end ***/
.no-pad {
	padding:0px;
}

.board .panel-default .panel-body {
	color:#004b7a;
}

.board .panel-default .panel-body span{
    font-size: 100px;
	line-height:80px;
    font-weight: bold;
	display:block;
}

.board .panel-primary {
    /* border-color: #004b7a; */
	text-align:center;
}
.board .panel-primary .panel-heading {
    color: #fff;
    background-color: #004b7a;
    border-color: #004b7a;
	font-weight: bold;
	font-size: 18px;
}
.board .panel-primary .panel-body {
    color: #fff;
    background-color: #0270b5;
    border-color: #0270b5;
}
.board .panel-primary .panel-body span{
    font-size: 100px;
	line-height:80px;
    font-weight: bold;
	display:block;
}

.board .ello {
    border-color: #feba54;
	text-align:center;
}
.board .ello .panel-heading {
    color: #fff;
    background-color: #ff9900;
    border-color: #ff9900;
	font-weight: bold;
	font-size: 18px;
}
.board .ello .panel-body {
    color: #fff;
    background-color: #feba54;
    border-color: #feba54;
}
.board .ello .panel-body span{
    font-size: 100px;
	line-height:80px;
    font-weight: bold;
	display:block;
}

.board .panel-body h3 {
	margin:0px;
	font-weight:bold;
}
.board .panel-body h5 {
	padding-top:5px;
	font-weight:bold;
	color:#000000;
}

.board .well {
	margin-bottom:10px;
	padding:2px 7px;
}


.btn-new {
    padding: 6px 16px;
    box-shadow: inset 0 0 0 1px #1fbba6;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 13px;
    background: #1fbba6;
    border: none;
    border-radius: 2px;
}


.easy-process h2 {
	text-align: center;
}


.media-widget ul li {
    border-bottom: 1px solid #f5f5f5;
	padding: 5px 0px;
}
.media-widget ul  {
	padding:0px 20px;
}
.media-widget ul li {
    list-style: none;
}

.greybg {
	background-color:#f5f5f5;
}
.greybg h2 {
	margin:0px 0px 10px 0px;
}
.greybg p {
	margin-bottom:40px;
}


#itemslider .item a {
   /*  background: #ffffff;
    border: 1px solid #d2d2d2;*/
    line-height: 90px;
    padding: 8px;
    height: 92px;
    display: block;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right  {
margin-top:-15px;
}
.carousel-control .glyphicon-chevron-right  {
	margin-right:-35px;
}
.carousel-control .glyphicon-chevron-left  {
	margin-left:-35px;
}

.carousel-control.left , .carousel-control.right {
background-image:none;
}
.carousel-control {
	color:#d2d2d2;
	text-shadow:none;
}


.yellowbg {
	background-color:#ff9900;
	padding:0px 50px!important;
}
.sc {
    display: inline-block;
}
.static-bar .col-md-3 .div-main {
    float: left;
}
.static-bar {
   height: 80px;
    padding: 20px;
}

.float-left {
    float: left;
    margin: 5px 0;
}
.pl10 {
    padding-left: 10px;
}
.float-left h3 {
    margin: 0;
    font-size: 18px;
    color:#ffffff;
    font-weight: 400;
    text-align: left;
}
.float-left a, .float-left span {
	color:#000000;
}
#logo {
	padding-top:8px;
}

.container-fluid .homeslider {
	margin:0px!important;
	padding:0px!important;
}
.social-footer {
margin-left:0px;
float:left;
padding:0px;
}

.social-footer li{
	display:inline!important;
	margin:0px;
	padding:0px 10px 0px 0px!important;
}


/******* footer slide-out nav begin ******/
.social-slide {
  position: fixed;
  top: 200px;
  right:0px;
  z-index:99; /* 1000; */
}
.social-slide ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(270px, 0);
}
.social-slide ul li {
  display: block;
  margin: 5px;
  background-color: #004b7a;
  width: 316px;
  text-align: left;
  padding: 4px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  border-radius: 30px 30px 30px 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social-slide ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(-110px, 0);
  background-color: #004b7a;
}
.social-slide ul li a, .social-slide ul li:hover a {
  color: #ffffff;
}
.social-slide ul li:hover i {
  color: #fff;
 /* background: red;*/
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social-slide ul li i {
  margin-right: 10px;
  color: #ffffff;
  padding: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 30px!important;
  /* background: #ffffff; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/******* footer slide-out nav end ******/





/*** homepage banner begin ****/
.tp-caption.large_bold{
font-size:36px;
color:#000000;
}
.tp-caption.small {
color:#06409c;
font-size:24px!important
}
.banner-button {
text-transform:uppercase;
padding:10px;
background-color:#06409c;
color:#ffffff!important;
border-radius:5px;
}

/*** homepage banner end ****/

/** to hide 100percent preloader begin **/
#jpreOverlay {
display:none;
}
/** to hide 100percent preloader end**/


/** offers page styles start ***/
.card-offer, .card {
    background-color: #f7f7f7;
    margin-bottom: 24px;
    border-radius: 0px;
    border: 1px solid #e5e5e5;
	/*box-shadow: 0 0 4px 0 rgba(119,119,119,.3) !important;
    -moz-box-shadow: 0 0 4px 0 rgba(119,119,119,.3) !important;
    -webkit-box-shadow: 0 0 4px 0 rgba(119,119,119,.3) !important; */
}
.card {
	padding:10px;
}
.card-offer .caption {
	padding: 10px 12px;
}
/** offers page styles end ***/

.nav-menu .btn-primary {
	background-color:#004b7a!important;
	color:#ffffff;
	padding:5px 10px;
	border-radius:20px;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
-moz-box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
margin:18px 0px;
}
.nav-menu .btn-secondary {
	background-color:#ff9900!important;
	color:#000000!important;
	padding:5px 10px;
	border-radius:20px;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
-moz-box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
margin:18px 0px;
}
.pull-right {
	float:right;
}
.pull-left {
	float:left;
}

h3 span{
	font-size:16px;
}

button.btn-primary{
    background-color: #004b7a;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
	    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
	border:0px;
}
address span{
	width:100%;
	display:block;
}
.page-top-title {
	margin: 60px 0px;
    margin-bottom: 0px;
	text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
	color:#ffffff;
}
.supportbar {
	padding:10px!important;
}
.supportbar p {
	padding:0px;
	margin:0px;
	font-size:18px;
}
.supportbar p a{
	text-decoration: underline;
	color:#ffffff;
}
#content123{
	margin:0px!important;
}

#content123 form-control {
	padding:2px;
}
.login-cancel {
font-family: Arial, Helvetica, sans-serif;

	background-color:#ffffff;
	color:#000000;
	padding:5px 10px;
	border-radius:20px;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
-moz-box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);

}

.frontside .card .card-title {
	margin-bottom:0px;
}

input, select, textarea {
	padding:5px!important;
}
.modal-content {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.modal-content p {
	color:#000000;
}
.modal-content .form-control {
	border-radius: 6px!important;
}

.modal-content textarea {
	height:100px;
}
.modal-content h2 {
	font-size:32px;
	margin:0px;
	margin-top:20px;
}



.about-right img {
	padding:10px;
}
.b-price-plan b, .b-price-plan strong {
    width: 100%;
    float: left;
}

.card-footer {
	border-top:1px solid #cecece;
	padding-top:5px;
}

.about-inner-section .card-offer {
	padding:20px;
}


.img-circle {
    border: 4px solid #ddd;
	width: 80%;
    margin: auto;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
    border-top: 4px solid #ff9900;
}
.nav-tabs>li>a {
   border: 0px solid transparent;
	color:#555;
}

.nav-tabs>li.active>a {
	color:#004b7a;
}

.applidiv {
	/*box-shadow: 0px 2px 5px 2px rgb(167, 167, 167);*/
	padding: 10px;
}

datepicker input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.logindivbg {
	width:338px;
}

.partnerwith-text {
	text-align: center;
    font-family: roboto;
    font-size: 16px;
    color: #000;
}


.accordion-heading.country {
	text-align:center!important;
}

.cbp-item-wrapper {
	padding:15px;
}
.cbp-l-grid-mosaic .cbp-caption-activeWrap {
    background-color: #ff9900;
    background-color: rgba(255,153,0,0.95);
}
.cbp-l-grid-mosaic .cbp-l-caption-title {
	color:#000000;
	font: 500 16px/22px "Roboto", sans-serif;
	padding:10px;
	text-transform:unset;
}
.testimonial-list {
	list-style-type:none;
	border-left:1px solid #c3c3c3;
}

blockquote{
  font-size: 1em;
  width:100%;
  margin:20px auto;
  /*font-family:Open Sans; */
  font-style:italic;
  color: #555555;
  padding:1em 30px 1em 75px;
  line-height:1.6;
  position: relative;
  /*border-left:8px solid #78C0A8 ;
   background:#EDEDED; */
   border-left:none;
}

blockquote::before{
  font-family:roboto;
  content: "\201C";
  color:#ff9900;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#555555;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.profile-circle ul {
	list-style-type:none;
	margin:0px;
	padding:15px 0px 0px 0px;
}
.profile-circle ul li {

}
.profile-circle .content {

	width: 500px;
	height:150px;
	margin:0px auto;

}
.profile-circle .content strong{
color:#004b7a;
}
.testi-profile-img{

	width:150px!important;
	float:left;
	margin-right:20px;
	vertical-align: middle;
}

.owl-theme .owl-dots .owl-dot span {
	background:#dddddd;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background:#004b7a;
}

/*#testimonial-video {
	border-left:none;
	width: 560px;
	height: 315px;
}
.item-video {
	position:relative;
	display:block;
}
.owl-video {
	width: 560px;
	height: 315px;
	position:relative;
	background-color:#f1f1f1;
}*/
#testimonial-video {
	text-align:center;
}
ul#testimonial-video {
	list-style:none;
}
.item-video {
	width: 100%; /* 560px; */
	height: 100%; /* 315px; */
	margin:0 auto;

}


.ribbon{
  font-size:24px;
  position:relative;
  display:inline-block;
  margin:20px 0px 40px 0px;
  text-align:center;
}
.ribbon-text{
	font-size:18px;
  display:inline-block;
  padding:0.5em 1em;
  line-height:1.2em;
  background: #ff9900;
  position:relative;
}
/*.ribbon:after,.ribbon:before,*/
.ribbon-text:before,.ribbon-text:after
/*,.bold:before*/{
  content:'';
  position:absolute;
  border-style:solid;
}
.ribbon:before{
  top:0.3em; left:0.2em;
  width:100%; height:100%;
  border:none;
  background:#EBECED;
  z-index:-2;
}
.ribbon-text:before{
  bottom:100%; left:0;
  border-width: .5em .7em 0 0;
  border-color: transparent #e56f12 transparent transparent;
}
.ribbon-text:after{
  top:100%; right:0;
  border-width: .5em 2em 0 0;
  border-color: #e56f12 transparent transparent transparent;
}
.ribbon:after, .bold:before{
  top:0.5em;right:-2em;
  border-width: 1.1em 1em 1.1em 3em;
  border-color: #FECC30 transparent #FECC30 #FECC30;
  z-index:-1;
}
.bold:before{
  border-color: #EBECED transparent #EBECED #EBECED;
  top:0.7em;
  right:-2.3em;
}





.ribbon2{
  font-size:24px;
  position:relative;
  display:inline-block;
  margin:20px 0px 40px 0px;
  text-align:center;
}
.ribbon-text2{
	font-size:18px;
  display:inline-block;
  padding:0.5em 1em;
  /* min-width:20em; */
  line-height:1.2em;
  background: #004b7a;
  position:relative;
  color:#ffffff;
}
/*.ribbon2:after,.ribbon2:before,*/
.ribbon-text2:before,.ribbon-text2:after
/*,.bold2:before*/{
  content:'';
  position:absolute;
  border-style:solid;
}
.ribbon2:before{
  top:0.3em; left:0.2em;
  width:100%; height:100%;
  border:none;
  background:#EBECED;
  z-index:-2;
}
.ribbon-text2:before{
  bottom:100%; left:0;
  border-width: .5em .7em 0 0;
  border-color: transparent #002942 transparent transparent;
}
.ribbon-text2:after{
  top:100%; right:0;
  border-width: .5em 2em 0 0;
  border-color: #002942 transparent transparent transparent;
}
.ribbon2:after, .bold2:before{
  top:0.5em;right:-2em;
  border-width: 1.1em 1em 1.1em 3em;
  border-color: #0e5988 transparent #0e5988 #0e5988;
  z-index:-1;
}
.bold2:before{
  border-color: #EBECED transparent #EBECED #EBECED;
  top:0.7em;
  right:-2.3em;
}



footer p, .copyright p, footer h1,footer h2,footer h3,footer h4,footer h5,footer h6 {
	color:#818181;
}
footer p, .copyright p {
	font-size:14px;
}
h1, h2, h3, h4, h5, h6 {
	color:#004b7a;
}
.ul-margin {
margin-left:20px;
padding:0px;
}
.pay_type {
	float:right;
}
.float-right {
	float:right;
}
.float-left {
	float:left;
}
.cbp-filter-item {
	text-align:center!important;
}




/* auto complete css begin ***/

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    /*width: 250px;*/
    width: 100%;
    padding: 6px;
    cursor: pointer;
    z-index: 99999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #555555;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row, .angucomplete-row:hover {
    background-color: #dfdfdf;
    color: #000000;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #d2d2d2;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {

    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

/* auto complete css end ***/


a {cursor:pointer!important;}

.text-center {
	text-align:center;
	margin:0 auto;
}
.text-center span {
	color: #004b7a;
}
ul.tpage li:nth-of-type(odd) {
	background-color:#f1f1f1;

}
ul.tpage .profile-circle li {
    background-color: transparent!important;
}

.tpage .profile-circle {
	padding-bottom:10px;
}


.team_member {
	text-align:center;
	width:100%;
	padding:10px;
}
.team_member img {
	border:0px solid #ffffff;
	/*width:255px;
	height:300px;*/
	width:100%;
	height:100%;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.team_member img:hover {
	border:0px solid #ffffff;
	/*width:255px;
	height:300px;*/
	filter: none;
  -webkit-filter: grayscale(0%);
}

.team-social {
	transition: .5s ease;
    opacity: 0.5;
    position: absolute;
    bottom: 69px;
    text-align: center;

    background-color: #ffffff;
    /*background-color: #ff9900;
    right: 0px;
    width:255px;*/
    height: 44px;
    padding: 10px 15px;
}
.team-social:hover {
	transition: .5s ease;
    opacity: 1;
    background-color: #ffffff;
}
.team_member .text-center span {
	color: #004b7a;
    font-size: 18px;
    font-weight: 700;
}

/*
.team-social li {
	list-style-type:none;
	display:inline;
	padding:10px;
} */


.w20 {
	width:20%;
}

.w22 {
	width:22%;
}

.w15 {
	width:15%;
}
.w20 h4, .col-md-4 h4 {
	color:#000000;
	margin-bottom:0px;
	font-size:24px;
}
.w20 h5, .col-md-4 h5 {
	color:#000000;
	margin-top:0px;
}

.counselors .card-offer {
	background-color:#ffffff;
	padding:10px;
	text-align:center;
	min-height:174px;
}


.flights .card-offer {
	background-color:#ffffff;
	border-radius:5px;
}
.flights .card-offer img{
	border-radius:5px;
}

#header .sidebar-toggle:before {
    content: "\f0c9";
}
#header .sidebar-toggle {
 font-family: fontAwesome;
 padding-left:20px;
 color:#626262;
}
.nav-tabs-custom .nav-tabs {
	background-color:#ccc;
}
.ng-table-pager, .ng-table-counts {
	margin:10px 0px;
}

.div-table {
	float: left;
    width: 100%;
}
.box.box-info {
    border-top-color: #d2d6de;
}
.field-discribe-span {
	position: absolute;
    bottom: -14px;
    font-size: 10px;
    color: #777;
    line-height: 12px;

	/*position: absolute;
    top: 28px;
    font-size: 10px;
    color: #bbb;
    line-height: 12px;*/
}

tooltip.active:not(._force-hidden) tip {
	width:230px;
}
tooltip tip {
	background: rgba(0,75,121, .85)!important;
}
tooltip._top:not(._left):not(._right) tip tip-arrow {
    border-top: 6px solid rgba(0,75,121, .85)!important;
}
#footer-form, .footer-form {
	padding:0px 15px;
}

/*** responsive styles begin ****/
@media (max-width:980px){

	.card-offer img.img-responsive {
		width:100%;
	}
	.hero-btn{
		opacity:0.8;
	}
}

@media (max-width:480px){



}

/*** responsive styles end ****/
