    .more .less {
            font-weight: 600;
            color: #000;
            text-decoration: none;
        }
        .myAlert-top{
            position: fixed;
            top: 5px;
            right: 1%;
            width: 10%;
            z-index: 999;
            background: #ff9300;
            padding: 10px;
            font-size: 15px;
        }

        /*********NAV BAR HEADER*******/
/*.boxpointers {
    position: relative;
    border-radius: .4em;
    padding: 3px 6px 3px 6px;
}

.boxpointers:after {
  content: '';
  position: absolute;
  top: 0;
  left: 20%;
  width: 0;
  height: 0;
  border: 24px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: -24px;
  margin-top: -24px;
  
}*/
/*********************************/
.btnn{
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    padding-left: 60px;
    position: relative;
    transform: translateZ(0px);
    transition: all 0.5s ease 0s;
}
.btnn:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 100% 50% 0;
    transition: all 0.5s ease-out 0s;
}
.btnn:hover:after{
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.btnn span{
    width: 40px;
    height: 100%;
    line-height: 40px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s linear 0s;
}
.btnn span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: -6px;
    bottom: 0;
    transform: rotate(45deg);
    transition: all 0.3s linear 0s;
}
.btnn.btnn-sm{
    padding-left: 40px;
}
.btnn.btnn-sm span{
    width: 27px;
    line-height: 27px;
}
.btnn.btnn-sm span:after{
    width: 8px;
    height: 8px;
    right: -5px;
}


.btnn.red{
    border: 0px solid #ff9900;
    background: #ff9900;
}
.btnn.red:hover,
.btnn.red span{
    color: #ff9900;
}
.btnn.red:hover span,
.btnn.red:hover span:after{
    background: #ff9900;
}
.btnn:hover span{
    color: #fff;
}
@media only screen and (max-width: 767px){
    .btnn{ margin-bottom: 20px; }
}


/**************************************8*/

/* Side Widget */
.side-widget.open {
  margin-right: 0;
}
.side-widget {
  width: 57px;
  z-index: 110;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  right: 0;
  top: 50%;
  text-align: center;
  margin-right: -45px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.side-widget1{
  width: 57px;
  z-index: 110;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  right: 45px;
  top: 68%;
  text-align: center;
  margin-right: -45px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.side-widget a:hover, .side-widget1 a:hover{
color:black;
}

.btn.btn-blue:hover {
  background-color: #fff;
 }

.btn.btn-blue {
  background-color: #0082ca;
}
.btn.btn-blue {
  background-color: #2483c3;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-color: #2483c3;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
.btn {
  /*font-family: 'proxima-nova', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 12px 35px;
  border-radius: 0; */
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.widget-close:hover {
  color: #ccc;
}
.widget-close {
  color: #636363;
}
.widget-close {
  position: absolute;
  left: 3px;
  top: 0;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  z-index: 1;
}

#popup-container {
  position: fixed;
  z-index: 9990;
  margin: 0 auto;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 620px;
  display: none;
}
#popup-container.open {
  display: block;
}
.modal-content {
  /*background-color: rgba(38, 38, 40, 0.92);
  color: #fff;
  padding: 30px;*/
}
.modal-content input {
  height: 40px;
  border-radius: 6px;
}
.modal-content .btn-primary {
  /*width: 175px;*/
  border: 0px;
  background-color: #0073b7;
  padding: 5px 10px;
    /* border-radius: 20px; */
    -webkit-box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
    -moz-box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
    box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
}
.modal-content .btn-primary:hover {
  background-color: #ef9919;
  color:#000000;
  border: 0px;
  padding: 5px 10px;
    /*border-radius: 20px;*/
    -webkit-box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
    -moz-box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
    box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
}
.modal-content .logorow {
  text-align: center;
}
.close {
  margin-right: 10px;
  margin-top: 5px;
  /*color: #fff;*/
  color: #000;
  opacity: .8;
}
.close:hover {
  /* color: #efefef; */
  color: #000;
}

.Querybutton{
  border-radius: 20px;width: 130px;font-size: 17px;padding: 2px;
}
@media only screen and (max-width: 400px) {
    /* styles for narrow screens */
    .Querybutton{
    border-radius: 25px;
      width: 100px;
      font-size: 14px;
      padding: 6px;
  }
  .modal-content {
    max-height: 543px;
  }
  .modal-content input {
    height: 34px;
  }
  .modal-content .btn-primary {
    width: 115px;
    background-color: #ef9919;
    border: 0;
    padding: 0px;
  }
}

/*****************************************HEADER*/

#header.header-scrolled {
    background: #fff;
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
}
#header {
    padding: 0px 0px;
    height: 67px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
    /* box-shadow: 5px 0px 15px #c3c3c3; */
	border-bottom:1px solid #c3c3c3;
}
#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}
#header #logo h1 a, #header #logo h1 a:hover {
    color: #000;
    padding-left: 10px;
    border-left: 4px solid grey;
}
#nav-menu-container {
    float: right;
    margin: 0;
    /* padding: 16px 2px; */
    padding: 0px;
}
.nav-menu > li {
    margin-left: 7px; /*10px; */
}
.nav-menu > li {
    float: left;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-scrolled .nav-menu li:hover > a, .header-scrolled .nav-menu > .menu-active > a {
    color: #ff9900;
}
.header-scrolled .nav-menu a {
    color: black;
}
.nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color: #ff9900;
}
.nav-menu a {
    padding: 20px 4px 20px 4px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
}

/* nested menu begin **/
.nav-menu li li {
	border-bottom: solid 1px #f1f1f1;
}

.nav-menu li li:last-child {
	border-bottom: none;
}

.nav-menu li li a {
	padding: 5px 0px;
	background: #fff;
	border-top: none;
	color: #000;
	width: auto;
	border-left: none;
	text-align: left;
}

.nav-menu li li a:hover {
	color: #ff9900;
}

.nav-menu li li a:after {
	content: none !important;
}

.nav-menu li li li a {
	padding: 5px 0px;
	background: #fff;
}

.nav-menu li li a:hover {
	color: #ff9900;
	background: #fff;
}

.nav-menu li ul {
	width: auto;
	min-width:160px;
	height: auto;
	position: absolute;
	top: 66px;
	left: 0px;
	z-index: 100;
	display: none;
}

.nav-menu li li {
	display: block;
	float: none;
}

.nav-menu li:hover>ul {
	display: block;
	/* border:1px solid red; */

}

.nav-menu li ul ul {
	left: 100%;
    top: -10px;
}

.nav-menu li:hover>ul {
	color: #000;
}

/* nested menu end **/



#mobile-nav-toggle {
    display: inline;
}
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}
#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
body.mobile-nav-active #mobile-nav {
    left: 0;
}
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}
#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mobile-nav ul li {
    position: relative;
}
#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    width: auto;
}
#mobile-nav ul li ul{
	margin:0px 10px;
}
#mobile-nav ul .menu-has-children {
	margin: 6px 15px;
}
#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #ff9900;
	margin:0px 20px;
}
#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}
#mobile-nav ul .menu-item-active {
    color: #ff9900;
}

#mobile-nav ul li li {
    padding-left: 20px;
}

.menu-has-children ul
{display: none;}

.extralink  {
    display:none;
}
#mobile-nav ul li.extralink  {
    display:block;
}

/*
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color:black;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

*/
.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}
.nav-menu ul {
    margin: 1px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}
.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}


@media (max-width: 1200px){
#nav-menu-container {
    display: none;
}

#mobile-nav-toggle {
    display: inline;
}
}


/***************************FOOTER*********/

footer {
  /* background-color: #232c3b; */
  background-color: #3c3c3c;
  min-height: 350px;
  font-family: 'Open Sans', sans-serif;
  position:relative;
}
footer a, .copyright a{
color:#a7a7a7!important;
}
footer a:hover, .copyright a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
   color: #ffffff!important;
}
.footerleft {
  margin-top: 40px;
  padding: 0 36px;
}

.logofooter {
  margin-bottom: 10px;
  font-size: 25px;
  /* color: white;*/
  font-weight: 700;
}

.footerleft p {
  /* color: white; */
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}

.footerleft p i {
  width: 20px;
  /* color: #fff; */
}

.paddingtop-bottom {
  margin-top: 40px;
}

.footer-ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 2px;
}

.footer-ul li {
  line-height: 22px;
  /*font-size: 12px;
   margin-top: 5px; */
}

.footer-ul li a {
  font-size: 14px;
  text-decoration: none;
  /*font-weight: 200;
   color: #fff;
  border-bottom: 1px dotted #fff;*/
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  display: block;
  padding-bottom: 5px;
  /* color:#a7a7a7; */
}

.footer-ul i {
  margin-right: 10px;
}

.footer-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  /* color: #73b0f4; */
  color: #ffffff;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.icon-ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}

.icon-ul li {
  line-height: 75px;
  width: 100%;
  float: left;
}

/*.icon {
  float: left;
  margin-right: 5px;
} */

.copyright {
  min-height: 40px;
  /*background-color: #141d29;*/
  background-color: #2a2a2a;
}

.copyright p {
  text-align: center;
  /* color: white; */
  padding: 10px 0;
  margin-bottom: 0px;
}

.heading7 {
  position: relative;
  margin: 0 0 25px;
  /* color: #fff; */
  padding-bottom: 5px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.heading7:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 1px;
  background-color: #aaa; /* #fff;*/
}

.post p a {
  font-size: 12px;
  color: white !important;
  line-height: 20px;
}

.post p a span {
  display: block;
  color: #8f8f8f !important;
}

.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}

.bottom_ul li {
  float: left;
  line-height: 40px;
}

.bottom_ul li:after {
  content: "/";
  color: white;
  margin-right: 8px;
  margin-left: 8px;
}

.bottom_ul li a {
  color: white;
  font-size: 12px;
}

.post a:hover {

  text-decoration: none;
}

.btn-insta {
  color: Black !important;
  background: transparent;
}

.fields {
  color: white;
  font-size: 15px;
  text-decoration: none;
}





/***** home inline  styles - views/home/index.html begin *****/
/***** home inline  styles - views/home/index.html end *****/
