/*
popModal - 1.24 [05.10.16]
Author: vadimsva
Github: https://github.com/vadimsva/popModal
*/


/* popModal */

.popModal {
	position: absolute;
	background: #fff;
	padding: 15px;
	border: 1px solid #aaa;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	text-align: left;
	max-width: 300px;
	min-width: 265px;
	z-index: 9997;
	box-sizing: border-box;
	border-radius: 3px
}

.popModal .close {
	line-height: 12px;
	font-size: 25px;
	font-weight: bold;
	font-family: serif;
	position: absolute;
	right: 8px;
	top: 8px;
	color: #000;
	opacity: 0.2;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: 0
}

.popModal .close:hover {
	opacity: 1
}

.popModal .popModal_content {
	margin: 15px auto;
	word-wrap: break-word;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: initial;
	font-style: initial;
	color: initial;
	text-decoration: initial;
	text-transform: initial;
	padding: initial
}

.popModal .popModal_content.popModal_contentOverflow {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 15px -8px;
	padding: 0 7px
}

.popModal .popModal_content:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 20px;
	bottom: -20px
}

.popModal .popModal_content.popModal_asMenu {
	margin: -5px -15px
}

.popModal .popModal_content.popModal_asMenu ul {
	list-style: none;
	padding: 0
}

.popModal.bottomRight .popModal_content.popModal_asMenu ul {
	text-align: right
}

.popModal .popModal_content.popModal_asMenu ul>li {
	line-height: 40px
}

.popModal .popModal_content.popModal_asMenu ul>li:empty {
	border-top: 1px solid #ddd
}

.popModal .popModal_content.popModal_asMenu ul>li>a {
	display: block;
	padding: 0 15px;
	text-decoration: none
}

.popModal .popModal_content.popModal_asMenu ul>li>a:hover {
	background-color: #eee
}

.popModal .popModal_footer {
	background: #fafafa;
	padding: 15px;
	border-top: 1px solid #ddd;
	text-align: right;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0 0 3px 3px
}

.popModal .popModal_footer button {
	margin: 0 0 0 5px
}

.popModal:before,
.popModal:after {
	content: '';
	position: absolute;
	border: 10px solid transparent
}

.popModal:after {
	z-index: 1
}

.popModal.bottomLeft:before,
.popModal.bottomRight:before,
.popModal.bottomCenter:before {
	border-top-width: 0;
	border-bottom-color: #aaa;
	top: -10px;
	left: 6px
}

.popModal.bottomLeft:after,
.popModal.bottomRight:after,
.popModal.bottomCenter:after {
	border-top-width: 0;
	border-bottom-color: #fff;
	top: -9px;
	left: 6px
}

.popModal.bottomRight:before,
.popModal.bottomRight:after {
	left: auto;
	right: 6px
}

.popModal.bottomCenter:before,
.popModal.bottomCenter:after {
	left: 50%;
	margin-left: -10px
}

.popModal.leftTop:before,
.popModal.leftCenter:before {
	border-right-width: 0;
	border-left-color: #aaa;
	top: 6px;
	right: -10px
}

.popModal.leftTop:after,
.popModal.leftCenter:after {
	border-right-width: 0;
	border-left-color: #fff;
	top: 6px;
	right: -9px
}

.popModal.rightTop:before,
.popModal.rightCenter:before {
	border-left-width: 0;
	border-right-color: #aaa;
	top: 6px;
	left: -10px
}

.popModal.rightTop:after,
.popModal.rightCenter:after {
	border-left-width: 0;
	border-right-color: #fff;
	top: 6px;
	left: -9px
}

.popModal.leftCenter:before,
.popModal.rightCenter:before {
	top: 50%;
	margin-top: -10px
}

.popModal.leftCenter:after,
.popModal.rightCenter:after {
	top: 50%;
	margin-top: -10px
}

@media (max-width: 400px) {
	.popModal {
		position: absolute;
		max-width: 100%!important;
		right: 20px
	}
}


/* notifyModal */

.notifyModal {
	position: fixed;
	z-index: 999999;
	background: rgba(255, 255, 255, 0.5);
	opacity: 0;
	cursor: pointer;
	transition: all 200ms ease
}

.notifyModal.overlay {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

.notifyModal.overlay.center {
	top: 0;
	bottom: 0
}

.notifyModal.open {
	opacity: 1
}

.notifyModal.open .notifyModal_content {
	transform: scale(1)
}

.notifyModal .notifyModal_content {
	position: absolute;
	background: #F9EDBE;
	width: 380px;
	min-width: 200px;
	padding: 25px;
	margin: auto;
	text-align: justify;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	transition: all 200ms ease;
	transform: scale(0.95);
	font-size: 14px;
	font-weight: initial;
	font-style: initial;
	color: initial;
	text-decoration: initial;
	text-transform: initial;
	line-height: 18px;
	box-sizing: border-box;
	border-radius: 3px
}

.notifyModal.alert .notifyModal_content {
	background: #922626;
	color: #eab1b1
}

.notifyModal.simple .notifyModal_content {
	background: #fff;
	color: #333
}

.notifyModal.dark .notifyModal_content {
	background: #333;
	color: #ccc
}

.notifyModal.dark .notifyModal_content .close {
	color: #ccc
}

.notifyModal.leftTop {
	top: 0;
	left: 0
}

.notifyModal.centerTop {
	top: 0;
	left: 0;
	right: 0
}

.notifyModal.rightTop {
	top: 0;
	right: 0
}

.notifyModal.center {
	top: 35%;
	bottom: auto;
	left: 0;
	right: 0
}

.notifyModal.leftBottom {
	bottom: 0;
	left: 0
}

.notifyModal.centerBottom {
	bottom: 0;
	left: 0;
	right: 0
}

.notifyModal.rightBottom {
	bottom: 0;
	right: 0
}

.notifyModal.center .notifyModal_content {
	left: 0;
	right: 0;
	top: 35%
}

.notifyModal.leftTop .notifyModal_content {
	left: 20px;
	top: 20px
}

.notifyModal.centerTop .notifyModal_content {
	left: 0;
	right: 0;
	top: 20px
}

.notifyModal.rightTop .notifyModal_content {
	right: 20px;
	top: 20px
}

.notifyModal.leftBottom .notifyModal_content {
	left: 20px;
	bottom: 20px
}

.notifyModal.centerBottom .notifyModal_content {
	left: 0;
	right: 0;
	bottom: 20px
}

.notifyModal.rightBottom .notifyModal_content {
	right: 20px;
	bottom: 20px
}

.notifyModal.centerTopSlide.open .notifyModal_content,
.notifyModal.centerBottomSlide.open .notifyModal_content {
	transform: scale(1) translateY(0)
}

.notifyModal.centerTopSlide .notifyModal_content {
	top: 0;
	left: 0;
	right: 0;
	transform: scale(1) translateY(-100%)
}

.notifyModal.centerBottomSlide .notifyModal_content {
	bottom: 0;
	left: 0;
	right: 0;
	transform: scale(1) translateY(100%)
}

.notifyModal.leftTopSlide.open .notifyModal_content,
.notifyModal.leftBottomSlide.open .notifyModal_content,
.notifyModal.rightTopSlide.open .notifyModal_content,
.notifyModal.rightBottomSlide.open .notifyModal_content {
	transform: scale(1) translateX(0)
}

.notifyModal.leftTopSlide .notifyModal_content {
	left: 0;
	top: 20px;
	transform: scale(1) translateX(-100%)
}

.notifyModal.leftBottomSlide .notifyModal_content {
	left: 0;
	bottom: 20px;
	transform: scale(1) translateX(-100%)
}

.notifyModal.rightTopSlide .notifyModal_content {
	right: 0;
	top: 20px;
	transform: scale(1) translateX(100%)
}

.notifyModal.rightBottomSlide .notifyModal_content {
	right: 0;
	bottom: 20px;
	transform: scale(1) translateX(100%)
}

.notifyModal .notifyModal_content .close {
	line-height: 12px;
	font-size: 25px;
	font-weight: bold;
	font-family: serif;
	position: absolute;
	right: 8px;
	top: 8px;
	color: #000;
	opacity: 0.2;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: 0
}

.notifyModal .notifyModal_content .close:hover {
	opacity: 1
}

.notifyModal.icon .notifyModal_content:after {
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 20px;
	font-size: 60px;
	line-height: 0
}

.notifyModal.icon .notifyModal_content {
	padding-left: 90px
}

.notifyModal.icon.notify .notifyModal_content:after,
.notifyModal.icon.simple .notifyModal_content:after,
.notifyModal.icon.dark .notifyModal_content:after {
	content: 'i';
	font-family: monospace;
	font-weight: bold;
	width: 40px;
	text-align: center;
	font-size: 35px;
	border-radius: 50%;
	color: #c5b68e;
	height: 40px;
	line-height: 40px;
	top: calc(50% - 20px);
	border: 4px solid
}

.notifyModal.icon.simple .notifyModal_content:after {
	color: #ccc
}

.notifyModal.icon.dark .notifyModal_content:after {
	color: #666
}

.notifyModal.icon.alert .notifyModal_content:after {
	content: '\26A0'
}

@media (max-width: 400px) {
	.notifyModal .notifyModal_content {
		width: auto
	}
	.notifyModal.center .notifyModal_content {
		top: 15%
	}
	.notifyModal.center .notifyModal_content,
	.notifyModal.centerTop .notifyModal_content,
	.notifyModal.centerBottom .notifyModal_content {
		margin: auto 20px
	}
}


/* hintModal */

.hintModal {
	position: relative;
	overflow: visible;
	transform: translateZ(0);
	backface-visibility: hidden;
	z-index: 1
}

.hintModal .hintModal_container {
	display: none;
	left: 0;
	margin: 0;
	position: absolute;
	background: #F8F4E1;
	padding: 15px;
	border: 1px solid #B4A984;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	opacity: 0;
	text-align: justify;
	max-width: 260px;
	min-width: 260px;
	z-index: 1;
	line-height: 16px;
	border-radius: 3px;
	font-size: 13px;
	font-weight: normal;
	font-style: initial;
	margin-top: 6px;
	color: #333;
	top: 100%;
	box-sizing: border-box;
	text-decoration: initial;
	text-transform: initial
}

.hintModal .hintModal_container:before,
.hintModal .hintModal_container:after {
	content: '';
	position: absolute;
	border: 6px solid transparent;
	border-top-width: 0;
	border-bottom-color: #B4A984;
	top: -6px;
	left: 6px
}

.hintModal .hintModal_container:before {
	border-bottom-color: #B4A984;
	top: -6px
}

.hintModal .hintModal_container:after {
	border-bottom-color: #F8F4E1;
	top: -5px;
	z-index: 1
}

.hintModal.bottomRight .hintModal_container {
	left: auto;
	right: 0
}

.hintModal.bottomRight .hintModal_container:before,
.hintModal.bottomRight .hintModal_container:after {
	left: auto;
	right: 6px
}

.hintModal.bottomCenter .hintModal_container {
	left: -120px;
	right: -120px;
	margin-left: auto;
	margin-right: auto
}

.hintModal.bottomCenter .hintModal_container:before,
.hintModal.bottomCenter .hintModal_container:after {
	left: 50%;
	margin-left: -6px
}

.hintModal:hover .hintModal_container {
	display: block
}


/* dialogModal */

.dialogModal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 888888;
	opacity: 0;
	transition: all 200ms ease;
	backface-visibility: hidden
}

.dialogModal.open {
	opacity: 1
}

.dialogModal * {
	box-sizing: border-box
}

.dialogModal_container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll
}

.dialogModal .dialogModal_top {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0
}

.dialogModal .dialogModal_top .dialogModal_header {
	padding: 15px 25px;
	line-height: 30px;
	height: 60px;
	font-size: 120%;
	margin: auto;
	width: 650px;
	background: #fff;
	border-bottom: 1px solid #f5f5f5;
	position: relative
}

.dialogModal .dialogModal_top .dialogModal_header .close {
	line-height: 30px;
	font-size: 40px;
	font-family: serif;
	color: #000;
	opacity: 0.2;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: 0;
	width: 30px;
	float: right
}

.dialogModal .dialogModal_top .dialogModal_header .close:hover {
	opacity: 1
}

.dialogModal .dialogModal_top .dialogModal_header .dialogPrev.notactive,
.dialogModal .dialogModal_top .dialogModal_header .dialogNext.notactive {
	opacity: 0.1!important;
	cursor: default
}

.dialogModal .dialogModal_top .dialogModal_header .dialogPrev,
.dialogModal .dialogModal_top .dialogModal_header .dialogNext {
	line-height: 23px;
	font-size: 30px;
	color: #000;
	opacity: 0.2;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: 0;
	float: right;
	width: 30px;
	height: 30px;
	text-align: center
}

.dialogModal .dialogModal_top .dialogModal_header .dialogPrev:hover,
.dialogModal .dialogModal_top .dialogModal_header .dialogNext:hover {
	opacity: 1
}

.dialogModal .dialogModal_top .dialogModal_header span {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	width: calc(100% - 90px);
	text-overflow: ellipsis
}

.dialogModal .dialogModal_top .dialogModal_header:after {
	content: '';
	position: absolute;
	bottom: -11px;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.5);
	height: 10px
}

.dialogModal .dialogModal_body {
	position: absolute;
	width: 650px;
	left: 0;
	right: 0;
	margin: 60px auto 40px;
	background: #fff;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: initial;
	font-style: initial;
	color: initial;
	text-decoration: initial;
	text-transform: initial;
	opacity: 0;
	border-radius: 0 0 3px 3px
}

.dialogModal .dialogModal_body .dialogModal_header {
	display: none
}

.dialogModal .dialogModal_content {
	padding: 15px 25px 25px;
	line-height: 20px;
	min-height: 200px
}

.dialogModal .dialogModal_footer {
	background: #fafafa;
	padding: 15px 25px;
	border-top: 1px solid #ddd;
	text-align: right;
	border-radius: 0 0 3px 3px
}

.dialogModal .dialogModal_footer button {
	margin: 0 0 0 5px
}

.dialogModal.modal .dialogModal_container {
	opacity: 0;
	transition: all 200ms ease
}

.dialogModal.modal {
	overflow-y: hidden
}

.dialogModal.modal .dialogModal_container {
	position: absolute;
	overflow-y: auto;
	margin: auto;
	width: 650px;
	left: 0;
	right: 0;
	bottom: 40px
}

.dialogModal.modal .dialogModal_top .dialogModal_header {
	border-radius: 3px 3px 0 0
}

.dialogModal.modal .dialogModal_top {
	margin-top: -60px
}

.dialogModal.modal .dialogModal_body {
	margin: auto;
	width: auto
}

body.dialogModalOpen {
	overflow: hidden
}

@media (max-width: 680px) {
	.dialogModal .dialogModal_container,
	.dialogModal .dialogModal_top .dialogModal_header,
	.dialogModal .dialogModal_body {
		width: auto!important
	}
}

@media (max-width: 400px) {
	.dialogModal .dialogModal_body,
	.dialogModal .dialogModal_footer {
		border-radius: 0
	}
}


/* titleModal */

.titleModal {}

.titleModal_container {
	position: absolute;
	z-index: 99999;
	background: #000;
	color: #fff;
	padding: 5px 10px;
	line-height: 16px;
	margin-top: 12px;
	border-radius: 3px;
	font-size: 13px;
	text-align: center;
	max-width: 260px;
	opacity: 0;
	white-space: normal;
	font-weight: initial;
	font-style: initial;
	text-decoration: initial;
	text-transform: initial
}

.titleModal_container:after {
	content: '';
	position: absolute;
	border: 6px solid transparent;
	border-top-width: 0;
	border-bottom-color: #000;
	top: -6px;
	left: 50%;
	margin-left: -6px
}

.titleModal_container.top {
	margin-top: -6px
}

.titleModal_container.top:after {
	border: 6px solid transparent;
	border-bottom-width: 0;
	border-top-color: #000;
	top: auto;
	bottom: -6px;
	left: 50%;
	margin-left: -6px
}

.titleModal_container.left {
	margin-top: auto;
	margin-left: 3px
}

.titleModal_container.left:after {
	border: 6px solid transparent;
	border-right-width: 0;
	border-left-color: #000;
	top: 50%;
	left: auto;
	right: -6px;
	margin-left: 0;
	margin-top: -6px
}

.titleModal_container.right {
	margin-top: auto;
	margin-left: -3px
}

.titleModal_container.right:after {
	border: 6px solid transparent;
	border-left-width: 0;
	border-right-color: #000;
	top: 50%;
	left: 0;
	margin-top: -6px
}

.titleModal.light+.titleModal_container {
	background: #fff;
	color: #000;
	border: 1px solid #ccc
}

.titleModal.light+.titleModal_container:after {
	border-bottom-color: #fff
}

.titleModal.light+.titleModal_container:before {
	content: '';
	position: absolute;
	border: 7px solid transparent;
	border-top-width: 0;
	border-bottom-color: #ccc;
	top: -7px;
	left: 50%;
	margin-left: -7px
}

.titleModal.light+.titleModal_container.top:after {
	border: 6px solid transparent;
	border-bottom-width: 0;
	border-top-color: #fff
}

.titleModal.light+.titleModal_container.top:before {
	border: 6px solid transparent;
	border-bottom-width: 0;
	border-top-color: #ccc;
	top: auto;
	bottom: -7px;
	left: 50%;
	margin-left: -6px
}

.titleModal.light+.titleModal_container.left:after {
	border: 6px solid transparent;
	border-right-width: 0;
	border-left-color: #fff
}

.titleModal.light+.titleModal_container.left:before {
	border: 7px solid transparent;
	border-right-width: 0;
	border-left-color: #ccc;
	top: 50%;
	left: auto;
	right: -7px;
	margin-left: 0;
	margin-top: -7px
}

.titleModal.light+.titleModal_container.right:after {
	border: 6px solid transparent;
	border-left-width: 0;
	border-right-color: #fff
}

.titleModal.light+.titleModal_container.right:before {
	border: 7px solid transparent;
	border-left-width: 0;
	border-right-color: #ccc;
	top: 50%;
	left: 0;
	margin-top: -7px
}


/* confirmModal */

.confirmModal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 888888;
	overflow: auto;
	opacity: 0;
	transition: all 200ms ease;
	backface-visibility: hidden
}

.confirmModal.open {
	opacity: 1
}

.confirmModal * {
	box-sizing: border-box
}

.confirmModal .confirmModal_body {
	position: absolute;
	width: 400px;
	left: 0;
	right: 0;
	margin: 0 auto 40px;
	background: #fff;
	font-size: 14px;
	font-weight: initial;
	font-style: initial;
	color: initial;
	text-decoration: initial;
	text-transform: initial;
	opacity: 0;
	border-radius: 0 0 3px 3px
}

.confirmModal .confirmModal_body.modal {
	border-radius: 3px
}

.confirmModal .confirmModal_body.open {
	opacity: 1
}

.confirmModal .confirmModal_content {
	padding: 60px 40px;
	line-height: 20px
}

.confirmModal .confirmModal_footer {
	background: #fafafa;
	padding: 15px 25px;
	border-top: 1px solid #ddd;
	text-align: right;
	border-radius: 0 0 3px 3px
}

.confirmModal .confirmModal_footer button {
	margin: 0 0 0 5px
}

.confirmModal .confirmModal_body.needConfirm {
	animation-name: needConfirm;
	animation-timing-function: ease;
	animation-iteration-count: 3
}

@keyframes needConfirm {
	0%,
	100% {
		transform: scale(1)
	}
	50% {
		transform: scale(1.1)
	}
}

body.confirmModalOpen {
	overflow: hidden
}

@media (max-width: 430px) {
	.confirmModal .confirmModal_body {
		width: 100%
	}
	.confirmModal .confirmModal_body,
	.confirmModal .confirmModal_footer {
		border-radius: 0
	}
}


/* animation */

.animated {
	animation-duration: 0.2s;
	animation-fill-mode: both;
	transform: translateZ(0);
	backface-visibility: hidden
}

.fadeInLeft {
	animation-name: fadeInLeft
}

.fadeOutLeft {
	animation-name: fadeOutLeft
}

.fadeInRight {
	animation-name: fadeInRight
}

.fadeOutRight {
	animation-name: fadeOutRight
}

.fadeInTop {
	animation-name: fadeInTop
}

.fadeInTopBig {
	animation-name: fadeInTopBig
}

.fadeOutTop {
	animation-name: fadeOutTop
}

.fadeInBottom {
	animation-name: fadeInBottom
}

.fadeOutBottom {
	animation-name: fadeOutBottom
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10px)
	}
	100% {
		opacity: 1;
		transform: translateX(0)
	}
}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
		transform: translateX(0)
	}
	100% {
		opacity: 0;
		transform: translateX(-10px)
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(10px)
	}
	100% {
		opacity: 1;
		transform: translateX(0)
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
		transform: translateX(0)
	}
	100% {
		opacity: 0;
		transform: translateX(10px)
	}
}

@keyframes fadeInTop {
	0% {
		opacity: 0;
		transform: translateY(-10px)
	}
	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes fadeOutTop {
	0% {
		opacity: 1;
		transform: translateY(0)
	}
	100% {
		opacity: 0;
		transform: translateY(-10px)
	}
}

@keyframes fadeInTopBig {
	0% {
		opacity: 0;
		transform: translateY(-100%)
	}
	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translateY(10px)
	}
	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes fadeOutBottom {
	0% {
		opacity: 1;
		transform: translateY(0)
	}
	100% {
		opacity: 0;
		transform: translateY(10px)
	}
}

.modal-dialog {
	width: 60%;
	height: 65%;
}


/** Exit Popup **/

#exit-modal-0 .modal-content {
	/* background: #09569c url('/images/popup/raysbg.png') no-repeat;
    background-size:cover;
    color: #000000;
    padding: 0px;
    width:655px;
    min-height:387px; 
    top:100px;
    font-family:Roboto;*/
	background-size: cover;
	color: #000000;
	padding: 0px;
	width: auto;
	height: -webkit-fill-available;
	min-height: 387px;
	top: 100px;
	font-family: Roboto;
}

#exit-modal-0 .close {
	background-image: url('/images/popup/exit_close.png');
	opacity: 1!important;
	position: absolute;
	right: -25px;
	top: -20px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}

#exit-modal-0 .modal-body {
	position: relative;
	padding: 0px 0px;
	float: left;
	width: 100%;
}

#exit-modal-0 .modal-title {
	font-size: 32px!important;
	text-align: center;
	font-weight: bold;
	color: #ffffff!important;
	margin: 20px 0px 15px 0px;
}

#exit-modal-0 .modal-title span {
	color: #ff9900!important;
}

#exit-modal-0 .modal-footer {
	border-top: none;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #ffffff!important;
	text-align: left;
}

#exit-modal-0 .modal-footer p {
	color: #ffffff!important;
	margin: 0px;
	padding: 0px;
}

#exit-modal-0 .form-container {
	/*width:260px;
    height:222px;
    background:rgba(0,0,0,0.3);
    float:right;
    padding:10px;*/
}

#exit-modal-0 .offer-container {
	float: left;
}

#exit-modal-0 .modal-content input {
	height: 34px;
}

.bcontainer {
	float: left;
	width: 100%;
}

#exit-modal-0 .btn-primary {
	/*width:100%;
    color:#000000!important;
    background-color:#ff9900!important;
    text-transform:uppercase;
    border-radius:6px!important;
    margin:0px!important;
    box-shadow:none!important;
    border:1px solid #053159;
    padding: 5px;
    font-size: 17px;
    font-weight:bold;
    letter-spacing:1px;*/
	width: 54%;
	color: #ffffff!important;
	/* background-color: #037bfa!important; */
	text-transform: uppercase;
	border-radius: 40px !important;
	/* margin: 0px!important; */
	box-shadow: 8px 9px 10px 3px #eae8e8;
	/* border: 1px solid #053159; */
	padding: 10px;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
	background: linear-gradient(0deg, #60e2b8, #037dfa 80%) no-repeat;
}

#exit-modal-1 .modal-content {
	background: #09569c url('/images/popup/raysbg.png') no-repeat;
	background-size: cover;
	color: #000000;
	padding: 0px;
	width: 655px;
	min-height: 387px;
	/* increase if content is more */
	top: 100px;
	font-family: Roboto;
}

#exit-modal-1 .close {
	background-image: url('/images/popup/exit_close.png');
	opacity: 1!important;
	position: absolute;
	right: -25px;
	top: -20px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}

#exit-modal-1 .modal-body {
	position: relative;
	padding: 0px 15px;
	float: left;
	width: 100%;
}

#exit-modal-1 .modal-title {
	font-size: 32px!important;
	text-align: center;
	font-weight: bold;
	color: #ffffff!important;
	margin: 20px 0px 15px 0px;
}

#exit-modal-1 .modal-title span {
	color: #ff9900!important;
}

#exit-modal-1 .modal-footer {
	border-top: none;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #ffffff!important;
	text-align: left;
}

#exit-modal-1 .modal-footer p {
	color: #ffffff!important;
	margin: 0px;
	padding: 0px;
}

#exit-modal-1 .form-container {
	width: 260px;
	height: 222px;
	background: rgba(0, 0, 0, 0.3);
	float: right;
	padding: 10px;
}

#exit-modal-1 .offer-container {
	float: left;
}

#exit-modal-1 .modal-content input {
	height: 34px;
}

#exit-modal-1 .btn-primary {
	width: 100%;
	color: #000000!important;
	background-color: #ff9900!important;
	text-transform: uppercase;
	border-radius: 6px!important;
	margin: 0px!important;
	box-shadow: none!important;
	border: 1px solid #053159;
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
}

#exit-modal-2 .modal-content {
	background: #09569c url('/images/popup/raysbg.png') no-repeat;
	background-size: cover;
	color: #000000;
	padding: 0px;
	width: 655px;
	min-height: 387px;
	/* increase if content is more */
	top: 100px;
	font-family: Roboto;
}

#exit-modal-2 .close {
	background-image: url('/images/popup/exit_close.png');
	opacity: 1!important;
	position: absolute;
	right: -25px;
	top: -20px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}

#exit-modal-2 .modal-body {
	position: relative;
	padding: 0px 15px;
	float: left;
	width: 100%;
}

#exit-modal-2 .modal-title {
	font-size: 32px!important;
	text-align: center;
	font-weight: bold;
	color: #ffffff!important;
	margin: 20px 0px 15px 0px;
}

#exit-modal-2 .modal-title span {
	color: #ff9900!important;
}

#exit-modal-2 .modal-footer {
	border-top: none;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #ffffff!important;
	text-align: left;
}

#exit-modal-2 .modal-footer p {
	color: #ffffff!important;
	margin: 0px;
	padding: 0px;
}

#exit-modal-2 .form-container {
	width: 260px;
	height: 222px;
	background: rgba(0, 0, 0, 0.3);
	float: right;
	padding: 10px;
}

#exit-modal-2 .offer-container {
	float: left;
}

#exit-modal-2 .modal-content input {
	height: 34px;
}

#exit-modal-2 .btn-primary {
	width: 100%;
	color: #000000!important;
	background-color: #ff9900!important;
	text-transform: uppercase;
	border-radius: 6px!important;
	margin: 0px!important;
	box-shadow: none!important;
	border: 1px solid #053159;
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
}

#exit-modal-3 .modal-content {
	background: #09569c url('/images/popup/raysbg.png') no-repeat;
	background-size: cover;
	color: #000000;
	padding: 0px;
	width: 655px;
	min-height: 387px;
	/* increase if content is more */
	top: 100px;
	font-family: Roboto;
}

#exit-modal-3 .close {
	background-image: url('/images/popup/exit_close.png');
	opacity: 1!important;
	position: absolute;
	right: -25px;
	top: -20px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}

#exit-modal-3 .modal-body {
	position: relative;
	padding: 0px 15px;
	float: left;
	width: 100%;
}

#exit-modal-3 .modal-title {
	font-size: 32px!important;
	text-align: center;
	font-weight: bold;
	color: #ffffff!important;
	margin: 20px 0px 15px 0px;
}

#exit-modal-3 .modal-title span {
	color: #ff9900!important;
}

#exit-modal-3 .modal-footer {
	border-top: none;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #ffffff!important;
	text-align: left;
}

#exit-modal-3 .modal-footer p {
	color: #ffffff!important;
	margin: 0px;
	padding: 0px;
}

#exit-modal-3 .form-container {
	width: 260px;
	height: 222px;
	background: rgba(0, 0, 0, 0.3);
	float: right;
	padding: 10px;
}

#exit-modal-3 .offer-container {
	float: left;
}

#exit-modal-3 .modal-content input {
	height: 34px;
}

#exit-modal-3 .btn-primary {
	width: 100%;
	color: #000000!important;
	background-color: #ff9900!important;
	text-transform: uppercase;
	border-radius: 6px!important;
	margin: 0px!important;
	box-shadow: none!important;
	border: 1px solid #053159;
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
}

#exit-modal-4 .modal-content {
	background: #09569c url('/images/popup/raysbg2.png') no-repeat;
	background-size: cover;
	color: #000000;
	padding: 0px;
	width: 655px;
	min-height: 387px;
	/* increase if content is more */
	top: 100px;
	font-family: Roboto;
}

#exit-modal-4 .close {
	background-image: url('/images/popup/exit_close.png');
	opacity: 1!important;
	position: absolute;
	right: -25px;
	top: -20px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}

#exit-modal-4 .modal-body {
	position: relative;
	padding: 0px 15px;
	float: left;
	width: 100%;
}

#exit-modal-4 .modal-title {
	font-size: 32px!important;
	text-align: center;
	font-weight: bold;
	color: #ffffff!important;
	margin: 20px 0px 15px 0px;
}

#exit-modal-4 .modal-title span {
	color: #ff9900!important;
}

#exit-modal-4 .modal-footer {
	border-top: none;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #ffffff!important;
	text-align: left;
}

#exit-modal-4 .modal-footer p {
	color: #ffffff!important;
	margin: 0px;
	padding: 0px;
}

#exit-modal-4 .form-container {
	width: 260px;
	height: 222px;
	background: rgba(0, 0, 0, 0.3);
	float: right;
	padding: 10px;
}

#exit-modal-4 .offer-container {
	float: left;
}

#exit-modal-4 .modal-content input {
	height: 34px;
}

#exit-modal-4 .btn-primary {
	width: 100%;
	color: #000000!important;
	background-color: #ff9900!important;
	text-transform: uppercase;
	border-radius: 6px!important;
	margin: 0px!important;
	box-shadow: none!important;
	border: 1px solid #053159;
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
}

#exit-modal-5 .modal-content {
	background: #09569c url('/images/popup/raysbg2.png') no-repeat;
	background-size: cover;
	color: #000000;
	padding: 0px;
	width: 655px;
	min-height: 415px;
	/*387px;*/
	/* increase if content is more */
	top: 100px;
	font-family: Roboto;
}

#exit-modal-5 .close {
	background-image: url('/images/popup/exit_close.png');
	opacity: 1!important;
	position: absolute;
	right: -25px;
	top: -20px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}

#exit-modal-5 .modal-body {
	position: relative;
	padding: 0px 15px;
	float: left;
	width: 100%;
}

#exit-modal-5 .modal-title {
	font-size: 32px!important;
	text-align: center;
	font-weight: bold;
	color: #ffffff!important;
	margin: 20px 0px 15px 0px;
}

#exit-modal-5 .modal-title span {
	color: #ff9900!important;
}

#exit-modal-5 .modal-footer {
	border-top: none;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #ffffff!important;
	text-align: left;
}

#exit-modal-5 .modal-footer p {
	color: #ffffff!important;
	margin: 0px;
	padding: 0px;
}

#exit-modal-5 .form-container {
	width: 260px;
	height: 222px;
	background: rgba(0, 0, 0, 0.3);
	float: right;
	padding: 10px;
}

#exit-modal-5 .offer-container {
	float: left;
}

#exit-modal-5 .modal-content input {
	height: 34px;
}

#exit-modal-5 .btn-primary {
	width: 100%;
	color: #000000!important;
	background-color: #ff9900!important;
	text-transform: uppercase;
	border-radius: 6px!important;
	margin: 0px!important;
	box-shadow: none!important;
	border: 1px solid #053159;
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
}

#popModal_ex11 {
	display: none;
}

#popModal_pl1 {
	display: none;
}

@media (max-width: 1200px) {
	#popModal_ex1 {
		display: none !important;
	}
	#popModal_pl {
		display: none !important;
	}
}

@media (max-width: 500px) {
	#exit-modal-0 .modal-content {
		width: 100%;
		min-height: 580px;
	}
	#exit-modal-0 .modal-body {
		float: none;
	}
	#exit-modal-0 .form-container {
		width: 100%;
	}
	#exit-modal-0 .offer-container img {
		width: 98%
	}
	#exit-modal-1 .modal-content {
		width: 100%;
		min-height: 580px;
	}
	#exit-modal-1 .modal-body {
		float: none;
	}
	#exit-modal-1 .form-container {
		width: 100%;
	}
	#exit-modal-1 .offer-container img {
		width: 98%
	}
	#exit-modal-2 .modal-content {
		width: 100%;
		min-height: 580px;
	}
	#exit-modal-2 .modal-body {
		float: none;
	}
	#exit-modal-2 .form-container {
		width: 100%;
	}
	#exit-modal-2 .offer-container img {
		width: 98%
	}
	#exit-modal-3 .modal-content {
		width: 100%;
		min-height: 580px;
	}
	#exit-modal-3 .modal-body {
		float: none;
	}
	#exit-modal-3 .form-container {
		width: 100%;
	}
	#exit-modal-3 .offer-container img {
		width: 98%
	}
	#exit-modal-4 .modal-content {
		width: 100%;
		min-height: 580px;
	}
	#exit-modal-4 .modal-body {
		float: none;
	}
	#exit-modal-4 .form-container {
		width: 100%;
	}
	#exit-modal-4 .offer-container img {
		width: 98%
	}
	#exit-modal-5 .modal-content {
		width: 100%;
		min-height: 580px;
	}
	#exit-modal-5 .modal-body {
		float: none;
	}
	#exit-modal-5 .form-container {
		width: 100%;
	}
	#exit-modal-5 .offer-container img {
		width: 98%
	}
}

/*call to action common*/

.BottomHeading {
	margin: 0px;
	color: #000000;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	/* text-shadow: 1px 2px 1px #4e4e4e; */
}

.registerForm1 form-group {
	margin-bottom: 10%;
}

.hrTop {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 2px solid #fff;
	width: 25%;
}

.registerForm1 {
	padding: 5%;
}

.imgTopHeading {
	color: white;
	font-size: large;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	text-shadow: 1px 2px 1px #4e4e4e;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	padding: 0px 4%;
}

.imgTitle {
	color: white;
	font-size: x-large;
	text-align: center;
	line-height: 29px;
	font-weight: 700;
	text-shadow: 1px 2px 1px #4e4e4e;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif;
	padding: 0px 5%;
}

/*call to action*/

#myModalHome .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalHome .banner-sec {
	background: url('/images/CallTOActionPoppup/home.jpg') no-repeat left bottom;
	background-size: cover;
	/* height: auto; */
	min-height: 435px;
	/* border-radius: 0 10px 10px 0; */
	padding: 0;
	background-position: center center;
	/* margin-top: 5%;*/
}



#myModalHome .TopHeading {
	color: #1a4f93;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	/*text-shadow: 1px 2px 1px #4e4e4e;*/
}



#myModalHome .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #1e4087, #1aa7fb);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #1e4087, #1aa7fb);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #1e4087, #1aa7fb);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #1e4087, #1aa7fb);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}

 

#myModalHome .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #007CFF !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}




/*USA*/
#myModalUSA .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalUSA .banner-sec {
	background: url('/images/CallTOActionPoppup/USA.jpg') no-repeat left bottom;
	background-size: cover;
	/* height: auto; */
	min-height: 435px;
	/* border-radius: 0 10px 10px 0; */
	padding: 0;
	background-position: center center;
	/* margin-top: 5%;*/
}
#myModalUSA .TopHeading {
	color: #3788e3;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	/*text-shadow: 1px 2px 1px #4e4e4e;*/
}



#myModalUSA .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #63EAB3, #007CFF);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #63EAB3, #007CFF);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #63EAB3, #007CFF);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #63EAB3, #007CFF);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}


#myModalUSA .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #007CFF !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*CANADA*/
#myModalCANADA .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalCANADA .banner-sec {
	background: url('/images/CallTOActionPoppup/CANADA.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}
#myModalCANADA .TopHeading {
	color: #801f0e;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	/*text-shadow: 1px 2px 1px #4e4e4e;*/
}
#myModalCANADA .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #eb4f24, #801f0e);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #eb4f24, #801f0e);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #eb4f24, #801f0e);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #eb4f24, #801f0e);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}

#myModalCANADA .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #801f0e !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*NewZeaLand*/
#myModalNewZ .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalNewZ .banner-sec {
	background: url('/images/CallTOActionPoppup/NEWZLand.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}
#myModalNewZ .TopHeading {
	color: #331839;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	/*text-shadow: 1px 2px 1px #4e4e4e;*/
}

#myModalNewZ .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #6b8bb1, #3f3c58);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #6b8bb1, #3f3c58);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #6b8bb1, #3f3c58);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #6b8bb1, #3f3c58);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}


#myModalNewZ .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #331839 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*UK*/
#myModalUK .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalUK .banner-sec {
	background: url('/images/CallTOActionPoppup/UK.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}
#myModalUK .TopHeading {
	color: #623376;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	/*text-shadow: 1px 2px 1px #4e4e4e;*/
}
#myModalUK .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #6f387e, #5c31728a);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #6f387e, #5c31728a);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #6f387e, #5c31728a);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #6f387e, #5c31728a);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalUK .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #623376 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*Austr*/
#myModalAustr .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalAustr .banner-sec {
	background: url('/images/CallTOActionPoppup/AUSTRALIA.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalAustr .TopHeading {
	color: #461837;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	/*text-shadow: 1px 2px 1px #4e4e4e;*/
}
#myModalAustr .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #ee495d, #461837);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #ee495d, #461837);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #ee495d, #461837);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #ee495d, #461837);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalAustr .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #461837 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}


/*USBANK*/
#myModalUSBANK .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalUSBANK .banner-sec {
	background: url('/images/CallTOActionPoppup/USBank.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalUSBANK .TopHeading {
	color: #ef4549;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	/*text-shadow: 1px 2px 1px #4e4e4e;*/
}
#myModalUSBANK .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #ce476f, #ed663a);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #ce476f, #ed663a);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #ce476f, #ed663a);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #ce476f, #ed663a);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalUSBANK .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #ef4549 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*NATIONALISED*/
#myModalNATIONALISED .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalNATIONALISED .banner-sec {
	background: url('/images/CallTOActionPoppup/hassleFree.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalNATIONALISED .TopHeading {
	color: #9c3d77;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	/*text-shadow: 1px 2px 1px #4e4e4e;*/
}
#myModalNATIONALISED .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #ea4952, #b2609a);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #ea4952, #b2609a);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #ea4952, #b2609a);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #ea4952, #b2609a);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalNATIONALISED .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #9c3d77 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*NBFC*/
#myModalNBFC .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalNBFC .banner-sec {
	background: url('/images/CallTOActionPoppup/NBFC.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalNBFC .TopHeading {
	color: #f36f2d;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
	/*text-shadow: 1px 2px 1px #4e4e4e;*/
}
#myModalNBFC .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #ecbe34, #e6463e);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #ecbe34, #e6463e);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #ecbe34, #e6463e);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #ecbe34, #e6463e);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalNBFC .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #f36f2d !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*SBI*/
#myModalSBI .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalSBI .banner-sec {
	background: url('/images/CallTOActionPoppup/SBI.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalSBI .TopHeading {
	color: #a63852;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalSBI .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #316af7, #a63852);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #316af7, #a63852);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #316af7, #a63852);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #316af7, #a63852);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalSBI .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #a63852 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*BOI*/
#myModalBOI .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalBOI .banner-sec {
	background: url('/images/CallTOActionPoppup/AXIS.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalBOI .TopHeading {
	color: #a63852;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalBOI .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #316af7, #a63852);
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalBOI .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #a63852 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*BOI*/
#myModalUnion .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalUnion .banner-sec {
	background: url('/images/CallTOActionPoppup/AXIS.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalUnion .TopHeading {
	color: #a63852;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalUnion .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #316af7, #a63852);
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalUnion .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #a63852 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*IDBI*/
#myModalIDBI .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalIDBI .banner-sec {
	background: url('/images/CallTOActionPoppup/Bajaj.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalIDBI .TopHeading {
	color: #826cfa;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalIDBI .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #3cd1fb, #826cfa);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #3cd1fb, #826cfa);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #3cd1fb, #826cfa);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #3cd1fb, #826cfa);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalIDBI .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #826cfa !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*BOB*/
#myModalBOB .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalBOB .banner-sec {
	background: url('/images/CallTOActionPoppup/DirectConnect.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalBOB .TopHeading {
	color: #df455e;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalBOB .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #df455e, #f45933);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #df455e, #f45933);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #df455e, #f45933);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #df455e, #f45933);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalBOB .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #df455e !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*SARASWAT*/
#myModalSaraswat .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalSaraswat .banner-sec {
	background: url('/images/CallTOActionPoppup/BestRate.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalSaraswat .TopHeading {
	color: #df455e;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalSaraswat .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #df455e, #f45933);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #df455e, #f45933);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #df455e, #f45933);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #df455e, #f45933);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalSaraswat .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #df455e !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*AXIS*/
#myModalAXIS .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalAXIS .banner-sec {
	background: url('/images/CallTOActionPoppup/AXIS.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalAXIS .TopHeading {
	color: #b53019;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalAXIS .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #b53019, #f24643);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #b53019, #f24643);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #b53019, #f24643);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #b53019, #f24643);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalAXIS .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #b53019 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*ICICI*/
#myModalICICI .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalICICI .banner-sec {
	background: url('/images/CallTOActionPoppup/AXIS.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalICICI .TopHeading {
	color: #0c2d6c;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalICICI .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #0c2d6c, #016ed0);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #0c2d6c, #016ed0);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #0c2d6c, #016ed0);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #0c2d6c, #016ed0);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalICICI .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #0c2d6c !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*HDFC*/
#myModalHDFC .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalHDFC .banner-sec {
	background: url('/images/CallTOActionPoppup/BestRate.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalHDFC .TopHeading {
	color: #6d4290;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalHDFC .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #6d4290, #f24d6d);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #6d4290, #f24d6d);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #6d4290, #f24d6d);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #6d4290, #f24d6d);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalHDFC .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #6d4290 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*Credenc*/
#myModalCredenc .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalCredenc .banner-sec {
	background: url('/images/CallTOActionPoppup/Bajaj.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalCredenc .TopHeading {
	color: #6d4290;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalCredenc .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #6d4290, #f24d6d);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #6d4290, #f24d6d);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #6d4290, #f24d6d);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #6d4290, #f24d6d);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalCredenc .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #6d4290 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*Auxilo*/
#myModalAuxilo .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalAuxilo .banner-sec {
	background: url('/images/CallTOActionPoppup/Auxilo.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalAuxilo .TopHeading {
	color: #846cfa;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalAuxilo .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #43bcfb, #846cfa);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #43bcfb, #846cfa);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #43bcfb, #846cfa);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #43bcfb, #846cfa);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalAuxilo .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #846cfa !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}
/*Avanse*/
#myModalAvanse .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalAvanse .banner-sec {
	background: url('/images/CallTOActionPoppup/Avanse.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalAvanse .TopHeading {
	color: #5e3984;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalAvanse .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #ab385d, #5e3984);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #ab385d, #5e3984);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #ab385d, #5e3984);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #ab385d, #5e3984);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModaAvanse .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #5e3984 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}
/*Incred*/
#myModalIncred .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalIncred .banner-sec {
	background: url('/images/CallTOActionPoppup/Incred.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalIncred .TopHeading {
	color: #836cfa;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalIncred .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #3dd4fa, #836cfa);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #3dd4fa, #836cfa);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #3dd4fa, #836cfa);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #3dd4fa, #836cfa);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalIncred .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #836cfa !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*Bajaj*/
/*#myModalBajaj .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalBajaj .banner-sec {
	background: url('/images/CallTOActionPoppup/Bajaj.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalBajaj .TopHeading {
	color: #826cfa;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalBajaj .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #3cd1fb, #826cfa);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #3cd1fb, #826cfa);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #3cd1fb, #826cfa);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #3cd1fb, #826cfa);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalBajaj .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #826cfa !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}*/

/*Mpower*/
#myModalMpower .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalMpower .banner-sec {
	background: url('/images/CallTOActionPoppup/Mpower.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalMpower .TopHeading {
	color: #056bc3;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalMpower .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #6bc3e9, #056bc3);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #6bc3e9, #056bc3);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #6bc3e9, #056bc3);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #6bc3e9, #056bc3);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalMpower .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #056bc3 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*Prodigy*/
#myModalProdigy .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalProdigy .banner-sec {
	background: url('/images/CallTOActionPoppup/Prodigy.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalProdigy .TopHeading {
	color: #056bc3;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalProdigy .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #6bc3e9, #056bc3);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #6bc3e9, #056bc3);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #6bc3e9, #056bc3);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #6bc3e9, #056bc3);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalProdigy .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #056bc3 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*LeapFin*/
#myModalLeapFin .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalLeapFin .banner-sec {
	background: url('/images/CallTOActionPoppup/LeapFin.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalLeapFin .TopHeading {
	color: #056bc3;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalLeapFin .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #6bc3e9, #056bc3);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #6bc3e9, #056bc3);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #6bc3e9, #056bc3);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #6bc3e9, #056bc3);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalLeapFin .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #056bc3 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}


/*Earnest*/
#myModalEarnest .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalEarnest .banner-sec {
	background: url('/images/CallTOActionPoppup/Earnest.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalEarnest .TopHeading {
	color: #823159;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalEarnest .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #823159, #185ed0);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #823159, #185ed0);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #823159, #185ed0);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #823159, #185ed0);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalEarnest .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #823159 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*Ascent*/
#myModalAscent .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalAscent .banner-sec {
	background: url('/images/CallTOActionPoppup/Ascent.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalAscent .TopHeading {
	color: #823159;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalAscent .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #823159, #185ed0);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #823159, #185ed0);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #823159, #185ed0);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #823159, #185ed0);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalAscent .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #823159 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}

/*SallieMae*/
#myModalSallieMae .modal-dialog {
	width: 60%;
	height: 65%;
}

#myModalSallieMae .banner-sec {
	background: url('/images/CallTOActionPoppup/SallieMae.jpg') no-repeat left bottom;
	background-size: cover;
	min-height: 435px;
	padding: 0;
	background-position: center center;
}

#myModalSallieMae .TopHeading {
	color: #823159;
	font-size: larger;
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
#myModalSallieMae .registerForm1 input {
	border: 0px;
	border-radius: 0px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #fff, transparent), -webkit-linear-gradient(180deg, #823159, #185ed0);
	background-image: -moz-linear-gradient(180deg, #fff, transparent), -moz-linear-gradient(180deg, #823159, #185ed0);
	background-image: -o-linear-gradient(180deg, #fff, transparent), -o-linear-gradient(180deg, #823159, #185ed0);
	background-image: linear-gradient(90deg, #fff, transparent), linear-gradient(90deg, #823159, #185ed0);
	-moz-background-size: 100% 5px;
	background-size: 100% 3.5px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
#myModalSallieMae .registerButton {
	margin-top: 15px;
	width: 175px;
	height: 40px;
	background-color: #823159 !important;
	box-shadow: 8px 9px 9px 1px rgba(191, 191, 191, 0.7) !important;
}



@media screen and (max-width: 992px) {
  	/*#myModalSBI .modal-dialog {
		width: 95% !important;
	}

	#myModalSBI {
		background-color: white;
	}*/

	#myModalHome .modal-dialog {
		width: 95%;
	}

	#myModalHome  {
		background-color: white;
	}

	#myModalUSA .modal-dialog {
		width: 95%;
	}

	#myModalUSA  {
		background-color: white;
	}

	#myModalCANADA .modal-dialog {
		width: 95%;
	}

	#myModalCANADA  {
		background-color: white;
	}

	#myModalNewZ .modal-dialog {
		width: 95%;
	}

	#myModalNewZ  {
		background-color: white;
	}

	#myModalUK .modal-dialog {
		width: 95%;
	}

	#myModalUK  {
		background-color: white;
	}

	#myModalAustr .modal-dialog {
		width: 95%;
	}

	#myModalAustr  {
		background-color: white;
	}

	#myModalUSBANK .modal-dialog {
		width: 95%;
	}

	#myModalUSBANK  {
		background-color: white;
	}

	#myModalNATIONALISED .modal-dialog {
		width: 95%;
	}

	#myModalNATIONALISED  {
		background-color: white;
	}

	#myModalNBFC .modal-dialog {
		width: 95%;
	}

	#myModalNBFC  {
		background-color: white;
	}

	#myModalSBI .modal-dialog {
		width: 95%;
	}

	#myModalSBI  {
		background-color: white;
	}

	#myModalBOB .modal-dialog {
		width: 95%;
	}

	#myModalBOB  {
		background-color: white;
	}

	#myModalAXIS .modal-dialog {
		width: 95%;
	}

	#myModalAXIS  {
		background-color: white;
	}

	#myModalICICI .modal-dialog {
		width: 95%;
	}

	#myModalICICI  {
		background-color: white;
	}

	#myModalHDFC .modal-dialog {
		width: 95%;
	}

	#myModalHDFC  {
		background-color: white;
	}

	#myModalAuxilo .modal-dialog {
		width: 95%;
	}

	#myModalAuxilo  {
		background-color: white;
	}

	#myModalAvanse .modal-dialog {
		width: 95%;
	}

	#myModalAvanse  {
		background-color: white;
	}

	#myModalIncred .modal-dialog {
		width: 95%;
	}

	#myModalIncred  {
		background-color: white;
	}

	#myModalBajaj .modal-dialog {
		width: 95%;
	}

	#myModalBajaj  {
		background-color: white;
	}

	#myModalMpower .modal-dialog {
		width: 95%;
	}

	#myModalMpower  {
		background-color: white;
	}

	#myModalProdigy .modal-dialog {
		width: 95%;
	}

	#myModalProdigy  {
		background-color: white;
	}

	#myModalLeapFin .modal-dialog {
		width: 95%;
	}

	#myModalLeapFin  {
		background-color: white;
	}

	#myModalEarnest .modal-dialog {
		width: 95%;
	}

	#myModalEarnest  {
		background-color: white;
	}

	#myModalAscent .modal-dialog {
		width: 95%;
	}

	#myModalAscent  {
		background-color: white;
	}

	#myModalSallieMae .modal-dialog {
		width: 95%;
	}

	#myModalSallieMae  {
		background-color: white;
	}

}
