<style type="text/css">
.panel-heading {
        padding: 8px 10px 0px !important;
     border-bottom: 0px !important;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #014b79;
}

/* Style the buttons inside the tab */
.tab button {
  color: white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f9992f;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
 background-color: white;
}

.tabsubcontent {
  display: none;
  padding: 6px 12px;

}

.subtabs .tab button{
    width: 50%;
}

.subtabs .tab button.active{
    background-color: #f9992f;
}
</style>
<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header container">
        <h1>Student Offers</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> Student</a></li>
            <li class="active">Offers</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="container no-pad" >

                <div class="col-lg-12">
                    <div class="box" style="overflow-x: scroll;">

                      <div class="tab">
                        <button id="defaultOpen" class="tablinks tabsublinks loan" onclick="openSubTab(event, 'loan')" ><b>Loan Offers</b></button>
                        <button class="tablinks tabsublinks forex" onclick="openSubTab(event, 'forex')"><b>Forex Offers</b></button>
                      </div>

                        <div id="loan" class="tabsubcontent" >

                          <div style="background-color: slategray;color: white;">
                              <div class="tableTD">{{offerdata.name}}</div>
                          </div>

                        <div class="box-body" ng-repeat="(name, tableValues) in tableParams">
                            <h3> {{name}} </h3>
                            <div ng-repeat="(key, values) in tableValues" class="div-table">
                                {{key}}
                                <table ng-table="values" class="table table-bordered table-striped" show-filter="true">
                                    <tr ng-repeat="value in $data" id="list_table">
                                        <td title="''"><img src="{{value.image_url}}" style="width:50%;"></td>
                                        <td title="'Amount of Processing Fees'">{{value.processing_fee}}</a></td>
                                        <td title="'Interest Rate'">{{value.interest_rate}}</td>
                                        <td title="'Convenience of Processing'">{{value.advantages}}</td>
                                        <td title="'Amount for Loan'">{{value.loan_amount}}</td>
                                        <td ng-if="appliedProduct.indexOf(value.product_id) == -1"><button ng-click="applyProduct(value.product_id, value.university_id, value.course_id, value.loan_type_id, value.lead_id)" class="btn btn-info" >Apply</button> </td>
                                        <td ng-if="appliedProduct.indexOf(value.product_id) != -1"><button disabled class="btn btn-info">Applied</button></td>
                                    </tr>
                                </table>

                            </div>
							<div style="clear:both;padding:10px 0px;"></div>


          </div>
        </div>

                      <div id="forex" class="tabsubcontent" >
                          <div class="col-md-12" style="overflow-x: scroll;">
                          <div class="span12">
                              <div class="menu">
                                  <div class="accordion">
                                      <div class="accordion-group" ng-repeat="(index, offerdata) in offersdata">
                                          <div class="accordion-heading country">
                                              <div class="table table-striped table-condensed table_Layout">
                                                  <div style="background-color: slategray;color: white;">
                                                      <div class="tableTD">{{offerdata.name}}</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div id="{{index}}" class="accordion-body" >
                                              <div ng-if="offerdata.forex_offer.length">
                                                  <h4 style="text-align: -webkit-center;"><b>Forex</b></h4>
                                                  <table class="table table-striped table-condensed table_Layout" >
                                                      <thead>
                                                          <tr>
                                                            <th class="tableTD"></th>
                                                            <th class="tableTD">Forex Partner</th>
                                                            <th class="tableTD">Conversion Amount</th>
                                                            <th class="tableTD">Conversion Rate</th>
                                                            <th class="tableTD">Fixed Charges</th>
                                                            <th class="tableTD"></th>
                                                         </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr ng-repeat="product in offerdata.forex_offer" ng-if="product">
                                                        <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.logo}}" style="height: 30px;"></td>
                                                        <td class="tableTD tdWrap">{{product.display_name}}</td>
                                                        <td class="tableTD tdWrap">
                                                           {{product.forex_conversion_amount}}
                                                           <div class="progress-barTable">
                                                              <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                           </div>
                                                        </td>
                                                        <td class="tableTD tdWrap">{{product.forex_conversion_rate}}</td>
                                                        <td class="tableTD tdWrap">
                                                           {{product.fixed_charges}}
                                                        </td>
                                                        <td class="tableTD tdWrap" ng-if="appliedForexProduct.indexOf(product.id) == -1"><a id="{{product.id}}" class='btn btn-sm btn-fill applyBTN btn-info' ng-click="applyForexProduct(product.id, product.lead_id)" value='APPLY' >APPLY</a></td>
                                                        <td class="tableTD tdWrap" ng-if="appliedForexProduct.indexOf(product.id) != -1"><input id="{{product.id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                     </tr>
                                                      </tbody>
                                                  </table>
                                              </div>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>

                      <div class="pull-right">
        							<a ng-click="finishSignup()" type='button' class='btn btn-fill btn-danger btn-wd margin12'>FINISH</a>
        							</div>

                    </div>
                </div>



    </section>
</div>

<!-- popup modal begin -->
									<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Modal Title</h4>
										  </div>
										  <div class="modal-body">
											<h3>Modal Body</h3>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<!--button type="button" class="btn btn-info">Save changes</button-->
										  </div>
										</div>
									  </div>
									</div>
<!-- popup modal end -->

<script src="reg-assets/js/jquery.bootstrap.js" type="text/javascript"></script> <!-- required for material effect -->

<script type="text/javascript">
    function openTab(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    function openSubTab(subevt, tabName) {
      var i, tabsubcontent, tabsublinks;
      tabsubcontent = document.getElementsByClassName("tabsubcontent");
      for (i = 0; i < tabsubcontent.length; i++) {
        tabsubcontent[i].style.display = "none";
      }
      tabsublinks = document.getElementsByClassName("tabsublinks");
      for (i = 0; i < tabsublinks.length; i++) {
        tabsublinks[i].className = tabsublinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      subevt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

</script>
