<!-- Content Wrapper. Contains page content -->
<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
   <section class="content-header container">
        <h1>COMMENTS DATA</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i> lead</a></li>
            <li class="active">Comment Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="container no-pad">

            <div class="col-lg-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">


                        <!--<button class="btn btn-wd btn-primary"  ng-click="$back()"> Back To leads</button>-->
                        <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_comment"> ADD NEW</button>
                        <button class="btn btn-wd btn-primary pull-right" data-toggle="modal" data-target="#modal-default"> All Comments</button>
                        <hr/>
                        <div id="add_comment" class="row form-group collapse" >
                          <div class="col-md-12">

                            <div class="col-md-3">
                              <label class="control-label"> Comment For :  </label>

                              <select class="form-control" name="comment_for" id="comment_for" ng-model="$parent.comment_for">
                                <option value="" >Select Comment For</option>
                                  <option value="EDUCATION_LOAN">EDUCATION_LOAN</option>
                                  <option value="FOREX">FOREX</option>
                              </select>

                            </div>

                            <div class="col-md-3">
                              <label class="control-label">Product Name : </label>

                                <div ng-if="loanApplicationId==0" ng-dropdown-multiselect="" options="appliedproductslist.data" selected-model="$parent.product_type" extra-settings="productnameSetting" ></div>
                                <div><input ng-if="loanApplicationId!=0" ng-model="product_type_name" disabled>
                                <input ng-if="loanApplicationId!=0" type="hidden" ng-model="product_type_id" ></div>
                            </div>

                            <div class="col-md-3">
                              <label class="control-label"> Forex Name : </label>
                                <div ng-if="forexApplicationId==0" ng-dropdown-multiselect="" options="appliedforexlist.data" selected-model="$parent.forex_type" extra-settings="forexNameSetting" ></div>
                                <div><input ng-if="forexApplicationId!=0" ng-model="$parent.forex_type_name" disabled></div>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="col-md-6">
                              <label class="control-label"> Comment :</label>
                              <textarea id="comments_value" name="comments_value" class="form-control txtBoxBS" form="usrform" ng-model="$parent.comments_value" ></textarea>
                            </div>

                            <div class="col-md-2">
                              <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="updateLeadCommentPartner()">SAVE</button>
                            </div>
                          </div>

                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{}}   </h3>
                    </div>
                    <div class="box-body">
                      <span style="font-size:18px;">Customer Name : <b>{{userInfo[0].customerName}}</b></span><br/>
                      <span style="font-size:18px;">Customer Number : <b>{{userInfo[0].customerNumber}}</b></span><br/><br/>
                      <span style="font-size:18px;">Lead State : <b>{{userInfo[0].current_lead_state}}</b></span><br/>
                      <span style="font-size:18px;"> Next Follow Date : <b>{{userInfo[0].followup_date}}</b></span><br/>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="comments_table">
                                <!-- <td title="'Comment Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Lead Id'" filter="{ entity_id : 'number'}" sortable="'id'">{{value.entity_id}}</td>
                                <td title="'Application Id'" filter="{ application_id : 'number'}" sortable="'id'">{{value.application_id}}</td> -->
                                <td title="'Comment Type'" filter="{ comment_type : 'text'}" sortable="'comment'">{{value.comment_type}}</td>
                                <td title="'Product'" filter="{ product_name : 'text'}" sortable="'product_name'">{{value.product_name}}</td>
                                <td title="'Comment'" filter="{ comment : 'text'}" sortable="'comment'">
                                  <textarea cols="60" rows="8" charswidth="30" style="resize:vertical" readonly>{{value.comment}}</textarea>
                                </td>
                                <td title="'Time Spent'" filter="{ time_spent : 'number'}" sortable="'time_spent'">{{value.time_spent}}</td>
                                <td title="'Comment By'" filter="{ partner_name : 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                                <td title="'Comment Date'" filter="{ date_updated : 'number'}" sortable="'date_updated'">{{claculateTime(value.date_updated) | date: 'dd-MM-yyyy - HH:mm:ss'}}</td>

                                  </tr>
                        </table>
                    </div>
                </div>
            </div>

    </section>
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-md-3">
                        <h4 class="modal-title"><b>ALL Commets<b></h4>
                    </div>

                </div>
            </div>
            <div class="modal-body">
                <div class="box-body clearfix" style="overflow-y: scroll; max-height: 500px;">

                  <div class="row" ng-repeat="value in commentslist">
                    <hr/>
                    <div class="col-md-2">
                      <small class="pull-left">Comment Type :  {{value.comment_type}}</small>
                    </div>
                    <div class="col-md-10">
                      <blockquote  class="pull-right">

                          <h5>{{value.comment}}</h5>
                          <small>By <cite title="Source Title">{{value.partner_name}}</cite>   On  <cite title="Source Title">{{value.date_updated}}</cite></small>

                      </blockquote>
                    </div>

                  </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
