<!-- Content Wrapper. Contains page content -->
<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>My Agents</h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-users"></i> Dashboard</a></li>
            <li class="active">My Aagents</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body" style="overflow: scroll;">
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Name'" filter="{ partner_name: 'text'}" sortable="'partner_name'" >{{value.partner_name}}</td>
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile Number'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <td title="'Status'" ng-if="!value.isEditable" filter="{ status: 'number'}" sortable="'status'">
                                  {{value.status == 1 ? "Active" : "Not Active"}}
                                </td>
                                <td title="'Status'" ng-if="value.isEditable" filter="{ status: 'number'}" sortable="'status'">
                                  <select class="form-control" ng-init="status = 'Please Select'" ng-model="value.status" >
                           <option>Please Select</option>
                           <option  value="1"> Active </option>
                           <option  value="0"> Not Active </option>
                        </select>
                      </td>
                                <td title="'Students Assigned'" filter="{ students_assgined: 'number'}" sortable="'students_assgined'"><a href="/students/assigned-me/all?agent={{value.partner_name}}" target="_blank">{{value.students_assgined}}</a></td>
                                <td ng-if="type != 'allleads'"><button ng-if="!value.isEditable" ng-click="editData(value)" class="btn btn-info">Edit</button></td>
                                <td title="'Application Actions'"><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button>
                                  <button ng-if="value.isEditable" ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
