<div id="myModalAscent" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="display: grid;">
      <div class="modal-body" style="padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
           <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
           <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
           <hr class="hrTop">
           <h5 class="imgTitle">Get the Lowest Interest rates in Town.</h5>
         </div>
         <div class="col-md-6">
           <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
           <div class="form-container registerForm1" >
               <form>
                  <div class="form-group" style="padding-top:10px;">
                     <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                  </div>
                  <div class="form-group">
                     <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                  </div>
                  <div class="form-group">
                     <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                  </div>
                  <div class="form-group">
                    <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                  </div>
                  <div class="form-group">
                    <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                  </div>
                  <div class="col-md-12" style="text-align: center;">
                     <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionUsBanks('myModalAscent')"> Register </button>
                  </div>
               </form>
           </div>
         </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalAscent').modal('show');
   }, 9000);
   //$('#myModalAscent').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Ascent Student Loans </h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Ascent Student Loans </h2>
                <p class="" style="text-align:justify;"> Student loans should expand your possibilities, not limit them.  Ascent’s private student loan gives students more opportunities to qualify for a loan! Ascent offers benefits that put students first, like 1% Cash Back Graduation Reward at graduation and more.</p>
                <ul>
                    <li><b>AWARD-WINNING</b> – Ascent was named Best Private Student Loan of 2021 by Forbes Advisor and NerdWallet (to name a few), because Ascent offers great rates and benefits for students and cosigners</li>
                    <li><b>MORE FLEXIBLE OPTIONS</b> – Choose from In School Interest-Only, In School $25 Minimum Payment or Defer Payments where you can start payments up to 9 months after graduation
                    <ul>
                      <li>Reduce Payments: If you need to make lower payments after graduation, consider Ascent’s Progressive Repayment option</li>
                      <li>Pause Payments: Ascent’s generous deferment and forbearance options allow you to temporarily pause payments if you qualify</li>
                    </ul>
                    </li>
                    <li><b>BUILD CREDIT IN YOUR OWN NAME</b> – Apply to release your cosigner after 24 consecutive on-time payments and meeting other criteria
                    <ul>
                      <li>Non-Cosigned loan option for juniors and seniors (one of the few lenders offering this nationwide, also available to DACA students)</li>
                    </ul>  
                    </li>
                    <li><b>FAST & EASY</b> – Check your pre-qualified rates in minutes without impacting your credit score</li>
                    <li><b>NO FEES</b> – No application, origination, or disbursement fees AND there’s no penalty if you pay off your loan early</li>
                    <li><b>FREE RESOURCES & APPS</b> – Ascent incorporates financial wellness throughout the application process and offers additional free resources to help you thrive throughout college and beyond</li>
                    
                </ul>
                <p class="" style="text-align:justify;">Ascent Student Loans are funded by Bank of Lake Mills or DR Bank, each Member FDIC. Loan products may not be available in certain jurisdictions. Certain restrictions, limitations; and terms and conditions may apply.  For Ascent Terms and Conditions please visit: <a href="https://ascentstudentloans.com/terms-conditions/?utm_source=partner&utm_campaign=EduLoans_Rev&utm_medium=EduLoans_Rev_Terms&utm_content=EduLoans_Rev_Terms" target="_blank"> www.AscentStudentLoans.com/Ts&Cs</a></p>
             <!--    <p class="" style="text-align:justify;"> <b>Vision :</b> To be the preferred financial solutions provider excelling in customer delivery through insight, empowered employees & smart use of technology.</p>
                <p class="" style="text-align:justify;"> <b>Mission :</b> Committed to providing Simple, Responsive & Innovative Financial Solutions.</p>
                <p class="" style="text-align:justify;"> <b>Values :</b> Customer Centricity / Ethics / Transparency / Teamwork / Ownership.</p> -->
            </div>
            <div class="col-md-12" style="text-align:justify;">
                <p>The key salient features of Ascent Student Loans are :</p>
                <ul class="nopadding">
                    <li><b>Interest Rates :</b> Ascent APRs with the 0.25% discount applied effective as of 1/1/2025:
                        <ul>
                            <li>Variable APR with ACH : 5.25% - 14.26% - Variable rates are changeable subject to general prevailing LIBOR monthly rates. The change generally happens every month. The spread between the LIBOR and your rates remain fixed during the tenure of the loan.
                            </li>
                            <li>Fixed APR with ACH : 3.39% - 14.16% - They are not subject to any changes. Any positive or adverse effect of change in LIBOR would not affect your loan interest rate.
                            </li>
                            <li>Rates are effective as of 1/1/2025 and reflect an automatic payment discount of either 0.25% (for credit-based loans) OR 1.00% (for undergraduate future income-based loans).  Automatic Payment Discount is available if the borrower is enrolled in automatic payments from their personal checking account and the amount is successfully withdrawn from the authorized bank account each month.  For Ascent rates and repayment examples please visit: <a href="https://ascentstudentloans.com/annual-percentage-rate-apr-sample/?utm_source=partner&utm_campaign=EduLoans_Rev&utm_medium=EduLoans_Rev_Disclaimer_APR_Link&utm_content=EduLoans_Rev_Disclaimer_APR" target="_blank"> www.AscentStudentLoans.com/Rates</a>
                            </li>
                        </ul></li>
                    <li>Increasing the FICO score requirement for “thin file” PTFI (Non-Cosigned Outcomes-Based) applicants with little to no credit history from 640 to
                        650 </li>
                    <li>Increasing the minimum income requirement for Non-Cosigned Credit-Based undergraduate and graduate borrowers and cosigners from $24,000 to
                        $30,000 </li>
                    <li><b>Cash Back Offer :</b> 1% Cash Back Graduation Reward subject to terms and conditions. <a href="https://ascentstudentloans.com/for-students/cashback/?utm_source=partner&utm_campaign=EduLoans_Rev_&utm_medium=EduLoans_Rev_Cash_Back&utm_content=EduLoans_Rev_Cash_Back" target="_blank"> Click here for details.</a></li>

                    <li><b>No application, origination or disbursement fees :</b> Ascent does not charge any origination fees, nor application fees. The entire process on online.</li>

                    <li><b>No Prepayment Penalty :</b> No penalty fee if you pay off your loan early. In case you pay your loan early you would be paying lower monthly payments when you graduate.</li>

                    <li><b>Moratorium Period :</b> Flexible plans with an option to postpone payments until after leaving school. During your application you would have to choose your plans as per your convenience. You could look for complete postponement, partial or interest only payment or complete payment while you are in school. The interest rate may vary for each type of payment.</li>

                    <li><b>Discount on Automation :</b> Get a discount if you setup automatic payments. Once you reach the U.S. and you setup an Automatic Debit facility you would receive a further discount of 0.25%.</li>

                    <li><b>Loan Amount :</b> Cover up to 100% of your college tuition and living expenses. Minimum loan amount of $2,001 up to $200,000 (or total cost of attendance less aid received). Ascent would provide funding as per I20 value and the entire amount semester wise would get credited to the University. Once the University has the entire fees the University would credit the student account with the living expenditure.</li>

                    <li><b>Tools for Financial Success :</b> It’s wrong to lose your financial freedom before you’ve even had a chance to earn it! As your financial partner, Ascent sets you up for future financial success. Ascent offers you free financial tools as part of the application process.</li>

                    <li><b>Loan Proceeds :</b> Door Step Home Service Available. Initially the documents are submitted by students to Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) & have The Credit Team / Underwriters, who get the Valuation & Legal Formalities done, post which they decide on the Sanctioning of the Loan. Once the loan is Sanctioned, Disbursements happen from these Loan Centre’s.</li>
                    <li><b>Eligibility :</b>  Ascent considers several factors which may include: creditworthiness, school, program, graduation date, major, cost of attendance and other factors. Ascent loans are for college students (both undergraduate and graduate) that are at least half-time enrolled in a degree program at an eligible institution. Non-U.S. citizens are required to upload the following documentation to verify identity as applicable to your individual resident status:
                        <ul>
                            <li> U.S. Permanent Resident Aliens: Permanent Resident Card (USCIS form I‐551); or</li>
                            <li>Non-Permanent Resident Aliens (temporary residents): Valid visa - acceptable forms: F-1; J-1, M-1; E-1; H-1; L-1; G series; TN-1; TN-2; and In addition to I or II above, applicants must upload the following:
                                <ul>
                                    <li>Unexpired foreign passport; and
                                    </li>
                                    <li>Copy of government issued document or identification that includes your national identification number.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                NOTE - For countries that include the national identification number on the passport, confirmation therein is sufficient.
                            </li>
                        </ul>

                    </li>

                </ul>
                <h2><b>Ascent New Rates Effective 1/1/2025: </b></h2>
               
                    <ul>
                        <li>
                            <ul>
                                <li><b>Variable APR with ACH:</b> 5.25% - 14.26% </li>
                                <li><b>Fixed APR with ACH:</b> 3.39% - 14.16% </li>
                            </ul>
                        </li>

                        <li><b>Extended Grace Period :</b>  WILL BE: 9 months  </li>

                        <li><b>Future Income-Based Loan Eligibility</b>
                            <ul>
                                <li>WILL BE: For undergraduate juniors and seniors
                                </li>
                                <li>WILL BE: Have satisfactory academic performance of 2.9+ GPA or greater.
                                </li>
                            </ul>
                        </li>

                        <li><b>Reminders</b>
                            <ul>
                                <li>If students are having trouble making payments, Ascent offers several deferment forbearance options, including Natural Disaster / Declared Emergency Forbearance to help students during the COVID-19 Pandemic. <a href="https://ascentstudentloans.com/terms-conditions/#deferment" target="_blank">Click here to learn more.</a>
                                </li>
                                <li>Ascent’s <b>minimum credit score is 540.</b> Cosigned Credit-Based Loan student borrowers must have a minimum credit score. The minimum score required is subject to change and may depend on the credit score of your cosigner.
                                </li>
                                <li>Ascent’s <b>pre-qual feature</b> allows borrowers to check their rates without impacting their credit score.</li>
                                <li>Ascent also offers a <b>1% cash back</b> at graduation.</li>
                            </ul>
                        </li>

                    </ul>

                <h3>UNDERGRADUATE Student Loans</h3>
                    <ul>
                        <li><b>Cosigned Rates :</b>
                            <ul>
                                <li><b>Variable APR with ACH:</b> 5.25% - 14.26% </li>
                                <li><b>Fixed APR with ACH:</b> 3.39% - 14.16% </li>
                            </ul>
                        </li>
                        <li><b>Non-Cosigned Credit Based Rates :</b>
                            <ul>
                                <li><b>Variable APR with ACH:</b> 8.38% - 13.61% </li>
                                <li><b>Fixed APR with ACH:</b> 8.61% - 14.01% </li>
                            </ul>
                        </li>
                        <li><b>Non-Cosigned Outcomes Based Rates :</b>
                            <ul>
                                <li><b>Variable APR with ACH:</b> 12.90% - 14.85% </li>
                                <li><b>Fixed APR with ACH:</b> 13.16% - 15.13% </li>
                            </ul>
                        </li>
                    </ul>
                <h3>GRADUATE Student Loans</h3>
                    <ul>
                        <li><b>Business (MBA) Rates :</b>
                            <ul>
                                <li><b>Variable APR with ACH:</b> 7.10% - 14.26% </li>
                                <li><b>Fixed APR with ACH:</b> 4.39% - 14.16% </li>
                            </ul>
                        </li>

                        <li><b>Medical (MD, DO, DVM, VMD, DPM) Rates</b>
                            <ul>
                                <li><b>Variable APR with ACH:</b> 7.10% - 14.51% </li>
                                <li><b>Fixed APR with ACH:</b> 4.39% - 14.16% </li>
                            </ul>
                        </li>

                        <li><b>Dental (DMD, DDS)</b>
                            <ul>
                                <li><b>Variable APR with ACH:</b> 7.10% - 14.51% </li>
                                <li><b>Fixed APR with ACH:</b> 4.39% - 14.16% </li>
                            </ul>
                        </li>
                        <li><b>Law (JD, LLM) Rates</b>
                            <ul>
                                 <li><b>Variable APR with ACH:</b> 7.10% - 14.56%  </li>
                                <li><b>Fixed APR with ACH:</b> 4.39% - 14.16% </li>
                            </ul>
                        </li>
                        <li><b>BGraduate (MA, MS, PhD) & Health Professionals (Allied Health, Nursing, Pharmacy)</b>
                            <ul>
                                <li><b>Variable APR with ACH:</b> 7.10% - 14.51%  </li>
                                <li><b>Fixed APR with ACH:</b> 4.39% - 14.16% </li>
                            </ul>
                        </li>
                      
                    </ul>
                <h3>Parent Loan Rates</h3>
                    <ul>
                        <li><b>Parent </b>
                            <ul>
                                <li><b>Parent Loan Variable Rates:</b> 5.30% - 15.51% </li>
                                <li><b>Parent Loan Fixed Rates:</b> 5.10% - 16.11% </li>
                            </ul>
                        </li>
                    </ul>
                    <h3>Note :</h3>
                     <ul>
                        <li>Maximum In-School period of 36-months (vs. 60-months for undergrad) : In-School period of 48-months for Medical and Dental course of study options</li>
                        <li>Grace period of 12-months for Dental students and 36-months for Medical students : 9-months for all other course of study options</li>
                        <li>There will be no 5-year term, but will add a 20-year variable rate term for Medical and Dental students</li>
                        <li>No Future Income-Based Loan eligibility for Graduate students anymore</li>
                    </ul>
            </div>
            <div>
                <b>* Subject to changes.</b>
            </div>
            <div>
                <p style="text-align:justify;">Ascent’s undergraduate and graduate student loans are funded by Bank of Lake Mills or DR Bank, each Member FDIC. Loan products may not be available in certain jurisdictions. Certain restrictions, limitations, terms and conditions may apply for Ascent's Terms and Conditions please visit: <a href="https://www.ascentfunding.com/terms-conditions/" target="_blank">AscentFunding.com/Ts&Cs.</a> Annual Percentage Rates (APRs) displayed above are effective as of 1/1/2025 and reflect an Automatic Payment Discount of 0.25% for credit-based college student loans and 1.00% discount on outcomes-based loans when you enroll in automatic payments. The Full P&I (Immediate) Repayment option is only available for college loans (except for outcomes-based loans) originated on or after June 3, 2024. For more information, see <a href="https://www.ascentfunding.com/annual-percentage-rate-apr-sample/" target="_blank">repayment examples</a> or review the <a href="https://www.ascentfunding.com/terms-conditions/#discount" target="_blank">Ascent Student Loans Terms and Conditions.</a> The final amount approved depends on the borrower’s credit history, verifiable cost of attendance as certified by an eligible school, and is subject to credit approval and verification of application information. Lowest interest rates require full principal and interest (Immediate) payments, the shortest loan term, a cosigner, and are only available for our most creditworthy applicants and cosigners with the highest average credit scores. Actual APR offered may be higher or lower than the examples above, based on the amount of time you spend in school and any grace period you have before repayment begins. 1% Cash Back Graduation Reward subject to terms and conditions. For details on Ascent borrower benefits, visit <a href="http://ascentfunding.com/BorrowerBenefits" target="_blank">AscentFunding.com/BorrowerBenefits.</a> The <a href="https://www.ascentfunding.com/student-success/" target="_blank">AscentUP</a> platform is only available to eligible Ascent borrowers and subject to terms and conditions.  </p>
            </div>
        </div>
    </div>
</section>
