<div id="myModalAuxilo" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Compare to get the Best deal for your Education Loan.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionNBFC('myModalAuxilo')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Auxilo</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Collateral (Secured) / Non Collateral (Unsecured) Overseas Education Loans through Auxilo</h2>
    			<p class="" style="text-align:justify;"> <b>Auxilo Finserve Pvt. Ltd.</b> is a pro-education NBFC poised on serving the financing gaps in the Indian education sector, with its focus on students and scaling the education infrastructure through innovative financial solution delivery. They effectively use technology to cater to the dynamic and challenging needs of the educational ecosystem and enable freedom of financial access throughout the nation by building inclusive financial algorithms and models that support the development of education. They aim to serve aspiring students across segments, be it Graduate or Post Graduate courses in India or abroad in countries like US, UK, Canada, New Zealand, Germany, Australia and any upcoming student-attractive countries.</p>
                <p class="" style="text-align:justify;"> <b>Vision :</b> To be a fair, valued and profitable institution with a healthy portfolio of happy customers.</p>
                <p class="" style="text-align:justify;"> <b>Mission :</b> To enable the freedom of financial access across the country by building inclusive financial algorithms and models that shall look at potential financing rather than the usual route of pure-play credit financing.</p>
                <p class="" style="text-align:justify;"> <b>Values :</b> Ingenuity / Agility / Integrity / Unity / Ownership.</p>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>The key salient features of Auxilo are :</b></p>
    			<ul class="nopadding">
    				<li><b>Pan India Reach :</b> Amongst other NBFC’s Auxilo has one of the Finest Network and Decent # of Servicing Offices throughout all major and minor cities in mostly all States of India. The loan processes through Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, which are the sanctioning authority.</li>
    				<li><b>Interest Rate :</b> They provide a very reasonable interest rate amongst all the NBFC’s for both Collateral and Non Collateral Loans.</li>
    				<li><b>High Loan Amount :</b> Auxilo is one of the Financial Institutions that can give the maximum loan amount (Upto Cost of Education) and up to Rs.35 Lakhs (Unsecured).</li>
    				<li><b>Consideration On Basis Of (Secured Loan) :</b> They  accept Residential property, Commercial property, non-agricultural land and Fixed Deposits.</li>
    				<li><b>Consideration On Basis Of (Unsecured Loan) :</b> The students profile, his competitive exam scores, University and Course applied for, Co-Applicants (Blood Relations / Maternity / Paternity 1st Relatives) IT Returns and Cibil Report.</li>
                    <li><b>Margin Money :</b> This is the amount that a student is supposed to pay from his side on every disbursement. Auxilo gives 100 % funding, Zero Margin Money.</li>
    				<li><b>Loan to Value :</b> For Secured Loans Auxilo provides approximately 100 % of the value of the Mortgaged Collateral. They do the latest property evaluation. Property Valuation or Cost of Education whichever is lower is funded.</li>
    				<li><b>Repayment Period :</b> They have a long term for the repayment of the Loan which is up to 10 years (120 months) and EMI starts after the Moratorium Period .</li>
    				<li><b>Moratorium Period :</b> Moratorium on repayment during study period available <b>+ 6 Months to 1 Year</b> after completion of course.</li>
    				<li><b>Loan Proceeds : Door Step Home Service Available.</b> Initially the documents are submitted by students to Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, who get the Valuation and Legal Formalities done, post which they decide on the Sanctioning of the Loan. Once the loan is Sanctioned, Disbursements happen from these Loan Centre’s.</li>
                    <li><b>Time for Processing :</b> Auxilo is a large organization and Education Loans are done through their Loan Centre’s which are faster compared to other Financial Institutions. The average turnaround time is at least 15-20 days (for both Secured and Unsecured Loans).</li>
    				<li><b>Processing Fees :</b> 1 % of the Loan Amount + GST which can be considerable on Case to Case basis.</li>
    				<li><b>Universities Funded :</b> Auxilo funds majority of the universities and also majority of the courses (Mostly Masters - MS) under Secured and Unsecured Loans.</li>
    				<li><b>Pre Sanction Letter :</b> They can give a Sanction Letter prior to receiving I20 for US. Validity of Sanction Letter is up to <b>6 months</b> (Can be extended). Funds can be used by students to show for their I20 and Visa purpose.</li>
    				<li><b>Flexible Repayment Options :</b> Partial payment of Interest option available during Moratorium Period (Case to Case Basis and Country Specific).</li>
    			</ul>
    		</div>
            <div>
                <b>* Subject to changes.</b>
            </div>
    	</div>
    </div>
</section>
<script type="text/javascript">
  /*$(document).ready(function(){
    var isLoggedIn = getCookie('login_id');

    if(!isLoggedIn)
    {
    setTimeout(function () {
        $('#myModalAuxilo').modal('show');
   }, 9000);
 }
   //$('#myModalAuxilo').modal('show');
 });*/
</script>
