<style type="text/css">
  .spanText{
    font: 550 14px Open Sans, sans-serif;
  }
   /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
   #sidebar-wrapper {
   /*margin-left: -250px;
   left: 250px;*/
   width: 275px;
   background: white;
   position: fixed;
   height: 85%;
   /*top: 85px;*/
   /*overflow-y: auto;*/
   overflow: overlay;
   transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
   }
  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
 /*  #page-content-wrapper {
   width: 100%;
   }*/
   .sidebar-nav {
   position: absolute;
   top: 0;
   width: 275px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav li {
   line-height: 20px;
   text-indent: 0px;
   }
   .sidebar-nav li a {
   color: #f9992f;
   display: block;
   text-decoration: none;
   padding-left: 38px;
    margin-left: 10px;
   }
   .sidebar-nav li a span:before {
   position: absolute;
   left: 0;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav li a span b{
   font: 550 14px Open Sans, sans-serif !important;
   }
   .sidebar-nav li a:hover,
   .sidebar-nav li.active {
   color: #014b79;
   background: rgba(230, 227, 224, 0.41);
   text-decoration: none;
   }
   .sidebar-nav li a:active,
   .sidebar-nav li a:focus {
   text-decoration: none;
   }
   .sidebar-nav > .sidebar-brand {
   height: 65px;
   line-height: 60px;
   font-size: 18px;
   }
   .sidebar-nav > .sidebar-brand a {
   color: #f9992f;
   }
   .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
   }

   .sidebar-nav-sub {
   position: inherit;
   top: 0;
   width: 250px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav-sub li {
   line-height: 40px;
   text-indent: 12px;
   }
   .sidebar-nav-sub li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding-left: 25px;
   }
   .sidebar-nav-sub li a span:before {
   position: absolute;
   left: 7;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav-sub li a:hover,
   .sidebar-nav-sub li.active {
   color: #014b79;
   background: rgba(243, 243, 243, 0.57);
   text-decoration: none;
   }
   .sidebar-nav-sub li a:active,
   .sidebar-nav-sub li a:focus {
   text-decoration: none;
   }
   .sidebar-nav-sub > .sidebar-brand {
       height: 31px;
    line-height: 20px;
    font-size: 16px;
   }
   .sidebar-nav-sub > .sidebar-brand a {
   color: rgba(153, 153, 153, 0.8117647058823529);
   }
   .sidebar-nav-sub > .sidebar-brand a:hover {
   color: #014b79;
   background: white;
   }

   .content-header {
   height: 65px;
   line-height: 65px;
   }
   .content-header h1 {
   margin: 0;
   margin-left: 20px;
   line-height: 65px;
   display: inline-block;
   }
   #menu-toggle {
   text-decoration: none;
   }
   .btn-menu {
   color: #000;
   }
   .inset {
   padding: 5px 20px 20px 20px;
   }

   @media screen and (max-width: 992px){
   #sidebar-wrapper {
   left: 0;
   width: inherit;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   @media (max-width:767px) {
  /* #wrapper {
   padding-left: 0;
   }*/
   #sidebar-wrapper {
   left: 0;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
   }

   .legendTwo{
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
   }

   .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
     /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
     box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
}
</style>
<div id="myModalAvanse" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Confused on the Best Loan Options, Avanse has Over 80 Products to choose from.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                 <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                               </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionNBFC('myModalAvanse')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalAvanse').modal('show');
   }, 9000);
   //$('#myModalAvanse').modal('show');
 });*/
</script>
<section id="imgSec" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">Avanse Education Loan</h1>
           </div>
       </div>
   </div>
   </section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea" >
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
          <div id="sidebar-wrapper">
           <nav id="spy">
              <ul class="sidebar-nav nav">
                 <li>
                    <a href="#home"><span class="fa fa-bank solo" ><b>Home</b></span></a>
                 </li>
                 <li>
                    <a href="#Overview" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Overview</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#KeyFeatures" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Key Features & Benefits</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#Documentation" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Documentation</b></span>
                    </a>
                 </li>
                <li>
                    <a href="#Apply" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>How to apply</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#typesLoan" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Features</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#LoanAmount" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Loan Amount</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#LoanAgainstCol" data-scroll>
                            <span class="fa fa-angle-right solo"><b>% of LAP Collateral</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#CollPro" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Collateral Property</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#StuProf" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Student’s Profile</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#IR" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Interest Rate</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#InterestPaying" data-scroll>
                            <span class="fa fa-angle-right solo" > <b>Interest Paying</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#LoanEligibility" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Eligibility</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#EMICalc" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>EMI Calculator</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#FAQs" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>FAQs</b></span>
                    </a>
                 </li>
              </ul>
           </nav>
          </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
         <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">
               <div class="jumbotron text-center" style="margin-bottom: 15px;">
                  <img src="images/AvanceBanner.jpg" class="img-responsive">
                  <h2 style="font-size: 30px">Avanse Education Loan</h2>
                  <p style="font-size: 18px">Avanse, a non-banking financial institution that focuses on providing financial help to students so that they can cover their various educational needs and achieve their dreams. Established in 2013, the company is on a journey to accomplish a strong leadership position in the Education Lending platform by providing finance-related solutions to individuals and Indian institutions. The company provides solutions for all the segments of the Indian education sector along with building an effective education infrastructure in the country.</p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="Overview">Overview</h3>
                  <p>
                    Avanse makes sure that it provides a hassle-free <b>Avanse Education loan</b> application process to help students reach prominent Indian and foreign educational platforms. Students can apply for an <b>Avanse education loan</b> or <b>Avanse overseas education loan</b> even before enrolling in the desired courses. But the disbursal of loan is only applicable after securing a seat in a professional or technical program with a recognized institute.  Avanse Financial Services Limited is a new age NBFC with an aim to provide complete, seamless, and affordable education financing solutions to all the deserving students of India.
                    </p>
                    <p><b>Avanse Education loan</b> is designed to finance education across a wide range of student needs with promising financial solutions like</p>
                    <ul>
                        <li>Higher Education – Loans for Study in India</li>
                        <li>Higher Education – Loans for International Studies</li>
                        <li>School Fee Financing</li>
                        <li>Education Loans for E-Learning</li>
                        <li>Education Loans for Vocational Courses</li>
                    </ul>
                    <p>The company has helped over 40,000 students fulfill their education dreams in more than 45 countries including India, Canada, UK, the US, Australia, and Germany.</p>
               </div>

               <!-- Second -->
               <div class="col-md-12">
                  <h3 class="legendOne" id="KeyFeatures">Avanse Education Loan Key Features and Benefits</h3>
                  <p>By offering easy accessibility to <b>Avanse education loans</b>, the company helps thousands of students fulfill their dreams without depleting their or their parent’s savings. Some of the key few features and benefits of <b>Avanse Education Loan</b> are:</p>
                    <ol>
                        <li><b>Total Coverage- Avanse Education loan</b> covers up to 100 percent of the cost of the student’s education signifying a zero margin money. The cost includes course fee along with the living expenses during the tenure of study.</li>
                        <li><b>Competitive Interest Rates</b>- The company offers a competitive interest rate for <b>Avanse education loans</b> and <b>Avanse overseas education loans</b> so that the students can pursue their dreams without paying extravagant costs.</li>
                        <li><b>Finance for Non-Traditional Courses-</b> The company provides medical help to all the professional and technical courses starting from engineering, medical, and management degrees to photography or film-making.</li>
                        <li><b>Credible Source-</b> Avanse is a registered NBFC that is regulated by RBI. Being a part of the renowned investment firm Warner Pincus, Avanse makes sure that they are providing secured funding and have immense finances.</li>
                        <li><b>Easily Accessible-</b> The application process of the <b>Avanse Education loan</b> is very convenient and user-friendly. The students are just required to fill out the form online and they can get a call from a representative who can also pay a visit to their home guide you through the entire application process details and transparency.
                        </li>
                    </ol>
               </div>


               <!-- Third -->
               <div class="col-md-12 wellBox">
                <legend class="legendOne" id="Documentation">Documentation Required for Avanse Education Loan</legend>
                <p><b>For applicants:</b></p>
                <ul>
                    <li>Proof of admission</li>
                    <li>Academic documents</li>
                    <li>Fee structure</li>
                    <li>Age proof</li>
                    <li>Identity proof</li>
                    <li>Address proof</li>
                    <li>Signature verification</li>
                    <li>Colour photos – 2 numbers</li>
                </ul>
                <p><b>For Co-applicants:</b></p>
                <ul>
                    <li>Relationship proof with the applicant</li>
                    <li>Income proof</li>
                    <li>Collateral documents</li>
                    <li>Bank statement – 8 months</li>
                    <li>Age proof</li>
                    <li>Identity proof</li>
                    <li>Address proof</li>
                    <li>Signature verification</li>
                    <li>Colour photos – 2 numbers</li>
                </ul>

               </div>


               <div class="col-md-12 wellBox">
                <legend class="legendOne" id="Apply">How to apply for Avanse Overseas Education Loan?</legend>
                <ul>
                    <li>Visit <b>Avanse Education Loan</b> Section on the eduloans.org </li>
                    <li>Answer a few basic questions about the place you plan to study and how much loan would you like to apply for</li>
                    <li>Enter your name as per your PAN Card, Date of Birth, Gender, Email ID, and contact details</li>
                    <li>Select your co-borrower and enter their employment details like occupation and monthly income</li>
                    <li>Lastly, tick the box for terms and conditions and click on ‘See Offers’.</li>
                </ul>
                <p>A page for <b>Avanse Education Loan</b> will occur wherein you can get details about the tentative EMI amount as per the loan amount. If you are satisfied with the details of interest rates and you can click on ‘Apply Now’. Your application will be accepted and will be processed further by Eduloan’s <b>Avanse Education Loan</b> Department.</p>
               </div>

               <div class="col-md-12">
                  <h3 class="legendOne" id="typesLoan">Avanse Student Education Loan Features</h3>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="LoanAmount">1. Loan Amount</legend>
                  <p>Avanse provides a secured loan up to any amount with deviation for preferential list universities and up to 45 lakhs for an unsecured loan.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="LoanAgainstCol">2. Percentage of Loan Against Collateral Provided</legend>
                  <p>The bank provides a loan amount up to 70 percent of Property’s Realizable Value loan up to 100 percent of FD value. </p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="CollPro">3. Collateral Property</legend>
                  <p>To get secured <b>Avanse education loan</b>, the students need to keep their property (non-agriculture land) of FD and LIC for any bank as collateral. For an unsecured loan, Avanse requires academic details of the student along with the details of competitive exam performance and university and courses applied to. The company will also need details about the co-signer’s financial such as IT returns and CIBIL score.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="StuProf">4. Student’s Profile</legend>
                  <p>To provide an <b>Avanse education loan</b> to any applicant, the bank will check the academic background of the student (no. of KTs throughout his last education) along with the course and country of the institution he is planning to study.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="IR">5. Interest Rate</legend>
                  <p>Avanse charges negotiable loan interest between 11 percent to 14.50 percent for both secured and unsecured loans.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="InterestPaying">6. Interest Paying During Moratorium Period</legend>
                  <p>The bank also provides an option of paying the interest on Avanse overseas education loan during the moratorium period or along with EMIs.</p>
               </div>


               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="LoanEligibility">Avanse Education Loan Eligibility</h3>
                    <ul>
                        <li>An applicant should be above the age of 18 years to apply for an Avanse education loan</li>
                        <li>The applicant should be an Indian citizen</li>
                        <li>The applicant should have secured admission in a recognized educational institute</li>
                        <li>An applicant should have an earning co-borrower to co-sign the loan. The co-borrower can be a parent, relative, legal guardian, or sibling of the student.</li>
                        <li>The co-borrower should have an Indian bank account with cheque writing facilities.</li>
                    </ul>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="EMICalc">Bank of Baroda Education Loan EMI Calculator</h3>
                  <p>Visit : <a href="https://www.avanse.com/education-loan-calculators/emi-calculator" target="_blank">Avanse Education Loan EMI Calculator</a></p>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="FAQs">Avanse Overseas Education Loan FAQs:</h3>
                  <ol>
                    <li><b> How much loan amount can Avanse lend?</b>
                    <p><i class='fa fa-angle-double-right'></i> Avanse does not have any cap on the <b>Avanse education loan</b> amount. It offers up to 100% coverage of the loan amount which also includes the living expenses during the period of study. But these expenses should not exceed 20% of the tuition fees. The company also offers other additional costs like caution deposit and building fund but they should not be more than 10 percent of the tuition fees.</p></li>

                    <li><b>What is the holiday or moratorium period offered by Avanse?</b>
                    <p><i class='fa fa-angle-double-right'></i> Students applying for <b>Avanse education loan</b> or <b>Avanse overseas education loan</b> can get relief for up to six months after the completion of the course or three months after getting a job (whichever comes first).</p></li>

                    <li><b>What are the minimum and maximum repayment periods offered by Avanse?</b>
                    <p><i class='fa fa-angle-double-right'></i> The minimum repayment period for the <b>Avanse education loan</b> is 12 months and the maximum repayment period is 120 months in addition to the moratorium period offered.</p></li>

                    <li><b>Will the rate of interest change during the loan tenure?</b>
                    <p><i class='fa fa-angle-double-right'></i> Avanse offers loans at floating rates therefore the interest rate may change during the loan tenure.</p></li>

                    <li><b> Is it possible to reapply in case the loan application had been rejected in the past?</b>
                    <p><i class='fa fa-angle-double-right'></i> Avanse allows the reapplication of a loan even after rejection but it is always recommended to double-check the eligibility criteria before reapplying for your <b>Avanse education loan</b>. </p></li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
   /*Menu-toggle*/
   // $("#menu-toggle").click(function(e) {
   //     e.preventDefault();
   //     $("#wrapper").toggleClass("active");
   // });
   //var offset = 80;
   /*Scroll Spy*/

   $('.scrollSpyArea').scrollspy({ target: '#spy', offset:200});

    headerHeight = $("#header").height() + 5;
    secHeight = $("#imgSec").height() + headerHeight;

   /*Smooth link animation*/
   $('a[href*=#]:not([href=#])').click(function() {
      $('#sidebar-wrapper').css({'top' : headerHeight });
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - headerHeight
               }, 1000);
               return false;

           }

       }

   });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function(event){
     var st = $(this).scrollTop();
     if (st > lastScrollTop){
         // downscroll code
          $('#sidebar-wrapper').css({'top' : headerHeight });
     } else {
     }
     lastScrollTop = st;
  });
  $(window).scroll(function(){
    if ($(this).scrollTop() == '0') {
        var element = document.getElementById('sidebar-wrapper');
        element.style.top = null;
    }
});

</script>




<!-- <section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">AVANSE</h1>
            </div>
        </div>
    </div>
</section> -->

<!-- <section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Collateral (Secured) / Non Collateral (Unsecured) Overseas Education Loans through AVANSE</h2>
    			<p class="" style="text-align:justify;"> <b>AVANSE</b> is a new age, fast growing education focused NBFC, that is currently on a transformational journey to become a diversified, customer-centric NBFC. With their new age, flexible and tailored financial solutions, AVANSE addresses higher education needs of the Indian youth by making higher education affordable. In a short span of time, AVANSE has fulfilled dreams of over 13,000* academic aspirants in over 45+ countries including US, UK, Canada, Australia, Germany and others.</p>
                <p class="" style="text-align:justify;"> <b>Vision :</b> Best in class Customer Centric Diversified NBFC operating across the domains of Consumer, MSME and Commercial Businesses with Leadership Position in Education Loans.</p>
                <p class="" style="text-align:justify;"> <b>Cultural Pillars :</b> Governance, Transparency, Meritocracy, Inclusivity and Happiness Quotient.</p>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>The key salient features of AVANSE are :</b></p>
    			<ul class="nopadding">
    				<li><b>Pan India Reach :</b> AVANSE with its industry expertise extensive research data, can assist you through the competitive space of higher education by not only providing you a student loan for studying abroad but also key insights in your trip to success. Amongst the NBFC’s it has one of the Biggest Network and Highest number of Servicing Offices throughout all major and minor cities in mostly all States of India. The loan processes through Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, which are the sanctioning authority.</li>
    				<li><b>Interest Rate :</b> They provide a very reasonable interest rate amongst all the NBFC’s for both Collateral and Non Collateral Loans. Presently the ROI (Rate Of Interest) range is between 11.00 % to 13.00 % for Secured Loans (Negotiable) and between 11.50 % to 13.00 % for Unsecured Loans (Negotiable).</li>
    				<li><b>High Loan Amount :</b> AVANSE is one of the Financial Institutions that can give the maximum loan amount (No Upper Limit for Secured) and up to Rs.40 Lakhs (Unsecured).</li>
    				<li><b>Consideration On Basis Of (Secured Loan) :</b> Property (Not Agricultural Land) , FD's, Traditional LIC policy.</li>
    				<li><b>Consideration On Basis Of (Unsecured Loan) :</b> The students profile, his competitive exam scores, University and Course applied for, Co-Applicants (Blood Relations) IT Returns and Cibil Report.</li>
                    <li><b>Margin Money :</b> This is the amount that a student is supposed to pay from his side on every disbursement. AVANSE gives 100 % funding, instead of the students having to use partial funds of their own.</li>
    				<li><b>Loan to Value :</b> For Secured Loans AVANSE provides approximately 100 % of the value of the Mortgaged Collateral. They do the latest property evaluation and provide loan maximum up to 100 % for the student.</li>
    				<li><b>Repayment Period :</b> They have a long term for the repayment of the Loan which is up to 10 years (120 months) and it starts after the Moratorium Period gets over.</li>
    				<li><b>Moratorium Period :</b> Moratorium on repayment during study period available <b>+ 6 Months to 1 Year</b> after completion of course.</li>
    				<li><b>Loan Proceeds : Door Step Home Service Available.</b> Initially the documents are submitted by students to Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, who get the Valuation and Legal Formalities done, post which they decide on the Sanctioning of the Loan. Once the loan is Sanctioned, Disbursements happen from these Loan Centre’s.</li>
                    <li><b>Credit Grading :</b> For Secured Loan they look at Students Profile, Parents IT Returns, Cibil Report and Collateral Security. Weak IT returns of parents are sometimes considered in case the former are strong. So it’s a mix of various factors that they consider for loan processing.</li>
    				<li><b>Time for Processing :</b> AVANSE is a large organization and Education Loans are done through their Loan Centre’s which are faster compared to other Financial Institutions. The average turnaround time is at least 8-10 days (for both Secured and Unsecured Loans).</li>
    				<li><b>Processing Fees :</b> 1 % of the Loan Amount + GST which can be considerable on Case to Case basis.</li>
    				<li><b>Universities Funded :</b> AVANSE funds majority of the universities and also majority of the courses under Secured and Unsecured Loans.</li>
    				<li><b>Pre Sanction Letter :</b> They can give a Sanction Letter prior to receiving I20 for US. Validity of Sanction Letter is up to <b>6 months</b> (Can be extended). Funds can be used by students to show for their I20 and Visa purpose.</li>
                    <li><b>Flexible Repayment Options :</b> Partial payment of Interest option available during Moratorium Period (Case to Case Basis and Country Specific).</li>
    			</ul>
    		</div>
            <div>
                <b>* Subject to changes.</b>
            </div>
    	</div>
    </div>
</section> -->
