<div id="myModalAXIS" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Get Dedicated Axis Bank RM at your door step. </h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionNatPriv('myModalAXIS')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalAXIS').modal('show');
   }, 9000);
   //$('#myModalAXIS').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Axis Bank</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <img src="images/AxisBanner.jpg" class="img-responsive">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Collateral (Secured) / Non Collateral (Unsecured) Overseas Education Loans through Axis Bank</h2>
                <p class="" style="text-align:justify;"> <b>Axis Bank</b> is the 3rd Largest Private Sector bank in India. The Bank offers the entire spectrum of financial services to customer segments covering Large & Mid-Corporates, MSME, Agriculture & Retail Businesses.</p>
                <p class="" style="text-align:justify;"> <b>Vision :</b> To be the preferred financial solutions provider excelling in customer delivery through insight, empowered employees & smart use of technology.</p>
                <p class="" style="text-align:justify;"> <b>Mission :</b> Committed to providing Simple, Responsive & Innovative Financial Solutions.</p>
                <p class="" style="text-align:justify;"> <b>Values :</b> Customer Centricity / Ethics / Transparency / Teamwork / Ownership.</p>
            </div>
            <div class="col-md-12" style="text-align:justify;">
                <p>The key salient features of Axis Bank are :</p>
                <ul class="nopadding">
                    <li><b>Pan India Reach :</b> Axis Bank is one of the 1st new generation private sector banks to have begun operations in 1994. Very few Private Banks or financial institutions in India can compete with Axis Bank, as it has a large footprint of 3,964 domestic branches (including extension counters) with 12,705 ATMs & 3,548 cash recyclers spread across the country as on 31st December, 2018 & it covers all major & minor cities in mostly all States of India. The loan processes through Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) & have The Credit Team / Underwriters, which are the sanctioning authority.</li>
                    <li><b>Attractive Interest Rate :</b> Axis Bank provides a very competitive interest rate in the Private Banking Sector for both Collateral & Non Collateral Loans. Presently the ROI (Rate Of Interest) range is between 11.00 % to 13.00 % for Secured Loans (Negotiable) & between 11.50 % to 13.00 % for Unsecured Loans (Negotiable).</li>
                    <li><b>High Loan Amount :</b> Axis Bank is one of the private banks that can give maximum loan amount <b>(No Upper Limit for Secured)</b> & up to Rs.40 Lakhs (Unsecured). They fund for Undergraduate Courses, which has a higher requirement, as not all Financial Institutions do the same.</li>
                    <li><b>Consideration On Basis Of (Secured Loan) :</b> Property (Not Agricultural Land) , FD's, Traditional LIC policy, Mutual Funds, Shares & Government Bonds.</li>
                    <li><b>Consideration On Basis Of (Unsecured Loan) : Selective Universities as per their Prime List,</b> the students profile, their competitive exam scores, University & Course applied for, Co-Applicants (Blood Relations) IT Returns & Cibil Report.</li>
                    <li><b>Tax Benefit :</b> Interest paid on education loan to bank is Tax waived under section 80E. This benefit is available to the Co-Applicant / Co-Signor. This deduction under Section 80E is over & above the Rs.1.50 Lakhs deduction allowed under Section 80C & there is no maximum limit for claiming this deduction under Section 80E.</li>
                    <li><b>Margin Money :</b> This is the amount that a student is supposed to pay from their side on every disbursement. Axis Bank requires that the student compulsorily pays 15 % of the cost of education on their own. They would be ready to fund up to a maximum of 85 % of the total loan required by the student.</li>
                    <li><b>Loan to Value :</b> Axis Bank provides approximately 85 % of the value of the Mortgaged Collateral (If Co-Applicant is Salaried) & up to 75 % of the value of the Mortgaged Collateral (If Co-Applicant is Self Employed) & up to 65 % for unapproved university's. They do the latest property evaluation & provide loan maximum up to 85 % for the student</li>
                    <li><b>Repayment Period :</b> They have a long term for the repayment of the Loan which is up to 15 years (180 months) & it starts after the Moratorium Period gets over.</li>
                    <li><b>Moratorium Period :</b> Moratorium on repayment during study period available <b>+ 6 Months</b> (for Unsecured Loans) & 1 Year after completion of course (for Secured Loans).</li>
                    <li><b>Loan Proceeds :</b> Door Step Home Service Available. Initially the documents are submitted by students to Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) & have The Credit Team / Underwriters, who get the Valuation & Legal Formalities done, post which they decide on the Sanctioning of the Loan. Once the loan is Sanctioned, Disbursements happen from these Loan Centre’s.</li>
                    <li><b>Credit Grading :</b> For Secured Loan the bank looks at Students Profile, Parents IT Returns, Cibil Report & Collateral Security. Axis Bank is heavily dependent on the security provided for the loan followed by the student profile. Weak IT returns of parents are sometimes considered in case the former are strong. Additional Co-applicants / Co-signors can even be a 3rd party instead of a relative, if their Collateral Mortgage has to be considered.</li>
                    <li><b>Time for Processing :</b> Axis Bank is a large organization & Education Loans are done through their Loan Centre’s which are faster compared to other banks. The average turnaround time is at least 7 working days (for Secured Loans) & 4 working days (for Unsecured Loans).</li>
                    <li><b>Low Processing Fees :</b> Very economical processing fees of Rs.15,000 + GST (Refundable) for amount of loan up to 20 Lakhs. If the loan amount is above 20 Lakhs there would be no processing fees for the initial 20 Lakhs & 0.75 % processing fees for anything above 20 Lakhs (Non Refundable). These are the same for both Secured & Unsecured Loan Options. Property Valuation & Legal charges are extra for the Secured Loan.</li>
                    <li><b>Universities Funded :</b> Axis Bank funds majority of the universities & also majority of the courses under Secured Loans. They fund only <b>Selective Universities as per their Prime List</b> under Unsecured Loans.</li>
                    <li><b>Sanction Letter :</b> They can give a Sanction Letter prior to receiving I20 for US. Validity of Sanction Letter is up to <b>6 months for Secured & up to 2 months for Unsecured</b> (Can be extended).</li>
                    <li><b>Partial Collateral Facility :</b> If the amount of loan required is more than the Unsecured eligibility for a student then additional amount can be taken by mortgaging a Collateral (Non Agricultural Property, FD’s, LIC Policy, Shares, Mutual Funds, Govt. Bonds).</li>
                    <li><b>Balance Transfer Facility :</b> An existing loan of a customer that’s going on with some other Financial Institution can be taken over by doing a payment to the latter of the full remaining Balance.</li>
                </ul>
            </div>
            <div>
                <b>* Subject to changes.</b>
            </div>
        </div>
    </div>
</section>
