<div id="myModalBajaj" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Compare to get the Best deal for your Education Loan.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalBajaj')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalBajaj').modal('show');
   }, 9000);
   //$('#myModalBajaj').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Bajaj Finserv</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Collateral / Secured Overseas Education Loans through Bajaj Finserv</h2>
    			<p class="" style="text-align:justify;"> <b>Bajaj Finserv</b> is an NBFC which offers customized Loan Against Property to salaried and self-employed individuals. Flight tickets, tuition fees and living expenses – fund your child’s higher education conveniently and affordably with a Loan Against Property for Education.</p>
                <p class="" style="text-align:justify;"> <b>Brand Belief :</b> Our brand embodies our belief to continuously reinvent to drive positive change. We use innovation as the fulcrum of change to create new ways that inspire better, bolder realities. We pursue beyond what is.</p>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>The key salient features of Bajaj Finserv are :</b></p>
    			<ul class="nopadding">
    				<li><b>Pan India and Global Reach :</b> Bajaj Finserv provides a loan against property for education purposes at affordable interest rates. All financial services from Bajaj Finserv are available at minimal processing and administrative charges. You can part-prepay or prepay your loan anytime at negligible charges. The loan processes directly through Loan Centre’s which are the sanctioning authority which decrease the time taken to process the loan.</li>
    				<li><b>Low Interest Rate :</b> Bajaj Finserv provides the most competitive interest rate to the student. Presently the ROI (Rate Of Interest) is 10.50 % (Salaried) and 10.60 % (Self Employed).</li>
    				<li><b>High Loan Amount :</b> With a Bajaj Finserv Loan Against Property, salaried individuals can get a loan of up to Rs.1 Crore. Self-employed individuals can access a loan of up to Rs.3.5 Crore. They fund for Undergraduate Courses, which has a higher requirement, as not all Financial Institutions do the same.</li>
    				<li><b>Consideration On Basis Of :</b> Property (Not Agricultural Land). Your Mortgage Loan from Bajaj Finserv is processed within 72 hours and requires minimal paperwork. You also get the convenience of doorstep service.</li>
    				<li><b>Margin Money :</b> This is the amount that a student is supposed to pay from his side on every disbursement. The student has to Compulsorily pay 10 % of the cost of education on his own. They would be ready to fund up to a maximum of 90 % of the total loan required by the student.</li>
                    <li><b>Loan to Value :</b> They provide approximately 75 % of the value of the mortgaged collateral. They do the latest property evaluation and provide loan up to 75 % for the student.</li>
    				<li><b>Repayment Period :</b> They have a long term for the repayment of the Loan which is up to 20 years (240months) and it starts after the Moratorium Period gets over. Salaried personnel can choose a tenor ranging from 2 to 20 years. Self-employed individuals can opt for a tenor of up to 18 years to repay the loan. You can prepay or part-prepay your loan conveniently easily.</li>
    				<li><b>Moratorium Period :</b> With Bajaj Finserv the student pays Interest Amount during moratorium period which is only until the Entire Sanctioned Loan Amount is utilized. The EMI’s start as soon as the entire loan amount is utilized.</li>
    				<li><b>Loan Proceeds :</b> Door Step Home Service Available. Initially the documents are submitted by students to Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, who get the Valuation and Legal Formalities done, post which they decide on the Sanctioning of the Loan. Once the loan is Sanctioned, Disbursements happen from these Loan Centre’s.</li>
    				<li><b>Credit Grading :</b> They looks at Students Profile, Parents IT Returns, Cibil Rating and Collateral Security. Bajaj Finserv is heavily dependent on the security provided for the loan followed by the Co-signor profile.</li>
                    <li><b>Time for Processing :</b> Bajaj Finserv is a large organization Loan for education purpose are done through Loan Centre’s and Sanction happens within 3-5 Business Day after submission of all documents.</li>
    				<li><b>Low Processing Fees :</b> 1 % of the Loan Amount + GST which can be considerable on Case to Case basis.</li>
    				<li><b>Universities Funded :</b> Bajaj Finserv funds majority of the universities and also majority of courses.</li>
    				<li><b>Flexible Repayment Options :</b> Flexible Repayment Options with payment of interest only during flexi period. Borrow as you go with a single application through with the Flexi Loan feature. You pay interest only on the amount utilized. Manage your finances better with interest-only EMIs for the four few years. Complete flexibility on disbursal with treatment of loan like an overdraft facility.</li>
    			</ul>
    		</div>
            <div>
                <b>* Subject to changes.</b>
            </div>
    	</div>
    </div>
</section>
