<style type="text/css">
  .spanText{
    font: 550 14px Open Sans, sans-serif;
  }
   /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
   #sidebar-wrapper {
   /*margin-left: -250px;
   left: 250px;*/
   width: 275px;
   background: white;
   position: fixed;
   height: 85%;
   /*top: 85px;*/
   /*overflow-y: auto;*/
   overflow: overlay;
   transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
   }
  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
 /*  #page-content-wrapper {
   width: 100%;
   }*/
   .sidebar-nav {
   position: absolute;
   top: 0;
   width: 275px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav li {
   line-height: 20px;
   text-indent: 0px;
   }
   .sidebar-nav li a {
   color: #f9992f;
   display: block;
   text-decoration: none;
   padding-left: 38px;
    margin-left: 10px;
   }
   .sidebar-nav li a span:before {
   position: absolute;
   left: 0;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav li a span b{
   font: 550 14px Open Sans, sans-serif !important;
   }
   .sidebar-nav li a:hover,
   .sidebar-nav li.active {
   color: #014b79;
   background: rgba(230, 227, 224, 0.41);
   text-decoration: none;
   }
   .sidebar-nav li a:active,
   .sidebar-nav li a:focus {
   text-decoration: none;
   }
   .sidebar-nav > .sidebar-brand {
   height: 65px;
   line-height: 60px;
   font-size: 18px;
   }
   .sidebar-nav > .sidebar-brand a {
   color: #f9992f;
   }
   .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
   }

   .sidebar-nav-sub {
   position: inherit;
   top: 0;
   width: 250px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav-sub li {
   line-height: 40px;
   text-indent: 12px;
   }
   .sidebar-nav-sub li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding-left: 25px;
   }
   .sidebar-nav-sub li a span:before {
   position: absolute;
   left: 7;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav-sub li a:hover,
   .sidebar-nav-sub li.active {
   color: #014b79;
   background: rgba(243, 243, 243, 0.57);
   text-decoration: none;
   }
   .sidebar-nav-sub li a:active,
   .sidebar-nav-sub li a:focus {
   text-decoration: none;
   }
   .sidebar-nav-sub > .sidebar-brand {
       height: 31px;
    line-height: 20px;
    font-size: 16px;
   }
   .sidebar-nav-sub > .sidebar-brand a {
   color: rgba(153, 153, 153, 0.8117647058823529);
   }
   .sidebar-nav-sub > .sidebar-brand a:hover {
   color: #014b79;
   background: white;
   }

   .content-header {
   height: 65px;
   line-height: 65px;
   }
   .content-header h1 {
   margin: 0;
   margin-left: 20px;
   line-height: 65px;
   display: inline-block;
   }
   #menu-toggle {
   text-decoration: none;
   }
   .btn-menu {
   color: #000;
   }
   .inset {
   padding: 5px 20px 20px 20px;
   }

   .regbutton{
    color:#c1c1ca;
    background-color: #014b79;
    
   }

   @media screen and (max-width: 992px){
   #sidebar-wrapper {
   left: 0;
   width: inherit;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   @media (max-width:767px) {
  /* #wrapper {
   padding-left: 0;
   }*/
   #sidebar-wrapper {
   left: 0;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
   }

   .legendTwo{
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
   }

   .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
     /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
     box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
}
</style>
<div id="myModalBOB" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Direct Connection + Finest Rates.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionNatPriv('myModalBOB')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalBOB').modal('show');
   }, 9000);
   //$('#myModalBOB').modal('show');
 });*/
</script>
<section id="imgSec" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">Bank Of Baroda (BOB)</h1>
           </div>
       </div>
   </div>
   </section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea" >
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
          <div id="sidebar-wrapper">
           <nav id="spy">
              <ul class="sidebar-nav nav">
                 <li>
                    <a href="#home"><span class="fa fa-bank solo" ><b>Home</b></span></a>
                 </li>
                 <li>
                    <a href="#Overview" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Overview</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#KeyFeatures" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Key Features & Benefits</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#BarodaVidya" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Baroda Vidya</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#BarodaGyan" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Baroda Gyan</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#BarodaScholar" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Baroda Scholar</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#LoanDoc" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Documentation</b></span>
                    </a>
                      <ul class="sidebar-nav-sub nav">
                         <li class="sidebar-brand">
                            <a href="#Documentation" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Documentation</b></span>
                            </a>
                         </li>
                      </ul>
                 </li>

                 <li>
                    <a href="#typesLoan" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Features</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#LoanAmount" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Loan Amount</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#LoanAgainstCol" data-scroll>
                            <span class="fa fa-angle-right solo"><b>% of LAP Collateral</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#CollPro" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Collateral Property</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#StuProf" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Student’s Profile</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#IR" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Interest Rate</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#InterestPaying" data-scroll>
                            <span class="fa fa-angle-right solo" > <b>Interest Paying</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#LoanEligibility" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Eligibility</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#EMICalc" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>EMI Calculator</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#FAQs" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>FAQs</b></span>
                    </a>
                 </li>
              </ul>
           </nav>
          </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
         <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">
               <div class="jumbotron text-center" style="margin-bottom: 15px;">
                <img src="images/BOBBanner.jpg" class="img-responsive">
                  <h2 style="font-size: 30px">Bank of Baroda Education Loan</h2>
                  <p style="font-size: 18px">Quality education is one of the most important gears in the wheel of life which in today’s world has become an extremely expensive proposition. To help aspiring students reach their goal and attain a good academic background, Bank of Baroda has come up with a number of <b>Bank of Baroda Education Loan</b> options that can help students seek financial help at affordable interest rates. The <b>Bank of Baroda Education Loan</b> ensures that its specialized options like Baroda Vidya, Baroda Scholar, Baroda Gyan, and Baroda Education Loan for Vocational Education & Training suit the requirements of every individual.</p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 wellBox">
                  <h2 class="legendOne" id="Overview">Overview: Bank of Baroda Education Loan</h2>
                  <p>
                    Bank of Baroda is one of the premier Indian state-run financial services institutions which was established in the year 1908, serving across 21 countries. It has been a beautiful journey which started with a small building in Baroda and now has a new hi-rise and hi-tech Baroda Corporate Centre in Mumbai.  With almost 9445 branches in India and 100 branches abroad, the bank has been the second-largest bank in India in terms of assets. Under its range of domestic <b>Bank of Baroda education loan</b> and <b>Bank of Baroda overseas education loan</b> product, the institute provides numerous offers that have been customized to finance different levels of students’ academic needs starting from the basic school education (nursery to 10+2) to undergraduate and postgraduate degrees.<b>Bank of Baroda Education Loan</b>is a true solace for many overseas aspirants.

                    </p>
               </div>

               <!-- Second -->
               <div class="col-md-12">
                  <h3 class="legendOne" id="KeyFeatures">Bank of Baroda Education Loan Key Features and Benefits</h3>
                  <p>Some of the important features of various Bank of Baroda Education loan are:</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="BarodaVidya">Apply for Baroda Vidya Loan for Higher Studies</h2>
                  <p>One of the major features of <b>Bank of Baroda education loan</b> is the Baroda Vidya education loan which is customized for the students who wish to pursue school education starting fro Nursery to Senior Secondary School. The main features of this type of loan are:</p>
                  <table class="table table-bordered">
                      <tr>
                        <th>Loan Amount of <b>Bank of Baroda education loan</b></th>
                        <td>Rs. 4 lakhs</td>
                      </tr>
                      <tr>
                        <th>Eligibility for <b>Bank of Baroda education loan</b></th>
                        <td>
                            <ol>
                                <li>Only for Indian nationals, residing in India</li>
                                <li>The applicant should have secured admission in a recognized institute with ICSE, state board, or CBSE for courses like Stage I( Nursery to Std. V), Stage II(Std. VI to Std. VIII), and Stage III( Std. IX to Std. XII).</li>
                            </ol>
                        </td>
                      </tr>
                      <tr>
                        <th>Interest Rate of <b>Bank of Baroda education loan</b></th>
                        <td>
                            <ol>
                                <li><b>Bank of Baroda education loan</b> up to Rs.4 lakhs: Base Rate + 2.50 percent</li>
                            </ol>
                            Note :-
                            <ol>
                                <li>Fee payable to college / school.</li>
                                <li>Examination / Library / Laboratory Fee.</li>
                                <li>Fee and other charges payable to hostel.</li>
                                <li>Purchase of books / equipments / instruments / uniforms.</li>
                                <li>Personal Computers / Laptops wherever required.</li>
                                <li>Caution deposit / building fund / refundable deposit supported by instituion bills / receipts.</li>
                                <li>Cost of external coaching/tuition is not to be considered</li>
                            </ol>
                        </td>
                      </tr>
                      <tr>
                        <th>Processing Fee of <b>Bank of Baroda education loan</b></th>
                        <td>There are no processing fees and documentation charges in Baroda Vidya’s under <b>Bank of Baroda education loan</b>.</td>
                      </tr>
                      <tr>
                        <th>Security of <b>Bank of Baroda education loan</b></th>
                        <td>No security. If the loan is being taken for the purchase of items like a computer or laptop, then those items will be pledged as security for the loan.</td>
                      </tr>
                      <tr>
                        <th>Margin of <b>Bank of Baroda education loan</b></th>
                        <td>None</td>
                      </tr>
                      <tr>
                        <th>Repayment Tenure of <b>Bank of Baroda education loan</b></th>
                        <td>It is important to repay the yearly sub-limit in 12 EMIs. The first installment is due 12 months after the dispersal of every year’s loan component.</td>
                      </tr>
                  </table>
               </div>

               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="BarodaGyan">Apply for Baroda Gyan Education Loan for Abroad Studies</h2>
                  <p>Baroda Gyan is one of the features that come under the <b>Bank of Baroda education loan</b> and applies to the students who wish to pursue their undergraduate and postgraduate courses or any other professional courses within India. Some of the features that make this <b>Bank of Baroda education loan</b> student-friendly are:</p>
                  <table class="table table-bordered">
                      <tr>
                        <th>Maximum Loan Limit</th>
                        <td>Normal 10 Lakhs. The maximum loan amount for this <b>Bank of Baroda education loan</b>  is Rs. 80 lakhs for medical & aviation education and Rs. 60 lakhs for other courses</td>
                      </tr>
                      <tr>
                        <th>Eligibility</th>
                        <td>
                            <ul>
                                <li>Graduation courses : BA, B.Com, B.Sc., etc</li>
                                <li>Post Graduation courses : Masters and Phd.</li>
                                <li>Professional courses like: Engineering, Medical, Agriculture, Veterinary, Law, Dental, Management, Architecture, Computer etc.</li>
                                <li>(Management courses include Hotel Mgt., Hospitality Mgt., Event Mgt., Mass Communication etc offered by reputed institutions having assured employment prospects)</li>
                                <li>Computer certificate courses of reputed institutes accredited</li>
                                <li>to Dept. of Electronics or institutes affiliated to an approved university.</li>
                                <li>Courses like ICWA, CA, CFA etc.</li>
                                <li>Courses conducted by IIM, IIT, IISc, XLRI. NIFT etc.</li>
                                <li>Regular Degree / Diploma courses like Aeronautical, Pilot training, Shipping etc., approved by the Director General of Civil Aviation / Shipping.</li>
                                <li>Courses offered in India by reputed Foreign Universities.</li>
                                <li>Evening courses of approved institutes.</li>
                                <li>Other courses leading to diploma / degree etc. conducted by colleges / universities approved by UGC / Govt./ AICTE / AIBMS / ICMR etc.</li>
                                <li>Teachers Training Course / Nursing Course / BEd will be eligible for education loan provided the training institutions are approved either by the Central Government or by State Government and such courses should lead to Degree or Diploma Courses and not to Certificate Course. Branches can consider the request for an education loan under our “Baroda Gyan Scheme” for the above courses. The fees to be considered for purpose should be the fees structure as approved by the State Government or Government approved Regulatory Body for merit seats in Government Colleges / Private Self Financing Colleges, Cooperative and Colleges run by Universities, as the case may be.</li>
                            </ul>
                            <p>The <b>Bank of Baroda Education Loan</b> scheme applies to merit students who are eligible for a seat under the merit quota but pursue a course under the management quota.</p>
                            <p>The management quota seats that are under the <b>Bank of Baroda education loan</b> scheme and the fees applicable to these seats (authorized by State Government will be taken subject to viability of repayment</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Interest Rate</th>
                        <td>
                            <ol>
                                <li>BRLLR +2.00% (including Strategic Premium)</li>
                            </ol>
                            Note :-
                            <ol>
                                <li>Female students under <b>Bank of Baroda education loan</b> get an applicable 0.50 percent concession.</li>
                                <li>The bank will charge simple interest through the moratorium period with monthly rests.</li>
                                <li>If the loan amount is more than two lakhs, the penal interest at the rate of two percent will apply to the overdue amount.</li>
                                <li>Added concession of one percent applies to the students who are admitted in some of the premier institutions like IIT, AIIMS, IIM, IIFT, ISB, NIT, IISc, XLRI, MDI, and SPJIM.</li>
                            </ol>
                        </td>
                      </tr>
                      <tr>
                        <th>Processing Fee</th>
                        <td>No processing charges for this <b>Bank of Baroda education loan</b>.</td>
                      </tr>
                      <tr>
                        <th>Security</th>
                        <td>
                            <p>No security for loan amount up to rupees four lakhs in this <b>Bank of Baroda education loan</b>.</p>
                            <p>Loan amount from to rupees four lakhs to rupees seven and a half lakhs: third party assignment towards future salaries and guarantee towards loan repayment.</p>
                            <p>Loan amount above seven and a half lakh: Tangible collateral as security that is equal to 100 percent of the loan amount. Also the assignment of future salaries towards loan repayment.</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Margin</th>
                        <td>
                            <p>None for loans up to rupees four lakhs.</p>
                            <p>Five percent for loan above rupees four lakhs.</p>
                            <p><b>Note-</b> Margin is applied on a pro-rata basis on a yearly basis as and when disbursements are availed.</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Repayment Tenure</th>
                        <td>
                            <p>For loan amount up to rupees seven and a half lakhs, repayment should be in maximum 120 installments</p>
                            <p>Loan amount above rupees seven and a half lakhs and a repayment in max 180 installments</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Moratorium Period</th>
                        <td>
                            <p>The repayment holiday starts from Course Period + one year or six months after getting the job (whichever comes first).</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Expenses Covered</th>
                        <td>
                             <ol>
                                <li>The fee of the institute</li>
                                <li>Fee for the library, examination, hostel, and laboratories</li>
                                <li>Purchase of books, uniform, instruments, and equipment</li>
                                <li>Purchase of personal laptop or computer only if it is necessary for the course</li>
                                <li>Extra payments like Caution deposit, building funds, and Refundable deposit which are backed up with proper receipts and bills.</li>
                                <li>Additional expenses that are important for the completion of the course including projects, study tours, and thesis.</li>
                            </ol>
                        </td>
                      </tr>
                      <tr>
                        <th>Perks</th>
                        <td>
                            Free Debit Card comes with this <b>Bank of Baroda education loan</b>.
                        </td>
                      </tr>
                  </table>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="BarodaScholar">Baroda Scholar Education Loan For Abroad Studies</h2>
                  <p>This is one of the specialized offerings from <b>Bank of Baroda overseas education loan</b> department exclusively for the students who want to take up higher studies in some reputed universities in the foreign land. Some of the key features of this loan are:</p>
                  <table class="table table-bordered">
                      <tr>
                        <th>Maximum Loan Limit</th>
                        <td>Rs. 60 lakhs for non Premier, 80 Lakhs for Premier</td>
                      </tr>
                      <tr>
                        <th>Eligibility</th>
                        <td>
                            <ul>
                                <li>The applicant must be an Indian citizen and should have got admission in a reputed college abroad in some professional/technical course.</li>
                            </ul>
                            <p>The <b>Bank of Baroda Education Loan</b> scheme applies to merit students who are eligible for a seat under the merit quota but pursue a course under the management quota.</p>
                            <p>The management quota seats that are under the <b>Bank of Baroda education loan</b> scheme and the fees applicable to these seats (authorized by State Government will be taken subject to viability of repayment</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Interest Rate</th>
                        <td>
                           <p>Loans up to rupees four lakhs: Base Rate + 2.50 percent</p>
                            <p>Loans from rupees four lakhs to rupees seven and a half lakhs: Base Rate + 2.50 percent</p>
                            <p>Loans above rupees seven and a half lakhs: Base Rate + 1.75%</p>
                            <p><b>Bank of Baroda Overseas Education Loan</b> for Vocational Education and Training: Base Rate + 2.00 percent</p>
                            <p><b>Note-</b> Female students under this <b>Bank of Baroda education loan</b> will get a concession of .5 percent. Also, the simple interest will be charged through the moratorium period with monthly rests. If the loan amount is more than two lakhs rupees, a panel interest rate of two percent will be applied to the overdue amount. Students admitting to some premier institutions like IIT, IIFT, IIM, AIIMS, NIT, MDI, XLRI, and SPJIM will get an added concession of one percent.</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Processing Fee</th>
                        <td>INR 10,000 that is refundable upon acquisition of the loan.</td>
                      </tr>
                      <tr>
                        <th>Security</th>
                        <td>
                            <p>Loan amount up to rupees four lakhs: None</p>
                            <p>Loan amount from four lakhs to seven and a half lakhs: Third-party guarantee and assignment of future salaries towards loan repayment.</p>
                            <p>Loan amount above rupees seven and a half lakhs: Tangible collateral as security equivalent to 100 percent of the loan amount. Plus the assignment of future salaries towards loan repayment.</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Margin</th>
                        <td>
                            0 to 10.00 percent
                        </td>
                      </tr>
                      <tr>
                        <th>Repayment Tenure</th>
                        <td>
                            <p>Loan amount up to rupees seven and a half lakhs  and the repayment in maximum 120 installments</p>
                            <p>Loan amount above rupees seven and a half lakhs and the repayment within180 installments</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Moratorium Period</th>
                        <td>
                            The repayment holiday applies from the course Period + six months or one year after getting the job (whichever comes first).
                        </td>
                      </tr>
                      <tr>
                        <th>Expenses Covered</th>
                        <td>
                            <ol>
                                <li>The fee of the institute</li>
                                <li>Fee for the library, examination, hostel, and laboratories</li>
                                <li>Purchase of books, uniform, instruments, and equipment</li>
                                <li>Purchase of personal laptop or computer only if it is necessary for the course</li>
                                <li>Extra payments like Caution deposit, building funds, and Refundable deposit which are backed up with proper receipts and bills.</li>
                                <li>Additional expenses that are important for the completion of the course including projects, study tours, and thesis.</li>
                                <li>Expenses for one-way travel.</li>
                            </ol>
                        </td>
                      </tr>
                      <tr>
                        <th>Course Eligibility</th>
                        <td>
                            <ol>
                                <li>All undergraduate, Doctorate, post-graduate, and Technical courses along with other job oriented courses offered by recognized foreign Universities.</li>
                                <li>Degree/Diploma in Aeronautical, shipping, and pilot training which are approved by Director General of Civil Aviation/shipping in India as well as a competent local aviation/shipping authority.</li>
                            </ol>
                        </td>
                      </tr>
                  </table>
               </div>
               <!-- call action button code -->
               <div class="col-md-12 wellBox">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <p>Register Now !!!!!!!</p>
                    </div>
                    <div class="col-md-6">
                      <!-- Button with Bootstrap classes and data attributes -->
                      <button class="btn regbutton" data-toggle="register" data-target="#registerPage" onclick="redirectToLink()">Register Now</button>
                    </div>
                  </div>
                </div>
               </div>

               <div class="col-md-12 wellBox">
                  <h2 class="legendOne" id="LoanDoc">Bank of Baroda Overseas Education Loan Documentation</h2>
                    <p><b>Bank of Baroda education loan</b> documentation is a simple process and doesn’t involve any hard-core paperwork. It can be conducted online without paying any physical visits to the banks. However, the process may vary depending on the criteria set by different banks or lending organizations. Some banks who are extremely strict with their conditions may reject the application with failure to submit all the required documents.</p>
               </div>


               <!-- Third -->
               <div class="col-md-12 wellBox">
                <h2 class="legendTwo" id="Documentation">Required Documents for this <b>Bank of Baroda Study Abroad education loan</b></h2>
                 <ul>
                    <li>Duly filled and signed application form with the applicant’s affixed photographs</li>
                    <li>Two passport size photographs</li>
                    <li>One copy of exam mark sheets of the latest education certificate</li>
                    <li>Statement of course expenses/cost of study</li>
                    <li>Aadhaar Card and Pan Card of the Student and Parent/ Guardian</li>
                  </ul>
                  <p><b>Age proof</b></p>
                    <ul>
                        <li>Copy of Aadhaar Card /Voter ID/Passport/Driving License</li>
                    </ul>
                    <p><b>Identity proof</b></p>
                    <ul>
                        <li>Copy of Voter ID/Aadhaar Card/Driving License/Passport</li>
                    </ul>
                    <p><b>Residence proof</b></p>
                    <ul>
                        <li>Rental agreement/guarantor/Bank statement of 6 months of the student or co-borrower/Copy of Ration card/Gas Book/Electricity Bill/Tel Bill</li>
                    </ul>
                    <p><b>Income proof</b></p>
                    <ul>
                        <li>Most recent salary slips or Form 16 of the parent/ co-borrower/guardian</li>
                        <li>Six months bank statement of the borrower or updated passbook of bank</li>
                        <li>Updated ITR (Income Tax Return with income computation) of two years or IT assessment order of last two years of parent/ guardian/co-borrower</li>
                        <li>Documents stating the assets and liabilities of the parent/co-borrower/guardian</li>
                    </ul>
               </div>
               <div class="col-md-12">
                  <h3 class="legendOne" id="typesLoan">Bank of Baroda Overseas Education Loan/ Bank of Baroda Student Education Loan Features</h3>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="LoanAmount">1. Loan Amount for <b>Bank of Baroda education loan</b></legend>
                  <p>The Bank of Baroda provides loans upto 80 lakhs with deviation for preferential list universities and 60 lakhs with deviation for other universities. In some cases, it can provide a loan above 60 lakhs for universities that are not listed in the preferential list.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="LoanAgainstCol">2. Percentage of Loan Against Collateral Provided inder this <b>Bank of Baroda education loan</b></legend>
                  <p>The bank provides a loan amount upto 90 percent of Property’s Realizable Value and FD value and loan upto 80 percent of the LIC Surrender value and KPV and NSC Value. If the student is admitted to one of the universities listed in the preferential list, they can get a loan upto 100 percent of the property value. </p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="CollPro">3. Collateral Property for this <b>Bank of Baroda education loan</b></legend>
                  <p>If the students are keeping their property as security, they will have to submit all the required registered documents of the property along with occupational certificate and completion certification registered by the Municipal corporation of India. Also the property should be a non-agriculture land and should be inside the premises of the city.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="StuProf">4. Student’s Profile required for this <b>Bank of Baroda education loan</b></legend>
                  <p>To provide <b>Bank of Baroda overseas education loan</b> to any applicant, the bank will check the academic background of the student (no. of KTs throughout his last education) along with the course and institution he is applying for. </p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="IR">5. Interest Rate on this <b>Bank of Baroda education loan</b></legend>
                  <p>Bank of Baroda charges are prime lending rate + 2% for non premier and for premier they are lending rate + 0.75% on repo rate. The bank also gives a concession of .5 percent for female applicants and .75 percent discount for Preferential List Universities.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="InterestPaying">6. Interest Paying During Moratorium Period under this <b>Bank of Baroda education loan</b></legend>
                  <p>The bank also provides an option of paying the interest on <p>Bank of Baroda overseas education loan</p> during moratorium period or along with EMIs.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="LoanEligibility">Bank of Baroda Education Loan Eligibility</h3>

                  <table class="table table-bordered">
                      <tr>
                        <th>Parameters of this <b>Bank of Baroda education loan</b></th>
                        <th>Bank of Baroda Education Loan Eligibility Criteria</th>
                      </tr>
                      <tr>
                        <td>Age of the Applicant</td>
                        <td>
                            <ul>
                                <li>Up to 35 years for non-employed people</li>
                                <li>Up to 45 years in the case of working employees and executives</li>
                            </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>Who can apply</td>
                        <td>
                            <ul>
                                <li>Indian Nationals with secured admission to any professional or technical course in a recognized institution.</li>
                                <li>Permanent employees who are employed at least for three years with any organization and wish to gain higher professional qualifications. These professionals should also have secured admissions in a reputed institute.</li>
                            </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>Maximum Loan Amount</td>
                        <td>
                            <ul>
                                <li>Upto Rs. 8,000,000 for studies in India</li>
                                <li>Upto Rs. 8,000,000 under <b>Bank of Baroda overseas education loan</b> studies abroad.</li>
                                <li>Upto Rs. 8,000,000 for studies at IIT's, ISB's, and IIM's. </li>
                            </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>Repayment Frequency</td>
                        <td>
                            <ul>
                                <li>Quarterly or monthly rests.</li>
                                <li>Repayment of Education Loans typically starts one year after completing the course or six months after getting a job, whichever is earlier.</li>
                                <li>Loan interest re‐payment will start immediately after disbursement of the first installment of the loan. </li>
                            </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>Repayment Period</td>
                        <td>
                            <ul>
                                <li>The entire tenure of a <b>Bank of Baroda education loan</b> includes Duration of Study, Grace Period after the Study, and Repayment Period.</li>
                                <li>For Indian courses, repayment tenure is maximum of 15 years after the commencement of repayment.</li>
                                <li>For Abroad courses, repayment tenure is maximum of 15 years after the commencement of repayment. </li>
                            </ul>
                        </td>
                      </tr>
                  </table>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="EMICalc">Bank of Baroda Education Loan EMI Calculator</h3>
                  <table class="table table-bordered">
                      <tr>
                        <th></th>
                        <th>Courses in India</th>
                        <th>Courses Abroad</th>
                        <th>IIT, IIM, ISB Courses</th>
                      </tr>
                      <tr>
                        <th><b>Max Loan Amount fot Bank of Baroda education loan</b></th>
                        <td>Rs. 80 Lakh</td>
                        <td>Rs. 80 Lakh</td>
                        <td>Rs. 80 Lakh</td>
                      </tr>
                      <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><b>Loans upto Rs. 4 lakh</b></td>
                        <td>8.40% - 10.40%</td>
                        <td>9.65 % - 10.40% , for Girls - 9.15%</td>
                        <td>8.40 %</td>
                      </tr>
                      <tr>
                        <td>Loans Rs. 4.0 - 7.5 lakh</td>
                        <td>8.40 % - 10.40%</td>
                        <td>9.65 % - 10.40% , for Girls - 9.15%</td>
                        <td>8.40 % - 10.40%</td>
                      </tr>
                      <tr>
                        <td>Loans > Rs. 7.5 lakh</td>
                        <td>8.40 % - 10.40%</td>
                        <td>9.65 % - 10.40% , for Girls - 9.15%</td>
                        <td>8.40 % - 10.40%</td>
                      </tr>
                      <tr>
                        <th><b>Margin requirement (own contribution by student/ family)</b></th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Loans upto Rs. 4 lakh</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>0%</td>
                      </tr>
                      <tr>
                        <td>Loans above Rs. 4 lakh</td>
                        <td>5%</td>
                        <td>10%</td>
                        <td>5%</td>
                      </tr>
                      <tr>
                        <th><b>Max Tenure Post Moratorium</b></th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Loans upto Rs. 7.5 lakh</td>
                        <td>10 years</td>
                        <td>10 years</td>
                        <td>10 years</td>
                      </tr>
                      <tr>
                        <td>Loans above Rs. 7.5 lakh</td>
                        <td>15 years</td>
                        <td>15 years</td>
                        <td>15 years</td>
                      </tr>
                      <tr>
                        <th><b>Co-Applicant required (Y/N)</b></th>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Yes</td>
                      </tr>
                      <tr>
                        <th><b>Third Party Guarantee</b></th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Loans upto Rs. 4 lakh</td>
                        <td>Not required</td>
                        <td>Not required</td>
                        <td>Not required</td>
                      </tr>
                      <tr>
                        <td>Loans Rs. 4.0 - 7.5 lakh</td>
                        <td>Required</td>
                        <td>Required</td>
                        <td>Required</td>
                      </tr>
                      <tr>
                        <td>Loans > Rs. 7.5 lakh</td>
                        <td>Not required</td>
                        <td>Not required</td>
                        <td>Not required</td>
                      </tr>
                      <tr>
                        <th>Collateral Security (Fixed deposit/ Property, LIC)</th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Loans upto Rs. 4 lakh</td>
                        <td>Not required</td>
                        <td>Not required</td>
                        <td>Not required</td>
                      </tr>
                      <tr>
                        <td>Loans Rs. 4.0 - 7.5 lakh</td>
                        <td>Not required</td>
                        <td>Not Required</td>
                        <td>Not Required</td>
                      </tr>
                      <tr>
                        <td>Loans > Rs. 7.5 lakh</td>
                        <td>Required</td>
                        <td>Required</td>
                        <td>Required</td>
                      </tr>
                      <tr>
                        <th><b>Prepayment Charges (Y/N)</b></th>
                        <td>Nil</td>
                        <td>Nil</td>
                        <td>Nil</td>
                      </tr>
                      <tr>
                        <th><b>Moratorium Period (lower of the two)</b></th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>After course period</td>
                        <td>12 months</td>
                        <td>12 months</td>
                        <td>12 months</td>
                      </tr>
                      <tr>
                        <td>After getting job</td>
                        <td>6 months</td>
                        <td>6 months</td>
                        <td>6 months</td>
                      </tr>
                  </table>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="FAQs">Bank of Baroda Overseas Education Loan FAQs:</h3>
                  <ol>
                    <li><b>What is a ‘Financing Branch’ under Bank of Baroda Education Loan?</b>
                    <p><i class='fa fa-angle-double-right'></i> The Bank of Baroda branch that is closest to the applicant’s permanent address usually dispenses the <b>Bank of Baroda education loan</b> and therefore is termed as ‘Financing Branch’.</p>
                    </li>

                    <li><b>How will Bank of Baroda track the educational progress of the applicant, borrower, or student?</b>
                    <p><i class='fa fa-angle-double-right'></i> To apply for <b>Bank of Baroda education loan</b>, the bank will ask the applicant to submit their progress reports to the bank regularly so that the bank can keep a record of their progress. </p>
                    </li>

                    <li><b>Is the applicant’s or student’s lodging and boarding covered in the subscribed Bank of Baroda education loan?</b>
                    <p><i class='fa fa-angle-double-right'></i> If the student doesn’t secure the hostel facility offered by the concerned college or institution, they can seek to lodge elsewhere. The student has to confirm the authenticity of the place they are staying at to allow the bank directly remit the expenses to the boarding and lodging facility.</p>
                    </li>

                    <li><b>What does ‘Margin' mean in the context of education loans?</b>
                    <p><i class='fa fa-angle-double-right'></i> ‘Margin’ is termed as the <b>difference between the loan amount promised by the bank and the actual disbursed amount</b>. For instance- The Bank of Baroda Scholar education loan comes with a <b>margin of 15 percent</b>, which means, if the loan amount is four lakhs, only 85 percent of that amount, i.e 3 lakhs forty thousands will actually be disbursed to you. The margin will demand that collateral/security worth this amount be deposited with the bank before the student’s receive the four lakhs funds. </p>
                    </li>

                    <li><b>How much time does Bank of Baroda take to process education loan?</b>
                      <p><i class='fa fa-angle-double-right'></i> Bank of Baroda typically <b>approve education loans online within 2 to 3 days</b>. After approval, you may be required to <b>visit the branch where the loan was sanctioned and provide the necessary documents. For loans of up to ₹7.5 lakhs</b>, both the applicant and their parents must visit the branch with identification proof, address proof, Aadhaar Cards, PAN Cards, and Income Tax Returns if applicable. </p>
                    </li>

                    <li><b>What is the entire processing time for a loan with (BOB) Baroda education loan?</b>
                      <p><i class='fa fa-angle-double-right'></i> The entire loan processing time at BOB <b>typically spans approximately 1-2 months</b>.</p>
                    </li>

                    <li><b>What is the highest loan amount one can get for overseas studies?</b>
                      <p><i class='fa fa-angle-double-right'></i> The highest loan amount available <b>for overseas studies is up to 1.5 crore Indian Rupees</b>.</p>
                    </li>

                    <li><b>What is the interest rate on Bank of Baroda education loan?</b>
                      <p><i class='fa fa-angle-double-right'></i> The interest rate for the (BoB) Bank of Baroda <b>education loan varies from 7.85% to 9.0%, depending on the college or university you are applying</b> to.</p>
                    </li>

                    <li><b>What is the tenure of a (BoB) Baroda education loan?</b>
                      <p><i class='fa fa-angle-double-right'></i> The (BoB) Bank of Baroda education loan can have a repayment <b>period of up to 15 years</b>.</p>
                    </li>

                    <li><b>If my parents have passed away, can my brother act as a co-applicant?</b>
                      <p><i class='fa fa-angle-double-right'></i> Yes, <b>your brother is eligible</b> to be your co-applicant.</p>
                    </li>

                    














                  </ol>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
   /*Menu-toggle*/
   // $("#menu-toggle").click(function(e) {
   //     e.preventDefault();
   //     $("#wrapper").toggleClass("active");
   // });
   //var offset = 80;
   /*Scroll Spy*/


   $('.scrollSpyArea').scrollspy({ target: '#spy', offset:200});

    headerHeight = $("#header").height() + 5;
    secHeight = $("#imgSec").height() + headerHeight;

   /*Smooth link animation*/
   $('a[href*=#]:not([href=#])').click(function() {
      $('#sidebar-wrapper').css({'top' : headerHeight });
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - headerHeight
               }, 1000);
               return false;

           }

       }

   });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function(event){
     var st = $(this).scrollTop();
     if (st > lastScrollTop){
         // downscroll code
          $('#sidebar-wrapper').css({'top' : headerHeight });
     } else {
     }
     lastScrollTop = st;
  });
  $(window).scroll(function(){
    if ($(this).scrollTop() == '0') {
        var element = document.getElementById('sidebar-wrapper');
        element.style.top = null;
    }
});

</script>

<!-- link for reister -->
<script>
  
  function redirectToLink() {
    
    window.location.href = 'user/register';
  }
</script>


<!--
<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Collateral / Secured Overseas Education Loans through Bank of Baroda</h2>
    			<p class="" style="text-align:justify;"> <b>Bank Of Baroda (BOB)</b> is the only Indian bank that has Preferential Pricing for select Universities. They also offer 100 % funding for Overseas Education (Selective Universities). It is India’s International Bank and the 2nd Largest Bank in India. The Bank is Proud to serve over 82 Million Customers across 22 Countries. Loan product for Overseas Education is called <b>Baroda Scholar</b>.</p>
                <p class="" style="text-align:justify;"> <b>Mission :</b> To be a top ranking National Bank of International Standards committed to augmenting stake holders' value through concern, care and competence.</p>
                <p class="" style="text-align:justify;"> <b>Building Bridges For Indian Diaspora :</b> Since 1953 the Bank has come a long way in expanding its international network to serve NRIs/PIOs, Indian Corporates around the world and to meet the banking requirements of the local population in the country of operation. The Bank has transformed into 'India's International Bank'.</p>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>The key salient features of Bank Of Baroda are :</b></p>
    			<ul class="nopadding">
    				<li><b>Pan India and Global Reach :</b> Being the 2nd Largest Bank in India it can compete with other Nationalized / PSU (Public Sector) Banks, as it covers all major and minor cities in mostly all States of India and has a Global reach due to it’s presence in most of the countries worldwide. The loan processes directly through Loan Cells called SMS, from where it goes to Gandhinagar in Gujarat (Centralized Processing Centre) which are the sanctioning authority. BOB’s Education Loans are exclusively for full-time regular courses at foreign Colleges / Universities.</li>
    				<li><b>Low Interest Rate :</b> BOB provides the most competitive interest rate to the student. Presently the ROI (Rate Of Interest) is 10.70 %.</li>
    				<li><b>Special Rate :</b> 0.50 % is a special concession available on ROI (Rate Of Interest) for Girl Students and can be enjoyed only with Nationalized / PSU (Public Sector) Banks which come under RBI guidelines.</li>
    				<li><b>Discount :</b> 0.75 % if the students university name is in their <b>Preferential List Of Universities</b>.</li>
    				<li><b>High Loan Amount :</b> Maximum loan amount as per Baroda Scholar is up to Rs.80 Lakhs and above that amount as well only with Deviation (Case to Case Basis). They fund for Undergraduate Courses, which has a higher requirement, as not all Financial Institutions do the same.</li>
                    <li><b>Consideration On Basis Of :</b> Property (Not Agricultural Land) , FD's and Traditional LIC policy.</li>
    				<li><b>Tax Benefit :</b> Interest paid on education loan to bank is Tax waived under section 80E. This benefit is available to the Co-Applicant / Co-Signor. This deduction under Section 80E is over and above the Rs.1.50 Lakhs deduction allowed under Section 80C and there is no maximum limit for claiming this deduction under Section 80E.</li>
    				<li><b>Margin Money :</b> This is the amount that a student is supposed to pay from their side on every disbursement. No Margin Money i.e. 100 % funding if the University Name is in the Preferential List of BOB, else the student has to Compulsorily pay 10 % of the cost of education on their own. They would be ready to fund up to a maximum of 90 % of the total loan required by the student.</li>
    				<li><b>Loan to Value :</b> BOB provides approximately 90 % of the value of the mortgaged collateral (called realizable value). They do the latest property evaluation and provide loan up to 90 % for the student.</li>
    				<li><b>Padho Pardesh :</b> This Scheme is an Interest Subsidy on Educational Loans for Overseas Studies given to the Students Belonging to the Minority Communities and is available through BOB. This has to be applied for at the end of every year through BOB and the bank would not be liable in any way if the interest amount is not refunded by the Government.</li>
                    <li><b>Repayment Period :</b> BOB has a long term for the repayment of the Loan which is up to 15 years (180 months) and it starts after the Moratorium Period gets over.</li>
    				<li><b>Moratorium Period :</b> BOB offers an option where the student can decide if they want to pay the Interest Amount during moratorium period or after moratorium period along with Principal Amount. Moratorium on repayment during study period available <b>+ 1 Year</b> after completion of course. If the student is not able to complete the course within the scheduled time, extension of time for completion of course may be permitted for a <b>maximum period of -2- years</b>. If the student is not able to complete the course for reasons beyond his / her control, <b>sanctioning authority</b> may at his discretion consider such extensions as may be deemed necessary to complete the course. In case of extension, moratorium period will stand extended accordingly.</li>
    				<li><b>Loan Proceeds :</b> Initially the documents are submitted by students to Loan Cell called SMS (Area Wise) for Valuation and Legal Proceeds, post which it is sent to Gandhinagar in Gujarat (Centralized Processing Centre) which are the sanctioning authority who give the decision on Sanctioning of the Loan. Once the loan is sanctioned the Disbursements happen from the students nearest bank branch.</li>
    				<li><b>Credit Grading :</b> The bank looks at Students Profile, Parents IT Returns, Cibil Rating and Collateral Security. BOB is heavily dependent on the security provided for the loan followed by the student profile. Weak IT returns of parents are sometimes considered in case the former are strong. Additional co-applicants / co-signors can even be a 3rd party instead of a relative, if their Collateral Mortgage has to be considered.</li>
    				<li><b>Time for Processing :</b> BOB is a large organization and Education Loans are done through a centralized processing centre which generally takes longer for the students file to get processed. The average turnaround time is at least 20 working days from the time students have submitted all loan documents.</li>
                    <li><b>Unified Processing Charges :</b> BOB has very low processing fees of 1.00% of Loan amount <b>(maximum Rs.10,000/-)</b> to be recovered upfront which will be <b>Refundable</b> on availment (first disbursement) of loan. The amount can be refunded to the credit of Saving Bank account / Loan account of the student / borrower. A non-refundable Lump sum amount Rs.7,500/- per property  (towards Advocate and Valuer charges) to be taken <b>upfront</b> in case of all Education Loan accounts, wherever property is mortgaged.</li>
    				<li><b>Universities Funded :</b> Besides the universities which are in the Preferential Universities List, BOB also funds majority of the universities and also majority of the courses.</li>
                    <li><b>Sanction Letter :</b> They issue a Sanction Letter once University is Finalized and the same can be used for Visa purpose. Validity of Sanction Letter is up to <b>6 months</b>.</li>
    			</ul>
    		</div>
            <div>
                <b>* Subject to changes.</b>
            </div>
    	</div>
    </div>
</section> -->
