<!-- Content Wrapper. Contains page content -->
<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>My Team</h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-users"></i> Dashboard</a></li>
            <li class="active">My Team</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body" style="overflow: scroll;">
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Name'" filter="{ partner_name: 'text'}" sortable="'partner_name'" >{{value.partner_name}}</td>
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile Number'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <td title="'Designation'" filter="{ designation: 'text'}" sortable="'designation'">{{value.designation}}</td>
                                <td title="'Branch Name'" filter="{ branch_name: 'text'}" sortable="'branch_name'">{{value.branch_detail.name}}</td>
                                <td title="'Branch Email'" filter="{ branch_email: 'text'}" sortable="'branch_email'">{{value.branch_detail.email}}</td>
                                <td title="'Branch Counselor Name'" filter="{ branch_counselor_name: 'text'}" sortable="'branch_counselor_name'">{{value.branch_detail.counselor_name}}</td>
                                <td title="'Students Assigned'" filter="{ students_assgined: 'number'}" sortable="'students_assgined'"><a href="/students/assigned-me/all?agent={{value.partner_name}}" target="_blank">{{value.students_assgined}}</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
