<style type="text/css">
  .spanText {
    font: 550 14px Open Sans, sans-serif;
  }

  /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
  #sidebar-wrapper {
    /*margin-left: -250px;
   left: 250px;*/
    width: 275px;
    background: white;
    position: fixed;
    height: 85%;
    /*top: 85px;*/
    /*overflow-y: auto;*/
    overflow: overlay;
    transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
  }

  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
  /*  #page-content-wrapper {
   width: 100%;
   }*/
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 275px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav li {
    line-height: 20px;
    text-indent: 0px;
  }

  .sidebar-nav li a {
    color: #f9992f;
    display: block;
    text-decoration: none;
    padding-left: 38px;
    margin-left: 10px;
  }

  .sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
  }

  .sidebar-nav li a span b {
    font: 550 14px Open Sans, sans-serif !important;
  }

  .sidebar-nav li a:hover,
  .sidebar-nav li.active {
    color: #014b79;
    background: rgba(230, 227, 224, 0.41);
    text-decoration: none;
  }

  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav>.sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
  }

  .sidebar-nav>.sidebar-brand a {
    color: #f9992f;
  }

  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  .sidebar-nav-sub {
    position: inherit;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav-sub li {
    line-height: 40px;
    text-indent: 12px;
  }

  .sidebar-nav-sub li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding-left: 25px;
  }

  .sidebar-nav-sub li a span:before {
    position: absolute;
    left: 7;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
  }

  .sidebar-nav-sub li a:hover,
  .sidebar-nav-sub li.active {
    color: #014b79;
    background: rgba(243, 243, 243, 0.57);
    text-decoration: none;
  }

  .sidebar-nav-sub li a:active,
  .sidebar-nav-sub li a:focus {
    text-decoration: none;
  }

  .sidebar-nav-sub>.sidebar-brand {
    height: 31px;
    line-height: 20px;
    font-size: 16px;
  }

  .sidebar-nav-sub>.sidebar-brand a {
    color: rgba(153, 153, 153, 0.8117647058823529);
  }

  .sidebar-nav-sub>.sidebar-brand a:hover {
    color: #014b79;
    background: white;
  }

  .content-header {
    height: 65px;
    line-height: 65px;
  }

  .content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
  }

  #menu-toggle {
    text-decoration: none;
  }

  .btn-menu {
    color: #000;
  }

  .inset {
    padding: 5px 20px 20px 20px;
  }

  @media screen and (max-width: 992px) {
    #sidebar-wrapper {
      left: 0;
      width: inherit;
    }

    #wrapper.active {
      position: top;
      left: 250px;
    }

    .scrollSpyArea.active #sidebar-wrapper {
      left: 250px;
      width: 100px;
      transition: all 0.4s ease 0s;
    }

    .inset {
      padding: 15px;
    }
  }

  @media (max-width:767px) {

    /* #wrapper {
   padding-left: 0;
   }*/
    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: top;
      left: 250px;
    }

    .scrollSpyArea.active #sidebar-wrapper {
      left: 250px;
      width: 100px;
      transition: all 0.4s ease 0s;
    }

    .inset {
      padding: 15px;
    }
  }

  .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
  }

  .legendTwo {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
  }

  .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
    box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
  }
</style>
<div id="myModalCredenc" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
          <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal"
            style="color: white; opacity :inherit">&times;</button>
          <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
          <hr class="hrTop">
          <h5 class="imgTitle">Compare & Check out the Best Rates at your Fingertips.</h5>
        </div>
        <div class="col-md-6">
          <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
          <div class="form-container registerForm1">
            <form>
              <div class="form-group" style="padding-top:10px;">
                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name">
              </div>
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
              </div>
              <div class="form-group">
                <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
              </div>
              <div class="form-group">
                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)"
                  ng-model="loanamount">
              </div>

              <div class="form-group">
                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id"
                  remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1"
                  input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
              </div>
              <div class="col-md-12" style="text-align: center;">
                <button type="button" class="btn btn-primary registerButton"
                  ng-click="submitCallToActionNBFC('myModalHDFC')"> Register </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+
          Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href='/user/register' target='_blank'>Click Here</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalHDFC').modal('show');
   }, 9000);
   //$('#myModalHDFC').modal('show');
 });*/
</script>
<section id="imgSec"
  style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">Go to your
          dream college with Credenc</h1>
      </div>
    </div>
  </div>
</section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea">
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
        <div id="sidebar-wrapper">
          <nav id="spy">
            <ul class="sidebar-nav nav">
              <li>
                <a href="#home"><span class="fa fa-bank solo"><b>Home</b></span></a>
              </li>
              <li>
                <a href="#Overview" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Overview</b></span>
                </a>
              </li>
              <li>
                <a href="#KeyFeatures" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Key Features & Benefits</b></span>
                </a>
              </li>
              <li>
                <a href="#LoanDoc" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Loan Documentation</b></span>
                </a>
                <ul class="sidebar-nav-sub nav">
                  <li class="sidebar-brand">
                    <a href="#Unsecured" data-scroll>
                      <span class="fa fa-angle-right solo"><b>Unsecured loans</b></span>
                    </a>
                  </li>
                  <li class="sidebar-brand">
                    <a href="#Secured" data-scroll>
                      <span class="fa fa-angle-right solo"><b>Secured loans</b></span>
                    </a>
                  </li>
                </ul>
              </li>


              <li>
                <a href="#LoanEligibility" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Loan Eligibility</b></span>
                </a>
              </li>
              <li>
                <a href="#LoanIntrestRate" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Interest Rate</b></span>
                </a>
              </li>
              <li>
                <a href="#FAQs" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>FAQs</b></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
        <div class="page-content inset" data-spy="scroll" data-target="#spy">
          <div class="row" id="home">
            <div class="jumbotron text-center" style="margin-bottom: 15px;">
              <h2 style="font-size: 30px">Credenc Education Loan</h2>
              <p style="font-size: 18px">Merit and talent must be the two factors of consideration for students’
                education loans as it is time to make lending quick, simple, and hassle-free. Even today traditional
                lenders deploy their loan sanctioning decisions based on a student’s parental income. This leaves out
                many candidates who are deserving but fail to fall under the consideration zone for education loans.
                This is where Credenc comes in. <b>Credenc is a unique end-to-end education lending fintech
                  platform</b>. It finances students based on their merit and future employability, rather than the
                means available to their families. This digital lending platform is part of the vast business portfolios
                of Capital India, a BSE listed non-banking financial company (NBFC).</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="Overview">Overview</h3>
              <p>
                Education Loans offered by Credenc is disrupting the education financing with its future income
                prediction model, which ensures that talented students in the country are not starved for funds for
                their education needs/requirements. Credenc has developed a remarkably efficient and innovative
                end-to-end education loan lending platform that covers a wide range of student needs, such as:</p>
              <ul>
                <li>K-12 school fee financing</li>
                <li>Online upskilling courses</li>
                <li>Higher Education- Loans for Study in India</li>
                <li>Higher Education- Study Abroad</li>
              </ul>
              <p>
                Credenc has successfully assisted several students in realising their dream of getting education from
                leading education institutes across multiple countries including India, US, UK, Germany, Ireland, and
                many others. The end-to-end loan application and disbursal process is completely digital, enabling you
                to apply at the comfort of your home and to seamlessly follow-up on real time basis.
              </p>
            </div>

            <!-- Second -->
            <div class="col-md-12">
              <h3 class="legendOne" id="KeyFeatures">Credenc Education Loan Key Features and Benefits</h3>
              <p>Go to your dream college with <b>Credenc education loan</b> :</p>
              <ul>
                <li><b>Paperless Process:</b> The end-to-end student loan journey is a 100% digital process, eliminating
                  the numerous handovers.</li>
                <li><b>Competitive Interest Rates:</b> The company offers competitive interest rates, to make education
                  affordable for all, thereby helping students accomplish their aspirations.</li>
                <li><b>Loan Tenure:</b> Credenc offers a loan tenure for up-till 15 years.</li>
                <li><b>Easy to Apply:</b> The end-to-end application process is digital, enabling students to apply at
                  the comfort of their home, making availing loan process easy and paperless</li>
                <li><b>Faster Credit Decisions:</b> Post submitting all the required/necessary documents, students can
                  get loan approval within a short duration of 6-hour; and funds transfer within 48 hours with Credenc.
                </li>
                <li><b>Loan Amount:</b> Credenc provides up to 50 lacs. for unsecured loan, and 1 cr. of secured loan
                </li>
              </ul>

            </div>






            <!-- Third -->
            <div class="col-md-12 wellBox">
              <legend class="legendOne" id="LoanDoc">Documentation Required for Credenc Education Loan</legend>
              <p>Eduloans would be providing the complete list of <b>Credenc education loans</b>. Some of the documents
                mandatory for applying for <b>Credenc education loan</b> are:</p>
            </div>

            <div class="col-md-12 wellBox">
              <legend class="legendTwo" id="Unsecured">Documents required for unsecured loans</legend>
              <p><b>For Students :</b></p>
              <ol>
                <li>Pan Card / Aadhar Card</li>
                <li>ID Proof</li>
                <li>Proof of Address</li>
                <li>Academic documents such as mark sheet, certificates of 12th exam, certificate of Subsequent Years of
                  Education e.g. BE, B. Com, and BSc. </li>
                <li>Proof of Admission</li>
              </ol>
              <p><b>For Co-applicant's :</b></p>
              <ol>
                <li>Pan Card / Aadhar Card</li>
                <li>ID Proof</li>
                <li>Proof of Address</li>
              </ol>
              <p><b>If salaried :</b></p>
              <ol>
                <li>3 months latest salary slips</li>
                <li>6 months latest salary account statements</li>
                <li>1-year latest Form 16 or ITR</li>
              </ol>
              <p><b>If self-employed :</b></p>
              <ol>
                <li>Relationship proof (with the applicant)</li>
                <li>Business proof (GST certificate, or Business registration copy)</li>
                <li>2 years latest ITR with computation</li>
                <li>6 months saving account statement & current account (if the person has one)</li>
                <li>Contact details</li>
                <li>Ownership proof (address verification)</li>
              </ol>
              <p><b>ForParents :</b></p>
              <ol>
                <li>Identity Proof (Pan card, or Aadhar card)</li>
                <li>Contact details</li>
              </ol>

            </div>

            <div class="col-md-12 wellBox">
              <legend class="legendTwo" id="Secured">Documents required for secured loans</legend>
              <p><b>For Students :</b></p>
              <ol>
                <li>Pan Card / Aadhar Card</li>
                <li>ID Proof</li>
                <li>Proof of Address</li>
                <li>Academic documents such as mark sheet, certificates of 12th exam, certificate of Subsequent Years of
                  Education e.g. BE, B. Com, and BSc. </li>
                <li>Proof of Admission</li>
              </ol>
              <p><b>For Co-applicant's :</b></p>
              <ol>
                <li>Pan Card / Aadhar Card</li>
                <li>ID Proof</li>
                <li>Proof of Address</li>
              </ol>
              <p><b>If salaried :</b></p>
              <ol>
                <li>3 months latest salary slips</li>
                <li>6 months latest salary account statements</li>
                <li>1-year latest Form 16 or ITR</li>
              </ol>
              <p><b>If self-employed :</b></p>
              <ol>
                <li>Relationship proof (with the applicant)</li>
                <li>Business proof (GST certificate, or Business registration copy)</li>
                <li>2 years latest ITR with computation</li>
                <li>6 months saving account statement & current account (if the person has one)</li>
                <li>Contact details</li>
                <li>Ownership proof (address verification)</li>
              </ol>
              <p><b>ForParents :</b></p>
              <ol>
                <li>Identity Proof (Pan card, or Aadhar card)</li>
                <li>Contact details</li>
              </ol>
              <p><b>Property documents : Acceptable forms are -</b></p>
              <ol>
                <li>Residential property (Self-occupied/Rented) </li>
                <li>Commercial property (Self-occupied)</li>
                <li>Fixed Deposit </li>
                <li>Life Insurance policy</li>
                <li>Stocks</li>
                <li>Mutual fund </li>
              </ol>

            </div>

            <div class="col-md-12">
              <h3 class="legendOne" id="LoanEligibility">Credenc Education Loan Eligibility</h3>
              <ul>
                <li>An applicant should be between the age of 17-35 years to apply for Credenc Education Loan</li>
                <li>The applicant should be an Indian Citizen or Overseas Citizen of India (OCI)/Person of Indian Origin
                  PIO Card Holder</li>
                <li>An applicant’s co-borrower can be a parent, sibling, spouse, uncle, aunt, or any other blood
                  relative</li>
              </ul>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="LoanIntrestRate">Credenc Education Loan Interest Rate</h3>
              <p><b>Credenc Education Loan</b> comes with the interest rate varying from 11% to 14% depending on the
                course and country chosen by the applicant.</p>

            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="FAQs">Credenc Education Loan FAQs:</h3>
              <ol>
                <li><b>How many co-applicants can there be? </b>
                  <p><i class='fa fa-angle-double-right'></i> Credenc allows a maximum of 5 co-applicants.</p>
                </li>

                <li><b>How much time does the entire process take? </b>
                  <p><i class='fa fa-angle-double-right'></i> The process can be divided into below three stages:
                  <ol>
                    <li>Post all document submission, credit approval can be given within 6 hours</li>
                    <li>Once approved, the processing fee collection takes place as per student’s availability</li>
                    <li>The disbursal request from student to actual funds transfer shall take 48 hours (provided
                      student and the financial guarantor is available for agreement e-signing & NACH)</li>
                  </ol>
                  </p>
                </li>

                <li><b>What does the repayment process of loan like? </b>
                  <p><i class='fa fa-angle-double-right'></i>For Masters and above courses (STEM):
                  <ol>
                    <li>EMI</li>
                    <li>Simple Interest /Partial Simple Interest during Moratorium period – course duration + 6 months
                      (Extendable up to 1 yr.) + EMI post moratorium period </li>
                    <li>For all other courses: Only EMI option applied</li>
                  </ol>
                  </p>
                </li>

                <li><b>Will Credenc only consider Tuition fees? Will the living and other expenses be also
                    considered?</b>
                  <p><i class='fa fa-angle-double-right'></i> Credenc will consider the entire amount, including living
                    expenses during the tenure of study.</p>
                </li>

                <li><b>Where will the funds be transferred? </b>
                  <p><i class='fa fa-angle-double-right'></i> Two Types :
                  <ol>
                    <li><b>Pre-Visa disbursal:</b> All direct and indirect expenses will be transferred to
                      co-applicant’s account and post-Visa, the amount can be wired through Credenc funds transfer
                      channel to destination university or college account. A declaration needs to be signed by the
                      customer stating the end use of the loan for education purpose and confirming the use of Credenc
                      forex channel for remittance.</li>
                    <li><b>Post-Visa disbursal: </b> All direct expenses will be wire transferred to destination
                      university or college account. The amount to be transferred will be vetted against the fee
                      statement or invoice or demand letter from the college. All indirect expenses will be transferred
                      to the student’s Forex card. </li>
                  </ol>
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
  /*Menu-toggle*/
  // $("#menu-toggle").click(function(e) {
  //     e.preventDefault();
  //     $("#wrapper").toggleClass("active");
  // });
  //var offset = 80;
  /*Scroll Spy*/


  $('.scrollSpyArea').scrollspy({ target: '#spy', offset: 200 });

  headerHeight = $("#header").height() + 5;
  secHeight = $("#imgSec").height() + headerHeight;

  /*Smooth link animation*/
  $('a[href*=#]:not([href=#])').click(function () {
    $('#sidebar-wrapper').css({ 'top': headerHeight });
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - headerHeight
        }, 1000);
        return false;

      }

    }

  });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function (event) {
    var st = $(this).scrollTop();
    if (st > lastScrollTop) {
      // downscroll code
      $('#sidebar-wrapper').css({ 'top': headerHeight });
    } else {
    }
    lastScrollTop = st;
  });
  $(window).scroll(function () {
    if ($(this).scrollTop() == '0') {
      var element = document.getElementById('sidebar-wrapper');
      element.style.top = null;
    }
  });

</script>