<div id="myModalEarnest" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Get the Lowest Interest rates in Town.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionUsBanks('myModalEarnest')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalEarnest').modal('show');
   }, 9000);
   //$('#myModalEarnest').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Earnest Student Loans </h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Earnest Student Loans </h2>
                <p class="" style="text-align:justify;">Earnest is a technology company using cutting-edge data science, smarter design, and software automation to rebuild financial services. Earnest created a company that combines data science, streamlined design, and exceptional service to bring people a fast, low-cost, and hyper- personalized financial experience. Their mission is to make credit more accessible by reducing the costs and barriers faced by millions of financially responsible people.</p>
            </div>
            <div class="col-md-12" style="text-align:justify;">
                <p><b><u>Earnest Private Student Loans :</u></b></p>
                     <ul class="nopadding">
                        <li>Variable rates starting at 2.74% APR (including 0.25% Auto Pay discount).) <sup>1</sup></li>
                        <li>9 month grace period (3 months more than most lenders) <sup>2</sup>.</li>
                        <li>Fast application and decision-making process.</li>
                        <li>Flexible repayment options.</li>
                        <li>No fees for origination, disbursement, prepayment or late payment.</li>
                        <li>Skip a payment once per year (once repayment period restarted) <sup>3</sup>.</li>
                        <li>Covers up to 100% of the school's certified cost of attendance.</li>
                    </ul>

                    <p><a href="https://partner.earnest.com/referral/b266efff-5a50-4693-9bfc-790f3e182666?utm_source=eduloans&utm_medium=referral" target="_blank">Apply Now</a></p>

                    <p><i>Disclaimers</i></p>
                      <p class="" style="text-align:justify;">This information is for undergraduate students attending participating degree-granting schools. Borrowers must be U.S. citizens or U.S. permanent residents if the school is located outside of the United States. Non-U.S. citizen borrowers who reside in the U.S. are eligible with a creditworthy cosigner (who must be a U.S. citizen or U.S. permanent resident) and are required to provide an unexpired government-issued photo ID to verify identity. Applications are subject to a requested minimum loan amount of $1,000. Current credit and other eligibility criteria apply.</p>

                      <p class="" style="text-align:justify;"><sup>1</sup> Auto Pay discount: If you make monthly payments by an automatic, monthly deduction from a savings or checking account, your rate will be reduced by one quarter of one percent (0.25%) for so long as you continue to make automatic, electronic monthly payments. Not all borrowers will qualify for our lowest rates, and your rate will be based on creditworthiness at time of application.</p>

                      <p class="" style="text-align:justify;"><sup>2</sup> Not available for borrowers who choose Earnest’s Principal and Interest Repayment plan while in school.</p>

                      <p class="" style="text-align:justify;"><sup>3</sup> Earnest clients may skip one payment every 12 months. Your first request to skip a payment can be made once you’ve made at least 6 months of consecutive on-time payments, and your loan is in good standing. The interest accrued during the skipped month will result in an increase in your remaining minimum payment. The final payoff date on your loan will be extended by the length of the skipped payment periods. Please be aware that a skipped payment does count towards the forbearance limits outlined in your loan agreement. Please note that skipping a payment is not guaranteed and is at Earnest’s discretion. Your monthly payment and total loan cost may increase as a result of postponing your payment and extending your term.</p>

            </div>
            <div class="col-md-12" style="text-align:justify;">
                 <p><b><u>Earnest Student Loans Refinance :</u></b></p>
                     <ul class="nopadding">
                        <li>Fast application and decision-making process.</li>
                        <li>Rate estimates in 2 minutes.</li>
                        <li>No fees for origination, disbursement, prepayment or late payment.</li>
                        <li>Flexibility to pick any monthly payment and term between 5 and 20 years.</li>
                        <li>Fast application and decision-making process.</li>
                        <li>Skip a payment once per year (once repayment period restarted) <sup>1</sup>.</li>
                    </ul>

                    <p><a href="https://partner.earnest.com/referral/8228ec65-279e-46dd-8950-51b87d7ec09d?utm_source=eduloans&utm_medium=referral" target="_blank">Apply Now</a></p>

                    <p><i>Disclaimers</i></p>
                                  <p class="" style="text-align:justify;">Borrowers must be U.S. citizens or U.S. permanent residents if the school is located outside of the United States. Applications are subject to a requested minimum loan amount of $5,000. Current credit and other eligibility criteria apply.</p>

                                  <p class="" style="text-align:justify;"><sup>1</sup> Earnest clients may skip one payment every 12 months. Your first request to skip a payment can be made once you’ve made at least 6 months of consecutive on-time payments, and your loan is in good standing. The interest accrued during the skipped month will result in an increase in your remaining minimum payment. The final payoff date on your loan will be extended by the length of the skipped payment periods. Please be aware that a skipped payment does count towards the forbearance limits outlined in your loan agreement. Please note that skipping a payment is not guaranteed and is at Earnest’s discretion. Your monthly payment and total loan cost may increase as a result of postponing your payment and extending your term.</p>

             </div>

            </div>
            <p class="" style="text-align:justify;">Earnest was founded in 2013 to help grads save money by refinancing student loans. Since then Earnest has helped thousands of clients reduce the interest they pay, through innovative underwriting that rewards responsible financial habits. In 2019 Earnest has expanded its lending to current students, offering them flexible payments and personalized rates as well. Our newly designed entirely mobile application was designed with the next generation of borrowers in mind.</p>
            <div>
                <b>* Subject to changes.</b>
            </div>
        </div>
    </div>
</section>
