<style type="text/css">
  .spanText{
    font: 550 14px Open Sans, sans-serif;
  }
   /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
   #sidebar-wrapper {
   /*margin-left: -250px;
   left: 250px;*/
   width: 275px;
   background: white;
   position: fixed;
   height: 85%;
   /*top: 85px;*/
   /*overflow-y: auto;*/
   overflow: overlay;
   transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
   }
  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
 /*  #page-content-wrapper {
   width: 100%;
   }*/
   .sidebar-nav {
   position: absolute;
   top: 0;
   width: 275px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav li {
   line-height: 20px;
   text-indent: 0px;
   }
   .sidebar-nav li a {
   color: #f9992f;
   display: block;
   text-decoration: none;
   padding-left: 38px;
    margin-left: 10px;
   }
   .sidebar-nav li a span:before {
   position: absolute;
   left: 0;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav li a span b{
   font: 550 14px Open Sans, sans-serif !important;
   }
   .sidebar-nav li a:hover,
   .sidebar-nav li.active {
   color: #014b79;
   background: rgba(230, 227, 224, 0.41);
   text-decoration: none;
   }
   .sidebar-nav li a:active,
   .sidebar-nav li a:focus {
   text-decoration: none;
   }
   .sidebar-nav > .sidebar-brand {
   height: 65px;
   line-height: 60px;
   font-size: 18px;
   }
   .sidebar-nav > .sidebar-brand a {
   color: #f9992f;
   }
   .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
   }

   .sidebar-nav-sub {
   position: inherit;
   top: 0;
   width: 250px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav-sub li {
   line-height: 40px;
   text-indent: 12px;
   }
   .sidebar-nav-sub li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding-left: 25px;
   }
   .sidebar-nav-sub li a span:before {
   position: absolute;
   left: 7;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav-sub li a:hover,
   .sidebar-nav-sub li.active {
   color: #014b79;
   background: rgba(243, 243, 243, 0.57);
   text-decoration: none;
   }
   .sidebar-nav-sub li a:active,
   .sidebar-nav-sub li a:focus {
   text-decoration: none;
   }
   .sidebar-nav-sub > .sidebar-brand {
       height: 31px;
    line-height: 20px;
    font-size: 16px;
   }
   .sidebar-nav-sub > .sidebar-brand a {
   color: rgba(153, 153, 153, 0.8117647058823529);
   }
   .sidebar-nav-sub > .sidebar-brand a:hover {
   color: #014b79;
   background: white;
   }

   .content-header {
   height: 65px;
   line-height: 65px;
   }
   .content-header h1 {
   margin: 0;
   margin-left: 20px;
   line-height: 65px;
   display: inline-block;
   }
   #menu-toggle {
   text-decoration: none;
   }
   .btn-menu {
   color: #000;
   }
   .inset {
   padding: 5px 20px 20px 20px;
   }

   @media screen and (max-width: 992px){
   #sidebar-wrapper {
   left: 0;
   width: inherit;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   @media (max-width:767px) {
  /* #wrapper {
   padding-left: 0;
   }*/
   #sidebar-wrapper {
   left: 0;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
   }

   .legendTwo{
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
   }

   .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
     /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
     box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
}
</style>
<div id="myModalHDFC" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Compare & Check out the Best Rates at your Fingertips.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                 <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                               </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionNBFC('myModalHDFC')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalHDFC').modal('show');
   }, 9000);
   //$('#myModalHDFC').modal('show');
 });*/
</script>
<section id="imgSec" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">HDFC Credila Education Loan</h1>
           </div>
       </div>
   </div>
   </section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea" >
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
          <div id="sidebar-wrapper">
           <nav id="spy">
              <ul class="sidebar-nav nav">
                 <li>
                    <a href="#home"><span class="fa fa-bank solo" ><b>Home</b></span></a>
                 </li>
                 <li>
                    <a href="#Overview" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Overview</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#KeyFeatures" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Key Features & Benefits</b></span>
                    </a>
                     <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#ForStudent" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Benefits for Students</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#ForParents" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Benefits for Parents</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#LoanDoc" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Documentation</b></span>
                    </a>
                 </li>


                 <li>
                    <a href="#LoanEligibility" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Eligibility</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#LoanIntrestRate" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Interest Rate</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#FAQs" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>FAQs</b></span>
                    </a>
                 </li>
              </ul>
           </nav>
          </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
         <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">
               <img src="images/HDFCBanner.jpg" class="img-responsive">
               <div class="jumbotron text-center" style="margin-bottom: 15px;">
                  <h2 style="font-size: 30px">HDFC Credila Education Loan</h2>
                  <p style="font-size: 18px">The present economy requires highly skilled and educated professionals who can help maintain a successful collaboration between its economical, social, and financial backgrounds. This need for the technology-driven society aspires and motivated thousands and millions of students to acquire profound education and mark a successful career in this competitive world. Many potential students who want to be an asset to the industry look forward to acquiring higher education but lack due to insufficient financial strength.  This is where the <b>HDFC Credila education loan</b> comes into play. </p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="Overview">Overview</h3>
                  <p>
                    HDFC Credila, a subsidiary of HDFC Bank and is a well-known and dedicated Education Loan organization that offers customized <b>HDFC Credila education loans</b> to students and help them address their growing financial needs in their academic career. <b>HDFC Credila education loan</b> is customized in such a way that it can help families cope up with the growing costs of education which is one of the highest components of outflow of any middle-class Indian household. The company also makes sure that it not only caters to the academic-related financial needs of students studying in India but also provide financial assistance to Indian students abroad through <b>HDFC Credila overseas education loans</b>.</p>

                    <p>HDFC Credila a wide range of <b>DFC Credila overseas education loans</b> and <b>HDFC Credila education loans</b> depending on the institute, country, institute, co-borrower, academic background of the student, and collateral security.

                    </p>
               </div>

               <!-- Second -->
               <div class="col-md-12">
                  <h3 class="legendOne" id="KeyFeatures">HDFC Credila Education Loan Key Features and Benefits</h3>
                  <p>Some of the unique features of <b>HDFC Credila education loan</b> are:</p>
                    <ul>
                        <li>No requirement of margin money</li>
                        <li>Tax benefit under Section 80-E of Income Tax Act</li>
                        <li>Zero upper limits on the amount of the <b>HDFC Credila education loan</b></li>
                        <li>Long tenure <b>HDFC Credila overseas education loans</b> resulting in easy EMIs</li>
                        <li>Flexibility with the requirements of collateral security</li>
                        <li>Easy <b>HDFC Credila Education loan</b> against property mortgaged with HDFC Bank</li>
                        <li>Applicants or students can get their <b>HDFC Credila education loan</b> pre-approved even before applying to Universities.</li>
                    </ul>
                    <p>If HDFC Credila finds the applicant creditworthy with a clean credit history, then they might be approved for an <b>HDFC Credila education loan</b> without collateral/security.</p>
               </div>


               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="ForStudent">HDFC Credila Education Loan—Benefits for Students</legend>
                  <p>Some of the key benefits of the <b>HDFC Credila education loan</b> are:</p>
                  <ul>
                    <li><b>Approval before Admission:</b> HDFC Credila allows the students to get <b>HDFC Credila overseas education loans</b> or loans for Indian institutes pre-approved even before applying to Universities. This factor helps students know about the potential universities that they have got funding for.</li>
                    <li><b>Sources of Funds for USA Visa and I-20: HDFC Credila Education Loan</b> approval letter showcase assured fund sources for getting I-20 from universities in the USA.</li>
                    <li><b>Reduce your financial worry: HDFC Credila education loan</b> covers the total cost of the student education along with their living expenses, preventing them from seeking other sources of funding</li>
                    <li><b>Focuses on education loan solutions:</b> HDFC Credila focuses only on <b>HDFC Credila education loan</b> and <b>HDFC Credila overseas education loan</b>, making it the first choice of students who are looking to avail financial help.</li>
                    <li><b>Easy to apply:</b> Students need to apply for <b>HDFC Credila education loan</b> online without any cost.  This makes the process safe, secure, and easy to prosecute.</li>
                </ul>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="ForParents">HDFC Credila Education Loan—Benefits for Parents</legend>
                    <ul>
                        <li><b>Tax Benefits: HDFC Credila education loan</b> provides income tax rebates under Section 80E of Income Tax Act of India</li>
                        <li><b>100% of Educational Expenses Covered with HDFC Credila education loan:</b> No margin money is required.</li>
                        <li><b>Convenience:</b> Applicants can avail <b>HDFC Credila education loan</b> and <b>HDFC Credila overseas education loan</b> at their door-step and do not require to visit bank branches multiple times as the company offers an advantage of calling an HDFC Credila representative any time as per your convenience.</li>
                        <li><b>Flexibility on collateral requirements: HDFC Credila education loan</b> features flexible options in some scenarios like no collateral requirement depending on the credit history of the applicant.</li>
                    </ul>
               </div>



               <!-- Third -->
               <div class="col-md-12 wellBox">
                <legend class="legendOne" id="LoanDoc">Documentation Required for HDFC Credila Education Loan</legend>
                <p>Eduloans would be providing the complete list of <b>HDFC Credila overseas education loans</b>. Some of the  documents mandatory for applying for <b>HDFC Credila education loan</b> are:</p>
                 <ul>
                    <li>Completely filled application form along with photographs and signature</li>
                    <li>ID Proof</li>
                    <li>Proof of Address</li>
                    <li>Academic documents such as mark sheet, certificates of 12th exam, certificate of Subsequent Years of Education e.g. BE, B. Com, and BSc. Marksheet of any entrance exam taken like CAT and CET, GRE, GMAT, TOFEL, and IELTS.Proof of Admission</li>
                    <li>Bank Statements</li>
                    <li>Income proof of co-applicant</li>
                    <li>Collateral security proof/documents</li>
                  </ul>

               </div>

               <div class="col-md-12">
                  <h3 class="legendOne" id="LoanEligibility">HDFC Credila Education Loan Eligibility</h3>
                  <p>It is important for the applicant to be an Indian student to pursue higher studies either in India or abroad. They must also have successfully passed higher secondary school with satisfactory grades to avail HDFC Credila education loan . <b>HDFC credila education loan</b> looks at scores in Competitive exams like GRE/GMAT before ascertaining the eligibility of the student.</p>
                  <p><b>HDFC Credila education loan</b> as well looks at Co-signor profile where the basic interest coverage is checked by the loan provider. In case the parent is about to retire they ask for a second guarantor.</p>
                  <p>They also look at Collateral property as an additional measure of security from the guarantor. </p>
               </div>

               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="LoanIntrestRate">HDFC Credila Education Loan Interest Rate</h3>
                  <p><b>HDFC Credila education loan</b> comes with attractive interest rates. They also depend on a host of eligibility criteria which might include but are not limited to the applicant’s borrowing history, credit worthiness, and other factors that reflect their financial capability.</p>

               </div>

               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="FAQs">HDFC Credila Overseas Education Loan FAQs:</h3>
                  <ol>
                    <li><b>Does an applicant need a co-borrower to apply for an HDFC Credila education loan?</b>
                    <p><i class='fa fa-angle-double-right'></i> It is important to have a co-borrower for both <b>HDFC Credila overseas education loan</b> and <b>HDFC Credila education loan</b> in India. It is also important that Co-borrower is an Indian citizen who would be able to pay interest in the moratorium period. If the student is unable to repay the loan, it becomes the responsibility of the co-borrower to repay the entire loan in installments or provide the collateral security.</p></li>

                    <li><b>When is the right time to apply for an education loan - before admission confirmation or after?</b>
                    <p><i class='fa fa-angle-double-right'></i> Generally, students are encouraged to apply for the <b>HDFC Credila education loan</b> earlier so that they can get the added advantage of having an approved education loan at the time of consideration of their admission application as it can improve the chances of getting the admission.</p></li>

                    <li><b>Can the students apply for an <b>HDFC Credila education loan</b> before admission is guaranteed?</b>
                    <p><i class='fa fa-angle-double-right'></i> <b>HDFC Credila offers loan</b> sanction even before admissions.</p></li>

                  </ol>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
   /*Menu-toggle*/
   // $("#menu-toggle").click(function(e) {
   //     e.preventDefault();
   //     $("#wrapper").toggleClass("active");
   // });
   //var offset = 80;
   /*Scroll Spy*/


   $('.scrollSpyArea').scrollspy({ target: '#spy', offset:200});

    headerHeight = $("#header").height() + 5;
    secHeight = $("#imgSec").height() + headerHeight;

   /*Smooth link animation*/
   $('a[href*=#]:not([href=#])').click(function() {
      $('#sidebar-wrapper').css({'top' : headerHeight });
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - headerHeight
               }, 1000);
               return false;

           }

       }

   });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function(event){
     var st = $(this).scrollTop();
     if (st > lastScrollTop){
         // downscroll code
          $('#sidebar-wrapper').css({'top' : headerHeight });
     } else {
     }
     lastScrollTop = st;
  });
  $(window).scroll(function(){
    if ($(this).scrollTop() == '0') {
        var element = document.getElementById('sidebar-wrapper');
        element.style.top = null;
    }
});

</script>


<!-- <section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">HDFC Credila</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Collateral (Secured) / Non Collateral (Unsecured) Overseas Education Loans through HDFC Credila</h2>
    			<p class="" style="text-align:justify;"><b>HDFC Credila</b> is India's 1st Dedicated Education Loan Company and a pioneer in the field of education loan. HDFC Credila has already funded Indian students going to 35+ Countries, 2100+ Institutes and studying 1000+ different Courses.</p>
                <p class="" style="text-align:justify;"> <b>Vision :</b> Transform lives and contribute towards the nation building!</p>
                <p class="" style="text-align:justify;"> <b>Mission :</b> Empower aspiring students to actualize their dreams of higher education!</p>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>The key salient features of HDFC Credila are :</b></p>
    			<ul class="nopadding">
    				<li><b>Pan India Reach :</b> HDFC Credila Financial Services pioneered the concept of specialist Education Loan lender and is India's 1st Dedicated Education Loan Company. Amongst the NBFC’s it has the Biggest Network and Highest # of Servicing Offices throughout all major and minor cities in mostly all States of India. The loan processes through Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, which are the sanctioning authority.</li>
    				<li><b>Interest Rate :</b> They provide a very competitive interest rate amongst all the NBFC’s for both Collateral and Non Collateral Loans. Presently the ROI (Rate Of Interest) range is between 11.00 % to 12.00 % for Secured Loans (Negotiable) and between 11.50 % to 13.00 % for Unsecured Loans (Negotiable).</li>
    				<li><b>Loan Amount :</b> HDFC Credila is one of the Financial Institutions that can give the maximum loan amount (No Upper Limit for Secured) and up to Rs.35 Lakhs (Unsecured).</li>
    				<li><b>Consideration On Basis Of (Secured Loan) :</b> Property (Not Agricultural Land) , FD's, Traditional LIC policy.</li>
    				<li><b>Consideration On Basis Of (Unsecured Loan) :</b> The students profile, their competitive exam scores, University and Course applied for, Co-Applicants (Blood Relations) IT Returns and Cibil Report.</li>
                    <li><b>Tax Benefit :</b> The Only NBFC which has Tax benefit under Section 80E of Income tax Act. This benefit is available to the Co-Applicant / Co-Signor. This deduction under Section 80E is over and above the Rs.1.50 Lakhs deduction allowed under Section 80C and there is no maximum limit for claiming this deduction under Section 80E.</li>
    				<li><b>Margin Money :</b> This is the amount that a student is supposed to pay from their side on every disbursement. HDFC Credila gives 100 % funding, instead of the students having to use partial funds of their own.</li>
    				<li><b>Loan to Value :</b> For Secured Loans HDFC Credila provides approximately 100 % of the value of the Mortgaged Collateral. They do the latest property evaluation and provide loan maximum up to 100 % for the student.</li>
    				<li><b>Repayment Period :</b> They have a long term for the repayment of the Loan which is up to 14 years (168 months) and it starts after the Moratorium Period gets over.</li>
    				<li><b>Moratorium Period :</b> Moratorium on repayment during study period available <b>+ 6 Months to 1 Year</b> after completion of course.</li>
                    <li><b>Loan Proceeds :</b> Door Step Home Service Available. Initially the documents are submitted by students to Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, who get the Valuation and Legal Formalities done, post which they decide on the Sanctioning of the Loan. Once the loan is Sanctioned, Disbursements happen from these Loan Centre’s.</li>
    				<li><b>Credit Grading :</b> For Secured Loan they look at Students Profile, Parents IT Returns, Cibil Report and Collateral Security. HDFC Credila is heavily dependent on the security provided for the loan followed by the student profile. Weak IT returns of parents are sometimes considered in case the former are strong. Additional Co-applicants / Co-signors can even be a 3rd party instead of a relative, if their Collateral Mortgage has to be considered.</li>
    				<li><b>Time for Processing :</b> HDFC Credila is a large organization and Education Loans are done through their Loan Centre’s which are faster compared to other Financial Institutions. The average turnaround time is at least 15-20 days (for both Secured and Unsecured Loans).</li>
    				<li><b>Processing Fees :</b> 1 % of the Loan Amount + GST which can be considerable on Case to Case basis.</li>
    				<li><b>Universities Funded :</b> HDFC Credila funds majority of the universities and also majority of the courses (Mostly Masters - MS) under Secured and Unsecured Loans.</li>
                    <li><b>Pre Sanction Letter :</b> They can give a Sanction Letter prior to receiving I20 for US. Validity of Sanction Letter is up to <b>6 months</b> (Can be extended). Funds can be used by students to show for their I20 and Visa purpose.</li>
    				<li><b>Flexible Repayment Options :</b> Partial payment of Interest option available during Moratorium Period (Case to Case Basis and Country Specific).</li>
    			</ul>
    		</div>
            <div>
                <b>* Subject to changes.</b>
            </div>
    	</div>
    </div>
</section> -->
