<style type="text/css">
  .spanText{
    font: 550 14px Open Sans, sans-serif;
  }
   /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
   #sidebar-wrapper {
   /*margin-left: -250px;
   left: 250px;*/
   width: 275px;
   background: white;
   position: fixed;
   height: 85%;
   /*top: 85px;*/
   /*overflow-y: auto;*/
   overflow: overlay;
   transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
   }
  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
 /*  #page-content-wrapper {
   width: 100%;
   }*/
   .sidebar-nav {
   position: absolute;
   top: 0;
   width: 275px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav li {
   line-height: 20px;
   text-indent: 0px;
   }
   .sidebar-nav li a {
   color: #f9992f;
   display: block;
   text-decoration: none;
   padding-left: 38px;
    margin-left: 10px;
   }
   .sidebar-nav li a span:before {
   position: absolute;
   left: 0;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav li a span b{
   font: 550 14px Open Sans, sans-serif !important;
   }
   .sidebar-nav li a:hover,
   .sidebar-nav li.active {
   color: #014b79;
   background: rgba(230, 227, 224, 0.41);
   text-decoration: none;
   }
   .sidebar-nav li a:active,
   .sidebar-nav li a:focus {
   text-decoration: none;
   }
   .sidebar-nav > .sidebar-brand {
   height: 65px;
   line-height: 60px;
   font-size: 18px;
   }
   .sidebar-nav > .sidebar-brand a {
   color: #f9992f;
   }
   .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
   }

   .sidebar-nav-sub {
   position: inherit;
   top: 0;
   width: 250px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav-sub li {
   line-height: 40px;
   text-indent: 12px;
   }
   .sidebar-nav-sub li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding-left: 25px;
   }
   .sidebar-nav-sub li a span:before {
   position: absolute;
   left: 7;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav-sub li a:hover,
   .sidebar-nav-sub li.active {
   color: #014b79;
   background: rgba(243, 243, 243, 0.57);
   text-decoration: none;
   }
   .sidebar-nav-sub li a:active,
   .sidebar-nav-sub li a:focus {
   text-decoration: none;
   }
   .sidebar-nav-sub > .sidebar-brand {
       height: 31px;
    line-height: 20px;
    font-size: 16px;
   }
   .sidebar-nav-sub > .sidebar-brand a {
   color: rgba(153, 153, 153, 0.8117647058823529);
   }
   .sidebar-nav-sub > .sidebar-brand a:hover {
   color: #014b79;
   background: white;
   }

   .content-header {
   height: 65px;
   line-height: 65px;
   }
   .content-header h1 {
   margin: 0;
   margin-left: 20px;
   line-height: 65px;
   display: inline-block;
   }
   #menu-toggle {
   text-decoration: none;
   }
   .btn-menu {
   color: #000;
   }
   .inset {
   padding: 5px 20px 20px 20px;
   }

   @media screen and (max-width: 992px){
   #sidebar-wrapper {
   left: 0;
   width: inherit;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   @media (max-width:767px) {
  /* #wrapper {
   padding-left: 0;
   }*/
   #sidebar-wrapper {
   left: 0;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
   }

   .legendTwo{
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
   }

   .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
     /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
     box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
}
</style>
<div id="myModalICICI" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">ICICI offers the most economical Unsecured Loan.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionNatPriv('myModalICICI')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalICICI').modal('show');
   }, 9000);
   //$('#myModalICICI').modal('show');
 });*/
</script>
<section id="imgSec" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">ICICI Bank Education Loan</h1>
           </div>
       </div>
   </div>
   </section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea" >
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
          <div id="sidebar-wrapper">
           <nav id="spy">
              <ul class="sidebar-nav nav">
                 <li>
                    <a href="#home"><span class="fa fa-bank solo" ><b>Home</b></span></a>
                 </li>
                 <li>
                    <a href="#Overview" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Overview</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#KeyFeatures" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Key Features & Benefits</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#CompareFeatures" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Compare Features</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#Documentation" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Documentation</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#typesLoan" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Features</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#LoanAmount" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Loan Amount</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#LoanAgainstCol" data-scroll>
                            <span class="fa fa-angle-right solo"><b>% of LAP Collateral</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#CollPro" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Collateral Property</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#StuProf" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Student’s Profile</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#IR" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Interest Rate</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#ProcessingFees" data-scroll>
                            <span class="fa fa-angle-right solo" > <b>Processing Fees</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#LoanEligibility" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Eligibility</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#EligibleCourses" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Eligible Courses</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#Domestic" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Domestic</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#International" data-scroll>
                            <span class="fa fa-angle-right solo"><b>International</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#EMICalc" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>EMI Calculator</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#FAQs" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>FAQs</b></span>
                    </a>
                 </li>
              </ul>
           </nav>
          </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
         <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">
               <div class="jumbotron text-center" style="margin-bottom: 15px;">
                  <img src="images/ICICIBanner.jpg" class="img-responsive">
                  <h2 style="font-size: 30px">ICICI Bank Education Loan</h2>
                  <p style="font-size: 18px">ICICI Bank is one of the leading multinational and financial services companies in India headquartered in Mumbai, Maharashtra. Its registered office is in Vadodara, Gujarat. Since 2018, this bank is categorized as the second-largest bank in India in terms of market capitalization and assets, offering an array of financial services and banking products for retail and corporate customers through numerous delivery channels and specialized subsidiaries in the platforms of non-life insurance, investment banking, asset management, and venture capital. </p>

                  <p>The bank hosts a network of 5,275 branches along with 15,589 ATMs across India and a presence across sixteen other countries. ICICI Bank has subsidiaries in Canada and the United Kingdom with branches in the United States, Hong Kong, Singapore, Qatar, Bahrain, Oman, China, and Dubai International Finance Centre. It has representative offices in Bangladesh, United Arab Emirates, Indonesia, and Malaysia.</p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="Overview">Overview</h3>
                  <p>
                    ICICI Bank has international goodwill due to its aim to provide financial assistance to millions of students who aim to pursue higher studies in India and abroad. The bank also guides these students through the process of applying for an <b>ICICI Bank education loan</b>. The bank also provides the availability of <b>ICICI Bank overseas education loans</b> for students who wish to fly high across international borders.
                    </p>
               </div>

               <!-- Second -->
               <div class="col-md-12">
                  <h3 class="legendOne" id="KeyFeatures">ICICI Bank Education Loan Key Features and Benefits</h3>
                  <p>ICICI Bank is a premier bank in India providing attractive <b>ICICI Bank education loan</b> schemes and benefits to ensure the students are not burdened with daunting details or fine prints. Some of the salient features of <b>ICICI Bank Education Loan are:</b></p>
                    <ol>
                        <li>Collateral Free Loan</li>
                        <li>Tax benefit under section 80 E of Income Tax Act of India, 1961.</li>
                        <li>Flexible repayment options</li>
                        <li>Zero processing fees</li>
                        <li>Quick and hassle free <b>ICICI Bank overseas education loans</b> process.
                        </li>
                        <li>Preferential forex rates for international disbursements.</li>
                    </ol>
               </div>

               <div class="col-md-12 wellBox">
                <legend class="legendOne" id="CompareFeatures">Compare Features of the ICICI Education Loans </legend>
                <p>ICICI Bank charges the same base interest rate of 11.5 % to students whether they plan for <b>ICICI BAnk education loan</b> in India or <b>ICICI BAnk overseas education loans</b>. The details for Domestic and International students are shared below:</p>
                <p><b>Domestic Students :</b></p>
                <table class="table table-bordered">
                      <tr>
                        <th>Details</th>
                        <th>Post Graduate</th>
                        <th>Undergraduate</th>
                      </tr>
                      <tr>
                        <th>Interest Rate</th>
                        <td colspan="2">Starts at 10.9 % - 11.5%</td>
                      </tr>
                      <tr>
                        <th>Loan Tenure Without Collateral</th>
                        <td>Up to eight years after the completion of the course with additional  six months</td>
                        <td>Up to five years post course period with additional six months</td>
                      </tr>
                      <tr>
                        <th>Loan Tenure with Collateral</th>
                        <td>Up to ten years after the course period with additional six months</td>
                        <td>Up to seven years post course period with additional six months</td>
                      </tr>
                      <tr>
                        <th>Maximum Loan Amount</th>
                        <td colspan="2">₹ 50 Lakh</td>
                      </tr>
                      <tr>
                        <th>Collateral Requirement</th>
                        <td colspan="2">According to the institute. Provides collateral-free loans for selected institutes: Up to ₹ 20 lakh for UG and up to ₹ 40 lakh for PG courses.</td>
                      </tr>
                      <tr>
                        <th>Margin</th>
                        <td colspan="2">15 percent margin (Margin/ FD/ Scholarship) only for loans above ₹ 20 Lakh.</td>
                      </tr>
                  </table>

                <p><b>International Students :</b></p>
                <table class="table table-bordered">
                      <tr>
                        <th>Details</th>
                        <th>Post Graduate</th>
                        <th>Undergraduate</th>
                      </tr>
                      <tr>
                        <th>Interest Rate</th>
                        <td colspan="2">Starts at 10.9 - 11.5 %</td>
                      </tr>
                      <tr>
                        <th>Loan Tenure Without Collateral</th>
                        <td>Up to eight years after the course period with additional six months</td>
                        <td>Up to five years post course period with additional 6 months</td>
                      </tr>
                      <tr>
                        <th>Loan Tenure with Collateral</th>
                        <td>Up to 10 years post course period with additional 6 months</td>
                        <td>Up to seven years after the  course period with additional 6 months</td>
                      </tr>
                      <tr>
                        <th>Maximum Loan Amount</th>
                        <td colspan="2">For Unsecured its INR 40 Lakhs, for secured its 1 Cr</td>
                      </tr>
                      <tr>
                        <th>Collateral Requirement</th>
                        <td colspan="2">As per the college or institute. Collateral-free loans for select institutes: Up to ₹ 20 lakh for UG and up to ₹ 40 lakh for PG courses. They have a rating system for Universities and the interest rate and loan amount depends on the rating system</td>
                      </tr>
                      <tr>
                        <th>Moratorium Period</th>
                        <td colspan="2">As per the course and institute.</td>
                      </tr>
                      <tr>
                        <th>Margin</th>
                        <td colspan="2">15% margin (Margin/ FD/ Scholarship) only for loans above ₹ 20 Lakh</td>
                      </tr>
                  </table>
                <p><b>ICICI Bank also gives funds for some of the non tuition related expenses like</b></p>
                <ul>
                    <li>Examination, laboratory, and library fees</li>
                    <li>Hostel fees and travel expenses</li>
                    <li>Passage money for overseas studies</li>
                    <li>Insurance premium for student borrowers</li>
                    <li>Caution or refundable deposits supported by institution bills and receipts along with building funds</li>
                    <li>Books, uniform, equipment, and instruments</li>
                    <li>Reasonably priced laptop or computer if vital to complete the course</li>
                    <li>Any other expenses required to complete the course like study tour, thesis, and project work</li>
                </ul>


               </div>

               <!-- Third -->
               <div class="col-md-12 wellBox">
                <legend class="legendOne" id="Documentation">Documentation Required for ICICI Bank Education Loan</legend>
                <p>The following documents are required by the bank for students to be considered for an <b>ICICI Bank education loan</b></p>
                <ul>
                    <li>Know your Customer (KYC) documents of both the co-borrower and student</li>
                    <li>Mark sheets of 10th, 12th, undergraduate courses, and entrance exams</li>
                    <li>Admission Letter</li>
                    <li>Fee structure</li>
                    <li>Income Proof of the co-borrower</li>
                    <li>Residential and commercial property plots which should be  non-agricultural</li>
                    <li>Fixed deposits</li>
                    <li>Income proof required only for specific courses</li>
                </ul>

                <p><b>The following documents are sought against the varied categories:</b></p>
                <table class="table table-bordered">
                      <tr>
                        <th>Identity Proof</th>
                        <td>Passport, Aadhaar Card, PAN Card, Driving Licence, Voter’s ID Card, Photo Credit Card, Central and State Govt.issued Photo ID Proof, and Central and ID Card</td>
                      </tr>
                      <tr>
                        <th>Residence Proof</th>
                        <td>Aadhaar Card, Passport, Ration Card, Voter’s ID Card, Bank Account Statement, Letter from any recognized public authority, Electricity Bill, Water Bill, and Telephone Bill.</td>
                      </tr>
                      <tr>
                        <th>Income Proof</th>
                        <td>Salary Slips (not more than 3 months old), Bank Statements (not more than 3 months old), and ITR, Form-16</td>
                      </tr>
                  </table>

               </div>



               <div class="col-md-12">
                  <h3 class="legendOne" id="typesLoan">ICICI Bank Student Education Loan Features</h3>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="LoanAmount">1. Loan Amount</legend>
                  <p>The ICICI Bank provides <b>ICICI Bank overseas education loans</b> upto one crore and with deviation up to two crores as per A1 to A4 list. For unsecured <b>ICICI Bank education loan</b>, the students get the assistance of up to 40 lakhs as per A1 list, 20 lakhs as per A2 list, and 7.5 lakhs as per A3 and A4 list.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="LoanAgainstCol">2. Percentage of Loan Against Collateral Provided</legend>
                  <p>The bank provides a loan amount upto 100 percent of Property’s Realizable Value and FD value.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="CollPro">3. Collateral Property</legend>
                  <p>If the students are keeping their property as security, they will have to submit all the required registered documents of the property along with occupational certificate and completion certification registered by the Municipal corporation of India. Also the property should be a non-agriculture land and should be inside the premises of the city.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="StuProf">4. Student’s Profile</legend>
                  <p>To provide ICICI Bank overseas education loan to any applicant, the bank will not check the academic background of the student (no. of KTs throughout his last education) but will consider the details of the course and institution he is applying for.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="IR">5. Interest Paying During Moratorium Period</legend>
                  <p>The bank also provides an option of paying the interest on ICICI BAnk overseas education loan during moratorium period or along with EMIs.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="ProcessingFees">6. Processing Fees</legend>
                  <p>The bank takes 1% processing fees for the loan amount</p>
               </div>


               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="LoanEligibility">ICICI Bank Education Loan Eligibility</h3>
                  <p>Some basic <b>ICICI Bank education loan</b> eligibility criteria that a customer should meet are:</p>
                    <ul>
                        <li>Applicants should be an  Indian National.</li>
                        <li>Applicants should have secured admission or an invite from a recognized university or college.</li>
                    </ul>
               </div>

               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="EligibleCourses">Eligible Courses</h3>
                  <p><b>ICICI Bank Education Loan</b> is only provided for the following specific courses</p>
               </div>

               <div class="col-md-12 wellBox">
                  <h3 class="legendTwo" id="Domestic">Domestic</h3>
                  <p>Domestic courses that are approved for <b>ICICI Bank education loan</b> are the courses that comes under Graduate, Post Graduate degree/diploma and are conducted by any college or university recognized by the University Grants Commission, Government, All India Council for Technical Education, All India Board of Management Studies, and Indian Council of Medical Research.</p>
               </div>

               <div class="col-md-12 wellBox">
                  <h3 class="legendTwo" id="International">International</h3>
                  <p>ICICI Bank does provide <b>ICICI Bank overseas education loans</b> for students headed abroad with a criterion that the course that should be job oriented</p>
               </div>

               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="EMICalc">ICICI Bank Education Loan EMI Calculator</h3>Students who have applied for <b>ICICI Bank education loan</b> can also check on the amount of Equated Monthly Installments (EMI) that is required to pay easily through Eduloan’s simple and effective tool. Follow the steps laid out below to use Eduloan’s student loan EMI calculator.</p>
                  <ol>
                      <li>Go to Eduloan’s student loan EMI calculator.</li>
                      <li>In loan amount, enter the amount borrowed from the bank</li>
                      <li>In Rate of Interest, enter the interest that the bank is charging</li>
                      <li>In loan tenure, enter the time period under which the loan has to be paid off</li>
                  </ol>
                  <p>The screen will showcase the EMI that are liable to pay with the given combination of loan amount, tenure, and rate of interest. The EMI can also vary with the change the contributing factors of the education loan EMI calculator.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="FAQs">ICICI Bank Overseas Education Loan FAQs:</h3>
                  <ol>
                    <li><b> Can the student apply for subsidy on ICICI Bank education loan?</b>
                    <p><i class='fa fa-angle-double-right'></i> Yes, the applicant can apply for a subsidy on <b>ICICI Bank education loan</b> if the co-borrower has an income of less than ₹ 4.5 lakh per annum from all sources.</p></li>

                    <li><b>Does ICICI Bank charge processing fees for the ICICI Bank education loan</b>?</b>
                    <p><i class='fa fa-angle-double-right'></i> ICICI Bank may charge some processing fees depending on the college and course applied for.</p></li>

                    <li><b>Can the applicant get a loan exemption on the ICICI Bank education loan</b>?</b>
                    <p><i class='fa fa-angle-double-right'></i> Yes the applicant can get exemption under section 80 E of Income Tax Act of India, 1961 where they can claim the interest paid on the education loan as a deduction.</p></li>

                    <li><b>Does the EMI’s start right after college?</b>
                    <p><i class='fa fa-angle-double-right'></i> No ICICI Bank gives six additional months to secure a job before you have start paying the EMIs</p></li>

                    <li><b> How much of the education cost will be funded by ICICI Bank Education Loan</b>?</b>
                    <p><i class='fa fa-angle-double-right'></i> ICICI Bank covers 100% of the <b>ICICI Bank education loan</b> up to ₹ 20 lakh. After that there will be a margin of 15%.</p></li>

                    <li><b>Does ICICI Bank student loan only cover tuition fee?</b>
                    <p><i class='fa fa-angle-double-right'></i> <b>ICICI Bank education loans</b> cover hostel fee, lab fee, and even a study tour or laptop if it is required to finish a course.</p></li>

                    <li><b>Does ICICI Bank student loan cover travel expenses?</b>
                    <p><i class='fa fa-angle-double-right'></i> Yes.</p></li>

                    <li><b>Does ICICI Bank allow prepayment or part payment?</b>
                    <p><i class='fa fa-angle-double-right'></i> ICICI Bank has not placed any restrictions on pre-payment or part payment of <b>ICICI Bank overseas education loan</b>.</p></li>

                    <li><b>How soon will the loan be disbursed for ICICI Bank overseas education loan?</b>
                    <p><i class='fa fa-angle-double-right'></i> The applicants can expect a pre-visa disbursal of <b>ICICI Bank overseas education loan</b> amount.</p></li>


                  </ol>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
   /*Menu-toggle*/
   // $("#menu-toggle").click(function(e) {
   //     e.preventDefault();
   //     $("#wrapper").toggleClass("active");
   // });
   //var offset = 80;
   /*Scroll Spy*/

   $('.scrollSpyArea').scrollspy({ target: '#spy', offset:200});

    headerHeight = $("#header").height() + 5;
    secHeight = $("#imgSec").height() + headerHeight;

   /*Smooth link animation*/
   $('a[href*=#]:not([href=#])').click(function() {
      $('#sidebar-wrapper').css({'top' : headerHeight });
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - headerHeight
               }, 1000);
               return false;

           }

       }

   });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function(event){
     var st = $(this).scrollTop();
     if (st > lastScrollTop){
         // downscroll code
          $('#sidebar-wrapper').css({'top' : headerHeight });
     } else {
     }
     lastScrollTop = st;
  });
  $(window).scroll(function(){
    if ($(this).scrollTop() == '0') {
        var element = document.getElementById('sidebar-wrapper');
        element.style.top = null;
    }
});

</script>



<!-- <section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">ICICI Bank</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Collateral (Secured) / Non Collateral (Unsecured) Overseas Education Loans through ICICI Bank</h2>
    			<p class="" style="text-align:justify;"> <b>ICICI Bank</b> is 2nd Largest Bank of India and a banker to some of the important Educational Institutes in the Country. With Asset Size of Rs.879.18 Billion as on March 31, 2018 they continue to make efforts in being partners to this growth story of our country. The Bank has a global presence in 40 International locations through its branches / subsidiaries and representative offices. It is also pertinent to bring to your notice that ICICI Bank has been notified as “the Domestic Systemically Important Bank (D-SIB)” of the country by RBI in recent years consecutively.</p>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>The key salient features of ICICI Bank are :</b></p>
    			<ul class="nopadding">
    				<li><b>Pan India Reach :</b> ICICI Bank is India's largest private sector bank with total consolidated assets of Rs.11,242.81 billion (US$ 172.5 billion) at March 31, 2018 and profit after tax of Rs.67.77 billion (US$ 1.0 billion) for the year ended March 31, 2018. ICICI Bank currently has a network of 4,867 Branches and 14,367 ATMs across India. The loan processes through Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, which are the sanctioning authority.</li>
    				<li><b>Interest Rate :</b> ICICI Bank provides a variable interest rate in the Private Banking Sector for both Collateral and Non Collateral Loans. Presently the ROI (Rate of Interest) range is between 11.50 % to 14.50 % for Secured and Unsecured Loans.</li>
    				<li><b>Loan Amount :</b> ICICI Bank can give loan amount of up to 1 Crore and up to Rs.40 Lakhs of Unsecured loans for selected courses and Institutes.</li>
    				<li><b>Courses Offered :</b> Education loan is available for Higher education in India and Abroad. They also fund for Undergraduate Courses in Abroad, which has higher requirement, as not all Financial Institutions do the same.</li>
    				<li><b>Tax Benefit :</b> Interest paid on education loan to bank gives tax benefit under section 80E. This benefit is available to the Co-Applicant / Co-Signor. This deduction under Section 80E is over and above the Rs.1.50 Lakhs deduction allowed under Section 80C and there is no maximum limit for claiming this deduction under Section 80E (as per 80E norms).</li>
                    <li><b>Margin Money :</b> This is the amount that a student is supposed to pay from their side on every disbursement. ICICI Bank gives 100 % funding for loan amount up to 20 Lacs and if the loan amount is above that then it requires 15 % (from the very 1st rupee). In such case they would be ready to fund up to a maximum of 85 % of the total loan required by the student.</li>
    				<li><b>Loan to Value :</b> ICICI Bank provides approximately 100 % of the value of the Mortgaged Collateral. They do the latest property evaluation and provide loan maximum up to 100 % for the student.</li>
    				<li><b>Repayment Period :</b> The repayment of the Loan is up to 10 years (120 months) for Post Graduate Courses and 7 years (84 months) for Under Graduate Courses and it starts after the Moratorium Period.</li>
    				<li><b>Moratorium Period :</b> Moratorium on repayment during study period available <b>+ 6 Months</b> after completion of course. Repayment during moratorium varies based on course and Institute.</li>
    				<li><b>Loan Process :</b> Door Step Home Service Available. Initially the documents are submitted by students to Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, who get the Valuation and Legal Formalities done, post which they decide on the Sanctioning of the Loan. Once the loan is Sanctioned, Disbursements happen from these Loan Centre’s.</li>
                    <li><b>Time for Processing :</b> ICICI Bank Education Loans are done through their Loan Centre’s which are faster compared to other banks. The average turnaround time is at least 10 days (for Secured Loans) and 4 – 5 days (for Unsecured Loans).</li>
    				<li><b>Processing Fees :</b> 1 % of the Loan Amount + GST which can be considerable on Case to Case basis. Administrative charges is applicable for collateral backed loans.</li>
    				<li><b>Universities Funded :</b> ICICI Bank presently covers 600 + abroad institutes in various countries .All Major course streams are covered here.</li>
    				<li><b>Sanction Letter :</b> They can give a Sanction Letter prior to receiving I20 for US. Validity of Sanction Letter is up to <b>6 months</b> (Can be extended).</li>
    			</ul>
    		</div>
            <div>
                <b>* Subject to changes.</b>
            </div>
    	</div>
    </div>
</section> -->
