<style type="text/css">
  /*.spanText{
    font: 550 14px Open Sans, sans-serif;
  }*/
   /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
   #sidebar-wrapper {
   /*margin-left: -250px;
   left: 250px;*/
   width: 275px;
   background: white;
   position: fixed;
   height: 85%;
   /*top: 85px;*/
   /*overflow-y: auto;*/
  overflow: overlay;
   transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
   }
  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
 /*  #page-content-wrapper {
   width: 100%;
   }*/
   .sidebar-nav {
   position: absolute;
   top: 0;
   width: 275px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav li {
   line-height: 20px;
   text-indent: 0px;
   }
   .sidebar-nav li a {
   color: #f9992f;
   display: block;
   text-decoration: none;
   padding-left: 38px;
    margin-left: 10px;
   }
   .sidebar-nav li a span:before {
   position: absolute;
   left: 0;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav li a span b{
   font: 550 14px Open Sans, sans-serif !important;
   }
   .sidebar-nav li a:hover,
   .sidebar-nav li.active {
   color: #014b79;
   background: rgba(230, 227, 224, 0.41);
   text-decoration: none;
   }
   .sidebar-nav li a:active,
   .sidebar-nav li a:focus {
   text-decoration: none;
   }
   .sidebar-nav > .sidebar-brand {
   height: 65px;
   line-height: 60px;
   font-size: 18px;
   }
   .sidebar-nav > .sidebar-brand a {
   color: #f9992f;
   }
   .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
   }

   .sidebar-nav-sub {
   position: inherit;
   top: 0;
   width: 250px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav-sub li {
   line-height: 40px;
   text-indent: 12px;
   }
   .sidebar-nav-sub li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding-left: 25px;
   }
   .sidebar-nav-sub li a span:before {
   position: absolute;
   left: 7;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav-sub li a:hover,
   .sidebar-nav-sub li.active {
   color: #014b79;
   background: rgba(243, 243, 243, 0.57);
   text-decoration: none;
   }
   .sidebar-nav-sub li a:active,
   .sidebar-nav-sub li a:focus {
   text-decoration: none;
   }
   .sidebar-nav-sub > .sidebar-brand {
       height: 31px;
    line-height: 20px;
    font-size: 16px;
   }
   .sidebar-nav-sub > .sidebar-brand a {
   color: rgba(153, 153, 153, 0.8117647058823529);
   }
   .sidebar-nav-sub > .sidebar-brand a:hover {
   color: #014b79;
   background: white;
   }

   .content-header {
   height: 65px;
   line-height: 65px;
   }
   .content-header h1 {
   margin: 0;
   margin-left: 20px;
   line-height: 65px;
   display: inline-block;
   }
   #menu-toggle {
   text-decoration: none;
   }
   .btn-menu {
   color: #000;
   }
   .inset {
   padding: 5px 20px 20px 20px;
   }

   @media screen and (max-width: 992px){
   #sidebar-wrapper {
   left: 0;
   width: inherit;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   @media (max-width:767px) {
  /* #wrapper {
   padding-left: 0;
   }*/
   #sidebar-wrapper {
   left: 0;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
   }

   .legendTwo{
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
   }

   .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
     /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
     box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
}
</style>
<div id="myModalIDBI" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>  
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       
                       <hr class="hrTop">
                       <h5 class="imgTitle">Compare to get the Best deal for your Education Loan.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionNatPriv('myModalIDBI')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalSBI').modal('show');
   }, 9000);
   //$('#myModalSBI').modal('show');
 });*/
</script>
<section id="imgSec" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">IDBI Bank Education Loan</h1>
           </div>
       </div>
   </div>
   </section>
<section  style="padding: 5px 0 0px 0;">
<div class="container">
  <div class="row scrollSpyArea" >
    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
        <div id="sidebar-wrapper">
         <nav id="spy">
            <ul class="sidebar-nav nav">
               <li>
                  <a href="#home"><span class="fa fa-bank solo"><b>Home</b></span></a>
               </li>
               <li>
                  <a href="#Highlights" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Highlights of IDBI Bank Education Loan</b></span>
                  </a>
               </li>
               <li>
                  <a href="#moreDetails" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>More Details</b></span>
                  </a>
                  <ul class="sidebar-nav-sub nav">
                    <li class="sidebar-brand">
                        <a href="#processing" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Sanction /Loan processing</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#LoanAmount" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Loan Amount</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Topuploan" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Top up loan</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Expenses" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Expenses covered</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#tenure" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Loan tenure</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#security" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Margin & Security</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#processingFee" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Processing Fee</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Charges" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Charges on part payment</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#CollateralOptions" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Collateral Options</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Rateofinterest" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Rate of interest</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#InterestConcession" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Interest Concession</b></span>
                        </a>
                    </li>
                  </ul>
               </li>
               
            </ul>
         </nav>
      </div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
         <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">
               <div class="jumbotron text-center" style="margin-bottom: 15px;">
                  <h2 style="font-size: 30px">IDBI Bank Education Loan</h2>
                  <p style="font-size: 18px">IDBI Bank Ltd. has inherited a rich legacy from its predecessor entity - Industrial Development Bank of India (IDBI) – which was an apex Development Financial Institution (DFI) since 1964. Further, LIC of India has acquired majority shares of the bank which makes direct and indirect shareholding of Government of India in IDBI Bank is over 97%.</p>
                  <p style="font-size: 18px"><b>IDBI Bank has a network over 1900 branches & around 3500 ATMs PAN India. Today, IDBI Bank is operating as a full service universal bank that serves the customers from all segments, committed to understanding our Customer’s needs and aims at consistently delivering relevant financial solutions and excellent customer service.</b></p>

               </div>
            </div>
            <div class="row">
               <div class="col-md-12 wellBox">
                  <legend class="legendOne" id="Highlights">Highlights of IDBI Bank Education Loan</legend>
                  <p>IDBI Bank Offers ‘i-learn’ Education loan to aspirant students opting for higher studies in India and Abroad and covers multiple courses that would facilitate them to address their every need. Some of the highlights of ‘i-learn’ Education loan are furnished below:</p>
                  <ul class="nopadding">
                    <li>Fast Processing.</li>
                    <li>Easy repayment Terms & Maximum Repayment tenure</li>
                    <li>Higher loan amount</li>
                    <li>Attractive Interest Rates</li>
                    <li>Interest Rate Concession of 1% if interest is serviced during moratorium period, Concession for Girl child / Existing customer/ SC/ ST/ Minority / physically handicapped</li>
                    <li>Loan for a wide range of courses including MCA/ MBA/ MS/ CIMA/ CPA-USA/ Professional/ technical/ Aeronautical/ pilot/shipping/Post Graduate Degree from reputed University Abroad</li>
                    <li>Nil Processing Fees</li>
                    <li>Nil Part Payment/Pre-closure charges</li>
                    <li>Instant World Currency Card</li>
                    <li>Additional/Top up loan for increase in Course Fee/Rupee Depreciation/another course</li>
                    <li>Expenses covered - Course Fee/Boarding/Lodging/Travel/ Books/Equipment’s/Laptop/Exchange Programme/ Project Work/Instruments/Insurance</li>
                    <li>Balance transfer facility</li>
                    <li>Tax benefits (under Sec 80E)</li>
                  </ul>
               </div>

               <!-- Second -->
               <div class="col-md-12">
                  <h3 class="legendOne" id="moreDetails">More Details</h3>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="processing">Sanction /Loan processing</legend>
                  <p>Ease & comfort in loan processing at any Branch that is nearest to the student/co-applicant or educational institution. Quick loan sanction at Branch level</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="LoanAmount">Loan Amoun:</legend>
                  <p><b>Need based finance:</b></p>
                  <table class="table table-bordered">
                      <tr>
                        <th><b>Country of studies/ course</b></th>
                        <th><b>Loan Amount* (Rs)</b></th>
                      </tr>
                      <tr>
                        <td>Courses offered by Foreign Institutes in: USA, UK, Canada, Australia, European Union, Singapore, Japan, Hong Kong and New Zealand.</td>
                        <td>Ra.75 lakhs</td>
                      </tr>
                      <tr>
                        <td>Courses offered by universities in other countries</td>
                        <td>Ra.30 lakhs</td>
                      </tr>
                      <tr>
                        <td>Aeronautical, Pilot training, Shipping courses etc recognized by regulatory bodies abroad</td>
                        <td>Ra.30 lakhs</td>
                      </tr>
                  </table>
                  <p>* Higher loan amount can be sanctioned on case to case basis</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="Topuploan">Top up loan</legend>
                  <p><b>Top up loans are allowed for</b></p>
                  <ul>
                    <li>Increase of Course fee</li>
                    <li>Rupee depreciation</li>
                    <li>Another course curriculum</li>
                  </ul>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="Expenses">Expenses covered</legend>
                  <ul>
                    <li>Fee payable to the University/ Hostel-reasonable lodging & Boarding.</li>
                    <li>Expense for purchase of Books, Equipment, Uniforms</li>
                    <li>Expense for Travel expenses, Insurance premium, GIC for Canada</li>
                    <li>Service Tax & Cess if applicable</li>
                    <li>Reimbursement of fee paid.</li>
                    <li><b>For countries where tuition fee is waived:</b> Expenses mentioned in admission letter, reasonable lodging & boarding charges, travel expense, insurance premium are covered.</li>
                  </ul>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="tenure">Loan tenure</legend>
                  <p>Up to 15 years post moratorium period</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="security">Margin & Security</legend>
                  
                  <table class="table table-bordered">
                      <tr>
                        <th><b>Loan amount</b></th>
                        <th><b>Margin Minimum</b></th>
                        <th><b>Security</b></th>
                      </tr>
                      <tr>
                        <td>Up to Rs. 4 Lakh</td>
                        <td>Nil</td>
                        <td>No security</td>
                      </tr>
                      <tr>
                        <td>> Rs. 4 lakh – Rs. 7.5 Lakh</td>
                        <td>15%</td>
                        <td>Suitable third-party guarantee</td>
                      </tr>
                      <tr>
                        <td>Above Rs. 7.5 Lakh</td>
                        <td>20%</td>
                        <td>Collateral security- various options available</td>
                      </tr>
                  </table>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="processingFee">Security for SBI education loan</legend>
                  <p><b>Zero Processing charges</b></p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="Charges">Charges on part payment</legend>
                  <p><b>Zero charges on pat payment</b></p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="CollateralOptions">Repayment Tenure</legend>
                  <ul>
                    <li>Collateral in the name of student/ parent/ guardian/ Co-applicant(s)</li>
                    <li><b>Liquid Collateral :</b> Having fixed returns/ surrender value & with security</li>
                    <li><b>Options :</b> Fixed Deposit with IDBI Bank LIC policy NSC / KVP Govt. securities/ Public Sector Bonds etc.</li>
                    <li><b>Immoveable property</b> Open/vacant plot are also eligible for collateral security.</li>
                  </ul>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="Rateofinterest">Rate of interest</legend>
                  <ul>
                    <li>Floating Rate of interest linked to RLLR i.e Repo Linked Lending Rate</li>
                    <li>Simple interest is charged during moratorium period</li>
                    <li>Servicing of interest during moratorium is optional for student</li>
                  </ul>
                  <table class="table table-bordered">
                      <tr>
                        <th><b>Loan amount</b></th>
                        <th><b>Floating Rate</b></th>
                        <th><b>Present Effective Interest Rate*</b></th>
                      </tr>
                      <tr>
                        <td>Upto Rs. 7.50 lak</td>
                        <td>RLLR + 1.50%</td>
                        <td>10.65%</td>
                      </tr>
                      <tr>
                        <td>Above Rs. 7.50 lakh</td>
                        <td>RLLR + 2.00%</td>
                        <td>11.25%</td>
                      </tr>
                  </table>
                  
                  <p><b>* Present RLLR @ 9.15%</b><br></p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="InterestConcession">Interest Concession</legend>
                  <ul>
                    <li>Borrower willing to service interest during moratorium and have sufficient income proof thereof – 1% remission of interest</li>
                    <li>Girl applicant -0.50%</li>
                    <li>Applicant from SC/ST/Minority community -0.25%</li>
                    <li>Existing customer of Bank or child of existing customer of Bank – 0.25%</li>
                    <li>Physically challenged applicants-0.25%</li>
                  </ul>
               </div>
            </div>
         </div>
    </div>
  </div>
</div>

   <!-- <div id="wrapper">

      <div id="page-content-wrapper">


      </div>
   </div> -->
</section>
<!-- <section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Collateral / Secured Overseas Education Loans through State Bank of India</h2>
            <p class="" style="text-align:justify;"> <b>State Bank of India (SBI)</b> is India’s largest bank for every Indian. The Bank is actively involved since 1973 in non-profit activity called Community Services Banking. Their loan product for Overseas Education is called <b>Global Ed-Vantage</b></p>
            <p class="" style="text-align:justify;"> <b>Vision :</b> Be The Bank Of Choice For A Transforming India.</p>
            <p class="" style="text-align:justify;"> <b>Mission :</b> Committed to providing Simple, Responsive and Innovative Financial Solutions.</p>
            <p class="" style="text-align:justify;"> <b>Values :</b> Service / Transparency / Ethics / Politeness / Sustainability.</p>
         </div>
         <div class="col-md-12" style="text-align:justify;">
            <p><b>The key salient features of State Bank of India are :</b></p>
            <ul class="nopadding">
               <li><b>Pan India Reach :</b> Very few banks or financial institutions in India can compete with SBI, as it covers all major and minor cities in mostly all States of India. The loan processes through the branches and then to the RACPC’s (Centralized Processing Centre’s), which are the sanctioning authority and come under the supervision of the Nodal Officers. SBI’s Education Loans are exclusively for full-time regular courses at foreign Colleges / Universities.</li>
               <li>Low Interest Rate : SBI provides a very competitive interest rate to the student. Presently the ROI (Rate Of Interest) is 10.80 %.</li>
               <li><b>Special Rate :</b> 0.50 % is a special concession available on ROI (Rate Of Interest) for Girl Students and can be enjoyed only with Nationalized / PSU (Public Sector) Banks which come under RBI guidelines.</li>
               <li><b>Discount :</b> 0.50 % against Insurance policy (Rinn Raksha to be taken from SBI Life Insurance by paying a one-time premium).</li>
               <li><b>High Loan Amount :</b> SBI is the only Nationalized / PSU Bank that can give the maximum loan amount of up to Rs.1.50 Crores as per Global Ed-Vantage. They fund for Undergraduate Courses, which has a higher requirement, as not all Financial Institutions do the same.</li>
               <li><b>Consideration On Basis Of :</b> Security in the form of land (Not Agricultural Land) / building to the tune of 110% of the loan limit plus simple interest to be accrued on the loan amount during course and moratorium period OR Liquid Securities (FD's and Traditional LIC policy ,etc.) to the extent of 100% of the Loan Limit</li>
               <li><b>Tax Benefit :</b> Interest paid on education loan to bank is Tax waived under section 80E. This benefit is available to the Co-Applicant / Co-Signor. This deduction under Section 80E is over and above the Rs.1.50 Lakhs deduction allowed under Section 80C and there is no maximum limit for claiming this deduction under Section 80E.</li>
               <li><b>Margin Money :</b> This is the amount that a student is supposed to pay from their side on every disbursement. SBI requires that the student Compulsorily pays 10 % of the cost of education on their own. They would be ready to fund up to a maximum of 90 % of the total loan required by the student.</li>
               <li><b>Padho Pardesh :</b> This Scheme is an Interest Subsidy on Educational Loans for Overseas Studies given to the Students Belonging to the Minority Communities and is available through SBI. This has to be applied for quarterly through SBI and the bank would not be liable in any way if the interest amount is not refunded by the Government.</li>
               <li><b>Repayment Period :</b> SBI has a long term for the repayment of Loan which is up to 15 years (180 months) and it starts after the Moratorium Period gets over.</li>
               <li><b>Moratorium Period :</b> SBI offers an option where the student can decide if they want to pay the Interest Amount during moratorium period or after moratorium period along with Principal Amount. Moratorium on repayment during study period available <b>+ 6 Months</b> after completion of course.</li>
               <li><b>Loan Proceeds :</b> Initially the documents are submitted by the students through VLP (Vidya Laksmi Portal) to the nearest bank branch from where it proceeds to the Loan Cell for Valuation and Legal Proceeds, post which, they decide on the Sanctioning of the Loan. Once the loan is sanctioned the Disbursements happen from the students nearest bank branch through which they had submitted the initial documents.</li>
               <li><b>Credit Grading :</b> The bank looks at Students Profile, Parents IT Returns, CIBIL Rating and Collateral Security. SBI is heavily dependent on the security provided for the loan followed by the student’s profile. Weak IT returns of parents are sometimes considered in case the former are strong. Additional co-applicants / co-signors can even be a 3rd party instead of a relative, if their Collateral Mortgage has to be considered.</li>
               <li><b>Time for Processing :</b> SBI is a large organization and Education Loans are done through a centralized processing centre which generally takes longer for the student to process the file. The average turnaround time is at least 15 days from the time students have submitted all loan documents.</li>
               <li><b>Low Processing Fees :</b> SBI has very low processing fees of Rs.10,000 + GST (Non Refundable) for any amount of loan between 20 Lacs to 1.50 Crores. Property Valuation and Legal charges are extra.</li>
               <li><b>Universities Funded :</b> Regular Graduate/Post-Graduate/Doctorate Degree/Diploma/Certificate Courses in any discipline offered by foreign Institutes/Universities in USA, UK, Canada, Australia, Europe, Singapore, Japan, Hong Kong and New Zealand is covered under the scheme.</li>
               <li><b>Sanction Letter :</b> They issue a Sanction Letter once University is Finalized and the same can be used for Visa purpose. Validity of Sanction Letter is up to <b>6 months</b>.</li>
            </ul>
         </div>
         <div>
            <b>* Subject to changes.</b>
         </div>
      </div>
   </div>
</section> -->

<script type="text/javascript">
   /*Menu-toggle*/
   // $("#menu-toggle").click(function(e) {
   //     e.preventDefault();
   //     $("#wrapper").toggleClass("active");
   // });
   //var offset = 80;
   /*Scroll Spy*/


   $('.scrollSpyArea').scrollspy({ target: '#spy', offset:200});

    headerHeight = $("#header").height() + 5;
    secHeight = $("#imgSec").height() + headerHeight;

   /*Smooth link animation*/
   $('a[href*=#]:not([href=#])').click(function() {
      $('#sidebar-wrapper').css({'top' : headerHeight });
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - headerHeight
               }, 1000);
               return false;

           }

       }

   });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function(event){
     var st = $(this).scrollTop();
     if (st > lastScrollTop){
         // downscroll code
          $('#sidebar-wrapper').css({'top' : headerHeight });
     } else {
     }
     lastScrollTop = st;
  });
  $(window).scroll(function(){
    if ($(this).scrollTop() == '0') {
        var element = document.getElementById('sidebar-wrapper');
        element.style.top = null;
    }
});

</script>
