
<div id="myModalIncred" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Compare to get the Best deal for your Education Loan.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionNBFC('myModalIncred')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalIncred').modal('show');
   }, 9000);
   //$('#myModalIncred').modal('show');
 });*/
</script><section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Incred</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Collateral (Secured) / Non Collateral (Unsecured) Overseas Education Loans through Incred</h2>
    			<p class="" style="text-align:justify;"> <b>Incred</b> is a new-age financial services platform that leverages technology and data-science to make lending quick and easy. Incred is credit for Incredible India. They use technology and data-science to make lending quick, simple and hassle-free and believe traditional ways of lending can exclude those most in need because of outdated, rigid and often inefficient processes. They have simplified the lending process with a sharp focus on serving their borrowers’ unique needs and circumstances – offering their customers a truly superior borrowing experience.</p>
                <p class="" style="text-align:justify;"> <b>Vision :</b> To create a trustworthy, transparent and highest integrity financial institution that positively advances the socio-economic well-being of lower middle class to middle class Indian households while protecting the interests of all stakeholders.</p>
                <p class="" style="text-align:justify;"> <b>Mission :</b> To be relentless in inculcating and nurturing a culture of continuous innovation and execution excellence by combining cutting edge technology, data science and deep financial domain expertise and delivering the best suited profitable products in the most dignified experiences for every customer.</p>
                <p class="" style="text-align:justify;"> <b>InCred Brand Philosophy :</b> To build our brand through affirmative experiences where every moment-of-truth for our stakeholder conveys and endorses our core values of Integrity / Passion / Customer Focus / Innovation / Ownership.</p>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>The key salient features of Incred are :</b></p>
    			<ul class="nopadding">
    				<li><b>Pan India Reach :</b> Amongst other NBFC’s Incred has one of the Finest Network and Decent # of Servicing Offices throughout all major and minor cities in mostly all States of India. The loan processes through Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, which are the sanctioning authority.</li>
    				<li><b>Interest Rate :</b> They provide a very reasonable interest rate amongst all the NBFC’s for both Collateral and Non Collateral Loans. Presently the ROI (Rate Of Interest) range is between 11.00 % to 13.00 % for Secured Loans (Negotiable) and between 11.50 % to 13.00 % for Unsecured Loans (Negotiable). Interest Rates and PF amount depends mainly on three aspects 1) Academic and Job profile of the student 2) Repayment Capacity of Co-applicant 3) CIBIL and credit history of students and all co-applicants.</li>
    				<li><b>High Loan Amount :</b> Incred is one of the Financial Institutions that can give the maximum loan amount <b>(No Upper Limit for Secured)</b> and up to Rs.40 Lakhs (Unsecured).</li>
    				<li><b>Consideration On Basis Of (Secured Loan) :</b> Land (Not Agricultural Land) , FD's, Traditional LIC policy, Residential property, Commercial property, etc …</li>
    				<li><b>Consideration On Basis Of (Unsecured Loan) :</b> The students profile, his competitive exam scores, University and Course applied for, Co-Applicants (Blood Relations) IT Returns and Cibil Report.</li>
                    <li><b>Margin Money :</b> This is the amount that a student is supposed to pay from his side on every disbursement. Incred gives 100 % funding, instead of the students having to use partial funds of their own. There will be cases where InCred may ask for OCR depending on loan eligibility of the students and his/her co-applicants.</li>
    				<li><b>Loan to Value :</b> For Secured Loans Incred provides approximately 100 % of the value of the Mortgaged Collateral. They do the latest property evaluation and provide loan maximum up to 100 % for the student.</li>
    				<li><b>Repayment Period :</b> They have a long term for the repayment of the Loan which is up to 12 years (224 months) and it starts after the Moratorium Period gets over.</li>
    				<li><b>Moratorium Period :</b> Moratorium on repayment during study period available <b>+ 6 Months to 1 Year</b> after completion of course.</li>
    				<li><b>Loan Proceeds :</b> InCred is a Fintech company. The initial process involves submission of soft copy of all initial documents through email or any other digital medium, though Door Step Home Service Available. Initially the documents are submitted by students to Dedicated Relationship Managers (RM’s) who are linked with the Loan Centre’s (Area Wise) and have The Credit Team / Underwriters, who get the Valuation and Legal Formalities done, post which they decide on the Sanctioning of the Loan. Once the loan is Sanctioned, Disbursements happen from these Loan Centre’s.</li>
                    <li><b>Credit Grading :</b> For Secured Loan they look at Students Profile, Parents IT Returns, Cibil Report and Collateral Security. Incred is heavily dependent on the security provided for the loan followed by the student profile. Weak IT returns of parents are sometimes considered in case the former are strong. Additional Co-applicants / Co-signors can even be a 3rd party instead of a relative, if their Collateral Mortgage has to be considered. There can be other additional conditions depending on the particular case.</li>
    				<li><b>Time for Processing :</b> Incred is a large organization and Education Loans are done through their Loan Centre’s which are faster compared to other Financial Institutions. The average turnaround time is at least 7-10 days (for both Secured and Unsecured Loans).</li>
    				<li><b>Processing Fees :</b> 1 % of the Loan Amount + GST which can be considerable on Case to Case basis.</li>
    				<li><b>Universities Funded :</b> Incred funds majority of the universities and also majority of the courses (Mostly Masters - MS) under Secured and Unsecured Loans.</li>
    				<li><b>Pre Sanction Letter :</b> They can give a Sanction Letter prior to receiving I20 for US. Validity of Sanction Letter is up to <b>6 months</b> (Can be extended). Funds can be used by students to show for their I20 and Visa purpose.</li>
                    <li><b>Flexible Repayment Options :</b> Partial payment of Interest option available during Moratorium Period (Case to Case Basis and Country Specific).</li>
    			</ul>
    		</div>
            <div>
                <b>* Subject to changes.</b>
            </div>
    	</div>
    </div>
</section>
