<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"-->

<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 --><!--   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
 --><!-- <link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet"> -->




 <!--style type="text/css">
	/***********************ABOUT US**********************/
	.about-section {
    padding: 4em 0;
}
.site-title  {
    padding: 2em 0;
}
.site-title h3 {
    font-size: 3.5em;
    color: #004b79;
    /*font-family: 'Marvel-Regular';*/
    font-weight: 700;
}
.site-title p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin-top: 0.5em;
}

.about-inner-column h4 {
    font-size: 2.5em;
    color: #004b79;
   /*font-family: 'Marvel-Regular';*/
}
.about-inner-column p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin: 1em 0 0;
}

.about-inner-column ul li a {
    color: #333333;
    font-size: 1.1em;
    padding-left: 2em;
}
.about-right img {
    width: 100%;
}

/*********************************BASIC BANK Details CARDS**********************************/
.best-plan{
    margin: 0px auto 0px auto;
    position: relative;
    z-index: 99;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.55;
    color: rgba(51,51,51,1);
    font-weight: 300;
    background-color: dimgrey;
}

.best-plan__head{
    text-align: center;
    margin-bottom: 45px;
}

.best-plan__title{
    font-size: 36px;
    margin-bottom: 15px;
    margin-top:50px;
    font-weight: 800;
    color:#3c2f17;
}
.best-plan__title + p{
    font-size: 18px;
    font-weight: 300;
}

.b-price-plan{
    border: 1px solid rgba(125,138,164,.25);
    max-width: 450px;
    height: 790px;
    margin: 0 auto 30px auto;
    background: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: opacity .35s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
    transition: opacity .35s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
    -o-transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear;
    transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear;
    transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
}

.b-price-plan__item{
    padding: 15px 30px;
}

.b-price-plan__head{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.b-price-plan__head > h3{
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0;
    letter-spacing: 1px;
}

.price_foot{
    text-align: center;
    position: relative;
    overflow: hidden;
}
.price_foot:before{
    content: '';
    position: absolute; top: 100%; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(125,138,164,.1);
    -webkit-transition: top .6s linear;
    -o-transition: top .6s linear;
    transition: top .6s linear;
}

.b-price-plan__cost{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    z-index: 99;
    text-align: center;
    background: rgba(125,138,164,.1);
}
.cost-title{
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    color: rgba(125,138,164,1);
}
.cost-title:before{
    content: '\f155';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    position: relative; top: -20px;
}
.cost-title > span{
    position: relative; top: -25px; left: 5px;
    font-size: 18px;
}
.cost-time{
    font-size: 13px;
    color: rgba(125,138,164,.75);
}


.price-plan_pro{
    position: relative;
    z-index: 99;
    -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3);
            box-shadow:0 0 0 6px rgba(255, 255, 255, 0.3);
}

.p_plan_list{
    padding: 0;
    margin: 0;
}
.p_plan_list > li{
    position: relative;
    padding: 15px 30px 15px 54px;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border-top: 1px solid rgba(125,138,164,.1);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.p_plan_list > li:hover{
    border-color: rgba(125,138,164,.1);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px rgba(125,138,164,.06);
            box-shadow: 0 2px 4px rgba(125,138,164,.06);
    position: relative;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    z-index: 99;
}

.p_plan_list > li .fa{
    color: rgba(125,138,164,1);
    margin-right: 8px;
    width: 16px;
    height: 16px;
    position: absolute; top: 50%; left: 30px;
    margin-top: -8px;
}
.p_plan_list > li .fa.text-success{
    color: rgba(160,206,78,1)!important;
}
.p_plan_list > li .fa.text-danger{
    color: rgba(253,99,71,1)!important;
}
.p_plan_list > li:first-of-type{
    border-top: none;
}

/* price_btn style */

.price_btn{
    overflow: hidden;
    position: relative;
    z-index: 99;
    margin: 15px auto;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(125,138,164,1) ;
    text-decoration: none;
    text-transform: uppercase;
    width: 70%;
    border: 2px solid rgba(125,138,164,1) !important;
    background: #fff !important;
    padding: 15px 20px !important;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.price_btn:before,
.price_btn:after{
    content: '';
    position: absolute; top: 0; left: 0;
    width: 0;
    height: 50%;
    background: rgba(125,138,164,1) !important;
    -webkit-transition: width .3s ease-in;
    -o-transition: width .3s ease-in;
    transition: width .3s ease-in;
}
.price_btn:after{
    top: auto;
    bottom: 0;
    -webkit-transition: width .4s ease-in;
    -o-transition: width .4s ease-in;
    transition: width .4s ease-in;
}
.price_btn:hover:before,
.price_btn:hover:after{
    width: 100%;
}

.price_btn > span{
    position: relative;
    z-index: 99;
}

.price_btn .fa{
    font-size: 18px;
    position: absolute; top: 50%; left: 100%;
    z-index: 99;
    width: 30px;
    opacity: 0;
    -webkit-transition: left .55s linear, opacity .55s linear;
    -o-transition: left .55s linear, opacity .55s linear;
    transition: left .55s linear, opacity .55s linear;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.price_btn:hover .fa{
    left: 80%;
    opacity: 1;
}

.price_btn:hover{
    overflow: visible;
    background: #fff;
    border-color: rgba(125,138,164,1) !important;

}
.price_btn:active,
.price_btn:focus{
    background: rgba(125,138,164,1) !important;
    border-color: rgba(125,138,164,1) !important;
}

.b-price-plan:hover{
    -webkit-box-shadow: 0 10px 20px rgba(125,138,164,.25) !important;
            box-shadow: 0 10px 20px rgba(125,138,164,.25) !important;
}
.b-price-plan:hover .price_foot:before{
    top: 0;
}

.b_plan_body:hover .b-price-plan{
    opacity: .25;
    -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
            transform: scale(.95);
}
.b_plan_body:hover .b-price-plan:hover{
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.ftr{
    text-align: center;
}

</style-->

<div id="myModalUSBANK" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                        <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Get the Best Deal for Education Loan without Consignors.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalUSBANK')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalUSBANK').modal('show');
   }, 9000);
   //$('#myModalUSBANK').modal('show');
 });*/
</script>

<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">International Funds</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>



<section id="mpower">
<div class="container">
	<div class="row">

		<div class="col-md-12">
				<h4> MPOWER</h4>
                    <p class="" style="text-align:justify;">MPOWER provides student financing for the global citizens of tomorrow.</p>
		</div>
		<div class="col-md-8">


                        <p>MPOWER offers the following benefits : </p>

                            <ul class="nopadding">
                               <li>No collateral, co-borrower, co-signer or co-applicant required.</li>
                                <li>Build U.S. credit score & history.</li>
                                <li>Top up loans available.</li>
                                <li>Credit decisions based on future earning potential.</li>
                                <li>Fast online, paperless process.</li>
                            </ul>
                        <p><a class="btn btn-primary btn-md" href="/mpower-abroad-study-loans"> More Details</a></p>


		</div>
			<div class="col-md-4" >
			   <img src="images/partners/mpower.png" alt="mpower financing education loan" class="img-responsive" >
			</div>
	</div>
</div>
</section>


<section style="background-color:#f1f1f1;" id="prodigy">
<div class="container">
	<div class="row">
		<div class="col-md-12" >
		<h4> Prodigy Financing </h4>


		</div>

		<div class="col-md-8">
		<p class="" style="text-align:justify;">Prodigy Finance is revolutionising funding for international students. <br>We offer postgraduate student loans and refinancing for students studying abroad.</p>
		<p class="intro">Prodigy Financing offers the following benefits : </p>

                            <ul class="nopadding">
                                <li>Competitive interest rate.</li>
                                <li>Large loan sizes without collateral or cosigner.</li>
                                <li>No hidden costs such as FX conversion, Insurance etc.</li>
                                <li>Smooth and direct disbursements to university.</li>
                                <li>Help with recruitment.</li>
                            </ul>
        <p><a class="btn btn-primary btn-md" href="/prodigy-finance-education-loan"> More Details</a></p>

         </div>
		 <div class="col-md-4" >
			   <img src="images/partners/prodigy.png" alt="Prodigy Finance Student Loans"  class="img-responsive" >
		</div>

	</div>
</div>
</section>

<section id="leapFinance">
<div class="container">
    <div class="row">
        <div class="col-md-12" >
        <h4> Leap Finance </h4>


        </div>

        <div class="col-md-8">
        <p class="" style="text-align:justify;"><b>Leap Finance</b> launched in 2019, with a goal to provide affordable student loans with lower interest rates, hassle-free service and a simple process to high potential students. We bridge the funding gap by connecting global capital providers with high potential students in emerging markets.</p>
        <p class="intro">At Leap Finance, we offer students the below main advantages to address the barriers found in most education financing options: </p>

            <ul class="nopadding">
                <li>An Easy, Free, and Convenient Application through our online website.</li>
                <li>Low interest rate based on your profile.</li>
                <li>Customizable Payment Plans that allows you to pay as per your ability.</li>
            </ul>
        <p><a class="btn btn-primary btn-md" href="/leapFinance-abroad-study-loans"> More Details</a></p>

         </div>
         <div class="col-md-4" >
               <img src="images/partners/leap-financelogo.png" alt="leap finance education loan" class="img-responsive" >
        </div>

    </div>
</div>
</section>




<section>
<div class="container">
	<div class="row">
		<div class="col-md-12" >
		<h3>Best Deals For You</h3>
		<p>&nbsp;</p>
		<table class="table">
        <thead>
          <tr>
            <th></th>
            <th>MPower Financing <br>Non Collateral</th>
            <th>Prodigy <br>Non Collateral</th>
            <th>Leap Finance <br>Non Collateral</th>


          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Intrest Rate</td>
            <td>10 - 11.99</td>
            <td>Starting @9%</td>
            <td>8–10% in USD</td>

          </tr>
		  <tr>
            <td>Processing Fee </td>
            <td>Nill</td>
            <td>Nill</td>
            <td>Nill</td>

          </tr>
		  <tr>
            <td>Loan Type </td>
            <td>Non Collateral  </td>
            <td>Collateral</td>
            <td>Non Collateral, Non Co-signor</td>

          </tr>
		  <tr>
            <td>Margin Amount </td>
            <td>8.6% - 8.95%</td>
            <td>Nill</td>
            <td>Nill</td>

          </tr>
		   <tr>
            <td>Processing Time </td>
            <td>Upto 7 Days</td>
            <td>Upto 7 Days</td>
            <td>-</td>

          </tr>
		  <tr>
            <td>Max Loan Offered  </td>
            <td>50000 dollars</td>
            <td>Depends on Case to Case basis</td>
            <td>-</td>
          </tr>
		  <tr>
            <td> </td>
            <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
            <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
            <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>

          </tr>
		  </tbody>
		  </table>



		</div>

	</div>
</div>
</section>






<style>


table {
border:1px solid greylight;
}
th, tr:last-child {
background-color:#f1f1f1;
}
th, td {
width:12.5%;
}

</style>
