<div id="myModalLeapFin" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Solve the Confusion, to get the Best Deal.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionIF('myModalLeapFin')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalLeapFin').modal('show');
   }, 9000);
   //$('#myModalLeapFin').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Leap Finance</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Non Collateral (Unsecured) Overseas Education Loans through Leap Finance:</h2>
    			<p class="" style="text-align:justify;"> <b>Leap Finance</b> launched in 2019, with a goal to provide affordable student loans with lower interest rates, hassle-free service and a simple process to high potential students. We bridge the funding gap by connecting global capital providers with high potential students in emerging markets.</p>
                <p class="" style="text-align:justify;"> At Leap Finance, we offer students the below main advantages to address the barriers found in most education financing options:</p>
                <ul>
                    <li>An Easy, Free, and Convenient Application through our online website;</li>
                    <li>Low interest rate based on your profile</li>
                    <li>Customizable Payment Plans that allows you to pay as per your ability.</li>
                </ul>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>Leap Finance USPs :</b></p>
    			<ul class="nopadding">
    				<li>No collateral. Ever.</li>
    				<li>Lowest rates (8–10%).</li>
    				<li>Fixed rates. Most rates are float on a variable rate such as MCLR, LIBOR</li>
    				<li>Full sanction amount (tuition + living).Leap Finance loan takes care of all of you. No need to worry about personal funds or burden parents. No other documents required for i20/visa.</li>
    				<li>Personalised customer support. We have a dedicated customer success team in India that uniquely understands you and offers prompt service.</li>
                    <li>3 day painless loan sanction. Upload documents online and loan sanctioned within 3 working days.</li>
    				<li>Transparent pricing in USD (no insurance, fx, change in interest rate etc). You know what you are paying for, upfront. No unexpected payments. No unexpected changes in interest rate.</li>
    				<li>Fully online process. Instant loan terms without docs. Learn your exact loan terms within 10 minutes.</li>
    				<li>Repayment in 7–10 years. There are no prepayment penalties.</li>
                    <li>6 months grace after graduation. During this period, you make a token amount of 5k INR every month.</li>
    				<li>Credit history in US. Our loan repayment reflect in US credit report. This is important if you’re looking to spend some time in US. A US Credit history develops your financial footprint allowing you access to key services in US such as credit cards, loans, and even sim cards / housing</li>
    			</ul>

                <p><b>How does Leap Finance offer above?</b></p>
                <ol class="nopadding">
                    <li>Loan assessment on future student income vs past assets. We understand the positive impact of education on your future and assess loan terms on enhanced future loan terms instead of accumulated wealth.</li>
                    <li>Tech enabled process. You receive loan terms in 10 minutes, sanction in 3 days and painless disbursements & repayments.</li>
                    <li>Unique enforceability model: As a Bangalore and San Francisco based company, our lending model allows us to lend without collateral.</li>
                </ol>

                <p><b>Who can apply?</b></p>
                <ol class="nopadding">
                    <li>Indians (for 2020 Fall season)</li>
                    <li>STEM MS in US</li>
                    <li>Attending 2200+ programmes at 209 schools at 93 universities</li>
                    <li>13 US states: Texas, Arizona, New York, North Carolina, Ohio, Florida, Georgia, Illinois, Massachusets, Utah, Virginia, New Jersey and Wisconsin.</li>
                    <li>Local Indian cosigner</li>
                </ol>

                <p><b>How to apply? </b></p>
                <ol class="nopadding">
                    <li>We would be referring you to our dedicated Leap Finance account Manager</li>
                    <li>Learn loan terms in 10 minutes</li>
                    <li>Submit documents online</li>
                    <li>Receive sanction letter</li>
                    <li>Sign loan agreement</li>
                </ol>

                <p><b>After sanction </b></p>
                <ol class="nopadding">
                    <li>Sanction letter eligible for i20 & visa</li>
                    <li>Funds disbursed directly to school</li>
                    <li>Living expenses transferred to bank account in US</li>
                </ol>
    		</div>
            <div>
                <b>* Subject to changes.</b>
            </div>
    	</div>
    </div>
</section>
