
<div id="myModalMpower" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Solve the Confusion, to get the Best Deal.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionIF('myModalMpower')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalMpower').modal('show');
   }, 9000);
   //$('#myModalMpower').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">MPOWER Financing</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Non Collateral (Unsecured) Overseas Education Loans through MPOWER Financing</h2>
    			<p class="" style="text-align:justify;"> <b>MPOWER Financing</b> believes socio-economic mobility should be borderless. Higher education is key to this mobility but, unfortunately, millions of students struggle to get into or through school due to financial constraints. They are expanding the U.S. and Canadian higher education market to serve more of the planet’s highest-potential individuals, regardless of income, family background, or gender. In the process, they’re enabling tomorrow’s doctors, lawyers, scientists, engineers, and business and government leaders to realize their full potential and make powerful contributions to the U.S. and Canadian economies–as well as emerging markets around the world.</p>
                <p class="" style="text-align:justify;"> <b>Vision :</b> Empowering Global Citizens for Global Change.</p>
                <p class="" style="text-align:justify;"> <b>Mission :</b> Remove the financial barriers to international education.</p>
                <p class="" style="text-align:justify;"> <b>Values :</b> Bold With Unwavering Integrity / Committed To Excellence and Inclusion / Compassionate and Data-Driven.</p>
                <p style="text-align: justify;"><b>Links : </b><a class="btn btn-primary registerButton" href="https://www.mpowerfinancing.com/get-a-loan?utm_source=eduloans&utm_medium=link&utm_campaign=interestratepromotionfall2022&utm_content=20220402--borrow" target="_blank">Get a loan !</a> | <a class="btn btn-primary registerButton" href="https://registration.mpowerfinancing.com/eligibility?utm_source=eduloans&utm_medium=link&utm_campaign=interestratepromotionfall2022&utm_content=20220402--eligibility" target="_blank">Start Your Application !</a>
              <!--  | <a data-toggle="modal" data-target="#basicModal" href="#" class="btn btn-info btn-sm btn-circle" > <b> MPOWER ELIGIBILITY CHECK </b> </a> --> </p>
    		</div>
        
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>The key salient features of MPOWER Financing are :</b></p>
    			<ul class="nopadding">
    				<li><b>No co-signer/co-borrower, no collateral, no credit history required:</b> MPOWER bases its credit decision primarily on a student’s future potential, and believes that students should be independent of others for their education funding.</li>
    				<li><b>Pan India Reach:</b> MPOWER Financing is a US-based financial institution which provides funding for US and Canadian universities and has their team working out from Bangalore (Karnataka) to service the Indian students. The entire process is online and so coordination between the company officials and the students happens pretty smoothly.</li>
    				<li><b>Interest Rate:</b> Their ROI (Rate Of Interest) is 10.49% (includes 3 interest rate discounts, see below).</li>
    				<li><b>Concession:</b> They have <b>3 concessions of 0.50 %</b> each. 1st concession eligibility is if the repayment of the loan is done by the student using / via Auto Debit from their bank account. 2nd concession eligibility is if student pays regularly for 6 months without any missed payments. 3rd concession eligibility is once student provides proof of graduation and full employment.</li>
    				<li><b>Loan Amount:</b> Maximum Loan amount is $50,000 (USD). $25,000 can be availed in the 1st year and the additional $25,000 can be availed in the next / subsequent year (Not over $25k for any semester). In case if additional funds required in the 1st year, based on a written request the additional amount can be disbursed but in 2nd year only the remaining amount out of the $50k would be funded to the student’s university account.</li>
                    <li><b>Top Up Loans Available:</b> If the student has applied for a loan elsewhere and is still falling short of the actual requirement as per the course expenses, then MPOWER Education Loan is a boon, as the remaining amount can be availed through them.</li>
    				<li><b>Consideration On Basis Of:</b> MPOWER has a list of approx. 350+ universities. If the student’s finalized university is in this list, then the student is eligible to get the loan, as MPOWER’s credit decisions are based on future earning potential of the student. No co-borrower, co-signer or co-applicant required.</li>
    				<li><b>Build US Credit History:</b>  MPOWER helps in creating a US credit history and score, which helps students apply for apartment rentals, credit cards, and much more in the US.</li>
    				<li><b>Loan to Value:</b> MPOWER gives 100 % funding up to a maximum of $50,000 (USD) for 2 years and if the students course expenses exceed $50k, they would ask for an explanation and proof of how the student plans to fund the remainder of the amount required.</li>
                    <li><b>Repayment Period:</b> Term for the repayment of the loan is up to 10 years (120 months) and it starts 6 months after graduation.</li>
    				<li><b>Moratorium Period:</b> Moratorium on principal repayment during study period available + 6 months after completion of course. Students do need to make interest payments while in school – this is how they earn the interest rate discount, build their credit history, and avoid the loan amount from growing during the moratorium period.</li>
    				<li><b>Loan Proceeds:</b> Fast Online Paperless Process. Initially the documents are uploaded by the students on the MPOWER portal along with the application, which are reviewed by their Credit Team who then decide on the sanctioning of the loan. Once the loan is sanctioned, disbursements happens directly from MPOWER (US) to the university (university certifies that the student is accepted/enrolled).</li>
    				<li><b>Time for Processing:</b> MPOWER’s processing of education loans is much faster compared to other financial institutions. A conditional approval can be obtained in 1-3 business days, and after submitting all documents, the average turnaround time is just 5-10 days.</li>
    				<li><b>Origination Fees:</b> 5 % of the disbursed amount (Gets adjusted in repayment EMI’s / Installments). This is not to be paid by the student upfront at the time of each disbursement.</li>
                    <li><b>Universities Funded:</b> They fund only the universities which are in their list. MPOWER funds for Undergraduate Courses (Only for Last 2 Years), which has a higher ROI.</li>
    				<li><b>Support Letter:</b> They can give a visa support letter which can be used by students to obtain their I-20 in US (which they need to get their student visa).</li>
                    <li><b>Sanction Letter:</b> They issue a sanction letter (‘conditional approval letter’) once the university is finalized and the same can be used for visa purpose. Validity of the sanction letter is up to <b>6 months.</b></li>
    			</ul>
    		</div>
            <div>
                <b>* Subject to changes.</b>
            </div>
    	</div>
    </div>

    <div class="modal fade" style="background-color:black;" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" style="    text-align: center;">MPOWER ELIGIBILITY CHECK</h4>
        </div>
        <div class="modal-body">
        <!-- <h3>MPOWER</h3> -->

        <iframe class="center-block" id="f64fac0b-7e9c-4565-94e8-209b6b904510" src="https://widget.mpowerfinancing.com/eligibilityWidget/widget" width="500" height="600" frameborder="0"></iframe>

        </div>
<!--         <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      </div>
    </div>

</section>

<script>
    window.onload = function(){
        var widget = {
            'id':'root',
            'widget_id':'f64fac0b-7e9c-4565-94e8-209b6b904510'
        };
        function serialize(obj) {
            var str = [];
            for(var p in obj){
                if (obj.hasOwnProperty(p)) {
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                }
            }
            return str.join("&");
        }
        function getWidget() {
            var hostPath = `${window.location.origin}${window.location.pathname}`;
            window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                widget[key] = value;
            });
            widget['host_information'] = hostPath;
            widget['host_name'] = hostPath;
            return widget;
        }
        var iframe = document.getElementById(widget['widget_id']);
        iframe.src = `${iframe.src}?${serialize(getWidget())}`
    }
</script>
