<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"-->

<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 --><!--   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
 --><!-- <link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet"> -->
<style type="text/css">
	/***********************ABOUT US**********************/
	.about-section {
    padding: 4em 0;
}
.site-title  {
    padding: 2em 0;
}
.site-title h3 {
    font-size: 3.5em;
    color: #004b79;
    /*font-family: 'Marvel-Regular';*/
    font-weight: 700;
}
.site-title p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin-top: 0.5em;
}

.about-inner-column h4 {
    font-size: 2.5em;
    color: #004b79;
    /*font-family: 'Marvel-Regular';*/
}
.about-inner-column p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin: 1em 0 0;
}

.about-inner-column ul li a {
    color: #333333;
    font-size: 1.1em;
    padding-left: 2em;
}
.about-right img {
    width: 100%;
}

/*********************************BASIC BANK Details CARDS**********************************/
.best-plan{
    margin: 0px auto 0px auto;
    position: relative;
    z-index: 99;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.55;
    color: rgba(51,51,51,1);
    font-weight: 300;
    background-color: dimgrey;
}

.best-plan__head{
    text-align: center;
    margin-bottom: 45px;
}

.best-plan__title{
    font-size: 36px;
    margin-bottom: 15px;
    margin-top:50px;
    font-weight: 800;
    color:#3c2f17;
}
.best-plan__title + p{
    font-size: 18px;
    font-weight: 300;
}

.b-price-plan{
    border: 1px solid rgba(125,138,164,.25);
    max-width: 450px;
    height: 790px;
    margin: 0 auto 30px auto;
    background: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: opacity .35s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
    transition: opacity .35s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
    -o-transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear;
    transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear;
    transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
}



.b-price-plan__item{
    padding: 15px 30px;
}

.b-price-plan__head{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.b-price-plan__head > h3{
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0;
    letter-spacing: 1px;
}

.price_foot{
    text-align: center;
    position: relative;
    overflow: hidden;
}
.price_foot:before{
    content: '';
    position: absolute; top: 100%; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(125,138,164,.1);
    -webkit-transition: top .6s linear;
    -o-transition: top .6s linear;
    transition: top .6s linear;
}

.b-price-plan__cost{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    z-index: 99;
    text-align: center;
    background: rgba(125,138,164,.1);
}
.cost-title{
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    color: rgba(125,138,164,1);
}
.cost-title:before{
    content: '\f155';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    position: relative; top: -20px;
}
.cost-title > span{
    position: relative; top: -25px; left: 5px;
    font-size: 18px;
}
.cost-time{
    font-size: 13px;
    color: rgba(125,138,164,.75);
}


.price-plan_pro{
    position: relative;
    z-index: 99;
    -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3);
            box-shadow:0 0 0 6px rgba(255, 255, 255, 0.3);
}

.p_plan_list{
    padding: 0;
    margin: 0;
}
.p_plan_list > li{
    position: relative;
    padding: 15px 30px 15px 54px;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border-top: 1px solid rgba(125,138,164,.1);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.p_plan_list > li:hover{
    border-color: rgba(125,138,164,.1);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px rgba(125,138,164,.06);
            box-shadow: 0 2px 4px rgba(125,138,164,.06);
    position: relative;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    z-index: 99;
}

.p_plan_list > li .fa{
    color: rgba(125,138,164,1);
    margin-right: 8px;
    width: 16px;
    height: 16px;
    position: absolute; top: 50%; left: 30px;
    margin-top: -8px;
}
.p_plan_list > li .fa.text-success{
    color: rgba(160,206,78,1)!important;
}
.p_plan_list > li .fa.text-danger{
    color: rgba(253,99,71,1)!important;
}
.p_plan_list > li:first-of-type{
    border-top: none;
}

/* price_btn style */

.price_btn{
    overflow: hidden;
    position: relative;
    z-index: 99;
    margin: 15px auto;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(125,138,164,1) ;
    text-decoration: none;
    text-transform: uppercase;
    width: 70%;
    border: 2px solid rgba(125,138,164,1) !important;
    background: #fff !important;
    padding: 15px 20px !important;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.price_btn:before,
.price_btn:after{
    content: '';
    position: absolute; top: 0; left: 0;
    width: 0;
    height: 50%;
    background: rgba(125,138,164,1) !important;
    -webkit-transition: width .3s ease-in;
    -o-transition: width .3s ease-in;
    transition: width .3s ease-in;
}
.price_btn:after{
    top: auto;
    bottom: 0;
    -webkit-transition: width .4s ease-in;
    -o-transition: width .4s ease-in;
    transition: width .4s ease-in;
}
.price_btn:hover:before,
.price_btn:hover:after{
    width: 100%;
}

.price_btn > span{
    position: relative;
    z-index: 99;
}

.price_btn .fa{
    font-size: 18px;
    position: absolute; top: 50%; left: 100%;
    z-index: 99;
    width: 30px;
    opacity: 0;
    -webkit-transition: left .55s linear, opacity .55s linear;
    -o-transition: left .55s linear, opacity .55s linear;
    transition: left .55s linear, opacity .55s linear;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.price_btn:hover .fa{
    left: 80%;
    opacity: 1;
}

.price_btn:hover{
    overflow: visible;
    background: #fff;
    border-color: rgba(125,138,164,1) !important;

}
.price_btn:active,
.price_btn:focus{
    background: rgba(125,138,164,1) !important;
    border-color: rgba(125,138,164,1) !important;
}

.b-price-plan:hover{
    -webkit-box-shadow: 0 10px 20px rgba(125,138,164,.25) !important;
            box-shadow: 0 10px 20px rgba(125,138,164,.25) !important;
}
.b-price-plan:hover .price_foot:before{
    top: 0;
}

.b_plan_body:hover .b-price-plan{
    opacity: .25;
    -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
            transform: scale(.95);
}
.b_plan_body:hover .b-price-plan:hover{
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.ftr{
    text-align: center;
}



/*************************STUDENT MODAL**************************/
html.modal-active, body.modal-active {
  overflow: hidden;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 105;
}
#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fadeIn {
  0% {
    background: transparent;
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: transparent;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes slideUpLarge {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slideDownLarge {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(150px);
  }
}
@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
    border-radius: 75px;
    height: 75px;
    width: 75px;
  }
  90% {
    border-radius: 3px;
    height: 182px;
    width: 247px;
  }
  100% {
    border-radius: 3px;
    height: 162px;
    width: 227px;
  }
}
@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fadeToRed {
  0% {
    box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8);
  }
  100% {
    box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8);
  }
}
@keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
</style>

<style>
.caption {
display:none;
}
</style>

<div id="myModalNATIONALISED" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Hassle Free  + 40% Faster Approvals.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
																<angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalNATIONALISED')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
		setTimeout(function () {
        $('#myModalNATIONALISED').modal('show');
   }, 9000);
   //$('#myModalNATIONALISED').modal('show');
 });*/
</script>
<!-- <div id="modal-container">
  <div class="modal-background">
    <div class="modal" style="width: 70%;">
       <div class="col-md-12 about-inner-column">
                    <h4> BANK OF BARODA</h4>

                    <p style="text-align:justify;">Education is the most important investment one makes in life. Higher studies and specialization in certain fields call for additional financial support from time to time. The Bank of Baroda Education Loans, can help finance your ambitions and goals.</p>
                        <p class="intro" style="padding-bottom:10px;"><strong>Bank of Baroda (BOB) offers the following benefits : </strong></p>

                            <ul class="nopadding" style="text-align:left;">
                                <li><b>Loan Processing : </b>Fast Online Processing.</li>
                                <li><b>Interest Rate : </b>Preferential Interest Rate starting at 9.55 %.</li>
                                <li><b>Special Rate : </b>Discount of 0.50 % for Girl Students.</li>
                                <li><b>Loan amount : </b>Up to Rs 80 Lacs.</li>
                                <li><b>Tax Benefit : </b>Interest paid on education loan to bank is Tax waived under section 80E.</li>
                                <li><b>Margin : </b>For overseas studies, select colleges 0 % margin, all other colleges 10.00 % margin.</li>
                                <li><b>Repayment Period : </b>Up to 15 years.</li>
                                <li><b>Moratorium Period : </b>Course Period + 1 year.</li>
                                <li><b>Loan Proceeds : </b>Proceeds happen from your nearest BOB branch.</li>
                                <li><b>Processing Fee : </b>1 % of Loan amount (maximum ₹ 10,000/-) which is Refundable on availment of first disbursement.</li>
                            </ul>

                 </div>
      <svg class="modal-svg" xmlns="https://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
                <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
              </svg>
    </div>
  </div>
</div> -->

<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Nationalized and Private Banks</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>



<section id="bob">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class="" style="text-align:justify;"> Various financial institutions in India work with Eduloans and are able to, create awareness to the next generation of customersprovide services at there convenience. The centralized system reduces the processing time of the loan and Bank is able to provide timely feedback. They usually provide collateral based loan.</p>
			<p>&nbsp;</p>
		</div>
		<div class="col-md-12">
				<h2 >Bank of Baroda</h2>

		</div>
		<div class="col-md-8">
			<p class="" style="text-align:justify;">Education is the most important investment one makes in life. Higher studies and specialization in certain fields call for additional financial support from time to time. The Bank of Baroda Education Loans, can help finance your ambitions and goals.</p>
            <p>Bank of Baroda (BOB) offers the following benefits : </p>

			<ul class="nopadding">
				<li>Loan Processing : Fast Online Processing.</li>
				<li>Interest Rate : Preferential Interest Rate starting at 9.95 %.</li>
				<li>Special Rate : Discount of 0.50 % for Girl Students.</li>
				<li>Loan amount : Up to Rs 80 Lacs.</li>
				<li>Tax Benefit : Interest paid on education loan to bank is Tax waived under section 80E.</li>
				<li>Margin : For overseas studies, select colleges 0 % margin, all other colleges 10.00 % margin.</li>
				<li>Repayment Period : Up to 15 years.</li>
				<li>Moratorium Period : Course Period + 1 year.</li>
				<li>Loan Proceeds : Proceeds happen from your nearest BOB branch.</li>
				<li>Processing Fee : 1 % of Loan amount (maximum ₹ 10,000/-) which is Refundable on availment of first disbursement.</li>
			</ul>
       <p><a class="btn btn-primary btn-md" href="/bank-of-baroda-overseas-education-loans"> More Details</a></p>
		</div>
			<div class="col-md-4" >
			   <img src="images/partners/bob_new_small.png" >
			</div>
	</div>
</div>
</section>


<section style="background-color:#f1f1f1;" id="sbi">
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h4>State Bank of India </h4>

		</div>
			<div class="col-md-8">

				<p class="" style="text-align:justify;">SBI offers education loan for pursuing higher education in India or abroad for various courses in leading institutions.</p>
					<p>State Bank of Indai (SBI) offers the following benefits : </p>

					<ul class="nopadding">
						<li>Interest Rate : Interest Rate starting at 10.65 %.</li>
						<li>Special Rate : Discount of 0.50 % for Girl Students.</li>
						<li>Concession : 0.50 % against LIC policy kept as security.</li>
						<li>Loan amount : Up to Rs.1.50 Crores.</li>
						<li>Tax Benefit : Interest paid on education loan to bank is Tax waived under section 80E.</li>
						<li>Margin : 10.00 % margin for overseas studies.</li>
						<li>Repayment Period : Up to 15 years.</li>
						<li>Moratorium Period : Moratorium on repayment during the study period available + 1 year or 6 months after getting the job, whichever is earlier.</li>
						<li>Loan Proceeds : Proceeds happen from your nearest SBI branch.</li>
						<li>Processing Fee : Rs.10,000/- for any amount upto Rs.1.50 Crores (Not Refundable).</li>
					</ul>
           <p><a class="btn btn-primary btn-md" href="/sbi-overseas-education-loans"> More Details</a></p>
			 </div>
			<div class="col-md-4" >
			   <img src="images/partners/sbi.png"  alt="sbi education loan for study abroad partner">
			</div>
	</div>
</div>
</section>

<section id="saraswat">
<div class="container">
  <div class="row">
   <div class="col-md-12">
        <h2>Saraswat Bank</h2>

    </div>
    <div class="col-md-12">
      <p class="" style="text-align:justify;">Saraswat Bank is a 104-year-old institution established in 1918. We are India’s largest urban co-operative bank and listed in India’s Fortune 500 list. Saraswat Bank is headquartered in Mumbai - Maharashtra and spread across <b>6 states</b> viz. Maharashtra, Gujarat, Goa, Karnataka, Madhya Pradesh (Indore) and Delhi through a network of 283 branches and 311 plus ATMs.</p>
      <p>&nbsp;</p>
    </div>
   
    <div class="col-md-8">
      <p class="" style="text-align:justify;">Saraswat Bank offers the following benefits : </p>

      <ul class="nopadding">
        <li>No Processing Fees.</li>
        <li>Very Fast Turnaround time.</li>
        <li>Call on Property with regard to overall case.</li>
        <li>Competitive & Same interest rate for all students.</li>
        <li>Sanction letter approved by US for I20 and VISA.</li>
        <li>Pre-sanction available for UK, Australia and Canada.</li>
        <li>Income Tax Benefit Under Section 80E.</li>
      </ul>
       <p><a class="btn btn-primary btn-md" href="/saraswat-overseas-education-loans"> More Details</a></p>
    </div>
      <div class="col-md-4" >
         <img src="images/partners/saraswat.png" alt="saraswat bank education loan partners" >
      </div>
  </div>
</div>
</section>

<section id="axis" style="background-color:#f1f1f1;">
<div class="container">
	<div class="row">
		<div class="col-md-12" >
		<h4 >Axis Bank </h4>


		</div>

		<div class="col-md-8">
		<p class="" style="text-align:justify;">Axis Bank offers attractive Education Loan interest rates in India. <br>Apply for Study loan at highly affordable interest rates and associated servicing charges.</p>
			<p>AXIS Bank offers the following benefits :</p>
			 <ul class="nopadding">
					<li>No Processing Fees (Depends on Case).</li>
					<li>No Pre-Payment Charges.</li>
					<li>Only bank to have dedicated RM and door to door service.</li>
					<li>Income Tax Benefit Under Section 80E.</li>
					<li>Sanction Letter prior to receiving I20 for US.</li>
					<li>Re-payment term upto 15 years.</li>
					<li>Validity of Sanction Letter is upto 6 months.</li>
				</ul>
         <p><a class="btn btn-primary btn-md" href="/axis-bank-overseas-education-loans"> More Details</a></p>
         </div>
		 <div class="col-md-4" >
			   <img src="images/partners/axis.png" alt="axis bank education loan">
		</div>

	</div>
</div>
</section>

<section id="icici">
<div class="container">
  <div class="row">
    <div class="col-md-12" >
    <h4 >ICICI Bank </h4>


    </div>

    <div class="col-md-8">
    <p class="" style="text-align:justify;">You may have studied hard and excelled in your exams or just planned the next move in your career. Whatever be your reason to study, your research should end at finding the right institute. Let finance be the last thing to worry about. We at ICICI Bank, understand your career aspirations and offer the best student loan to successfully aid your journey as a student.</p>
      <p>AXIS Bank offers the following benefits :</p>
       <ul class="nopadding">
          <li>Clubbing of both Secured and Unsecured Loan together as per students requirement.</li>

           <li>Lesser Currency Conversion Charges as compared to other Financial Institutions.</li>

           <li>NRI Co-Signor acceptable along with an additional Co-Signor for Secured Loans.</li>

           <li>Economical Valuation and Legal Formalities Charges as compared to other Banks.</li>

           <li>Sanction Letter process through Loan Centre instead of Bank Branch and so its Faster.</li>

           <li>Sanction Letter prior to receiving I20 , VISA and disbursement prior to departure.</li>

           <li>Income Tax Benefit Under Section 80E (For both Secured and Unsecured Loans).</li>

           <li>Doorstep service as per convenience of the customer available at selected locations.</li>
        </ul>
         <p><a class="btn btn-primary btn-md" href="/icici-overseas-education-loan"> More Details</a></p>
         </div>
     <div class="col-md-4" >
         <img src="images/partners/icici_bank.png" alt="icici overseas education loan partner" style="width: 60%;" >
    </div>

  </div>
</div>
</section>
<!--<div class="container">
    <div class="about-section">
        <div class="container">
            <div class="site-title text-center">

                <p class="" style="text-align:justify;">
                        Various financial institutions in India work with Eduloans and are able to, create awareness to the next generation of customersprovide services at there convenience. The centralized system reduces the processing time of the loan and Bank is able to provide timely feedback. They usually provide collateral based loan.</p>

            </div>

            <div class="about-inner-section">


				<div class="col-md-4">
					<div style="text-align:center;margin-bottom:20px;">
						<a href=""><img src="images/partners/bob.png" alt=" " class="img-responsive1" ></a>
					</div>
					<div class="caption">
						<div class="buttons" style="text-align: center;">
						<button id="one" class="btnModal btn btn-default ">About BOB</button>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div style="text-align:center;margin-bottom:20px;">
						<a href=""><img src="images/partners/axis.png" alt=" " class="img-responsive1"></a>
					</div>
					<div class="caption">
						<div class="buttons" style="text-align: center;">
						<button id="one" class="btnModal btn btn-default ">About AXIS</button>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div style="text-align:center;margin-bottom:20px;">
						<a href=""><img src="images/partners/sbi.png" alt=" " class="img-responsive1"></a>
					</div>
					<div class="caption">
						<div class="buttons" style="text-align: center;">
						 <button id="one" class="btnModal btn btn-default ">About SBI</button>
						</div>
					</div>
				</div>
				</div>-->
                <!--div class="col-md-4 about-right">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Axis_Bank_logo.svg/1280px-Axis_Bank_logo.svg.png" alt=" ">
                    <hr>
                    <div class="buttons" style="text-align: center;">
                        <button id="one" class="btnModal btn btn-default btn-lg ">About AXIS</button>
                    </div>
                </div>
                <div class="col-md-4 about-right">
                    <img src="http://www.freelogovectors.net/wp-content/uploads/2012/03/SBI-Logo_state-bank-of-india-new.png" alt=" " style="height: 92px;">
                    <hr>
                    <div class="buttons" style="text-align: center;">
                        <button id="one" class="btnModal btn btn-default btn-lg ">About SBI</button>
                    </div>
                </div-->

            <!-- <br>
            <div class="about-inner-section">
                <div class="col-md-7 about-inner-column">
                    <h4> 1] BANK OF BARODA</h4>

                    <p class="" style="text-align:justify;">Education is the most important investment one makes in life. Higher studies and specialization in certain fields call for additional financial support from time to time. The Bank of Baroda Education Loans, can help finance your ambitions and goals.</p>
                        <p class="intro"><strong>Bank of Baroda (BOB) offers the following benefits : </strong></p>
                        <div class="col-lg-12">
                            <ul class="nopadding">
                                <li><b>Loan Processing : </b>Fast Online Processing.</li>
                                <li><b>Interest Rate : </b>Preferential Interest Rate starting at 9.55 %.</li>
                                <li><b>Special Rate : </b>Discount of 0.50 % for Girl Students.</li>
                                <li><b>Loan amount : </b>Up to Rs 80 Lacs.</li>
                                <li><b>Tax Benefit : </b>Interest paid on education loan to bank is Tax waived under section 80E.</li>
                                <li><b>Margin : </b>For overseas studies, select colleges 0 % margin, all other colleges 10.00 % margin.</li>
                                <li><b>Repayment Period : </b>Up to 15 years.</li>
                                <li><b>Moratorium Period : </b>Course Period + 1 year.</li>
                                <li><b>Loan Proceeds : </b>Proceeds happen from your nearest BOB branch.</li>
                                <li><b>Processing Fee : </b>1 % of Loan amount (maximum ₹ 10,000/-) which is Refundable on availment of first disbursement.</li>
                            </ul>
                        </div>
                 </div>
                <div class="col-md-7 about-inner-column">
                    <h4> 2] STATE BANK OF INDIA</h4>
                    <p class="" style="text-align:justify;">SBI offers education loan for pursuing higher education in India or abroad for various courses in leading institutions.</p>
                        <p class="intro"><strong>State Bank of Indai (SBI) offers the following benefits : </strong></p>
                        <div class="col-lg-12">
                            <ul class="nopadding">
                                <li><b>Interest Rate : </b>Interest Rate starting at 10.65 %.</li>
                                <li><b>Special Rate : </b>Discount of 0.50 % for Girl Students.</li>
                                <li><b>Concession : </b>0.50 % against LIC policy kept as security.</li>
                                <li><b>Loan amount : </b>Up to Rs.1.50 Crores.</li>
                                <li><b>Tax Benefit : </b>Interest paid on education loan to bank is Tax waived under section 80E.</li>
                                <li><b>Margin : </b>10.00 % margin for overseas studies.</li>
                                <li><b>Repayment Period : </b>Up to 15 years.</li>
                                <li><b>Moratorium Period : </b>Moratorium on repayment during the study period available + 1 year or 6 months after getting the job, whichever is earlier.</li>
                                <li><b>Loan Proceeds : </b>Proceeds happen from your nearest SBI branch.</li>
                                <li><b>Processing Fee : </b>Rs.10,000/- for any amount upto Rs.1.50 Crores (Not Refundable).</li>
                            </ul>
                        </div>
                 </div>

            </div>
            <br>
            <div class="about-inner-section">
                <div class="col-md-7 about-inner-column">
                    <h4> 3] AXIS BANK</h4>
                    <p class="" style="text-align:justify;">Axis Bank offers attractive Education Loan interest rates in India. Apply for Study loan at highly affordable interest rates and associated servicing charges.</p>
                        <p class="intro"><strong>AXIS Bank offers the following benefits : </strong></p>
                        <div class="col-lg-12">
                            <ul class="nopadding">
                                <li><b>No Processing Fees (Depends on Case).</b></li>
                                <li><b>No Pre-Payment Charges.</b></li>
                                <li><b>Only bank to have dedicated RM and door to door service.</b></li>
                                <li><b>Income Tax Benefit Under Section 80E.</b></li>
                                <li><b>Sanction Letter prior to receiving I20 for US.</b></li>
                                <li><b>Re-payment term upto 15 years.</b></li>
                                <li><b>Validity of Sanction Letter is upto 6 months.</b></li>
                            </ul>
                        </div>
                 </div>

            </div> -->
        </div>
    </div>
</div>

<section id="idbi" style="background-color:#f1f1f1;">
  <div class="container">

    <div class="row">
      <div class="col-md-12" >
      <h4>IDBI Bank Ltd.</h4>
  
  
      </div>
  
      <div class="col-md-8">
      <p class="" style="text-align:justify;">IDBI Bank Ltd. has inherited a rich legacy from its predecessor entity - Industrial Development Bank of India (IDBI) – which was an apex Development Financial Institution (DFI) since 1964. Further, LIC of India has acquired majority shares of the bank which makes direct and indirect shareholding of Government of India in IDBI Bank is over 97%.</p>
      <p>IDBI Bank has a network over 1900 branches & around 3500 ATMs PAN India. Today, IDBI Bank is operating as a full service universal bank that serves the customers from all segments, committed to understanding our Customer’s needs and aims at consistently delivering relevant financial solutions and excellent customer service.</p>
        <p><b>Highlights of IDBI Bank Education Loan :</b></p>
        <p>IDBI Bank Offers ‘i-learn’ Education loan to aspirant students opting for higher studies in India and Abroad and covers multiple courses that would facilitate them to address their every need. Some of the highlights of ‘i-learn’ Education loan are furnished below:</p>
         <ul class="nopadding">
            <li>Fast Processing.</li>
            <li>Easy repayment Terms & Maximum Repayment tenure</li>
            <li>Higher loan amount</li>
            <li>Attractive Interest Rates</li>
            <li>Interest Rate Concession of 1% if interest is serviced during moratorium period, Concession for Girl child / Existing customer/ SC/ ST/ Minority / physically handicapped</li>
            <li>Loan for a wide range of courses including MCA/ MBA/ MS/ CIMA/ CPA-USA/ Professional/ technical/ Aeronautical/ pilot/shipping/Post Graduate Degree from reputed University Abroad</li>
            <li>Nil Processing Fees</li>
            <li>Nil Part Payment/Pre-closure charges</li>
            <li>Instant World Currency Card</li>
            <li>Additional/Top up loan for increase in Course Fee/Rupee Depreciation/another course</li>
            <li>Expenses covered - Course Fee/Boarding/Lodging/Travel/ Books/Equipment’s/Laptop/Exchange Programme/ Project Work/Instruments/Insurance</li>
            <li>Balance transfer facility</li>
            <li>Tax benefits (under Sec 80E)</li>
          </ul>
           <p><a class="btn btn-primary btn-md" href="/idbi-overseas-education-loan"> More Details</a></p>
           </div>
       <div class="col-md-4" >
           <img src="images/partners/idbi_logo.png" style="width: 100%;">
      </div>
  
    </div>
  </div>
  </section>

<section id="boi" >
  <div class="container">
    <div class="row">
      <div class="col-md-12" >
      <h4>Bank of India</h4>


      </div>

      <div class="col-md-8">
      <p class="" style="text-align:justify;">Bank of India has various features for Students who are looking to Study abroad or in India. The Loan portfolio is detailed yet inclusive providing the right kind of loan to the students. The Loan designed for study abroad is called Star Education Loans for Study Abroad</p>
        <p><b>Bank of India (BOI) offers the following benefits :
        </b></p>
        <ul class="nopadding">
            <li>Interest Rate : Interest Rate is 1 Year RBLR +  2.5%
            </li>
            <li>Loan amount : Up to Rs.1.50 Crores.</li>
            <li>Tax Benefit : Interest paid on education loan to bank is Tax waived under section 80E.
            </li>
            <li>Margin : 10.00 % margin for overseas studies.
            </li>
            <li>Repayment Period : Up to 15 years.
            </li>
            <li>Moratorium Period : Moratorium on repayment during the study period available + 1 year.
            </li>
            <li>Loan Proceeds : Proceeds happen from your nearest BOI branch.
            </li>
            <li>Processing Fee : Rs.5,000/- for any amount upto Rs.1.50 Crores (Refundable).
            </li>
          </ul>
          <p><a class="btn btn-primary btn-md" href="/boi-overseas-education-loans"> More Details</a></p>
          </div>
      <div class="col-md-4" >
          <img src="images/partners/Bank_of_India_logo.png" style="width: 70%;">
      </div>



    </div>
  </div>
</section>

<section id="union" >
  <div class="container">
    <div class="row">
      <div class="col-md-12" >
      <h4>Union Bank of India</h4>


      </div>

      <div class="col-md-8">
      <p class="" style="text-align:justify;"> Union Bank of India is a pioneer in the education Loan sector with the first Nationalised bank to introduce
         unsecured loans for meritorious students. It in fact has various loan products for all types of education. 
         The bank as well provides loan against Agriculture Land and is only the few to do so. 
      </p>
        <p><b>Union Bank of India (UBI) offers the following benefits :</b></p>
        <ul class="nopadding">
            <li>Loan Processing : Home Pick up of Documents and Branch Disbursal</li>
            <li>Interest Rate : EBLR + 0.5% ( Below 40 Lakhs) , EBLR + 2%  ( Above 40 Lakhs)</li>
            <li>Special Rate : Discount of 0.50 % for Girl Students.</li>
            <li>Loan amount : Up to Rs 40 Lacs unsecured and 1.50 Cr Secured.</li>
            <li>Tax Benefit : Interest paid on education loan to bank is Tax waived under section 80E. </li>
            <li>Margin : 15%</li>
            <li>Repayment Period : Up to 15 years.</li>
            <li>Moratorium Period : Course Period + 1 year.</li>
            <li>Loan Proceeds : Proceeds happen from your nearest UBI branch.</li>
            <li>Processing Fee : INR 5000 + GST  Refundable</li>
          </ul>
          <p><a class="btn btn-primary btn-md" href="/union-bank-overseas-education-loans"> More Details</a></p>
          </div>
      <div class="col-md-4" >
          <img src="https://www.unionbankofindia.co.in/images/unionbanklogo-new.webp" style="width: 100%;">
      </div>



    </div>
  </div>
</section>





<section>
<div class="container">
	<div class="row">
		<div class="col-md-12" >
		<h3>Best Deals For You</h3>
		<p>&nbsp;</p>
		<table class="table">
        <thead>
          <tr>
            <th></th>
            <th>BOB Collateral</th>
            <th>SBI Collateral</th>
            <th>Saraswat Bank</th>
			      <th>Axis Bank Collateral</th>
            <th>Axis Bank NON Collateral</th>
            <th>ICICI Bank Collateral</th>
            <th>ICICI Bank NON Collateral</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Intrest Rate</td>
              <td>9.95 - 10.70%</td>
              <td>9.25 - 10.5%</td>
              <td>8 - 9%</td>
              <td>10.5 - 12%</td>
              <td>10.5 - 11.25%</td>
              <td>11.50 - 14.50%</td>
              <td>11.50 - 14.50%  </td>

            </tr>
  		      <tr>
              <td>Processing Fee </td>
              <td> Rs.10000/- refundable + 18% GST</td>
              <td> Rs.10000/- + 18% GST</td>
              <td>No Processing Fee</td>
              <td> Rs.10000/- refundable + 18% GST</td>
              <td> Rs.10000/- refundable + 18% GST</td>
              <td> Rs.10000/- + 18% GST</td>
              <td> Rs.10000/- + 18% GST</td>

            </tr>
  		      <tr>
              <td>Loan Type </td>
              <td>Collateral </td>
              <td>Collateral</td>
              <td>Collateral</td>
              <td>Collateral </td>
              <td>Non Collateral </td>
              <td>Collateral </td>
              <td>Non Collateral </td>
            </tr>
  		      <tr>
              <td>Margin Amount </td>
              <td>Preferential 0% & General 10%</td>
              <td>Preferential 0% & General 10%</td>
              <td>15%</td>
              <td>15%</td>
              <td>15%</td>
              <td>Preferential 0% - 15% & Others 10%</td>
              <td>Preferential 0% - 15% & Others 10%</td>

            </tr>
  		      <tr>
              <td>Processing Time </td>
              <td>Upto 1 Month</td>
              <td>Upto 1 Month</td>
              <td>10 - 20 Days</td>
              <td>10 - 20 Days</td>
              <td>10 - 15 Days</td>
              <td>10 - 12 Days</td>
              <td>4 - 5 Days</td>
            </tr>
  		      <tr>
              <td>Max Loan Offered  </td>
              <td>80 Lacs</td>
              <td>1.5 Cr</td>
              <td>75 Lacs</td>
              <td>1.5 Cr</td>
              <td>40 Lacs</td>
              <td>1 Cr</td>
              <td>40 Lacs</td>
            </tr>
  		      <tr>
              <td> </td>
              <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
              <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
              <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
              <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
              <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
              <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
              <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>

            </tr>
  		  </tbody>
		  </table>



		</div>

	</div>
</div>
</section>






<style>


table {
border:1px solid greylight;
}
th, tr:last-child {
background-color:#f1f1f1;
}
th, td {
width:12.5%;
}

</style>
<!--
<div class="best-plan">
   <div class="container">
      <div class="best-plan__head">
         <div class="row">
            <div class="col-md-12">
               <h3 class="best-plan__title" style="color: white">Best Deals For You</h3>
            </div>
         </div>
      </div>
      <div class="b_plan_body">
         <div class="row">
            <div class="col-md-3 col-sm-3">

               <div class="b-price-plan">
                  <div class="b-price-plan__item b-price-plan__head">
                     <h3>BOB <b>Collateral</b> Educational Loan</h3>
                  </div>
                  <div class="b-price-plan__item b-price-plan__cost">
                     <h3><i class="fas fa-percent"></i> 9.25 - 10.5</h3>
                     <div class="cost-time">Intrest Rate</div>
                  </div>
                  <ul class="p_plan_list">
                     <li><b>Processing Fee :</b><i class="fa fa-rupee-sign"></i> Rs.10000/- refundable + 18% GST</li>
                     <li><b>Loan Type :</b><i class="fa fa-hdd-o" aria-hidden="true"></i> Collateral Educational</li>
                     <li><b>Margin Amount :</b><i class="fa fa-database" aria-hidden="true"></i> Overseas studies 0 % & other 10%.</li>
                     <li><b>Processing Time :</b><i class="fa fa-clock" aria-hidden="true"></i> Upto 1 Month</li>
                     <li><b>Max Loan Offered :</b><i class="fa fa-rupee-sign" aria-hidden="true"></i> 80 Lacs</li>
                  </ul>
                  <div class="b-price-plan__item price_foot">
                     <a href=" " class="btn btn-warning price_btn">
                     <span>APPLY NOW</span> <i class="fa fa-caret-right" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-md-3 col-sm-3">

               <div class="b-price-plan">
                  <div class="b-price-plan__item b-price-plan__head">
                     <h3>SBI <b>Collateral</b> Educational Loan</h3>
                  </div>
                  <div class="b-price-plan__item b-price-plan__cost">
                     <h3><i class="fas fa-percent"></i> 9.5 - 10.5</h3>
                     <div class="cost-time">Intrest Rate</div>
                  </div>
                  <ul class="p_plan_list">
                     <li><b>Processing Fee :</b><i class="fa fa-rupee-sign"></i> Rs.10000/- + 18% GST</li>
                     <li><b>Loan Type :</b><i class="fa fa-hdd-o" aria-hidden="true"></i> Collateral Educational</li>
                     <li><b>Margin Amount :</b><i class="fa fa-database" aria-hidden="true"></i> 10.00 % margin for overseas studies.</li>
                     <li><b>Processing Time :</b><i class="fa fa-clock" aria-hidden="true"></i> Upto 1 Month</li>
                     <li><b>Max Loan Offered :</b><i class="fa fa-rupee-sign" aria-hidden="true"></i> 1.5 Cr</li>
                  </ul>
                  <div class="b-price-plan__item price_foot">
                     <a href=" " class="btn btn-warning price_btn">
                     <span>APPLY NOW</span> <i class="fa fa-caret-right" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-md-3 col-sm-3">

               <div class="b-price-plan">
                  <div class="b-price-plan__item b-price-plan__head">
                     <h3>Axis Bank <b>Collateral</b> Educational Loan</h3>
                  </div>
                  <div class="b-price-plan__item b-price-plan__cost">
                     <h3><i class="fas fa-percent"></i> 10.5 - 12</h3>
                     <div class="cost-time">Intrest Rate</div>
                  </div>
                  <ul class="p_plan_list">
                     <li><b>Processing Fee :</b><i class="fa fa-rupee-sign"></i> Rs.10000/- refundable + 18% GST</li>
                     <li><b>Loan Type :</b><i class="fa fa-hdd-o" aria-hidden="true"></i> Collateral Educational</li>
                     <li><b>Margin Amount :</b><i class="fa fa-database" aria-hidden="true"></i> 8.6% - 8.95%</li>
                     <li><b>Processing Time :</b><i class="fa fa-clock" aria-hidden="true"></i> 10 - 20 Days</li>
                     <li><b>Max Loan Offered :</b><i class="fa fa-rupee-sign" aria-hidden="true"></i> NILL</li>
                  </ul>
                  <div class="b-price-plan__item price_foot">
                     <a href=" " class="btn btn-warning price_btn">
                     <span>APPLY NOW</span> <i class="fa fa-caret-right" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-md-3 col-sm-3">

               <div class="b-price-plan">
                  <div class="b-price-plan__item b-price-plan__head">
                     <h3>Axis Bank <b>NON Collateral</b> Educational Loan</h3>
                  </div>
                  <div class="b-price-plan__item b-price-plan__cost">
                     <h3><i class="fas fa-percent"></i> 10.5  - 11.25</h3>
                     <div class="cost-time">Intrest Rate</div>
                  </div>
                  <ul class="p_plan_list">
                     <li><b>Processing Fee :</b><i class="fa fa-rupee-sign"></i> Rs.10000/- refundable + 18% GST</li>
                     <li><b>Loan Type :</b><i class="fa fa-hdd-o" aria-hidden="true"></i>Non Collateral Educational</li>
                     <li><b>Margin Amount :</b><i class="fa fa-database" aria-hidden="true"></i> NILL </li>
                     <li><b>Processing Time :</b><i class="fa fa-clock" aria-hidden="true"></i> 10 - 15 Days</li>
                     <li><b>Max Loan Offered :</b><i class="fa fa-rupee-sign" aria-hidden="true"></i> NILL</li>
                  </ul>
                  <div class="b-price-plan__item price_foot">
                     <a href=" " class="btn btn-warning price_btn">
                     <span>APPLY NOW</span> <i class="fa fa-caret-right" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div> -->
<script>
    $('.btnModal').click(function(){
  var buttonId = $(this).attr('id');
  $('#modal-container').removeAttr('class').addClass(buttonId);
  $('body').addClass('modal-active');
})

$('#modal-container').click(function(){
  $(this).addClass('out');
  $('body').removeClass('modal-active');
});
</script>
