<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"-->


<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 --><!--   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
 --><!-- <link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet"> -->




<!--section id="subheader" data-speed="8" data-type="background"-->
<div id="myModalNBFC" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Get the Best Deal from NBFC , No#1 Digital Portal.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalNBFC')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalNBFC').modal('show');
   }, 9000);
   //$('#myModalNBFC').modal('show');
 });*/
</script>

<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Non Banking Financial Company (NBFC)</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>



<section id="credila">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class="" style="text-align:justify;"> Eduloans works with leading NBFC who are authorized by RBI to provide Student loans. They undertake collateral and non collateral loans both which may be beneficial to the student. They also can undertake to provide funds in foreign currency.</p>
			<p>&nbsp;</p>
		</div>
		<div class="col-md-12">
				<h4>HDFC Credila</h4>

		</div>
		<div class="col-md-8">
			<p class="" style="text-align:justify;">HDFC Credila is India's First Dedicated Education Loan company and a pioneer in the field of education loan. HDFC Credila has already funded Indian students going to: 35+ Countries, 2100+ Institutes & studying 1000+ different Courses </p>
			<p>HDFC Credil offers the following benefits :</p>
			<ul class="nopadding">
				<li>Upto 100% finance of the I20 value.</li>
				<li>Dedicated Relationship manager and Doorstep Service.</li>
				<li>No Collateral / Less than 100% Collateral option available.</li>
				<li>Loan Sanction before admission for I20 available.</li>
				<li>ONLY NBFC to have Tax benefit under Section 80E of Income tax Act.</li>
			</ul>
			 <p><a class="btn btn-primary btn-md" href="/hdfc-foreign-education-loan"> More Details</a></p>
		</div>
			<div class="col-md-4" >
			   <img src="images/partners/hdfc-credila.png" alt="hdfc credila the education loan specialist" >
			</div>
	</div>
</div>
</section>


<section style="background-color:#f1f1f1;" id="avanse">
<div class="container">
	<div class="row">
		<div class="col-md-12" >
		<h4>DHFL Avanse </h4>
                    <p class="" style="text-align:justify;">100% Education Finance to study in india or abroad. Give wings to your dreams.</p>

		</div>

		<div class="col-md-8">
		<p>Avanse offers the following benefits :</p>
		<ul class="nopadding">
			<li>100 % Education Finance (No Margin Money).</li>
			<li>No Upper Limit on Loan Amount.</li>
			<li>Flexible Repayment Options.</li>
			<li>Sanction within 1 Business Day after submission of all documents.</li>
			<li>Student-focused flexible Loans : Due weight-age given to Academic Merit.</li>
			<li>Disbursement in 1 single installment OR as per payment schedule Tuition Fee disbursed to institute.</li>
			<li>Doorstep Service.</li>
		</ul>
		 <p><a class="btn btn-primary btn-md" href="/avanse-abroad-education-loan"> More Details</a></p>
         </div>
		 <div class="col-md-4" >
			   <img src="images/partners/avanse.png" >
		</div>

	</div>
</div>
</section>

<section id="incred">
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h4>Incred </h4>
			<p class="" style="text-align:justify;">Fulfill your educational dreams with InCred cutting-edge financial services.</p>
		</div>
			<div class="col-md-8">

					<p>Incred offers the following benefits : </p>
					<div class="col-lg-12">
						<ul class="nopadding">
							<li>Can offer Entire cost of Education including Tution Fees, Living Expenses, Books, Laptop, Insurance.</li>
							<li>Can accept multi-city co-signers.</b></li>
							<li>All legal fees, registration charges are included in InCred's origination fees.</li>
							<li>Pre Visa Disbursal Available for USA, Germany & other European countries if situation demands.</li>
							<li>Offers door step service when applying for education loan.</li>
							<li>Can offer Non Collateral loan upto 40-45 Lacs for USA.</li>
						</ul>
						 <p><a class="btn btn-primary btn-md" href="/incred-education-loans"> More Details</a></p>
					</div>
			 </div>
			<div class="col-md-4" >
			   <img src="images/partners/incred.png" alt="incred education loan counsellor" >
			</div>
	</div>
</div>
</section>


<section style="background-color:#f1f1f1;" id="auxilo">
<div class="container">
	<div class="row">
		<div class="col-md-12" >
		<h4>Auxilo </h4>


		</div>

		<div class="col-md-8">
		<p class="" style="text-align:justify;">Our Education Loans aim to help aspiring students across segments be it Graduate or Post Graduate courses in India or Overseas.</p>
		<p>Auxilo offers the following benefits : </p>

		<ul class="nopadding">
			<li>0.50% Processing Fees - Only for EDULOANs/IMPERIAL Students.</li>
			<li>Customized Loans.</li>
			<li>100% Financing.</li>
			<li>Pre Admission Loan.</li>
			<li>Pre-Visa Loan Disbursment.</li>
			<li>Fast Track Loan.</li>
			<li>High on Services.</li>
			<li>Competitive Interest Rates.</li>
			 <p><a class="btn btn-primary btn-md" href="/auxilo-overseas-education-loan"> More Details</a></p>
		</ul>

         </div>
		 <div class="col-md-4" >
			   <img src="images/partners/auxilo.png" alt="auxilo education loan">
		</div>

	</div>
</div>
</section>

<!-- <section id="bajaj">
<div class="container">
	<div class="row">
		<div class="col-md-12" >
		<h4>Bajaj Finserv : Loan Against Property for higher education</h4>


		</div>

		<div class="col-md-8">
		<p class="" style="text-align:justify;">Financing higher education requires careful planning and consideration. A part of this planning involves understanding how to fund various expenses, such as housing, tuition and additional expenses at minimal cost.

		Loan Against Property from Bajaj Finserv enables you to do it all, offering customised loans to salaried and self-employed individuals. </p>

		<ul class="nopadding">
			<li>Lower interest rate than an Education Loan.</li>
			<li>High loan amount.</li>
			<li>Flexible tenor and repayment.</li>
			<li>Lower EMI.</li>
			<li>Fast Processing.</li>
			<li>Easy balance transfer facility.</li>
			<li>Hassle-free loan disbursal.</li>
		</ul>
		 <p><a class="btn btn-primary btn-md" href="/bajaj-abroad-education-loan"> More Details</a></p>

         </div>
		 <div class="col-md-4" >
			   <img src="images/partners/bajaj_logo.png" >
		</div>

	</div>
</div>
</section> -->

<section id="bajaj">
<div class="container">
  <div class="row">
    <div class="col-md-12" >
    <h4>Credenc</h4>


    </div>

    <div class="col-md-8">
    <p class="" style="text-align:justify;">Credenc, a subsidiary company of Capital India, a listed non-banking financial company (NBFC), is a unique end-to-end education lending fintech platform. It finances students based on their merit and future employability, rather than the means available to their families.</p>

    <p>Go to your dream college with Credenc</p>
    <p><b>Credenc offers the following benefits:</b></p>
    <ul class="nopadding">
      <li>100% digital process</li>
      <li>Competitive Interest Rates</li>
      <li>A loan tenure for up-till 15 years</li>
      <li>6-hour approva</li>
      <li>48 hours fund transfer</li>
      <li>Loan Amount Up to 50 lacs. of unsecured loan</li>
    </ul>
     <p><a class="btn btn-primary btn-md" href="/credenc-education-loan"> More Details</a></p>

         </div>
     <div class="col-md-4" >
         <img src="images/partners/credenc_logo.png" >
    </div>

  </div>
</div>
</section>


<section>
<div class="container">
	<div class="row">
		<div class="col-md-12" >
		<h3>Best Deals For You</h3>
		<p>&nbsp;</p>
		<table class="table">
        <thead>
          <tr>
            <th></th>
            <th>HDFC Credila <br>Collateral</th>
            <th>HDFC Credila <br>Non Collateral</th>
			<th>Incred <br>Collateral</th>
            <th>Incred <br>Non Collateral</th>
			<th>Auxilo <br>Collateral</th>
            <th>Auxilo <br>Non Collateral</th>
            <th>DHFL Avance <br>Education Loan</th><!-- 
            <th>Bajaj Finserv <br>Education Loan</th> -->

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Intrest Rate</td>
            <td> 10.5- 12</td>
            <td>11.5 - 12.5</td>
            <td>10.5 - 12</td>
            <td>11 - 13</td>
            <td>12 - 14</td>
            <td>13 - 14</td>
            <td>11.5 - 13.5</td>
<!--             <td>10.5 - 10.6</td>
 -->          </tr>
		  <tr>
            <td>Processing Fee </td>
            <td> 1% negotiable</td>
            <td> 1% negotiable</td>
            <td>0.90% negotiable</td>
            <td>0.90% negotiable</td>
            <td>0.50%</td>
            <td>0.50%</td>
            <td>5L Min</td>
<!--             <td>1% + GST</td>
 -->          </tr>
		  <tr>
            <td>Loan Type </td>
            <td>Collateral </td>
            <td>Non Collateral</td>
            <td>Collateral </td>
            <td>Non Collateral </td>
            <td>Collateral </td>
            <td>Non Collateral </td>
            <td>Collateral </td>
<!--             <td>Collateral </td>
 -->          </tr>
		  <tr>
            <td>Margin Amount </td>
            <td>8.6%-8.95%</td>
            <td>Nill</td>
            <td>8.6%-8.95%</td>
            <td>8.6%-8.95%</td>
            <td>8.6%-8.95%</td>
            <td>Nill</td>
            <td>8.6%-8.95%</td>
<!--             <td>Nill</td>
 -->          </tr>
		   <tr>
            <td>Processing Time </td>
            <td>10 - 20 Days</td>
            <td>10 - 15 Days</td>
            <td>10 - 20 Days</td>
            <td>10 - 15 Days</td>
            <td>10 - 20 Days</td>
            <td>10 - 15 Days</td>
            <td>Nill</td>
<!--             <td>Nill</td>
 -->          </tr>
		  <tr>
            <td>Max Loan Offered  </td>
            <td>Case to Case basis Depending on property valuation</td>
            <td>40 Lacs</td>
            <td>Case to Case basis Depending on property valuation</td>
            <td>45 Lacs</td>
            <td>Case to Case basis Depending on property valuation</td>
            <td>45 Lacs</td>
            <td>Nill</td>
<!--             <td>Nill</td>
 -->          </tr>
		  <tr>
            <td> </td>
            <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
            <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
            <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
            <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
            <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
            <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
            <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
<!--             <td><a href="/user/register" class="btn btn-primary"> APPLY NOW </a></td>
 -->          </tr>
		  </tbody>
		  </table>



		</div>

	</div>
</div>
</section>






<style>


table {
border:1px solid greylight;

}
th, tr:last-child {
background-color:#f1f1f1;
}
th, td {
width:12.5%;
}



</style>
