<div id="myModalProdigy" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Solve the Confusion, to get the Best Deal.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionIF('myModalProdigy')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalProdigy').modal('show');
   }, 9000);
   //$('#myModalProdigy').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Prodigy Finance</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Non Collateral (Unsecured) Overseas Education Loans through Prodigy Finance</h2>
    			<p class="" style="text-align:justify;"> <b>Prodigy Finance</b> is founded on the philosophy that funding shouldn’t be a barrier to education. In 2007, three MBA students recognized that traditional banks don’t serve the needs of international borrowers: requiring collateral, co-signers, guarantors or documentation that students simply don’t have. Their innovative and borderless model assesses you on your potential, among other variables, not just your current circumstances and credit history. They work with alumni, impact investors, and other private qualified entities who invest in tomorrow's leaders whilst earning a financial and social return. More than 17,000 students have trusted us to fund their postgraduate studies.</p>
                <p class="" style="text-align:justify;"> <b>Vision :</b> Almost 80% of our borrowers said they had no other way of financing their studies, so we like to think we're helping educate the world.</p>
                <p class="" style="text-align:justify;"> <b>Mission :</b> To make quality education accessible, using fintech to redefine the student loan market.</p>
                <p class="" style="text-align:justify;"> <b>Values :</b> Be game changing / Value creating / Scalable and sustainable / Data is an asset / Lean + simple / Risk appetite</p>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>The key salient features of Prodigy Finance are:</b></p>
    			<ul class="nopadding">
    				<li><b>Pan India Reach:</b> Prodigy Finance is a UK-based financial institution which provides funding for top-ranked US, Canada, UK , Europe and Asia graduate schools and has their India Team based out of Bangalore (Karnataka). The entire process is online and so coordination between the company officials and the students happens pretty smoothly via their India toll free contact # and also the Live Chat available through their website after registration.</li>
    				<li><b>Interest Rate:</b> Their ROI (Rate Of Interest) consists of two components – a fixed margin between 5 % to 8.5 % + 2.80 % floating USD LIBOR rate (variable rate changes every 3 months).</li>
    				<li><b>High Loan Amount:</b> Up to 100 % of cost of attendance subject to University and Course. Pre-approved loan for 2nd year in the initial proposal itself. Just required to complete some basic formalities to avail 2nd year approval which would be disbursed directly to the university account. Large loan sizes without collateral or co-signer.</li>
    				<li><b>Top Up Loans Available:</b> If the student has applied for a loan elsewhere and is still falling short of the actual requirement as per the course expenses, then Prodigy Finance’s Education Loan is a boon, as the remaining amount can be availed through them. Existing debt will be taken into consideration when deciding how much additional top-up loan can be approved.</li>
    				<li><b>Consideration On Basis Of:</b> Prodigy Finance has a list of approx. 430+ top-ranked graduate schools in engineering, business, law, policy and health sciences. If the student’s finalized school is in this list, then the student is eligible to get the loan.</li>
                    <li><b>No co-signer/co-borrower, no collateral required:</b> Prodigy Finance bases its credit decision primarily on a student’s future earning potential and believes that students should be independent of others for their education funding.</li>
    				<li><b>Builds UK Credit History:</b> They help in creating a UK credit history on GBP loans.</li>
    				<li><b>Loan to Value:</b> Up to100 % funding of cost of attendance subject to University and Course and if as per eligibility the students course expenses are not being funded completely by them, they would ask for an explanation and proof of how the student plans to fund the remainder of the amount required.</li>
    				<li><b>Repayment Period:</b> Term for the repayment of the loan is up to 20 years (240 months) and repayment starts 6 months after classed end.</li>
    				<li><b>Moratorium Period:</b> Prodigy Finance does not not require any payments to be made during the study period + grace period. However, borrowers are free to make pre-payments at any time without any penalties. Interest only accrues on loan balance outstanding.</li>
                    <li><b>Loan Proceeds:</b> Fast Online Paperless Process. The free online application takes 30 minutes to complete. Since loan offers are customized, one can make multiple applications – one for each supported school applied for. The intial free quote is non-binding – one can have multiple quotes for multiple schools. Once the applicant decides which quote to accept (based on admits), documents are required to be uploaded by the students on the Prodigy Finance portal. The entire application is then reviewed by their Credit Team who then decide on the sanctioning of the loan. Once the loan is sanctioned, disbursements happen smoothly and directly from Prodigy Finance to the university (university certifies that the student is accepted/enrolled). No hidden costs such as FX conversion, Insurance or sanction letter fee.</li>
    				<li><b>Time for Processing:</b> Prodigy Finance’s processing of education loans is much faster compared to other financial institutions. A conditional approval can be obtained within five business days (majority of applicants receive an instant quote) and after submitting all documents, the average turnaround time for loan approval is just 10 business days.</li>
    				<li><b>Processing Fees:</b> One-time administration fee of 2.5% of loan approved amount is added to the loan outstanding during the first disbursement. Interest accrues on loan amount disbursed + admin fee. This is captured in the Annual Percentage Rate (APR) disclosed by Prodigy Finance. Borrowers are encouraged to compare loan offers by comparing APR across loans.</li>
    				<li><b>Universities Funded:</b> They fund only top-ranked international masters programmes in engineering, business, law, policy and health sciences. Funding for Undergraduate Courses / PhD programmes is currently not available.</li>
    				<li><b>Support Letter:</b> They can give a free visa support letter which can be used by students to obtain their I-20 in US (which they need to get their student visa).</li>
                    <li><b>Sanction Letter:</b> They issue a free sanction letter (‘loan approval letter’) once the university certifies the loan and the same can be used for visa purposes. Validity of the sanction letter <b>is for the specified school, programme and intake.</b> Disbursals coincide with the due date for tuition fees after student reaches university.</li>
    			</ul>
    		</div>
            <div>
                <b>* Subject to changes.</b>
            </div>
    	</div>
    </div>
</section>
