<div id="myModalSallieMae" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                       <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Get the Lowest Interest rates in Town.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionUsBanks('myModalSallieMae')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalSallieMae').modal('show');
   }, 9000);
   //$('#myModalSallieMae').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Sallie Mae Student Loans</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Sallie Mae Student Loans </h2>
               <!--  <p class="" style="text-align:justify;"> Get the money you need to help make higher education happen Student loans for Eduloans by Sallie Mae® For borrowers attending or borrowing for a student attending a degree-granting institution.Whether you’re an undergraduate student, graduate student, or parent helping a student pay for school, these flexible loans are designed to meet your needs: </p>
                <p class="" style="text-align:justify;"><b>Competitive variable and fixed interest rates -</b> No origination fee or prepayment penalty<sup>1</sup>. Multiple repayment options Learn which loan is right for you.</p> -->
             <!--    <p class="" style="text-align:justify;"> <b>Vision :</b> To be the preferred financial solutions provider excelling in customer delivery through insight, empowered employees & smart use of technology.</p>
                <p class="" style="text-align:justify;"> <b>Mission :</b> Committed to providing Simple, Responsive & Innovative Financial Solutions.</p>
                <p class="" style="text-align:justify;"> <b>Values :</b> Customer Centricity / Ethics / Transparency / Teamwork / Ownership.</p> -->
            </div>
            <div class="col-md-12" style="text-align:justify;">
               <!--  <p><b>Types of Student Loans:</b></p>
                <ul class="nopadding">
                    <li><b>Undergraduate Smart Option Student Loan®  </b> for Undergraduate Students Pay for your bachelor’s, associate’s, or certificate expenses at a degree-granting school
                    </li>

                    <li><b>Graduate School Loan Pay </b>for expenses as you pursue your master’s and doctoral degrees.</li>

                    <li><b>MBA Loan Pay </b>for your business school expenses as you pursue your Masters of Business Administration degree. </li>

                    <li><b>Medical School Loan </b>Pay for your medical degree expenses in allopathic, general, osteopathic, podiatric, radiology, sports, and veterinary medicine</li>

                    <li><b>Dental School Loan </b>Pay for your dental degree expenses in general dentistry, endodontics, oral and maxillofacial surgery, orthodontics, pediatric dentistry, periodontics, and prosthodontics.</li>

                    <li><b>Health Professions Graduate Loan Pay </b>for your health professions degree expenses in allied health, nursing, pharmacy, and other graduate-level health programs.</li>

                    <li><b>Law School Loan Pay </b>for your school and associated expenses as you study for your law degree.</li>

                    <li><b>Parent Loan </b> Help your student by taking responsibility with a loan in your name Learn which loan is right for you through applying.</li>
                </ul> -->
                <!-- <p>Giving families with college-aged students specific information on available student loan products is a great way to enhance your website’s usefulness. You can customize this information with your institution’s name and a specific link, as indicated, and add this content to your website.</p> -->

                <p><b>Get the money you need to help make higher education happen Student loans for <font color='#004b7a'><b>E</b></font><font color='#f9992f'><b>du</b></font><font color='#004b7a'><b>Loans</b></font> by Sallie Mae® </b><br>For borrowers attending or borrowing for a student attending a degree-granting institution</p>

                <p>Whether you’re an undergraduate student, graduate student, or parent helping a student pay for school, these flexible loans are designed to meet your needs:</p>
                <ul class="nopadding">
                    <li><b>Competitive variable and fixed interest rates</b>
                    </li>

                    <li><b>No origination fee or prepayment penalty<sup>1</sup></b></li>

                    <li><b>Multiple repayment options</b></li>

                </ul>

                <p><a href="https://www.salliemae.com/landing/student-loans/?MPID=3000000203&dtd_cell=SMLRSOPANLNLOTOTAJT1077N010000" target="_blank">Learn which loan is right for you</a></p>

                <p>Undergraduate<br><b>Smart Option Student Loan® for Undergraduate Students</b><br>Pay for your bachelor’s, associate’s, or certificate expenses at a degree-granting school</p>

                <p>Graduate<br><b>Graduate School Loan</b><br>Pay for expenses as you pursue your master’s and doctoral degrees</p>

                <p><b>MBA Loan</b><br>Pay for your business school expenses as you pursue your Masters of Business Administration degree</p>

                <p><b>Medical School Loan</b><br>Pay for your medical degree expenses in allopathic, general, osteopathic, podiatric, radiology, sports, and veterinary medicine</p>

                <p><b>Dental School Loan</b><br>Pay for your dental degree expenses in general dentistry, endodontics, oral and maxillofacial surgery, orthodontics, pediatric dentistry, periodontics, and prosthodontics</p>

                <p><b>Health Professions Graduate Loan</b><br>Pay for your health professions degree expenses in allied health, nursing, pharmacy, and other graduate-level health programs</p>

                <p><b>Law School Loan</b><br>Pay for your school and associated expenses as you study for your law degree</p>


                <p>Parents<br><b>Parent Loan</b><br>Help your student by taking responsibility with a loan in your name</p>

                <p><a href="https://www.salliemae.com/landing/student-loans/?MPID=3000000203&dtd_cell=SMLRSOPANLNLOTOTAJT1077N010000" target="_blank">Learn which loan is right for you</a></p>

                <p class="" style="text-align:justify;">Borrow responsibly <br>We encourage students and families to start with savings, grants, scholarships, and federal student loans to pay for college. Students and families should evaluate all anticipated monthly loan payments, and how much the student expects to earn in the future, before considering a private student loan.</p>

                <p class="" style="text-align:justify;">These loans are made by Sallie Mae Bank or a lender partner. <font color='#004b7a'><b>E</b></font><font color='#f9992f'><b>du</b></font><font color='#004b7a'><b>Loans</b></font> is not the creditor for these loans and is compensated by Sallie Mae for the referral of loan customers.</p>

                <p class="" style="text-align:justify;">Smart Option Student Loan and graduate loan products: This information is for borrowers attending degree-granting institutions only. Smart Option Student Loan information is for undergraduate borrowers only. You must be attending a participating school located in the U.S. or have attended one during an eligible prior enrollment period. You must be a U.S. citizen or a permanent resident or a Non-U.S. citizen borrower with a creditworthy cosigner (who must be a U.S. citizen or permanent resident) and required U.S. Citizenship and Immigration Service (USCIS) documentation. U.S. citizens and permanent residents enrolled in eligible study abroad programs or who are attending or have attended schools located outside the U.S. are also eligible. For the Dental School Loan, Law School Loan, MBA Loan, and Medical School Loan, students must be enrolling in a graduate-level degree program in a field of study that is eligible for the loan and Graduate Certificate/Continuing Education coursework is not eligible. Applications are subject to a requested minimum loan amount of $1,000. Current credit and other eligibility criteria apply.</p>

                <p class="" style="text-align:justify;">Parent Loan: This information is for borrowers with students attending degree-granting institutions only. The student is not eligible to be a borrower or cosigner and must be attending or have attended a participating school during an eligible prior enrollment period, or be enrolled in an eligible study abroad program. The borrower, cosigner and student must be U.S. citizens or permanent residents. The school may refund loan funds directly to the student, and if that occurs, borrower and cosigner (if applicable) would still be responsible for repaying that amount to Sallie Mae. Applications are subject to a requested minimum loan amount of $1,000. Current credit and other eligibility criteria apply.</p>

                <p class="" style="text-align:justify;">1 Although we do not charge you a penalty or fee if you prepay your loan, any prepayment will be applied as provided in your promissory note: First to Unpaid Fees and costs, then to Unpaid Interest, and then to Current Principal.<br><br>SALLIE MAE RESERVES THE RIGHT TO MODIFY OR DISCONTINUE PRODUCTS, SERVICES, AND BENEFITS AT ANY TIME WITHOUT NOTICE.</p>

                <p class="" style="text-align:justify;">© 2018 Sallie Mae Bank. All rights reserved. Sallie Mae, the Sallie Mae logo, and other Sallie Mae names and logos are service marks or registered service marks of Sallie Mae Bank. All other names and logos used are the trademarks or service marks of their respective owners. SLM Corporation and its subsidiaries, including Sallie Mae Bank, are not sponsored by or agencies of the United States of America.</p>
            </div>

        </div>
    </div>
</section>