<style type="text/css">
  .spanText {
    font: 550 14px Open Sans, sans-serif;
  }

  /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
  #sidebar-wrapper {
    /*margin-left: -250px;
   left: 250px;*/
    width: 275px;
    background: white;
    position: fixed;
    height: 85%;
    /*top: 85px;*/
    /*overflow-y: auto;*/
    overflow: overlay;
    transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
  }

  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
  /*  #page-content-wrapper {
   width: 100%;
   }*/
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 275px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav li {
    line-height: 20px;
    text-indent: 0px;
  }

  .sidebar-nav li a {
    color: #f9992f;
    display: block;
    text-decoration: none;
    padding-left: 38px;
    margin-left: 10px;
  }

  .sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
  }

  .sidebar-nav li a span b {
    font: 550 14px Open Sans, sans-serif !important;
  }

  .sidebar-nav li a:hover,
  .sidebar-nav li.active {
    color: #014b79;
    background: rgba(230, 227, 224, 0.41);
    text-decoration: none;
  }

  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav>.sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
  }

  .sidebar-nav>.sidebar-brand a {
    color: #f9992f;
  }

  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  .sidebar-nav-sub {
    position: inherit;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav-sub li {
    line-height: 40px;
    text-indent: 12px;
  }

  .sidebar-nav-sub li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding-left: 25px;
  }

  .sidebar-nav-sub li a span:before {
    position: absolute;
    left: 7;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
  }

  .sidebar-nav-sub li a:hover,
  .sidebar-nav-sub li.active {
    color: #014b79;
    background: rgba(243, 243, 243, 0.57);
    text-decoration: none;
  }

  .sidebar-nav-sub li a:active,
  .sidebar-nav-sub li a:focus {
    text-decoration: none;
  }

  .sidebar-nav-sub>.sidebar-brand {
    height: 31px;
    line-height: 20px;
    font-size: 16px;
  }

  .sidebar-nav-sub>.sidebar-brand a {
    color: rgba(153, 153, 153, 0.8117647058823529);
  }

  .sidebar-nav-sub>.sidebar-brand a:hover {
    color: #014b79;
    background: white;
  }

  .content-header {
    height: 65px;
    line-height: 65px;
  }

  .content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
  }

  #menu-toggle {
    text-decoration: none;
  }

  .btn-menu {
    color: #000;
  }

  .inset {
    padding: 5px 20px 20px 20px;
  }

  @media screen and (max-width: 992px) {
    #sidebar-wrapper {
      left: 0;
      width: inherit;
    }

    #wrapper.active {
      position: top;
      left: 250px;
    }

    .scrollSpyArea.active #sidebar-wrapper {
      left: 250px;
      width: 100px;
      transition: all 0.4s ease 0s;
    }

    .inset {
      padding: 15px;
    }
  }

  @media (max-width:767px) {

    /* #wrapper {
   padding-left: 0;
   }*/
    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: top;
      left: 250px;
    }

    .scrollSpyArea.active #sidebar-wrapper {
      left: 250px;
      width: 100px;
      transition: all 0.4s ease 0s;
    }

    .inset {
      padding: 15px;
    }
  }

  .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
  }

  .legendTwo {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
  }

  .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
    box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
  }
</style>
<div id="myModalSaraswat" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
          <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal"
            style="color: white; opacity :inherit">&times;</button>
          <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
          <hr class="hrTop">
          <h5 class="imgTitle">Direct Connection + Finest Rates.</h5>
        </div>
        <div class="col-md-6">
          <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
          <div class="form-container registerForm1">
            <form>
              <div class="form-group" style="padding-top:10px;">
                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name">
              </div>
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
              </div>
              <div class="form-group">
                <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
              </div>
              <div class="form-group">
                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)"
                  ng-model="loanamount">
              </div>

              <div class="form-group">
                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id"
                  remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1"
                  input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
              </div>
              <div class="col-md-12" style="text-align: center;">
                <button type="button" class="btn btn-primary registerButton"
                  ng-click="submitCallToActionNatPriv('myModalBOB')"> Register </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+
          Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href='/user/register' target='_blank'>Click Here</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalBOB').modal('show');
   }, 9000);
   //$('#myModalBOB').modal('show');
 });*/
</script>
<section id="imgSec"
  style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">Saraswat
          Bank</h1>
      </div>
    </div>
  </div>
</section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea">
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
        <div id="sidebar-wrapper">
          <nav id="spy">
            <ul class="sidebar-nav nav">
              <li>
                <a href="#home"><span class="fa fa-bank solo"><b>Home</b></span></a>
              </li>
              <li>
                <a href="#Overview" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Overview</b></span>
                </a>
              </li>
              <li>
                <a href="#KeyFeatures" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Key Features & Benefits</b></span>
                </a>

              </li>
              <li>
                <a href="#LoanDoc" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Loan Documentation</b></span>
                </a>
                <ul class="sidebar-nav-sub nav">
                  <li class="sidebar-brand">
                    <a href="#Documentation" data-scroll>
                      <span class="fa fa-angle-right solo"><b>Documentation</b></span>
                    </a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#typesLoan" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Loan Features</b></span>
                </a>

              </li>
              <li>
                <a href="#LoanEligibility" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Loan Eligibility</b></span>
                </a>
              </li>

            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
        <div class="page-content inset" data-spy="scroll" data-target="#spy">
          <div class="row" id="home">
            <div class="jumbotron text-center" style="margin-bottom: 15px;">
              <h2 style="font-size: 30px">Saraswat Bank Education Loan</h2>
              <p style="font-size: 18px">Saraswat Bank is a 104-year old institution established in 1918. We are India’s
                largest urban co-operative bank and listed in India’s Fortune 500 list. Saraswat Bank has been awarded
                as <b>The World's Best Banks 2021</b> for second year in a row by Forbes Survey and the <b>Best
                  Technology Bank</b> by IBA Technology awards for the 5th consecutive year.
                We are headquartered in Mumbai - Maharashtra and spread across <b>6 states</b> viz. Maharashtra,
                Gujarat, Goa, Karnataka, Madhya Pradesh (Indore) and Delhi through a network of 283 branches and 311
                plus ATMs.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="Overview">Overview</h3>
              <p>
                Saraswat Bank is the first co-operative bank to obtain permanent license to deal in foreign exchange and
                was granted the status of an <b>Authorised Dealer in Foreign Exchange</b> in 1979. Our <b>9 Forex
                  centres</b> and Correspondent Banking relations with 329 centres of various banks spread over 60
                countries aid in smoother transactions. We maintain Foreign Currency Accounts in 10 Major Currencies of
                the world viz., USD, EUR, GBP, CHF, JPY, HKD, SGD, CAD, AUD, AED.
              </p>
              <p>Offering myriad financial products and services for retail and corporate customers, our Bank is
                committed to taking its legacy ahead with outstanding service.
                Our Saraswati Education loan with the <b>lowest interest rates</b> and faster TAT will provide complete,
                seamless, and affordable education financing solutions to all the deserving students.
              </p>
            </div>

            <!-- Second -->
            <div class="col-md-12">
              <h3 class="legendOne" id="KeyFeatures">Saraswat Education loan Key Features and Benefits</h3>


              <p>One of the major features of <b>Saraswati Education loan</b> is the Saraswati education loan which is
                customized for the students who wish to pursue school education starting fro Nursery to Senior Secondary
                School. The main features of this type of loan are:</p>
              <table class="table table-bordered">
                <tr>
                  <th>Loan Amount</th>
                  <td>
                    <ol>
                      <li><b>Studies Abroad</b> – Maximum upto Rs.150.00 lacs</li>
                      <li><b>Studies in India</b> – Maximum upto Rs.75.00 lacs</li>
                      <li><b>Vocational courses</b> – Maximum upto Rs.10.00 lacs</li>
                      <li>Online courses also considered</li>
                    </ol>
                  </td>
                </tr>
                <tr>
                  <th><b>Rate of Interest (Floating) :8.50%</b></th>
                  <td>
                    <ol>
                      <li><b>General (PLR-5.75)</b> – 9.00%</li>
                      <li><b>Girl Child (0.5%discount) (PLR-6.25)</b> – 8.50% </li>
                      <li><b>Premier Institutes (0.25% discount) (PLR-6.00)</b> – 8.75% </li>
                    </ol>
                  </td>
                </tr>
                <tr>
                  <th>Processing Fees: </th>
                  <td>
                    <ol>
                      <li><b>For Studies Abroad</b> – 0.50% of Loan amt maximum Rs. 25,000 (+GST) </li>
                      <li><b>For Studies in India</b> – For loan upto Rs.20Lacs - Rs. 5000 + GST<br> For loan above
                        Rs.20Lacs - Rs. 8000 + GST</li>
                    </ol>
                  </td>
                </tr>
                <tr>
                  <th>Repayment Period</th>
                  <td>
                    <ol>
                      <li>Maximum 12 years excluding moratorium period</li>
                      <li>Moratorium: Three years or duration of the course plus one year, whichever is earlier</li>
                      <li>Maximum permissible repayment period can be offered although parent who is main applicant is
                        retiring but student is co-borrower.</li>
                    </ol>
                  </td>
                </tr>
                <tr>
                  <th>Margin</th>
                  <td>Depending on the Security Offered</td>
                </tr>
                <tr>
                  <th>Security</th>
                  <td>Upto Rs. 4.00 lacs: without guarantor,Above Rs. 4.00 lacs: Pledge of any other tangible security
                    acceptable to the bank OR Equitable mortgage of Property </td>
                </tr>
                <tr>
                  <th>Share Holding</th>
                  <td>Maximum Upto 5%* of the sanctioned amount, max Rs.25000/-</td>
                </tr>
                <tr>
                  <th>Documentation and Legal Charges</th>
                  <td>At Actuals</td>
                </tr>
              </table>
            </div>

            <!-- Third -->
            <div class="col-md-12 wellBox">
              <legend class="legendTwo" id="Documentation">Required Documents</legend>
              <ul>
                <li>Duly filled prescribed application form</li>
                <li>Student Documents:
                  <ol>
                    <li>Latest Photograph, Pan Card, Residence proof – Aadhar Card/Passport</li>
                    <li>Copy of Passing Certificates- SSC, HSC, Degree and/Or other Educational qualification.</li>
                    <li>Proof of confirmed admission from the University ( I20, CAS etc)</li>
                    <li>Course fee estimate and structure along with other expenses (traveling/lodging/boarding)</li>
                    <li>University Bank details for Fees Payment.</li>
                    <li>Copy of Passport & Visa and related documents, and Foreign Residence proof if the student is
                      going abroad for higher education.</li>
                    <li>Fee receipts or proof of payments already made.</li>
                  </ol>
                </li>
                <li>Applicant and Guarantors Details
                  <ol>
                    <li>Latest Photograph, Pan Card, Residence proof – Aadhar Card/Passport</li>
                    <li>Income proof of the applicant in the form of</li>
                    <li><b>Salaried:</b> Last 3 months’ salary slip/certificate or copy of the last three years IT
                      returns or form 16 of last two years, 3 months bank statement.</li>
                    <li><b>Businessman:</b> Last 3 year’s profit & loss and balance sheet, ITR copies of last three
                      years, 3 months bank statement.</li>
                    <li></li>
                  </ol>
                </li>
                <li>Details of Security offered as collateral and related documents Pledge of any other tangible
                  security acceptable to the bank OR Equitable mortgage of Property
                  <ol>
                    <li>Property Mortgage</li>
                    <li>LIP/NSC/ Fixed Deposits</li>
                    <li>Gold</li>
                  </ol>
                </li>
              </ul>

            </div>
            <div class="col-md-12">
              <h3 class="legendOne" id="typesLoan">Saraswat Bank Overseas Education Loan</h3>
            </div>
            <div class="col-md-12 wellBox">
              <ol>
                <li>No processing fees for Saraswat Bank Education Loan</li>
                <li>Competitive Interest Rate</li>
                <li>Faster TAT compared to other lenders</li>
                <li>80 E Tax Benefit for the Students</li>
              </ol>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="LoanEligibility">Saraswat Bank Education Loan Eligibility</h3>
              <ol>
                <li>Individual who has secured admission in any of the graduate/post-graduate courses offered by
                  college/institute/university approved by IBA.</li>
                <li>Students applying for vocational courses will also be covered under this scheme with a maximum loan
                  amount of Rs.10 lakh</li>
                <li>Student should be applicant and parent or relative should be co-applicant</li>
                <li>In case of minor student, parent will be applicant</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
  /*Menu-toggle*/
  // $("#menu-toggle").click(function(e) {
  //     e.preventDefault();
  //     $("#wrapper").toggleClass("active");
  // });
  //var offset = 80;
  /*Scroll Spy*/


  $('.scrollSpyArea').scrollspy({ target: '#spy', offset: 200 });

  headerHeight = $("#header").height() + 5;
  secHeight = $("#imgSec").height() + headerHeight;

  /*Smooth link animation*/
  $('a[href*=#]:not([href=#])').click(function () {
    $('#sidebar-wrapper').css({ 'top': headerHeight });
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - headerHeight
        }, 1000);
        return false;

      }

    }

  });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function (event) {
    var st = $(this).scrollTop();
    if (st > lastScrollTop) {
      // downscroll code
      $('#sidebar-wrapper').css({ 'top': headerHeight });
    } else {
    }
    lastScrollTop = st;
  });
  $(window).scroll(function () {
    if ($(this).scrollTop() == '0') {
      var element = document.getElementById('sidebar-wrapper');
      element.style.top = null;
    }
  });

</script>