<style type="text/css">
  /*.spanText{
    font: 550 14px Open Sans, sans-serif;
  }*/
   /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
   #sidebar-wrapper {
   /*margin-left: -250px;
   left: 250px;*/
   width: 275px;
   background: white;
   position: fixed;
   height: 85%;
   /*top: 85px;*/
   /*overflow-y: auto;*/
  overflow: overlay;
   transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
   }
  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
 /*  #page-content-wrapper {
   width: 100%;
   }*/
   .sidebar-nav {
   position: absolute;
   top: 0;
   width: 275px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav li {
   line-height: 20px;
   text-indent: 0px;
   }
   .sidebar-nav li a {
   color: #f9992f;
   display: block;
   text-decoration: none;
   padding-left: 38px;
    margin-left: 10px;
   }
   .sidebar-nav li a span:before {
   position: absolute;
   left: 0;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav li a span b{
   font: 550 14px Open Sans, sans-serif !important;
   }
   .sidebar-nav li a:hover,
   .sidebar-nav li.active {
   color: #014b79;
   background: rgba(230, 227, 224, 0.41);
   text-decoration: none;
   }
   .sidebar-nav li a:active,
   .sidebar-nav li a:focus {
   text-decoration: none;
   }
   .sidebar-nav > .sidebar-brand {
   height: 65px;
   line-height: 60px;
   font-size: 18px;
   }
   .sidebar-nav > .sidebar-brand a {
   color: #f9992f;
   }
   .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
   }

   .sidebar-nav-sub {
   position: inherit;
   top: 0;
   width: 250px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav-sub li {
   line-height: 40px;
   text-indent: 12px;
   }
   .sidebar-nav-sub li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding-left: 25px;
   }
   .sidebar-nav-sub li a span:before {
   position: absolute;
   left: 7;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav-sub li a:hover,
   .sidebar-nav-sub li.active {
   color: #014b79;
   background: rgba(243, 243, 243, 0.57);
   text-decoration: none;
   }
   .sidebar-nav-sub li a:active,
   .sidebar-nav-sub li a:focus {
   text-decoration: none;
   }
   .sidebar-nav-sub > .sidebar-brand {
       height: 31px;
    line-height: 20px;
    font-size: 16px;
   }
   .sidebar-nav-sub > .sidebar-brand a {
   color: rgba(153, 153, 153, 0.8117647058823529);
   }
   .sidebar-nav-sub > .sidebar-brand a:hover {
   color: #014b79;
   background: white;
   }

   .content-header {
   height: 65px;
   line-height: 65px;
   }
   .content-header h1 {
   margin: 0;
   margin-left: 20px;
   line-height: 65px;
   display: inline-block;
   }
   #menu-toggle {
   text-decoration: none;
   }
   .btn-menu {
   color: #000;
   }
   .inset {
   padding: 5px 20px 20px 20px;
   }

   @media screen and (max-width: 992px){
   #sidebar-wrapper {
   left: 0;
   width: inherit;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   @media (max-width:767px) {
  /* #wrapper {
   padding-left: 0;
   }*/
   #sidebar-wrapper {
   left: 0;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
   }

   .legendTwo{
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
   }

   .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
     /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
     box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
}
</style>
<div id="myModalSBI" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>  
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       
                       <hr class="hrTop">
                       <h5 class="imgTitle">Making SBI Digital Again,  Get connected with SBI Digitally.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToActionNatPriv('myModalSBI')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalSBI').modal('show');
   }, 9000);
   //$('#myModalSBI').modal('show');
 });*/
</script>
<section id="imgSec" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">State Bank of India (SBI)</h1>
           </div>
       </div>
   </div>
   </section>
<section  style="padding: 5px 0 0px 0;">
<div class="container">
  <div class="row scrollSpyArea" >
    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
        <div id="sidebar-wrapper">
         <nav id="spy">
            <ul class="sidebar-nav nav">
               <li>
                  <a href="#home"><span class="fa fa-bank solo"><b>Home</b></span></a>
               </li>
               <li>
                  <a href="#Overview" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Overview</b></span>
                  </a>
               </li>
               <li>
                  <a href="#KeyFeatures" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Key Features & Benefits</b></span>
                  </a>
                  <ul class="sidebar-nav-sub nav">
                    <li class="sidebar-brand">
                        <a href="#Purpose" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Purpose</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Expenses" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Expenses</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Amount" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Amount</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#InterestRates" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Interest Rates</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#ProcessingFee" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Processing Fee</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#RepaymentTenure" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Repayment Tenure</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Security" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Security</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#EligibleCourses" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Eligible Courses</b></span>
                        </a>
                    </li>
                  </ul>
               </li>
               <li>
                  <a href="#Documentation" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Documentation</b></span>
                  </a>
               </li>
               <li>
                  <a href="#typesLoan" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Loan Features</b></span>
                  </a>
                  <ul class="sidebar-nav-sub nav">
                    <li class="sidebar-brand">
                        <a href="#LoanAmount" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Loan Amount</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#LoanAgainstCol" data-scroll>
                          <span class="fa fa-angle-right solo"><b>% of LAP Collateral</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#CollPro" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Collateral Property</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#StuProf" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Student’s Profile</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#IR" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Interest Rate</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#InterestPaying" data-scroll>
                          <span class="fa fa-angle-right solo"> <b>Interest Paying</b></span>
                        </a>
                    </li>
                  </ul>
               </li>
               <li>
                  <a href="#LoanEligibility" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Loan Eligibility</b></span>
                  </a>
               </li>
                <li>
                  <a href="#EMICalc" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>EMI Calculator</b></span>
                  </a>
               </li>
               <li>
                  <a href="#FAQs" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>FAQs</b></span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
         <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">
               <div class="jumbotron text-center" style="margin-bottom: 15px;">
                  <img src="images/SBIBanner.jpg" class="img-responsive">
                  <h2 style="font-size: 30px">State Bank Of India Education Loan</h2>
                  <p style="font-size: 18px">Quality education is one of the most important prerequisites that can help people live a complete, comfortable, and successful life. But, unfortunately, everyone cannot afford such education as it comes with high costs. To help deserving students take advantage of the education provided by the top universities of the world and get most out of their capabilities, State Bank of India has provided education loans so that meritorious students can pursue their dream course efficiently and gain excellence in their fields. </p>
                  <p style="font-size: 18px"><b>State Bank of India education loan</b> is extremely competitive for not only India’s reputed institutes but also for students who wish to test their capabilities in a foreign land. <b>SBI overseas education loan</b> interest rates are floating and can vary with the variations in MCLR. <b>State Bank of India Education loan</b> interest rates ranges from 8.85% and 10.75%.</p>

               </div>
            </div>
            <div class="row">
               <div class="col-md-12 wellBox">
                  <legend class="legendOne" id="Overview">Overview</legend>
                  <p>
                    State Bank of India was originated in the first decade of the nineteenth century with the establishment of the Bank of Calcutta on 2nd June 1806. After three years, the bank received its charter and was again re-designed as the Bank of Bengal on 2nd January 1809. Being one of the unique institutions, the bak was the first joint-stock bank of British India sponsored by the Government of Bengal. The other two banks namely the Bank of Madras (1 July 1843) and Bank of Bombay (15 April 1840) followed the Bank of Bengal remained at the tip of modern banking in India till their fusion as the Imperial Bank of India on 27 January 1921.

                    </p>
               </div>

               <!-- Second -->
               <div class="col-md-12">
                  <h3 class="legendOne" id="KeyFeatures">State Bank Of India Education Loan Key Features and Benefits</h3>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="Purpose">Purpose</legend>
                  <p>The main aim of the <b>State Bank of India education loan</b> Scheme is to provide loans to students from Indian nations for pursuing higher studies in India or at a foreign institution. This scheme is valid only for students who have secured admissions in premier institutions in India or at any other country. A separate loan scheme is offered for students pursuing vocational education and training in any country.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="Expenses">Expenses Considered for SBI Education Loan:</legend>
                  <ul>
                    <li>Tuition and course fee</li>
                    <li>Examination, laboratory, and library fees</li>
                    <li>Caution deposit</li>
                    <li>Cost of books, equipment, and other instruments.</li>
                  </ul>
                  <p>Some expenses that are considered only for the student loan scheme and not for the vocational training loan.</p>
                   <ul>
                    <li>Cost of a two-wheeler for traveling up to Rs.50,000</li>
                    <li>Travel expenses and passage money for studies in abroad</li>
                    <li>Caution deposit, other refundable deposit, and building fund which amounts up to 10 percent of the tuition fees for the entire semester</li>
                    <li>Any other expenses required to complete the coursework such as study tours, project, and thesis</li>
                  </ul>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="Amount">Amount of Education Loan</legend>
                  <ul>
                    <li>SBI Student Loan Scheme</li>
                    <li>The bank offers <b>State Bank of India education loan</b> up to Rs.10 lakhs for studies in India. It also offers an <b>SBI overseas education loan</b> up to a maximum of Rs.1.5 crores.</li>
                  </ul>
                  <table class="table table-bordered">
                      <tr>
                        <th>Category of the educational institution for <b>State Bank of India education loan</b></th>
                        <th>Maximum Loan Limit Without Security for <b>State Bank of India education loan</b></th>
                        <th>Maximum Loan Limit With Security for <b>State Bank of India education loan</b></th>
                      </tr>
                      <tr>
                        <td>List A</td>
                        <td>Ra.20 lakhs</td>
                        <td>Rs.30 lakhs</td>
                      </tr>
                      <tr>
                        <td>List B</td>
                        <td>Ra.7.5 lakhs</td>
                        <td>Rs.30 lakhs</td>
                      </tr>
                  </table>
                  <ul>
                    <li><b>State Bank of India education loan</b> for Vocational Education and Training up to six months is offered at a maximum of Rs. 50,000. For courses with duration of more than six months, students get Rs.one lakh as a loan.</li>
                  </ul>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="InterestRates">Interest Rates</legend>
                  <ul>
                    <li>SBI Student Loan Scheme</li>
                  </ul>
                  <table class="table table-bordered">
                      <tr>
                        <th><b>Loan Amount for State Bank of India education loan</b></th>
                        <th>Rate of Interest</th>
                      </tr>
                      <tr>
                        <td><b>Up to Rs.4 lakhs for State Bank of India education loan</b></td>
                        <td>3.50% above the base rate</td>
                      </tr>
                      <tr>
                        <td>Above Rs.4 lakhs and up to Rs.7.5 lakhs</td>
                        <td>3.75% above the base rate</td>
                      </tr>
                      <tr>
                        <td>Above Rs.7.50 lakhs</td>
                        <td>1.75% above the base rate</td>
                      </tr>
                  </table>
                  <p>The base rate for <b>State Bank of India education loan</b> is fixed at 9.85%. A concession of 0.50% is provided for female students and a one percent concession is offered for the full tenure of the <b>State Bank of India education loan</b> if the interest is serviced punctually during the moratorium and course period.</p>
                  <ul>
                    <li>SBI Scholar Loan scheme</li>
                  </ul>
                  <table class="table table-bordered">
                      <tr>
                        <th><b>Type of Institution for State Bank of India education loan</b></th>
                        <th><b>Interest Rate per annum for State Bank of India education loan</b></th>
                      </tr>
                      <tr>
                        <td>List AA</td>
                        <td>25 bps above base rate (10.10% at present)</td>
                      </tr>
                      <tr>
                        <td>List A</td>
                        <td>25 bps above base rate (10.10% at present)</td>
                      </tr>
                      <tr>
                        <td>List B</td>
                        <td>For unsecured loan up to Rs.20 lakhs, 50 bps above base rate (10.35% at present)</td>
                      </tr>
                      <tr>
                        <td>List C</td>
                        <td>175 bps above base rate (11.60% at present)</td>
                      </tr>
                  </table>
                  <p>For colleges listed in list B, the interest rate is 25 bps if the collateral security provided by the student is equal to or greater than the loan amount. This situation is also valid if the student’s work experience is greater than two years.</p>
                  <ul>
                    <li><b>SBI Loan for Vocational Education and Training:</b> The rate of interest is fixed at 3.50% above the base rate of 9.85%</li>
                  </ul>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="ProcessingFee">Processing Fee</legend>
                  <p>No processing fee is charged for <b>State Bank of India education loan</b> and <b>SBI overseas education loans</b>. </p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="RepaymentTenure">Repayment Tenure</legend>
                  <ul>
                    <li>SBI Student Loans</li>
                  </ul>
                  <table class="table table-bordered">
                      <tr>
                        <th><b>Maximum Loan Amount for State Bank of India education loan</b></th>
                        <th><b>Repayment Period for State Bank of India education loan</b></th>
                      </tr>
                      <tr>
                        <td>Up to Rs.4 lakhs</td>
                        <td>Up to 10 years</td>
                      </tr>
                      <tr>
                        <td>Above Rs.4 lakhs to up to Rs.7.5 lakhs</td>
                        <td>Up to 10 years</td>
                      </tr>
                      <tr>
                        <td>Above Rs.7.5 lakhs</td>
                        <td>Up to 12 years</td>
                      </tr>
                  </table>
                  <ul>
                    <li>SBI Scholar Education Loan</li>
                    <li>The maximum repayment tenure is 12 years. </li>
                    <li>The repayment period starts after 6 months of course completion. </li>
                    <li>In the case of SBI Loan for Vocational Education and Training, the repayment period for courses of duration up to one year can be up to three years. For courses of duration above one year, the repayment period can extend up to five years.</li>
                  </ul>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="Security">Security for SBI education loan</legend>
                  <ul>
                    <li><b>State Bank of India Education Loan</b></li>
                  </ul>
                  <table class="table table-bordered">
                      <tr>
                        <th><b>Loan Amount for State Bank of India education loan</b></th>
                        <th><b>Security for State Bank of India education loan</b> </th>
                      </tr>
                      <tr>
                        <td>Up to Rs.4 lakhs</td>
                        <td>Parent or guardian as co-borrower</td>
                      </tr>
                      <tr>
                        <td>Above Rs.4 lakhs to up to Rs.7.5 lakhs</td>
                        <td>Parent or guardian as co-borrower and collateral security in the form of a third party guarantee</td>
                      </tr>
                      <tr>
                        <td>Above Rs.7.5 lakhs</td>
                        <td>Parent or guardian as co-borrower and tangible collateral security</td>
                      </tr>
                  </table>
                  <ul>
                    <li>SBI Scholar Education Loan</li>
                    <li>The student’s parents or guardian who so ever sign the application as co-borrower needs to provide tangible collateral security of full value only to avail extra loan amount for list A and list C institutions. <b>State Bank of India education loans</b> can also be availed without security under the scholar scheme.</li>
                    <li>The bank does not take the guarantee of any collateral or third-party. But, parents or guardians will have to execute the loan documents as co-borrower. </li>
                  </ul>
                  <p><b><b>Margin for State Bank of India education loan</b></b><br>
                  For <b>State Bank of India education loan</b> Scheme, there is no margin for loans up to Rs.4 lakhs. For loans above Rs.4 lakhs, the margin is 5% for studies in India and 15% for SBI overseas education loan.
                  </p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="EligibleCourses">Eligible Courses</legend>
                  <ul>
                    <li>SBI Student Education Loan</li>
                    <li>For studies in India, undergraduate and post-graduate technical courses (degree and diploma) conducted by colleges that are approved by UGC, IMC, AICTE, and the government of India are covered. Also, teacher training and other diploma courses like pilot training and shipping as approved by the concerned regulatory authority are covered under the loan. For studies abroad, job-oriented professional graduate and post-graduate courses like MCA, MBA, MS, courses conducted by CIMA – London, CPA – USA are approved for the loan.</li>
                    <li>Regular full-time degree and courses for which the student is granted admission through merit-based admission process or entrance test are covered under the loan</li>
                    <li>Full-time executive management courses like PGPX are approved for the loan.</li>
                    <li>Skill development courses and vocational courses of duration between two months to 3 years run by a government department or any organization supported by National Skill Development Corporation leading to a recognized Government organization are approved for the loan</li>
                  </ul>
               </div>

               <!-- Third -->
               <div class="col-md-12 wellBox">
                <h3 class="legendOne" id="Documentation">Documentation Required for SBI Education Loan</h3>
                  <p>
                    Some of the important documents needed to apply for <b>State Bank of India education loan</b> are:<br>
                    Student - Applicant: (Self-attested documents)<br>
                    i. Academic Records: 10th Result 12th Result Graduation Result- Semester-wise (if applicable)Entrance Exam Result _____________________________ (mention the Test taken)<br>
                    ii. Proof of admission: Admission Letter/ Offer Letter (studies abroad only) / ID card (for reimbursement cases)<br>
                    iii. Copies of letter conferring scholarship, free-ship, etc.<br>
                    iv. Schedule of expenses<br>
                    v. Gap certificate, if applicable<br>
                    vi. 2 passport-size photographs<br>
                    vii. Passport to be mandatorily obtained in case of Studies Abroad<br>
                    viii. PAN Card<br>
                    ix. AADHAAR card, if available (mandatory for availing subsidy benefit)<br>
                    x. OVD: _________________________<br>
                    xi. If any other existing loan from other Banks/Lenders, then Loan A/C statement for last 1 year<br><br>

                    Co– Applicant / Guarantor*: (Self-attested documents)<br>
                    i. PAN Card<br>
                    ii. OVD: _________________________<br>
                    iii. 2 passport-size photographs<br>
                    iv. If any other existing loan from other Banks/Lenders, then Loan A/C statement for last 1 year<br>
                    v. Asset-Liability Statement * wherever applicable
                    Income Proof for Salaried Co-applicant / Guarantor* (Self-attested documents)<br>
                    i. Salary Slip or Salary Certificate of last 3 months<br>
                    ii. Copy of Form 16 or copy of IT Returns for last 2 financial years, acknowledged by IT Dept (ITR-V)<br>
                    iii. Bank account statement for last 6 months (of Salary Account)
                    Income Proof for Self-employed Co-applicant / Guarantor* Self-attested documents)<br>
                    i. Business address proof (If applicable)<br>
                    ii. IT returns for last 2 years (if IT payee)<br>
                    iii. TDS Certificate (Form 16A, if applicable)
                    iv. Bank account statement for last 6 months * wherever applicable
                    Major Documents for Collateralized Loans<br>
                    For Land/ building offered as collateral-<br>
                    i. Title Deed of the property<br>
                    ii. Any other property related document(s) (if applicable)_____________________________<br>
                    If Liquid Security offered as collateral, photocopy of same to be enclosed<br>
                    For Loans above Rs. 4 lacs and upto Rs. 20 Lacs for studies abroad: DD/ Cheque of Rs. 5000/-<br>
                    Loan Processing Fee # : DD/ Cheque of Rs. 11,800/- (Rs. 10,000 processing fee +18% GST)<br>
                    Advocate/ Legal Charges: As applicable for the centre

                  </p>
               </div>
               <div class="col-md-12">
                  <h3 class="legendOne" id="typesLoan">State Bank Of India Overseas Education Loan/ State Bank Of India Student Education Loan Features</h3>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="LoanAmount">1. Loan Amount</legend>
                  <p>The State Bank of India provides secured loans above 20 lakhs upto 1.25 crore with deviation for preferential list universities.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="LoanAgainstCol">2. Percentage of Loan Against Collateral Provided</legend>
                  <p>The bank provides a loan amount upto 90 percent of Property’s Realizable Value and FD value and loan upto 90 percent of the LIC Surrender value and KPV and NSC Value. </p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="CollPro">3. Collateral Property</legend>
                  <p>The State Bank of India provides secured loans above 20 lakhs upto 1.25 crore with deviation for preferential list universities.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="StuProf">4. Student’s Profile</legend>
                  <p>To provide <b>State Bank of India education loan</b> to any applicant, the bank will check the academic background of the student (no. of KTs throughout his last education) along with the course and institution he is applying for. </p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="IR">5. Interest Rate</legend>
                  <p>The current interest rate is <b>10.20 % (3 Yr.s MCLR + 2.00 % Spread)</b>. The interest rate varies with the change in MCLR. SBI further offers 0.50 % Concession (Girl Student) as well as a 0.50 % Discount against Rinn Raksha or any other existing policy assigned in favour of <b>SBI(SBI Life) Insurance Policy</b>. The Rin Raksha is generally  1 % of the Loan Amount.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <legend class="legendTwo" id="InterestPaying">6. Interest Paying During Moratorium Period</legend>
                  <p>The bank also provides an option of paying the interest on <b>SBI overseas education loan</b> during moratorium period or along with EMIs. </p>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" class="legendOne" id="LoanEligibility">State Bank Of India Education Loan Eligibility</h3>

                  <table class="table table-bordered">
                      <tr>
                        <th><b>Parameters of SBI education loan</b></th>
                        <th><B>SBI Education Loan Eligibility Criteria</B></th>
                      </tr>
                      <tr>
                        <td><b>Age of the Applicant fot SBI education loan</b></td>
                        <td>
                            <ul>
                                <li>Up to 35 years for non-employed people</li>
                                <li>Up to 45 years in the case of working employees and executives</li>
                            </ul>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Who can apply for SBI education loan</b></td>
                        <td>
                            <ul>
                                <li>Indian Nationals with secured admission to any professional or technical course in a recognized institution.</li>
                                <li>Permanent employees who are employed at least for three years with any organization and wish to gain higher professional qualifications. These professionals should also have secured admissions in a reputed institute.</li>
                            </ul>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Maximum Loan Amount for SBI education loan</b></td>
                        <td>
                            <ul>
                                <li>Upto Rs. 1,000,000 for studies in India</li>
                                <li>Upto Rs. 1,50,00,000 under <b>SBI Edvantage Scheme</b>.</li>
                                <li>Upto Rs. 4,000,000 for studies at IIT's, ISB's, and IIM's. </li>
                            </ul>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Repayment Frequency forSBI education loan</b></td>
                        <td>
                            <ul>
                                <li>Quarterly or monthly rests.</li>
                                <li>Repayment of <b>State Bank of India education Loan</b> typically starts one year after completing the course or six months after getting a job, whichever is earlier.</li>
                                <li>The repayment of loan interest will start immediately after the disbursement of the first installment of the loan. </li>
                            </ul>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Repayment Period for SBI education loan</b></td>
                        <td>
                            <ul>
                                <li>The entire tenure of a <b>State Bank of India education loan</b> includes Duration of Study, Grace Period after the Study, and Repayment Period.</li>
                                <li>For Indian courses, repayment tenure is maximum of 12 years after the commencement of repayment.</li>
                                <li>Applicants applying for <b>SBI overseas education loan</b> have repayment tenure for a maximum of 15 years after the commencement of repayment. </li>
                            </ul>
                        </td>
                      </tr>
                  </table>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="EMICalc">State Bank Of India Education Loan EMI Calculator</h3>
                  <p><b>State Bank of India Education Loan</b> EMI which can also be said as equated monthly installment is a fixed amount of money paid by the applicant to the bank against the <b>State Bank of India Education Loan</b> taken. This is towards repayment of the student’s loan to the bank which every month, is due on a fixed day till the loan is fully paid back.</p>
                  <p><b>State Bank of India Education Loan</b> repayment calculator calculates the EMI based on the loan amount applied for along with the interest charged on loan and the tenure for which the applicant applied for the loan. State Bank of India offers convenient and affordable education loans with loan EMIs as low as Rs. 8,738 per lakh for a 12 years tenure and lowest rate of interest of 8.85%.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="FAQs">SBI Overseas Education Loan FAQs</h3>
                  <ol>
                    <li>What documents should be submitted to avail the <b>SBI overseas education loan</b> subsidy?
                    <p><i class='fa fa-angle-double-right'></i> Along with all the necessary loan documents, the applicant needs to submit an income certificate issued by the Income Certifying Authority designated by the State Government.</p></li>

                    <li> Can the applicant’s spouse sign up as a co-applicant for <b>State Bank of India education loan</b>?
                    <p><i class='fa fa-angle-double-right'></i> Married applicants can designate their spouse as co-applicant.</p></li>

                    <li>How the <b>State Bank of India education loan</b> is disbursed?
                    <p><i class='fa fa-angle-double-right'></i> The loan amount is disbursed directly to the educational institution or the vendor whenever required.</p></li>

                    <li>What educational documents need to be submitted during an <b>SBI overseas education loan</b> application?
                    <p><i class='fa fa-angle-double-right'></i> The applicant is asked to submit the HSC and SSLC certificates along with the degree mark sheet and toefl and gre score, whichever falls in the eligibility criteria. In case the student has given GRE/ TOEFL we can look to provide the same as well. </p></li>
                  </ol>
               </div>
            </div>
         </div>
    </div>
  </div>
</div>

   <!-- <div id="wrapper">

      <div id="page-content-wrapper">


      </div>
   </div> -->
</section>
<!-- <section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Collateral / Secured Overseas Education Loans through State Bank of India</h2>
            <p class="" style="text-align:justify;"> <b>State Bank of India (SBI)</b> is India’s largest bank for every Indian. The Bank is actively involved since 1973 in non-profit activity called Community Services Banking. Their loan product for Overseas Education is called <b>Global Ed-Vantage</b></p>
            <p class="" style="text-align:justify;"> <b>Vision :</b> Be The Bank Of Choice For A Transforming India.</p>
            <p class="" style="text-align:justify;"> <b>Mission :</b> Committed to providing Simple, Responsive and Innovative Financial Solutions.</p>
            <p class="" style="text-align:justify;"> <b>Values :</b> Service / Transparency / Ethics / Politeness / Sustainability.</p>
         </div>
         <div class="col-md-12" style="text-align:justify;">
            <p><b>The key salient features of State Bank of India are :</b></p>
            <ul class="nopadding">
               <li><b>Pan India Reach :</b> Very few banks or financial institutions in India can compete with SBI, as it covers all major and minor cities in mostly all States of India. The loan processes through the branches and then to the RACPC’s (Centralized Processing Centre’s), which are the sanctioning authority and come under the supervision of the Nodal Officers. SBI’s Education Loans are exclusively for full-time regular courses at foreign Colleges / Universities.</li>
               <li>Low Interest Rate : SBI provides a very competitive interest rate to the student. Presently the ROI (Rate Of Interest) is 10.80 %.</li>
               <li><b>Special Rate :</b> 0.50 % is a special concession available on ROI (Rate Of Interest) for Girl Students and can be enjoyed only with Nationalized / PSU (Public Sector) Banks which come under RBI guidelines.</li>
               <li><b>Discount :</b> 0.50 % against Insurance policy (Rinn Raksha to be taken from SBI Life Insurance by paying a one-time premium).</li>
               <li><b>High Loan Amount :</b> SBI is the only Nationalized / PSU Bank that can give the maximum loan amount of up to Rs.1.50 Crores as per Global Ed-Vantage. They fund for Undergraduate Courses, which has a higher requirement, as not all Financial Institutions do the same.</li>
               <li><b>Consideration On Basis Of :</b> Security in the form of land (Not Agricultural Land) / building to the tune of 110% of the loan limit plus simple interest to be accrued on the loan amount during course and moratorium period OR Liquid Securities (FD's and Traditional LIC policy ,etc.) to the extent of 100% of the Loan Limit</li>
               <li><b>Tax Benefit :</b> Interest paid on education loan to bank is Tax waived under section 80E. This benefit is available to the Co-Applicant / Co-Signor. This deduction under Section 80E is over and above the Rs.1.50 Lakhs deduction allowed under Section 80C and there is no maximum limit for claiming this deduction under Section 80E.</li>
               <li><b>Margin Money :</b> This is the amount that a student is supposed to pay from their side on every disbursement. SBI requires that the student Compulsorily pays 10 % of the cost of education on their own. They would be ready to fund up to a maximum of 90 % of the total loan required by the student.</li>
               <li><b>Padho Pardesh :</b> This Scheme is an Interest Subsidy on Educational Loans for Overseas Studies given to the Students Belonging to the Minority Communities and is available through SBI. This has to be applied for quarterly through SBI and the bank would not be liable in any way if the interest amount is not refunded by the Government.</li>
               <li><b>Repayment Period :</b> SBI has a long term for the repayment of Loan which is up to 15 years (180 months) and it starts after the Moratorium Period gets over.</li>
               <li><b>Moratorium Period :</b> SBI offers an option where the student can decide if they want to pay the Interest Amount during moratorium period or after moratorium period along with Principal Amount. Moratorium on repayment during study period available <b>+ 6 Months</b> after completion of course.</li>
               <li><b>Loan Proceeds :</b> Initially the documents are submitted by the students through VLP (Vidya Laksmi Portal) to the nearest bank branch from where it proceeds to the Loan Cell for Valuation and Legal Proceeds, post which, they decide on the Sanctioning of the Loan. Once the loan is sanctioned the Disbursements happen from the students nearest bank branch through which they had submitted the initial documents.</li>
               <li><b>Credit Grading :</b> The bank looks at Students Profile, Parents IT Returns, CIBIL Rating and Collateral Security. SBI is heavily dependent on the security provided for the loan followed by the student’s profile. Weak IT returns of parents are sometimes considered in case the former are strong. Additional co-applicants / co-signors can even be a 3rd party instead of a relative, if their Collateral Mortgage has to be considered.</li>
               <li><b>Time for Processing :</b> SBI is a large organization and Education Loans are done through a centralized processing centre which generally takes longer for the student to process the file. The average turnaround time is at least 15 days from the time students have submitted all loan documents.</li>
               <li><b>Low Processing Fees :</b> SBI has very low processing fees of Rs.10,000 + GST (Non Refundable) for any amount of loan between 20 Lacs to 1.50 Crores. Property Valuation and Legal charges are extra.</li>
               <li><b>Universities Funded :</b> Regular Graduate/Post-Graduate/Doctorate Degree/Diploma/Certificate Courses in any discipline offered by foreign Institutes/Universities in USA, UK, Canada, Australia, Europe, Singapore, Japan, Hong Kong and New Zealand is covered under the scheme.</li>
               <li><b>Sanction Letter :</b> They issue a Sanction Letter once University is Finalized and the same can be used for Visa purpose. Validity of Sanction Letter is up to <b>6 months</b>.</li>
            </ul>
         </div>
         <div>
            <b>* Subject to changes.</b>
         </div>
      </div>
   </div>
</section> -->

<script type="text/javascript">
   /*Menu-toggle*/
   // $("#menu-toggle").click(function(e) {
   //     e.preventDefault();
   //     $("#wrapper").toggleClass("active");
   // });
   //var offset = 80;
   /*Scroll Spy*/


   $('.scrollSpyArea').scrollspy({ target: '#spy', offset:200});

    headerHeight = $("#header").height() + 5;
    secHeight = $("#imgSec").height() + headerHeight;

   /*Smooth link animation*/
   $('a[href*=#]:not([href=#])').click(function() {
      $('#sidebar-wrapper').css({'top' : headerHeight });
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - headerHeight
               }, 1000);
               return false;

           }

       }

   });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function(event){
     var st = $(this).scrollTop();
     if (st > lastScrollTop){
         // downscroll code
          $('#sidebar-wrapper').css({'top' : headerHeight });
     } else {
     }
     lastScrollTop = st;
  });
  $(window).scroll(function(){
    if ($(this).scrollTop() == '0') {
        var element = document.getElementById('sidebar-wrapper');
        element.style.top = null;
    }
});

</script>
