<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"-->


<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 --><!--   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
 --><!-- <link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet"> -->




<!--style type="text/css">
	/***********************ABOUT US**********************/
	.about-section {
    padding: 4em 0;
}
.site-title  {
    padding: 2em 0;
}
.site-title h3 {
    font-size: 3.5em;
    color: #004b79;
    /*font-family: 'Marvel-Regular';*/
    font-weight: 700;
}
.site-title p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin-top: 0.5em;
}

.about-inner-column h4 {
    font-size: 2.5em;
    color: #004b79;
    /*font-family: 'Marvel-Regular';*/
}
.about-inner-column p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin: 1em 0 0;
}

.about-inner-column ul li a {
    color: #333333;
    font-size: 1.1em;
    padding-left: 2em;
}
.about-right img {
    width: 100%;
}

/*********************************BASIC BANK Details CARDS**********************************/
.best-plan{
    margin: 0px auto 0px auto;
    position: relative;
    z-index: 99;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.55;
    color: rgba(51,51,51,1);
    font-weight: 300;
    background-color: dimgrey;
}

.best-plan__head{
    text-align: center;
    margin-bottom: 45px;
}

.best-plan__title{
    font-size: 36px;
    margin-bottom: 15px;
    margin-top:50px;
    font-weight: 800;
    color:#3c2f17;
}
.best-plan__title + p{
    font-size: 18px;
    font-weight: 300;
}

.b-price-plan{
    border: 1px solid rgba(125,138,164,.25);
    max-width: 450px;
    height: 790px;
    margin: 0 auto 30px auto;
    background: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: opacity .35s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
    transition: opacity .35s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
    -o-transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear;
    transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear;
    transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
}

.b-price-plan__item{
    padding: 15px 30px;
}

.b-price-plan__head{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.b-price-plan__head > h3{
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0;
    letter-spacing: 1px;
}

.price_foot{
    text-align: center;
    position: relative;
    overflow: hidden;
}
.price_foot:before{
    content: '';
    position: absolute; top: 100%; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(125,138,164,.1);
    -webkit-transition: top .6s linear;
    -o-transition: top .6s linear;
    transition: top .6s linear;
}

.b-price-plan__cost{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    z-index: 99;
    text-align: center;
    background: rgba(125,138,164,.1);
}
.cost-title{
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    color: rgba(125,138,164,1);
}
.cost-title:before{
    content: '\f155';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    position: relative; top: -20px;
}
.cost-title > span{
    position: relative; top: -25px; left: 5px;
    font-size: 18px;
}
.cost-time{
    font-size: 13px;
    color: rgba(125,138,164,.75);
}


.price-plan_pro{
    position: relative;
    z-index: 99;
    -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3);
            box-shadow:0 0 0 6px rgba(255, 255, 255, 0.3);
}

.p_plan_list{
    padding: 0;
    margin: 0;
}
.p_plan_list > li{
    position: relative;
    padding: 15px 30px 15px 54px;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border-top: 1px solid rgba(125,138,164,.1);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.p_plan_list > li:hover{
    border-color: rgba(125,138,164,.1);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px rgba(125,138,164,.06);
            box-shadow: 0 2px 4px rgba(125,138,164,.06);
    position: relative;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    z-index: 99;
}

.p_plan_list > li .fa{
    color: rgba(125,138,164,1);
    margin-right: 8px;
    width: 16px;
    height: 16px;
    position: absolute; top: 50%; left: 30px;
    margin-top: -8px;
}
.p_plan_list > li .fa.text-success{
    color: rgba(160,206,78,1)!important;
}
.p_plan_list > li .fa.text-danger{
    color: rgba(253,99,71,1)!important;
}
.p_plan_list > li:first-of-type{
    border-top: none;
}

/* price_btn style */

.price_btn{
    overflow: hidden;
    position: relative;
    z-index: 99;
    margin: 15px auto;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(125,138,164,1) ;
    text-decoration: none;
    text-transform: uppercase;
    width: 70%;
    border: 2px solid rgba(125,138,164,1) !important;
    background: #fff !important;
    padding: 15px 20px !important;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.price_btn:before,
.price_btn:after{
    content: '';
    position: absolute; top: 0; left: 0;
    width: 0;
    height: 50%;
    background: rgba(125,138,164,1) !important;
    -webkit-transition: width .3s ease-in;
    -o-transition: width .3s ease-in;
    transition: width .3s ease-in;
}
.price_btn:after{
    top: auto;
    bottom: 0;
    -webkit-transition: width .4s ease-in;
    -o-transition: width .4s ease-in;
    transition: width .4s ease-in;
}
.price_btn:hover:before,
.price_btn:hover:after{
    width: 100%;
}

.price_btn > span{
    position: relative;
    z-index: 99;
}

.price_btn .fa{
    font-size: 18px;
    position: absolute; top: 50%; left: 100%;
    z-index: 99;
    width: 30px;
    opacity: 0;
    -webkit-transition: left .55s linear, opacity .55s linear;
    -o-transition: left .55s linear, opacity .55s linear;
    transition: left .55s linear, opacity .55s linear;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.price_btn:hover .fa{
    left: 80%;
    opacity: 1;
}

.price_btn:hover{
    overflow: visible;
    background: #fff;
    border-color: rgba(125,138,164,1) !important;

}
.price_btn:active,
.price_btn:focus{
    background: rgba(125,138,164,1) !important;
    border-color: rgba(125,138,164,1) !important;
}

.b-price-plan:hover{
    -webkit-box-shadow: 0 10px 20px rgba(125,138,164,.25) !important;
            box-shadow: 0 10px 20px rgba(125,138,164,.25) !important;
}
.b-price-plan:hover .price_foot:before{
    top: 0;
}

.b_plan_body:hover .b-price-plan{
    opacity: .25;
    -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
            transform: scale(.95);
}
.b_plan_body:hover .b-price-plan:hover{
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.ftr{
    text-align: center;
}

</style-->
<div id="myModalUSBANK" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Get the Best Deal for Education Loan without Consignors.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" class="form-control" name="name" placeholder="Name" ng-model="name" required>
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email" required>
                              </div>

                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile" required>
                              </div>

                              <div class="form-group">
                                 <input class="form-control" type="number"  name="loanamount" placeholder="Loan Amount ( Minimum - 7,50,000 )" ng-model="loanamount" required>
                              </div>

                              <div class="form-group">
                                <input type="number" name="loanamount" class="form-control" placeholder="Loan Amount (Min 7,50,000)" ng-model="loanamount">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalUSBANK')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalUSBANK').modal('show');
   }, 9000);
 });*/
</script>
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">US Banks</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>



<section>
<div class="container">
	<div class="row">

		<div class="col-md-12">
				<!--h4> </h4-->
			<p class="" style="text-align:justify;">Banks in home country of study offer student loans with valid co signors/guarantors in the region. Eduloans works very closely with banks and can look to provide you the loans from foreign banks that are very cost effective.</p>
		<!-- 	<p><strong>USP's / Advantages of Dollar ($) based loans from US Banks Vs Indian Loans :</strong></p> -->
		</div>
		<!-- <div class="col-md-8">

			<ul class="nopadding">
			<li>US Dollar loans are generally based between 3-6 %. There is a cost reduction of 5-7 % per year on the sanction amount.</li>
			<li>There is no loss due to Forex conversion during the loan issuance or repayment. This reduces the cost by at least 2-3 %.</li>
			<li>The loan does not involve collateral mortgage. There is saving of Legal fees involved with valuation as well as registry of mortgage property.</li>
			<li>The maximum value can be your entire I20 value for your period of study not exceeding USD 150000.</li>
			</ul>

			<p><u>Our Fees </u>:- Our Service Charges (1%) of Loan Sanctioned Amount + Applicable Service TAX<br>(Initial payment of INR 10,000 + Taxes (Non Refundable). Rest amount post the approval of the loan)</p>
			<p>Our services Include:</p>
			<ol>
			  <li>Complete Loan application to 3 leading US Banks to facilitate choice and best rate offered.</li>
			  <li>Completion of documentation required for the disbursal of loan.</li>
			  <li>Guidance on all features and best available structure suited to your needs.</li>
			</ol>
		</div> -->
			<!-- <div class="col-md-4" >
			   <img src="images/partners/fin-institute.png"  >
			</div> -->
	</div>
</div>
</section>

<section id="ascent">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Ascent Student Loans  </h2>

        </div>
            <div class="col-md-8">

                <p class="" style="text-align:justify;">Student loans should expand your possibilities, not limit them.  Ascent’s private student loan gives students more opportunities to qualify for a loan! Ascent offers benefits that put students first, like 1% Cash Back Graduation Reward at graduation and more.</p>
                <ul>
                    <li><b>AWARD-WINNING</b> – Ascent was named Best Private Student Loan of 2021 by Forbes Advisor and NerdWallet (to name a few), because Ascent offers great rates and benefits for students and cosigners</li>
                    <li><b>MORE FLEXIBLE OPTIONS</b> – Choose from In School Interest-Only, In School $25 Minimum Payment or Defer Payments where you can start payments up to 9 months after graduation
                    <ul>
                      <li>Reduce Payments: If you need to make lower payments after graduation, consider Ascent’s Progressive Repayment option</li>
                      <li>Pause Payments: Ascent’s generous deferment and forbearance options allow you to temporarily pause payments if you qualify</li>
                    </ul>
                    </li>
                    <li><b>BUILD CREDIT IN YOUR OWN NAME</b> – Apply to release your cosigner after 24 consecutive on-time payments and meeting other criteria
                    <ul>
                      <li>Non-Cosigned loan option for juniors and seniors (one of the few lenders offering this nationwide, also available to DACA students)</li>
                    </ul>
                    </li>
                    <li><b>FAST & EASY</b> – Check your pre-qualified rates in minutes without impacting your credit score</li>
                    <li><b>NO FEES</b> – No application, origination, or disbursement fees AND there’s no penalty if you pay off your loan early</li>
                    <li><b>FREE RESOURCES & APPS</b> – Ascent incorporates financial wellness throughout the application process and offers additional free resources to help you thrive throughout college and beyond</li>

                </ul>
                    <p>Ascent Student Loans offers the following benefits : </p>

                    <ul class="nopadding">
                        <li><b>Interest Rate :</b> Variable with ACH: 5.25% - 14.26% , Fixed with ACH : 3.39% - 14.16% </li>
                        <li><b>Loan Processing :</b> Fast Online Processing.</li>
                        <li><b>Special Discount :</b> Discount of 0.25% - 1.00% for Auto Pay.</li>
                        <li><b>Loan Amount :</b> 100% of I20 - $2,001 up to $200,000 or total cost of attendance less aid received.</li>
                        <li><b>Repayment Period :</b> 5-year, 10-year or 15-year repayment options.</li>
                        <li><b>Loan Proceeds (Disbursements):</b> Directly to University.</li>
                        <li><b>Processing Fee :</b> No application fees or disbursement fees.</li>
                    </ul>
                    <p><b>UNDERGRADUATE Student Loans</b></p>
                    <ul>
                        <li><b>Variable APR with ACH:</b> 5.25% - 14.26% </li>
                        <li><b>Fixed APR with ACH:</b> 3.39% - 14.16% </li>
                        <li><b>Non-Cosigned Credit Based Variable Rates:</b> 8.38% - 13.61% </li>
                        <li><b>Non-Cosigned Credit Based Fixed Rates:</b> 8.61% - 14.01% </li>
                        <li><b>Non-Cosigned Outcomes Based Variable Rates:</b> 12.90% - 14.85% </li>
                        <li><b>Non-Cosigned Outcomes Based Fixed Rates:</b> 13.16% - 15.13% </li>
                    </ul>
                    <p><b>GRADUATE Student Loans</b></p>
                    <ul>
                        <li><b>MBA/Law/General Variable Rates (Cosigned and Non-Cosigned):</b> 7.10% - 14.26% </li>
                        <li><b>MBA/Law/General Fixed Rates (Cosigned and Non-Cosigned):</b> 4.39% - 14.16% </li>
                        <li><b>Medical Variable Rates (Cosigned and Non-Cosigned):</b> 7.10% - 14.51% </li>
                        <li><b>Medical Fixed Rates (Cosigned and Non-Cosigned):</b> 4.39% - 14.16% </li>
                        <li><b>Dental Variable Rates (Cosigned and Non-Cosigned):</b> 7.10% - 14.51% </li>
                        <li><b>Dental Fixed Rates (Cosigned and Non-Cosigned):</b> 4.39% - 14.16% </li>
                    </ul>
                    <p><b>BGraduate (MA, MS, PhD) & Health Professionals (Allied Health, Nursing, Pharmacy) </b></p>
                    <ul>
                        <li><b>Variable APR with ACH:</b> 7.10% - 14.51%  </li>
                        <li><b>Fixed APR with ACH:</b> 4.39% - 14.16% </li>
                    </ul>
                    <p><b>Parent Loan Rates </b></p>
                    <ul>
                        <li><b>Parent Loan Variable Rates:</b> 5.30% - 15.51% </li>
                        <li><b>Parent Loan Fixed Rates:</b> 5.10% - 16.11% </li>
                    </ul>
                    <p><a href="https://ascentstudentloans.com/options-consigned-and-no-cosigner/?utm_source=partner&utm_campaign=EduLoans_Rev&utm_medium=EduLoans_Rev_Apply&utm_content=EduLoans_Rev_Learn_More" target="_blank">Apply Now</a></p>
                    <p style="text-align:justify;">Ascent’s undergraduate and graduate student loans are funded by Bank of Lake Mills or DR Bank, each Member FDIC. Loan products may not be available in certain jurisdictions. Certain restrictions, limitations, terms and conditions may apply for Ascent's Terms and Conditions please visit: <a href="https://www.ascentfunding.com/terms-conditions/" target="_blank">AscentFunding.com/Ts&Cs.</a> Annual Percentage Rates (APRs) displayed above are effective as of 1/1/2025 and reflect an Automatic Payment Discount of 0.25% for credit-based college student loans and 1.00% discount on outcomes-based loans when you enroll in automatic payments. The Full P&I (Immediate) Repayment option is only available for college loans (except for outcomes-based loans) originated on or after June 3, 2024. For more information, see <a href="https://www.ascentfunding.com/annual-percentage-rate-apr-sample/" target="_blank">repayment examples</a> or review the <a href="https://www.ascentfunding.com/terms-conditions/#discount" target="_blank">Ascent Student Loans Terms and Conditions.</a> The final amount approved depends on the borrower’s credit history, verifiable cost of attendance as certified by an eligible school, and is subject to credit approval and verification of application information. Lowest interest rates require full principal and interest (Immediate) payments, the shortest loan term, a cosigner, and are only available for our most creditworthy applicants and cosigners with the highest average credit scores. Actual APR offered may be higher or lower than the examples above, based on the amount of time you spend in school and any grace period you have before repayment begins. 1% Cash Back Graduation Reward subject to terms and conditions. For details on Ascent borrower benefits, visit <a href="http://ascentfunding.com/BorrowerBenefits" target="_blank">AscentFunding.com/BorrowerBenefits.</a> The <a href="https://www.ascentfunding.com/student-success/" target="_blank">AscentUP</a> platform is only available to eligible Ascent borrowers and subject to terms and conditions.  </p>
                    <!-- <div class="row">
                        <div class="col-md-12 col-sm-12 panel-group" id="accordion1" style="margin-bottom: 0px;">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne" href="#" aria-expanded="true" aria-controls="collapseOne">Read More</a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body" style="color: black">
                                    <p style="text-align:justify;">Ascent’s undergraduate and graduate student loans are funded by Bank of Lake Mills or DR Bank, each Member FDIC. Loan products may not be available in certain jurisdictions. Certain restrictions, limitations, terms and conditions may apply for Ascent's Terms and Conditions please visit: <a href="https://www.ascentfunding.com/terms-conditions/" target="_blank">AscentFunding.com/Ts&Cs.</a> Annual Percentage Rates (APRs) displayed above are effective as of 12/1/2024 and reflect an Automatic Payment Discount of 0.25% for credit-based college student loans and 1.00% discount on outcomes-based loans when you enroll in automatic payments. The Full P&I (Immediate) Repayment option is only available for college loans (except for outcomes-based loans) originated on or after June 3, 2024. For more information, see <a href="https://www.ascentfunding.com/annual-percentage-rate-apr-sample/" target="_blank">repayment examples</a> or review the <a href="https://www.ascentfunding.com/terms-conditions/#discount" target="_blank">Ascent Student Loans Terms and Conditions.</a> The final amount approved depends on the borrower’s credit history, verifiable cost of attendance as certified by an eligible school, and is subject to credit approval and verification of application information. Lowest interest rates require full principal and interest (Immediate) payments, the shortest loan term, a cosigner, and are only available for our most creditworthy applicants and cosigners with the highest average credit scores. Actual APR offered may be higher or lower than the examples above, based on the amount of time you spend in school and any grace period you have before repayment begins. 1% Cash Back Graduation Reward subject to terms and conditions. For details on Ascent borrower benefits, visit <a href="http://ascentfunding.com/BorrowerBenefits" target="_blank">AscentFunding.com/BorrowerBenefits.</a> The <a href="https://www.ascentfunding.com/student-success/" target="_blank">AscentUP</a> platform is only available to eligible Ascent borrowers and subject to terms and conditions.  </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
               <br>
               <p><a class="btn btn-primary btn-md" href="/ascent"> More Details</a></p>
             </div>
            <div class="col-md-4" >
               <img src="images/partners/ascent_logo.png" alt="ascent education loan" >
            </div>
    </div>
</div>
</section>

<section  style="background-color:#f1f1f1;" id="sallie">
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h2>Sallie Mae Student Loans
            </h2>

        </div>
            <div class="col-md-8">

                <p class="" style="text-align:justify;"><b>Wherever you are in your higher education, <br>Get the money you need for school <br><br>Whether you’re an undergraduate, graduate student, or parent, <br>Get money for school from Sallie Mae® </b></p>
                    <p>Sallie Mae® higher education loans are designed for the needs of undergraduates, graduate students, and parents. </p>

                    <ul class="nopadding">
                        <li>Competitive interest rates </li>
                        <li>Multiple repayment options</li>
                        <li>No origination fees</li>
                        <li>No prepayment penalty<sup>1</sup></li>
                    </ul>

                <p><b>Smart Option Student Loan® for Undergraduate Students</b></p>
                <p class="" style="text-align:justify;"><b>Parent Loan  <br><br>Plus, a suite of graduate loans to pay for expenses included in your school's cost of attendance and designed for your specific degree </b></p>

                <p><a href="https://www.salliemae.com/landing/student-loans/?MPID=3000000203&dtd_cell=SMLRSOPANLNLOTOTAJT1077N010000" target="_blank">Find out which loan is right for you</a></p>

                <div class="row">
                  <div class="col-md-12 col-sm-12 panel-group" id="accordion" style="margin-bottom: 0px;">
                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" href="#" aria-expanded="true" aria-controls="collapseTwo">Read More</a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p class="" style="text-align:justify;">Borrow responsibly <br>We encourage students and families to start with savings, grants, scholarships, and federal student loans to pay for college. Students and families should evaluate all anticipated monthly loan payments, and how much the student expects to earn in the future, before considering a private student loan.</p>

                <p class="" style="text-align:justify;">These loans are made by Sallie Mae Bank or a lender partner. <font color='#004b7a'><b>E</b></font><font color='#f9992f'><b>du</b></font><font color='#004b7a'><b>Loans</b></font> is not the creditor for these loans and is compensated by Sallie Mae for the referral of loan customers.</p>

                <p class="" style="text-align:justify;">Smart Option Student Loan and graduate loan products: This information is for borrowers attending degree-granting institutions only. Smart Option Student Loan information is for undergraduate borrowers only. You must be attending a participating school located in the U.S. or have attended one during an eligible prior enrollment period. You must be a U.S. citizen or a permanent resident or a Non-U.S. citizen borrower with a creditworthy cosigner (who must be a U.S. citizen or permanent resident) and required U.S. Citizenship and Immigration Service (USCIS) documentation. U.S. citizens and permanent residents enrolled in eligible study abroad programs or who are attending or have attended schools located outside the U.S. are also eligible. For the Dental School Loan, Law School Loan, MBA Loan, and Medical School Loan, students must be enrolling in a graduate-level degree program in a field of study that is eligible for the loan and Graduate Certificate/Continuing Education coursework is not eligible. Applications are subject to a requested minimum loan amount of $1,000. Current credit and other eligibility criteria apply.</p>

                <p class="" style="text-align:justify;">Parent Loan: This information is for borrowers with students attending degree-granting institutions only. The student is not eligible to be a borrower or cosigner and must be attending or have attended a participating school during an eligible prior enrollment period, or be enrolled in an eligible study abroad program. The borrower, cosigner and student must be U.S. citizens or permanent residents. The school may refund loan funds directly to the student, and if that occurs, borrower and cosigner (if applicable) would still be responsible for repaying that amount to Sallie Mae. Applications are subject to a requested minimum loan amount of $1,000. Current credit and other eligibility criteria apply.</p>

                <p class="" style="text-align:justify;">1 Although we do not charge you a penalty or fee if you prepay your loan, any prepayment will be applied as provided in your promissory note: First to Unpaid Fees and costs, then to Unpaid Interest, and then to Current Principal.<br><br>SALLIE MAE RESERVES THE RIGHT TO MODIFY OR DISCONTINUE PRODUCTS, SERVICES, AND BENEFITS AT ANY TIME WITHOUT NOTICE.</p>

                <p class="" style="text-align:justify;">© 2018 Sallie Mae Bank. All rights reserved. Sallie Mae, the Sallie Mae logo, and other Sallie Mae names and logos are service marks or registered service marks of Sallie Mae Bank. All other names and logos used are the trademarks or service marks of their respective owners. SLM Corporation and its subsidiaries, including Sallie Mae Bank, are not sponsored by or agencies of the United States of America.</p>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>

                <br>
                <p><a class="btn btn-primary btn-md" href="/sallieMae"> More Details</a></p>
             </div>
            <div class="col-md-4" >
               <img src="images/partners/sallieMae_logo.png" alt="sallie mae student loans" width="55%">
            </div>
    </div>
</div>
</section>

<section id="earnest">
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h2>Earnest Student Loans</h2>

        </div>
            <div class="col-md-8">

                <p class="" style="text-align:justify;">Earnest is a technology company using cutting-edge data science, smarter design, and software automation to rebuild financial services. Earnest created a company that combines data science, streamlined design, and exceptional service to bring people a fast, low-cost, and hyper- personalized financial experience. Their mission is to make credit more accessible by reducing the costs and barriers faced by millions of financially responsible people.</p>
                    <p><b><u>Earnest Private Student Loans :</u></b></p>
                     <ul class="nopadding">
                        <li>Variable rates starting at 2.74% APR (including 0.25% Auto Pay discount). <sup>1</sup></li>
                        <li>9 month grace period (3 months more than most lenders) <sup>2</sup>.</li>
                        <li>Fast application and decision-making process.</li>
                        <li>Flexible repayment options.</li>
                        <li>No fees for origination, disbursement, prepayment or late payment.</li>
                        <li>Skip a payment once per year (once repayment period restarted) <sup>3</sup>.</li>
                        <li>Covers up to 100% of the school's certified cost of attendance.</li>
                    </ul>

                    <p><a href="https://partner.earnest.com/referral/b266efff-5a50-4693-9bfc-790f3e182666?utm_source=eduloans&utm_medium=referral" target="_blank">Apply Now</a></p>

                    <div class="row">
                      <div class="col-md-12 col-sm-12 panel-group" id="accordionEP" style="margin-bottom: 0px;">
                         <div class="panel panel-info">
                            <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordionEP" data-target="#collapseEP" href="#" aria-expanded="true" aria-controls="collapseEP">Read More</a>
                            </div>
                            <div id="collapseEP" class="panel-collapse collapse">
                               <div class="panel-body" style="color: black">
                                <p><i>Disclaimers</i></p>
                                  <p class="" style="text-align:justify;">This information is for undergraduate students attending participating degree-granting schools. Borrowers must be U.S. citizens or U.S. permanent residents if the school is located outside of the United States. Non-U.S. citizen borrowers who reside in the U.S. are eligible with a creditworthy cosigner (who must be a U.S. citizen or U.S. permanent resident) and are required to provide an unexpired government-issued photo ID to verify identity. Applications are subject to a requested minimum loan amount of $1,000. Current credit and other eligibility criteria apply.</p>

                                  <p class="" style="text-align:justify;"><sup>1</sup> Auto Pay discount: If you make monthly payments by an automatic, monthly deduction from a savings or checking account, your rate will be reduced by one quarter of one percent (0.25%) for so long as you continue to make automatic, electronic monthly payments. Not all borrowers will qualify for our lowest rates, and your rate will be based on creditworthiness at time of application.</p>

                                  <p class="" style="text-align:justify;"><sup>2</sup> Not available for borrowers who choose Earnest’s Principal and Interest Repayment plan while in school.</p>

                                  <p class="" style="text-align:justify;"><sup>3</sup> Earnest clients may skip one payment every 12 months. Your first request to skip a payment can be made once you’ve made at least 6 months of consecutive on-time payments, and your loan is in good standing. The interest accrued during the skipped month will result in an increase in your remaining minimum payment. The final payoff date on your loan will be extended by the length of the skipped payment periods. Please be aware that a skipped payment does count towards the forbearance limits outlined in your loan agreement. Please note that skipping a payment is not guaranteed and is at Earnest’s discretion. Your monthly payment and total loan cost may increase as a result of postponing your payment and extending your term.</p>
                               </div>
                            </div>
                         </div>
                      </div>
                    </div>

                    <p><b><u>Earnest Student Loans Refinance :</u></b></p>
                     <ul class="nopadding">
                        <li>Fast application and decision-making process.</li>
                        <li>Rate estimates in 2 minutes.</li>
                        <li>No fees for origination, disbursement, prepayment or late payment.</li>
                        <li>Flexibility to pick any monthly payment and term between 5 and 20 years.</li>
                        <li>Fast application and decision-making process.</li>
                        <li>Skip a payment once per year (once repayment period restarted) <sup>1</sup>.</li>
                    </ul>

                    <p><a href="https://partner.earnest.com/referral/8228ec65-279e-46dd-8950-51b87d7ec09d?utm_source=eduloans&utm_medium=referral" target="_blank">Apply Now</a></p>
                    <div class="row">
                  <div class="col-md-12 col-sm-12 panel-group" id="accordionER" style="margin-bottom: 0px;">
                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordionER" data-target="#collapseER" href="#" aria-expanded="true" aria-controls="collapseER">Read More</a>
                        </div>
                        <div id="collapseER" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p><i>Disclaimers</i></p>
                                  <p class="" style="text-align:justify;">Borrowers must be U.S. citizens or U.S. permanent residents if the school is located outside of the United States. Applications are subject to a requested minimum loan amount of $5,000. Current credit and other eligibility criteria apply.</p>

                                  <p class="" style="text-align:justify;"><sup>1</sup> Earnest clients may skip one payment every 12 months. Your first request to skip a payment can be made once you’ve made at least 6 months of consecutive on-time payments, and your loan is in good standing. The interest accrued during the skipped month will result in an increase in your remaining minimum payment. The final payoff date on your loan will be extended by the length of the skipped payment periods. Please be aware that a skipped payment does count towards the forbearance limits outlined in your loan agreement. Please note that skipping a payment is not guaranteed and is at Earnest’s discretion. Your monthly payment and total loan cost may increase as a result of postponing your payment and extending your term.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <p class="" style="text-align:justify;">Earnest was founded in 2013 to help grads save money by refinancing student loans. Since then Earnest has helped thousands of clients reduce the interest they pay, through innovative underwriting that rewards responsible financial habits. In 2019 Earnest has expanded its lending to current students, offering them flexible payments and personalized rates as well. Our newly designed entirely mobile application was designed with the next generation of borrowers in mind.</p>
               <p><a class="btn btn-primary btn-md" href="/earnest"> More Details</a></p>
             </div>
            <div class="col-md-4" >
               <img src="images/partners/earnest_logo.png" alt="earnest partner" >
            </div>
    </div>
</div>
</section>



















<!--div class="best-plan">
   <div class="container">
      <div class="best-plan__head">
         <div class="row">
            <div class="col-md-12">
               <h3 class="best-plan__title" style="color: white">Best Deals For You</h3>
            </div>
         </div>
      </div>
      <div class="b_plan_body">
         <div class="row">
            <div class="col-md-4 col-sm-4">

               <div class="b-price-plan">
                  <div class="b-price-plan__item b-price-plan__head">
                     <h3><b>US Banks</b> Educational Loan</h3>
                  </div>
                  <div class="b-price-plan__item b-price-plan__cost">
                     <h3><i class="fas fa-percent"></i> --</h3>
                     <div class="cost-time">Intrest Rate</div>
                  </div>
                  <ul class="p_plan_list">
                     <li><b>Our Service Charges :</b><i class="fa fa-rupee-sign"></i> Nill</li>
                     <li><b>Loan Type :</b><i class="fa fa-hdd-o" aria-hidden="true"></i> Nill</li>
                     <li><b>Margin Amount :</b><i class="fa fa-database" aria-hidden="true"></i> Nill</li>
                     <li><b>Processing Time :</b><i class="fa fa-clock" aria-hidden="true"></i> Nill</li>
                     <li><b>Max Loan Offered :</b><i class="fa fa-dollar-sign" aria-hidden="true"></i> Nill</li>
                  </ul>
                  <div class="b-price-plan__item price_foot">
                     <a href=" " class="btn btn-warning price_btn">
                     <span>APPLY NOW</span> <i class="fa fa-caret-right" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div-->
