<style>
         .background-img{
         /*background:url(images/mbbs-universities/inner-china.jpg) center;*/
         height:500px;
         background-repeat:no-repeat;
         background-size: cover; 
         background-position: center;  
         background-image:  url(images/thankYou.jpg);
         }
         small{
         color:#fff!important;  
         }
         .tab-style-8 .tab-content{
         text-align:left;
         }
         .sm-style  small{
         color:#000 !important; 
         }
         .no-padding{
         padding:0px;
         }
         .mb-30{
         margin-bottom:30px;
         }
         @media only screen and (max-width: 767px) {
         .mb-30 img{
         text-align:center !important;
         display:block !important;
         margin:0 auto !important;
         }
         }  
      </style>


<div class="container-fluid">
<div class="col-md-12">
         <!-- <div class="col-md-12" style="">
         </div> -->
         <div class="col-md-12 background-img visible-md visible-lg">
         </div>
         <div class="col-md-12 text-center" >
            <div class="col-md-12 text-center">
               <br/>
               <h2 class="underline" style="color:#000;">Thank You!</h2>
               <p>You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
            </div>
           
      </div>
   </div>
   </div>
   