<style>
tr:hover {
    /* border:2px solid #ddd; */
    background-color: #ddd!important;
}
.act{
    background : #dac9c9!important;
}
</style>
<!-- Content Wrapper. Contains page content -->
<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header ">
        <h1>Students</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Students</li>
        </ol>
    </section>
    <!-- Main content -->
    <div class="container-fluid no-pad">

            <div class="col-lg-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                      <span > Total No - <b> {{ tableParamsBulkUpload.total() }} </b></span>
                        <table ng-table="tableParamsBulkUpload" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.id}">

                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" > {{value.name}} </td>
                                <!--td title="'Name'" ng-if="isEditable"><input name="name" type="text" ng-click="changeName(value.name)" ng-model="value.name"/></td-->
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile'" filter="{ mobile: 'number'}" sortable="'mobile'">{{value.mobile}}</td>
                                <td title="'Mobile'" filter="{ mobile: 'number1'}" sortable="'mobile1'">{{value.mobile1}}</td>
                                <td title="'Status'" filter="{ lead_state: 'text'}" sortable="'lead_state'">{{value.lead_state}}</td>
                                <!-- <td title="'Loan Type'" filter="{loan_type: 'text'}" sortable="'loan_type'">{{value.loan_type}}</td> -->
                                <td title="'Next Followup Date'" filter="{ next_folloup_date: 'text'}" sortable="'next_folloup_date'" >{{value.next_folloup_date | date:'dd-MM-yyyy'}}</td>
                                <td title="'Last Followup Date'" filter="{ date_updated: 'text'}" sortable="'date_updated'" >{{value.date_updated | date:'yyyy-MM-dd'}}</td>
                                <td title="'Call Count'" filter="{call_count: 'number'}" sortable="'call_count'">{{value.call_count}}</td>
                                <td title="'Total Time Spent(Mins)'" filter="{call_time: 'number'}" sortable="'call_time'">{{value.call_time}}</td>
                                <td title="'Source Name'" filter="{source_name: 'number'}" sortable="'source_name'">{{value.source_name}}</td>
                                <td title="'Assigned To Agent'" filter="{assigned_name: 'text'}" sortable="'assigned_name'">{{value.assigned_name}}</td>
                                <td title="'Comments'" ><a class="btn btn-md btn-primary" href="/comments/calling/{{value.id}}" target="_blank">comments</a></td>
                            </tr>


                        </table>

                    </div>
                </div>
            </div>

    </section>
</div>
