<style>
tr:hover {
    /* border:2px solid #ddd; */
    background-color: #ddd!important;
}
.act{
    background : #dac9c9!important;
}
</style>
<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header container">
        <h1>Students</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Students</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="container no-pad">
       
            <div class="col-lg-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                      <span > Total No - <b>{{ followlisttoday.total() }}</b></span>
                        <table ng-table="followlisttoday" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">
                                <td><input type="checkbox" ng-model="checkedvalue" ng-change="selectEntity(value, checkedvalue)"></td>
                                <!--td title="'Student Id'" filter="{lead_id: 'number'}" sortable="'lead_id'"><a href="/student/{{value.lead_id}}/product/0" target="_blank">{{value.lead_id}}</a></td-->
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" ng-if="!isEditable"><a href="/student/{{value.lead_id}}/product/0" target="_blank" ng-click="setActive(value.lead_id)">{{value.name}}</a></td>
                                <!--td title="'Name'" ng-if="isEditable"><input name="name" type="text" ng-click="changeName(value.name)" ng-model="value.name"/></td-->
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <td title="'Status'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'">{{value.current_lead_state}}</td>
                                <!-- <td title="'Loan Type'" filter="{loan_type: 'text'}" sortable="'loan_type'">{{value.loan_type}}</td> -->
                                <td title="'Next Followup Date'" filter="{ followup_date: 'text'}" sortable="'followup_date'">{{value.followup_date | date:'dd-MM-yyyy'}}</td>
                                <td title="'Loan Amount'" filter="{requested_loan_amount: 'number'}" sortable="'requested_loan_amount'">{{value.requested_loan_amount}}</td>
                                <td title="'Intake'" ng-if="!value.isEditable" filter="{intake: 'text'}" sortable="'intake'">{{value.intake}}</td>
                                <td title="'Intake'" ng-if="value.isEditable">
                                    <select class="form-control" name="intake" id="intake" ng-model="value.intake">
                                        <option value="">Please Select</option>
                                        <option value="January - Febraury {{present}}">January - Febraury {{present}}</option>
                                        <option value="June - July {{present}}">June - July {{present}}</option>
                                        <option value="August - September {{present}}">August - September {{present}}</option>
                                        <option value="January - Febraury {{next}}">January - Febraury {{next}}</option>
                                        <option value="June - July {{next}}">June - July {{next}}</option>
                                        <option value="August - September {{next}}">August - September {{next}}</option>
                                        <option value="January - Febraury {{future}}">January - Febraury {{future}}</option>
                                        <option value="June - July {{future}}">June - July {{future}}</option>
                                        <option value="August - September {{future}}">August - September {{future}}</option>
                                    </select>
                                </td>
                                <td title="'Assigned To'" ng-if="!value.isEditable" filter="{ partner_name: 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                                <td title="'Assigned To'" ng-if="value.isEditable" >
                                  <select class="form-control" name="facilitator_id" id="facilitator_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" ng-model="value.facilitator_id" >
                              <option value="" >Select Telecaller agents</option>
                            </select>

                                <td><button ng-if="!value.isEditable" ng-click="editData(value)" class="btn btn-info">Edit</button></td>
                                <td title="'Application Actions'"><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        
    </section>
</div>
