<style>
tr:hover {
    /* border:2px solid #ddd; */
    background-color: #ddd!important;
}
.act{
    background : #dac9c9!important;
}
</style>
<!-- Content Wrapper. Contains page content -->
<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header ">
        <h1>Students</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Students</li>
        </ol>
    </section>
    <!-- Main content -->
    <div class="container-fluid no-pad">

            <div class="col-lg-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body" ng-show="roleId != '10' && roleId != '11'">
                      <span > Total No - <b>{{ tableParams.total() }}</b></span>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">
                                <td ng-if="type != 'allleads'"><input type="checkbox" ng-model="checkedvalue" ng-change="selectEntity(value, checkedvalue)"></td>
                                <!--td title="'Student Id'" filter="{lead_id: 'number'}" sortable="'lead_id'"><a href="/student/{{value.lead_id}}/product/0" target="_blank">{{value.lead_id}}</a></td-->
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" ng-if="!isEditable"><a href="/student/{{value.lead_id}}/product/0" target="_blank" ng-click="setActive(value.lead_id)">{{value.name}}</a></td>
                                <!--td title="'Name'" ng-if="isEditable"><input name="name" type="text" ng-click="changeName(value.name)" ng-model="value.name"/></td-->
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <td title="'City'" filter="{ customer_city: 'text'}" sortable="'customer_city'">{{value.customer_city}}</td>
                                <td title="'Status'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'">{{value.current_lead_state}}</td>
                                <!-- <td title="'Loan Type'" filter="{loan_type: 'text'}" sortable="'loan_type'">{{value.loan_type}}</td> -->
                                <td title="'Next Followup Date'" filter="{ followup_date: 'text'}" sortable="'followup_date'" >{{value.followup_date | date:'dd-MM-yyyy'}}</td>
                                <td title="'Loan Amount'" filter="{requested_loan_amount: 'number'}" sortable="'requested_loan_amount'">{{value.requested_loan_amount}}</td>
                                <td title="'Sanctioned Loan Amount'" filter="{sanctioned_loan_amount: 'number'}" sortable="'requested_loan_amount'">{{value.sanctioned_loan_amount  | number:0 }}</td>
                                <td title="'Disbursed Aamount'" filter="{disbursed_amount: 'number'}" sortable="'requested_loan_amount'">{{value.disbursed_amount | number:0}}</td>
                                <td title="'Intake'" filter="{intake: 'text'}" sortable="'intake'">{{value.intake}}</td>
                                <td title="'Assigned To Agent'" ng-if="!value.isEditable" filter="{ bank_partner_name: 'text'}" sortable="'bank_partner_name'">{{value.bank_partner_name}}</td>
                                <td title="'Assigned To Agent'" ng-if="value.isEditable" >
                                  <select class="form-control" name="bank_agent_id" id="bank_agent_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" ng-model="value.bank_agent_id" >
                                      <option value="" >Select Agents</option>
                                  </select>
                                </td>
                                <td  title="'Assigned To Eduloan'" filter="{ partner_name: 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                                <!-- <td title="'Connect Date'" filter="{ connect_date: 'text'}" sortable="'connect_date'">{{value.connect_date}}</td>
                                <td title="'Email Sent To'" filter="{ connect_emails: 'text'}" sortable="'connect_emails'">{{value.connect_emails}}</td> -->
                                <td ng-if="type != 'allleads'"><button ng-if="!value.isEditable" ng-click="editData(value)" class="btn btn-info">Edit</button></td>
                                <td title="'Application Actions'"><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>

                            </tr>


                        </table>



                    </div>
                    <div class="box-body" ng-show="roleId == '10' || roleId == '11'">
                      <span > Total No - <b>{{ tableParams.total() }}</b></span>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">
                                 <td ng-if="type != 'allleads'">
                                   <input type="checkbox" ng-model="checkedvalue" ng-change="selectEntity(value, checkedvalue)">
                                 </td>
                                <!--td title="'Student Id'" filter="{lead_id: 'number'}" sortable="'lead_id'"><a href="/student/{{value.lead_id}}/product/0" target="_blank">{{value.lead_id}}</a></td-->
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" ng-if="!isEditable"><a href="/student/{{value.lead_id}}/product/0" target="_blank" ng-click="setActive(value.lead_id)">{{value.name}}</a></td>
                                <!--td title="'Name'" ng-if="isEditable"><input name="name" type="text" ng-click="changeName(value.name)" ng-model="value.name"/></td-->
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <td title="'City'" filter="{ customer_city: 'text'}" sortable="'customer_city'">{{value.customer_city}}</td>
                                <td title="'Status'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'">{{value.current_lead_state}}</td>
                                <!-- <td title="'Loan Type'" filter="{loan_type: 'text'}" sortable="'loan_type'">{{value.loan_type}}</td> -->
                                <td title="'Bank Next Followup Date'" filter="{ bank_followup_date: 'text'}" sortable="'bank_followup_date'">{{value.bank_followup_date | date:'yyyy-MM-dd'}}</td>
                                <td title="'Loan Amount'" filter="{requested_loan_amount: 'number'}" sortable="'requested_loan_amount'">{{value.requested_loan_amount}}</td>
                                <td title="'Sanctioned Loan Amount'" filter="{sanctioned_loan_amount: 'number'}" sortable="'requested_loan_amount'">{{value.sanctioned_loan_amount  | number:0 }}</td>
                                <td title="'Disbursed Aamount'" filter="{disbursed_amount: 'number'}" sortable="'requested_loan_amount'">{{value.disbursed_amount | number:0}}</td>
                                <td title="'Intake'" filter="{intake: 'text'}" sortable="'intake'">{{value.intake}}</td>
                                <td title="'Assigned To Agent'" ng-if="!value.isEditable" filter="{ bank_partner_name: 'text'}" sortable="'bank_partner_name'">{{value.bank_partner_name}}</td>
                                <td title="'Assigned To Agent'" ng-if="value.isEditable" >
                                  <select class="form-control" name="bank_agent_id" id="bank_agent_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" ng-model="value.bank_agent_id" >
                                      <option value="" >Select Agents</option>
                                  </select>
                                </td>
                                <td  title="'Assigned To Eduloan'" filter="{ partner_name: 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                                <td title="'Connect Date'" filter="{ connect_date: 'text'}" sortable="'connect_date'">{{value.connect_date}}</td>
                                <td title="'Email Sent To'" filter="{ connect_emails: 'text'}" sortable="'connect_emails'">{{value.connect_emails}}</td>
                                <td ng-if="type != 'allleads'"><button ng-if="!value.isEditable" ng-click="editData(value)" class="btn btn-info">Edit</button></td>
                                <td title="'Application Actions'"><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>

                            </tr>
                        </table>



                    </div>
                </div>
            </div>

    </section>
</div>
