<style type="text/css">
.msgs{color:red; font-size:14px;}
#errorinvestor{color:red; font-size:14px;}
</style>
<!-- content begin -->
<section id="subheader" data-speed="8" data-type="background">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>PROSPECTIVE INVESTOR</h1>
				<ul class="crumb">
					<li><a href="index.html">Home</a></li>
					<li class="sep">/</li>
					<li>PROSPECTIVE INVESTOR</li>
				</ul>
			</div>
		</div>
	</div>
</section>
{{error.message}}
<div class="myAlert-top" ng-show="error.message">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>{{error.message}}</strong>
</div>
<div id="content" class="no-top no-bottom">
	<section id="" class="side-bg no-padding">
		<div class="image-container col-md-4 pull-left" data-delay="0"></div>
		<div class="container">
			<div class="row">
				<div class="inner-padding" id="form6">
					<div class="col-md-12" id="us-related" data-animation="fadeInRight" data-delay="200">
						<div class="col-md-4">
							<div class="bs-example" style="text-align:justify;">
								<div class="panel-group" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading" ng-click="accordion.current = 'accordian_1'">
											<h4 class="panel-title">
												<a>Prospective Financial Institution</a>
											</h4>
										</div>
										<div ng-show="accordion.current == 'accordian_1'" class="panel-collapse collapse in">
											<div class="panel-body">
												<p>Edu-loans is a global platform, which provides Financial Institutions an Investment opportunity in the future of bright minds. The Bonafide Students who apply for loans have been generally risk assessed by our in house data science team. Edu loans team for you to make appropriate decisions has verified the basic credentials and KYC of the student.</p><p>We would be happy to help you be a part of there growth. We would request you to please fill up the business partnership form and our investment specialist would get in touch with you shortly. </p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" ng-click="accordion.current = 'accordian_2'">
											<h4 class="panel-title">
												<a>What is Eduloans ?</a>
											</h4>
										</div>
										<div ng-show="accordion.current == 'accordian_2'" class="panel-collapse collapse in">
											<div class="panel-body">
												<p>We are a comprehensive financing platform connecting educational aspirants with potential Financial Institutions, Investors and endowment Funds. We also have an inhouseregistered NBFC which can assist Investors and funds to underwrite the loan and provide the student the platform for to choose the best financing options to  finance their education with least hasslement.  </p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" ng-click="accordion.current = 'accordian_3'">
											<h4 class="panel-title">
												<a>How does Eduloans make money?</a>
											</h4>
										</div>
										<div ng-show="accordion.current == 'accordian_3'" class="panel-collapse collapse in">
											<div class="panel-body">
												<p>Eduloans charges origination fees to its financial partners or students.
													<ul>
														<li>We do not charge any upfront fees to the borrower incase we get remuneration from a Nationalised bank, NBFC or any financial Institutions. However, the student might be asked to pay charges to the Financial Institutions for the processing of loan</li>
														<li>In case of our inhouse NBFC or Investor we would be charging 1 % processing fees upfront and a small fees amortized( 0.5 -1%) per year to facilitate the loan</li>
														<li>In case we apply to US banks with valid co signor we would be charging the borrower upfront fees of 1% of the loan sanctioned amount</li>
													</ul>
												</p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" ng-click="accordion.current = 'accordian_4'">
											<h4 class="panel-title">
												<a>Who are Bonafide Students ?</a>
											</h4>
										</div>
										<div ng-show="accordion.current == 'accordian_4'" class="panel-collapse collapse in">
											<div class="panel-body">
												<p>Bonafide students are the opens who have received an official admit from the University and are planning to join the University. Once the student signs the loan agreement, we process all the information and send the loan money to the corresponding University/School to cover either tuition (total or partial, according to your loan amount) or tuition and living expenses. The money you provide directly goes to the school</p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" ng-click="accordion.current = 'accordian_5'">
											<h4 class="panel-title">
												<a>Is the Loan completely unsecured?</a>
											</h4>
										</div>
										<div ng-show="accordion.current == 'accordian_5'" class="panel-collapse collapse in">
											<div class="panel-body">
												<p>The Loan can be completely secured, Partially Secured or fully secured depending on the kind of arrangement with the student and investor. The portfolio can be group insured. The same would be available to the investor and we would guide the investor accordingly. </p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" ng-click="accordion.current = 'accordian_6'">
											<h4 class="panel-title">
												<a>How are we involved?</a>
											</h4>
										</div>
										<div ng-show="accordion.current == 'accordian_6'" class="panel-collapse collapse in">
											<div class="panel-body">
												<p>We are involved with the creation of credit score/profile by the analysis of past data. Our data science team helps the investor/fund  make the most relevant decision.</p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" ng-click="accordion.current = 'accordian_7'">
											<h4 class="panel-title">
												<a>What is our Credit Score ?</a>
											</h4>
										</div>
										<div ng-show="accordion.current == 'accordian_7'" class="panel-collapse collapse in">
											<div class="panel-body">
												<p>Our credit score is a cumulative of Country Risk, Course Risk, Profile Risk, University Risk and Security Risk. Our investment guidance counselor would take you through our model and areas of risk identified by our data science team for the investor/fund to make a sound financial decision. </p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<form action="/user/signup/createInvestor" method="post" name="investorForm"/>
							<div class="col-md-8 " data-animation="fadeInRight" data-delay="200">
								<p>Edu-loans is a global platform, which provides Investors an Investment opportunity in the future of bright minds. The Bonafide Students who apply for Investor loans have been risk assessed by our in house data science team. The basic credentials and  KYC has been verified by Edu loans team for you to make appropriate decisions. </p>
								<p>We would be happy to help you be a part of there growth. We would request you to please fill up the business partnership form and our investment specialist would get in touch with you shortly.  </p><hr/>
								<div class="col-md-4 col-sm-6" id="errorinvestor"></div>
								<div class="clearfix"></div>
								<div class="col-md-4 col-sm-6">
									<div class="form-group">
										<label class="control-label required">Title</label>
										<select class="form-control" name="title" id="title">
											<option>Select</option>
										</select>
										<p class="error" id="error-first_name"></p>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-4 col-sm-6">
									<div class="form-group">
										<label class="control-label required">First Name</label>
										<input type="text" class="form-control" name="first_name" id="first_name" required="required">
										<p class="error" id="error-first_name"></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="form-group">
										<label class="control-label required">Middle Name</label>
										<input type="text" class="form-control" name="middle_name" id="middle_name" >
										<p class="error" id="error-middle_name"></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="form-group">
										<label class="control-label required">Last Name</label>
										<input type="text" class="form-control" name="last_name" id="last_name" required="required">
										<p class="error" id="error-last_name"></p>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label class="control-label required">Companny Name</label>
										<input type="text" class="form-control" name="company" id="company" required="required">
										<p class="error" id="error-company"></p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label class="control-label required">Email</label><br>
										<input type="text" class="form-control" name="email" id="email" required="required">
										<p class="error" id="error-email"></p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label class="control-label required">Mobile No.</label><br>
										<input type="text" class="form-control" name="mobile" id="mobile" required="required">
										<p class="error" id="error-mobile"></p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label class="control-label required">Landline No. </label><br>
										<input type="text" class="form-control" name="landline" id="landline">
										<p class="error" id="error-landline"></p>
									</div>
								</div>
								<div class="col-md-8 col-sm-12">
									<div class="form-group">
										<label class="control-label required">Address</label><br>
										<textarea class="form-control" name="address" id="address"></textarea>
										<p class="error" id="error-address"></p>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label class="control-label required">Country</label><br>
										<select class="form-control" name="country" id="country">
											<option value="0">Please Select</option>
										</select>
										<p class="error" id="error-country"></p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label class="control-label required">State</label><br>
										<select class="form-control" name="state" id="state">
											<option value="0">Please Select State</option>
										</select>
										<p class="error" id="error-state"></p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label class="control-label required">City</label><br>
										<select class="form-control" name="city" id="city">
										</select>
										<p class="error" id="error-city"></p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label class="control-label required">Zip code</label><br>
										<input type="text" class="form-control" name="zip" id="zip">
										<p class="error" id="error-zip"></p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="col-sm-6 col-sm-offset-7">
								<input type="submit" name="commit" value="Submit" id="createInvestor" class="btn btn-contrast">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br/>
	</section>
	<section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
		<span>Have Additional Questions ?</span><br/>
		<p>Visit our support page to get your questions answered</p>
		<a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
	</section>

	<!-- footer begin -->
	<footer style="color:#000;">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<ul style="text-transform:uppercase; list-style-type:none; color:#000;">
						<li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
						<li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
						<li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
						<li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
						<li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
						<li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div class="widget widget_recent_post">
						<ul style="text-transform:uppercase;">
							<li> <strong>Registered Office :</strong><br>
								Office no 32/33, 2nd Floor,<br>
								Dheeraj Heritage, Santacruz (W)<br>
								Telephone: +91 22 26605549 <br>
								Mobile : +91 98191 19363 / +91 91676 63090<br>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget widget-address">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="subfooter">
			<div class="container">
				<div class="row">
					<div class="col-md-6" style="color:#fff;margin-top: 5px;">
						© Copyright 2017 - Eduloans | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
					</div>
					<div class="col-md-6 text-right">
						<div class="social-icons">
							<a href=""><i class="fa fa-facebook fa-lg"></i></a>
							<a href=""><i class="fa fa-twitter fa-lg"></i></a>
							<a href=""><i class="fa fa-linkedin"></i></a>
							<a href=""><i class="fa fa-google-plus fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer close -->
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#country").change(function(){
			$.ajax({
				type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
				url 		: '/user/signup/getStateByCountry', // the url where we want to POST
				data 		: 'id=' + $('#country').val(), // our data object
				success: function (result) {
					$("#state").html(result);
				}
			});
		});
		$("#state").change(function(){
			$.ajax({
				type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
				url 		: '/user/signup/getCityByState', // the url where we want to POST
				data 		: 'id=' + $('#state').val(), // our data object
				success: function (result) {
					$("#city").html(result);
				}
			});
		});
		$("#createInvestor").click(function(event){
			var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
			if($("#first_name").val()==''){
				$("#first_name").focus();
				$("#errorinvestor").text('First Name is required');
				event.preventDefault();
				return false;
			}else if(isNaN($("#first_name").val())==false){
				$("#first_name").focus();
				$("#errorinvestor").text('First Name is invalid');
				event.preventDefault();
				return false;
			}else if($("#middle_name").val()!='' && isNaN($("#middle_name").val())==false){
				$("#middle_name").focus();
				$("#errorinvestor").text('Middle Name is invalid');
				event.preventDefault(); return false;
			}else if($("#last_name").val()==''){
				$("#last_name").focus();
				$("#errorinvestor").text('Last Name is required');
				event.preventDefault();
				return false;
			}else if(isNaN($("#last_name").val())==false){
				$("#last_name").focus();
				$("#errorinvestor").text('Last Name is invalid');
				event.preventDefault();
				return false;
			}else if($("#company").val()==''){
				$("#company").focus();
				$("#errorinvestor").text('Company is required');
				event.preventDefault();
				return false;
			}else if($("#email").val()==''){
				$("#email").focus();
				$("#errorinvestor").text('Email is required');
				event.preventDefault();
				return false;
			}else if($("#mobile").val()==''){
				$("#mobile").focus();
				$("#errorinvestor").text('Mobile is required');
				event.preventDefault();
				return false;
			}else if($("#country").val()==0){
				$("#country").focus();
				$("#errorinvestor").text('Country is required');
				event.preventDefault();
				return false;
			}else if($("#state").val()==0){
				$("#state").focus();
				$("#errorinvestor").text('State is required');
				event.preventDefault();
				return false;
			}else if($("#city").val()==0){
				$("#city").focus();
				$("#errorinvestor").text('City is required');
				event.preventDefault();
				return false;
			}else if($("#zip").val()==0){
				$("#zip").focus();
				$("#errorinvestor").text('Zip is required');
				event.preventDefault();
				return false;
			}else if($("#zip").val()==0){
				$("#zip").focus();
				$("#errorinvestor").text('Zip is required');
				event.preventDefault();
				return false;
			}else if(!emailReg.test($("#email").val())){
				$("#email").focus();
				$("#errorinvestor").text('Email is invalid');
				event.preventDefault();
				return false;
			}
		});
		$("#email").keyup(function(event){			$
			.ajax({
				type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
				url 		: '/user/signup/checkemail', // the url where we want to POST
				data 		: 'email=' + $('#email').val(), // our data object
				success: function (result) {
					if(result==1){
						$("#email").focus();
						$("#errorinvestor").text('Email is already exists. Please put another one.');
						$("#createInvestor").attr("disabled", true);
					}else{
						$("#errorinvestor").text('');
						$("#createInvestor").attr("disabled", false);
					}
				}
			});
		});
	});
</script>
