<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
     <section class="content-header container">
        <h1>
          Assign
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i> Bulk Upload</a></li>
          <li class="active">Assign Data</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="container no-pad">

        <div ng-controller = "assignController">
          <div class="col-lg-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Assign Data To Callers</h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">

                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Assign Type</label>

                  <div class="col-sm-10">
                      <select class="form-control" name="select_type" id="select_type" ng-model="select_type" ng-change="assignType()" >
                  <option value="" >Select Type</option>
                  <option value="FRESH" >FRESH</option>
                  <option value="REASSIGN" >REASSIGN</option>
                </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Amount </label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="How much Data eg. 100" ng-model="amountdata" name="amount">
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Agents List</label>

                    <div class="col-sm-10">
                      <select class="form-control" ng-model="select_agent" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" >
                  <option value="" >Select Telecaller agents</option>
                </select>
                    </div>
                  </div>
                  <div id="select_source_div" class="form-group">
                    <label  class="col-sm-2 control-label">Source List</label>

                    <div class="col-sm-10">
                      <select class="form-control" name="select_source" id="select_source" ng-model="select_source" ng-options="item.id as (item.display_name + ' - ' + item.count ) for item in dropdowndata" >
                  <option value="" >Select Source</option>
                </select>
                    </div>
                  </div>
                  <div id="select_source_agent_div" class="form-group hidden">
                    <label  class="col-sm-2 control-label">Source List</label>

                    <div class="col-sm-10">
                      <select class="form-control" name="select_source_agent" id="select_source_agent" ng-model="select_source_agent" ng-options="item.id+'-'+item.lead_state+'-'+item.source_id as (item.assigned_name + ' -> ' + item.name + ' -> ' + item.lead_state + ' -> ' + item.count) for item in assignagentsourcelist" >
                  <option value="" >Select Telecaller agents</option>
                </select>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-left" ng-click="assignData()">Assign</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->
    </div>
    <div class="control-sidebar-bg"></div>
  </div>
