<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
       <section class="content-header container">
        <h1>
          Upload Data
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i> Bulk Upload</a></li>
          <li class="active">Upload Data</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="container no-pad">

        <div ng-controller = "bulkuploadController">
          <div class="col-lg-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Upload Calling Data </h3>
                <a class="pull-right" href="https://www.eduloans.org/images/sample_upload_file.csv" download="SampleFile">Download Sample File</a>
                <!-- <a download class="pull-right" href="https://www.eduloans.org/images/counselors_mail/eduloans_partners.png" >Download Sample File</a> -->
              </div>
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Data Type</label>

                    <div class="col-sm-10">
                      <select class="form-control" name="select_type" id="select_type" ng-model="select_type" ng-change="collegeListOrAgentList()" >
                  <option value="" >Select Type</option>
                  <option value="SEMINAR" >Seminar</option>
                  <option value="AGENTS" >Agent</option>
                  <option value="BULK_DATA" >Bulk Data</option>
                </select>
                    </div>
                  </div>
                  <div id="agentcolid" class="form-group hidden">
                    <label  class="col-sm-2 control-label"> Agent / College</label>

                    <div class="col-sm-10">
                      <select class="form-control" ng-model="select_coll_agent" ng-options="item.id as (item.display_name) for item in collagentlist" >
                  <option value="" >Select Source</option>
                </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Source List</label>

                    <div class="col-sm-10">
                      <select class="form-control" ng-model="select_source" ng-options="item.id as (item.display_name ) for item in dropdowndata" >
                  <option value="" >Select Source</option>
                </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">CSV File </label>

                    <div class="col-sm-10">
                      <input type="file" name="userfile" placeholder="Upload file..." accept=".csv" file-model="userfile" />
                    </div>
                  </div>

                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-left" ng-click="uploadFile()">Upload</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->
    </div>
    <div class="control-sidebar-bg"></div>
  </div>
