<!-- Content Wrapper. Contains page content -->
<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header container">
        <h1>Source DATA</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Source Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="container no-pad">
        
            <div class="col-lg-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header" ng-controller="assignController">


                        <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_source"> ADD NEW</button>
                        <div id="add_source" class="row form-group collapse" >
                          <div class="col-md-2">
                            <label class="control-label">Source Name</label>
                            <input class="form-control" id="source_name" name="source_name" ng-model="source_name">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Source Display Name</label>
                            <input class="form-control" id="source_display_name" name="source_display_name" ng-model="source_display_name">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Source Status</label>
                            <input class="form-control" id="source_status" name="source_status" ng-model="source_status">
                          </div>
                          <div class="col-md-2">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="addSourceData()">SAVE</button>
                          </div>
                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">

                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="source_table">
                                <td title="'Source Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Source Name'" ng-if="!value.isEditable" filter="{ name: 'text'}" sortable="'name'" >{{value.name}}</td>
                                <td title="'Source Name'" ng-if="value.isEditable"><input name="name" type="text" ng-model="value.name"/></td>
                                <td title="'Source Display Name'" ng-if="!value.isEditable" filter="{ display_name: 'text'}" sortable="'display_name'">{{value.display_name}}</td>
                                <td title="'Source Display Name'" ng-if="value.isEditable"><input name="display_name" type="text" ng-model="value.display_name"/></td>
                                <td title="'Source Status'" ng-if="!value.isEditable"> {{value.status}}</td>
                                <td title="'Source Status'" ng-if="value.isEditable">
                                    <input name="status" type="text" ng-model="value.status"/>
                                </td>
                                <!-- <td title="'Comments'" ><a href="" onclick="">Comments</></td> -->
                                <td><button ng-if="!value.isEditable" ng-click="editData(value)" type="button" class="btn btn-warning btn-sm">Edit</button></td>
                                <td title="'Application Actions'" ><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="saveSourceData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        
    </section>
</div>
