
<!-- content begin -->

    <div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div>



<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
				<h2>Offers & privileges for students applying for an Education Loan</h2>

			</div>
		</div>
		<div class="row">

      <div class="col-sm-6 col-md-4">
      <div class="card-offer">
        <a href=""><img src="images/offers/Eduloans__ Nova image.png" alt=" " class="img-responsive"></a>
        <div class="caption">
        <h3>Get premium U.S. credit card</h3>
        <div class="vertical-align-middle">
           <p class=""><!-- Flat 10% Cashback | -->with Nova Credit </p>
           <p><span class=""><a href="/user/register" class="btn btn-primary">Register</a></span>
            <span class=""><a href="https://www.novacredit.com/affiliate/eduloans" class="btn btn-secondary">Nova Credit </p></a></span>
          </p>
        </div>
        </div>
      </div>
      </div>

      <div class="col-sm-6 col-md-4">
      <div class="card-offer">
        <a href=""><img src="images/offer-page-4stay.png" alt=" " class="img-responsive"></a>
        <div class="caption">
        <h3>Secure an Accommodation</h3>
        <div class="vertical-align-middle">
           <p class=""><!-- Flat 10% Cashback | -->On 4Stay </p>
           <p><span class=""><a href="/user/register" class="btn btn-primary">Register</a></span>
            <span class=""><a href="https://eduloanshousing.4stay.com/" class="btn btn-secondary">Eduloanshousing.4stay</a></span>
          </p>
        </div>
        </div>
      </div>
      </div>

		  <div class="col-sm-6 col-md-4">
			<div class="card-offer">
			  <a href=""><img src="images/offer-page-flights.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				<h3>Exciting Cashback</h3>
				<div class="vertical-align-middle">
				   <p class="">Flat Rs500 Cashback | On Travel Bookings </p>
				   <p><span class=""><a href="/user/register" class="btn btn-primary">Register</a></span><span class=""><a href="/flight-tickets" class="btn btn-secondary">Know more</a></span> </p>
				</div>
			  </div>
			</div>
		  </div>

		  

		</div>

		 <div class="row">

      <div class="col-sm-6 col-md-4">
      <div class="card-offer">
        <a href=""><img src="images/offer-exams.jpg" alt=" " class="img-responsive"></a>
        <div class="caption">
        <h3>Get 700 OFF on TOEFL Exam</h3>
        <div class="vertical-align-middle">
           <p class=""><!-- Flat Rs.200 Cashback | -->On Registering Exams </p>
           <p><span class=""><a href="/user/register" class="btn btn-primary">Register</a></span><span class=""><a href="/exam-fees" class="btn btn-secondary">Know more</a></span> </p>
        </div>
        </div>
      </div>
      </div>

      <div class="col-sm-6 col-md-4">
      <div class="card-offer">
        <a href=""><img src="images/offer-page-medical.jpg" alt=" " class="img-responsive"></a>
        <div class="caption">
        <h3>Earn Exciting Offers</h3>
        <div class="vertical-align-middle">
           <p class=""><!-- Flat 10% Cashback | -->On Medical Insurance </p>
           <p><span class=""><a href="/user/register" class="btn btn-primary">Register</a></span>
            <span class=""><a href="/medical-insurance" class="btn btn-secondary">Know more</a></span>
          </p>
        </div>
        </div>
      </div>
      </div>

      <div class="col-sm-6 col-md-4">
      <div class="card-offer">
        <a href=""><img src="images/offers/gbgImg.jpeg" alt=" " class="img-responsive"></a>
        <div class="caption">
        <h3>GBG makes it easy to find the right insurance plan for you!</h3>
      <!--   <ul>
          <li><b>875+</b> Universities covered with <b>Custom</b> plans</li>
          <li><b>35+</b> years in international insurance </li>
        </ul> -->
        <div class="vertical-align-middle">
           <p class=""><!-- Flat 10% Cashback | -->With GBG Medical Insurance</p>
           <p><span class=""><a href="/user/register" class="btn btn-primary">Register</a></span>
            <span class=""><a href="https://students.gbg.com/210778086#/home" class="btn btn-secondary">GBG Medical Insurance</a></span>
          </p>
        </div>
        </div>
      </div>
      </div>

			

		

		</div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
      <div class="card-offer">
        <a href=""><img src="images/offer-page-forex.jpg" alt=" " class="img-responsive"></a>
        <div class="caption">
        <h3>Forex Cashback</h3>
        <div class="vertical-align-middle">
           <p class=""><!-- Flat 10% Cashback | -->On Forex Bookings </p>
           <p> <span class=""><a href="/user/register" class="btn btn-primary">Register</a></span><span class=""><a href="/forex-cards" class="btn btn-secondary">Know more</a></span>
        </div>
        </div>
      </div>
      </div>
      <div class="col-sm-6 col-md-4">
      <div class="card-offer">
        <a href=""><img src="images/offer-courier-dhl.jpg" alt=" " class="img-responsive"></a>
        <div class="caption">
        <h3>Discount with FedEx or DHL</h3>
        <div class="vertical-align-middle">
           <p class="">@ Discounted price Rs.999  </p>
           <p>
            <span class=""><a href="/user/register" class="btn btn-primary">Register</a></span>
            <span class=""><a href="/courier-dhl" class="btn btn-secondary">Know more</a></span>
          </p>
        </div>
        </div>
      </div>
      </div>

    </div>

		<div class="row">
			<div class="col-md-12">
			<p>&nbsp;</p>
			<p>Disclaimer - Please note that Eduloans has negotiated this bulk discount offer directly from DHL Couriers. The information shared by students is sent to DHL system and DHL team will contact you to execute the shipment. In all of this transaction, Eduloans is a mere facilitator and is by no means responsible for delivery and shipment of items.</p>

			<p>Offer is only applicable for shipment of documents weighing less than 2 kg.</p>
			</div>
		</div>





	</div>
</section>









<!--section id="section-testimonial" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="red" id="wizard">
                        <div class="tab-content">
                            <div class="tab-pane" id="description">
                                    <div class="row">
                                            <h4 class="info-text">Which university and course are you looking for?? </h4>
                                            <form action="" method="" name="myForm" ng-repeat="(object, fieldsList) in template['Loan Detail']" ng-if="fieldsList!='1'">
                                                <div class="pull-right" ng-if="object=='loan_detail_object'">
                                                    <input type='button' class='btn btn-fill btn-danger cloneBtn' ng-click="clonerow(object, fieldsList)" name='' value='+' />
                                                </div>
                                                <div id="{{ object }}" class="row box" style="box-shadow: 0px 1px 2px; clear: both;">
                                                    <div class="col-sm-6" ng-repeat="(index, list) in fieldsList" ng-if="fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'">
                                                        <div class="input-group" >
                                                            <span class="input-group-addon" ng-if="fieldsList[index].field_ui_type != 'radio'"><i class="material-icons">{{fieldsList[index].field_material_icon_name}}</i></span>
                                                             <div class="form-group label-floating">
                                                                 <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio'">{{fieldsList[index].field_display_name}}</label>
                                                                 <input type="text" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)">
                                                                 <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]">
                                                                 <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down'" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)">
                                                                         <option>Please Select</option>
                                                                           <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                                                      <option ng-if="fieldsList[index].field_name!='opted_country'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                                                     </select>
                                                                  <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                                                      <label class="rbt_container">{{option.display_name}}
                                                                      <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}">
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                </div>
                                                <div class="pull-right">
                                                    <a ng-click="submitForm(fieldsList[0].group_url, fieldsList[0].group_object, fieldsList[0].group_id, offersdata[0].lead_id)" type='button' class='btn btn-fill btn-danger btn-wd margin12'>SUBMIT</a>
                                                </div>
                                            </form>
                                        </div>
                                <div class="row">
                                    <h4 class="info-text">OFFERS as per your given data </h4>
                                    <div class="span12">
                                        <div class="menu">
                                            <div class="accordion">
                                                <div class="accordion-group" ng-repeat="(index, offerdata) in offersdata">

                                                  <div class="accordion-heading country">
                                                    <div class="table table-striped table-condensed table_Layout">
                                                      <div style="background-color: slategray;color: white;">
                                                        <div class="tableTD">
                                                      {{offerdata.name}}
                                                      <button type="button" class="btn btn-sm btn-fill offerView pull-right" data-toggle="collapse" data-target="{{'#'+index}}" title="Click To View Offers"></button>
                                                    </div>
                                                    </div>
                                                    </div>
                                                  </div>
                                                  <div id="{{index}}" class="accordion-body" >
                                                  <div ng-if="offerdata.Collateral.length">
                                                      <h4 style="text-align: -webkit-center;"><b>Collateral</b></h4>
                                                      <table class="table table-striped table-condensed table_Layout" >
                                                        <thead>
                                                            <tr>
                                                                <th class="tableTD"></th>
                                                                <th class="tableTD">Amount of Processing Fees </th>
                                                                <th class="tableTD">Interest Rate</th>
                                                                <th class="tableTD">Time for Processing</th>
                                                                <th class="tableTD">Convenience of Processing</th>
                                                                <th class="tableTD">Documentation requirement for Processing</th>
                                                                <th class="tableTD">Amount for Loan</th>
                                                                <th class="tableTD"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr ng-repeat="product in offerdata.Collateral" ng-if="product && product.image_url">
                                                              <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 40px;"></td>
                                                              <td class="tableTD tdWrap">{{product.processing_fee}}
                                                                  <div class="progress-barTable">
                                                                      <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                                  </div>
                                                              </td>
                                                              <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                              <td class="tableTD tdWrap">1 Month</td>
                                                              <td class="tableTD tdWrap">{{product.advantages}}
                                                                  <div class="progress-barTable">
                                                                      <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                                  </div>
                                                              </td>
                                                              <td class="tableTD tdWrap">
                                                                  <p>Aadhaar Card</p>
                                                                  <p>PAN Card</p>
                                                                  <p>University Letter</p>
                                                              </td>
                                                              <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                              <td class="tableTD tdWrap">
                                                                  <input type='button' class='btn btn-sm btn-fill applyBTN btn-danger' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, offerdata.lead_id)" value='APPLY' ng-if="appliedProduct.indexOf(product.product_id) == -1" />
                                                                  <input type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' ng-if="appliedProduct.indexOf(product.product_id) != -1" disabled />
                                                              </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                  </div>
                                                  <div ng-if="offerdata.NonCollateral.length">
                                                    <h4 style="text-align: -webkit-center;"><b>Non Collateral</b></h4>
                                                    <table class="table table-striped table-condensed table_Layout" >

                                                    <thead>
                                                        <tr>
                                                            <th class="tableTD"></th>
                                                            <th class="tableTD">Amount of Processing Fees </th>
                                                            <th class="tableTD">Interest Rate</th>
                                                            <th class="tableTD">Time for Processing</th>
                                                            <th class="tableTD">Convenience of Processing</th>
                                                            <th class="tableTD">Documentation requirement for Processing</th>
                                                            <th class="tableTD">Amount for Loan</th>
                                                            <th class="tableTD"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr ng-repeat="product in offerdata.NonCollateral" ng-if="product && product.image_url">
                                                          <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 40px;"></td>
                                                          <td class="tableTD tdWrap">{{product.processing_fee}}
                                                              <div class="progress-barTable">
                                                                  <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                              </div>
                                                          </td>
                                                          <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                          <td class="tableTD tdWrap">1 Month</td>
                                                          <td class="tableTD tdWrap">{{product.advantages}}
                                                              <div class="progress-barTable">
                                                                  <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                              </div>
                                                          </td>
                                                          <td class="tableTD tdWrap">
                                                              <p>Aadhaar Card</p>
                                                              <p>PAN Card</p>
                                                              <p>University Letter</p>
                                                          </td>
                                                          <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                          <td class="tableTD tdWrap">
                                                              <input type='button' class='btn btn-sm btn-fill applyBTN btn-danger' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, offerdata.lead_id)" value='APPLY' ng-if="appliedProduct.indexOf(product.product_id) == -1" />
                                                              <input type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' ng-if="appliedProduct.indexOf(product.product_id) != -1" disabled />
                                                          </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                 </div>
                                                <div ng-if="offerdata.USCosigner.length">
                                                    <h4 style="text-align: -webkit-center;"><b>US Cosigner</b></h4>
                                                    <table class="table table-striped table-condensed table_Layout" >
                                                  <thead>
                                                      <tr>
                                                          <th class="tableTD"></th>
                                                          <th class="tableTD">Amount of Processing Fees </th>
                                                          <th class="tableTD">Interest Rate</th>
                                                          <th class="tableTD">Time for Processing</th>
                                                          <th class="tableTD">Convenience of Processing</th>
                                                          <th class="tableTD">Documentation requirement for Processing</th>
                                                          <th class="tableTD">Amount for Loan</th>
                                                          <th class="tableTD"></th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr ng-repeat="product in offerdata.USCosigner" ng-if="product && product.image_url">
                                                        <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 40px;"></td>
                                                        <td class="tableTD tdWrap">{{product.processing_fee}}
                                                            <div class="progress-barTable">
                                                                <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                            </div>
                                                        </td>
                                                        <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                        <td class="tableTD tdWrap">1 Month</td>
                                                        <td class="tableTD tdWrap">{{product.advantages}}
                                                            <div class="progress-barTable">
                                                                <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                            </div>
                                                        </td>
                                                        <td class="tableTD tdWrap">
                                                            <p>Aadhaar Card</p>
                                                            <p>PAN Card</p>
                                                            <p>University Letter</p>
                                                        </td>
                                                        <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                        <td class="tableTD tdWrap">
                                                            <input type='button' class='btn btn-sm btn-fill applyBTN btn-danger' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, offerdata.lead_id)" value='APPLY' ng-if="appliedProduct.indexOf(product.product_id) == -1" />
                                                            <input type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' ng-if="appliedProduct.indexOf(product.product_id) != -1" disabled />
                                                        </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                                </div>
                                                  </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pull-right">
                                    <a ng-click="finishSignup(offersdata[0].lead_id)" type='button' class='btn btn-fill btn-danger btn-wd margin12'>FINISH</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section-->
<!-- footer begin -->

<!-- footer close -->
