<style type="text/css">
.panel-heading {
        padding: 8px 10px 0px !important;
     border-bottom: 0px !important;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #014b79;
}

/* Style the buttons inside the tab */
.tab button {
    color: white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f9992f;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
 background-color: white;
}

.tabsubcontent {
  display: none;
  padding: 6px 12px;

}

.subtabs .tab button{
    width: 50%;
}

.subtabs .tab button.active{
    background-color: #f9992f;
}
</style>
<section id="registration-page" data-speed="8" data-type="background" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(reg-assets/img/wizard-profile.jpg); background-size: cover;background-position: center center;background-attachment: fixed; width: 100%;height: 100%;margin-top:0px;">
    <div class="container">
        <div class="row">
            <div class="tab">
              <button id="one" class="tablinks" onclick="openTab(event, 'existingOffers')"><b>Existing Offers</b></button>
              <button id="two" class="tablinks" onclick="openTab(event, 'refineSearch')"><b>Refine Search</b></button>
              <button id="three" class="tablinks" onclick="openTab(event, 'refinedOffers')"><b>Refined Offers</b></button>
            </div>

            <div id="existingOffers" class="tabcontent subtabs" >
              <h3>EXISITING OFFERS</h3>
                 <h4 class="info-text">OFFERS as per your given data </h4>
                    <div class="tab">
                      <button id="defaultOpen" class="tablinks tabsublinks loan" onclick="openSubTab(event, 'loan')" ><b>Loan Offers</b></button>
                      <button class="tablinks tabsublinks forex" onclick="openSubTab(event, 'forex')"><b>Forex Offers</b></button>
                    </div>
                    <div id="loan" class="tabsubcontent" >
                        <div class="col-md-12" style="overflow-x: scroll;">
                            <div class="span12">
                                <div class="menu">
                                    <div class="accordion">
                                        <div class="accordion-group" ng-repeat="(index, offerdata) in offersdata">
                                            <div class="accordion-heading country">
                                                <div class="table table-striped table-condensed table_Layout">
                                                    <div style="background-color: slategray;color: white;">
                                                        <div class="tableTD">{{offerdata.name}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="{{index}}" class="accordion-body" >
                                                <div ng-if="offerdata.Collateral.length">
                                                    <h4 style="text-align: -webkit-center;"><b>Collateral</b></h4>
                                                    <table class="table table-striped table-condensed table_Layout" >
                                                        <thead>
                                                            <tr>
                                                                <th class="tableTD"></th>
                                                                <th class="tableTD">Interest Rate</th>
                                                                <th class="tableTD">Processing Fees </th>
                                                                <th class="tableTD">Processing Time</th>
                                                                <th class="tableTD">Documentation requirement for Processing</th>
                                                                <th class="tableTD">Max Loan offered</th>
                                                                <th class="tableTD"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="product in offerdata.Collateral" ng-if="product && product.image_url">
                                                                <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 30px;"></td>
                                                                <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                                <td class="tableTD tdWrap">{{product.processing_fee}}
                                                                    <div class="progress-barTable">
                                                                        <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                                    </div>
                                                                </td>
                                                                <td class="tableTD tdWrap">1 Month</td>
                                                                <td class="tableTD tdWrap">
                                                                    <p>Aadhaar Card</p>
                                                                    <p>PAN Card</p>
                                                                    <p>University Letter</p>
                                                                </td>
                                                                <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                                <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1 "><a class='btn btn-xs btn-info  applyBTN' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.country_id)" >APPLY</a></td>
                                                                <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) != -1"><input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div ng-if="offerdata.NonCollateral.length">
                                                    <h4 style="text-align: -webkit-center;"><b>Non Collateral</b></h4>
                                                    <table class="table table-striped table-condensed table_Layout" >
                                                        <thead>
                                                            <tr>
                                                                <th class="tableTD"></th>
                                                                <th class="tableTD">Interest Rate</th>
                                                                <th class="tableTD">Processing Fees </th>
                                                                <th class="tableTD">Processing Time </th>
                                                                <th class="tableTD">Documentation requirement for Processing</th>
                                                                <th class="tableTD">Max Loan offered</th>
                                                                <th class="tableTD"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="product in offerdata.NonCollateral" ng-if="product && product.image_url">
                                                                <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 30px;"></td>
                                                                <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                                <td class="tableTD tdWrap">{{product.processing_fee}}
                                                                    <div class="progress-barTable">
                                                                        <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                                    </div>
                                                                </td>
                                                                <td class="tableTD tdWrap">1 Month</td>
                                                                <td class="tableTD tdWrap">
                                                                    <p>Aadhaar Card</p>
                                                                    <p>PAN Card</p>
                                                                    <p>University Letter</p>
                                                                </td>
                                                                <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                                <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1"><a class='btn btn-xs btn-info  applyBTN' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.country_id)" >APPLY</a></td>
                                                                <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) != -1"><input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div ng-if="offerdata.USCosigner.length">
                                                    <h4 style="text-align: -webkit-center;"><b>US Cosigner</b></h4>
                                                    <table class="table table-striped table-condensed table_Layout" >
                                                        <thead>
                                                            <tr>
                                                                <th class="tableTD"></th>
                                                                <th class="tableTD">Interest Rate</th>
                                                                <th class="tableTD">Processing Fees </th>
                                                                <th class="tableTD">Processing Time </th>
                                                                <th class="tableTD">Documentation requirement for Processing</th>
                                                                <th class="tableTD">Max Loan offered</th>
                                                                <th class="tableTD"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="product in offerdata.USCosigner" ng-if="product && product.image_url">
                                                                <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 30px;"></td>
                                                                <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                                <td class="tableTD tdWrap">{{product.processing_fee}}
                                                                    <div class="progress-barTable">
                                                                        <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                                    </div>
                                                                </td>
                                                                <td class="tableTD tdWrap">1 Month</td>
                                                                <td class="tableTD tdWrap">
                                                                    <p>Aadhaar Card</p>
                                                                    <p>PAN Card</p>
                                                                    <p>University Letter</p>
                                                                </td>
                                                                <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                                <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1 && product.partner_link == NULL "><a class='btn btn-xs btn-info  applyBTN' href='' target='_self' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.country_id)" >APPLY</a></td>
                                                                <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) != -1"><input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                                <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1 && product.partner_link != NULL"><a class="btn btn-xs btn-info  applyBTN " target="_blank" href="{{product.partner_link}}" ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.country_id)">APPLY</a>
                                                               </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="forex" class="tabsubcontent" >
                        <div class="col-md-12" style="overflow-x: scroll;">
                        <div class="span12">
                            <div class="menu">
                                <div class="accordion">
                                    <div class="accordion-group" ng-repeat="(index, offerdata) in offersdata">
                                        <div class="accordion-heading country">
                                            <div class="table table-striped table-condensed table_Layout">
                                                <div style="background-color: slategray;color: white;">
                                                    <div class="tableTD">{{offerdata.name}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="{{index}}" class="accordion-body" >
                                            <div ng-if="offerdata.forex_offer.length">
                                                <h4 style="text-align: -webkit-center;"><b>Forex</b></h4>
                                                <table class="table table-striped table-condensed table_Layout" >
                                                    <thead>
                                                        <tr>
                                                          <th class="tableTD"></th>
                                                          <th class="tableTD">Forex Partner</th>
                                                          <th class="tableTD">Conversion Amount</th>
                                                          <th class="tableTD">Conversion Rate</th>
                                                          <th class="tableTD">Fixed Charges</th>
                                                          <th class="tableTD"></th>
                                                       </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="product in offerdata.forex_offer" ng-if="product">
                                                      <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.logo}}" style="height: 30px;"></td>
                                                      <td class="tableTD tdWrap">{{product.display_name}}</td>
                                                      <td class="tableTD tdWrap">
                                                         {{product.forex_conversion_amount}}
                                                         <div class="progress-barTable">
                                                            <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                         </div>
                                                      </td>
                                                      <td class="tableTD tdWrap">{{product.forex_conversion_rate}}</td>
                                                      <td class="tableTD tdWrap">
                                                         {{product.fixed_charges}}
                                                      </td>
                                                      <td class="tableTD tdWrap" ng-if="appliedForexProduct.indexOf(product.id) == -1"><a id="{{product.id}}" class='btn btn-sm btn-fill applyBTN btn-info' ng-click="applyForexProduct(product.id, product.lead_id)" value='APPLY' >APPLY</a></td>
                                                      <td class="tableTD tdWrap" ng-if="appliedForexProduct.indexOf(product.id) != -1"><input id="{{product.id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                   </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="row">
                        <div class="wizard-footer">
                        <div class="pull-right">
                            <a ng-click="finishSignup()" type='button' class='btn btn-fill btn-danger btn-wd margin12'>FINISH</a>
                        </div>
                        <div class="pull-left">
                            <a ng-click="changePage('captain')" type='button' class='btn btn-fill btn-default btn-wd margin12'>PREVIOUS</a>
                        </div>
                    </div>
                    </div>

            </div>

            <div id="refineSearch" class="tabcontent" ng-repeat="(key, value) in refineSearchTemplate">
              <h3>Refine Search</h3>

                <form class="form-horizontal panel panel-info" ng-repeat="(object, fieldsList) in value"  ng-submit="submitCreateForm(fieldsList[0].group_url, fieldsList[0].group_object)" ng-if="fieldsList!='1'" style="padding: 5px; margin-top: 10px;">
                        <div class="panelForm"><b>{{fieldsList[0].group_display_name}}</b></div>
                        <div class="panel-body" id="{{ object }}"  style="padding-top: 10px;">
                            <div id="{{ object }}">
                                <div class="row form-group formRow">
                                    <div ng-repeat="(index, list) in fieldsList" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-class="{'col-md-3': fieldsList[index].is_dependent==0, 'col-md-3 hiddenField': fieldsList[index].is_dependent==1}" ng-if="fieldsList[index].field_column_name != 'other_details.course' && fieldsList[index].field_column_name != 'other_details.university'">
                                        <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio'">{{fieldsList[index].field_display_name}} <span ng-if="fieldsList[index].mandatory">*</span></label>
                                        <input type="text" class="form-control txtBoxBS" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                        <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                        <input class="form-control" name="{{fieldsList[index].field_name}}" list="{{fieldsList[index].field_name}}" ng-init="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course' )" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0, 1)" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;">
                                        <datepicker ng-if="fieldsList[index].field_ui_type == 'date'" date-format="yyyy-MM-dd"><input ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" type="text" ng-class="{a: fieldsList[index].mandatory =='1' }" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')"/></datepicker>
                                        <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                            <option>Please Select</option>
                                            <option ng-if="fieldsList[index].field_name!='opted_country'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                        </select>
                                        <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || 'Please Select'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down_year' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                            <option>Please Select</option>
                                            <option value="{{present}}">{{present}}</option>
                                            <option value = "{{next}}">{{next}}</option>
                                            <option value = "{{future}}">{{future}}</option>

                                        </select>
                                        <datalist class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0, 1)" ng-required="fieldsList[index].mandatory" style="display: none; border-radius: 11px;">
                                            <option>Please Select</option>
                                            <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                            <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                        </datalist>
                                        <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                            <label class="rbt_container">{{option.display_name}}
                                                <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}"  ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div ng-if="fieldsList[index].field_column_name==error.field" ng-bind-html="error.message" style="margin-top: 10px; font-weight: bold; color: #ff0000;">
                                        </div>
                                        <div ng-dropdown-multiselect="" options="fieldsList[index].list_items" selected-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" extra-settings="loanTypeSetting" ng-if="fieldsList[index].field_ui_type == 'static_multiselect_drop_down'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')"></div>
                                        <angucomplete-alt id="ex2" placeholder="Search City" pause="300" selected-object="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control border11" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'" ng-required="fieldsList[index].mandatory" initial-value="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ></angucomplete-alt>
                                    </div>
                                    <div ng-repeat="(index, list) in fieldsList" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}|basic" ng-class="{'col-md-3': fieldsList[index].is_dependent==0, 'col-md-3 hiddenField': fieldsList[index].is_dependent==1}" ng-if="fieldsList[index].field_column_name == 'other_details.course' || fieldsList[index].field_column_name == 'other_details.university'">
                                        <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio'">{{fieldsList[index].field_display_name}} <span ng-if="fieldsList[index].mandatory">*</span></label>
                                        <input type="text" class="form-control txtBoxBS" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                        <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                        <input class="form-control" name="{{fieldsList[index].field_name}}" list="{{fieldsList[index].field_name}}" ng-init="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course' )" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0, 1)" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;">
                                        <datepicker ng-if="fieldsList[index].field_ui_type == 'date'" date-format="yyyy-MM-dd"><input ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" type="text" ng-class="{a: fieldsList[index].mandatory =='1' }" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')"/></datepicker>
                                        <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                            <option>Please Select</option>
                                            <option ng-if="fieldsList[index].field_name!='opted_country'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                        </select>
                                        <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || 'Please Select'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down_year' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                            <option>Please Select</option>
                                            <option value="{{present}}">{{present}}</option>
                                            <option value = "{{next}}">{{next}}</option>
                                            <option value = "{{future}}">{{future}}</option>

                                        </select>
                                        <datalist class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0, 1)" ng-required="fieldsList[index].mandatory" style="display: none" style="border-radius: 11px;">
                                            <option>Please Select</option>
                                            <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                            <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                        </datalist>
                                        <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                            <label class="rbt_container">{{option.display_name}}
                                                <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}"  ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div ng-if="fieldsList[index].field_column_name==error.field" ng-bind-html="error.message" style="margin-top: 10px; font-weight: bold; color: #ff0000;">
                                        </div>
                                        <div ng-dropdown-multiselect="" options="fieldsList[index].list_items" selected-model="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" extra-settings="loanTypeSetting" ng-if="fieldsList[index].field_ui_type == 'static_multiselect_drop_down'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')"></div>
                                        <angucomplete-alt id="ex2" placeholder="Search City" pause="300" selected-object="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control border11" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'" ng-required="fieldsList[index].mandatory" initial-value="refineSearchFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" style="border-radius: 11px;" ></angucomplete-alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="common-submit_button" style="text-align: center;"><a  class="btn btn-lg btn-primary submit-button-input" type="button" name="submit" value="Submit" ng-click="submitAllForms()" >SUBMIT</a></div>


            </div>

            <div id="refinedOffers" class="tabcontent">
              <h3>Refined Offers</h3>
                <h4 class="info-text">OFFERS as per your Refined Search </h4>
                    <div class="col-md-12" style="overflow-x: scroll;">
                        <div class="span12">
                            <div class="menu">
                                <div class="accordion">
                                    <div class="accordion-group" ng-repeat="(index, offerdata) in refineoffersdata">
                                        <div class="accordion-heading country">
                                            <div class="table table-striped table-condensed table_Layout">
                                                <div style="background-color: slategray;color: white;">
                                                    <div class="tableTD">{{offerdata.name}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="{{index}}" class="accordion-body" >
                                            <div ng-if="offerdata.Collateral.length">
                                                <h4 style="text-align: -webkit-center;"><b>Collateral</b></h4>
                                                <table class="table table-striped table-condensed table_Layout" >
                                                    <thead>
                                                        <tr>
                                                            <th class="tableTD"></th>
                                                            <th class="tableTD">Interest Rate</th>
                                                            <th class="tableTD">Processing Fees </th>
                                                            <th class="tableTD">Processing Time</th>
                                                            <th class="tableTD">Documentation requirement for Processing</th>
                                                            <th class="tableTD">Max Loan offered</th>
                                                            <th class="tableTD"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="product in offerdata.Collateral" ng-if="product && product.image_url">
                                                            <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 30px;"></td>
                                                            <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                            <td class="tableTD tdWrap">{{product.processing_fee}}
                                                                <div class="progress-barTable">
                                                                    <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                                </div>
                                                            </td>
                                                            <td class="tableTD tdWrap">1 Month</td>
                                                            <td class="tableTD tdWrap">
                                                                <p>Aadhaar Card</p>
                                                                <p>PAN Card</p>
                                                                <p>University Letter</p>
                                                            </td>
                                                            <td class="tableTD tdWrap">{{product.approved_loan_amount}}</td>
                                                            <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1 "><a class='btn btn-xs btn-info  applyBTN' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.country_id)" >APPLY</a></td>
                                                            <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) != -1"><input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-if="offerdata.NonCollateral.length">
                                                <h4 style="text-align: -webkit-center;"><b>Non Collateral</b></h4>
                                                <table class="table table-striped table-condensed table_Layout" >
                                                    <thead>
                                                        <tr>
                                                            <th class="tableTD"></th>
                                                            <th class="tableTD">Interest Rate</th>
                                                            <th class="tableTD">Processing Fees </th>
                                                            <th class="tableTD">Processing Time </th>
                                                            <th class="tableTD">Documentation requirement for Processing</th>
                                                            <th class="tableTD">Max Loan offered</th>
                                                            <th class="tableTD"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="product in offerdata.NonCollateral" ng-if="product && product.image_url">
                                                            <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 30px;"></td>
                                                            <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                            <td class="tableTD tdWrap">{{product.processing_fee}}
                                                                <div class="progress-barTable">
                                                                    <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                                </div>
                                                            </td>
                                                            <td class="tableTD tdWrap">1 Month</td>
                                                            <td class="tableTD tdWrap">
                                                                <p>Aadhaar Card</p>
                                                                <p>PAN Card</p>
                                                                <p>University Letter</p>
                                                            </td>
                                                            <td class="tableTD tdWrap">{{product.approved_loan_amount}}</td>
                                                            <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1"><a class='btn btn-xs btn-info  applyBTN' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.country_id)" >APPLY</a></td>
                                                            <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) != -1"><input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-if="offerdata.USCosigner.length">
                                                <h4 style="text-align: -webkit-center;"><b>US Cosigner</b></h4>
                                                <table class="table table-striped table-condensed table_Layout" >
                                                    <thead>
                                                        <tr>
                                                            <th class="tableTD"></th>
                                                            <th class="tableTD">Interest Rate</th>
                                                            <th class="tableTD">Processing Fees </th>
                                                            <th class="tableTD">Processing Time </th>
                                                            <th class="tableTD">Documentation requirement for Processing</th>
                                                            <th class="tableTD">Max Loan offered</th>
                                                            <th class="tableTD"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="product in offerdata.USCosigner" ng-if="product && product.image_url">
                                                            <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 30px;"></td>
                                                            <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                            <td class="tableTD tdWrap">{{product.processing_fee}}
                                                                <div class="progress-barTable">
                                                                    <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                                </div>
                                                            </td>
                                                            <td class="tableTD tdWrap">1 Month</td>
                                                            <td class="tableTD tdWrap">
                                                                <p>Aadhaar Card</p>
                                                                <p>PAN Card</p>
                                                                <p>University Letter</p>
                                                            </td>
                                                            <td class="tableTD tdWrap">{{product.approved_loan_amount}}</td>
                                                            <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1 && product.partner_link == NULL "><a class='btn btn-xs btn-info  applyBTN' href='' target='_self' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.country_id)" >APPLY</a></td>
                                                            <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) != -1"><input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                            <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1 && product.partner_link != NULL"><a class="btn btn-xs btn-info  applyBTN " target="_blank" href="{{product.partner_link}}" ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.country_id)">APPLY</a>
                                                           </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="wizard-footer">
                        <div class="pull-right">
                            <a ng-click="finishSignup()" type='button' class='btn btn-fill btn-danger btn-wd margin12'>FINISH</a>
                        </div>
                        <div class="pull-left">
                            <a ng-click="changePage('captain')" type='button' class='btn btn-fill btn-default btn-wd margin12'>PREVIOUS</a>
                        </div>
                    </div>
                    </div>
            </div>

        </div>

    </div>
</section>


    <link href="reg-assets/css/material-bootstrap-wizard.css" rel="stylesheet" />

    <style>
/*.tab-content>.tab-pane {
    display:block;
}*/
.hiddenField{
    display: none;
}

</style>

    <script src="reg-assets/js/jquery.bootstrap.js" type="text/javascript"></script> <!-- required for material effect -->
    <!--  Plugin for the Wizard -->
    <script src="reg-assets/js/material-bootstrap-wizard.js"></script>

    <script type="text/javascript">
        function openTab(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }

        function openSubTab(subevt, tabName) {
          var i, tabsubcontent, tabsublinks;
          tabsubcontent = document.getElementsByClassName("tabsubcontent");
          for (i = 0; i < tabsubcontent.length; i++) {
            tabsubcontent[i].style.display = "none";
          }
          tabsublinks = document.getElementsByClassName("tabsublinks");
          for (i = 0; i < tabsublinks.length; i++) {
            tabsublinks[i].className = tabsublinks[i].className.replace(" active", "");
          }
          document.getElementById(tabName).style.display = "block";
          subevt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();



        var pgUrl = location.href;
        //alert("yes"+x);https://www.eduloans.org/offers/my
        if(pgUrl === "https://www.eduloans.org/offers/my#refineSearch")
        {
            $('#refineSearch').show();
            $('#two').addClass('active');

        }else if(pgUrl === "https://www.eduloans.org/offers/my#refinedOffers"){
            $('#refinedOffers').show();
             $('#three').addClass('active');

        }else{
            $('#existingOffers').show();
             $('#one').addClass('active');
        }
    </script>
