<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>My Leads</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">My Leads</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">

                        <h3 class="box-title">{{title}}</h3>

                    </div>
                    <div class="box-body" style="overflow: scroll;">

                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'Application Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Name'" ng-if="!value.isEditable" filter="{ customer_name: 'text'}" sortable="'customer_name'" >{{value.customer_name}}</td>
                                <td title="'Profile Complete Date'" filter="{ profile_complete_date: 'number'}" sortable="'profile_complete_date'">{{value.profile_complete_date}}</td>
                                <td title="'Application Actions'" ><button ng-if="value.profile_complete_date" ng-click="downloadReport(value.lead_id)" class="btn btn-info btn-sm btn-circle"> Download </button> <button ng-if="value.isEditable" ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>