<style type="text/css">
  table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th, td {
  text-align: center;
  padding: 8px;
}

/*tr:nth-child(even){background-color: #f2f2f2}*/

th {
  background-color: #97144d;
  color: white;
}

.imgrow .column {
      float: left;
    width: 24.33%;
    padding: 5px;
    text-align: center;
}

/* Clearfix (clear floats) */
.imgrow .row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<div id="myModalHome" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Cheapest  + Convenient + PAN India Options </h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalHome')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalBajaj').modal('show');
   }, 9000);
   //$('#myModalBajaj').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Axis Bank Forex Service</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12 imgrow">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Axis Bank Forex Services – Forex Card and Outward Remittances</h2>
    			<p class="" style="text-align:justify;">Studying abroad presents a thrilling chance to explore a different world and gain some valuable experience. But at the same time, it comes with its own set of challenges. Money is the biggest factor here. One of the best ways for students to carry money abroad and manage their expenses is through a Forex Card.</p>
                <p class="" style="text-align:justify;">Axis Bank continues to be the market leader in this segment since the launch of the Forex card product in 2003. Axis Bank has a <b>Multi Currency Forex Card</b> in 16 Currency Wallets – US Dollars (USD), EURO (EUR), British Pound (GBP), Australian Dollars (AUD), Canadian Dollars (CAD), Singapore Dollars (SGD), Swiss Francs (CHF), Swedish Kroners (SEK), Japanese Yen (JPY), United Arab Dirhams (AED), Saudi Riyals (SAR), Thai Baht (TBH), Hong Kong Dollars (HKD), New Zealand (NZD), Danish Kroner (DKK) and South African Rand(ZAR)</p>
                <p style="text-align:justify;">The card enables 24-Hour, global access to funds, in the local currency of the country of visit in a hassle free, secure and convenient way.</p>
                <div class="row">
                  <div class="column">
                    <img src="images/forexPartners/A1.png" alt="Snow" style="width:50%;    margin-bottom: -6%;">
                    <h5>Fast and Convenient</h5>
                  </div>
                  <div class="column">
                    <img src="images/forexPartners/A2.png" alt="Forest" style="width:50%;    margin-bottom: -6%;">
                    <h5>Pay in 16 Currencies</h5>
                  </div>
                  <div class="column">
                    <img src="images/forexPartners/A3.png" alt="Mountains" style="width:50%;    margin-bottom: -6%;">
                    <h5>Wave and Pay</h5>
                  </div>
                  <div class="column">
                    <img src="images/forexPartners/A4.png" alt="Mountains" style="width:50%;    margin-bottom: -6%;">
                    <h5>Get Help With TripAssist</h5>
                  </div>
                </div>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>Benefits of Axis Bank Forex Card :</b></p>
    			<ul class="nopadding">
    				<li><b>Protection from fluctuations in exchange rate</b> – The card is available in 16 currencies. Once the card is loaded, it can be used without any worry. The exchange rate applied is of the day the card is loaded. This is one of the major advantages of forex cards for students.</li>
    				<li><b>Preferential Pricing </b> - 
              <table class="table table-bordered">
                <tr>
                  <th>Description</th>
                  <th>Charges</th>
                  <th>Student Offer</th>
                </tr>
                <tr>
                  <td>Issuance fee (Multicurrency)</td>
                  <td>Rs 300 + GST</td>
                  <td>Waived -off</td>
                </tr>
                <tr>
                  <td>Load/ Reload /Refund Charges</td>
                  <td>Rs 100 + GST</td>
                  <td>Waived - off</td>
                </tr>
                <tr>
                  <td>ATM Withdrawal Charges</td>
                  <td>2.25 USD equivalent</td>
                  <td>3 withdrawal free in Month</td>
                </tr>
                <tr>
                  <td>POS Cash Advance</td>
                  <td>0.5%</td>
                  <td>$250Waived – Off</td>
                </tr>
                <tr>
                  <td>Exchange rate</td>
                  <td>Bank’s Card Rate</td>
                  <td>Preferential Exchange Rate</td>
                </tr>
              </table>
            </li>
    				<li><b>Worldwide Acceptance</b> - The Axis Bank Forex Card is widely accepted across the globe. It is accepted at over 3.4 million+ VISA enabled ATMs, at over 36 million VISA enabled POS Terminals worldwide and 1,00,000 Ecommerce sites. It can be used to settle hotel bills, pay for airline tickets or shop all with a single swipe. It is also accepted at all duty free stores across International airports in India. Card can also be used to make university application fee payment & transfer funds to your account by swiping card in foreign Bank</li>
    				<li><b>Multiple Currency Options</b> - Multi Currency Forex card has 16 currencies which help in saving cross currency charges.</li>
    				
    			</ul>
    		</div>
        <div class="col-md-12" style="text-align:justify;">
          <p><b>Outward Remittances through Axis Bank :</b></p>
          <p>We would also like to use this opportunity to showcase our International money transfers services to foreign countries</p>
          <p><b>Features and Benefits of doing Remittance from Branches :</b></p>
          <ul>
            <li>Branch Network of more than 4000 branches </li>
            <li>Remittance to 150+ Countries possible due to our wide network of tie-ups with foreign banks</li>
            <li>Secure and safe remittance in 16 most widely used currencies can be done</li>
            
          </ul>
          <p><b>Features and Benefits of doing Remittance from Internet Banking by Students and/or their parents :</b></p>
          <ul>
            <li>Availability of 100+ currencies to help avoid dual conversion charges</li>
            <li>Online Fund Transfer can be initiated on a 24*7 basis, 365 days</li>
            <li>Competitive exchange rates are available</li>
            
          </ul>
          <p><b>Documents</b> </p>
              <table class="table table-bordered">
                <tr>
                  <th>Axis Bank Account Customer</th>
                  <th>Non Axis Bank Customer</th>
                </tr>
                <tr>
                  <td>
                    <ol>
                      <li>Application Form</li>
                      <li>University Letter</li>
                      <li>Passport Copy</li>
                    </ol>
                  </td>
                  <td>
                    <ol>
                      <li>Application Form</li>
                      <li>University Letter</li>
                      <li>Passport Copy</li>
                      <li>Customer ID Form ( NA Forex Card)</li>
                      <li>Pan Mandate</li>
                    </ol>
                  </td>
                </tr>
              </table>
            
          <p>* For Application fee payment only Fort and Passport copy required.</p>
        </div>
    	</div>
    </div>
</section>
