<div id="myModalHome" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Cheapest  + Convenient + PAN India Options </h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalHome')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalBajaj').modal('show');
   }, 9000);
   //$('#myModalBajaj').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">EbixCash</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Overview</h2>
    			<p class="" style="text-align:justify;"> EbixCash is India's leading Money Exchange Company incorporated in 1999. They have Corporate, Wholesale and Retail Divisions. In the whole sale division they mainly look at Procurement and Supply  of Forex to & from banks and money exchange houses, Import and export of currencies, Collection from franchises such as Hotel Chains, Hospitals, Temple Trusts. In the retail segment they have Extensive branch network spanning 69 Cities with 80 branches and 17 Airports. They cater to Leisure Travels, Immigration, Education and Overseas Film Shoot. They Upgraded to Authorized Dealer Category -II license in 2008. Exclusive presence at 13 International Airports and Covering 95% of 25 million passengers traveling. Ebix Cash are Present at all metro airports (Delhi, Mumbai, Chennai, Kolkata, Hyderabad) along with 12 seaports  (Flamingo DFS). EbixCash has been awarded the tender to operate money exchange counter at Dubai International Airport.</p>
          
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>Forex Product :</b></p>
    			<ul class="nopadding">
    				<li><b>Foreign Currency Notes</b> - More than 80 different currencies</li>
    				<li><b>Remittances</b> - Outward remittance facilities -> 17 different currencies</li>
    				<li><b>Travel Cards</b> - One of largest issuer of Multi Currency prepaid cards in India</li>
    				<li><b>Travelers Cheques</b> - One of the oldest and largest partners of American Express</li>
            <li><b>INR Prepaid Cards</b> - India’s first  money exchange company -> digital wallet app with a physical card</li>
    			</ul>
    		</div>
        <div class="col-md-12" style="text-align:justify;">
          <p><b>Student Forex Product :</b></p>
          <ul class="nopadding">
            <li><b>University Fee Payment Remittance</b>
              <ul>
                <li>Direct Remittance to University Account</li>
                <li>Remittance through any International payment processor such as Flywire, Western Union</li>
              </ul>
            </li>
            <li><b>Guaranteed Investment Certificate (Canada)</b>
              <ul>
                <li>Enable student to open GIC account with reputed Canadian bank</li>
                <li>Transfer of funds to GIC account</li>
              </ul>
            </li>
            <li><b>Block Account Transfer</b>
              <ul>
                <li>Remittance for blocked account transfer in respective bank account in Europe</li>
              </ul>
            </li>
            <li><b>Living Expenses</b>
              <ul>
                <li>Transfer of funds for living expenses for wire transfer</li>
                <li>Offering Prepaid travel card with multicurrency valid of 5 years</li>
              </ul>
            </li>
            <li><b>Currency Notes</b>
              <ul>
                <li>We offer destination currencies of more 80 different countries</li>
              </ul>
            </li>
          </ul>
        </div>
    	</div>
    </div>
</section>
