<div id="myModalHome" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Cheapest  + Convenient + PAN India Options </h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalHome')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalBajaj').modal('show');
   }, 9000);
   //$('#myModalBajaj').modal('show');
 });*/
</script>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Thomas Cook Forex</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
                <h2 style="text-align: center;font-size: 16px;font-weight: bold; margin-top: -30px;">Overview</h2>
    			<p class="" style="text-align:justify;"> Thomas Cook (India) Ltd. (TCIL) is the leading integrated travel services company in the country offering a broad spectrum of services that include Foreign Exchange, Corporate Travel, MICE, Leisure Travel, Value Added Services, Visa & Passport services and E-Business. The company set up its first office in India in 1881.</p>
                <p class="" style="text-align:justify;"> The Thomas Cook India Group spanning 25 countries across 5 continents, a team of over 8388 and a combined revenue in excess of Rs. 6948.3 Cr. (over $ 0.93 Bn.) for the financial year ended March 31, 2020, operates leading B2C and B2B brands including,Thomas Cook, SOTC, TCI, SITA, Asian Trails, Allied T Pro, Australian Tours Management, Desert Adventures, Luxe Asia, Kuoni Hong Kong, Sterling Holiday Resorts Limited, TC Forex, Distant Frontiers, TC Tours, TC Visa, Travel Circle International Limited, Ithaka, Digiphoto Entertainment Imaging (DEI), Private Safaris East & South Africa. The Group is today one of the largest travel service provider networks headquartered in the Asia-Pacific region.</p>
    		</div>
    		<div class="col-md-12" style="text-align:justify;">
    			<p><b>Forex Product :</b></p>
    			<ul class="nopadding">
    				<li><b>Buy and Sell Foreign Exchange</b> – Thomas Cook sells and Buys Forex on its various counters across the country</li>
    				<li><b>Forex (Multi Currency & One Currency) Cards</b> - Thomas Cook Forex cards are powered by VISA and can be used anywhere across the globe</li>
    				<li><b>Currency Notes</b> -  They are available in all retail outlets across various centers.</li>
    				<li><b>International Money Transfer</b> -  Thomas cook has a completely online process of choosing your desired currency & amount. Select currency and denomination you need to carry along and Enter transaction details. Enter remittance purpose with remitter and beneficiary details to Make payment online. Make payment via multiple payment options like debit card, credit card & Netbanking. KYC and fulfillment of Remittance. Transaction complete with receipt of forex order completion at blocked rate</li>
    				
    			</ul>
    		</div>
        <div class="col-md-12" style="text-align:justify;">
          <p><b>Student Forex Product :</b></p>
          <p>Thomas cook has a very nice and full range of portfolio for Students looking to send remittances abroad. They have the following list of services</p>
          <ul class="nopadding">
            <li><b>University / College Application Fees</b></li>
            <li><b>Tuition Fee Remittance</b></li>
            <li><b>Forex Prepaid Card and Currency Notes</b></li>
            <li><b>Remitting Living Expenses</b></li>
            
          </ul>
          <p>We have 100+ branches in over 65 cities across India. You can transact with us from the comfort of your home and get access to all our products and services. We are just a call away! </p>
        </div>
    	</div>
    </div>
</section>
