<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 --><!--   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->


<!--style type="text/css">
	/***********************ABOUT US**********************/

	/*.container-fluid {
      padding: 0px 0px!important;
    }*/

	.about-section {
    padding: 4em 0;
}
.site-title  {
    padding: 2em 0;
}
.site-title h3 {
    font-size: 2.5em;
    color: #000000;
    /*font-family: 'Marvel-Regular';
    font-weight: 700;*/
}
.site-title p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin-top: 0.5em;
}

.about-inner-column h4 {
    font-size: 2.5em;
   /*  color: #004b79;*/

}
.about-inner-column p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin: 1em 0 0;
}

.about-inner-column ul li a {
    color: #333333;
    font-size: 1.1em;
    padding-left: 2em;
}
.about-right img {
    width: 100%;
}

/****************************OUR PARTNERS***************************/
.ptb-50{
    padding: 10px 50px;
}

.section_bg_gray {
    background-color: #f3f5f7;
}

.single_what_we_do {
    background-color: #ffffff;
    text-align: center;
    padding: 0 35px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.single_what_we_do:hover {
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.single_what_we_do .top_line {
    position: absolute;
    top: 0;
    left: 44%;
    background-color: #004b79;
    width: 12%;
    height: 3px;
}

.single_what_we_do .what_we_do_figure {
    padding: 40px 0;
}
.single_what_we_do .what_we_do_figure img {
    margin: 0 auto;
}
.single_what_we_do .what_we_do_title {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 35px;
    margin: 0;
    color: #2b353a;
}
.single_what_we_do .what_we_do_content {
    padding-bottom: 65px;
    color: #2b353a;
}
 .single_what_we_do .what_we_do_icon {
    position: absolute;
    bottom: -9px;
    left: 47%;
    color: #fff;
    background-color: #004b79;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.single_what_we_do .what_we_do_icon i {
    font-size: 24px;
    text-align: center;
    padding: 2px 3px 2px 5px;
}

/********************************OUR Loan Feature********************************/
/*.special-section {
    padding: 3em 0 3em;
}
.special-info-column h3 {
    color: #000;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}
.special-info-column h5 {
    color: #969696;
    font-size: 14px;
    margin: 1em 0;
    line-height: 1.8em;
}
.special-info-column p {
    color: #333333;
    font-size: 14px;
    margin: 3em 0 0 0;
    line-height: 1.8em;
}
.more-button a {
    background: #E42313;
    padding: 10px 16px;
    border: none;
    border-radius: 0;
    margin-top:20px;
    margin-bottom:20px;
}


.special-inner-column{
     padding: 0px 0px 17px;
}
.iconSP {
    color : #f9992f;
    padding:0px;
    font-size:40px;
}


.special-inner-column h5 {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    margin: 1.5em 0 0 0;
    padding: 0px 0px 10px;
}

.special-inner-column p {
    color: #333333;
    font-size: 14px;
    margin: 0;
    line-height: 1.8em;
    font-weight: 400;
}*/


/**************************************OUR TEAM*****************************************/

#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}


#team .card {
    border: none;
    background: rgba(0,0,0,0);;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-radius: .25rem;
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 40px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	border-radius: 30px!important
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #004b79 !important;
}

.backside .card .card-body {
    padding: 15px;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #004b79 !important;
}

.frontside .card .card-body img {
       width: 270px;
    height: 270px;
    border-radius: 10%;
}


/***********************SLIDER PROCESS STEPS*************************/
#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}


/***************************ABOUT ANIM*******************************/
.divCl {
  display: inline-block;
}

.bigger {
  margin: 0;
  font-size: 60px;
  font-weight: 800;
  padding: 20px;
  text-transform: uppercase;
  color: #202020;
  display: inline-block;
  position: relative;
}

.text {
  max-width: 600px;
  width: 100%;
  line-height: 24px;
  text-align: left;
  color: #404040;
  padding: 20px;
}
.text.txt-center {
  text-align: center;
}
.text a {
  color: #0fe4d2;
}

.has-animation {
  position: relative;
}
.has-animation p, .has-animation img {
  opacity: 0;
}
.has-animation.animate-in p, .has-animation.animate-in img {
  animation: textHidden 0.1s 1.1s forwards;
}
.has-animation.animate-in:before, .has-animation.animate-in:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}
.has-animation.animate-in:before {
  background-color: teal;
}
.has-animation.animate-in:after {
  background-color: yellowgreen;
  animation-delay: .5s;
}
.has-animation.animation-ltr.animate-in:before {
  animation: revealLTR 1.8s ease;
}
.has-animation.animation-ltr.animate-in:after {
  animation: revealLTR 1s .6s ease;
}
.has-animation.animation-rtl.animate-in:before {
  animation: revealRTL 1.8s ease;
}
.has-animation.animation-rtl.animate-in:after {
  animation: revealRTL 1s .6s ease;
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

</style-->


<!-- content begin -->
<div class="jumbotron text-center" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/wide1.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
  <section class=" text-white  pt-5 pb-4">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;"></h1>
          <!--h1 style="color: white"><strong>ABOUT US</strong></h1>
         <h1 style="color: white">________________</h1-->
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <section id="subheader" data-speed="8" data-type="background">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>About Us</h1>
				<ul class="crumb">
					<li><a href="index.html">Home</a></li>
					<li class="sep">/</li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
	</div>
</section> -->
<!-- <div class="container-fluid">
    <br>
    <div class="has-animation animation-ltr divCl" data-delay="10">
      <p class="bigger">Reveal Animation </p>
    </div>

    <br>
    <br>

    <div class="has-animation animation-rtl divCl" data-delay="1000">
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <br>
    <br>

    <br>
    <br>
    <div class="has-animation animation-rtl divCl" data-delay="2000">
      <img src="https://placeimg.com/640/480/nature" width="600" />
    </div>
</div> -->

<div class="container-fluid" style="padding-top:20px;">
		<div class="container">

					<!--h3>About Us</h3>
					<hr-->

			<div class="about-inner-section">
				<div class="col-md-6 about-inner-column">
					<p>
					<span class="ribbon-text"><strong class="bold">Eduloans</strong> is a free Platform, We connect and Guide for Free.</span>
					</p>
					<!--h3> Eduloans is a free Platform, We connect and Guide for Free.</h3-->
					<p class="" style="text-align:justify;">We are a Comprehensive Financing Platform Connecting Educational Aspirants with Potential Financial Institutions, Investors and Endowment Funds.</p>
                    <p class="" style="text-align:justify;">Our partners include Banks, Non-Banking Financial Companies (NBFC's), International Funds, US Banks, Investors and University / Government Grants through Scholarships.</p>
                    <p class="" style="text-align:justify;">We endeavor to provide a platform for Students to choose the best Financing Options to fund their Overseas Education with Ease.</p>


				</div>
				<div class="col-md-6 about-right">
				<!--img src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" alt=" ">
				<img src="images/indian_education_loans.jpg" alt=" ">
				<img src="images/about-laon-grad.jpg" alt=" "-->
				<!--p><strong>We endeavor to provide every educational aspirant with the following benefits </strong></p-->

				<!--p class="ribbon2"> <span class="ribbon-text2"><strong class="bold2">We </strong>endeavor to provide every educational aspirant with the following benefits</span> </p-->
                <p> <span class="ribbon-text2" style="text-align:center;"><strong class="bold2">We </strong>endeavor to provide every educational aspirant with the following benefits</span> </p>

							<ul class="ul-margin">
								<li>We provide Loan at your Convenience and door step</li>
								<li>We provide unbiased comparison between different bank loans and interest rates</li>
								<li>We assist with solvency letter and other visa formalities</li>
								<li>We negotiate low interest rate offered to students based on Merit</li>
								<li>We help source international Loan starting at 3% PA</li>
								<li>We maintain a hassle free and student friendly process</li>
								<li>We endeavor to provide Tax Benefit of 80E</li>
								<li>We charge zero Processing fees on Loans</li>
								<li>We offer door to door documents pick up in certain cities</li>
							</ul>
			</div>
				<div class="clearfix"> </div>
			</div>
            <div class="about-inner-section">
				<div class="col-md-6 about-inner-column">
					<p>
					<span class="ribbon-text"><strong class="bold">Our</strong> Vision / Mission / Core Values</span>
					</p>
					<!--h3> Eduloans is a free Platform, We connect and Guide for Free.</h3-->
					<p class="" style="text-align:justify;">Be the Preferred Service Provider of Overseas Education Loans through all Our Financial Partners.</p>
                    <p class="" style="text-align:justify;">Comfort and Ease for Our Prestigious Customers by Simplifying Loans and Providing Affordable Solutions.</p>
                    <p class="" style="text-align:justify;">Customer Centricity / Ethics / Ownership / Politeness / Service / Sustainability / Teamwork / Transparency.</p>


				</div>
				<div class="col-md-6 about-right">

				<p> <span class="ribbon-text2"><strong class="bold2">Our</strong> Deliverable's / USP's</span> </p>

							<ul class="ul-margin">
								<li>The complete education loan (Including Tuition, Living, Food and Misc. Exp.)</li>
								<li>Faster Loan Processing and Help On Negotiations for Rate Of Interest and Processing Fees</li>
								<li>Aggregator's / Financial Guidance Counselors to assist with Comparison</li>
								<li>Hassle-free and Student Friendly Online Process for your Benefit / Convenience</li>
								<li>Dedicated Loan Relationship Managers (RM's)  to service students</li>
								<li>Most Flexible Global / Local Interest Rates</li>
								<li>Convenient Mortgage-able Security</li>
								<li>Stringent follow ups on the loan status</li>
								<li>Least Remittance / Forex Charges</li>
                                <li>Personalized Attention to every student</li>
							</ul>
			</div>
				<div class="clearfix"> </div>
			</div>



			<div class="site-title ">
				<h3>Our Story</h3>
				<hr>
				<p class="" style="text-align:justify;">
				Most in our team have studied abroad with the help of Education loan. All of us were excited about the dream university admits we received but were stressed out about the Loan eligibility and process. It took like ages, seems we were fighting against the system etc. In most cases the branch managers seemed disinterested in processing the loan. They took repeat attempts at what was required, and delayed the prospect unnecessarily.</p>
                <p class="" style="text-align:justify;">After our studies when we approached student guidance counselors we were pained to see our students still facing the same tune as we faced - from un-cooperative and not updated bank recruits. Further, the students were not able to sense what are the best financial options they have to pursue their dream. </p>
                <p class="" style="text-align:justify;">With Edu-loans we strive to provide a platform to students to avail the best possible source of financing in terms of cost, collateral and time to sanction the Loan. We have digitalized partly or completely the process for the loan. We also provide students the platform to showcase their story to avail the best possible financial option trying to get in investors through our carefully devised credit risk matrix. We wish our students the very best in there journey of self belief and we help them move closer to their goals.</p>
				<p class="" style="text-align:justify;">More Happy faces !!!</p>

						<p>&nbsp;</p>

						<!--h3 style="text-align:left;">Our Loan Features</h3>
						<hr>
	<p class="" style="text-align:justify;font-weight:bold">The Complete Education Loan (Including Tuition and Living)</p>
	<p class="" style="text-align:justify;">We have been sending students to various Universities globally across for last 5 years and have observed that students sometimes fail to cover complete cost of education. We endeavor to provide through our financing options the total cost of study to the student.</p>
	<p class="" style="text-align:justify;font-weight:bold">Most Flexible global/local Interest rates</p>
	<p class="" style="text-align:justify;">We through our financing partners look to provide you the best available interest rates to reduce your overall cost of borrowing. We try to arrange loans in the most convenient currency of study and repayment to suite the profile of the candidates.</p>
	<p class="" style="text-align:justify;font-weight:bold">Convenient Mortgage-able Security</p>
	<p class="" style="text-align:justify;">We try to find the most suitable solution to the security provided vis a vis thecredit profile of the student and guarantor. We use innovative financial solutions to ascertain risk profile of the student , which would be an advantage for the student.</p>
	<p class="" style="text-align:justify;font-weight:bold">Least Remittance/Forex Charges</p>
	<p class="" style="text-align:justify;">We are aggregators of remittances and provide hence are able to provide the most economical options for forex remittances</p-->

			</div>



		</div>

	</div>





	<!-- team section begin -->
		<div class="container-fluid" style=" background-color:#f1f1f1;">
	    <div class="container" style="padding:30px;">
			<div class="row">
				<!--div class="col-md-12">
				<img src="images/team-sil.png" class="img-responsive center-block">

				</div-->
				<div class="col-md-12">
				<div class="site-title ">
				<h3>Our Team</h3></div>
				<p> Eduloans team is strongly driven by purpose and share in our belief that the right education finance should be available to all those who dream. They come from diverse backgrounds and are passionate about results, highly competent and enthusiastic, making them our greatest differentiator.<p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="team_member">
					<img src="images/team/banit_1.jpg" class="img-fluid" alt="#">
					<p class="text-center"><span>Banit Singh Sawhney</span><br>Chief Executive Officer </p>
						<div class="team-social">
							<a href="https://in.linkedin.com/in/banit-singh-sawhney-99023316" target="_blank"><i class="fa fa-linkedin">&nbsp;</i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
				<div class="team_member">
				<img src="images/team/hiren_1.jpg" class="img-fluid" alt="#">
				<p class="text-center "><span>Hiren Rathod</span><br>Product Head </p>
				<div class="team-social">
						<a href="https://www.linkedin.com/in/hiren-rathod-35a66314" target="_blank">
						<i class="fa fa-linkedin">&nbsp;</i></a>
						</div>

				</div>
				</div>
				<div class="col-md-4">
				<div class="team_member">
					<img src="images/team/kiran_1.jpg" class="img-fluid" alt="#">
					<p class="text-center "><span>Kiran Sawhney</span><br>Head Digital Marketing </p>
						<div class="team-social">
							<a href="https://www.linkedin.com/in/kiran-sawhney-09289919" target="_blank">
							<i class="fa fa-linkedin">&nbsp;</i>
							</a>
						</div>
					</div>
				</div>


			</div>
			<div class="row"  style="margin-top:40px;">
			<div class="col-md-4">
				<div class="team_member">
					<img src="images/team/sudhir_1.jpg" class="img-fluid" alt="#">
					<p class="text-center "><span>Sudhir Kanojia</span><br>Technical Head </p>
					<div class="team-social">
							<a href="https://www.linkedin.com/in/sudhir-kanojia-4bb44764" target="_blank">
							<i class="fa fa-linkedin">&nbsp;</i>
							</a>
						</div>
					</div>
				</div>
			<div class="col-md-4">
				<div class="team_member">
					<img src="images/team/nikhil_1.jpg" class="img-fluid" alt="#">
					<p class="text-center "><span>Nikhil Gupta</span><br>Sr. Tech Lead</p>
					<div class="team-social">
							<a href="https://www.linkedin.com/in/nikhil-gupta-6931069" target="_blank">
							<i class="fa fa-linkedin">&nbsp;</i>
							</a>
						</div>
					</div>
				</div>


			</div>

			</div>
		</div>




  <!-- team section end -->







	<!--div class="section_bg_gray">
	    <div class="container" style="padding:30px;">
			<div class="row">
				<div class="col-md-12">
				    <div class="ptb-50">
				        <h2 class="text-center">We work with</h2>
				    </div>
				</div>
			</div>
			<div class="row">
    			<div class="col-sm-4 col-md-3 ">
					<div class="single_what_we_do">
						<div class="top_line"></div>
						<div class="what_we_do_figure">
							<img src="http://mtechwebsoft.com/templates/himax/demo/images/what_we_do/2.png" alt="" class="img-responsive">
						</div>
						<h4 class="what_we_do_title">Nationalized & Private Banks</h4>
						<div class="what_we_do_content">Various financial institutions in India work with Eduloans and are able to, create awareness to the next generation of customersprovide services at there convenience. The centralized system reduces the processing time of the loan and Bank is able to provide timely feedback. They usually provide collateral based loan.</div>
						<a class="what_we_do_icon" href="/nationalizedPrivateBanks">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				 <div class="col-sm-6 col-md-3">
					<div class="single_what_we_do">
						<div class="top_line"></div>
						<div class="what_we_do_figure">
							<img src="http://mtechwebsoft.com/templates/himax/demo/images/what_we_do/2.png" alt="" class="img-responsive">
						</div>
						<h4 class="what_we_do_title">Non Banking Finance Corporation</h4>
						<div class="what_we_do_content">Eduloans works with leading NBFC who are authorized by RBI to provide Student loans. They undertake collateral and non collateral loans both which may be beneficial to the student. They also can undertake to provide funds in foreign currency.</div>
						<a class="what_we_do_icon" href="#">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				 <div class="col-sm-6 col-md-3">
					<div class="single_what_we_do">
						<div class="top_line"></div>
						<div class="what_we_do_figure">
							<img src="http://mtechwebsoft.com/templates/himax/demo/images/what_we_do/2.png" alt="" class="img-responsive">
						</div>
						<h4 class="what_we_do_title">International Funds</h4>
						<div class="what_we_do_content">Lorem ipsum dolor amet, consectetur adipiscing elit eiusmod.</div>
						<a class="what_we_do_icon" href="#">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="single_what_we_do">
						<div class="top_line"></div>
						<div class="what_we_do_figure">
							<img src="http://mtechwebsoft.com/templates/himax/demo/images/what_we_do/2.png" alt="" class="img-responsive">
						</div>
						<h4 class="what_we_do_title">US Banks</h4>
						<div class="what_we_do_content">Banks in home country of study offer student loans with valid co signors/guarantors in the region. Eduloans works very closely with banks and can look to provide you the loans from foreign banks that are very cost effective.</div>
						<a class="what_we_do_icon" href="#">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div-->



	<!-- <div class="special-section">

			<div class="col-md-12 special-info-column" style="text-align: center;">
			<h3>Our Loan Features</h3>
			<hr>
			</div>
            <div class="col-md-12 special-inner-section ">
				<div class="special-inner-columns">
					<div class="col-md-6 special-inner-column">
						<span class="glyphicon glyphicon-cog iconSP"></span>
						<h5>The Complete Education Loan (Including Tuition and Living)</h5>
						<p>We have been sending students to various Universities globally across for last 5 years and have observed that students sometimes fail to cover complete cost of education. We endeavor to provide through our financing options the total cost of study to the student.</p>
					</div>
					<div class="col-md-6 special-inner-column">
						<span class="glyphicon glyphicon-cog iconSP"></span>
						<h5>Most Flexible global/local Interest rates</h5>
						<p>We through our financing partners look to provide you the best available interest rates to reduce your overall cost of borrowing. We try to arrange loans in the most convenient currency of study and repayment to suite the profile of the candidates.</p>
					</div>
					<div class="clearfix"> </div>
					<div class="col-md-6 special-inner-column">
						<span class="glyphicon glyphicon-cog iconSP"></span>
						<h5>Convenient Mortgage-able Security</h5>
						<p>We try to find the most suitable solution to the security provided vis a vis thecredit profile of the student and guarantor. We use innovative financial solutions to ascertain risk profile of the student , which would be an advantage for the student.</p>
					</div>
					<div class="col-md-6 special-inner-column">
						<span class="glyphicon glyphicon-cog iconSP"></span>
						<h5>Least Remittance/Forex Charges</h5>
						<p>We are aggregators of remittances and provide hence are able to provide the most economical options for forex remittances.</p>
					</div>
				</div>

			</div>
			<div class="clearfix"> </div>
	</div> -->
  <!--Item slider text-->
  <!-- <div class="container">
    <div class="row" id="slider-text">
      <div class="col-md-6" >
        <h2>APPLICATION PROCESS</h2>
      </div>
    </div>
  </div> -->

  <!-- Item slider-->
<!--   <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
        <div class="carousel carousel-showmanymoveone slide" id="itemslider">
          <div class="carousel-inner">

            <div class="item active">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a href="#"><img src="http://www.eduloans.org/images/ico/online-application.png" class="img-responsive center-block"></a>
                <h4 class="text-center">STEP 1</h4>
                <h5 class="text-center">PQR</h5>
              </div>
            </div>

            <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a href="#"><img src="http://www.eduloans.org/images/ico/Application-Review.png" class="img-responsive center-block"></a>
                <h4 class="text-center">MAYORAL KOŠULJA</h4>
                <h5 class="text-center">4000,00 RSD</h5>
              </div>
            </div>

            <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a href="#"><img src="http://www.eduloans.org/images/ico/Provisional-Offer.png" class="img-responsive center-block"></a>
                <h4 class="text-center">PANTALONE TERI 2</h4>
                <h5 class="text-center">4000,00 RSD</h5>
              </div>
            </div>

            <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a href="#"><img src="http://www.eduloans.org/images/ico/Uploading-Your-Documents.png" class="img-responsive center-block"></a>
                <h4 class="text-center">CVETNA HALJINA</h4>
                <h5 class="text-center">4000,00 RSD</h5>
              </div>
            </div>

            <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a href="#"><img src="http://www.eduloans.org/images/ico/Disbursement.png" class="img-responsive center-block"></a>
                <h4 class="text-center">MAJICA FOTO</h4>
                <h5 class="text-center">4000,00 RSD</h5>
              </div>
            </div>

            <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a href="#"><img src="http://www.eduloans.org/images/ico/Study-And-Grace-Period.png" class="img-responsive center-block"></a>
                <h4 class="text-center">MAJICA MAYORAL</h4>
                <h5 class="text-center">4000,00 RSD</h5>
              </div>
            </div>

             <div class="item">
              <div class="col-xs-12 col-sm-6 col-md-2">
                <a href="#"><img src="http://www.eduloans.org/images/ico/Loan-Repayment.png" class="img-responsive center-block"></a>
                <h4 class="text-center">MAJICA MAYORAL</h4>
                <h5 class="text-center">4000,00 RSD</h5>
              </div>
            </div>

          </div>

          <div id="slider-control">
          <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://s12.postimg.org/uj3ffq90d/arrow_left.png" alt="Left" class="img-responsive"></a>
          <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://s12.postimg.org/djuh0gxst/arrow_right.png" alt="Right" class="img-responsive"></a>
        </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Item slider end-->







	<!--div id="team" class="pb-5">
	    <div class="container" style="text-align: left; padding-top:30px;">
	        <h5 class="section-title h1">OUR TEAM</h5>
	        <hr style="border-top: 1px solid #ddd;">
	        <div class="row">

	            <div class="col-xs-12 col-sm-6 col-md-4">
	                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
	                    <div class="mainflip">
	                        <div class="frontside">
	                            <div class="card">
	                                <div class="card-body text-center">
	                                    <p><img class=" img-fluid" src="images/Gursharn-Sawhney.jpg" alt="card image"></p>
	                                    <h4 class="card-title"><strong>Gursharn Sawhney</strong></h4>
	                                    <p class="card-text"><b>Chief Mentor cum Financial Specialist</b></p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="backside">
	                            <div class="card">
	                                <div class="card-body text-center mt-4">
	                                    <h4 class="card-title"><strong>Gursharn Sawhney</strong></h4>
	                                    <p class="card-text">He is a qualified chartered accountant from the institute of Chartered accountants and has over 25 years of experience in Finance. He is a qualified Company Secretary from the Institute of Company Secretaries of India</p>
	                                    <br>
	                                    <hr>
	                                    <ul class="list-inline">
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-facebook-f"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-twitter"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-skype"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-google-plus"></i>
	                                            </a>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xs-12 col-sm-6 col-md-4">
	                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
	                    <div class="mainflip">
	                        <div class="frontside">
	                            <div class="card">
	                                <div class="card-body text-center">
	                                    <p><img class=" img-fluid" src="images/banit.jpg" alt="card image"></p>
	                                    <h4 class="card-title"><strong>Banit Sawhney </strong></h4>
	                                    <p class="card-text"><b>CEO and Head Business Development</b></p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="backside">
	                            <div class="card">
	                                <div class="card-body text-center mt-4">
	                                    <h4 class="card-title"><strong>Banit Sawhney </strong></h4>
	                                    <p class="card-text">He is a Qualified Engineer and MBA in Marketing. He has global multinational banking experience coupled with 6 years in foreign educational counseling. He has sent over 1000 students abroad and has a wide network of counselors.</p>
	                                    <br>
	                                    <hr>
	                                    <ul class="list-inline">
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-facebook-f"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-twitter"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-skype"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-google-plus"></i>
	                                            </a>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xs-12 col-sm-6 col-md-4">
	                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
	                    <div class="mainflip">
	                        <div class="frontside">
	                            <div class="card">
	                                <div class="card-body text-center">
	                                    <p><img class=" img-fluid" src="images/herkiran.jpg" alt="card image"></p>
	                                    <h4 class="card-title"><strong>Harkiran Sawhney</strong></h4>
	                                    <p class="card-text"><b>Head Marketing &amp; Director of University Relations</b></p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="backside">
	                            <div class="card">
	                                <div class="card-body text-center mt-4">
	                                    <h4 class="card-title"><strong>Harkiran Sawhney</strong></h4>
	                                    <p class="card-text">A business graduate with over 5 years of experience in digital marketing. She has been instrumental in maintaining relations with universities abroad as well as manages marketing strategies for the company.</p>
	                                    <br>
	                                    <hr>
	                                    <ul class="list-inline">
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-facebook-f"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-twitter"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-skype"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-google-plus"></i>
	                                            </a>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xs-12 col-sm-6 col-md-4">
	                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
	                    <div class="mainflip">
	                        <div class="frontside">
	                            <div class="card">
	                                <div class="card-body text-center">
	                                    <p><img class=" img-fluid" src="images/hiren.jpg" alt="card image"></p>
	                                    <h4 class="card-title"><strong>Hiren Rathod</strong></h4>
	                                    <p class="card-text"><b>Head  Product Strategy</b></p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="backside">
	                            <div class="card">
	                                <div class="card-body text-center mt-4">
	                                    <h4 class="card-title"><strong>Hiren Rathod</strong></h4>
	                                    <p class="card-text">He is a Masters graduate from Clemson with over 6 years experience in guiding students to top universities </p>
	                                    <br>
	                                    <hr>
	                                    <ul class="list-inline">
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-facebook-f"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-twitter"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-skype"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-google-plus"></i>
	                                            </a>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xs-12 col-sm-6 col-md-4">
	                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
	                    <div class="mainflip">
	                        <div class="frontside">
	                            <div class="card">
	                                <div class="card-body text-center">
	                                    <p><img class=" img-fluid" src="images/gurpreet.jpg" alt="card image"></p>
	                                    <h4 class="card-title"><strong>Gurpreet Singh </strong></h4>
	                                    <p class="card-text"><b>Head Operations</b></p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="backside">
	                            <div class="card">
	                                <div class="card-body text-center mt-4">
	                                    <h4 class="card-title"><strong>Gurpreet Singh </strong></h4>
	                                    <p class="card-text">He is a Commerce Graduate, who has more than 15 years of experience, in the Financial Services Sector.He is very efficient &amp; heads a team of Education Guidance Counsellors, who are responsible to guide &amp; process Student Education Loans, in an efficient manner.</p>
	                                    <br>
	                                    <hr>
	                                    <ul class="list-inline">
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-facebook-f"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-twitter"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-skype"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-google-plus"></i>
	                                            </a>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xs-12 col-sm-6 col-md-4">
	                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
	                    <div class="mainflip">
	                        <div class="frontside">
	                            <div class="card">
	                                <div class="card-body text-center">
	                                    <p><img class=" img-fluid" src="images/esha.jpg" alt="card image"></p>
	                                    <h4 class="card-title"><strong>Esha Chakrawarthi</strong></h4>
	                                    <p class="card-text"><b>Honarary Consultant Legal</b></p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="backside">
	                            <div class="card">
	                                <div class="card-body text-center mt-4">
	                                    <h4 class="card-title"><strong>Esha Chakrawarthi</strong></h4>
	                                    <p class="card-text">She has over 6 years experience in corporate law specializing in M&amp;A, mortgage loans, financing documentation. She takes care of corporate agreements and financial closure.  </p>
	                                    <br>
	                                    <hr>
	                                    <ul class="list-inline">
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-facebook-f"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-twitter"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-skype"></i>
	                                            </a>
	                                        </li>
	                                        <li class="list-inline-item">
	                                            <a class="social-icon text-xs-center" target="_blank" href="#">
	                                                <i class="fab fa-google-plus"></i>
	                                            </a>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	        </div>
	    </div>
	</div>
</div-->

















<!-- <div id="content" class="">
	<section id="section-about-us-2" class="side-bg no-padding">
		<div class="image-container col-md-4 pull-left img_abt" data-delay="0"  ></div>
		<div class="container">
			<div class="row">
				<div class="inner-padding">
					<div class="col-md-8 col-md-offset-4 " data-animation="fadeInRight" data-delay="200">
						<h2>Our Story</h2>
						<p class="" style="text-align:justify;">
						Most in our team have studied abroad with the help of Education loan. All of us were excited about the dream university admits we received but were stressed out about the Loan eligibility and process.  It took like ages, seems we were fighting against the system etc. In most cases the branch managers seemed disinterested in processing the loan. They took repeat attempts at what was required, and delayed the prospect unnecessarily. 	</p>
						<p class="" style="text-align:justify;">After our studies when we choose to be student guidance counselors we were pained to see our students still facing the same tune as we faced - from un-cooperative and not updated bank recruits. Further, the students were not able to sense what are the best financial options they have to pursue their dream. </p>
						<p class="" style="text-align:justify;">With Edu-loans we at Imperial Overseas strive to provide a platform to students to avail the best possible source of financing in terms of cost, collateral and time to sanction the Loan. We have digitalized partly or completely the process for the loan. We also provide students the platform to showcase their story to avail the best possible financial option trying to get in investors through our carefully devised credit risk matrix. We wish our students the very best in there journey of self belief and we help them move closer to their goals. </p>
						<p class="" style="text-align:justify;">More Happy faces !!!</p>

						<h2>About Us</h2>
						<p class="" style="text-align:justify;">We are a comprehensive financing platform connecting educational aspirants with potential Financial Institutions, Investors and endowment Funds.  Our partners include Nationalized Banks, Non Banking Finance Corporations, Foreign Banks, Investors and University/Government Grants through Scholarship. We endeavor to provide the platform for you to choose the best financing options to finance your education with least hasslement.    </p>
						<p class="intro"><strong>We endeavorto provide every educational aspirant : </strong></p>
						<div class="col-lg-6">
							<ul class="nopadding">
								<li>The complete education loan (Including Tuition and Living) </li>
								<li>Most flexible global/local Interest rates, </li>
								<li>Convenient Mortgage-able Security,</li>
								<li>Least Remittance/forex Charges.</li>
							</ul>
						</div>
						<div class="clearfix"></div><br/>
						<p class="intro"> <strong>We work with :</strong>  </p>
						<div class="col-lg-6">
							<ul class="nopadding">
								<li>Nationalized Banks</li>
								<li>Non Banking Finance Corporation</li>
								<li>Foreign Banks( Non Indian)</li>
								<li>Debt Funds</li>
								<li>Investors</li>
								<li>University/Government Grants through Scholarships</li>
							</ul>
						</div>
						<div class="clearfix"></div>
						<p>&nbsp;</p>
						<h2>Our Loan Features</h2><p class="intro">The Complete Education Loan (Including Tuition and Living)</p>
						<p>We have been sending students to various Universities  globally across for last 5 years and have observed that students sometimes fail  to cover complete cost of education. We endeavor to provide through our  financing options the total cost of study to the student. </p>
						<p class="intro">Most Flexible global/local Interest rates</p>
						<p>We through our financing partners look to provide you the  best available interest rates to reduce your overall cost of borrowing. We try  to arrange loans in the most convenient currency of study and repayment to  suite the profile of the candidates. </p>
						<p class="intro">Convenient Mortgage-able Security</p>
						<p>We try to find the most suitable solution to the security  provided vis a vis thecredit profile of the student and guarantor. We use  innovative financial solutions to ascertain risk profile of the student , which  would be an advantage for the student.</p>
						<p class="intro">Least Remittance/Forex Charges</p>
						<p>We are aggregators of remittances and provide hence are able  to provide the most economical options for forex remittances</p>

						<h2>Financial Partners with Eduloans</h2>
						<p class="intro">Indian Banks </p>
						<p>Various financial institutions in  India work with Eduloans and are able to, create awareness to the next  generation of customersprovide services at there convenience. The centralized system  reduces the processing time of the loan and Bank is able to provide timely  feedback. They usually provide collateral based loan. </p>
						<p class="intro">Non Banking Finance Corporation</p>
						<p>Eduloans works with leading NBFC  who are authorized by RBI to provide Student loans. They undertake collateral  and non collateral loans both which may be beneficial to the student. They also  can undertake to provide funds in foreign currency. </p>
						<p class="intro">Foreign Banks</p><p>Banks in home country of study  offer student loans with valid co signors/guarantors in the region. Eduloans  works very closely with banks and can look to provide you the loans from  foreign banks that are very cost effective. </p>
						<p class="intro">Investors</p>
						<p>We provide funds to the students  by encouraging peer-to-peer lending on our platform. The automated underwriting  system assigns the risk Vs return to the education loan. We generally also take  small exposure in the loan to create  equitable mortgage and reduce delinquency ratio. </p>
						<p class="intro">University/Government Grants  through Scholarships</p>
						<p>We work very closely with  Universities and Government bodies, which provide scholarships to meritocratic  or underprivileged students. </p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section>
	<section id="section-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12 container-4">

					<div class="de-team-list">
						<div class="team-pic">
							<img src="images/Gursharn-Sawhney.jpg" class="img-responsive" alt="" />
						</div>
						<div class="team-desc col-md-12">
							<h3>Gursharn Sawhney</h3>
							<p class="lead">Chief Mentor cum Financial Specialist</p>
							<div class="small-border"></div>
							<p>He is a qualified chartered accountant from the institute of Chartered accountants and has over 25 years of experience in Finance. He is a qualified Company Secretary from the Institute of Company Secretaries of India</p>
						</div>
					</div>

					<div class="de-team-list">
						<div class="team-pic">
							<img src="images/banit.jpg" class="img-responsive" alt="" />
						</div>
						<div class="team-desc col-md-12">
							<h3>Banit Sawhney </h3>
							<p class="lead">CEO and Head Business Development</p>
							<div class="small-border"></div>
							<p>He is a Qualified Engineer and MBA in Marketing. He has global multinational banking experience coupled with 6 years in foreign educational counseling. He has sent over 1000 students abroad and has a wide network of counselors.</p>
						</div>
					</div>

					<div class="de-team-list">
						<div class="team-pic">
							<img src="images/herkiran.jpg" class="img-responsive" alt="" />
						</div>
						<div class="team-desc col-md-12">
							<h3>Harkiran Sawhney</h3>
							<p class="lead">Head Marketing &amp; Director of University Relations</p>
							<div class="small-border"></div>
							<p>A business graduate with over 5 years of experience in digital marketing. She has been instrumental in maintaining relations with universities abroad as well as manages marketing strategies for the company.</p>
						</div>
					</div>

					<div class="de-team-list">
						<div class="team-pic">
							<img src="images/hiren.jpg" class="img-responsive" alt="" />
						</div>
						<div class="team-desc col-md-12">
							<h3>Hiren Rathod</h3>
							<p class="lead">Head  Product Strategy</p>
							<div class="small-border"></div>
							<p>He is a Masters graduate from Clemson with over 6 years experience in guiding students to top universities </p>
						</div>
					</div>

					<div class="clearfix"></div>

					<div class="de-team-list">
						<div class="team-pic">
							<img src="images/dipesh.jpg" class="img-responsive" alt="" />
						</div>
						<div class="team-desc col-md-12">
							<h3>Dipesh Sejpal</h3>
							<p class="lead">Technology Consultant</p>
							<div class="small-border"></div>
							<p>Having experienced technology development at a very early stage, Dipesh has gone on to form what can only be pictured as a perfect example of tech solutions scaling to greater heights at any organizational level.</p>
						</div>
					</div>

					<div class="de-team-list">
						<div class="team-pic">
							<img src="images/rahul.jpg" class="img-responsive" alt="" />
						</div>
						<div class="team-desc col-md-12">
							<h3>Rahul Mittal</h3>
							<p class="lead">Technology Consultant</p>
							<div class="small-border"></div>
							<p>With a sharp understanding of creating bespoke online entities to showcase businesses around the world, Rahul's zest for pushing businesses to increase their online business was utilised most effectively in providing comprehensive web-based online solutions.</p>
						</div>
					</div>

					<div class="de-team-list">
						<div class="team-pic">
							<img src="images/gurpreet.jpg" class="img-responsive" alt="" />
						</div>
						<div class="team-desc col-md-12">
							<h3>Gurpreet Singh</h3>
							<p class="lead">Head Operations</p>
							<div class="small-border"></div>
							<p>He is a Commerce Graduate, who has more than 15 years of experience, in the Financial Services Sector.He is very efficient &amp; heads a team of Education Guidance Counsellors, who are responsible to guide &amp; process Student Education Loans, in an efficient manner.</p>
						</div>
					</div>

					<div class="de-team-list">
						<div class="team-pic">
							<img src="images/esha.jpg" class="img-responsive" alt="" />
						</div>
						<div class="team-desc col-md-12">
							<h3>Esha Chakrawarthi</h3>
							<p class="lead">Honarary Consultant Legal </p>
							<div class="small-border"></div>
							<p>She has over 6 years experience in corporate law specializing in M&amp;A, mortgage loans, financing documentation. She takes care of corporate agreements and financial closure.  </p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="view-all-projects" class="text-center" style="background-image:url(/images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
	    <span>Have Additional Questions ?</span><br/>
	    <p>Visit our support page to get your questions answered</p>
	    <a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
	</section>

	<footer style="color:#000;">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-4">
	                <ul style="text-transform:uppercase; list-style-type:none; color:#000;">
	                    <li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
	                    <li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
	                    <li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
	                    <li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
	                    <li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
	                    <li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
	                </ul>
	            </div>

	        </div>
	    </div>
	    <div class="subfooter">
	        <div class="container">
				<div class="row">
					<div class="col-md-6" style="color:#fff;margin-top: 5px;">
						© Copyright 2017 - Eduloans | Powered By : <a href="http://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
					</div>
					<div class="col-md-6 text-right">
						<div class="social-icons">
							<a href=""><i class="fa fa-facebook fa-lg"></i></a>
							<a href=""><i class="fa fa-twitter fa-lg"></i></a>
							<a href=""><i class="fa fa-linkedin"></i></a>
							<a href=""><i class="fa fa-google-plus fa-lg"></i></a>
						</div>
					</div>
				</div>
	        </div>
	    </div>
	</footer>
</div> -->

<!--script type="text/javascript">
	function init_de(){
		jQuery('.de-team-list').each(function(){
			jQuery(this).find("img").on('load', function() {
				var w = jQuery(this).css("width");
				var h = jQuery(this).css("height");

				jQuery(this).parent().parent().find(".team-pic").css("height",h);
				jQuery(this).parent().parent().find(".team-desc").css("width",w);
				jQuery(this).parent().parent().find(".team-desc").css("height",h);
				jQuery(this).parent().parent().find(".team-desc").css("top",h);
			})
			.each(function() {
				if(this.complete) $(this).load();
			});
		});

		jQuery(".de-team-list").on("mouseenter", function () {
			var h;
			h = jQuery(this).find("img").css("height");
			jQuery(this).find(".team-desc").stop(true).animate({'top': "0px"},350,'easeOutQuad');
			jQuery(this).find("img").stop(true).animate({'margin-top': "-100px"},400,'easeOutQuad');
		})
		.on("mouseleave", function () {
			var h;
			h = jQuery(this).find("img").css("height");
			jQuery(this).find(".team-desc").stop(true).animate({'top': h},350,'easeOutQuad');
			jQuery(this).find("img").stop(true).animate({'margin-top': "0px"},400,'easeOutQuad');
		})

		jQuery('.overlay').fadeTo(1, 0);
	}
	init_de();

    $(document).ready(function(){

        $('#itemslider').carousel({ interval: 4000 });

            $('.carousel-showmanymoveone .item').each(function(){
            var itemToClone = $(this);

            for (var i=1;i<4;i++) {
            itemToClone = itemToClone.next();

            if (!itemToClone.length) {
            itemToClone = $(this).siblings(':first');
            }

            itemToClone.children(':first-child').clone()
            .addClass("cloneditem-"+(i))
            .appendTo($(this));
            }
        });
    });

// ///////DIVCL/////////////
$(document).ready(function() {
  $('.has-animation').each(function(index) {
    $(this).delay($(this).data('delay')).queue(function(){
      $(this).addClass('animate-in');
    });
  });
});
</script-->
