<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Application Process</h1>
                <ul class="crumb">
                    <li><a href="#" onclick="window.location.href='/';">Home</a></li>
					<li class="sep">/</li>
                    <li><a href="/faq">FAQ's</a></li>
                    <li class="sep">/</li>
                    <li>Application Process</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="section-testimonial" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="us-related" data-animation="fadeInRight" data-delay="200">
                <div class="col-md-4">
                    <div class="bs-example" style="text-align:justify;">
                        <div class="panel-group" id="accordionleft">
	                       <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/others">General FAQ's</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/process">Application Process</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/review">Application Review</a>
                                    </h4>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/offer">Provisional Offer</a>
                                    </h4>
                                </div>

                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/upload-document">Providing Your Documents</a>
                                    </h4>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/disbursement">Disbursement</a>
                                    </h4>
                                </div>

                            </div>

                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/study-and-grace">Study And Grace Period</a>
                                    </h4>
                                </div>

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/repayment">Loan Repayment</a>
                                    </h4>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-8 " data-animation="fadeInRight" data-delay="200">
                    <div class="bs-example">
                        <h4><strong>Application Process FAQ’s </strong></h4>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-click="accordion.current = 'accordian_1'">
                                        <h4 class="panel-title">
                                            <a>1. Who is eligible to apply for an Eduloans?</a>
                                        </h4>
                                    </div>
                                    <div ng-show="accordion.current == 'accordian_1'" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>To be eligible to receive a loan from Eduloans, you must hold an offer or Intend to study in a university approved by Eduloans or Associate Financial Institution, for an applicable study program</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-click="accordion.current = 'accordian_2'">
                                        <h4 class="panel-title">
                                            <a>2. What are the types of education Loan available on the platform? </a>
                                        </h4>
                                    </div>
                                    <div ng-show="accordion.current == 'accordian_2'" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>We have various types of loan availability on the platform: </p>
                        					<p><strong>A) Indian Banks </strong><br/>Various financial institutions in India work with Eduloans and are able to, create awareness to the next generation of customers provide services at there convenience. The centralized system reduces the processing time of the loan and Bank is able to provide timely feedback. They usually provide collateral based loan. </p>
                                        	<p><strong>B) Non Banking Finance Corporation</strong><br/>Eduloans works with leading NBFC who are authorized by RBI to provide Student loans. They undertake collateral and non-collateral loans both that may be beneficial to the student. They also can undertake to provide funds in foreign currency. </p>
                        					<p><strong>C) Foreign Banks</strong><br/>Banks in home country of study offer student loans with valid co signors/guarantors in the region. Eduloan’s works very closely with banks and can look to provide you the loans from foreign banks that are very cost effective. </p>
                        					<p><strong>D) Investors</strong><br/>We provide funds to the students by encouraging peer-to-peer lending on our platform. The automated underwriting system assigns the risk Vs return to the education loan. We generally also take small exposure in the loan  to create equitable mortgage and reduce delinquency ratio.  </p>
                        					<p><strong>E) University/Government Grants through Scholarships</strong><br/>We work very closely with Universities and Government bodies, which provide scholarships to meritocratic or underprivileged students. </p>
                        				</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-click="accordion.current = 'accordian_3'">
                                        <h4 class="panel-title">
                                            <a>3. How does the Application Process work ?</a>
                                        </h4>
                                    </div>
                                    <div ng-show="accordion.current == 'accordian_3'" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>We request you to visit the “Get a Loan” section of Eduloans.co.in. Please go to the Get a Loan section wherein we would provide you options of types of loans and financial partners. You may look at one or many options together. You would be provided a login ID and would be able to fill up your particulars and upload necessary documents.  Once uploaded your application will automatically be sent to our or our partners credit team for review</p>
                                        </div>
                                    </div>
                                </div>
                        		<div class="panel panel-default">
                                    <div class="panel-heading" ng-click="accordion.current = 'accordian_4'">
                                        <h4 class="panel-title">
                                            <a>4. Can I apply when I have not yet received an Admit from the college?</a>
                                        </h4>
                                    </div>
                                    <div ng-show="accordion.current == 'accordian_4'" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>Its mandatory to receive confirmed admit from the college before applying for the Loan. The credit review team at EDULOANS or Financial Partners looks at the college admits before proceeding on the loan application. </p>
                                        </div>
                                    </div>
                                </div>
                        		<div class="panel panel-default">
                                    <div class="panel-heading" ng-click="accordion.current = 'accordian_5'">
                                        <h4 class="panel-title">
                                            <a>5. I am facing technical issues while filling up the form? Whom do I call at EduLoans ?</a>
                                        </h4>
                                    </div>
                                    <div ng-show="accordion.current == 'accordian_5'" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>You are requested to call<br/>
                                                <strong>Gurpreet Singh </strong> - +91 9004082734<br/>
                                                <strong> Rahul Mittal</strong>  -      +91 9820920525 <br/>
                                                <strong>Dipesh Sejpal  </strong>  -   +91 9819788868<br/>
                                                <strong>Banit Singh </strong>    -      +91 9819119363 <br/>
                                                or drop in a mail at info@eduloans.co.in
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        		<div class="panel panel-default">
                                    <div class="panel-heading" ng-click="accordion.current = 'accordian_6'">
                                        <h4 class="panel-title">
                                            <a>6. Do I require a GMAT/GRE Score?  </a>
                                        </h4>
                                    </div>
                                    <div ng-show="accordion.current == 'accordian_6'" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>If the GMAT/GRE field is compulsory, this means that your financial partner requires a GMAT/GRE (or a similar score) for validation of your proposal. Your status would show incomplete until you fill the required mandatory fields required by your financial institutions. </p>
                                        </div>
                                    </div>
                                </div>
                        		<div class="panel panel-default">
                                    <div class="panel-heading" ng-click="accordion.current = 'accordian_7'">
                                        <h4 class="panel-title">
                                            <a>7. What is the alternative for proof of address which is not six months old ?</a>
                                        </h4>
                                    </div>
                                    <div ng-show="accordion.current == 'accordian_7'" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>You will need to provide a more recent document dated within the last 6 months, such as a recent bank or credit card statement, or utility bill.</p>
                                        </div>
                                    </div>
                                </div>
                        		<div class="panel panel-default">
                                    <div class="panel-heading" ng-click="accordion.current = 'accordian_8'">
                                        <h4 class="panel-title">
                                            <a>8. Can I fill my application with multiple attempts?</a>
                                        </h4>
                                    </div>
                                    <div ng-show="accordion.current == 'accordian_8'" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>The form that you have filled can get saved and you can revisit your application at a later date. You would not be asked to change your application once the status shows complete or submitted to your financial institution. Ensure you press save as button when exiting the form. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
				</div>
			</div>

        </div>
    </div>
</section>
<section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
    <span>Have Additional Questions ?</span><br/>
    <p>Visit our support page to get your questions answered</p>
    <a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
</section>

<!-- footer begin -->
<footer style="color:#000;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul style="text-transform:uppercase; list-style-type:none; color:#000;">
                    <li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
                    <li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
                    <li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
                    <li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
                    <li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
                    <li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <ul style="text-transform:uppercase;">
                        <li> <strong>Registered Office :</strong><br>
                            Office no 32/33, 2nd Floor,<br>
                            Dheeraj Heritage, Santacruz (W)<br>
                            Telephone: +91 22 26605549 <br>
                            Mobile : +91 98191 19363 / +91 91676 63090<br>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget-address">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="color:#fff;margin-top: 5px;">
                    © Copyright 2017 - Eduloans | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
                </div>
                <div class="col-md-6 text-right">
                    <div class="social-icons">
                        <a href=""><i class="fa fa-facebook fa-lg"></i></a>
                        <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-google-plus fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->
