<style>
tr:hover {
    /* border:2px solid #ddd; */
    background-color: #eee!important;
}
/*.act{
    background : #dac9c9!important;
}*/
</style>
<!-- Content Wrapper. Contains page content -->
<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header ">
        <h1>Students</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Students</li>
        </ol>
    </section>
    <!-- Main content -->
    <div class="container-fluid no-pad">

            <div class="col-lg-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">Applied Students List</h3>
                    </div>
                    <div class="box-body">
                      <span > Total No - <b>{{ tableParamsStudentList.total() }}</b></span>
                        <table ng-table="tableParamsStudentList" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">
                               <!--  <td ng-if="type != 'allleads'"><input type="checkbox" ng-model="checkedvalue" ng-change="selectEntity(value, checkedvalue)"></td> -->
                                <!--td title="'Student Id'" filter="{lead_id: 'number'}" sortable="'lead_id'"><a href="/student/{{value.lead_id}}/product/0" target="_blank">{{value.lead_id}}</a></td-->
                               <!--  <td title="'Student id'" filter="{ student_id: 'number'}" sortable="'student_id'" ng-if="!isEditable" style="display: none;"><a href="" target="_blank" ><input type="text" class="col-md-12" ng-model="value.id"/></a></td> -->

                                <td title="'Student Name'" filter="{ customer_name: 'text'}" sortable="'customer_name'" ng-if="!isEditable"><a href="" target="_blank" ><input type="text" class="col-md-12" ng-model="value.id" style="display: none;" />{{value.customer_name}}</a></td>
                               
                                <td title="'Email'" filter="{ student_email: 'text'}" sortable="'student_email'">{{value.student_email}}</td>

                                <td title="'Mobile'" filter="{ student_mobile: 'number'}" sortable="'student_mobile'">{{value.student_mobile}}</td>

                                <td title="'Course'" filter="{ course_name: 'number'}" sortable="'course_name'">{{value.course_name}}</td>

                                <td title="'University'" filter="{ university_name: 'text'}" sortable="'university_name'">{{value.university_name}}</td>

                                <td title="'Country'" filter="{ country_name: 'number'}" sortable="'country_name'">{{value.country_name}}</td>

                                <td title="'Offer Amount'" filter="{offer_amount: 'number'}" sortable="'offer_amount'">{{value.offer_amount}}</td>

                                <!-- <td title="'Approved Amount'" ng-if="!value.isEditable" filter="{ amount_approved: 'number'}" sortable="'amount_approved'">{{value.amount_approved}}</td>

                                <td title="'Approved Amount'" ng-if="value.isEditable" filter="{ amount_approved: 'number'}" sortable="'amount_approved'"> <input type="text" class="col-md-12" ng-model="value.amount_approved"/></td> -->

                                <td title="'Availed Offer'" ng-if="!value.isEditable" filter="{ offer_confirmation: 'text'}" sortable="'offer_confirmation'">{{value.offer_confirmation}}</td>

                                <td title="'Offer_Confirmation'" ng-if="value.isEditable" >
                                  <select class="form-control" name="offer_confirmation_id" id="offer_confirmation_id"  ng-model="value.offer_confirmation_id" >
                                      <option value="" >Select Status</option>
                                      <option value="YES" id="YES">YES</option>
                                      <option value="NO" id="NO">NO</option>
                                  </select>
                                </td>

                                <td><button ng-if="!value.isEditable" ng-click="editData(value)" class="btn btn-info">Edit</button></td>
                                <td title="'Application Actions'"><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="saveOfferData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>

                                <td><button ng-click="" class="btn btn-md btn-info">Send Confirmation</button></td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>

    </section>
</div>
