<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


<style type="text/css">
      
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900);
    @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
    
    body{
      margin:0;
      padding:0;
      background: #fff;
      box-sizing: border-box;
    }

    .container{
      width:1200px;
      padding-left:15px;
      margin-left: auto;
        margin-right: auto;
        padding-right:15px;
        display: table;
    } 

    .container-fluid{
      width:100%;
      padding-right: 0;
            padding-left: 0;
    }

    .container:before{display: table-cell;content: " ";}
    .container-fluid:before{display: table-cell;content: " ";}

    .row{
      margin-left:-15px;
      margin-right:-15px;
    }

    .col-md-6{
      position: relative;
      display: block;
      float: left;
      width:50%;                
    }

    .full_width_photo{
      position: relative;
      padding:0;
      margin: 0;
      height:400px;     
      background: url(https://static.pexels.com/photos/7102/notes-macbook-study-conference.jpg) center center no-repeat;
      background-size: cover;
    }

    .full_width_photo .page-title{
      position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        box-sizing: inherit;
    }

    .full_width_photo .title h4{
      font-family: Raleway;
      display: inline-block;    
        position: relative;
      font-size: 36px;
      color:#fff;
      text-transform: uppercase;
      margin:0;
      padding:30px 0 0 0;
      font-weight:900;
      background-color: #282874;
        min-width: 300px;
        padding-right: 10px;
        z-index: 2;
    }

    .title{
      position: relative;
      background: linear-gradient(to right, #282874 0%, #282874 25%, transparent 25%, transparent 100%);
    }

    .title h4:after {
        background: linear-gradient(to top right, #282874 0%, #282874 50%, transparent 50%, transparent 100%);
        content: '';
        width: 72px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -72px;
    }

    .bg-gray{
      background:#282874;
    }

    p{
      font-family: lato;
      text-transform: uppercase;;
      color:#111;
      padding:0 0 20px 0;
      margin:0; 
      color:#fff;   
    }

    .detail{
      padding: 40px 0 0 0;
    }

    .detail p{
      font-size: 14px;
      color:#333;
      text-transform: lowercase;
    }

    .img-responsive{
      width:100%;
      height: auto;
      background-size: 100% 100%;
    }

</style>

<div class="container-fluid" style="padding: 0px!important;">
    <div class="full_width_photo parallax-window transparent">
      <div class="page-title">
        <div class="title">
          <div class="container">     
            <h4>Heading Here</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-gray" style="padding: 0px!important;">
    <div class="col-md-6">     
      <h1 style="color: white" >Blog Post Title</h1>
                <p class="lead"><i class="fa fa-user"></i> by <a href="">Super User</a>
                </p>
                <hr>
                <p><i class="fa fa-calendar"></i> Posted on August 24, 2018 at 9:00 PM</p>
    </div>
    <div class="row float-right">
          <h2><a href="/allBlogs" style="color: white">Read More Blogs..</a></h2>
    </div>
  </div>
  <div class="container">
    <div class="detail">
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-6">
        <img src="https://www.cdn.renault.com/content/dam/Renault/IN/Renault-Finance/renault-finance.jpg.ximg.s_12_h.smart.jpg" class="img-responsive" alt="image" />
      </div>
    </div>
  </div>
