<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Register with Eduloans</h1>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid yellowbg hidden-xs">
	<div class="container">
		<div class="row overview-students">
			<div class="col-md-4 text-center">
				<h4>2,784</h4>
				<h5>Students on Platform</h5>
			</div>
			<div class="col-md-4 text-center">
				<h4>456</h4>
				<h5>Student Loans Sanctioned</h5>
			</div>
			<div class="col-md-4 text-center">
				<h4>&#8360; 4,901</h4>
				<h5>Amount of Loans Sanctioned</h5>
			</div>
			<!--div class="col-md-4 w20 text-center">
				<h4>500</h4>
				<h5>Cash Backs Offered</h5>
			</div>
			<div class="col-md-4 w20 text-center">
				<h4>&#8360; 50500</h4>
				<h5>Cash Backs Given to Students</h5>
			</div-->
		</div>
	</div>
</div>


<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->

<style>
.about-inner-column h4 {
    font-size: 2.5em;
	margin-top:0px;
}

@media (min-width: 992px){
.about-inner-column {
    padding-left:30px;

	}
}

#studentModal .modal-content {
    background-color: #ffffff;
    color: #000000;
    padding: 0px;
}
#studentModal .close {
   color: #000!important;
   opacity:1!important;
}
#studentModal button.btn-primary {
    background-color: #004b7a;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
    border: 0px;
	margin-left:10px;

}
#studentModal.modal {
top:100px;
}
#studentModal .popModal_footer{
padding-top:20px;
}

</style>

<section>
<div class="container">
<div class="row">
<div class="col-md-6" style="text-align: justify;">
<p>Eduloans is a free Platform where students looking for Education Loan can compare all options and dedicated loan counsellors Will guide and help execute the best loan based in Your profile.</p>
<p>Eduloans is a sister concern of Imperial and owing to that we are providing Imperial students who are attending this seminar  a <b>Cash back offer of INR 2000</b> on successful disbursement from any of our channel partners when you apply through Eduloans.</p>
<p>You are requested to put your details in the form below and Imperial/Eduloans team will reach out to you for the loan process.</p>
<p>As well we would be glad if you would like to refer us a friend who has not yet started applying for Education loan and is a Non imperial student. <b>We would be giving you and your friend a cash back of INR 1000 each. Kindly refer them in next 15 days to avail the cash back.</b></p>
<p>&nbsp;</p>

</div>


<div class="col-md-6 about-inner-column" >

		<!--button class="btn btn-primary" href="" style="float:right;">Refer a friend</button-->

		 <h4>Register with us!</h4>
		 <p>Reach out to us by filling the form below and we will get in touch with you.</p>
		 <hr>


		<form class="row" action="" method="post">

			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Title *</label>
               <select class="form-control" name="title" ng-init="title = '0'" ng-model="title" ng-required="1">
                    <option value="0">Please Select</option>
                    <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
                </select>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">First Name *</label>
			   <input class="form-control" name="firstname" id="firstname" ng-model="first_name"  ng-required="1" >
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Last Name *</label>
			   <input class="form-control" name="lastname" id="lastname" ng-model="last_name"  ng-required="1" >
			</div>

			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Email *</label>
			   <input class="form-control" name="email" id="email" ng-model="email" ng-required="1" ng-blur="checkUser()">
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Mobile Number *</label>
			   <input class="form-control" name="mobile"  id="mobile" ng-model="mobile" ng-required="1" ng-blur="checkUser()">
			</div>
            <div class="col-md-12 col-sm-12 form-group" id="show-otp">
			<label for="" class="control-label">OTP *</label>
			   <input class="form-control" name="otp" id="otp" ng-model="otp" ng-required="1" ng-blur="verifyOTP()">
			</div>
            <div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Password *</label>
			   <input type="password" class="form-control" name="password"  id="password" ng-model="password" ng-required="1">
			</div>
			<div class="col-md-12 col-sm-12 form-group">
				<label for="" class="control-label">City *</label>
                <angucomplete-alt id="ex2" pause="300" selected-object="city_id" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight"></angucomplete-alt>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Month of Intake</label>
                <select class="form-control" name="intake_month" ng-init="intake_month = '0'" ng-model="intake_month">
                    <option value="0">Please Select</option>
                    <option ng-repeat="option in intakeMonths" value="{{option.id}}">{{option.display_name}}</option>
               </select>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Year of Intake</label>
                <select class="form-control" name="intake_year" ng-init="intake_year = '0'" ng-model="intake_year">
                    <option value="0">Please Select</option>
                    <option value="{{present}}">{{present}}</option>
                    <option value = "{{next}}">{{next}}</option>
                    <option value = "{{future}}">{{future}}</option>
               </select>
			</div>
            <input type="hidden" ng-model="partner_type" ng-init="partner_type='student'">
		 <div class="col-md-12 col-sm-12 form-group">
			<input type="button" class="btn btn-primary" value="Submit" id="submit-button" ng-click="register('Borivali')">
		 </div>
	  </form>

</div>
</div>
<!-- popup modal begin -->
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal Title</h4>
          </div>
          <div class="modal-body">
            <h3>Modal Body</h3>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="forgotPassword()" style="float:left;">Forgot Password</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!--button type="button" class="btn btn-info">Save changes</button-->
          </div>
        </div>
      </div>
    </div>
<!-- popup modal end -->
</div>
</section>
