<!-- content begin -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>COMMUNITY</h1>
                <ul class="crumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="sep">/</li>
                    <li>COMMUNITY</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="section-testimonial" class="text-light">
    <div class="container">
        <div id="testimonial-carousel" class="de_carousel  wow fadeInUp" data-wow-delay=".3s" style="display: block; width: 1141px;">

            <div class="col-md-6">
                <div class="de_testi">
                    <blockquote>
                        <p>IWith the valuable guidance of edu-loans, I applied for loan to the US banks. I succeeded in getting a loan from Discover at an interest rate less then 4%. I would really like to thank Banit sir for his help and guidance throughout the process and I wish him and edu-loans success.</p>
                        <div class="de_testi_by">
                           Raj Mehta
                        </div>
                    </blockquote>

                </div>
            </div>

            <div class="col-md-6">
                <div class="de_testi">
                    <blockquote>
                        <p>Dear Eduloan, Thank you all of you for helping and being there for me throughout the tedious process. It was so much easier with your guidance and support. You people rock!! Wish you all the best.</p>
                        <div class="de_testi_by">
                            Nehali Mhatre
                        </div>
                    </blockquote>
                </div>
            </div>




        </div>
		<div id="testimonial-carousel" class="de_carousel  wow fadeInUp" data-wow-delay=".3s" style="display: block;">

            <div class="col-md-6 ">
                <div class="de_testi">
                    <blockquote>
                        <p>you people made the application process so simple, that we hardly had to worry about anything. The amazing journey from COUNSELORS to FRIENDS is worth remembering. Cheers to you people!</p>
                        <div class="de_testi_by">
                           Nahush Kulkarni
                        </div>
                    </blockquote>

                </div>
            </div>

            <div class="col-md-6 ">
                <div class="de_testi">
                    <blockquote>
                        <p>A mighty thank you for the whole Eduloan team for the amazing support and guidance. You made the scary process of preparing for studies in another country seem like a cakewalk. Looking forward for a lifetime of friendship!</p>
                        <div class="de_testi_by">
                           Utkarsh Thakkar
                        </div>
                    </blockquote>
                </div>
            </div>




        </div>
    </div>
</section>
<section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
    <span>Have Additional Questions ?</span><br/>
    <p>Visit our support page to get your questions answered</p>
    <a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
</section>

<!-- footer begin -->
<footer style="color:#000;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul style="text-transform:uppercase; list-style-type:none; color:#000;">
                    <li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
                    <li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
                    <li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
                    <li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
                    <li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
                    <li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <ul style="text-transform:uppercase;">
                        <li> <strong>Registered Office :</strong><br>
                            Office no 32/33, 2nd Floor,<br>
                            Dheeraj Heritage, Santacruz (W)<br>
                            Telephone: +91 22 26605549 <br>
                            Mobile : +91 98191 19363 / +91 91676 63090<br>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget-address">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="color:#fff;margin-top: 5px;">
                    © Copyright 2017 - Eduloans | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
                </div>
                <div class="col-md-6 text-right">
                    <div class="social-icons">
                        <a href=""><i class="fa fa-facebook fa-lg"></i></a>
                        <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-google-plus fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->
