

<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->

</section>
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/contact-bg.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Contact Us</h1>
            <!--ul class="crumb">
               <li><a href="index.php">Home</a></li>
               <li class="sep">/</li>
               <li>Contact Us</li>
               </ul-->
         </div>
      </div>
   </div>
</section>
<section>
   <div class="container">
      <div class="row">
         <div id="sidebar" class="col-md-6">
            <div class="widget widget_text" style="margin-bottom: 0px;">
               <h3>Corporate Office <span>(USA)</span></h3>
               <address>
                  <!--<span>1500 Broadway, Suite 1603, New York, New York 10036</span>-->
                  <span>580 California St, Suite 1200, San Francisco, CA, 94104. </span>
                  <span><strong>Tel:</strong>+1 347 328 8189 / +1 347 5785311</span>
                  <!--<span><strong>Principal Address:</strong></span>
                  <span>1407, Peachtree Ln, Mishawaka, LA 46545. </span>-->
               </address>
            </div>
            <div class="widget widget_text" style="margin-bottom: 0px;">
               <h3>Head & Regional Office <span> (Indian Subcontinent)</span></h3>
               <address>
                  <span>Office no 32/33, 2nd Floor, Dheeraj Heritage, S.V. Road, Santacruze (W), Mumbai 400050</span>
                  <span><strong>Tel:</strong>+91 9004082734 / +91 9819919363</span>
               </address>
            </div>
            <div class="widget widget_text" style="margin-bottom: 0px;">
               <h3>Regional Office  <span>(South East Asia)</span></h3>
               <address>
                  <span>1, Coleman Street, The Adelphi, #05 -06 A, Singapore - 179803</span>
                  <span><strong>Tel:</strong>+65 97650979</span>
               </address>
            </div>
            <div class="widget widget_text" style="margin-bottom: 0px;">
               <h3>Regional Office  <span>MENA & Africa</span></h3>
               <address>
                  <span>817, Emirates Islamic Building RAK, UAE , PO Box: 37655</span>
                  <span><strong>Tel:</strong>+9715 08585454</span>
               </address>
            </div>
         </div>
         <div class="col-md-6">
            <div class="flat-title style1 center">
               <h2>How can we help you?</h2>
            </div>
            <form name="sentMessage" id="contactForm" novalidate="">
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Name *" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                  <p class="help-block text-danger"></p>
               </div>
               <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your Email *" id="email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false">
                  <p class="help-block text-danger"></p>
               </div>
               <div class="form-group">
                  <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required="" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
               </div>
               <div class="form-group">
                  <textarea class="form-control" placeholder="Your Message *" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
               </div>
               <div id="success"></div>
               <button type="submit" class="btn-primary">Send Message</button>
            </form>
         </div>
         <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container -->
</section>
<section style="margin:0px;padding:0px;margin-bottom:-8px;">
   <div class="container-fluid" style="margin:0px;padding:0px;">
      <div class="row">
         <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
      </div>
   </div>
</section>
<section id="view-all-projects" class="text-center supportbar" style="background-color:#f8951d;" data-speed="5" data-type="background">
   <div class="row">
                              <label>
                                  <input type="checkbox" name="educationLoan" 
                                         value="educationLoan" id="checkbox1"> Education Loan</label>
                             
                           </div>
                            <div id="educationLoan">
                              <strong>Education Loan</strong>
                              is a procedural programming language
                            </div>
   <p>Have Additional Questions ?</p>
   <p>Visit our <a href="/faq">support page</a> to get your questions answered</p>
   <!--a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a-->
</section>
<!--ul style="text-transform:uppercase;">
   <li> <strong>Registered Office :</strong><br>
       Office no 32/33, 2nd Floor,<br>
       Dheeraj Heritage, Santacruz (W)<br>
       Telephone: +91 22 26605549 <br>
       Mobile : +91 98191 19363 / +91 91676 63090<br>
   </li>
   </ul>
   <div class="widget widget-address">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div-->

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#checkbox1').change(function(){
      alert("checked");
        if(this.checked)
            $('#educationLoan').fadeIn('slow');
        else
            $('#educationLoan').fadeOut('slow');

    });
});
</script>