<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Countries</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>



<!-- content begin -->
<style>
/* Tabs panel */
.tabbable-panel {
  /*border:1px solid #eee;*/
  padding: 0px;
  margin:30px 0px;
}
.tabbable-panel p {
margin:10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
  text-align:center;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fddfbb;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f8951d;
  position: relative;
  text-align:center;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}




.accordion {
  margin: 10px;
}
.accordion dt, .accordion dd {
  margin: 10px 0px;
  /*border: 1px solid black;
  border-bottom: 0;*/
}
.accordion dt:last-of-type, .accordion dd:last-of-type {
  /* border-bottom: 1px solid black; */
}
.accordion dt a, .accordion dd a {
  display: block;
  color: black;
  font-weight: bold;
  background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ddd;
}
.accordion dd {
  border-top: 0;
  /*font-size: 12px;*/
}
.accordion dd:last-of-type {
  border-top: 1px solid white;
  position: relative;
  top: -1px;
}
a {
  text-decoration: none;
}


</style>


<div class="container">
    <div class="row">
		<div class="col-md-12">

			<div class="tabbable-panel">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active">
							<a data-target="#usa" data-toggle="tab">
							<img src="images/country-icons/usa.png"><br> USA</a>
						</li>
						<li>
							<a data-target="#canada" data-toggle="tab">
							<img src="images/country-icons/canada.png"> <br>Canada</a>
						</li>
						<li>
							<a data-target="#australia" data-toggle="tab">
							<img src="images/country-icons/aus.png"> <br>Australia</a>
						</li>
						<li>
							<a data-target="#newzealand" data-toggle="tab">
							<img src="images/country-icons/nz.png"><br> New Zealand </a>
						</li>
						<li>
							<a data-target="#germany" data-toggle="tab">
							<img src="images/country-icons/ger.png"> <br>Germany</a>
						</li>
						<li>
							<a data-target="#uk" data-toggle="tab">
							<img src="images/country-icons/uk.png"> <br>United Kingdom</a>
						</li>
						<li>
							<a data-target="#singapore" data-toggle="tab">
							<img src="images/country-icons/singapore.png"><br> Singapore</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="usa">
							<p>USA EDUCATION SCENARIO</p>
							<p>USA is home to over 4000 institutions of higher learning. Institutions in USA are classified by Carnegie classification and are broadly divided into liberal arts Colleges, associate degree colleges and Universities. Universities are generally degree awarding bodies both Undergraduate and Postgraduate with research capabilities. International student looking to study Science, Technology, Engineering and Mathematics courses have a three-year work permit post the course.  US Universities are among the worlds best university in terms of Infrastructure and research orientation. US Universities attract over 1 million student globally and approximately 100000 – 150000 from India.</p>
							
	<dl class="accordion">

		<dt><a href="">What are the financial requirements for USA?</a></dt>
		<dd><p>While looking forward to study in USA you would be required to prove to the university and visa officer that you have enough funds for study which would include your tuition fees as well as living expenses for the entire duration of study. The indicative government document is called I20 that signifies your total cost of study. </p>
<p>The tuitions fees mentioned in the I20 are dependent on the University that you are studying. Generally, the cost of study in the University depends on whether the university is public or private, In city or country side etc. In order to complete your study you require to in most cases the University charges on per credit basis. In the University credit cost varies between different schools of the University but the cost in generally same with in the same department/school of the University. The average credit cost at Undergraduate level is USD 600 – USD 1000 and at the post graduate level is USD 1000 – USD 1500.   </p>
<p>The cost of living is generally ascertained using the directive of the US government that primarily depends on the location of the University. The cost is generally for in campus housing which is more expensive than living out of campus. At the undergraduate level, Universities insist that students live in campus at least for the first year. At the graduate level the student gets to choose between campus living on or off campus.  The general cost per month is ascertained anyway between USD 800 to USD 1200. </p>
<p>In case you are looking at education loan to fund your education all financial institutions would give you the entire amount looking to study that would include - Cost of Tuition, Cost of Living, Cost of Books, Cost of travel etc. Usually the I20 value multiplied by the duration of the course (in years) is taken as the benchmark figure to ascertain the total requirement of the student. Usually in the education loan the loan is directly sent to the University. The University then remits the amount required by the student for living purposes to the student account opened in the University.  In certain cases banks want a proof that the fund has been utilized for the purpose that can include the rent agreement, the bill for the books etc. It is very important to understand the disbursal clause when you are looking at your sanction letter.  </p>
</dd>

		<dt><a href="">What are the types of loans available for aspirants of USA? </a></dt>
		<dd><p>USA is one of the best countries as you have many national and international financial institutions offering both secured and unsecured loans. We can broadly classify them in the following manner</p>
		<ol>
		<li>1.	Secured loan against Property -  All Banks and NBFC registered provide student with secured loan options to study in USA</li>
		<li>Unsecured Loan with Co-signor -  In certain masters courses with eligibility of GRE score or University admit Private banks and NBFC provide unsecured loan to the amount of INR 40 to 50 Lakhs. </li>
		<li>Unsecured Loan without Co – signor – International Funds like Prodigy and Mpower provide loan to students for Masters or MBA programs at select schools globally. US institutions dominate the list of institutions where they are ready to provide the loan.</li>
		<li>Local Banks in USA – Local banks in USA also provide loans to international students studying in USA in case they are able to provide a valid co-signor in the US. </li>
		</ol>
		</dd>

		<dt><a href="">What is the comparison of education loan providers for USA ? </a></dt>
		<dd><p>There are around 15 to 20 parameters of comparison between each of the four service providers of USA. We would broadly categories them into the following</p>
<ol>
<li>Financial Cost  -  US banks are the cheapest followed by Secured loan from Public/private sector banks Banks followed by Unsecured loans from NBFC  and last Loans from Mpower and Prodigy. </li>
<li>Convenience of application   -  In terms of Convenience we have US Banks and International funds as completely online and paperless. The NBFC provide door to door service followed by Public/Private sector banks. </li>
<li>Convenience of Repayment -  Public sector banks have complete interest flexibility followed by NBFC and other players. </li>
</ol></dd>

	</dl>
							
						</div>
						<div class="tab-pane" id="canada">
							<p>Education Scenario -  Canada </p>
<p>Located in north of the North American continent, the country of Canada is bordered by the USA in its south and Alaska at its west. With French as the most commonly spoken language, Canada has been known for its extreme cold winters, the Niagara Falls and the most recent events of the refugee acceptance, reminding the world of the friendly and accommodating nature of the Canadians. The country has held its firm belief in the fact that ‘all citizens are equal and that diversity makes us a stronger country’. The multicultural availability in the country therefore is proof that it makes all feel the equality and therefore everyone is at home and about 20% of the Canadians were born outside (Government of Canada website).</p>
							
							<dl class="accordion">

		<dt><a href="">What are the financial requirements for Canada?</a></dt>
		<dd>
<p>The Canadian government has made it mandatory to transfer CAD 10,000 into Canadian financial institutions that would issue you a GIC certificate. The same would be made available to you  for your monthly expenses. </p>
<p>The normal tuition fees for Canada are approx. CAD 10,000 – 20,000 per month. The first semester fee generally needs to be paid to the University before the Visa. In case you are looking at an education loan you would need to talk to your branch manager before hand and ensure the disbursal happens before the visa. SBI in Canada is also an approved issuer of GIC and it becomes very convenient for the SBI incase you choose to take the loan from SBI.  </p></dd>

		<dt><a href="">What are the types of loans available for aspirants of Canada? </a></dt>
		<dd>
			<ol>
			<li>Secured loan against Property -  All Banks and NBFC registered provide student with secured loan options to study in Canada</li>
			<li>Unsecured Loan with Co-signor -  In certain masters courses with eligibility of GRE score or University admit Private banks and NBFC provide unsecured loan to the amount of INR 20 to 30 Lakhs. </li>
			<li>Unsecured Loan without Co – signor – International Funds like Prodigy and Mpower provide loan to students for Masters or MBA programs at select schools globally.</li> 
			</ol>
		</dd>

		<dt><a href="">What is the comparison of education loan providers for Canada? </a></dt>
		<dd>
<p>Unsecured loan is offered for aspirants looking to study in Canada up to INR 20 lakhs by NBFC firms only for master’s courses. A good number of students look to go to Colleges as they accept 3 years undergraduate degree. Such courses do not get unsecured lending from any financial service provider. </p>
<p>We would recommend you looking at Public/Private banks to go abroad in case you are looking to go for Undergraduate diploma, Post graduate diploma, Bachelors degree etc as NBFC would not be providing you unsecured loans. NBFC would however provide you secured loans that would be slightly more expensive than public/private banks but they would provide you convenience of a dedicated relationship manager with door service. </p>
</dd>

	</dl>
							
						</div>
						<div class="tab-pane" id="australia">
						<p>AUSTRALIA EDUCATION SCENARIO</p>

						<p>One of the top 3 destinations for international students, Australia has seen a surge of education opportunities. It has a diverse culture and friendly locals in addition to a wide array for career opportunities. In the southern hemisphere, Australia has a varied type of weather condition. It is famous for the tourist destinations of the Sydney Opera House and the Great Barrier Reef and is also the animal of Kangaroo seen only in Australia. In spite of being the 6th largest country by land mass it is sparsely populated than the other 5 predecessors. It has the great outback which is the area that is not conducive to population and civilization. However, Australia has been seen to be one of the faster growing countries for education exploration.</p>
						
														<dl class="accordion">

		<dt><a href="">What are the financial requirements for Australia?</a></dt>
		<dd>
<p>Australia is one of the most expensive countries to study with high cost of education. In general Australian universities Tuition cost is between AUD 25000 – 40000 per year with living expenses of AUD 20,600 per year. The total cost of education can go upto AUD 100000 for a Masters program and AUD 150000 for a bachelors program. Cities like  Sydney, Melbourne, Brisbane and Adelaide  are more expensive . </p>
<p>The procedure for fund requirement is also different for Australia. The student should be able to prove to the visa officer that he is adequately funded for the first year of study. Universities in Australia generally want the first semester fees before applying for Visa.  So in case the student is looking at an education loan to fund his education it is a requirement that the student is able to disburse his first semester fees and pay to the University. Australian high commission only recognizes banks and HDFC credila. In case you are looking at other NBFC you would be required to disburse the funds and keep them in your account for visa purposes.</p> 
<p>In case you are looking to fund your education for Australia you would be required to take the loan from Banks Private, Public or Co operative. The banks would look at your property and ascertain maximum limit. In case the same does not cover your cost of education you would be required to show margin money to cover your complete cost of education. </p></dd>

		<dt><a href="">What are the types of loans available for aspirants of Australia?  </a></dt>
		<dd>
<p>Australian high commission has approved Banks which are approved as per RBI. In case you would like to get further details you can go on to  - https://india.embassy.gov.au/ndli/vm_studyloans.html. Among NBFC only Credila is allowed where in you can show the sanction letter for education loan. All other NBFC or International funds look to provide personal funds that can be utilized for education purposes.  The same can be disbursed and kept in your bank account for showing to the embassy and for use for education loan. </p>
		</dd>

		<dt><a href="">What is the comparison of education loan providers for Australia?  </a></dt>
		<dd>
<p>Education loan for Australia can be provided by Public sector banks like Bank of Baroda, Punjab National Bank, State Bank of India etc , Private banks like Axis , HDFC, ICICI etc, Payments bank like Airtel Payments bank ltd, Jio Payments bank Ltd etc and list of foreign banks etc. HDFC credila is the only major NBFC which is allowed. </p>
<p>The interest rate is generally lowest for public sector banks but they are sometimes not flexible with the terms stipulated for the Australian Visa. It is advisable to talk to your branch manager before application as well as speak to your sanctioning authority to address the concern of disbursal before Visa. Major banks are aware of the process for Australian visa  and they would require to seek additional approvals for deviation to disburse the money before the Visa. </p> 
<p>In NBFC only Credila is allowed. The options for unsecured loans for student looking to go to Australia is very limited. Credila, Axis and International funds (M power & Prodigy) look to only fund the G8 group of institutions. </p>
</dd>

	</dl>
							
						</div>
						<div class="tab-pane" id="newzealand">
						<p>NEW ZEALND - EDUCATION SCENARIO</p>
						<p>New Zealand has 8 state funded universities, 16 institutes of Technology and Polytechnics (ITP) and about 550 Private Training Establishments (PTE) which include English language training as well. Universities offer higher degree-level education. Programs are research-led therefore the PhD education is at the same cost for international students as for local students. In the 2015/16 QS World University Rankings, all eight of New Zealand’s universities were in the top 100 in at least one subject. ITPs and a few larger PTEs offer vocational degree-level education. PTEs tend to offer specific vocational programs, mainly at certificate and diploma level.</p>

						
														<dl class="accordion">

		<dt><a href="">What are the financial requirements for New Zealand? </a></dt>
		<dd>
<p>New Zealand requires you to show evidence of fund for short term courses at NZ$1,250 per month and for long term courses NZ$15,000 per month for living purposes. The average Tuition fees for New Zealand varied between NZ$ 15,000 – 35, 000 a year.  You are required to prove to the visa officer that you are completely covered for your entire cost of study. You would be required to show liquid funds like Bank deposits, 6 months bank statements, 6 months PPF statements etc to cover your first year requirements. In order to prove you have funds for entire year you would be required to show semiliquid funds and IT returns of guardian. </p>
<p>In case you are looking to show education loan sanction letter the same has to be from a nationalized or multi-national bank only, with security against fixed assets belonging to the applicant or sponsor. </p>
</dd>

		<dt><a href="">What are the types of loans available for aspirants of New Zealand?  </a></dt>
		<dd> 
<p>New Zealand only allows or recognizes loans from public, private or multinational bank from which the student can get a loan. The New Zealand high commission does not recognize NBFC loans and in case you have taken a loan from them you would require to keep the same in your bank account which makes the proposal unviable. </p>
</dd>

		<dt><a href="">What is the comparison of education loan providers for New Zealand?   </a></dt>
		<dd>
<p>We have various Public and private banks that can look to address your loan for higher studies to New Zealand. Generally, Public sector banks are slow in processing the loan compared to private banks.  In most of the cases the public sector banks would be slightly economical than private sector banks. The Indian banks would remit the entire money to the Universities including living cost and the same then can be disbursed to the student account opened in New Zealand.  </p>
</dd>

	</dl>
							
						</div>
						<div class="tab-pane" id="germany">
						<p>Education Scenario - Germany</p>
<p>Germany also known as Deutschland, officially called the Federal Republic of Germany, is one of the most populous state of the European Union and also Germany is second just after the USA as a popular migration destination. Of the world’s 500 largest stock-market-listed companies measured by revenue in 2014, the Fortune Global 500, 28 are headquartered in Germany. 30 Germany-based companies are included in the DAX, the German stock market index. Well-known international brands include Mercedes-Benz, BMW, SAP, Volkswagen, Audi, Siemens, Allianz, Adidas, Porsche, Deutsche Bahn, Deutsche Bank and Bosch. Germany has held the position of being a global leader in science and technology since its achievements in the fields of science and technology have been significant. Research and development efforts form an integral part of the economy. </p>


						
														<dl class="accordion">

		<dt><a href="">What are the financial requirements for Germany? </a></dt>
		<dd>
<p>Germany is probably the only country in the world which offers free education even to International students. The students do not pay any fees in case they get admitted to the government universities in Germany. In case the student chooses to study in a private university the average cost is Eur 20,000 per year. </p>
<p>Germany also requires you to deposit the entire money required for Visa purpose of EUR 8640 into a blocked account where in you would be able to withdraw EUR 720 per month for your living purposes. </p>

</dd>

		<dt><a href="">What are the types of loans available for aspirants of Germany?</a></dt>
		<dd> 
<ol>
<li>Secured loan against Property - All Banks and NBFC registered provide student with secured loan options to study in Germany</li>
<li>Unsecured Loan with Co-signor - In certain master’s courses with Axis bank, Incred, Avanse offer unsecured loans of 20 Lakhs. </li>
</ol>
</dd>

		<dt><a href="">What is the comparison of education loan providers for Germany?   </a></dt>
		<dd>
<p> The well-ranked universities are having free education. In most cases in case you are looking to study in a private school you would be required to have approximately INR 40 lakhs to cover your entire cost of education. Its advisable you go for a secured loan against property. All Banks and NBFC would offer you secured loans. Banks would be financially cheaper however NBFC would be convenient offering you door to door service. </p>
</dd>

	</dl>	
						</div>
						<div class="tab-pane" id="uk">
						<p>Education Scenario – United Kingdom</p>
<p>The United Kingdom is actually the short conventional name for United Kingdom of Great Britain and Northern Ireland; note – the island of Great Britain includes England, Scotland, and Wales. It is one of the oldest monarchies who at one time held about one fourth of the earth’s surface as its colonies under the British Empire in the 19th century. With a very historic significance, the UK has been the birthplace of luminaries in all facets of life; England – birthplace of Shakespeare and The Beatles – is home to the capital, London, a globally influential centre of finance and culture. England is also site of Neolithic Stonehenge, Bath’s Roman spa and centuries-old universities at Oxford and Cambridge.</p>
<p>The United Kingdom is a developed country and has the world’s fifth-largest economy by nominal GDP and ninth-largest economy by purchasing power parity. It was the world’s first industrialised country and the world’s foremost power during the 19th and early 20th centuries. </p>
						
														<dl class="accordion">

		<dt><a href="">What are the financial requirements for UK? </a></dt>
		<dd>
<p>The UK government either looks at the complete first year fees as an education loan or you are required to maintain the funds for 28 days in your bank account. The Undergraduate course in UK is for 3 years and Master program is for 1 year. </p>
<p>As per the government you need to have GBP 1,015 in your bank account each month in case you plan to stay outside London and in London you would need GBP 1265. The general course fees ranges from GBP 10000 to 20000 with clinical courses like MBBS etc being more expensive. </p>
<p>In case you are looking to take loans for you study in UK you would be looking at Public banks, Private Banks and Multinational banks. Banks would be give you loan for an Undergraduate of graduate degree program. </p>
</dd>

		<dt><a href="">What are the types of loans available for aspirants of UK?  </a></dt>
		<dd> 
<p>Most of the financial institutions would provide you only secured loan. The secured loan would entail providing a security for the loan. All banks would lend with nationalized banks being more economical than private banks. There is a possibility in getting unsecured loans from certain Universities like University of London, Oxford, Cambridge etc from Prodigy who is a UK based lender and supports prestigious universities.  </p>
</dd>

		<dt><a href="">What is the comparison of education loan providers for UK ?  </a></dt>
		<dd>
		<p>There are around 15 to 20 parameters of comparison between each of the four service providers of USA. We would broadly categories them into the following</p>
<ol>
<li>Financial Cost  - Secured loan from Public/private sector banks Banks followed by Unsecured loans from NBFC  and last Loans from Mpower and Prodigy. </li>
<li>Convenience of application   -  In terms of Convenience we have International funds as completely online and paperless. The NBFC provide door to door service followed by Public/Private sector banks. </li>
<li>Convenience of Repayment -  Public sector banks have complete interest flexibility followed by NBFC and other players.</li> 
<ol>
</dd>

	</dl>	
						</div>
						<div class="tab-pane" id="singapore">
						<p>Education Scenario - Singapore</p>
<p>Initially a part of Malaysia, Singapore used to be a British Colony, officially known as the Republic of Singapore, it is also known as the Lion’s city. Its wide expanses of greens and well managed gardens are also reasons for making it the Garden City, also, in spite of its small size it has reached one of the top pedestals for technological advances. It is among the top five financial cities in the world. It is close to India and provides a safe environment to Indian students. Its very well known for business and hospitality courses as it enjoys over 30 million visitors annually. </p>
						
														<dl class="accordion">

		<dt><a href="">What are the financial requirements for Singapore ?  </a></dt>
		<dd>
<p>Institutions and government of Singapore usually require the student to show capability to pay for the tuition and living for the first year of Study. In majority of the cases a bank statement or a Solvency letter is required by the applicant to prove his finance requirements. </p>
<p>Singapore as a country is very expensive. It has been consistently ranking as the most expensive cities to live. The tuition fees generally varies with the type of school you are going in Singapore. Singapore has 5 Universities and 2 Government funded Schools. These Universities are generally expensive. The average cost per year varies from SGD 25000 - 40000 per year. Singapore also has a lot of private schools where the overheads are low. Hence they are able to price the program at SGD 8000 - SGD 20,000. The living cost in Singapore is anywhere between SGD 1000 – 1500 per month.</p>
<p>Banks in India fund the entire tuition and living expenses in Singapore. Most of the Indian banks have got branches in Singapore that make loan process more comfortable.  You could look to approach the local branch to complete the disbursement formalities. </p>
</dd>

		<dt><a href="">What are the types of loans available for aspirants of Singapore ?   </a></dt>
		<dd> 
<p>The following types of loans are available</p>
<ol>
<li>Secured loan against Property -  All Banks and NBFC registered provide student with secured loan options to study in USA</li>
<li>Unsecured Loan without Co – signor – International Funds like Prodigy and Mpower provide loan to students for Masters or MBA programs at select schools namely NUS, NTU and SMU. </li>
</ol>
</dd>

		<dt><a href="">What is the comparison of education loan providers for Singapore? </a></dt>
		<dd>
<p>The option for education loan to Singapore is comparatively less than other countries such as USA. Most banks would give only secured loans to students looking to pursue education in Singapore. In terms of Unsecured loans the same would only be available for NTU, NUS or SMU from international funds like Prodigy and Mpower. </p>
</dd>

	</dl>	
						</div>
						
						
					</div>
				</div>
			</div>

</div>
</div>
</div>




<script>
function openFirstPanel(){
  $('.accordion > dt:first-child').next().addClass('active').slideDown();
}

(function($) {
    
  var allPanels = $('.accordion > dd').hide();
  
  openFirstPanel();
    
  $('.accordion > dt > a').click(function() {
      $this = $(this);
      $target =  $this.parent().next();
      
    
      if($target.hasClass('active')){
        $target.removeClass('active').slideUp(); 
      }else{
        allPanels.removeClass('active').slideUp();
        $target.addClass('active').slideDown();
      }
      
    return false;
  });

})(jQuery);
</script>












<!--

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">Country Specific Questions: <p>&nbsp;</p></div>
			<div class="col-md-12">
			   <div id="js-filters-faq" class="cbp-l-filters-underline">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
           <img src="images/country-icons/globe.png"><br>
            All
        </div>
        <div data-filter=".usa" class="cbp-filter-item">
           <img src="images/country-icons/usa.png"><br> USA
        </div>
        <div data-filter=".author" class="cbp-filter-item">
           <img src="images/country-icons/canada.png"> <br>Canada
        </div>
        <div data-filter=".account" class="cbp-filter-item">
           <img src="images/country-icons/aus.png"> <br>Australia
        </div>
        
        <div data-filter=".community" class="cbp-filter-item">
            <img src="images/country-icons/nz.png"><br> New Zealand 
        </div>
		<div data-filter=".community" class="cbp-filter-item">
            <img src="images/country-icons/ger.png"> <br>Germany
        </div>
		<div data-filter=".community" class="cbp-filter-item">
           <img src="images/country-icons/uk.png"> <br>United Kingdom
        </div>
		<div data-filter=".community" class="cbp-filter-item">
          <img src="images/country-icons/singapore.png"><br> Singapore
        </div>
    </div>

    <div id="js-grid-faq" class="cbp cbp-l-grid-faq">
        <div class="cbp-item usa">
            <div class="cbp-caption">
                
					<p>USA EDUCATION SCENARIO</p>
					<p>USA is home to over 4000 institutions of higher learning. Institutions in USA are classified by Carnegie classification and are broadly divided into liberal arts Colleges, associate degree colleges and Universities. Universities are generally degree awarding bodies both Undergraduate and Postgraduate with research capabilities. International student looking to study Science, Technology, Engineering and Mathematics courses have a three-year work permit post the course.  US Universities are among the worlds best university in terms of Infrastructure and research orientation. US Universities attract over 1 million student globally and approximately 100000 – 150000 from India. </p>

                
            </div>
        </div>
        <div class="cbp-item usa">
            <div class="cbp-caption ">
                <div class="cbp-caption-defaultWrap">
                    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#474747" d="M1062 150q-317 121-556 362.5t-358 560.5q-20-89-20-176 0-208 102.5-384.5t278.5-279 384-102.5q82 0 169 19zm269 119q93 65 164 155-389 113-674.5 400.5t-396.5 676.5q-93-72-155-162 112-386 395-671t667-399zm-733 1334q115-356 379.5-622t619.5-384q40 92 54 195-292 120-516 345t-343 518q-103-14-194-52zm1066 58q-193-50-367-115-135 84-290 107 109-205 274-370.5t369-275.5q-21 152-101 284 65 175 115 370z"/>
                    </svg>
                    What are the financial requirements for USA?
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
						<p>While looking forward to study in USA you would be required to prove to the university and visa officer that you have enough funds for study which would include your tuition fees as well as living expenses for the entire duration of study. The indicative government document is called I20 that signifies your total cost of study. </p>

						<p>The tuitions fees mentioned in the I20 are dependent on the University that you are studying. Generally, the cost of study in the University depends on whether the university is public or private, In city or country side etc. In order to complete your study you require to in most cases the University charges on per credit basis. In the University credit cost varies between different schools of the University but the cost in generally same with in the same department/school of the University. The average credit cost at Undergraduate level is USD 600 – USD 1000 and at the post graduate level is USD 1000 – USD 1500. </p>

						<p>The cost of living is generally ascertained using the directive of the US government that primarily depends on the location of the University. The cost is generally for in campus housing which is more expensive than living out of campus. At the undergraduate level, Universities insist that students live in campus at least for the first year. At the graduate level the student gets to choose between campus living on or off campus.  The general cost per month is ascertained anyway between USD 800 to USD 1200. </p>

						<p>In case you are looking at education loan to fund your education all financial institutions would give you the entire amount looking to study that would include - Cost of Tuition, Cost of Living, Cost of Books, Cost of travel etc. Usually the I20 value multiplied by the duration of the course (in years) is taken as the benchmark figure to ascertain the total requirement of the student. Usually in the education loan the loan is directly sent to the University. The University then remits the amount required by the student for living purposes to the student account opened in the University.  In certain cases banks want a proof that the fund has been utilized for the purpose that can include the rent agreement, the bill for the books etc. It is very important to understand the disbursal clause when you are looking at your sanction letter.  </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item usa">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#474747" d="M1088 1256v240q0 16-12 28t-28 12h-240q-16 0-28-12t-12-28v-240q0-16 12-28t28-12h240q16 0 28 12t12 28zm316-600q0 54-15.5 101t-35 76.5-55 59.5-57.5 43.5-61 35.5q-41 23-68.5 65t-27.5 67q0 17-12 32.5t-28 15.5h-240q-15 0-25.5-18.5t-10.5-37.5v-45q0-83 65-156.5t143-108.5q59-27 84-56t25-76q0-42-46.5-74t-107.5-32q-65 0-108 29-35 25-107 115-13 16-31 16-12 0-25-8l-164-125q-13-10-15.5-25t5.5-28q160-266 464-266 80 0 161 31t146 83 106 127.5 41 158.5z"/>
                    </svg>
                   What are the types of loans available for aspirants of USA?
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                       <p>USA is one of the best countries as you have many national and international financial institutions offering both secured and unsecured loans. We can broadly classify them in the following manner </p>
<ol>
<li>Secured loan against Property -  All Banks and NBFC registered provide student with secured loan options to study in USA </li>
<li>Unsecured Loan with Co-signor -  In certain masters courses with eligibility of GRE score or University admit Private banks and NBFC provide unsecured loan to the amount of INR 40 to 50 Lakhs. </li>
<li>Unsecured Loan without Co – signor – International Funds like Prodigy and Mpower provide loan to students for Masters or MBA programs at select schools globally. US institutions dominate the list of institutions where they are ready to provide the loan. </li>
<li>Local Banks in USA – Local banks in USA also provide loans to international students studying in USA in case they are able to provide a valid co-signor in the US. </li>
</ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item author">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#474747" d="M1696 128q66 0 113 47t47 113v1216q0 66-47 113t-113 47h-1600q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1600zm-1600 128q-13 0-22.5 9.5t-9.5 22.5v224h1664v-224q0-13-9.5-22.5t-22.5-9.5h-1600zm1600 1280q13 0 22.5-9.5t9.5-22.5v-608h-1664v608q0 13 9.5 22.5t22.5 9.5h1600zm-1504-128v-128h256v128h-256zm384 0v-128h384v128h-384z"/>
                    </svg>
                    Which Author Payment Option Do I Choose?
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        As an Eduloans  author you need to select the most appropriate payment method in order to receive your earnings.
                        <br>
                        Each payment method and provider may have restrictions regarding which countries they pay to, for legal and / or commercial reasons.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="cbp-item author">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#474747" d="M1664 896q0 156-61 298t-164 245-245 164-298 61q-172 0-327-72.5t-264-204.5q-7-10-6.5-22.5t8.5-20.5l137-138q10-9 25-9 16 2 23 12 73 95 179 147t225 52q104 0 198.5-40.5t163.5-109.5 109.5-163.5 40.5-198.5-40.5-198.5-109.5-163.5-163.5-109.5-198.5-40.5q-98 0-188 35.5t-160 101.5l137 138q31 30 14 69-17 40-59 40h-448q-26 0-45-19t-19-45v-448q0-42 40-59 39-17 69 14l130 129q107-101 244.5-156.5t284.5-55.5q156 0 298 61t245 164 164 245 61 298zm-640-288v448q0 14-9 23t-23 9h-320q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h224v-352q0-14 9-23t23-9h64q14 0 23 9t9 23z"/>
                    </svg>
                    Historical Payment Rates
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        Over the years Eduloans  has changed fees & rates several times – always in favour of our authoring community! If you have been selling files for some time, these rates may apply to you. If you are a new author, you should review our Current Rates or read about our author program If you are interested in Selling Your Work.
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item account">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#474747" d="M1600 1405q0 120-73 189.5t-194 69.5h-874q-121 0-194-69.5t-73-189.5q0-53 3.5-103.5t14-109 26.5-108.5 43-97.5 62-81 85.5-53.5 111.5-20q9 0 42 21.5t74.5 48 108 48 133.5 21.5 133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5t-271.5 112.5-271.5-112.5-112.5-271.5 112.5-271.5 271.5-112.5 271.5 112.5 112.5 271.5z"/>
                    </svg>
                    How Do I Change My Username?
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        Sign in to your Eduloans Account via the button at the top right of the Eduloans  sites.
                        <br>
                        Frequent username changes are not permitted
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item author">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#474747" d="M224 1536h608v-1152h-640v1120q0 13 9.5 22.5t22.5 9.5zm1376-32v-1120h-640v1152h608q13 0 22.5-9.5t9.5-22.5zm128-1216v1216q0 66-47 113t-113 47h-1344q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1344q66 0 113 47t47 113z"/>
                    </svg>
                    Author Collaboration
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        Authors may unofficially partner with other authors to create new items, but we advise strong caution when doing so. Eduloans  considers the person who created an account and agreed to the terms and conditions to be the sole copyright holder of the items for sale and the only person eligible to withdraw any funds.
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item account">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#474747" d="M1376 768q40 0 68 28t28 68v576q0 40-28 68t-68 28h-960q-40 0-68-28t-28-68v-576q0-40 28-68t68-28h32v-320q0-185 131.5-316.5t316.5-131.5 316.5 131.5 131.5 316.5q0 26-19 45t-45 19h-64q-26 0-45-19t-19-45q0-106-75-181t-181-75-181 75-75 181v320h736z"/>
                    </svg>
                    How Do I Change My Password?
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        It is important that your Eduloans Account has a secure, private password at all times.
                        <br>
                        Sign in to your Eduloans Account via the button at the top right of the Eduloans  sites.
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item author">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#474747" d="M1152 640q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm256 0q0 109-33 179l-364 774q-16 33-47.5 52t-67.5 19-67.5-19-46.5-52l-365-774q-33-70-33-179 0-212 150-362t362-150 362 150 150 362z"/>
                    </svg>
                    An Author’s Introduction to Eduloans 
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        Becoming an author on Eduloans  carries certain legal implications. Everything you sell must be your own original content. If you use any assets that are owned by someone else, you must have a license that grants you permission to use and resell them.
                    </div>
                </div>
            </div>
        </div>
        
        
       
        <div class="cbp-item buying">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#474747" d="M1408 256h-1024v1242l423-406 89-85 89 85 423 406v-1242zm12-128q23 0 44 9 33 13 52.5 41t19.5 62v1289q0 34-19.5 62t-52.5 41q-19 8-44 8-48 0-83-32l-441-424-441 424q-36 33-83 33-23 0-44-9-33-13-52.5-41t-19.5-62v-1289q0-34 19.5-62t52.5-41q21-9 44-9h1048z"/>
                    </svg>
                    Buyers Guide to YouTube Content ID & Copyright Notices
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        Content ID is a popular digital fingerprinting system that content creators can use to easily identify and manage their copyrighted content on YouTube. Videos uploaded to YouTube are compared against audio and video files registered with Content ID by content owners, looking for any matches.
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-item community">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#474747" d="M704 384q-153 0-286 52t-211.5 141-78.5 191q0 82 53 158t149 132l97 56-35 84q34-20 62-39l44-31 53 10q78 14 153 14 153 0 286-52t211.5-141 78.5-191-78.5-191-211.5-141-286-52zm0-128q191 0 353.5 68.5t256.5 186.5 94 257-94 257-256.5 186.5-353.5 68.5q-86 0-176-16-124 88-278 128-36 9-86 16h-3q-11 0-20.5-8t-11.5-21q-1-3-1-6.5t.5-6.5 2-6l2.5-5 3.5-5.5 4-5 4.5-5 4-4.5q5-6 23-25t26-29.5 22.5-29 25-38.5 20.5-44q-124-72-195-177t-71-224q0-139 94-257t256.5-186.5 353.5-68.5zm822 1169q10 24 20.5 44t25 38.5 22.5 29 26 29.5 23 25q1 1 4 4.5t4.5 5 4 5 3.5 5.5l2.5 5 2 6 .5 6.5-1 6.5q-3 14-13 22t-22 7q-50-7-86-16-154-40-278-128-90 16-176 16-271 0-472-132 58 4 88 4 161 0 309-45t264-129q125-92 192-212t67-254q0-77-23-152 129 71 204 178t75 230q0 120-71 224.5t-195 176.5z"/>
                    </svg>
                    Forum and Community Rules
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        Eduloans takes great pride in it’s global and thriving community! They're part of what makes the Eduloans  sites fun and friendly. The forum rules and guidelines focus on mutual respect.
                        <br>
                        All users who wish to participate or give feedback are invited to do so.
                    </div>
                </div>
            </div>
        </div>
    </div>
			</div>
		</div>
	</div>
</section>



<script>
(function($, window, document, undefined) {
    'use strict';

    
    $('#js-grid-faq').cubeportfolio({
        filters: '#js-filters-faq',
        defaultFilter: '*',
        animationType: 'sequentially',
        gridAdjustment: 'default',
        displayType: 'default',
        caption: 'expand',
        gapHorizontal: 0,
        gapVertical: 0,
    });
})(jQuery, window, document);
</script>

-->

