<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Courses</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>



<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->
	



<section>
<div class="container">
<div class="row">
<div class="col-md-12">
<!--h3>Universities page content</h3-->
<div  class="tuple-box" style="width:968px;margin:20px;margin:0px auto;">
                <div class="flLt">
                    <div class="tuple-image">
                                                    <a target="_blank" href="#"><img class="lazy" data-original="https://images.shiksha.com/mediadata/images/1535022251php6npTks_172x115.jpeg" alt="Computer Science&nbsp;MSc, Northumbria University, UK" title="Computer Science&nbsp;MSc, Northumbria University" align="center" width="172" height="115" src="https://images.shiksha.com/mediadata/images/1535022251php6npTks_172x115.jpeg" style="display: inline;"></a>
                                                <div class="tuple-shrtlist-image">
                                                    </div>
                    </div>
                                    </div>
                <div class="tuple-detail">
                    <div class="tuple-title">
                        <p>
                            <a target="_blank" href="#"><i class="cate-sprite paid-icon"></i>Northumbria University</a><span class="font-11">, Newcastle upon Tyne, UK</span>
                        </p>
                    </div>
                    <div class="course-touple clearwidth">
                        <p><a target="_blank" href="#" class="tuple-sub-title">Computer Science&nbsp;MSc</a></p>
                        <div class="clearwidth">
                            <div class="uni-course-details flLt">
                                <div class="detail-col flLt" style="width:170px;">
                                    
                                        <strong> 1st Year Total Fees</strong>
                                        <p>Rs 17.7 Lakhs</p>
                                                                    </div>
                                <div class="detail-col flLt" style="width:130px;">
                                    <strong>Eligibility</strong>
                                                                            <p style="position: relative;width:117px !important;">
                                                                                        IELTS: 6.5                                        </p>
                                                                            <p style="position: relative;width:117px !important;">
                                                                                        PTE: 62                                        </p>
                                                                                                        </div>
                                <div class="detail-col flLt" style="width:132px">
                                                                            <p><span class="tick-mark">✔</span>Public university</p>
                                                                                                                <p><span class="tick-mark">✔</span>Scholarship</p>
                                                                                                                <p><span class="tick-mark">✔</span>Accommodation</p>
                                                                    </div>
                            </div>
                            <div class="btn-col btn-brochure" style="margin-top: 27px !important">
                                                                <a href="Javascript:void(0);" class="button-style" onclick="studyAbroadTrackEventByGA('ABROAD_CAT_PAGE', 'DownloadBrochure'); loadBrochureDownloadForm('eyJzb3VyY2VQYWdlIjoiY2F0ZWdvcnkiLCJjb3Vyc2VJZCI6IjE5ODY2MyIsImNvdXJzZU5hbWUiOiJDb21wdXRlciBTY2llbmNlXHUwMGEwTVNjIiwidW5pdmVyc2l0eUlkIjoiMzc4IiwidW5pdmVyc2l0eU5hbWUiOiJOb3J0aHVtYnJpYSBVbml2ZXJzaXR5Iiwid2lkZ2V0IjoiY2F0ZWdvcnlfcGFnZSIsImRlc3RpbmF0aW9uQ291bnRyeUlkIjoiNCIsImRlc3RpbmF0aW9uQ291bnRyeU5hbWUiOiJVSyIsImNvdXJzZURhdGEiOiJleUl4T1RnMk5qTWlPbnNpWkdWemFYSmxaRU52ZFhKelpTSTZJakUxTURraUxDSndZV2xrSWpwMGNuVmxMQ0p1WVcxbElqb2lRMjl0Y0hWMFpYSWdVMk5wWlc1alpWeDFNREJoTUUxVFl5SXNJbk4xWW1OaGRHVm5iM0o1SWpvaU1qYzNJbjE5IiwidHJhY2tpbmdQYWdlS2V5SWQiOjE0LCJjb25zdWx0YW50VHJhY2tpbmdQYWdlS2V5SWQiOjM3MX0=','/responseAbroad/ResponseAbroad/getBrochureDownloadForm','downloadBrochureFormContainer','downloadBrochure');"><strong>Download Brochure</strong></a>
                            </div>

                            
                        </div>

                        
                        <div class="flLt" style="width:83%">
                                                    </div>

                        <div class="compare-box flRt customInputs">
                                                        <input type="checkbox" name="compare198663" id="compare198663" class="compareCheckbox198663" onclick="toggleCompare('198663')">
                            <label class="compareCheckboxLabel198663" onclick="toggleCompare('198663',546);">
                                <span class="common-sprite"></span><p>Add to compare</p>
                            </label>
                            <p class="sponsered-text tar">Sponsored</p>
                        </div>
                    </div>
                    <!--i title="Click to save" class="cate-sprite add-shortlist" uniqueattr="ABROAD_CAT_PAGE/shortlistCourse" onclick="addRemoveFromShortlistedTab('198663','categoryPageListing',this,'',18);"></i-->
                    <div class="clearfix"></div>
                </div>
            </div>
			
			
			
			
			
			
			<style>
			.font-11 {
    font-size: 11px;
}
			.tuple-image {
    background: #fff;
    border: 1px solid #f3f3f3;
    padding: 5px;
    position: relative;
    width: 184px;
}
			ul.tuple-cont li {
    background: #fbfbfb;
    border: 1px solid #f3f3f3;
    margin-bottom: 8px;
    list-style: none;
}
.clearwidth {
    width: 100%;
    float: left;
}
			.univ-tab-details {
    margin: 30px 0 10px 0!important;
}


	
.flLt {
    float: left;
}
.flRt {
    float: right;
}
	.tuple-box {
    float: left;
    width: 100%;
    padding: 8px;
    position: relative;
	background-color:#fbfbfb;
	border:1px solid #f0f0f0;
}
.tuple-detail {
    margin-left: 208px;
}
.tuple-title {
    margin-bottom: 10px;
    width: 90%;
}
.tuple-title a {
    font-weight: 600;
    font-size: 13px;
    color: #111111;
}
.tuple-title span {
    color: #666666;
}
.tuple-sub-title {
    font-weight: 600;
    font-size: 15px;
}
.uni-course-details {
    width: 450px;
    border-right: 1px solid #dadada;
    background: #fff;
    margin: 8px 0;
    padding: 8px;
    position: relative;
    margin-right: 25px;
}
.uni-course-details:before {
    width: 100%;
    height: 1px;
    right: -1px;
    bottom: -1px;
    background-image: -webkit-gradient(linear,0 100%,0 0,from(#fff),to(#dadada));
    background-image: -webkit-linear-gradient(right,#dadada,#fff);
    background-image: -moz-linear-gradient(right,#dadada,#fff);
    background-image: -o-linear-gradient(#fff,#dadada);
}
.uni-course-details:after, .uni-course-details:before {
    content: "";
    position: absolute;
}
.detail-col {
    width: 145px;
    font-size: 13px;
     color: #111111;
}
.detail-col p {
    margin-bottom: 3px;
}
.detail-col strong {
    color: #666666;
    margin-bottom: 5px;
    display: block;
    font-weight: 400;
}
.btn-brochure a {
    padding: 8px 18px 9px!important;
}
a.button-style {
    padding: 6px 9px;
}
.compare-box {
    font-size: 14px;
     color: #000;
    width: 125px;
    line-height: 15px;
}
div {

    background: 0 0;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;

}
.sponsered-text {
    color: #999;
    font-size: 12px;
    font-style: italic;
    margin: 15px 0 5px 0;
    display: none;
}
.tar {
    text-align: right;
}
.button-style, .login-btn, a.button-style, a.login-btn {
    background: orange;
    border: 1px solid transparent;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}
.add-shortlist, .added-shortlist {

    background-position: 0 -51px;
    width: 78px;
    height: 77px;
    position: absolute;
    top: 0;
    right: -2px;
    cursor: pointer;
}
.cate-sprite {
    background: url(//images.shiksha.ws/public/images/abroad-category-sprite4.png);
    display: inline-block;
    font-style: none;
    vertical-align: middle;
}

			</style>
</div>
</div>
</div>
</section>



