<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/dhl_express_bg.jpg); background-size: cover;background-position: top center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Courier DHL</h1>
               
            </div>
        </div>
    </div>
</section>



<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->
	
	
<section class="flights">
    <div class="container">
        <div class="row">
            <!--div class="col-md-12" style="text-align:center;">
				<img src="images/coming-soon.png" alt=" "  style="width:400px;padding-top:150px;margin:0px auto;">
				<p style="height:300px;">&nbsp;</p>
			</div--> 
			
			<div class="col-md-12">
			
			<!--h4>Flight Tickets</h4-->
			<h3>Send Your Transcripts ₹ 999 onwards</h3>
			<h4>FedEx or DHL University Express starting at discounted price of ₹ 999/- (including pick up).</h4>
			<p><b>How to send transcripts to universities or WES?</b></p>
			<ol>
				<li>Add pickup and delivery addresses</li>
				<li>Choose payment option</li>
				<li>Make payment to confirm order</li>
				<li>Pickup will be scheduled for next 2 working days</li>
				<li>University will receive your documents in 3 - 5 working days after pickup</li>
			</ol>
			<p>&nbsp;</p>

			</div>
			<div class="col-md-12">
			<h4>Our Courier Partners</h4>
			<div class="col-md-4"><img src="images/partners/dhl_200x56.jpg" alt="DHL" class="img-responsive"></div>
			<div class="col-md-4"><img src="images/partners/FedEx.jpg" alt="FedEx" class="img-responsive"> </div>
			

			</div>
			
		</div>	
		
		
		
	</div>	
</section>	
	
	



