<style type="text/css">
   @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
   .login-block{
   background: #004b7a;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #fafafb, #d8d9da);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #fafafb, #d8d9da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   float:left;
   width:100%;
   padding : 50px 0;
   }
   .login-sec{padding: 15px 30px; position:relative;}
   .login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
   .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #004b7a;}
   .login-sec h2:after{content:" "; width:50%; height:5px; background:#f9992f; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
   .btn-login{background: #f9992f; color:#fff; font-weight:600;}
   .form-control{
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
   -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   }
   .form-group {
     margin-bottom: 0px !important;
    }
   .panel-primary>.panel-heading {
   color: #fff;
   background-color: #004b7a !important;
   border-color: #004b7a !important;
   }
   table, td, th {
   border: 1px solid #ddd;
   text-align: center;
   }
   table {
   border-collapse: collapse;
   width: 100%;
   }
   th, td {
   padding: 10px;
   }
   h5{
   color: #000000;
   }
   .prplButton{
   color: #fff !important;
   background: #004b7a;
   border-color: #004b7a;
   border-radius: 12px;
   }
   .resetButton{
   color: #004b7a;
   background: #f1f1f1;
   border-color: #004b7a;
   border-radius: 12px;
   }

   .noPadding{
    padding-left: 0px;
    padding-right: 0px;
   }
</style>
<section class="login-block">
   <div class="container" style="background:#fff; border-radius: 10px; box-shadow: 5px 5px 0px rgba(0,0,0,0.1);">
      <div class="row">
         <div class="col-md-12 login-sec">
            <h2 class="text-center">Disbursal Form</h2>
            <form class="form requiredInfoForm" >
               <div class="panel panel-primary">
                  <div class="panel-heading">Personal Details</div>
                  <div class="panel-body"  >
                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="first_name">
                              <h5>Name</h5>
                           </label>
                           <input type="text" class="form-control" name="customer_name" id="customer_name" ng-model="customer_name" placeholder="Name" disabled>
                           <input type="hidden" class="form-control" name="lead_id" id="lead_id" ng-model="lead_id" >
                        </div>
                     </div>

                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="Currentphone">
                              <h5>Current Phone No</h5>
                           </label>
                           <input type="text" class="form-control" name="abroad_mobile" id="abroad_mobile" ng-model="abroad_mobile" placeholder="Mobile" value="">
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="CurrentAltemail">
                              <h5>Current Alternate EMAIL ID</h5>
                           </label>
                           <input type="email" class="form-control" name="abroad_email" id="abroad_email" ng-model="abroad_email" placeholder="Email" value="">
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="CurrentAddress">
                              <h5>Current Address</h5>
                           </label>
                           <textarea class="form-control" rows="2" cols="50" name="abroad_add" id="abroad_add" ng-model="abroad_add" form="CurrentAddress" placeholder="Enter text here..."></textarea>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel panel-primary">
                  <div class="panel-heading">Academic Details</div>
                  <div class="panel-body">
                    <div class="form-group">
                       <div class="col-xs-6">
                          <label for="UniversityName">
                             <h5>Country</h5>
                          </label>
                          <select class="form-control" name="country" ng-init="country = 'Please Select'" ng-model="country" ng-change="getAllStateByCountryId()" required>
                             <option>Please Select</option>
                             <option ng-repeat="option in allCountries" value="{{option.id}}">{{option.display_name}}</option>
                          </select>
                       </div>
                    </div>
                    <div class="form-group">
                       <div class="col-xs-6">
                          <label for="UniversityName">
                             <h5>State</h5>
                          </label>
                          <select class="form-control" name="state" ng-init="state = 'Please Select'" ng-model="state">
                             <option>Please Select</option>
                             <option ng-repeat="option in allStates" value="{{option.id}}">{{option.display_name}}</option>
                          </select>
                       </div>
                    </div>
                    <div class="form-group">
                       <div class="col-xs-6">
                          <label for="UniversityName">
                             <h5>University</h5>
                          </label>
                          <input type="text" class="form-control" name="customer_university" id="customer_university" ng-model="customer_university" placeholder="UniversityName" >
                       </div>
                    </div>

                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="Coursename">
                              <h5>Course name</h5>
                           </label>
                           <input type="text" class="form-control" name="customer_course" id="customer_course" ng-model="customer_course" placeholder="Coursename">
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="CurrentGPA">
                              <h5>Current GPA</h5>
                           </label>
                           <input type="text" class="form-control" name="current_gpa" id="current_gpa" ng-model="current_gpa" placeholder="Current GPA">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel panel-primary">
                  <div class="panel-heading">Employment Details</div>
                  <div class="panel-body">
                     <div class="form-group" >
                        <div class="col-xs-6" style="margin-top: 10px;">
                           <label>
                              <h5>Are you currently Employed / Earning ??</h5>
                           </label>
                            Yes <input type="radio" onclick="javascript:yesnoCheck();" value="YES" name="yesno" ng-model="yesno" id="yesCheck"> No <input type="radio" value="NO" onclick="javascript:yesnoCheck();" ng-model="yesno" name="yesno" id="noCheck"><br>
                        </div>
                     </div>
                     <div class="form-group" id="ifYes" style="display:none">
                        <div class="col-xs-6" style="margin-top: 5px;">
                           <label for="Current Employer">
                              <h5>Current Employer</h5>
                           </label>
                           <input type="text" class="form-control" name="CurrentEmployer" id="CurrentEmployer" ng-model="CurrentEmployer" placeholder="" >
                        </div>
                        <div class="col-xs-6">
                           <label for="CurrentSalary">
                              <h5>Current Salary ( Monthly - USD)</h5>
                           </label>
                           <input type="text" class="form-control" name="CurrentSalary" id="CurrentSalary" ng-model="CurrentSalary" placeholder="" >
                        </div>

                        <div class="col-xs-6">
                           <label for="CurrentExpenses">
                              <h5>Current Expenses (USD)</h5>
                           </label>
                           <input type="text" class="form-control" name="CurrentExpenses" id="CurrentExpenses" ng-model="CurrentExpenses" placeholder="" >
                        </div>
                        <div class="col-xs-6">
                           <label for="VISAType">
                              <h5>Current VISA Type</h5>
                           </label>
                           <br>
                           <label class="radio-inline">
                           <input type="radio" name="optradio" ng-model="optradio" value="CPT" checked>CPT
                           </label>
                           <label class="radio-inline">
                           <input type="radio" name="optradio" ng-model="optradio" value="H1B" >H1B
                           </label>
                           <label class="radio-inline">
                           <input type="radio" name="optradio" ng-model="optradio" value="GREENCARD" >Green Card
                           </label>
                           <label class="radio-inline">
                           <input type="radio" name="optradio" ng-model="optradio" value="OTHERS" >others
                           </label>
                        </div>
                        <div class="col-xs-6">
                           <label for="DateOfVisaIssued">
                              <h5>Date of VISA issued</h5>
                           </label>
                           <input type="date" name="DateOfVisaIssued"  class="form-control" id="DateOfVisaIssued" ng-model="DateOfVisaIssued" />
                        </div>
                        <div class="col-xs-6">
                           <label for="LAstDateOfCurrentVisa">
                              <h5>Last Date of Current VISA (Validity Date)</h5>
                           </label>
                           <input type="date" name="LAstDateOfCurrentVisa"  class="form-control" id="LAstDateOfCurrentVisa" ng-model="LAstDateOfCurrentVisa"/>
                        </div>
                        <div class="col-xs-6">
                           <label for="FICOScore">
                              <h5>FICO Score</h5>
                           </label>
                           <input type="text" class="form-control" name="FICOScore" id="FICOScore" placeholder="" ng-model="FICOScore" />
                        </div>
                        <div class="col-xs-6" >
                          <div class="col-xs-4 noPadding" style="margin-top: 10px;">
                             <label>
                                <h5>SSN Available ?</h5>
                             </label>
                             <br>Yes <input type="radio" onclick="javascript:yesnoCheckSSN();" name="yesnossn" id="ssnyesCheck" value="YES" ng-model="yesnossn"> No <input type="radio" onclick="javascript:yesnoCheckSSN();" name="yesnossn" id="ssnnoCheck" value="NO" ng-model="yesnossn"><br>
                          </div>
                          <div class="col-xs-8 noPadding" id="ssnifYes" style="display: none;">
                             <label for="Box">
                                   <h5>SSN Number</h5>
                              </label>
                              <input type="text" class="form-control" name="ssnNumber" id="ssnNumber" ng-model="ssnNumber" placeholder="">
                          </div>
                        </div>
                        <div class="col-xs-6" >
                          <div class="col-xs-6 noPadding">
                                <label for="OfferLetter">
                                   <h5>Attach Offer Letter/ Employment Letter</h5>
                                </label>
                                <input class="form-control" type="file" file="OfferLetter">
                           </div>
                           <div class="col-xs-6 ">
                                 <label for="OfferLetter">
                                    <h5>Document Status</h5>
                                 </label>
                                 <br><span style="display: inline-flex;"><h4 id="empletterTag">{{ empletter }}</h4>
                                 <a ng-if="empletter == 'Uploaded'" href="{{empletterlink}}" target="_blank" style="margin-top: 8%;">&nbsp;<i class="glyphicon glyphicon-file" ></i> Link</a></span>
                            </div>
                         </div>
                         <div class="col-xs-6" >
                           <div class="col-xs-6 noPadding " >
                              <label for="SalarySlips">
                                 <h5>Attach Bank statement ( 3/ 6 Months Salary Slips)</h5>
                              </label>
                              <input class="form-control" type="file" file="SalarySlips">
                           </div>
                           <div class="col-xs-6 ">
                                 <label for="OfferLetter">
                                    <h5>Document Status</h5>
                                 </label>
                                 <br><span style="display: inline-flex;"><h4 id="salaryslipTag">{{ salaryslip }}</h4>
                                 <a ng-if="salaryslip == 'Uploaded'" href="{{salarysliplink}}" target="_blank" style="margin-top: 8%;">&nbsp;<i class="glyphicon glyphicon-file" ></i> Link</a></span>


                            </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel panel-primary">
                  <div class="panel-heading">Details of Current Education Loan</div>
                  <div class="panel-body">
                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="Tenure">
                              <h5>Education Loan Amount</h5>
                           </label>
                           <input type="text" class="form-control" name="loanAMt" id="loanAMt"  ng-model="loanAMt" placeholder="" >
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="Tenure">
                              <h5>Tenure of the Loan (Months)</h5>
                           </label>
                           <input type="text" class="form-control" name="Tenure" id="Tenure" placeholder="" ng-model="Tenure">
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="InterestRate">
                              <h5>Interest Rate on the Loan</h5>
                           </label>
                           <input type="text" class="form-control" name="InterestRate" id="InterestRate" placeholder="" ng-model="InterestRate">
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="MoratoriumP">
                              <h5>Moratorium period without Interest Payment (Months)</h5>
                           </label>
                           <input type="text" class="form-control" name="MoratoriumP" id="MoratoriumP" placeholder="" ng-model="MoratoriumP">
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="MoratoriumPWithI">
                              <h5>Moratorium Period with Interest (Months)</h5>
                           </label>
                           <input type="text" class="form-control" name="MoratoriumPWithI" id="MoratoriumPWithI" placeholder="" ng-model="MoratoriumPWithI">
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-xs-6">
                           <label for="installments">
                              <h5>Total Monthly installments Paid (Months)</h5>
                           </label>
                           <input class="form-control" type="number" min="1" max="200" id="table-row-num" name="paidMonths" ng-model="paidMonths" required="required">
                        </div>
                     </div>

                  </div>
               </div>
               <div class="form-group">
                  <div class="col-xs-12 noPadding" >
                   <div id="table-gen">
                      <table id="resultTable" cellpadding="1" cellspacing="1" border="1">
                        <thead >
                          <tr style="background-color: #004b7a;color: white;">
                             <th> Name of the Month </th>
                             <th>Total Outstanding</th>
                             <th>Due date of re payment</th>
                             <th>Date of Actual Payment</th>
                             <th>TOTAL (EMI) Payment</th>
                             <th>Interest Payment</th>
                             <th>Principal Payment</th>
                             <th>Outstanding Balance</th>
                             <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>

                      </table>
                      <button class="btn btn-lg prplButton" type="button" ng-click="addRowOnButtonClick()"><i class="glyphicon glyphicon-plus"></i> Add New Row</button>
                   </div>
                  </div>
               </div>
               <div class="form-group">
                 <div class="col-xs-6">
                    <label for="SalarySlips">
                      <h5>Upload bank statement (last 3/6 months payment) showing EMI debit (showing education loan)</h5>
                   </label>
                  </div>
                  <div class="col-xs-6">
                   <input class="form-control" type="file" file="emiFile">
                </div>
                <div class="col-xs-6">
                      <label for="SalarySlips">
                         <h5>Document Status</h5>
                      </label>
                      <br><span style="display: inline-flex;"><h4 id="emistatementTag">{{ emistatement }}</h4>
                      <a ng-if="emistatement == 'Uploaded'" href="{{emistatementlink}}" target="_blank" style="margin-top: 8%;">&nbsp;<i class="glyphicon glyphicon-file" ></i> Link</a></span>


                 </div>
              </div>
               <div class="form-group">
                  <div class="col-xs-12">
                     <br>
                     <button class="btn btn-lg prplButton" type="button" ng-click="customerLoanTapeInfoUpdate()"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                     <button class="btn btn-lg resetButton" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                  </div>
               </div>
               <!-- <div class="form-group">
                 <table class="form-table" id="customFields">
                    <tr valign="top">
                      <th scope="row"><label for="customFieldName">Custom Field</label></th>
                      <td>
                        <input type="text" class="code" id="customFieldName" name="customFieldName[]" value="" placeholder="Input Name" /> &nbsp;
                        <input type="text" class="code" id="customFieldValue" name="customFieldValue[]" value="" placeholder="Input Value" /> &nbsp;
                       <button class="btn btn-lg " type="button" ng-click="addRowOnButtonClick1()"><i class="glyphicon glyphicon-ok-sign"></i>Add</button>
                      </td>
                    </tr>
                  </table>
               </div> -->
            </form>
         </div>
      </div>
   </div>
</section>
<script type="text/javascript">
   function yesnoCheck() {
       if (document.getElementById('yesCheck').checked) {
           document.getElementById('ifYes').style.display = 'block';
       }
       else {
         document.getElementById('ifYes').style.display = 'none';
       }
   }

   function yesnoCheckSSN() {
       if (document.getElementById('ssnyesCheck').checked) {
           document.getElementById('ssnifYes').style.display = 'block';
           //document.getElementById('OfferLetterifYes').style.display = 'block';
           //document.getElementById('SalarySlipsifYes').style.display = 'block';
       }
       else {
       document.getElementById('ssnifYes').style.display = 'none';
       //document.getElementById('OfferLetterifYes').style.display = 'none';
       //document.getElementById('SalarySlipsifYes').style.display = 'none';
     }
   }



</script>
