<style type="text/css">
  .spanText{
    font: 550 14px Open Sans, sans-serif;
  }
   /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
   #sidebar-wrapper {
   /*margin-left: -250px;
   left: 250px;*/
   width: 275px;
   background: white;
   position: fixed;
   height: 85%;
   /*top: 85px;*/
   /*overflow-y: auto;*/
   overflow: overlay;
   transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
   }
  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
 /*  #page-content-wrapper {
   width: 100%;
   }*/
   .sidebar-nav {
   position: absolute;
   top: 0;
   width: 275px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav li {
   line-height: 20px;
   text-indent: 0px;
   }
   .sidebar-nav li a {
   color: #f9992f;
   display: block;
   text-decoration: none;
   padding-left: 38px;
    margin-left: 10px;
   }
   .sidebar-nav li a span:before {
   position: absolute;
   left: 0;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav li a span b{
   font: 550 14px Open Sans, sans-serif !important;
   }
   .sidebar-nav li a:hover,
   .sidebar-nav li.active {
   color: #014b79;
   background: rgba(230, 227, 224, 0.41);
   text-decoration: none;
   }
   .sidebar-nav li a:active,
   .sidebar-nav li a:focus {
   text-decoration: none;
   }
   .sidebar-nav > .sidebar-brand {
   height: 65px;
   line-height: 60px;
   font-size: 18px;
   }
   .sidebar-nav > .sidebar-brand a {
   color: #f9992f;
   }
   .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
   }

   .sidebar-nav-sub {
   position: inherit;
   top: 0;
   width: 250px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav-sub li {
   line-height: 40px;
   text-indent: 12px;
   }
   .sidebar-nav-sub li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding-left: 25px;
   }
   .sidebar-nav-sub li a span:before {
   position: absolute;
   left: 7;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav-sub li a:hover,
   .sidebar-nav-sub li.active {
   color: #014b79;
   background: rgba(243, 243, 243, 0.57);
   text-decoration: none;
   }
   .sidebar-nav-sub li a:active,
   .sidebar-nav-sub li a:focus {
   text-decoration: none;
   }
   .sidebar-nav-sub > .sidebar-brand {
       height: 31px;
    line-height: 20px;
    font-size: 16px;
   }
   .sidebar-nav-sub > .sidebar-brand a {
   color: rgba(153, 153, 153, 0.8117647058823529);
   }
   .sidebar-nav-sub > .sidebar-brand a:hover {
   color: #014b79;
   background: white;
   }

   .content-header {
   height: 65px;
   line-height: 65px;
   }
   .content-header h1 {
   margin: 0;
   margin-left: 20px;
   line-height: 65px;
   display: inline-block;
   }
   #menu-toggle {
   text-decoration: none;
   }
   .btn-menu {
   color: #000;
   }
   .inset {
   padding: 5px 20px 20px 20px;
   }

   @media screen and (max-width: 992px){
   #sidebar-wrapper {
   left: 0;
   width: inherit;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   @media (max-width:767px) {
  /* #wrapper {
   padding-left: 0;
   }*/
   #sidebar-wrapper {
   left: 0;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
   }

   .legendTwo{
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
   }

   .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
     /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
     box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
}
</style>
<div id="myModalNewZ" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Compare your options and choose the loan that fits your requirements for the New Zealand.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalNewZ')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalNewZ').modal('show');
   }, 9000);
   //$('#myModalNewZ').modal('show');
 });*/
</script>
<section id="imgSec" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/educationLoana.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">Understanding Study Loan For New Zealand</h1>
           </div>
       </div>
   </div>
   </section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea" >
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
          <div id="sidebar-wrapper">
           <nav id="spy">
              <ul class="sidebar-nav nav">
                 <li>
                    <a href="#home"><span class="fa fa-bank solo" ><b>Home</b></span></a>
                 </li>
                 <li>
                    <a href="#eduLoan" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Education Loan for New Zealand</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                    <li class="sidebar-brand">
                          <a href="#eligibi" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Eligibility Criteria</b></span>
                          </a>
                    </li>
                    <li class="sidebar-brand">
                          <a href="#doc" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Documents</b></span>
                          </a>
                    </li>
                    <li class="sidebar-brand">
                          <a href="#inRate" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Interest Rates</b></span>
                          </a>
                    </li>
                    <li class="sidebar-brand">
                          <a href="#banksLoan" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Indian Banks Providing Loan</b></span>
                          </a>
                    </li>
                    <li class="sidebar-brand">
                          <a href="#Benefits" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Benefits</b></span>
                          </a>
                    </li>
                    </ul>
                </li>
                 <li>
                    <a href="#Types" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Types of Institutes</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#Documents" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Documents required</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#FundRequirements" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Fund Requirements</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#Medical" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Medical Recommendations</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#Options" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Options</b></span>
                    </a>
                 </li>
               <!--   <li>
                    <a href="#Steps" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Education Loans Steps</b></span>
                    </a>
                 </li> -->
                 <li>
                    <a href="#TopUni" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Top Universities in New ZeaLand</b></span>
                    </a>
                 </li>
                 <li>
                  <a href="#FAQs" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>FAQ's</b></span>
                  </a>
                 </li>
              </ul>
           </nav>
          </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
         <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">
               <div class="jumbotron text-center" style="margin-bottom: 15px;">
                <img src="images/NZBanner.jpg" class="img-responsive">
                  <h2 style="font-size: 30px">Education Loan for New Zealand</h2>
                  <p style="font-size: 18px">It has been a dream for many Indian students to go to New Zealand for higher studies. But it is costly. That is when a study loan for New Zealand comes in handy. These loans will pay for your fees, living expenses, and other education-related costs. In this guide, we will walk you through everything you need to know about a study loan for New Zealand.</p>
                  <p style="font-size: 18px">Studying in one of the top universities in New Zealand can be a cake for your career prospects but it requires significant bank balance for which many students seek an educational loan for NEw Zealand. There are many financial institutions in India and outside that can help students get the desired education loan for NEw Zealand and study abroad. But, to avail this funding assistance, it is important to meet some eligibility criteria some of which are:</p>
                  
                  <ul>
                    <li>Applicants applying for an education loan for New Zealand should be an Indian citizen</li>
                    <li>Applicant should have also secured admission in a reputed college in some technical or professional course</li>
                  </ul>
               </div>
            </div>
            <div class="row">
              <div class="col-md-12 wellBox">
                <h2 class="legendOne" id="eduLoan">How to Get an Education Loan for New Zealand?
                </h2>
                <p>Getting an education loan for studying in New Zealand involves several steps. Here’s how you do it:
                </p>
                <ul>
                  <li>
                    <strong>Researching and Comparing Loans:</strong> 
                    Banks have different kinds of lending facilities. Please take into account their rates, the amount lent out, and repayment terms.
                  </li>
                  <li>
                    <strong>Checking Eligibility Criteria:</strong> 
                    Ensure that you meet the lender’s basic conditions, including your academic performance, the course being pursued, and the institution where you are accepted.
                  </li>
                  <li>
                    <strong>Collect Required Documents:</strong> 
                    Have all documents ready, such as proof of admission, academic certificates, financial statements, and identity cards.
                  </li>
                  <li>
                    <strong>Submit Loan Application:</strong> 
                    Fill out the application form alongside the necessary documents.
                  </li>
                  <li>
                    <strong>Loan Processing and Approval:</strong> 
                    The financial institution will scrutinize your application once you submit it with all supporting documents. If approved, a sanction letter is sent to you.
                  </li>
                </ul>
               
              </div>
              <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="eligibi">Eligibility Criteria of Study Loan for New Zealand</h3>
                  <p>You must fulfil these requirements to be eligible for applying for a study loan in New Zealand:</p>
                  <ul>
                    <li>
                      <strong>Good Academic Record:</strong> 
                      You should have good marks plus enrolment at any recognized educational establishment within New Zealand.
                    </li>
                    <li>
                      <strong>Nationality:</strong> 
                      Only Indian citizens are eligible.
                    </li>
                    <li>
                      <strong>Co-Applicant Required:</strong> 
                      The majority of lenders require a co-applicant who is regularly earning, such as parents or guardians.
                    </li>
                    <li>
                      <strong>Course & Institution:</strong> 
                      The course and institution must have been approved by the lender.
                    </li>
                  </ul>                 
              </div>
              <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="doc">Documents That Must Be Submitted When Applying For Education Loan For New Zealand</h3>
                  <p>There are various documents that you must submit when applying for a study loan for New Zealand. Here is a list of them:</p>
                  <ul>
                    <li>
                      <strong>Proof of Admission:</strong> 
                      A letter from the educational institution in New Zealand that shows your admission.
                    </li>
                    <li>
                      <strong>Academic Records:</strong> 
                      Results slips and certificates from previous education.
                    </li>
                    <li>
                      <strong>Financial Documents:</strong> 
                      Co-applicant’s bank statements, tax returns, and pay slips.
                    </li>
                    <li>
                      <strong>Identification Proofs:</strong> 
                      Passport, Aadhar card, PAN card.
                    </li>
                    <li>
                      <strong>Other Documents:</strong> 
                      Loan application form, passport-sized photographs, and proof of residence.
                    </li>
                  </ul>                                                     
              </div>
              <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="inRate">Interest Rates And Repayment Options For Education Loan for New Zealand</h3>
                  <p>The interest rates offered on education loans for New Zealand vary depending on lenders and loan schemes. The usual interest rate ranges between 9% and 14%. Additionally, some banks provide lower rates for girls or students with exceptional academic indicators.</p>   
                  <p>Usually, repayments commence after 6-12 months of completing your course or employment, whichever is earlier. The tenure can range from 5 to 15 years. Make sure that you choose a repayment plan that suits your financial capacity and future earnings.</p>         
              </div>
              <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="banksLoan">Indian Banks Providing Study Loan for New Zealand</h3>
                  <ul>
                    <li>
                      <strong>State Bank of India (SBI):</strong> 
                      SBI offers education loans starting at an interest rate of 8.65% per annum. They provide loans up to INR 1.5 crore for studying abroad.
                    </li>
                    <li>
                      <strong>HDFC Credila:</strong> 
                      Popular for its tailor-made education loans, HDFC Credila offers the lowest interest rate of 11.75% per annum. These loans cover tuition fees, living expenses, and other study-related expenses.
                    </li>
                    <li>
                      <strong>Axis Bank:</strong> 
                      Axis Bank's education loan rates range from 13.70% to 15.20% per annum. The bank provides loans up to INR 40 lakh for studying abroad.
                    </li>
                    <li>
                      <strong>Punjab National Bank (PNB):</strong> 
                      Under the PNB Udaan scheme, education loans are available at an interest rate beginning at 9.55%. They provide overseas education loans up to INR 1 crore.
                    </li>
                    <li>
                      <strong>ICICI Bank:</strong> 
                      Interest on ICICI Bank education loans starts at 11.5% per annum. The loan can go as high as INR 1 crore, covering school fees and other costs.
                    </li>
                  </ul>
                                                                    
              </div>
              <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="Benefits">Benefits of Taking a Study Loan for New Zealand</h3>
                  <p>Taking a study loan for New Zealand has several benefits:
                  </p>
                  <ul>
                    <li>
                      <strong>Funding:</strong> 
                      It includes tuition fees, accommodation, books, and other educational expenses.
                    </li>
                    <li>
                      <strong>Flexible Repayment Options:</strong> 
                      You have the freedom to choose a repayment plan depending on your financial capacity.
                    </li>
                    <li>
                      <strong>Tax Advantages:</strong> 
                      The payment of interest on learning debts under Section 80E of the Income Tax Act results in a tax reduction.
                    </li>
                    <li>
                      <strong>Better Credit Score:</strong> 
                      Making timely repayments will improve your creditworthiness.
                    </li>
                  </ul>
                <p>Are you ready to make your dream of studying in New Zealand come true? Let <a href="https://www.eduloans.org/education-loans-newZealand" target="_blank">EduLoan's</a> help you find the right student loan tailored specifically to suit your needs, in which case you can get funded within a very short time through our expert guidance and support team. Apply today and start by being one step closer to an excellent academic expedition in New Zealand.</p>             
              </div>
               <div class="col-md-12 wellBox" >
                  <h3 class="legendOne" id="Types">Types of Institutes in New Zealand and Fees Structure</h3>
                  <p>New Zealand has 8 government Universities which are all research based and Government Owned. They offer all types of courses ranging from Business  to Engineering. All Banks are very ready to lend education loans for New Zealand to Students if they are going to these 8 Universities. The Education loan for New Zealand is offered for all these institutes.  The intakes are generally in February and July.  The Cost of Study in Newzealand for the Universities is approximately NZ $25,000 - 40,000 . The Living cost for the entire year is approximately NZ $ 10,000 -  15, 000.  The total cost of education is INR 15 Lakhs to INR 25 Lakhs.</p>
                  <p>The Second type of Institutes are Technology and Polytechnic institutes.  They have generally two semesters and are cheaper than Universities.Tuition fees vary between programmes. They are paid for a year, and are usually between NZD$16,000-$20,000. They are cheaper than Universities and Most Banks. NBFC etc lend to them only with collateral. </p>
                  <p>The third type of Institutions are Private Training Establishments which are Polytechnics but privately owned. They have lower admission criteria and look forward to the average student. They generally teach courses which have high jobs in New Zealand like Hospitality or Business. Financial institutions are reluctant to provide education loans for New zealand for PTE however the same is not impossible . They would generally require a higher income and lower existing EMI from the Co-signer.</p>
               </div>

               <div class="col-md-12 wellBox" >
                  <h3 class="legendOne" id="Documents">Documents required for an Education Loan to Study in New Zealand</h3>
                  <p>Before applying for an educational loan for study in New Zealand, students are required to have all the documents in place. Some of the important documents required are:</p>
                  <ul>
                    <li>Filled application form</li>
                    <li>Two passport-size photographs</li>
                    <li>Valid Passport</li>
                    <li>Copies of old passports only if your passport has been renewed</li>
                    <li>If studied abroad previously then must carry the documents proving visa declines and copies of endorsed visas/biometric cards issued</li>
                    <li>Receipt of payment of application fee:</li>
                    <li>VAC Service Fee</li>
                    <li>Statement of purpose</li>
                    <li>A completed external English Language Proficiency Test such as the International English Language Testing System (IELTS: Academic), Test of English as a Foreign Language Internet-Based Test (TOEFL iBT), Occupational English Test (OET), Cambridge English: First (FCE) and FCE for Schools, and Pearson Test of English: Academic (PTE: Academic)</li>
                    <li>Evidence of previous work and studies if any. Such documents may include mark sheets, certificates, salary slips, salary account statements, experience/promotion</li>
                    <li>Income Tax Returns, Form 16, etc</li>
                    <li>Evidence of funds to cover the tuition fee and the staying expenses in New Zealand. It is important to show funds only from immediate family members (spouse, parents, siblings, grandparents, and parents-in-law). Also a relevant document needs to be submitted which describes the relation status of the student and the sponsor. </li>
                  </ul>
                </div>



               <div class="col-md-12 wellBox" >
                  <h3 class="legendOne" id="FundRequirements">Fund Requirements:</h3>
                  <ol>
                    <li><b>Evidence of funds for maintenance:</b>For courses of duration more than nine months, the students must show evidence of funds of NZ$15,000 for living expenses. For a shorter course, evidence of  at least NZ$1,250 per month is required. Funds for the first year should be readily available liquid funds.</li>
                    <li>As an evidence, the student can show original bank deposit certificate; education loan sanction letter from a nationalised or multi-national bank with security against fixed asset(s) of the applicant or sponsor, fixed deposits at least 6 months old; bank statement(s) of the student or acceptable sponsor(s) for past 6 months; public/employee provident fund accounts supported by documents pertaining to employment.</li>
                    <li>Students who have got scholarship students should show letter of offer from New Zealand institution detailing the scholarship and dates of the programme</li>
                    <li>Plan of fee payment for the courses of more than one year. This can include sponsor’s tax return showing income and saving patterns, fixed deposit due to mature in the following year, EPF/GPF accumulated over a period of one year, savings account, and statement with source of recent funds (if any)</li>
                    <li>A letter from the financial sponsor detailing gross annual income, personal tax records,length of employment and position held and evidence of business registration and recent business tax returns with income statement if any</li>
                  </ol>
               </div>


                <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="Medical">Medical Recommendations for an Education Loan to Study in New Zealand</h3>
                  <p>If the student is intending to stay in New Zealand for more than six months, they are required to present an eMedical Chest X-Ray certificate issued by one of the panel physicians in the visa office. if the student applied for a student visa more than 6 months ago and were unsuccessful, they should  provide a new Chest X-Ray Certificate which is less than 3 months old with their application. If the intention to stay in New Zealand is for more than 24 months, the students need to get the police certificates from all countries of citizenship and  the countries where they have lived for five years or more after they became 17 years old.</p>
                </div>


                 <div class="col-md-12 wellBox" >
                  <h3 class="legendOne" id="Options">Education loan for New Zealand options:</h3>
                  <p>Loan Options for Students Looking at Taking Overseas Education loan for New Zealand:New Zealand has limited but world class Universities. All Financial institutions provide loans to Degree courses  -  Bachelors and masters but they may not provide the same for diploma or tertiary education.
                  </p>

                  <ol>
                    <li><b>State Bank of India -</b> SBI provides education loans for NEw Zealand for students who look to study Bachelors/ Masters at Universities. They only provide education loans for NEw Zealand with Collateral and decent parental earning. SBI takes into consideration the future earning potential of the student.</li>
                    <li><b>Bank of Baroda -</b> Bank of Baroda provides 100% funding to University of Auckland. They provide funding to all courses from Universities, Polytechnics etc. They are very aggressive and have digitally integrated with us for faster turnaround time. </li>
                    <li><b>Private Banks -</b> We have  ICICI bank providing Unsecured education loans for New Zealand to University of Auckland of INR 40 lakhs and INR 20 Lakhs  to Massey University, University of Canterbury, University of Otago, University of Waikato etc. Axis bank as well provides Unsecured education loans for NEw Zealand to leading New Zealand Universities. The private banks are approved by New Zealand Universities for VISA purposes. The student must look at the loan options for Education loan for New Zealand if we are looking at Unsecured education loans for NEw Zealand, Competitive rates and home service.</li>
                    <li><b>NBFC -</b>  Non Banking Finance corporations are not so aggressive when it comes to New Zealand vs other countries like the US etc. They do provide secured education loans for NEw Zealand but are reluctant to provide unsecured education loans for NEw Zealand. They look at a strong Co Signer profile for the education loans for NEw Zealand in case you are looking for Unsecured loans. Avanse and Incred are the only NBFC offering Unsecured loans between INR 10 lakhs to INR 20 Lakhs to prospective students but at the Masters level. </li>
                    <li><b>International Funds -</b> Such As Mpower, Prodigy do not support New Zealand at the moment . </li>
                  </ol>
                  <br>
                  <h4>Top Banks that offer unsecured loans for New Zealand</h4>
                  <p>The following banks offer the best-unsecured education loan schemes to study in New Zealand</p>
                  <ul>
                      <li><a href="https://www.eduloans.org/icici-overseas-education-loan">ICICI Bank</a></li>
                      <li><a href="#">IDFC Bank</a></li>
                      <li><a href="https://www.eduloans.org/axis-bank-overseas-education-loans">Axis Bank</a></li>
                      <li><a href="https://www.eduloans.org/hdfc-foreign-education-loan">HDFC Credila</a></li>
                      <li><a href="https://www.eduloans.org/auxilo-overseas-education-loan">Auxilo</a></li>
                      <li><a href="https://www.eduloans.org/incred-education-loans">Incred</a></li>
                      <li><a href="https://www.eduloans.org/avanse-abroad-education-loan">Avanse</a></li>
                  </ul>
                    

                  <p>The Best Education loan provider for New Zealand depends on what you are looking for in terms of security. In case you are looking at the Undergraduate level then you would require to provide  a collateral for your Education Loan for New Zealand. IN case you are looking at an MS in STEM courses or an MBA from New Zealand then you can look at Unsecured education loans for NEw Zealand for New zealand from ICICI Bank, Axis Bank, Incred or Avanse. The VISA process is very similar to New Zealand where the loan letter needs to be pre-dispersed or proof of living needs to be deposited. We at Edu Loans have all the options available  -  Secured Loan options for New Zealand or Unsecured loan options for New Zealand. We are the most comprehensive loan portal having digitally integrated with all the banks. </p>
               </div>

               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="TopUni">Top Universities in New Zealand</h3>
                   <table class="table table-bordered">
                      <tr>
                        <th>University Name</th>
                        <th>About</th>
                        <th>International Fee</th>
                        <th>Secured Loan</th>
                        <th>Unsecured Loan</th>
                      </tr>
                     <tr>
                       <td>University of Auckland</td>
                       <td>One of the highest ranked universities in NEw Zealand, this university enrolls more than 40,ooo students every year in its six campuses across the country.</td>
                       <td>33,688 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>University of Otago</td>
                       <td>This university ranks 151st in the top universities in the world. </td>
                       <td>27,700 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>University of Canterbury</td>
                       <td>One of the oldest universities in New Zealand, this university ranks 214th this year all over the world.</td>
                       <td>29,550 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Victoria University of Wellington</td>
                       <td>Founded in 1897, this university has made significant progress this year to rank 219 among the top universities in the world. </td>
                       <td>29,154 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>University of Waikato</td>
                       <td>One of the most famous universities in the country, it attracts thousands of students from all over the world every year.</td>
                       <td>23, 170 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Massey University</td>
                       <td>This university is known  for its applied nature of courses and close contacts to the community. It also offers programs like dispute resolution, aviation, veterinary medicine, and nanoscience.</td>
                       <td>24,300 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Lincoln University</td>
                       <td>This university provides students with a deep knowledge on land, wealth, and productivity.</td>
                       <td>10,000 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Auckland University of Technology</td>
                       <td>This university is ranked among the top ten universities in New Zealand.</td>
                       <td>12,000 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Auckland Institute of Studies</td>
                       <td>Being a cheaper institute this university attracts a larger student mass from all over the world. </td>
                       <td>11,568 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Manukau Institute of Technology</td>
                       <td>With four campuses in NEw Zealand, this university offers prominent education in technical courses.</td>
                       <td>14,545 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Nelson Marlborough Institute of Technology</td>
                       <td>One of the top colleges in NEw Zealand, it offers a vast array of courses to more than thousands of students across the world. </td>
                       <td>13,565 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Open Polytechnic of New Zealand</td>
                       <td>A public institute known for its polytechnic courses in New Zealand.</td>
                       <td>7,565 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Western Institute of Technology at Taranaki</td>
                       <td>This institute provides a vast array of courses in Business and Management, engineering, english language, and fitness and sports.</td>
                       <td>10,656 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>NZMA</td>
                       <td>One of the famous colleges in New Zealand, this institute provides courses in cookery,hospitality, early childhood, trades, and more.</td>
                       <td>10,656 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Pacific International Hotel Management school</td>
                       <td>This institute welcomes students from all over the world who want to make a successful career in hotel management.</td>
                       <td>7898 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Laidlaw College</td>
                       <td>This college provides a detailed education to students seeking to pursue law.</td>
                       <td>10,008 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>ICL Business School</td>
                       <td>A graduate school in New Zealand offering many diploma, graduate and undergraduate courses in Business Management.</td>
                       <td>12,456 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>Newton College of Business and Technology</td>
                       <td>A private college in NEwzealand that helped the students train in many</td>
                       <td>9675 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                     <tr>
                       <td>New Zealand Institute of Studies</td>
                       <td>One of the premier institutes in the country offering proficiency in english.</td>
                       <td>8976 NZD</td>
                       <td>Available from All Lenders</td>
                       <td>Available from  Some Private Banks and  NBFC</td>
                     </tr>
                  </table>
               </div>

               <div class="col-md-12 wellBox">
                <h3 class="legendOne" id="FAQs">FAQs for Education Loans for Study in the USA :</h3>
                <ol>
                  <li>
                    <b>What are the different types of education loans available in New Zealand?</b>
                    <p><i class='fa fa-angle-double-right'></i> Typically, education loans for New Zealand include undergraduate, postgraduate, and doctoral studies as well as specialized courses.</p>
                  </li>
                  <li>
                    <b>How to Apply for an Education Loan in New Zealand?</b>
                    <p><i class='fa fa-angle-double-right'></i> Research lenders, check eligibility, gather requirements, fill out the application form, and wait to get approval.</p>
                  </li>
                  <li>
                    <b>Eligibility Criteria for Education Loan in New Zealand</b>
                    <p><i class='fa fa-angle-double-right'></i> The criteria include a good academic record, Indian citizenship, a co-applicant with a steady income, and admission to approved courses and institutions.</p>
                  </li>
                  <li>
                    <b>What documents do I need to apply for a study loan for New Zealand?</b>
                    <p><i class='fa fa-angle-double-right'></i> To apply for a study loan for New Zealand, you must submit the proof of admission letter, academic transcripts, bank statement of at least six months duration or the last year from any existing bank account, parents’/guardians’/own income tax return copies if necessary, birth certificate, etc.</p>
                  </li>
                  <li>
                    <b>What are the interest rates on education loans for New Zealand?</b>
                    <p><i class='fa fa-angle-double-right'></i> Interest rates usually vary between 9% and 14% and vary between banks or financial institutions. Some students may be eligible for a lower rate.</p>
                  </li>
                </ol>
                
             </div>
               
               <!-- <section class="content-section" style="    background-color: #006FAE;">
                <div class="callToAction footer-bar-3 " style="background: #006FAE;">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-8 col-sm-6 col-xs-6  pt10">
                        <h5 class="visible-md visible-lg" style="color: white;">Get an education loan for New Zealand at a reduced interest rate by contacting Eduloans!</h5> 
                        <h6 class="visible-xs visible-sm" style="color: white;">Get an education loan for New Zealand at a reduced interest rate by contacting Eduloans!</h6>
                      </div>
                      <div class="col-md-3 ">
                        <div class="row visible-md visible-lg" style="text-align: center;"> <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Apply Now!</a> </div>
                        <div class="row visible-xs visible-sm" style="text-align: center;"> <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" style="    padding: 8px 23px;margin-top: 16px;">Apply Now!</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
               </section>

               <section class="content-section" style="    background-color: #006FAE;">
                <div class="callToAction footer-bar-3 " style="background: #006FAE;">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-8 col-sm-6 col-xs-6  pt10">
                        <h5 class="visible-md visible-lg" style="color: white;">Calculate your Loan EMIs and plan your repayment accordingly!</h5> 
                        <h6 class="visible-xs visible-sm" style="color: white;">Calculate your Loan EMIs and plan your repayment accordingly!</h6>
                      </div>
                      <div class="col-md-3 ">
                        <div class="row visible-md visible-lg" style="text-align: center;"> <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Apply Now!</a> </div>
                        <div class="row visible-xs visible-sm" style="text-align: center;"> <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" style="    padding: 8px 23px;margin-top: 16px;">Apply Now!</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
               </section>

               <section class="content-section" style="    background-color: #006FAE;">
                    <div class="callToAction footer-bar-3 " style="background: #006FAE;">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6  pt10">
                            <h5 class="visible-md visible-lg" style="color: white;">Get an education loan for New Zealand at a reduced interest rate by contacting Eduloans!</h5> 
                            <h6 class="visible-xs visible-sm" style="color: white;">Get an education loan for New Zealand at a reduced interest rate by contacting Eduloans!</h6>
                          </div>
                          <div class="col-md-3 ">
                            <div class="row visible-md visible-lg" style="text-align: center;"> <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Apply Now!</a> </div>
                            <div class="row visible-xs visible-sm" style="text-align: center;"> <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" style="    padding: 8px 23px;margin-top: 16px;">Apply Now!</a> </div>
                          </div>
                        </div>
                      </div>
                    </div>
               </section> -->


            
          

               
              </div>






            </div>
         </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
   /*Menu-toggle*/
   // $("#menu-toggle").click(function(e) {
   //     e.preventDefault();
   //     $("#wrapper").toggleClass("active");
   // });
   //var offset = 80;
   /*Scroll Spy*/

   $('.scrollSpyArea').scrollspy({ target: '#spy', offset:200});

    headerHeight = $("#header").height() + 5;
    secHeight = $("#imgSec").height() + headerHeight;

   /*Smooth link animation*/
   $('a[href*=#]:not([href=#])').click(function() {
      $('#sidebar-wrapper').css({'top' : headerHeight });
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - headerHeight
               }, 1000);
               return false;

           }

       }

   });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function(event){
     var st = $(this).scrollTop();
     if (st > lastScrollTop){
         // downscroll code
          $('#sidebar-wrapper').css({'top' : headerHeight });
     } else {
     }
     lastScrollTop = st;
  });
  $(window).scroll(function(){
    if ($(this).scrollTop() == '0') {
        var element = document.getElementById('sidebar-wrapper');
        element.style.top = null;
    }
});

</script>
