<style type="text/css">
  .spanText{
    font: 550 14px Open Sans, sans-serif;
  }
   /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
   #sidebar-wrapper {
   /*margin-left: -250px;
   left: 250px;*/
   width: 275px;
   background: white;
   position: fixed;
   height: 85%;
   /*top: 85px;*/
   /*overflow-y: auto;*/
   overflow: overlay;
   transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
   }
  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
 /*  #page-content-wrapper {
   width: 100%;
   }*/
   .sidebar-nav {
   position: absolute;
   top: 0;
   width: 275px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav li {
   line-height: 20px;
   text-indent: 0px;
   }
   .sidebar-nav li a {
   color: #f9992f;
   display: block;
   text-decoration: none;
   padding-left: 38px;
    margin-left: 10px;
   }
   .sidebar-nav li a span:before {
   position: absolute;
   left: 0;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav li a span b{
   font: 550 14px Open Sans, sans-serif !important;
   }
   .sidebar-nav li a:hover,
   .sidebar-nav li.active {
   color: #014b79;
   background: rgba(230, 227, 224, 0.41);
   text-decoration: none;
   }
   .sidebar-nav li a:active,
   .sidebar-nav li a:focus {
   text-decoration: none;
   }
   .sidebar-nav > .sidebar-brand {
   height: 65px;
   line-height: 60px;
   font-size: 18px;
   }
   .sidebar-nav > .sidebar-brand a {
   color: #f9992f;
   }
   .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
   }

   .sidebar-nav-sub {
   position: inherit;
   top: 0;
   width: 250px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav-sub li {
   line-height: 40px;
   text-indent: 12px;
   }
   .sidebar-nav-sub li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding-left: 25px;
   }
   .sidebar-nav-sub li a span:before {
   position: absolute;
   left: 7;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav-sub li a:hover,
   .sidebar-nav-sub li.active {
   color: #014b79;
   background: rgba(243, 243, 243, 0.57);
   text-decoration: none;
   }
   .sidebar-nav-sub li a:active,
   .sidebar-nav-sub li a:focus {
   text-decoration: none;
   }
   .sidebar-nav-sub > .sidebar-brand {
       height: 31px;
    line-height: 20px;
    font-size: 16px;
   }
   .sidebar-nav-sub > .sidebar-brand a {
   color: rgba(153, 153, 153, 0.8117647058823529);
   }
   .sidebar-nav-sub > .sidebar-brand a:hover {
   color: #014b79;
   background: white;
   }

   .content-header {
   height: 65px;
   line-height: 65px;
   }
   .content-header h1 {
   margin: 0;
   margin-left: 20px;
   line-height: 65px;
   display: inline-block;
   }
   #menu-toggle {
   text-decoration: none;
   }
   .btn-menu {
   color: #000;
   }
   .inset {
   padding: 5px 20px 20px 20px;
   }

   @media screen and (max-width: 992px){
   #sidebar-wrapper {
   left: 0;
   width: inherit;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   @media (max-width:767px) {
  /* #wrapper {
   padding-left: 0;
   }*/
   #sidebar-wrapper {
   left: 0;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
   }

   .legendTwo{
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
   }

   .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
     /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
     box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
}
</style>
<div id="myModalUSA" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button> 
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Compare your options and choose the loan that fits your requirements for the USA.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                 <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalUSA')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalUSA').modal('show');
   }, 9000);
   //$('#myModalUSA').modal('show');
 });*/
</script>
<section id="imgSec" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/educationLoana.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">Educational Loan for USA, Overseas education loans USA</h1>
           </div>
       </div>
   </div>
   </section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea" >
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
          <div id="sidebar-wrapper" >
           <nav id="spy">
              <ul class="sidebar-nav nav">
                 <li>
                    <a href="#home"><span class="fa fa-bank solo" ><b>Home</b></span></a>
                 </li>
                 <li>
                     <a href="#keyFeatures" data-scroll>
                     <span class="fa fa-arrow-circle-right solo"><b>Key Features of Educational Loans</b></span>
                     </a>
                     <ul class="sidebar-nav-sub nav">
                     <li class="sidebar-brand">
                           <a href="#eligibi" data-scroll>
                           <span class="fa fa-angle-right solo"><b>Eligibility Criteria</b></span>
                           </a>
                     </li>
                     <li class="sidebar-brand">
                           <a href="#appProcess" data-scroll>
                           <span class="fa fa-angle-right solo"><b>Application Process</b></span>
                           </a>
                     </li>
                     <li class="sidebar-brand">
                           <a href="#eduType" data-scroll>
                           <span class="fa fa-angle-right solo"><b>Types of Educational Loans</b></span>
                           </a>
                     </li>
                     <li class="sidebar-brand">
                           <a href="#coveredExpences" data-scroll>
                           <span class="fa fa-angle-right solo"><b>Expenses Covered by Loans</b></span>
                           </a>
                     </li>
                     <li class="sidebar-brand">
                           <a href="#repayment" data-scroll>
                           <span class="fa fa-angle-right solo"><b>Repayment Options</b></span>
                           </a>
                     </li>
                     </ul>
                 </li>
                 <li>
                    <a href="#Schemes" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loans for USA Schemes</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#SBI" data-scroll>
                            <span class="fa fa-angle-right solo"><b>SBI</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#BankofBaroda" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Bank of Baroda</b></span>
                          </a>
                      </li>
                       <li class="sidebar-brand">
                          <a href="#ICICI" data-scroll>
                            <span class="fa fa-angle-right solo"><b>ICICI</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#Axis" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Axis</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#HDFC" data-scroll>
                            <span class="fa fa-angle-right solo"><b>HDFC</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#Avanse" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Avanse</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#Auxilo" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Auxilo</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#Incred" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Incred</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#Prodigy" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Prodigy</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#MPOWER" data-scroll>
                            <span class="fa fa-angle-right solo"><b>MPOWER</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#LeapFinance" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Leap Finance</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#PopularCourses" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Popular Courses Offered in the USA</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#Twofacets" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Two facets of expenses</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#DirectExpenditure" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Direct Expenditure</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#IndirectExpenditure" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Indirect Expenditure</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#quicksnapshot" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Quick Snapshot</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#Admission" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>USA Admission Cycle</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#FALL" data-scroll>
                            <span class="fa fa-angle-right solo"><b>FALL</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#SPRING" data-scroll>
                            <span class="fa fa-angle-right solo"><b>SPRING</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                  <a href="#Conclusion" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Conclusion</b></span>
                  </a>
                 </li>
                 <!-- FAQ  -->
                 <li>
                  <a href="#FAQs" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>FAQ's</b></span>
                  </a>
                  <!-- <ul class="sidebar-nav-sub nav">
                    <li class="sidebar-brand">
                        <a href="#SBI" data-scroll>
                          <span class="fa fa-angle-right solo"><b>SBI</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#BankofBaroda" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Bank of Baroda</b></span>
                        </a>
                    </li>
                     <li class="sidebar-brand">
                        <a href="#ICICI" data-scroll>
                          <span class="fa fa-angle-right solo"><b>ICICI</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Axis" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Axis</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#HDFC" data-scroll>
                          <span class="fa fa-angle-right solo"><b>HDFC</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Avanse" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Avanse</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Auxilo" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Auxilo</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Incred" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Incred</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#Prodigy" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Prodigy</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#MPOWER" data-scroll>
                          <span class="fa fa-angle-right solo"><b>MPOWER</b></span>
                        </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="#LeapFinance" data-scroll>
                          <span class="fa fa-angle-right solo"><b>Leap Finance</b></span>
                        </a>
                    </li>
                  </ul> -->
                 </li>
              </ul>
           </nav>
          </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
         <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">
               <div class="jumbotron text-center" style="margin-bottom: 15px;">
                  <img src="images/USABanner.jpg" class="img-responsive">
                  <h2 style="font-size: 30px">Introduction</h2>
                  <p style="font-size: 18px">One has to be very particular about interest rates when availing of an educational loan. Interest rates differ due to various factors, such as the amount of the loan, the lender's policy, the creditworthiness of co-signers, and the tenure of the loan.

                  <br>Generally, the interest rates charged for an educational loan range from 8% to 15% per annum. One should compare the rates offered by various lenders and opt for one that will suit his pockets.
                     </p>
                  <h4 style="font-size: 20px">Scholarships and Education Loan for Study in the USA</h4>
                  <p style="font-size: 18px">Studying in the USA is a dream for many students. In the US, versus many European countries education at the college level is paid by the applicant and usually has very high fees. Further if you are an out of state student or an international student the fees are even higher. Hence it becomes increasingly important to look at options for Overseas Education loans USA. All financial providers provide loans for overseas study in the US. </p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 wellBox">
                  <h2 class="legendOne" id="keyFeatures">Key Features of Educational Loans</h2>
                  <h3 class="legendTwo">Interest Rates</h3>
                  <p>Interest rates are among the most important parameters that a student needs to consider while opting for an educational loan. The interest rates differ depending on factors such as the quantum of the loan amount, the rules and regulations of the lender, the credibility of the co-signer, and also the tenure of the loan.

                  <br>Interest rates on educational loans vary from 8% to 15% per annum. Compare the rates of interest in different lenders' offers and choose the one that best suits your needs.
                  </p>

                  <h3 class="legendTwo">Repayment Terms</h3>
                  <p>The repayment terms are structured to burden the students' finances as little as possible. Most banks provide a grace period—the student does not need to repay any credit—and it is common to have a grace period extending from six months to one year after having completed the course or secured the first job.

                  <br>Repayment is made through Equated Monthly Installments over a tenor between 10 and 20 years, based on the agreement with the loan.
                  </p>

                  <h3 class="legendTwo">Collateral Requirements</h3>
                  <p>Most banks and other agencies insist on collateral when sanctioning educational loans, especially for larger amounts. Collateral could be immovable property like a house or commercial property or movable assets like fixed deposits, shares, or bonds.

                  <br>For loans up to INR 4 lakhs, no collateral is needed. For loans up to INR 7.5 lakhs, a third-party guarantee may be required. For loans more than INR 7.5 lakhs, Collateral is a compulsion.
                  </p>

                  <h3 class="legendTwo">Expenses Covered</h3>
                  <p>Educational loans cover a comprehensive range of services, including tuition, accommodation, hostel or off-campus housing, living expenses like food and utilities, study materials like books, lab fees, equipment, travel expenses, health insurance, and visa fees. Some loans even extend to study tours or other expenses toward project work or thesis.
                  </p>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="eligibi">Eligibility Criteria</h3>
                  <ul>
                     <li><b>Citizenship:</b> The applicant must be an Indian citizen.</li>
                     <li><b>Age:</b> The applicant must be over 18 years old. If the applicant is younger, the parents will need to take the loan.</li>
                     <li><b>Admission:</b> The applicant must have secured admission to a recognized university in the USA.</li>
                     <li><b>Academic Record:</b> A strong academic background is often required. Some banks might ask for entrance exam scores, such as the GMAT, GRE, TOEFL, or IELTS.</li>
                     <li><b>Co-applicant:</b> Most loans require a co-applicant, usually a parent or guardian, who will be responsible for the loan in case the student defaults.</li>
                   </ul>                   
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="appProcess">Application Process</h3>
                  <ol>
                     <li>
                       <b>Research and Compare:</b> Start by researching and comparing loan options from various banks and Non-Banking Financial Companies (NBFCs). Look at interest rates, repayment terms, and other features to find the most suitable option.
                     </li>
                     <li>
                       <b>Documentation:</b> Gather the necessary documents, including:
                       <ul>
                         <li>Proof of admission (admission letter)</li>
                         <li>Identity proof (Aadhar card, passport)</li>
                         <li>Residence proof (electricity bill, rental agreement)</li>
                         <li>Academic records (mark sheets, certificates)</li>
                         <li>Income proof of the co-borrower (salary slips, I.T. returns)</li>
                         <li>Bank statements</li>
                       </ul>
                     </li>
                     <li>
                       <b>Loan Application:</b> Apply for the loan at least three months before your visa interview. Fill out the bank's loan application form and submit it along with the required documents.
                     </li>
                     <li>
                       <b>Loan Sanction:</b> After reviewing your application and documents, the bank will approve the loan. The loan amount is usually disbursed directly to the educational institution in installments as per the fee structure.
                     </li>
                   </ol>                                   
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="eduType">Types of Educational Loans</h3>
                  <ul>
                     <li>
                       <b>Secured Loans:</b> These loans require collateral and typically offer higher loan amounts and lower interest rates. Collateral can include property, fixed deposits, or other financial assets. Secured loans are suitable for students who need larger amounts and can provide sufficient security.
                     </li>
                     <li>
                       <b>Unsecured Loans:</b> These loans do not require collateral but might have higher interest rates. They typically require a co-signer or co-applicant with a good credit score and stable income. Unsecured loans are suitable for students who do not have assets to pledge as collateral.
                     </li>
                   </ul>                 
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="coveredExpences">Expenses Covered by Loans</h3>
                  <ul>
                     <li><b>Tuition Fees:</b> This is the primary expense covered by educational loans.</li>
                     <li><b>Accommodation:</b> Loans cover hostel fees or rent for off-campus housing.</li>
                     <li><b>Living Expenses:</b> This includes food, utilities, and other daily living costs.</li>
                     <li><b>Study Materials:</b> Books, lab fees, equipment, and other academic-related expenses are covered.</li>
                     <li><b>Travel and Visa:</b> Costs related to travel and obtaining a student visa are included in most loan packages.</li>
                     <li><b>Health Insurance:</b> Some loans also cover health insurance premiums for students.</li>
                     <li><b>Miscellaneous Expenses:</b> This can include expenses for study tours, project work, or thesis.</li>
                  </ul>                                   
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="repayment">Repayment Options</h3>
                  <ul>
                     <li><b>Grace Period:</b> Most banks offer a grace period after course completion, allowing students time to secure a job before starting repayments. This period can range from six months to one year.</li>
                     <li><b>EMIs:</b> Repayments are made through Equated Monthly Installments (EMIs) spread over 10 to 20 years, depending on the loan terms. It's essential to understand the EMI structure and choose a tenure that suits your financial capacity.</li>
                     <li><b>Prepayment:</b> Some banks offer the option to prepay the loan without any penalties. Prepayment can help reduce the overall interest burden and shorten the loan tenure.</li>
                  </ul>              
               </div>
               <div class="col-md-12 wellBox" >
                  <h3 class="legendOne" id="Schemes">Education Loans For USA Schemes</h3>
                  <p>Some of the common <b>education loans for USA</b> schemes offered by banks in India are:</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="SBI">SBI Global ED-VANTAGE - Education Loan For USA</h2>
                  <p>State Bank of India has Global Ed-Vantage  to Indian students for overseas education loan USA.  Under this scheme, a student can get financial aid between Rs.20 lakhs and Rs.1.5 crore and this money can be repaid within a period of 15 years. The repayment period starts after 6 months of the end of the course. All the borrowers are required to provide collateral to avail this loan. SBI mainly looks at the collateral as the principal source of security. The parents profile as well is  not very important and they have a fixed interest rate for all students looking to study in all courses in the USA. They do not differentiate the student based on student profile. </p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="BankofBaroda">Bank of Baroda Gyan Scholar (Study Abroad)  For USA</h2>
                  <p>Bank of Baroda has been a pioneer in the overseas education loan for all countries including USA by recognising that every study abroad student is different and has a different pricing scheme for students as per the profile of the student,  course and country. They have taken out a list of premier institutions which is dominated by education providers in the USA. The education loan for USA is very popular as it has 100% Margin, Moratorium period and refundable processing fees. This loan scheme also provides insurance protection and does not charge prepayment penalty from borrowers.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="ICICI">ICICI Education Loan For USA</h2>
                  <p>ICICI bank is very advantageous to students looking at Unsecured loans for Studying in USA. They have categorised Universities into A1, A2, A3, A4 where the student would get a different interest rate and loan amount in the unsecured loan segment. They are one of the pioneering banks who are looking at this segment. They offer loans on 100% collateral for all categories except A4. For US Education loans they look at courses and University. They prefer STEM courses and provide loans for the aspiring students looking at overseas education loan for  MS in USA</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="Axis">Axis Education Loan For USA</h2>
                  <p>Axis bank was the first bank to offer unsecured loans to students looking to study in the USA. They provide loans of Upto 40 Lakhs for the prime A segment where they look at primarily courses and university of study for student loans for the USA. They as well can look at all type of collaterals such as LIC, Govt Bonds etc. They have slab wise processing fees and competitive interest rates. For students looking at education loan for USA axis bank funds leading US universities and STEM focused courses.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="HDFC">HDFC Bank’s  Foreign Education For USA</h2>
                  <p>HDFC Bank was the pioneer in loans in case you would look at MS degrees in the US. MS degree has an advantage that its STEM designated and hence has a 3 years stay back option in the US. The company was the first one to offer unsecured overseas education loans  in the USA   upto 40 Lakhs based primarily on the students GRE profile, course and University. The company is very aggressive and has relationship managers across the country to service the loan.  Apart from this it's the only NBFC to have the 80E tax certificate which allows the guarantor to enjoy tax credits. </p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="Avanse">Avanse Education Loan For USA</h2>
                  <p>Avanse is a leading NBFC focused on Overseas education loan and primarily focused education loan for USA. They primarily look at GRE scores as well as parental profile. They are ready to extend the loans upto INR 50 Lakhs for students who have a high GRE score. They have differential pricing based on GRE score and have different partial interest payments. They do not have the concept of margin money. They are very aggressive in rate and with the latest inclusion of capital by Warner Pincus they would provide loans at competitive interest rates for study loans in USA.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="Auxilo">Auxilo Education Loan For USA</h2>
                  <p>Auxilo is very aggressive on student loans and can look to help students with slightly weaker profiles get loans at competitive rates. Education loans for USA are primarily based on GRE score and the parental profile. They are also taking in securities which have reasonable legal enforcement. They offer an income based product for Overseas education loans for the USA with direct EMI options.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="Incred">Incred Education Loan For USA</h2>
                  <p>Incred is one of the newer NBFC offering student loans. They look to provide Education loans for the USA mainly based on GRE scores. They price the loan based on GRE score, parental profile or any security provided by the student. They are technologically savvy and can process the offer letter on scan documents. They are flexible on Interest payments and security provided. They do take in third party guarantors who are not first of Kin ie direct blood relatives. </p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="Prodigy">Prodigy Education Loan For USA</h2>
                  <p>Prodigy are the international lenders who look at course and university and lend primarily without any co-signor or collateral. They fund typically the TOP 100 universities in the USA. Overseas education loans in the USA is by volume their main product. They are flexible LIBOR based loans with the complete product online based on University and Course. They however do not support alternate lending as well do have a 4 % processing fees which they amortised over the loan.They fund upto 100% of the loan and have a variable interest rate based on LIBOR generally between 8% to 10%.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="MPOWER">MPOWER Education Loans For USA</h2>
                  <p>MPOWER  education loans for the USA have the largest no of Universities at 334. They support a lot of US universities. They have a fixed rate at 11.99% which reduces as you pass, get a job etc to 10.49%. They are the ultimate option for  education loans for all students studying in the USA. They have 5%  amortised processing fees, a very convenient online process and provide moratorium during the loan.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendTwo" id="LeapFinance">Leap Finance Loan For USA</h2>
                  <p>Leap finance launched in 2020 provided fixed interest rates to students between 8% to 10% for about 100 universities in the US. They do take in a Cosigner CIBIL score but they provide loans non consignor and non collateral. They offer a moratorium period at USD 50 per loan during your study period in USA. They are very aggressive and the entire process takes less than 3 days.</p>
               </div>


               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="PopularCourses">Popular Courses Offered in the USA</h3>
                    <ul>
                        <li>Engineering</li>
                        <li>Computer Science</li>
                        <li>Business Management</li>
                        <li>Mathematics</li>
                        <li>Health and Allied Sciences</li>
                        <li>Literature</li>
                        <li>Media and Communications</li>
                        <li>Legal Studies</li>
                        <li>Social Sciences</li>
                        <li>Journalism</li>
                    </ul>
               </div>


               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="Twofacets">Two facets of expenses that you need to consider while planning to take up Education loans for USA for your Masters</h3>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendTwo" id="DirectExpenditure">Direct Expenditure</h3>
                  <p>Once the students have successfully applied for their course, received <b>education loans for USA</b>, completed their payment formalities, and obtained their visas, they need to arrange for their accommodation as well. The overall outlay for tuition and living varies considerably between different universities/colleges, courses, and cities that a student chooses. In addition to paying tuition expenses, students will also require financial support for travel, personal computing devices, course literature, and personal expenses.</p>
                  <p>Direct expenses include your Tuition Fees. In the US Tuition fees is generally charged per credit. The general fees vary between USD 800 - 1200. There are private and public Universities. The private universities are generally more expensive. The living cost is the next big expense varies between cities, on campus and off campus settings.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendTwo" id="IndirectExpenditure">Indirect Expenditure</h3>
                  <p>Varied supplementary yet important expenses will line up once the students figure out the preferred course for their masters. These start with the application fee for the university which averages around $100 and then submitting various documents that verify fulfilling the minimum required criteria/mandatory tests for application to American universities. Indirect expense includes Air ticket, Insurance premium etc.</p>
               </div>


               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="quicksnapshot">A quick snapshot of such costs includes:</h3>
                  <ol>
                    <li>Test writing fee for GRE/ TOEFL/ PTE at INR.12000+ INR.9000+ INR.6000 respectively</li>
                    <li>Application fee – for application to various colleges at an average of INR.6000/application</li>
                    <li>Counselor fees - at an average of approx. INR. 25000-30,000(optional)</li>
                    <li>Visa application – approx. INR. 10,000</li>
                    <li>Transcripts on college letterheads, LOR, affidavit etc may also cost you a considerable amount</li>
                  </ol>
                  <p>While all these expenses may seem daunting, there are disparate financial support systems in place for students to get easy <b>education loans for USA</b>. Let your dreams take wings with EduLoans- the smart study abroad. At EduLoans, we offer a host of finance options to assist students in every possible way for their higher studies abroad. We gratify ourselves at sanctioning <b>overseas education loan USA</b> within a week for making your ambition come true along with 100% funding for education to study in the USA.</p>
                  <p>International Student Loans are now a very realistic way to finance your education in the US. We make sure that we are flexible and provide money amounts high enough to pay for your entire education, but with extended repayment terms and reasonable interest rates, so you can afford the repayment after you graduate.</p>

                  <p><b>Examining Your Education loan for USA</b></p>
                  <p>When you are comparing private student, it's important to consider any fees, rates, and repayment options to ensure that you are choosing the amount that works best for your needs. You should evaluate and compare the following:</p>
                  <ul>
                    <li>Interest Rates</li>
                    <li>Processing Fees</li>
                    <li>Security provided</li>
                    <li>Total COst of Education</li>
                    <li>Convenience in getting the loan</li>
                    <li>Repayment period</li>
                    <li>Deferment option</li>
                  </ul>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="Steps">Two facets of expenses that you need to consider while planning to take up Education loans for USA for your Masters</h3>
                  <p>We at edu loans are unbiased in approach and look at each and every student differently. We first check the Eligibility and then provide you with the best options on Cost and Convenience.</p>
                  <ol>
                    <li><b>Registering on the platform -</b>  Students are required to  register on the platform. Based on what details you put in our AI and ML based algorithms will list out the best product for you.</li>
                    <li>Once you have registered on the platform you would <b>get a call from our dedicated RM</b> and we would look to get the best available loan for you</li>
                    <li>We will connect you with various bank/ Financial Institutions. You also would be requested to <b>fill the form and upload documents</b> as we are connected with the financial institutions. We can provide your complete file to multiple lenders through a single portal.</li>
                    <li>Once the file reaches the portal we <b>get an in principle approval</b> from the lender. You are requested to negotiate with each eligible lender and get the best rate for yourself. </li>
                    <li>Once you have finalised on the lender we at Eduloans support you right till the end where in you look at disbursal documentation etc</li>
                  </ol>
               </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="Admission">USA Admission Cycle</h3>
                </div>
               <div class="col-md-12 wellBox">
                  <h3 class="legendTwo" id="FALL">FALL</h3>
                  <p>The first semester of the US academic year is fall which commences around August. Often known as an 'autumn semester', it is 13 weeks long and goes on till late December or starting of January. This semester witness the biggest rush for international students, with the application process beginning one year before students join the course. The application timeline for the Fall semester to study in the USA are:</p>
                  <p><b>August</b></p>
                  <p>Previous year’s August and September are the months when the USA universities’ application forms for Fall are usually out. During this time, students can start filling the forms, apply for <b>education loans for the USA</b> and financial aid forms. </p><br>
                  <p><b>September to December</b></p>
                  <p>Usually, the universities declare the months of December as the deadline to submit the forms when the students are required to arrange for their recommendation letters and start taking the standardized tests mandatory for admission at the particular university they are applying to. Students also should make sure that the scorecards of their academic performances and the standardized tests along with their financial aid forms for education loans for USA are submitted at the time of application.</p><br>
                  <p><b>April to May</b></p>
                  <p>During this tenure, students start receiving acceptance or rejection letters from potential universities. Applicants are also presented with financial aid possibilities for <b>overseas education loan USA</b>. Most importantly, students are also required to decide on the program and submit forms from their university of choice. They are also required to organize finances and display their proof of <b>education loans for USA</b> to the universities so that the international student office can prepare their immigration form.</p><br>
                  <p><b>May to August</b></p>
                  <p>During this time, applicants should start applying for their Student Visa and confirm their arrival plans with the institution.</p>
               </div>

               <div class="col-md-12 wellBox">
                  <h3 class="legendTwo" id="SPRING">SPRING</h3>
                  <p>The Spring semester starts in January and ends in May. It is a 16 to 18 week semester and is the second most popular semester among students who wish to take admission to US universities. However, the application procedure for Spring is different from Fall.</p>
                  <p><b>August</b></p>
                  <p>The Spring semester starts in January and ends in May. During this tenure, the students are required to start shortlisting the courses and colleges of their choice and begin their research in earnest. They should also start preparing for various competitive exams such as GMAT, GRE, TOEFL, LSAT, SAT,and  IELTS. Moreover, this is the time when they can start exploring the platforms for securing <b>education loans for USA</b> so that they do not end up messing with finances.</p><br>
                  <p><b>September</b></p>
                  <p>September comes with the start of application processes which gives the student roughly four months before the classes commence. During the same time, the admission for Fall also begins.</p><br>
                  <p><b>November</b></p>
                  <p>The deadline for submitting application forms is usually November. By this time students should arrange their reference letters, proof of <b>education loans for USA</b>, and get their scorecards ready.</p><br>
                  <p><b>January</b></p>
                  <p>During this month, many universities in the USA start their orientation program. Beginning early January, the semester lasts till mid-May. By this time, students should confirm their arrival dates with the university.</p>
               </div>
               <div class="col-md-12 wellBox">
                  <h2 class="legendOne" id="Conclusion">Conclusion</h2>
                  <p>Educational loans are instrumental in making higher education in the USA accessible for Indian students. By understanding the key features, eligibility criteria, and application process, students can make informed decisions and successfully finance their education abroad. </p>
                  <p>It is crucial to compare different loan options and choose the one that best suits your financial needs and career goals. With careful planning and timely repayment, educational loans can pave the way for a successful academic and professional journey in the USA.</p>
                  <p>Fulfill your dream of studying abroad with <a href="https://www.eduloans.org/about" target="_blank">EduLoan's</a> tailored education loans. Benefit from competitive interest rates, flexible repayment options, and comprehensive coverage of all your educational expenses. Apply now and take the first step towards your future! Visit <a href="https://www.eduloans.org/about" target="_blank">EduLoan</a> today to get started.</p>
               </div>
               <!-- FAQ section -->
               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="FAQs">FAQs for Education Loans for Study in the USA :</h3>
                  <ol>
                    <li><b>What types of education loans are available for studying in the USA ?</b>
                    <p><i class='fa fa-angle-double-right'></i> Various financial institutions offer education loans for studying in the USA. Some prominent ones include SBI Education Loan, Bank of Baroda, ICICI Education Loan, Axis Education Loan, HDFC Bank’s Foreign Education, Sarawat Bank, Avanse Education Loan, Auxilo Education Loan, Incred Education Loan, Prodigy Education Loan, MPOWER Education Loans, Leap Finance, and <b>EduLoans</b>.</p>
                    </li>

                    <li><b>What are the key features of SBI Global ED-VANTAGE - Education Loan for USA ?</b>
                    <p><i class='fa fa-angle-double-right'></i> SBI Global ED-VANTAGE <b>offers loans between Rs.20 lakhs and Rs.1.5 crore, with a repayment period of up to 15 years</b>. Collateral is required, and the repayment begins six months after the course completion. SBI emphasizes collateral as the primary security and offers a <b>fixed interest rate for all courses in the USA</b>.</p>
                    </li>

                    <li><b>How does Axis Education Loan support students looking to study in the USA ?</b>
                    <p><i class='fa fa-angle-double-right'></i> Axis bank <b>provides unsecured loans of up to 40 Lakhs for prime courses</b> and universities in the USA. They <b>accept various types of collateral, including LIC and Govt Bonds </b>. Axis Bank offers slab-wise processing fees and competitive interest rates.</p>
                    </li>

                    <li><b>What makes HDFC Bank’s Foreign Education for USA unique ?</b>
                    <p><i class='fa fa-angle-double-right'></i>HDFC Bank was the <b>first to offer unsecured overseas education loans in the USA up to 40 Lakhs based on the student's GRE profile, course, and university</b>. HDFC Bank is known for being aggressive, offering 80E tax certificates, and providing a 3-year stay back option for MS degrees.</p>
                    </li>

                    <li><b>How does EduLoans assist students in securing education loans for studying in the USA?</b>
                      <p><i class='fa fa-angle-double-right'></i> <b>EduLoans </b>provides a platform where students can register and receive personalized loan options based on their details. The platform connects students with various banks and financial institutions. EduLoans supports students throughout the process, from choosing the right lender to disbursal documentation.<br>
                      These FAQs provide an overview of education loan options for studying in the USA and highlight key features of some prominent schemes, including EduLoans' assistance in securing education loans for studying in the USA. For detailed information, it's recommended to contact the respective financial institutions or use EduLoans' platform for personalized assistance.
                        </p>
                    </li>  
                    
                    <li>
                     <b>What is the highest income to qualify for financial aid?</b>
                     <p><i class='fa fa-angle-double-right'></i> A common myth is that students from high-income families won't qualify for FAFSA funding. In reality, there's no maximum income cap that determines your eligibility for aid. Although your earnings are a factor on the FAFSA, only some programs are based on need.</p>
                   </li>

                   <li>
                     <b>How much student loan can I get to study in the USA?</b>
                     <p><i class='fa fa-angle-double-right'></i> A student can get a loan from INR 4 lakhs to 40 lakhs, depending on the requirements. In fact, some private banks/lenders might offer more amounts with a few terms and conditions.</p>
                   </li>

                   <li>
                     <b>Is it better to take a student loan in India or the USA?</b>
                     <p><i class='fa fa-angle-double-right'></i> Opting for loans from U.S. banks works because of the low interest rate they offer. Currently, loans sanctioned through U.S. universities charge interest at around 7 percent. In contrast, education loans from Indian banks are expensive.</p>
                   </li>

                   <li>
                     <b>Can an Indian student get a loan in the USA?</b>
                     <p><i class='fa fa-angle-double-right'></i> Indian students who are admitted to an eligible school can apply for private student loans in the USA. There are a few education loan providers available in the U.S., and the rates depend mainly on the lender and the student's personal circumstances.</p>
                   </li>
                  </ol>
               </div>


            </div>
         </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
   /*Menu-toggle*/
   // $("#menu-toggle").click(function(e) {
   //     e.preventDefault();
   //     $("#wrapper").toggleClass("active");
   // });
   //var offset = 80;
   /*Scroll Spy*/

   $('.scrollSpyArea').scrollspy({ target: '#spy', offset:200});

    headerHeight = $("#header").height() + 5;
    secHeight = $("#imgSec").height() + headerHeight;

   /*Smooth link animation*/
   $('a[href*=#]:not([href=#])').click(function() {
      $('#sidebar-wrapper').css({'top' : headerHeight });
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - headerHeight
               }, 1000);
               return false;

           }

       }

   });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function(event){
     var st = $(this).scrollTop();
     if (st > lastScrollTop){
         // downscroll code
          $('#sidebar-wrapper').css({'top' : headerHeight });
     } else {
     }
     lastScrollTop = st;
  });
  $(window).scroll(function(){
    if ($(this).scrollTop() == '0') {
        var element = document.getElementById('sidebar-wrapper');
        element.style.top = null;
    }
});

</script>





<!-- <section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/educationLoana.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Educational Loan for USA, Overseas education loans USA</h1>
         </div>
      </div>
   </div>
</section> -->
<!-- <section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="col-md-6">
                <h2>Scholarships and Education Loan for Study in the USA</h2>
                <p> Studying abroad fortifies a student to assimilate a life changing cultural experience as well as the best standard of living, internationally.Amongst all the study abroad options, one that stands out is ‘The United States of America- A Land of Million dreams’. The Master's degrees in the USA are internationally renowned for their scholastic adversity and proffer a competitive edge with unprecedented opportunities in the comprehensive world market. With over 1000+ Masters and MBA programs you can also perceive an array of alternatives to suit your requirements of specialized degrees as well. </p>
                <p> As a student it is customary that you start prepping for your admissions a year prior. To start with, the step you take is coaching for your entrance and preparing for your SOPs. Along with this you can also take up additional courses that will increase the stakes of you securing admission in your dream university. That extra incitement towards attending an extra course or attending a paid workshop on latest trends in your field could add a great asset to your resume. This time is also correct to evaluate your monetary options and secure funds needed to finalize budget for living in a foreign country. One of the smartest steps you can take is devoting time in choosing the right enough financial cover for your educational needs.If not planned in advance, living expenses on your study abroad trip could likely weigh you down financially, making you lose focus on your studies. In that case, you should know that with EduLoans, you can now qualify for a larger study Loan. This financial assistance covers your course fees and living expenses. </p>
                <p>&nbsp;</p>
            </div>
            <div class="col-md-6 about-inner-column">
                <h2>Get in touch with us!</h2>
                <hr>
                <form class="row" ng-submit="">
                   <div class="col-md-12 col-sm-12 form-group">
                      <label for="" class="control-label">First Name *</label>
                      <input class="form-control" name="firstname" id="firstname" ng-model="first_name"  required >
                   </div>
                   <div class="col-md-12 col-sm-12 form-group">
                      <label for="" class="control-label">Last Name *</label>
                      <input class="form-control" name="lastname" id="lastname" ng-model="last_name"  required >
                   </div>
                   <div class="col-md-12 col-sm-12 form-group">
                      <label for="" class="control-label">Email *</label>
                      <input class="form-control" name="email" id="email" ng-model="email" required >
                   </div>
                   <div class="col-md-12 col-sm-12 form-group">
                      <label for="" class="control-label">Mobile Number *</label>
                      <input class="form-control" name="mobile"  id="mobile" ng-model="mobile"  required>
                   </div>
                   <div class="col-md-12 col-sm-12 form-group" style="text-align: center;">
                      <input type="Submit" class="btn btn-lg btn-primary" value="Submit">
                   </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
                <h2>There are two facets of expenses that you need to consider while planning to finance your Masters in USA</h2>
                <p> <strong>1)  Direct Expenditure</strong> -<br/>
                   Once the students have successfully applied for their course and completed their payment formalities and obtained their visas, they need to arrange for their accommodation as well. The overall outlay for tuition and living varies considerably between different universities/colleges, courses and cities that a student chooses. In addition to paying tuition expenses, students will also require financial support for travel, personal computing devices, course literature, and personal expenses.
                </p>
                <p><strong>2)   Indirect Expenditure</strong> - <br/>
                   Varied supplementary yet important expenses will line up once you figure out the preferred course for your Masters. These start with the application fee for the university which averages around $100 and then submitting various documents that verify fulfilling the minimum required criteria/mandatory tests for application to American universities.
                </p>
                <p><strong>A quick snapshot of such costs includes:</strong></p>
                <ol>
                   <li>Test writing fee for GRE/ TOEFL/ PTE at INR.12000+ INR.9000+ INR.6000 respectively</li>
                   <li>Application fee – for application to various colleges at average of INR.6000/application</li>
                   <li>Counselor fees - at average of approx. INR. 25000-30,000(optional)</li>
                   <li>Visa application – approx. INR. 10,000</li>
                   <li>Transcripts on college letterheads, LOR, affidavit etc may also cost you a considerable amount</li>
                </ol>
                <p>  While all these expenses may seem daunting, there are disparate financial support systems in place for students to get assistance from. Let your dreams take wings with EduLoans- the smart study abroad. At EduLoans, we offer a host of finance options to assist students in every possible way for their higher studies abroad. We gratify ourselves at sanctioning money help within a week for making your ambition come true along with 100% funding for education to study in USA. </p>
                <p> International Student Loans are now a very realistic way to finance your education in the US. It very flexible and we provide money amounts high enough to pay for your entire education, but with extended repayment terms and reasonable interest rates, so you can afford the repayment after you graduate. </p>
                <p> <strong>Examining Your Student Loan</strong><br />
                   When you are comparing private student, it's important to consider any fees, rates, and repayment options to ensure that you are choosing the amount that works best for your needs. You should evaluate and compare the following:
                </p>
                <ul>
                   <li>Monthly payments</li>
                   <li>Total cost of the amount</li>
                   <li>Annual percentage rate</li>
                   <li>Repayment period</li>
                   <li>Deferment option</li>
                </ul>
                <p>&nbsp;</p>
                <h2>4 Steps to Find Your Education loan through EduLoans</h2>
                <p> <strong>1. Find Student Loans</strong> - Select the college you will be attending and the amount of money you need to borrow.</p>
                <p><strong>2. Select Your Amount</strong> - Next, see what lenders are available at your school. Compare the terms and conditions and click apply to start the online application.</p>
                <p><strong>3. Fill Out Your Application</strong> - Complete the application for the lender. If you are a non-US citizen or non-US permanent resident, you will need to have a cosigner complete the online application as well. US students are also encouraged to have a cosigner.</p>
                <p><strong>4. Get Approval</strong> - Initial approval is often within days or weeks of your completed application. Funds will be disbursed by your school once it has been approved. </p>
                <p>&nbsp;</p>
                <h2> Cosigners</h2>
                <p>All non-US citizens and non-permanent residents will be required to have a cosigner with good credit who has lived in the US for the past two years. International students will be required to include their cosigner on their application. </p>
                <p> <strong>The process of applying for usa Education loan is very much similar to education in India however there are some minor differences. In general when applying, you should keep the following criteria in mind</strong></p>
                <ul>
                   <li>A co-applicant is a must ( could be parents, a sibling or a spouse )</li>
                   <li>For further process, between a certain amount a third party guarantor is required (consult our counselor)</li>
                   <li>Collateral needs to be provided for amount above Rs 10lacs</li>
                   <li>Repayment commences 6 to 12 months after course completion</li>
                   <li>If a student goes abroad, lender recovers the remainder from co-applicant</li>
                </ul>


         </div>
      </div>
   </div>
</section> -->
