<style type="text/css">
  .spanText{
    font: 550 14px Open Sans, sans-serif;
  }
   /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
   #sidebar-wrapper {
   /*margin-left: -250px;
   left: 250px;*/
   width: 275px;
   background: white;
   position: fixed;
   height: 85%;
   /*top: 85px;*/
   /*overflow-y: auto;*/
   overflow: overlay;
   transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
   }
  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
 /*  #page-content-wrapper {
   width: 100%;
   }*/
   .sidebar-nav {
   position: absolute;
   top: 0;
   width: 275px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav li {
   line-height: 20px;
   text-indent: 0px;
   }
   .sidebar-nav li a {
   color: #f9992f;
   display: block;
   text-decoration: none;
   padding-left: 38px;
    margin-left: 10px;
   }
   .sidebar-nav li a span:before {
   position: absolute;
   left: 0;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav li a span b{
   font: 550 14px Open Sans, sans-serif !important;
   }
   .sidebar-nav li a:hover,
   .sidebar-nav li.active {
   color: #014b79;
   background: rgba(230, 227, 224, 0.41);
   text-decoration: none;
   }
   .sidebar-nav li a:active,
   .sidebar-nav li a:focus {
   text-decoration: none;
   }
   .sidebar-nav > .sidebar-brand {
   height: 65px;
   line-height: 60px;
   font-size: 18px;
   }
   .sidebar-nav > .sidebar-brand a {
   color: #f9992f;
   }
   .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
   }

   .sidebar-nav-sub {
   position: inherit;
   top: 0;
   width: 250px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav-sub li {
   line-height: 40px;
   text-indent: 12px;
   }
   .sidebar-nav-sub li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding-left: 25px;
   }
   .sidebar-nav-sub li a span:before {
   position: absolute;
   left: 7;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav-sub li a:hover,
   .sidebar-nav-sub li.active {
   color: #014b79;
   background: rgba(243, 243, 243, 0.57);
   text-decoration: none;
   }
   .sidebar-nav-sub li a:active,
   .sidebar-nav-sub li a:focus {
   text-decoration: none;
   }
   .sidebar-nav-sub > .sidebar-brand {
       height: 31px;
    line-height: 20px;
    font-size: 16px;
   }
   .sidebar-nav-sub > .sidebar-brand a {
   color: rgba(153, 153, 153, 0.8117647058823529);
   }
   .sidebar-nav-sub > .sidebar-brand a:hover {
   color: #014b79;
   background: white;
   }

   .content-header {
   height: 65px;
   line-height: 65px;
   }
   .content-header h1 {
   margin: 0;
   margin-left: 20px;
   line-height: 65px;
   display: inline-block;
   }
   #menu-toggle {
   text-decoration: none;
   }
   .btn-menu {
   color: #000;
   }
   .inset {
   padding: 5px 20px 20px 20px;
   }

   @media screen and (max-width: 992px){
   #sidebar-wrapper {
   left: 0;
   width: inherit;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   @media (max-width:767px) {
  /* #wrapper {
   padding-left: 0;
   }*/
   #sidebar-wrapper {
   left: 0;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
   }

   .legendTwo{
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
   }

   .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
     /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
     box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
}
</style>
<div id="myModalUK" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Compare your options and choose the loan that fits your requirements for the UK.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalUK')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalUK').modal('show');
   }, 9000);
   //$('#myModalUK').modal('show');
 });*/
</script>
<section id="imgSec" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/educationLoana.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">Education Loan for UK</h1>
           </div>
       </div>
   </div>
   </section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea" >
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
          <div id="sidebar-wrapper">
           <nav id="spy">
              <ul class="sidebar-nav nav">
                 <li>
                    <a href="#home"><span class="fa fa-bank solo" ><b>Home</b></span></a>
                 </li>
                 <li>
                    <a href="#guidence" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>The Right Study Loan For UK</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#eligibi" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Eligibility For A Loans</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#RightSteps" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Right Educational Loan</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#AdmissionPro" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Admission process</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#Requirements" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Requirements</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#UCAS" data-scroll>
                            <span class="fa fa-angle-right solo"><b>UCAS</b></span>
                          </a>
                      </li>
                       <li class="sidebar-brand">
                          <a href="#Intakeseasons" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Intake seasons</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#CostofVisa" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Cost of Visa</b></span>
                          </a>
                      </li>

                    </ul>
                 </li>
                 <li>
                    <a href="#DocReq" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Documents required</b></span>
                    </a>
                    <ul class="sidebar-nav-sub nav">
                      <li class="sidebar-brand">
                          <a href="#Options" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Loan Options</b></span>
                          </a>
                      </li>
                      <li class="sidebar-brand">
                          <a href="#Steps" data-scroll>
                            <span class="fa fa-angle-right solo"><b>Education Loans Steps</b></span>
                          </a>
                      </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#TopUni" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Top Universities in UK</b></span>
                    </a>
                 </li>
                 <li>
                      <a href="#FAQs" data-scroll>
                      <span class="fa fa-arrow-circle-right solo"><b>FAQs</b></span>
                      </a>
                  </li>
              </ul>
           </nav>
          </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
         <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">
               <div class="jumbotron text-center" style="margin-bottom: 15px;">
                  <img src="images/UKBanner.jpg" class="img-responsive">
                  <h2 style="font-size: 30px">Overseas Education Loan for UK</h2>
                  <p style="font-size: 18px">The institutions in the UK have consistently ranked among the top universities in the world, attracting a wide group of Indian students every year to admit in the desired course.  Studying in the UK gives students a chance to interact with people from different nationalities and know about their multicultural backgrounds. Overseas Education loans for UK make the Universities affordable. UK universities are continuously monitored to ensure that they adhere to the high standards of teaching, research, and learning set by the Government.  Students seeking to study in the UK have  shorter course duration as compared to other countries with UG-3 years, PG-1 year. The limited-time span also helps keep the cost of tuition fees and living expenses to the minimum and loans for the UK more affordable. If you are looking to seek an education loan for UK, look no more than Eduloans where you can get the optimum help at competitive interest rates.  </p>
               </div>
            </div>
            <div class="row">
              <div class="col-md-12 wellBox">
                <h3 class="legendOne" id="guidence">Guide To Finding The Right Study Loan For UK</h3>
                <p>When it comes to the best locations where one can get the best education, the UK's name comes to the top. With its cultural, personal, and professional exposure, it acts as a great learning hub.</p>
                <p>However, the educational expenses of the country can be too much to bear on their own for most individuals. The best way to reach their academic dream is to get a study loan for the UK. But, the interest rates and benefits vary greatly, anywhere between 9-14%. For a sum like £24,484 - £55,041 (the average amount required to pursue a 2-year course in the UK), this interest rate equals to a huge useless expense. Thus, you need to get the loan from the right lender to save the most of your future money.
                  To help you find the same, we have brought you a comprehensive guide today. 
                </p>
             </div>

             <div class="col-md-12 wellBox" >
                <h3 class="legendTne" id="eligibi">Eligibility For A Loan :</h3>
                <p>The eligibility for getting a loan to study in the UK is basic. On passing these, it becomes easy to get a study loan for the UK with the least amount of time and effort. In most cases, the requirements for these loans will be your college acceptance.</p>
                <p>Most colleges in the UK have a threshold requirement of marks. It is 65% in the Humanities stream and 70-80% in the Science/Commerce stream in the 12th class. Also, for many programs, fewer requirements are present. Being over 18 years old and having the required passing rate in your course is enough. 
                <br> Cumulatively, the Loan documentation you need to get your loan is:
                </p>
                <h5><b>Student Profile : </b></h5>
                <ol>
                  <li>Mark sheets of class 10th, 12th, and other diploma/bachelor’s and/or experience letters.</li>
                  <li>University Admission Letter</li>
                  <li>Your reports of SAT/GRE/TOEFL/IELTS (for program eligibility and language abilities checking).</li>
                  <li>Portfolio, if the application is for an arts or professional course.</li>
                </ol>
                <h5><b>Guardian / Co signor Profile : </b></h5>
                <ol>
                  <li>Income Proof to show your income potential and Guardian Potential.</li>
                  <li>Bank Statements for displaying continuous activity.</li>
                  <li>Any other certifications that display your profile, NGO certificates, achievements, etc.</li>
                  <li>Proof of monetary funds.</li>
                </ol>
             </div>


              <div class="col-md-12 wellBox">
                <h3 class="legendTne" id="RightSteps">Steps Of Getting The Right Educational Loan</h3>
                <p>The Indian banking sector stays in support of the Indians seeking international education. The two primary education loan products offered are graduate student loans, undergraduate student loans, and professional education loans. Thus, there are a large number of study loans for UK options available. You can check out the different loans offered by different financial institutions, like banks, NBFCs, etc. The general process to find and apply for a loan is as follows:</p>
                <ol>
                  <li>
                    <b>Research:</b> Research all the options that you find fit the criteria of your loan requirements. Then, sort them out. You can do so based on their interest rates, loan amounts, repayment terms, and time limits.
                  </li>
                  <li>
                    <b>Find Your Eligibility:</b> After finding the right ones, check their eligibility, including academic qualifications, Collateral Required, Cosigner profile, etc.
                  </li>
                  <li>
                    <b>File The Documentation:</b> Please find all the required documentation and prepare them, which includes KYC Documents and Income Documents.
                  </li>
                  <li>
                    <b>Fill Out The Loan Application Form:</b> Understand your specific lender’s applications and fill them aptly.
                  </li>
                  <li>
                    <b>Review:</b> The lender will thoroughly review the application and decide the conclusion regarding the interest rate, Processing Fees, Loan Amount, and other Terms of the loan.
                  </li>
                  <li>
                    <b>Disbursement:</b> Depending on the receiver you filled, the lender will send your loan amount to their account.
                  </li>
                </ol>
              </div>

               <div class="col-md-12 wellBox" >
                  <h3 class="legendOne" id="AdmissionPro">Admission process</h3>
               </div>

               <div class="col-md-12 wellBox" >
                  <h3 class="legendTwo" id="Requirements">Requirements</h3>
                  <p>To get admission to universities in the UK, it is important to meet a minimum of English language requirement along with a minimum academic record of 65% and above for the humanities stream and 70 - 80% and above for Science/Commerce stream in 12th standard. There are many foundations and Diploma programs available for students who have secured below 60% but it is important that the student is above 18 years before joining a degree program. As a part of the admission application process, the students are required to submit the following documents :</p>
                  <ul>
                    <li>Attested mark sheets copies of class X, XII, and the Bachelor's degree (if applicable)</li>
                    <li>Minimum two academic reference letters from professors who have taught most recently</li>
                    <li>letters of recommendation from the employer/manager if have any work experience.</li>
                    <li>Statement of Purpose (SOP)</li>
                    <li>Resume</li>
                    <li>Photocopied score reports of SAT/GRE/ GMAT / IELTS / TOEFL</li>
                    <li>Portfolio (in case of applying for art and design courses & Architecture programs)</li>
                    <li>Others (certificates/achievements at the state and national level and extracurricular activities)</li>
                    <li>Proof of funds</li>
                  </ul>
               </div>

               <div class="col-md-12 wellBox" >
                  <h3 class="legendTwo" id="UCAS">UCAS</h3>
                  <p>Applications of the students willing to admit to any undergraduate course will be filled through Universities and Colleges Admission System or UCAS which is a central organization in the UK. This agency receives the undergraduate applications and forwards them to the respective institutions. It generally allows the students to apply to five Universities through a common form. The fee for one course is £13 while £24 for multiple courses and applications. UCAS helps students to take admission in September/October intake in the UK and to apply for courses starting in January or February, students will directly reach the universities. Students taking admission to the post-graduate programs will directly apply to individual universities using the application form.</p>
               </div>

               <div class="col-md-12 wellBox" >
                  <h3 class="legendTwo" id="Intakeseasons">Intake seasons</h3>
                  <p>The main intake seasons for study in Uk are September/October and January/February.  If the student wants to take admission in September intake, they should appear for entrance and english proficiency exams by November, so that you can apply before the first deadline. The time required to prepare for IELTS/TOEFL/PTE would depend on the existing English language proficiency. There are two student categories under Tier 4 of the points-based system:</p>
                  <ul>
                    <li>Tier 4 (General) Student Visa – This category is for students coming for higher education.</li>
                    <li>Tier 4 (Child) Student Visa – This visa category is for children between 4 and 15 years of age coming for their initial education. These students can only be educated at independent fee-paying schools.</li>
                  </ul>
                  <p>If the student is enrolled in a bachelor's degree or higher program at a UK college that is listed on both the official ‘UKBA Sponsor list’ and the list of ‘recognized bodies’, they are allowed to work for up to 20 hours per week and work full-time during vacations or holidays.</p>
               </div>

               <div class="col-md-12 wellBox" >
                  <h3 class="legendTwo" id="CostofVisa">Cost of Visa</h3>
                  <p>The cost for the Tier 4 General Visa is £348. The common methods of payment are:</p>
                  <ul>
                    <li>Online using a MasterCard or Visa card.</li>
                    <li>Through demand draft or cash at the visa application center or selected branches of Standard Chartered Bank.</li>
                  </ul>
               </div>


               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="DocReq">Documents required for a UK Study Visa</h3>
                  <p>To apply for a student visa in the UK, applicants require some mandatory documents along with supporting documents of financial and academic records. It is important to refer to the UK Student Visa checklist before going to the consulate for the visa interview.</p>
                  <p>Some important documents that the applicants should carry are:</p>
                    <ul>
                        <li>A completed student visa application form</li>
                        <li>A letter of acceptance on the course - The institution will provide an acceptance letter (CAS) and a visa letter which are official and unconditional offers of a place on a course of study. The visa letter must be issued maximum six months before you apply.</li>
                        <li>Proof of funds - Students also need to prove that they or their co-signer have enough money in their accounts to meet the expenses of the course and the cost of living in the UK. The amount needed depends on whether you are applying as a child or adult and also if you will be studying in or out of London. You may also have to show that you have held the money for at least 28 days.</li>
                    </ul>

               </div>

               <div class="col-md-12 wellBox" >
                  <h3 class="legendTne" id="Options">Education loan for UK options:</h3>
                  <p>All banks provide education loans for UK to Students who are looking for masters or bachelors programmes. The UK has mostly Universities which range from Oxford, Cambridge etc which are very prestigious Universities to middle tier Universities like Middlesex University, Coventry University etc. The average cost of education in the UK for a Bachelor's degree varies greatly between INR 10 Lakhs to 40 Lakhs. The course fees as well varies depending on the Course. Medical courses are the most expensive followed by Engineering. A Masters course in the UK is for one year only and costs anywhere between 20 Lakhs to 40 Lakhs. An MBA in the UK as well is for 1 year and costs between 40 Lakhs to 90 Lakhs. Education loans for the UK are provided by all financial institutions. </p>

                  <ol>
                    <li><b>State Bank of India -</b>   SBI provides education loans for UK for almost all Universities. They have an approved list of Universities where they can fund upto 90% of the Tuition fees. They only provide student loans with collateral property. They provide 1 year of Moratorium where the student can search for a Job.</li>
                    <li><b>Bank of Baroda -</b> provides secured loans for study in the United Kingdom. Universities in the UK such as University of Cambridge, University of Warwick, University of Leeds etc get 100% loan for both Tuition and Living. Bank of Baroda as well has the processing fees refundable where in they return back the INR 10,000 which has been given during the application.  They look at the co-signer profile and last three years IT returns. </li>
                    <li><b>Private Banks -</b> Private Banks like ICICI and Axis bank both provide unsecured education loans for UK upto 40 Lakhs for study  in the United Kingdom. They provide Unsecured loans for Universities among the top 100. ICICI Bank is very aggressive and provides Unsecured loans to UK Universities. They as well provide complete funding for Secured loans.   We would recommend that you look at the private banks for their Service, Unsecured loan offering etc. The interest range is between 10% to 12% with reasonable processing fees.</li>
                    <li><b>NBFC -</b>  Non Banking Financial companies provide Unsecured and secured education loans for UK. The loan amount ranges between INR 10,00,000 to INR 20,00,000. They look at a strong co signer and provide competitive interest rates for United Kingdom. UKBA does not approve loans from NBFC and they would require to disburse the whole amount </li>
                    <li><b>International Funds -</b> Such As Mpower, Prodigy provide non Cosigner and non collateral loans for students looking to do MBA in the United Kingdom. They fund like the top 10 Universities in the United Kingdom. </li>
                  </ol>
               </div>


                <div class="col-md-12 wellBox">
                  <h3 class="legendTne" id="Steps">Steps to get Education Loans for UK through Edu Loans for Overseas Study in the United Kingdom?</h3>
                  <p>Eduloans works with over 14 financial institutions and looks to provide you the best and the fastest service. </p>
                    <ol>
                        <li><b>Application Process -</b> Once you register on Edu Loans you would get a call from our dedicated loan officer. We would ascertain your eligibility based on your preferences and direct you either to a Nationalised Bank, Private Bank Or NBFC. Our dedicated relationship manager from our FIs would reach out to you and we will get the processing done with reduced TAT of 40%</li>
                        <li><b>Application Review -</b>  Once your application has been submitted we would work with the credit department of our FIs to get your decision faster. Our application goes directly to the loan officer where we reduce the TAT and provide faster processing. </li>
                        <li><b>Provisional Offer  -</b>  Once the provisional offer comes from the bank we would help you understand the terms and conditions. The Fine print can be discussed along with the Pro and Cons from each lender. Once we have discussed we will finalise the loan based on Cost and Convenience. </li>
                        <li><b>Providing your Disbursal Documents -</b> Once we have finalised the lender we help you speeden up the disbursal documentation. UK requires pre disbursal before VISA and we help you speed up the process. </li>
                        <li><b>Disbursement -</b> In case of the United Kingdom you are required either to take loan from a bank approved by the UKBA or keep the funds for 28 days. IN case you have taken a loan from an NBFC you would require to pre-disburse the amount and keep it in your savings bank account for 28 days.</li>
                    </ol>
                    <p>The United Kingdom has recently brought in rules change for the TIER 4 visa where you can look to stay back for 2 years post the course. This rule has certainly increased a lot of students who are looking to pursue their higher studies in the United Kingdom. The Financial institutions as well have relaxed the parameters  for Education loans for the UK. </p>
               </div>

               <div class="col-md-12 wellBox">
                  <h3 class="legendOne" id="TopUni">Top Universities in United Kingdom</h3>
                   <table class="table table-bordered">
                      <tr>
                        <th>University Name</th>
                        <th>About</th>
                        <th>International Fee</th>
                        <th>Secured Loan</th>
                        <th>Unsecured Loan</th>
                      </tr>
                     <tr>
                       <td>University of Oxford</td>
                       <td>The University of Oxford is a collegiate research university in Oxford, England made up of 39 constituent colleges and a wide range of academic programs.</td>
                       <td>£25,000-£50,000</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>University Of Greenwich</td>
                       <td>It is a public university located in London and offers a wide range of bachelors and graduate programs in economics, business, mathematics, computers, and engineering</td>
                       <td>£16,000</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>University of Cambridge</td>
                       <td>University of Cambridge is a collegiate public research university in Cambridge, United Kingdom and is formed from a range of institutions including 31 semi-autonomous constituent Colleges and 100 academic departments.</td>
                       <td>£10,000</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>University of East London</td>
                       <td>It is a public university based in three campuses in Stratford and Docklands. It is one of the most known universities in England.</td>
                       <td>£30,000</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>University College London</td>
                       <td>It is a public research university in London and is a member of Federal University of London with a main campus in Bloomsbury area in Central London.</td>
                       <td>£17,710</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>University of Manchester</td>
                       <td>It is a public research university in Manchester offering a wide array of graduate and undergraduate courses from all over the world.</td>
                       <td>£21,000</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>Coventry University</td>
                       <td>It is a public research university in Coventry with more than 20,000 students and a wide range of departments including economics, mathematics, engineering, health sciences, and agriculture. </td>
                       <td>£15,000</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>University of Leeds</td>
                       <td>University of Leeds is one of the largest higher education institutions in the UK with more than 39,000 students from various departments.</td>
                       <td>£9,250</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>Imperial College London</td>
                       <td>It is a public research university in Londin offering courses from various disciplines including medicines, engineering, humanities, and natural sciences.</td>
                       <td>£9,250</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>Teesside University</td>
                       <td>It is a public university in Middlesbrough consisting of five academic schools including school of media, computing, Arts, social and health care, and multimedia publishing</td>
                       <td>£10,750</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>King’s College London</td>
                       <td>King’s College is one of the 31 constituent colleges that makes uo University of Cambridge.</td>
                       <td>£18,100</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>London Business School</td>
                       <td>London Business School is a constituent college in the Federal University of London. </td>
                       <td>£50,000</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>Middlesex University London</td>
                       <td>The name of the university is taken from its location Middlesex. This public university is known to provide an expert teaching to students from all over the world.</td>
                       <td>£11,500</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>London School of Economics and Political Science</td>
                       <td>London School of Economics is known for its unique concentration on teaching and research across the full range of political, social, and economic sciences with over 40,000 students.</td>
                       <td>£18,408</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>University of Warwick</td>
                       <td>A public research university well known for its higher education faculty and teachings across the world.</td>
                       <td>£18,480</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>Kingston University London</td>
                       <td>Kingston University is a public research university with campuses all around Kingston. The university specializes in courses related to chemistry, electric wiring, building construction, and nursing.</td>
                       <td>£12,000</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>University of Hertfordshire</td>
                       <td>The university offers a wide range of professional, diploma, undergraduate, and graduate courses to students across the world and comes in top 200  universities in the world.</td>
                       <td>£11,000</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>
                     <tr>
                       <td>University of Birmingham</td>
                       <td>This is a public research university that received its royal charter in 1900 as a successor of Queens college.</td>
                       <td>£15,000</td>
                       <td>Available from ALL</td>
                       <td>Available from Private Banks, NBFC & International Funds</td>
                     </tr>


                  </table>
               </div>

               <div class="col-md-12 wellBox">
                <h3 class="legendOne" id="FAQs">Education Loan FAQs:</h3>
                <ol>
                  <li>
                    <b>Can I Get a Loan For Study in The UK?</b>
                    <p><i class='fa fa-angle-double-right'></i> Yes, you can get a loan for study in the UK. The banking institutions and Non-Banking Finance companies are always open to assist students in financing their education.</p>
                  </li>
                  <li>
                    <b>How Can Indian Students Apply For Educational Loans for Studying in The UK?</b>
                    <p><i class='fa fa-angle-double-right'></i> The application process for getting a student loan for the UK is straightforward. All it requires is your university’s LOA and other personal documentation along with your Cosigner Profile and Collateral needs.</p>
                  </li>
                  <li>
                    <b>Are There Any Tax Benefits Associated With Education Loans for Studying Abroad?</b>
                    <p><i class='fa fa-angle-double-right'></i> Yes, there are. Under Section 80E of the Income Tax Act, 1961, it is availed. It states that taking a student loan for the UK for Indian students enables tax deduction. This can be availed within the next eight years or until the interest is fully repaid.</p>
                  </li>
                  <li>
                    <b>What Are The Options For Education Loan Providers For Indian Students Studying In The UK?</b>
                    <p><i class='fa fa-angle-double-right'></i> Some of the institutions that offer the best loan products to students are the SBI, HDFC, Axis, PNB, and ICICI Bank. Each of these lenders has different loan products with varying features. Look through and compare them to find the one that best suits your needs.</p>
                  </li>
                  <li>
                    <b>What Documents Are Required For Obtaining An Educational Loan For Studying in The UK?</b>
                    <p><i class='fa fa-angle-double-right'></i> As a student looking for a study loan in the UK, the basic documents that you need include the LOA and mark sheets. Then, you need to arrange the other documents. These include Identity Proof, Address Proof, Income Proof, and Bank Statements.</p>
                  </li>
                  <li>
                    <b>What Are The Funding Options Available For Indian Students Planning To Study In The UK?</b>
                    <p><i class='fa fa-angle-double-right'></i> Other than the education loans, there are a lot of students who fund their educational journey in the UK. These options are scholarships and grants, assistantships, sponsorships, and part-time work.</p>
                  </li>
                </ol>
             </div>
            </div>
         </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
   /*Menu-toggle*/
   // $("#menu-toggle").click(function(e) {
   //     e.preventDefault();
   //     $("#wrapper").toggleClass("active");
   // });
   //var offset = 80;
   /*Scroll Spy*/

   $('.scrollSpyArea').scrollspy({ target: '#spy', offset:200});

    headerHeight = $("#header").height() + 5;
    secHeight = $("#imgSec").height() + headerHeight;

   /*Smooth link animation*/
   $('a[href*=#]:not([href=#])').click(function() {
      $('#sidebar-wrapper').css({'top' : headerHeight });
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - headerHeight
               }, 1000);
               return false;

           }

       }

   });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function(event){
     var st = $(this).scrollTop();
     if (st > lastScrollTop){
         // downscroll code
          $('#sidebar-wrapper').css({'top' : headerHeight });
     } else {
     }
     lastScrollTop = st;
  });
  $(window).scroll(function(){
    if ($(this).scrollTop() == '0') {
        var element = document.getElementById('sidebar-wrapper');
        element.style.top = null;
    }
});

</script>
