<style type="text/css">
  .spanText{
    font: 550 14px Open Sans, sans-serif;
  }
   /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
   #sidebar-wrapper {
   /*margin-left: -250px;
   left: 250px;*/
   width: 275px;
   background: white;
   position: fixed;
   height: 85%;
   /*top: 85px;*/
   /*overflow-y: auto;*/
   overflow: overlay;
   transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
   }
  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
 /*  #page-content-wrapper {
   width: 100%;
   }*/
   .sidebar-nav {
   position: absolute;
   top: 0;
   width: 275px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav li {
   line-height: 20px;
   text-indent: 0px;
   }
   .sidebar-nav li a {
   color: #f9992f;
   display: block;
   text-decoration: none;
   padding-left: 38px;
    margin-left: 10px;
   }
   .sidebar-nav li a span:before {
   position: absolute;
   left: 0;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav li a span b{
   font: 550 14px Open Sans, sans-serif !important;
   }
   .sidebar-nav li a:hover,
   .sidebar-nav li.active {
   color: #014b79;
   background: rgba(230, 227, 224, 0.41);
   text-decoration: none;
   }
   .sidebar-nav li a:active,
   .sidebar-nav li a:focus {
   text-decoration: none;
   }
   .sidebar-nav > .sidebar-brand {
   height: 65px;
   line-height: 60px;
   font-size: 18px;
   }
   .sidebar-nav > .sidebar-brand a {
   color: #f9992f;
   }
   .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
   }

   .sidebar-nav-sub {
   position: inherit;
   top: 0;
   width: 250px;
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .sidebar-nav-sub li {
   line-height: 40px;
   text-indent: 12px;
   }
   .sidebar-nav-sub li a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding-left: 25px;
   }
   .sidebar-nav-sub li a span:before {
   position: absolute;
   left: 7;
   color: #41484c;
   text-align: center;
   width: 20px;
   line-height: 18px;
   }
   .sidebar-nav-sub li a:hover,
   .sidebar-nav-sub li.active {
   color: #014b79;
   background: rgba(243, 243, 243, 0.57);
   text-decoration: none;
   }
   .sidebar-nav-sub li a:active,
   .sidebar-nav-sub li a:focus {
   text-decoration: none;
   }
   .sidebar-nav-sub > .sidebar-brand {
       height: 31px;
    line-height: 20px;
    font-size: 16px;
   }
   .sidebar-nav-sub > .sidebar-brand a {
   color: rgba(153, 153, 153, 0.8117647058823529);
   }
   .sidebar-nav-sub > .sidebar-brand a:hover {
   color: #014b79;
   background: white;
   }

   .content-header {
   height: 65px;
   line-height: 65px;
   }
   .content-header h1 {
   margin: 0;
   margin-left: 20px;
   line-height: 65px;
   display: inline-block;
   }
   #menu-toggle {
   text-decoration: none;
   }
   .btn-menu {
   color: #000;
   }
   .inset {
   padding: 5px 20px 20px 20px;
   }

   @media screen and (max-width: 992px){
   #sidebar-wrapper {
   left: 0;
   width: inherit;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   @media (max-width:767px) {
  /* #wrapper {
   padding-left: 0;
   }*/
   #sidebar-wrapper {
   left: 0;
   }
   #wrapper.active {
   position: top;
   left: 250px;
   }
   .scrollSpyArea.active #sidebar-wrapper {
   left: 250px;
   width: 100px;
   transition: all 0.4s ease 0s;
   }

   .inset {
   padding: 15px;
   }
   }

   .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
   }

   .legendTwo{
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
   }

   .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
     /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
     box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
}
</style>
<div id="myModalCANADA" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
                      <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal" style="color: white; opacity :inherit">&times;</button>
                       <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
                       <hr class="hrTop">
                       <h5 class="imgTitle">Compare your options and choose the loan that fits your requirements for the CANADA.</h5>
                     </div>
                     <div class="col-md-6">
                       <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
                       <div class="form-container registerForm1" >
                           <form>
                              <div class="form-group" style="padding-top:10px;">
                                 <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" >
                              </div>
                              <div class="form-group">
                                 <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
                              </div>
                              <div class="form-group">
                                 <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
                              </div>
                              <div class="form-group">
                                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>

                              </div>
                              <div class="col-md-12" style="text-align: center;">
                                 <button type="button" class="btn btn-primary registerButton" ng-click="submitCallToAction('myModalCANADA')"> Register </button>
                              </div>
                           </form>
                        </div>
                     </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+ Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href = '/user/register' target='_blank'>Click Here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalCANADA').modal('show');
   }, 9000);
   //$('#myModalCANADA').modal('show');
 });*/
</script>
<section id="imgSec" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/educationLoana.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">Overseas Education Loan for Canada</h1>
           </div>
       </div>
   </div>
   </section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea" >
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
          <div id="sidebar-wrapper">
           <nav id="spy">
              <ul class="sidebar-nav nav">
                 <li>
                    <a href="#home"><span class="fa fa-bank solo" ><b>Home</b></span></a>
                 </li>
                 <li>
                    <a href="#FINReq" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Financial Requirements</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#CostInfo" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Cost of Education</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#loanType" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Loan Type</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#Steps" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Steps to get Education Loans</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#eligibility" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Eligibility Criteria</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#TopUni" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Top Universities in Canada</b></span>
                    </a>
                 </li>
                 <li>
                    <a href="#TopCollege" data-scroll>
                    <span class="fa fa-arrow-circle-right solo"><b>Top Colleges in Canada</b></span>
                    </a>
                 </li>
                 <li>
                  <a href="#listBanks" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>List of Banks Provides Loans</b></span>
                  </a>
                 </li>

                 <li>
                  <a href="#FAQs" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>FAQ's</b></span>
                  </a>
                 </li>
              </ul>
           </nav>
          </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
         <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">
               <div class="jumbotron text-center" style="margin-bottom: 15px;">
                  <img src="images/CanadaBanner.jpg" class="img-responsive">
                  <!-- <h2 style="font-size: 30px">Overseas Education Loan for Canada</h2> -->
                  <h2 style="font-size: 30px">Education Loan to Study in Canada</h2>
                  <p style="font-size: 18px">Dreaming of studying in Canada? Well, education in Canada is quite a dream for many students. Canada is famous for its valuable education system, cultural diversity, and student life with a high probability at Migration. However, one thing that always causes concern is the cost of education in Canada. This is where education loans to study in Canada come into play as they help students for a long time. Through this blog, we will cover all the necessary information and facts that are required for acquiring an education loan to study in Canada.</p>
                  <!-- <p style="font-size: 18px">The education system in Canada has shown a recent peak in recent years with a more researched-based and practice-oriented approach. The shift to these modern approaches from theoretical and project-based systems has made many  Indian students inquisitive about studying in Canada and get international qualifications from top institutes across the globe. According to a UN Survey, Canada, known for its friendly, peaceful, and secure environment is rated as one of the most preferred international education destinations. The country is also believed to have the safest study environment offering a high quality of life and education.  </p>
                  <p style="font-size: 18px">Canada is a hub of world-class universities that maintain high standards of academic excellence with a wide variety of professionals programs to international students. Students from all over the world come to Canada for higher education prospects and take admission in one of the  10,000 undergraduates and graduate degree programs, professional degree programs, and certificate courses. Students can also choose to pursue various diplomas, certificate programs, short courses related to industries including; telecommunications, computer technology, agriculture, medicine, environmental science agriculture, business studies, fisheries, and paramedical technology. All financial institutions provide <b>Overseas Education loans for Canada.</b></p>
                  <p style="font-size: 18px">In Canada one needs to deposit CAD 10,000 in Scotia Bank/SBI Bank/ICICI Bank as the living cost upfront for the VISA purpose.  </p> -->
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 wellBox" >
                  <h2 class="legendOne" id="FINReq">Financial Requirements for an Education Loan to Study in Canada</h2>
                  <p>If compared to the top study destinations across the world like the US, UK, Australia, and New Zealand Canada is one of the most affordable countries. There are many universities that acknowledge the passion among the aspiring students and offer scholarships and financial assistance to students admitted in their academic programs.</p>
                  <p>In Canada the cost of tuition varies between a University, Public Colleges and Private Colleges. There is a differential fee charged for Canadians and International Students. The fees as well varied between courses where Humanities/ Liberal arts courses being the most economical and specialised courses like Engineering/ Dentistry being more expensive.</p>
                  <p>The most expensive Universities generally are University of Toronto, Ryerson University , University of British Columbia, York University etc and are generally around CAD 25000 - 20000. The Most economical university is Université de Sherbrooke in Quebec which is around CAD 12000 a year.  The living cost is around CAD 8000 - CAD 12000. The total cost would be ranging between CAD 32000 - 40000 a year which is around INR 18,00,000 to 25,00,000 per year. Another point to note is that Undergraduate courses ie Bachelors are more expensive than masters courses.</p>
                  <p>Public and Private  colleges like Seneca, Humber, Algonquin etc have per year tuition fees ranging around CAD 12000 - CAD 18000. They are more economical than Universities. The most economical colleges are  Algonquin College Bow Valley College, Fanshawe College which are around CAD 10,000 to CAD 12000. The living cost is the same at around CAD 10,000 - CAD 12000. The total cost of study per year for a college in Canada would be approximately CAD 20,000 - CAD 35000. The same in Indian rupees would be INR 10,00,000 to INR 15,00,000.</p>
                  <p>Also, there are a number of financial institutions which provide <b>Overseas Education loans for Canada</b>. Some of them provide unsecured and non Cosigner  loans. In Canada, most institutions do not provide loans for Undergraduate diploma programs and therefore we at Eduloans serve a complete platform for <b>overseas education loans for Canada</b> and the options available are as follows</p>
                  <ol>
                    <li><b>State Bank of India -</b>  SBI provides <b>overseas education loans for Canada</b> for almost all schools except the newly private institutes. They do not provide loans for diploma programs but  only provide secured loans <b>overseas education loans for Canada</b> and have 90% margin money.</li>
                    <li><b>Bank of Baroda -</b> BOB provides secured <b>overseas education loans for Canada</b>. Canadian Universities like University of Toronto, University of British Columbia etc are in the preferred list of Universities where they provide the most cheapest <b>overseas education loans for Canada</b>. They look at the co signer profile and can look to provide 100% loan on complete tuition fees.</li>
                    <li><b>Private Banks -</b>  Private Banks like ICICI and Axis bank both provide unsecured <b>overseas education loans for Canada</b> upto 40 Lakhs for good quality institutions.In case one is looking for Unsecured loans for Canada we would strongly recommend that you look at the private banks. Interest range is between 10% to 12% with reasonable processing fees. </li>
                    <li><b>NBFC -</b>  Non Banking Financial companies provide Unsecured and secured <b>overseas education loans for Canada</b>. The loan amount ranges between INR 15,00,000 to INR 30,00,000. They look at a strong co signor and provide competitive interest rates. </li>
                    <li><b>International Funds -</b> Such As Mpower, Prodigy provide non Co signor and non collateral loans for Canada. They fund like approximately top 20 Universities in Canada . In case you have got admission into these universities you should look to avail these funding options as they are very convenient and hassle free.</li>
                  </ol>
               </div>
               <div class="col-md-12 wellBox" >
                  <h2 class="legendOne" id="CostInfo">Understanding the Cost of Education in Canada</h2>
                  <p>The cost of education in Canada can be quite flexible depending on the program and the university that you decide to attend. Here's a breakdown of the major expenses. </p>
                  <ol>
                      <li><b>Tuition Fees:</b> The cost of tuition for international students is between CAD 15000 to CAD 35000 annually.</li>
                      <li><b>Living Expenses:</b> Food costs depend on the city and may amount to CAD 10000 – CAD 15000 a year. This includes lodgings, meals, fares, and sundries such as communication and laundry costs.</li>
                      <li><b>Health Insurance:</b> Medical insurance is required for students from other countries and it may cost between CAD 600 to CAD 800 per year.</li>
                      <li><b>Other Expenses:</b> Tuition, books, and other miscellaneous expenses would range from CAD 1000 to 2000 each year.</li>
                  </ol>
              </div>
              <div class="col-md-12 wellBox" >
                <h2 class="legendOne" id="loanType">Types of Education Loans for Canada</h2>
                  <p>There are primarily two types of education loans to study in Canada available to international students:</p>
                  <ol>
                      <li><b>Secured Loans:</b> They come with collateral, which includes property, fixed deposit, or any other asset of value. Secured loans are usually cheaper and are offered at higher amounts compared to the amount offered when taking unsecured loans.</li>
                      <li><b>Unsecured Loans:</b> These loans may be given to the borrower without collateral security. As such, they are easier to access since they do not have stringent procedures for approving loans. These loans are associated with higher interest rates and low loan amounts. These loans are generally provided to students looking to study in universities, especially at the Masters level.</li>
                      <li><b>Unsecured Loans without Co-signer:</b> Certain lenders provide non-collateral and non-co-signer loans for master's admits to top universities such as the University of Toronto, University of Waterloo, etc.</li>
                  </ol>
              </div>



               <div class="col-md-12 wellBox">
                  <h2 class="legendOne" id="Steps">Steps to get Education Loans through Eduloans for Overseas Study in Canada?</h2>
                  <p>Eduloans works with over 14 financial institutions and looks to provide you the best and the fastest service. </p>
                    <ol>
                        <li><b>Application Process -</b> Once you register on Edu Loans you would get a call from our dedicated loan officer. We would ascertain your eligibility based on your preferences and direct you either to a Nationalised Bank, Private Bank Or NBFC. Our dedicated relationship manager from our FIs would reach out to you and we will get the processing done with reduced TAT of 40%</li>
                        <li><b>Application Review -</b>  Once your application has been submitted we would work with the credit department of our FIs to get your decision faster. Our application goes directly to the loan officer where we reduce the TAT and provide faster processing.</li>
                        <li><b>Provisional Offer  -</b>  Once the provisional offer comes from the bank we would help you understand the terms and conditions. The Fine print can be discussed along with the Pro and Cons from each lender. Once we have discussed we will finalise the loan based on Cost and Convenience.</li>
                        <li><b>Providing your Disbursal Documents -</b>   Once we have finalised the lender we help you speeden up the disbursal documentation. Canada requires pre disbursal before VISA and we help you speed up the process. </li>
                        <li><b>Disbursement -</b> In case of Canada you are required to have a pre disbursal for your GIC amount. Some universities demand payment of the first semester fees as well. The GIC amount in CAD 10,000 plus CAD 200 as fees. We at edu loans help you completing the formalities with speed.The disbursement is done directly to the University and you can proceed for the VISA.</li>
                    </ol>
                    <p>We not only help you to obtain a visa but hold your hands from the scratch. Our team will also direct you to the official websites and to authorised immigration representatives for obtaining the updated and latest applications forms and guidance. The visa fees for Canada is CAD  $160. Once the loan is disbursed and you can always get in touch with us for future disbursements. We look forward to help you successfully complete your education and get the best job in the country. All banks for <b>overseas education loans for Canada</b> provide a moratorium period during which we can guide you thoroughly.</p>
               </div>

               <div class="col-md-12 wellBox" >
                <h2 class="legendOne" id="Eligibility">Eligibility Criteria for Education Loans To Study in Canada</h2>
                  <p>A student  needs to be eligible for an education loan to study abroad and here are the criteria, you must follow:</p>
                  <ul>
                      <li>Students are required to prove their admission to a particular university with a good previous academic record.</li>
                      <li>A student applying for a loan to study abroad should fall under the category of 18 to 35 years.</li>
                      <li>The parent or guardian has to be the co-applicant to prove the guarantee for loan repayment.</li>
                      <li>If your loan does not come under the limited loan borrowing capacity, then you should have some collateral like property, assets, or fixed deposits.</li>
                  </ul>
                  <p>An education loan can be a stepping stone toward having an opportunity to study in the country of your dreams, Canada. With the necessary information on the type of loans available, conditions for qualification, and the application process, you will be in a position to access the finances you need to finance your education. Always borrow with caution, learn how to manage your finances wisely, and keep working hard towards your academic goals as well as your goals of becoming a successful Canadian citizen.</p>
              </div>

               


               <div class="col-md-12 wellBox">
                  <h2 class="legendOne" id="TopUni">Top Universities to Study in Canada</h2>
                   <table class="table table-bordered">
                      <tr>
                        <th>University Name</th>
                        <th>About</th>
                        <th>Fee</th>
                        <th>Secured Loan</th>
                        <th>Unsecured Loan</th>
                      </tr>
                     <tr>
                       <td>University of Alberta</td>
                       <td>Established by two men Tory and Ruthford, University of Alberta has been among the top universities in Canada welcoming students from all over the world. The university also hosts several departments that are ranked in the top 100 programs in the world.</td>
                       <td>$21,668</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                     <tr>
                       <td>University of Northern British Columbia</td>
                       <td>The university hosts five campuses located in Northern British Columbia, these colleges together make the most affordable education for more than 4, 000 students admitted to masters or doctorate courses.</td>
                       <td>$18,612</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                     <tr>
                       <td>McMaster University</td>
                       <td>McMaster University is one of the most renowned universities in many academic fields such as engineering, MBA, nursing, humanities, and arts in Canada. Formed in 1887, this historic university constantly ranks among the top 100 universities in the world. </td>
                       <td>$25,000</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                     <tr>
                       <td>University of Ottawa</td>
                       <td>University of Ottawa is a large public university that provides lectures in both French and English,  making it one of the largest bilingual universities in the world. It is also a prestigious member of U15, a group of Canadian Universities acknowledged for their research efforts.</td>
                       <td>$31,444</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                     <tr>
                       <td>Dalhousie University</td>
                       <td>Dalhousie University is a public research university that provides great research programs to its students so that they can prepare for the future. Also, the university is ranked approximately 300th university across the world</td>
                       <td>$10,010</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                     <tr>
                       <td>University of Saskatchewan</td>
                       <td>This university has a high acceptance rate of approximately 70%, which is good news for  international students who wish to study in Canada.</td>
                       <td>$23,000</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                      <tr>
                       <td>Memorial University of NewFoundland</td>
                       <td>Memorial University of Newfoundland has the admission rate of 66.8% admission making it popular among international students. Its medicine, education, and geology departments are one of the best in Canada.</td>
                       <td>$10,000</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                      <tr>
                       <td>University of Manitoba</td>
                       <td>This university is excellent in teaching in both undergraduate and graduate programs with the most affordable programs for both domestic and international universities. </td>
                       <td>$22,000</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                      <tr>
                       <td>University of Winnipeg</td>
                       <td>The University of Winnipeg is home to approximately 10,000 students. It has received  good rankings in undergraduate education and offers this superb education to both domestic and international students for affordable tuition fees.</td>
                       <td>$23,695</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                      <tr>
                       <td>Universite de Saint-Boniface</td>
                       <td>This university requires students to have minimum proficiency in French, being the main language  spoken at the institute.</td>
                       <td>$7,482</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                      <tr>
                       <td>University of New Brunswick</td>
                       <td>University of New Brunswick  has a strong curriculum in a variety of subjects including science, nursing, engineering, and medicine.</td>
                       <td>$21,000</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                     <tr>
                       <td>Brandon University</td>
                       <td>Brandon University is one of the cheapest Canadian universities with low tuition fees in arts, science, music, education, and nursing.</td>
                       <td>$7,203</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                     <tr>
                       <td>Simon Fraser University</td>
                       <td>Simon Fraser University is located in British Columbia Canada. It also has many different campuses offering a strong curriculum.</td>
                       <td>$5,300</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>
                     <tr>
                       <td>Bishop’s University</td>
                       <td>Bishop’s University is a liberal arts university organized into five academic schools which offer undergraduate and graduate degree programs in business, humanities, education, natural sciences, life sciences, and social sciences. It is well known  for its school of business which offers degree programs in economics,international businesses, and  entrepreneurship.</td>
                       <td>$17,000</td>
                       <td>Provided by All</td>
                       <td>Unsecured loans Provided by Private Banks, NBFC & Funds</td>
                     </tr>

                  </table>
               </div>

               <div class="col-md-12 wellBox">
                  <h2 class="legendOne" id="TopCollege">Top College to Study in Canada</h2>
                   <table class="table table-bordered">
                      <tr>
                        <th>College Name</th>
                        <th>About</th>
                        <th>International Fees</th>
                        <th>Secured Loan</th>
                        <th>Unsecured Loan</th>
                      </tr>
                     <tr>
                       <td>Vanier College</td>
                       <td>Vanier College is a public college that offers programs in twenty-five disciplines including both two years pre-university programs and three years technical programs. It has a very good repute and attracts students from all over the world.</td>
                       <td>$18,800</td>
                       <td>Provided by All</td>
                       <td>Not Provided</td>
                     </tr>
                     <tr>
                       <td>Universite Laval</td>
                       <td>Université Laval is a public research university and is regarded as one of the oldest universities in Canada, offering  most of the programs in French. It offers degree programs in more than 350 disciplines including agriculture, music, economics, engineering, nursing, and medicine.</td>
                       <td>$20,370</td>
                       <td>Provided by All</td>
                       <td>Not Provided</td>
                     </tr>
                     <tr>
                       <td>Algonquin College</td>
                       <td>Algonquin College offers undergraduate degrees as well as diplomas and certificates in more than 190 educational programs. The college is well known for its high research activity and its bachelor’s degree in animation and in interior design</td>
                       <td>$14,000</td>
                       <td>Provided by All</td>
                       <td>Not Provided</td>
                     </tr>
                     <tr>
                       <td>College La Cité</td>
                       <td>College La Cité is a public French-language college in Ontario and offers more than 90 degree programs to the students coming from all over Canada. The college has a very high graduate employment rate and offers a number of scholarships and entrance awards to the students. </td>
                       <td>$18,000</td>
                       <td>Provided by All</td>
                       <td>Not Provided</td>
                     </tr>
                     <tr>
                       <td>Herzing College</td>
                       <td>Herzing College is located in Milwaukeeand offers bachelor’s and master’s degrees in the field of medicine,agriculture,  nursing, economics, life sciences, and social sciences</td>
                       <td>$16,043</td>
                       <td>Provided by All</td>
                       <td>Not Provided</td>
                     </tr>
                     <tr>
                       <td>Dawson College</td>
                       <td>Dawson College offers degree programs in English language in more than 30 fields. The notable alumni of college include a number of famous authors, actors, politicians, and judges of the country.</td>
                       <td>$15,750</td>
                       <td>Provided by All</td>
                       <td>Not Provided</td>
                     </tr>
                     <tr>
                       <td>TAV College</td>
                       <td>TAV College offers pre-university programs and technical programs like in social sciences, administration and computing.</td>
                       <td>$15,350</td>
                       <td>Provided by All</td>
                       <td>Not Provided</td>
                     </tr>
                     <tr>
                       <td>Cambrian College of Applied Arts and Technology</td>
                       <td>Cambrian College is a publicly funded college and operates two campuses and five schools including school of business, health sciences, justice, engineering, and environmental sciences</td>
                       <td>$14,500</td>
                       <td>Provided by All</td>
                       <td>Not Provided</td>
                     </tr>
                     <tr>
                       <td>Manitoba Institute of Trade and Technology</td>
                       <td>Manitoba Institute of Trades & Technology has four major departments offering diplomas, undergraduate, associate degrees, and graduate degrees in management, business, information technology, and health sciences.</td>
                       <td>$14,850</td>
                       <td>Provided by All</td>
                       <td>Not Provided</td>
                     </tr>
                     <tr>
                       <td>Booth University College</td>
                       <td>Booth University College is a relatively small university with only 16 academic faculty members. It is organized into five schools and is known for its liberal arts programs. </td>
                       <td>$11,760</td>
                       <td>Provided by All</td>
                       <td>Not Provided</td>
                     </tr>


                  </table>
               </div>

               <div class="col-md-12 wellBox">
                <h2 class="legendOne" id="listBanks">List of Banks Provides Education Loans to Study in Canada</h2>
                 <table class="table table-bordered">
                    <tr>
                      <th>Bank Name</th>
                      <th>Rate of Interest (Subject to Change)</th>
                      <th>Maximum Loan Amount</th>
                      
                    </tr>
                   <tr>
                     <td>SBI</td>
                     <td>8.15% – 8.65%</td>
                     <td>₹1 Corer</td>
                     
                   </tr>
                   <tr>
                     <td>HDFC Bank</td>
                     <td>9 – 14%</td>
                     <td>₹20 Lakhs</td>
                     
                   </tr>
                   <tr>
                     <td>Axis Bank</td>
                     <td>11.20% – 13.20%</td>
                     <td>₹7.5 Lakhs</td>
                     
                   </tr>
                   <tr>
                     <td>Punjab National Bank</td>
                     <td>7.30% – 9.20%</td>
                     <td>₹10 Lakhs</td>
                     
                   </tr>
                   <tr>
                     <td>Bank of Baroda</td>
                     <td>8 – 10%</td>
                     <td>₹80 Lakhs</td>
                     
                   </tr>
                   <tr>
                     <td>ICICI Bank</td>
                     <td>7 – 11%</td>
                     <td>₹90 Lakhs</td>
                   </tr>
                   


                </table>
               </div>

               <div class="col-md-12 wellBox">
                <h3 class="legendOne" id="FAQs">FAQs for Education Loans for Study in the Canada :</h3>
                <ol>
                  <li><b>How much Study loan can I get for education in Canada?</b>
                  <p><i class='fa fa-angle-double-right'></i> You can get <b>up to 1.5 Cr secured and up to 50 lacs unsecured education loan</b> to study in Canada. We at Eduloans can ensure that you get the maximum amount of loan.</p>
                  </li>

                  <li><b>Is it possible for me to secure an education loan for pursuing studies in Canada?</b>
                  <p><i class='fa fa-angle-double-right'></i> <b>Certainly, you can obtain an education loan for Canada, with a maximum amount upto 1.5 Crores, depending on your profile</b>. To assess your eligibility, please connect with the Eduloans team for a detailed analysis.</p>
                  </li>

                  <li><b>What is the financial requirement for a Canadian student visa?</b>
                  <p><i class='fa fa-angle-double-right'></i> To obtain a <b>Canadian student visa, you must pay the university's one-year tuition fee and establish a Guaranteed Investment Certificate (GIC) covering one year's</b> living expenses.  </p>
                  </li>

                  <li><b>Can I obtain a 20 lakh education loan without offering collateral?</b>
                  <p><i class='fa fa-angle-double-right'></i>You have the opportunity to secure an <b>education loan for Canada of up to 75 lakhs without the necessity of collateral, as long as you have a qualified co-applicant</b>. For further insights into eligibility criteria, please contact the Eduloans team.</p>
                  </li>  
                  
                  <li><b>Can Indian students get education loans in Canada?</b>
                    <p><i class='fa fa-angle-double-right'></i> Yes, Indian students can definitely get education loans in Canada.</p>
                  </li>

                  <li><b>What are the types of education loans for studying in Canada?</b>
                      <p><i class='fa fa-angle-double-right'></i> There are three types of education loans for studying in Canada and they are secured, unsecured, and non-co-signer loans.</p>
                  </li>

                  <li><b>What documents are required to apply for a study loan in Canada?</b>
                      <p><i class='fa fa-angle-double-right'></i> The documents required to get an education loan are an admission letter, passport, Aadhar card, collateral, and financial stability proof.</p>
                  </li>
                  
                  <li><b>What is the eligibility criterion to get a study loan in Canada?</b>
                      <p><i class='fa fa-angle-double-right'></i> The eligibility criteria for applying for an education loan are an admission letter from a recognized university, good academic records, and financial stability.</p>
                  </li>
                </ol>
             </div>






            </div>
         </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
   /*Menu-toggle*/
   // $("#menu-toggle").click(function(e) {
   //     e.preventDefault();
   //     $("#wrapper").toggleClass("active");
   // });
   //var offset = 80;
   /*Scroll Spy*/

   $('.scrollSpyArea').scrollspy({ target: '#spy', offset:200});

    headerHeight = $("#header").height() + 5;
    secHeight = $("#imgSec").height() + headerHeight;

   /*Smooth link animation*/
   $('a[href*=#]:not([href=#])').click(function() {
      $('#sidebar-wrapper').css({'top' : headerHeight });
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - headerHeight
               }, 1000);
               return false;

           }

       }

   });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function(event){
     var st = $(this).scrollTop();
     if (st > lastScrollTop){
         // downscroll code
          $('#sidebar-wrapper').css({'top' : headerHeight });
     } else {
     }
     lastScrollTop = st;
  });
  $(window).scroll(function(){
    if ($(this).scrollTop() == '0') {
        var element = document.getElementById('sidebar-wrapper');
        element.style.top = null;
    }
});

</script>
