<style type="text/css">
  .spanText {
    font: 550 14px Open Sans, sans-serif;
  }

  /*#wrapper {
   padding-left: 123px;
   transition: all 0.4s ease 0s;
   margin-top: 0px !important;
   }*/
  #sidebar-wrapper {
    /*margin-left: -250px;
   left: 250px;*/
    width: 275px;
    background: white;
    position: fixed;
    height: 85%;
    /*top: 85px;*/
    /*overflow-y: auto;*/
    overflow: overlay;
    transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 4px #c1c1ca;
  }

  /* #wrapper.active {
   padding-left: 0;
   }
   #wrapper.active #sidebar-wrapper {
   left: 0;
   }*/
  /*  #page-content-wrapper {
   width: 100%;
   }*/
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 275px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav li {
    line-height: 20px;
    text-indent: 0px;
  }

  .sidebar-nav li a {
    color: #f9992f;
    display: block;
    text-decoration: none;
    padding-left: 38px;
    margin-left: 10px;
  }

  .sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
  }

  .sidebar-nav li a span b {
    font: 550 14px Open Sans, sans-serif !important;
  }

  .sidebar-nav li a:hover,
  .sidebar-nav li.active {
    color: #014b79;
    background: rgba(230, 227, 224, 0.41);
    text-decoration: none;
  }

  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav>.sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
  }

  .sidebar-nav>.sidebar-brand a {
    color: #f9992f;
  }

  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  .sidebar-nav-sub {
    position: inherit;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav-sub li {
    line-height: 40px;
    text-indent: 12px;
  }

  .sidebar-nav-sub li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding-left: 25px;
  }

  .sidebar-nav-sub li a span:before {
    position: absolute;
    left: 7;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
  }

  .sidebar-nav-sub li a:hover,
  .sidebar-nav-sub li.active {
    color: #014b79;
    background: rgba(243, 243, 243, 0.57);
    text-decoration: none;
  }

  .sidebar-nav-sub li a:active,
  .sidebar-nav-sub li a:focus {
    text-decoration: none;
  }

  .sidebar-nav-sub>.sidebar-brand {
    height: 31px;
    line-height: 20px;
    font-size: 16px;
  }

  .sidebar-nav-sub>.sidebar-brand a {
    color: rgba(153, 153, 153, 0.8117647058823529);
  }

  .sidebar-nav-sub>.sidebar-brand a:hover {
    color: #014b79;
    background: white;
  }

  .content-header {
    height: 65px;
    line-height: 65px;
  }

  .content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
  }

  #menu-toggle {
    text-decoration: none;
  }

  .btn-menu {
    color: #000;
  }

  .inset {
    padding: 5px 20px 20px 20px;
  }

  @media screen and (max-width: 992px) {
    #sidebar-wrapper {
      left: 0;
      width: inherit;
    }

    #wrapper.active {
      position: top;
      left: 250px;
    }

    .scrollSpyArea.active #sidebar-wrapper {
      left: 250px;
      width: 100px;
      transition: all 0.4s ease 0s;
    }

    .inset {
      padding: 15px;
    }
  }

  @media (max-width:767px) {

    /* #wrapper {
   padding-left: 0;
   }*/
    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: top;
      left: 250px;
    }

    .scrollSpyArea.active #sidebar-wrapper {
      left: 250px;
      width: 100px;
      transition: all 0.4s ease 0s;
    }

    .inset {
      padding: 15px;
    }
  }

  .legendOne {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(255, 249, 249);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #014b79;
  }

  .legendTwo {
    display: block;
    width: 100%;
    padding: 1px 1px 1px 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: rgb(1, 75, 121);
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px rgba(187, 182, 177, 0.5686274509803921);
    background-color: #ffffff;
  }

  .wellBox {
    min-height: 20px;
    padding: 3px 19px 5px 19px;
    margin-bottom: 15px;
    background-color: #ffffff;
    /* border: 1px solid #e3e3e3; */
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important;
     box-shadow: inset 0 0px 0px rgba(0,0,0,.05) !important; */
    box-shadow: 2px 2px 3px rgba(3, 75, 120, 0.78);
  }
</style>
<div id="myModalAustr" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="    display: grid;">
      <!-- <div class="modal-header">

      </div> -->
      <div class="modal-body" style="    padding: 0px;">
        <button type="button" class="close hidden-xs hidden-sm" data-dismiss="modal">&times;</button>
        <div class="col-md-6 banner-sec">
          <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal"
            style="color: white; opacity :inherit">&times;</button>
          <h6 class="imgTopHeading">You have nothing to lose, but the right Education Loan to gain.</h6>
          <hr class="hrTop">
          <h5 class="imgTitle">Compare your options and choose the loan that fits your requirements for the AUSTRALIA.
          </h5>
        </div>
        <div class="col-md-6">
          <h3 class="TopHeading">Receive a FREE personalised counseling for your education loan NOW.</h3>
          <div class="form-container registerForm1">
            <form>
              <div class="form-group" style="padding-top:10px;">
                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name">
              </div>
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
              </div>
              <div class="form-group">
                <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="mobile">
              </div>
              <div class="form-group">
                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id"
                  remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1"
                  input-class="form-control" match-class="highlight" placeholder="City"></angucomplete-alt>
              </div>
              <div class="col-md-12" style="text-align: center;">
                <button type="button" class="btn btn-primary registerButton"
                  ng-click="submitCallToAction('myModalAustr')"> Register </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h4 class="BottomHeading">FREE Platform | Unbiased Comparison | PAN India Sanctions | 15+ Lenders | 13500+
          Students | Best Unsecured Loans | Best US Dollar Loans</h4>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    display: grid;">
      <div class="offer-header">
        Congratulation!!
      </div>
      <div class="offer-modal-body" style="    padding: 0px;">
        <p>Congratulation!! You have been registered successfully.
          You'll get the login credentials on your email, please check.
          To avail the offer, please complete the application form.
          <a href='/user/register' target='_blank'>Click Here</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  /*$(document).ready(function(){
    setTimeout(function () {
        $('#myModalAustr').modal('show');
   }, 9000);
   //$('#myModalAustr').modal('show');
 });*/
</script>
<section id="imgSec"
  style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/educationLoana.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-top-title" style="color: #ffffff; text-align:center;font-weight:bold;font-size:40px;">Education
          Loan for Study in Australia</h1>
      </div>
    </div>
  </div>
</section>

<section style="padding: 5px 0 0px 0;">
  <div class="container">
    <div class="row scrollSpyArea">
      <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
        <div id="sidebar-wrapper">
          <nav id="spy">
            <ul class="sidebar-nav nav">
              <li>
                <a href="#home"><span class="fa fa-bank solo"><b>Home</b></span></a>
              </li>
              <li>
                <a href="#howMuch" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Education loan can I get</b></span>
                </a>
                <ul class="sidebar-nav-sub nav">
                  <li class="sidebar-brand">
                    <a href="#eduType" data-scroll>
                      <span class="fa fa-angle-right solo"><b>Types of Educational Loans</b></span>
                    </a>
                  </li>
                  <li class="sidebar-brand">
                    <a href="#repayment" data-scroll>
                      <span class="fa fa-angle-right solo"><b>Repayment Period</b></span>
                    </a>
                  </li>
                  <li class="sidebar-brand">
                    <a href="#avgCost" data-scroll>
                      <span class="fa fa-angle-right solo"><b>Average cost of studying</b></span>
                    </a>
                  </li>
                  <li class="sidebar-brand">
                    <a href="#eligibleCourses" data-scroll>
                      <span class="fa fa-angle-right solo"><b>Eligible courses</b></span>
                    </a>
                  </li>
                  <li class="sidebar-brand">
                    <a href="#inRates" data-scroll>
                      <span class="fa fa-angle-right solo"><b>Interest rates</b></span>
                    </a>
                  </li>
                  <li class="sidebar-brand">
                    <a href="#eligiCriteria" data-scroll>
                      <span class="fa fa-angle-right solo"><b>Eligibility criteria</b></span>
                    </a>
                  </li>
                  <li class="sidebar-brand">
                    <a href="#studVisa" data-scroll>
                      <span class="fa fa-angle-right solo"><b>Australian Student Visa</b></span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#Available" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Intakes Available</b></span>
                </a>
              </li>
              <li>
                <a href="#intake" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Which Intake</b></span>
                </a>
              </li>
              <li>
                <a href="#Options" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Loan Options</b></span>
                </a>
              </li>
              <li>
                <a href="#Steps" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Education Loans Steps</b></span>
                </a>
              </li>
              <li>
                <a href="#TopUni" data-scroll>
                  <span class="fa fa-arrow-circle-right solo"><b>Top Universities in Australia</b></span>
                </a>
              </li>
              <li>
                <a href="#FAQs" data-scroll>
                <span class="fa fa-arrow-circle-right solo"><b>FAQ's</b></span>
                </a>
               </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-9 col-md-12">
        <div class="page-content inset" data-spy="scroll" data-target="#spy">
          <div class="row" id="home">
            <div class="jumbotron text-center" style="margin-bottom: 15px;">
              <img src="images/AustraliaBanner.jpg" class="img-responsive">
              <h2 style="font-size: 30px">Education loan for Australia</h2>
              <p style="font-size: 18px">We are witnessing an increasing number of Indian students opting to study in
                Australia due to its world-renowned universities, top-class education, excellent post-study work
                opportunities, and high quality living standards. The unbeatable academic excellence and support system
                for international students in top universities of the country bring out many Indian enthusiasts who seek
                education loan for Australia for overseas study. Overseas Education loans for Australia are a
                requirement for many as the country has a high cost of education and for the Visa purpose they generally
                require the tuition fees to be paid upfront. All indian Financial lenders provide education loans for
                australia however only a few are approved by the Australian Embassy.</p>
              <p>Getting an education in Australia provides one with a world-class education and a vibrant cultural
                experience, which is the reason why it is on top of the list of most Indian students. Financing
                education in a foreign country, however, has never been an easy task. Several Education Loans are made
                available specifically to assist in the procurement of proper education.</p>

              <p>This blog explores essential information about study loans in Australia, including loan amounts, types,
                repayment periods, costs, eligible courses, interest rates, and eligibility criteria. </p>

              <p>We also discuss how to meet the proof of funds requirement for an Australian Student Visa. Whether
                you're planning your finances or seeking loan options, this guide provides valuable insights for
                aspiring students.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="howMuch">How much education loan can I get for Australia?</h3>
              <p>The amount of education loan you can get for studying in Australia varies from lender to lender and the course one is pursuing. In general, banks and other financial institutions in India provide up to INR 20-30 lakhs for studying abroad.</p>

              <p>However, some banks sanction higher amounts based on factors such as the student's profile, course, and university. You should contact your bank for the limit that they have set and all its conditions.
              </p>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="eduType">What are the types of education loans available for studying in Australia?</h3>
              <p>There are mainly two broad categories of education loans available for studying in Australia:</p>
              <ul>
                <li>
                  <b>Secured Loans:</b> This requires collateral to be provided, which may be in the form of property, fixed deposits, or any other valuable asset. Generally, the rate of interest is lower than other loan categories and provides a higher amount of loan.
                </li>
                <li>
                  <b>Unsecured Loans:</b> These do not require any collateral but have higher interest rates and lower loan amounts. They are based upon the student's academic performance and the credibility of the co-applicant.
                </li>
              </ul>              
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="repayment">How long is the repayment period for education loans for studying in Australia?</h3>
              <p>The repayment tenure for education loans to study in Australia usually ranges from 5 to 15 years. Most of them allow for grace periods, also known as moratorium periods. These periods include course duration with an addition of 6 months to one year. There is no need to pay in that time, though interest may rack up.</p>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="avgCost">What is the average cost of studying in Australia for Indian students?</h3>
              <p>The average cost of study in Australia for Indian students differs from course to course and even from university to university. The average tuition fee comes to around AUD 20,000 to AUD 45,000 annually. Living costs may range from AUD 20,000 to AUD 25,000 per annum. You must, therefore, ensure you have sufficient funds for both tuition and living expenses.</p>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="eligibleCourses">Which courses are eligible for education loans in Australia?</h3>
              <p>Almost all banks and a lot of financial institutions provide education loans to nearly every course in Australia. This includes undergraduate degrees, postgraduate degrees, diplomas, and even professional courses in subjects like engineering, medicine, business, information technology, etc. </p>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="inRates">What are the interest rates for education loans in Australia?</h3>
              <p>Interest rates for education loans in Australia may differ on the basis of the type of loan, the lender, and the profile of the applicant. Generally, interest rates for secured loans range from 9% to 12% per annum, while unsecured ones range from 11% to 14% per annum.</p>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="eligiCriteria">What are the eligibility criteria and interest rates for education loans to study in Australia?</h3>
              <p>Eligibility criteria for education loans to study in Australia typically include:</p>
              <ul>
                <li>Indian nationality</li>
                <li>Admission to a recognized Australian university</li>
                <li>A co-applicant with a stable income</li>
              </ul>
              <p>The rate of interest for education loans is 9% to 14% per annum, depending on whether the loan is secured or unsecured. A good academic record is essential, and proof of admission must be submitted.</p>
              </p>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="studVisa">How can students satisfy the proof of funds requirement for an Australian Student Visa?</h3>
              <p>While applying to Australian institutes, to satisfy the proof of funds requirement for an Australian Student Visa, students have to provide evidence of sufficient funds to support tuition fees, living expenses, and travel expenses by way of:</p>
              <p>Ensure that you can prove your means with documents like approvals while applying for a visa.</p>
              <p>
                Explore various education loan options with <a href="https://www.eduloans.org/" target="_blank">EduLoans</a>. Be it the loan application, understanding eligibility, and meeting the visa requirements, <a href="https://www.eduloans.org/" target="_blank">EduLoans</a> will guide you through each step. Get to <a href="https://www.eduloans.org/" target="_blank">EduLoans</a> and find your very own tailor-made loan. Do not let the financial burden weigh upon your shoulders. Secure your future with <a href="https://www.eduloans.org/" target="_blank">EduLoans</a> today!
              </p>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendTwo" id="Available">Intakes Available in Australia for Different Programs in Top
                Universities </h3>
              <table class="table table-bordered">
                <tr>
                  <th>Intake</th>
                  <th>Deadline</th>
                </tr>
                <tr>
                  <td>Semester 1 (February intake)</td>
                  <td>October-November( Starts late February/early March to late May/early June)</td>
                </tr>
                <tr>
                  <td>Semester 2 (July intake)</td>
                  <td>April-May(Starts late July/early August through to November )</td>
                </tr>
              </table>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendTwo" id="intake">Which intake to opt for? Which bank to Opt for ? When to Start ?</h3>
              <p>Some of the interesting factors that can help students choose the right intake are availability of the
                preferred program, academic records of the student, entrance exams scores, acceptance rates, job
                opportunities, and last but not the least the readiness of the student to join the program whilst making
                a decision. For each intake we need to plan our education loan for Australia requirements tactfully.
                Australia only accepts certain banks for education loans for Australia. The first step is to understand
                which banks support education loans for Australia. The list can be found on the government website <a
                  href="https://india.embassy.gov.au/ndli/vm_studyloans.html" target="_blank">india.embassy.gov.au</a> .
                We need to ensure we start at least 3 months in advance planning our finances. Our entire visa process
                and unconditional offer letter depends on the successful sanction of the education loan for Australia.
              </p>
              <p>Indicative study costs for Australian programs</p>
              <table class="table table-bordered">
                <tr>
                  <th>Institution/Degree</th>
                  <td>*Annual fees (indicative)</td>
                </tr>
                <tr>
                  <th>School</th>
                  <td>$7,800 to $30,000</td>
                </tr>
                <tr>
                  <th>English language studies</th>
                  <td>$300/ week as per the course length</td>
                </tr>
                <tr>
                  <th>Vocational Education and Training
                    (Certificates I to IV, Diploma and Advanced Diploma)
                  </th>
                  <td>$4,000 to $22,000</td>
                </tr>
                <tr>
                  <th>Undergraduate Bachelor Degree</th>
                  <td>$15,000 to $33,000*</td>
                </tr>
                <tr>
                  <th>Postgraduate Master’s Degree</th>
                  <td>$20,000 to $37,000*</td>
                </tr>
                <tr>
                  <th>Doctoral Degree</th>
                  <td>$14,000 to $37,000*</td>
                </tr>
              </table>


              <h3>Top College in Australia</h3>
              <table class="table table-bordered">
                <tr>
                  <td><a href="https://www.idp.com/india/search/business/all/australia/" target="_blank">Business
                      Administration</a></td>
                  <td><a href="https://www.idp.com/india/search/building-and-architecture/all/australia/"
                      target="_blank">Architecture</a></td>
                  <td><a href="https://www.idp.com/india/search/computing-and-it/all/australia/"
                      target="_blank">Information Technology</a></td>
                </tr>
                <tr>
                  <td><a href="https://www.idp.com/india/search/all-accounting/all/australia/"
                      target="_blank">Accounting and Finance</a></td>
                  <td><a href="https://www.idp.com/india/search/hospitality-and-tourism/all/australia/"
                      target="_blank">Hospitality and Tourism</a></td>
                  <td><a href="https://www.idp.com/india/search/engineering/all/australia/"
                      target="_blank">Engineering</a></td>
                </tr>
              </table>

            </div>



            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="Options">Education loan for Australia options:</h3>
              <p>In general the next thought process which comes to mind is how much loan should we take. In general the
                students do need to show the total tuition fees ( 1 year) as well as first year living for the visa
                process. Most students opt for an education loan for Australia to show the entire amount. Generally we
                have sanction value 25 Lakhs to 35 Lakhs for Study abroad education loans for Australia.</p>
              <p>For Australia, We have all the Nationalised banks, Private banks and NBFC as the major loan providers.
              </p>
              <ol>
                <li><b>Nationalised Banks -</b>They provide secured education loans for Australia for Study abroad in
                  Australia. Generally they provide between 90% to upto max 100% of collateral property. Bank of Baroda
                  has all the G8 Universities in which it provides 100% loan. The student profile with minimum or no KTs
                  is eligible for the Loan. The Co signor needs to have CIBIL above 650 and should have enough
                  disposable income to take care of interest on the loan. The property needs to be mortgageable which
                  means that it should have title clearance and uninhibited property. The advantages of Nationalised
                  bank are Low interest rate, Cheaper processing fees and No interest payment during the course. The
                  disadvantages are that we do not have a dedicated relationship manager and they might be slow in
                  processing. </li>
                <li><b>Private Banks -</b> Private banks do provide Education loans for Australia. They are generally
                  more expensive than Nationalised banks , do not have any interest moratorium and more expensive
                  processing fees. However, they provide better hassle free service and ensure you are treated from the
                  comfort of your home. They as well provide Unsecured loans for selected courses and Universities.<p>
                    Axis Provides Unsecured Education loan to about 20 Universities which may include Curtin University,
                    Griffith University, James Cook University, La Trobe University, Macquarie University, Monash
                    University, QUT, RMIT, The Australian National University etc .</p>
                  <p>ICICI Bank may as well provide unsecured education loans for Australia to Monash University, The
                    University of Adelaide, The University of Melbourne, The University of Queensland, The University of
                    Sydney, The University of Western Australia, University of New south Wales etc. </p>
                  <p>Both the banks are very good in case you are looking at Unsecured education loans for Australia.
                  </p>
                </li>
                <li><b>NBFC -</b> They include HDFC Credila, Avanse, Incred and Auxilo. All of them are case by case
                  approved by Australian High commission. The way around the same is that we can take a sanction from
                  the financial institution and we can disburse the Education loan for Australia directly to the
                  university the living expenses and balance payment we can as well disburse and show in the bank
                  account in any Bank. Students prefer to take NBFC as they have flexible criterias which support the
                  student on overseas education loan for Australia</li>
              </ol>
            </div>


            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="Steps">Steps to get Education Loans for Australia through Edu Loans for Overseas
                Study?</h3>
              <p>Eduloans works with over 14 financial institutions and looks to provide you the best and the fastest
                service. </p>
              <ol>
                <li><b>Application Process -</b> Once you register on Edu Loans you would get a call from our dedicated
                  loan officer. We would ascertain your eligibility based on your preferences and direct you either to a
                  Nationalised Bank, Private Bank Or NBFC. Our dedicated relationship manager from our FIs would reach
                  out to you and we will get the processing done with reduced TAT of 40%</li>
                <li><b>Application Review -</b> Once your application has been submitted we would work with the credit
                  department of our FIs to get your decision faster. Our application goes directly to the loan officer
                  where we reduce the TAT and provide faster processing.</li>
                <li><b>Provisional Offer -</b> Once the provisional offer comes from the bank we would help you
                  understand the terms and conditions. The Fine print can be discussed along with the Pro and Cons from
                  each lender. Once we have discussed we will finalise the loan based on Cost and Convenience.</li>
                <li><b>Providing your Disbursal Documents -</b> Once we have finalised the lender we help you speeden up
                  the disbursal documentation. We explain the entire process and help solve all your queries. </li>
                <li><b>Disbursement -</b> For Australia most universities demand that the loan be disbursed and the
                  first semester tuition fees get paid from the loan. We at edu loans understand the requirement and
                  work with the financial institutions very closely to get the same done hassle free.The disbursement is
                  done directly to the University and you can proceed for the VISA. </li>
              </ol>
              <p>We not only help you to obtain a visa but hold your hands from the scratch. Our team will also direct
                you to the official websites and to authorised immigration representatives for obtaining the updated and
                latest applications forms and guidance. As an applicant from outside Australia, the students need to pay
                AUD575 as a visa fee. Once you get your visa, there are few things you need to do to ensure it remains
                valid such as remaining enrolled and maintaining satisfactory course progress and attendance.provide a
                local Australian address to the university so they can contact you, continue to be able to financially
                support your studies while your stay in Australia, and avoid breaching the working conditions that apply
                to the visa.Our representatives will always be available to guide you through the entire process and
                fulfill your dreams of <b>overseas study in Australia.</b></p>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="TopUni">Top Universities in Australia</h3>
              <table class="table table-bordered">
                <tr>
                  <th>University Name</th>
                  <th>About</th>
                  <th>International Fee</th>
                  <th>Secured Loan</th>
                  <th>Unsecured Loan</th>
                </tr>
                <tr>
                  <td>Australian National University (ANU)</td>
                  <td>ANU has been performing well to come under top universities in the world. </td>
                  <td>60 L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of Sydney</td>
                  <td>The third best university of Australia attracts a larger mass of international students from all
                    over the world.</td>
                  <td>57L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of New South Wales</td>
                  <td>This university is a founding member of Australian research-intensive universities and hence has
                    been one of the top recommended universities of aspiring students. </td>
                  <td>45L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of Queensland</td>
                  <td>It is the top university in Australia and ranks among the top 50 universities in the world.</td>
                  <td>59L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>Monash University</td>
                  <td>Based out of Melbourn and has an additional five campuses all over Australia, this university is
                    among the hit list for international students.</td>
                  <td>58L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of Western Australia</td>
                  <td>The University of Australia outscores all other Australian Universities in terms of the strength
                    of international students and education expertise.</td>
                  <td>60L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of Adelaide</td>
                  <td>This University has been recognized for its innovation in many areas by ERA and the top 100
                    universities of the world.</td>
                  <td>46L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of Technology Sydney</td>
                  <td>One of the youngest universities in Australia which is ranked among the top 100 universities in
                    the world. </td>
                  <td>68L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of New Castle</td>
                  <td>Founded in 1965, this university os the main campus in the Callaghan Suburb of New Caste. Hosting
                    across 27,000 students across the world, this university is well known to deliver education in an
                    array of courses related to engineering, medicine, and more.</td>
                  <td>47L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of Melbourne</td>
                  <td>The university has a strong and versatile diverse body with more than 40 percent of students
                    coming from abroad. </td>
                  <td>58L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>Curtin University</td>
                  <td>A public research university which is known to be the largest university in Western Australia.
                  </td>
                  <td>76L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>Macquarie University</td>
                  <td>A public university that hosts more than 40,000 students every year m. It is one of the famous
                    universities and first choice for international students.</td>
                  <td>68L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>RMIT University</td>
                  <td>It is a public research university in Australia and a good choice for students looking for easy
                    admission and comparatively cheaper education.</td>
                  <td>44L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>LA Trobe University</td>
                  <td>This university provides a variety of undergraduate and postgraduate courses and helps students
                    challenge their dreams. </td>
                  <td>59L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of Wollongong</td>
                  <td>A public research university in Australia that hosts more than 32,000 students and 24,00 staff
                    members.</td>
                  <td>69L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of South Australia</td>
                  <td>A public research university and the largest university in South Australia hosting more than
                    32,000 students.</td>
                  <td>50L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>University of Canberra</td>
                  <td>It is one of the top universities in Australia for getting a job.</td>
                  <td>40L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>
                <tr>
                  <td>Victoria University</td>
                  <td>A public university famous for courses in technical education</td>
                  <td>35L</td>
                  <td>Provided BY All.</td>
                  <td>Provided by Private Banks & NBFC</td>
                </tr>

              </table>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="TopCollege">Top College in Australia</h3>
              <table class="table table-bordered">
                <tr>
                  <td><a href="https://www.idp.com/india/search/business/all/australia/" target="_blank">Business
                      Administration</a></td>
                  <td><a href="https://www.idp.com/india/search/building-and-architecture/all/australia/"
                      target="_blank">Architecture</a></td>
                  <td><a href="https://www.idp.com/india/search/computing-and-it/all/australia/"
                      target="_blank">Information Technology</a></td>
                </tr>
                <tr>
                  <td><a href="https://www.idp.com/india/search/all-accounting/all/australia/"
                      target="_blank">Accounting and Finance</a></td>
                  <td><a href="https://www.idp.com/india/search/hospitality-and-tourism/all/australia/"
                      target="_blank">Hospitality and Tourism</a></td>
                  <td><a href="https://www.idp.com/india/search/engineering/all/australia/"
                      target="_blank">Engineering</a></td>
                </tr>
            </div>

            <div class="col-md-12 wellBox">
              <h3 class="legendOne" id="FAQs">FAQs for Education Loans for Study in the Australia :</h3>
              <ol>
                <li>
                  <b>Can I buy a laptop from a student loan?</b>
                  <p><i class="fa fa-angle-double-right"></i> An education loan can pay for the purchase of books, laptops, uniforms (if any), and other miscellaneous items, along with the caution deposit and the student's travel expenses. However, all these expenses should not exceed 20% (twenty percent) of the entire loan amount.</p>
                </li>
                <li>
                  <b>Can an international student get student loans in Australia?</b>
                  <p><i class="fa fa-angle-double-right"></i> Universities across Australia provide loans for local and international students. Most institutions offer both short-term and long-term loans; these can help students cover emergencies, as well as pay for bigger expenses.</p>
                </li>
                <li>
                  <b>How can international students afford to study in Australia other than opting for an education loan?</b>
                  <p><i class="fa fa-angle-double-right"></i> Students can receive scholarships as a tuition fee offset, a stipend for general living costs, and allowances related to the ancillary cost of research degrees.</p>
                </li>
                <li>
                  <b>Is Australia too expensive for international students?</b>
                  <p><i class="fa fa-angle-double-right"></i> Yes, the cost of living in Australia is expensive for international students. Australia is one of the most expensive countries to study in after US, UK and even Canada. Around INR 10-20 Lakhs per annum is required to live in Australia as an international student. But, there is no need to worry because <a href="https://www.eduloans.org/" target="_blank">EduLoans</a> has got you covered now.</p>
                </li>
              </ol>
              
           </div>





          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
  /*Menu-toggle*/
  // $("#menu-toggle").click(function(e) {
  //     e.preventDefault();
  //     $("#wrapper").toggleClass("active");
  // });
  //var offset = 80;
  /*Scroll Spy*/

  $('.scrollSpyArea').scrollspy({ target: '#spy', offset: 200 });

  headerHeight = $("#header").height() + 5;
  secHeight = $("#imgSec").height() + headerHeight;

  /*Smooth link animation*/
  $('a[href*=#]:not([href=#])').click(function () {
    $('#sidebar-wrapper').css({ 'top': headerHeight });
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - headerHeight
        }, 1000);
        return false;

      }

    }

  });
</script>
<script>
  var headerHeight = $("#header").height();
  var lastScrollTop = 0;
  $(window).scroll(function (event) {
    var st = $(this).scrollTop();
    if (st > lastScrollTop) {
      // downscroll code
      $('#sidebar-wrapper').css({ 'top': headerHeight });
    } else {
    }
    lastScrollTop = st;
  });
  $(window).scroll(function () {
    if ($(this).scrollTop() == '0') {
      var element = document.getElementById('sidebar-wrapper');
      element.style.top = null;
    }
  });

</script>