<script async src="//www.instagram.com/embed.js"></script>
<style type="text/css">
   .video-gallery-block { position: relative; width: auto; height: 206px; overflow: hidden; margin-bottom: 30px; }
   .mb10{margin-bottom:10px;color: #004b7a !important;}
   .section-title { margin-bottom: 40px; }
   /* youtube lazyload css */
   .ywrapper {
   max-width: 560px; /* 680px; */
   /*margin: 60px auto;
   padding: 0 20px;*/
   margin: 0 auto;
   }
   .youtube {
   background-color: #000;
   margin-bottom: 30px;
   position: relative;
   padding-top: 56.25%;
   overflow: hidden;
   cursor: pointer;
   }
   .youtube img {
   width: 100%;
   top: -16.82%;
   left: 0;
   opacity: 1;
   }
   .youtube .play-button {
   width: 68px;
   height: 48px;
   background-color: #333;
   /* box-shadow: 0 0 30px rgba( 0,0,0,0.6 ); */
   z-index: 1;
   opacity: 0.8;
   border-radius: 8px; 
   background: inherit;
   }
   .youtube .play-button:before {
   content: "";
   border-style: solid;
   border-width: 10px 0 10px 18.0px;
   border-color: transparent transparent transparent #fff;
   }
   .youtube img,
   .youtube .play-button {
   cursor: pointer;
   }
   .youtube img,
   .youtube iframe,
   .youtube .play-button,
   .youtube .play-button:before {
   position: absolute;
   }
   .youtube .play-button,
   .youtube .play-button:before {
   top: 50%;
   left: 50%;
   transform: translate3d( -50%, -50%, 0 );
   }
   .youtube iframe {
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   }
   .youtube img:hover,
   .youtube .play-button:hover {
   background-color: #ff0000;
   opacity: 1;
   }
   /* Style the tab */
   .tab {
   overflow: hidden;
   border: 1px solid #004b7a;
   background-color: #004b7a;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   color: white;
   font-weight: 600;
   }
   /* Style the buttons inside the tab */
   .tab button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
   font-size: 17px;
   }
   /* Change background color of buttons on hover */
   .tab button:hover {
   background-color: #f9992fcc;
   }
   /* Create an active/current tablink class */
   .tab button.active {
   background-color: #f9992f;
   }
   /* Style the tab content */
   .tabcontent {
   display: none;
   padding: 6px 12px;
   border: 1px solid #ccc;
   border-top: none;
   margin-bottom: 30px;
   }
   .headingBox{
   margin: 9px 0px 25px 0px;
   background-color: #004b7a;
   border-radius: 10px;
   }
   .headingBox h2{
   color: white;
   text-align: center;
   margin: 12px 5px 12px 5px;
   }
   .iframeCss{
   border: 0.1px groove #f1f1f1;
   }

   .col-container {
  display: grid;
        grid-template-columns: repeat(3, 1fr);
}
.col {
  display: grid;
  padding: 10px;
}

 

</style>
<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Events</h1>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <div class="row">
      <div class="col-lg-12 headingBox">
         <h2>Upcoming Events and Webinars, Seminars...</h2>
      </div>
   </div>
   <div class="row" style="    margin: 30px 0px;">
      <a href=""><img src="images/coming-soon.png" alt=" " class="img-responsive" style="margin: auto; max-width: 50%;"></a>
      <!--  <div class="col-md-4">
         <div class="card-offer">
            <a href=""><img src="images/events/eventPageimg.jpeg" alt=" " class="img-responsive"></a>
            <div class="caption">
               <div class="">
                  <p> <i class="fa fa-clock-o" aria-hidden="true"> 18th June 2021 - 06:00 PM IST</i>  </p>
                  <p><a href="#"><b>Get The Right Information about Prodigy Finance Loan</b></a></p>
                 
                  <p>Banit Singh Sawhney <br> <small>( Founder & CEO Eduloans). </small> <br> Sakshi Kumari <br> <small>(Growth and partnership prodigy finance). </small></p>
               </div>
               <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;">
                  <p> <span class="">FREE</span>
                     <span class="pull-right"><a href="https://bit.ly/2RSGRFm" target="_blank" class="btn btn-primary">Register Now</a></span>
                  </p>
               </div>
            </div>
         </div>
         </div> -->
      <!-- <div class="col-md-4">
         <div class="card-offer">
            <a href=""><img src="images/events/InstagramPost.jpg" alt=" " class="img-responsive"></a>
            <div class="caption">
               <div class="">
                  <p> <i class="fa fa-clock-o" aria-hidden="true"> 6th March 2020 - 06  :00 PM IST</i>  </p>
                  <p><b><u>Topic:</u></b><a href="#"><br><b>ATTEND EDUCATION LOAN MELA</b></a></p>
                  <p><b>Aspects Covered:</b></p>
                  <ul>
                     <li>Over 13000+ Students Guided for Best Education Loan</li>
                     <li>Interact with 15+ Banks</li>
                     <li>Free Service</li>
                     <li>Dedicated Relationship Manager</li>
                  </ul>
               </div>
               <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;">
                  <p> <span class="">FREE</span>
                     <span class="pull-right"><a href="https://www.eduloans.org/webinarRegistration/EducationLoanMela26FEB2021/242" target="_blank" class="btn btn-primary">Register Here</a></span>
                  </p>
               </div>
            </div>
         </div>
         </div> -->
      <!-- <div class="col-md-4">
         <div class="card-offer">
            <a href=""><img src="images/events/LiveSessionManasi20thNovPost.jpg" alt=" " class="img-responsive"></a>
            <div class="caption">
               <div class="">
                  <p> <i class="fa fa-clock-o" aria-hidden="true"> 9th November 2020 - 07:00 PM IST</i>  </p>
                  <p><b><u>Topic:</u></b><a href="#"><br><b>Bank of Baroda Education Loan application process.</b></a></p>
                 
                  <p><b>Speakers :</b> Banit Sawhney <br> <small>( Founder & CEO Eduloans). </small> <br> Jenny Mendonca  <br> <small>(Operation Manager - South). </small></p>
               </div>
               <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;">
                  <p> <span class="">FREE</span>
                     <span class="pull-right"><a href="https://www.instagram.com/eduloanslive/" target="_blank" class="btn btn-primary">Visit Here</a></span>
                  </p>
               </div>
            </div>
         </div>
         </div> -->
      <!-- <div class="col-md-4">
         <div class="card-offer">
            <a href=""><img src="images/events/AmanLiveSessoin25thNov.jpg" alt=" " class="img-responsive"></a>
            <div class="caption">
               <div class="">
                  <p> <i class="fa fa-clock-o" aria-hidden="true"> 25th November 2020 - 07:00 PM IST</i>  </p>
                  <p><b><u>Topic:</u></b><a href="#"><br><b>Concept of margin money and repayment</b></a></p>
                  
                  <p><b>Speakers :</b> Banit Sawhney <br> <small>( Founder & CEO Eduloans). </small> <br> Aman Kaundal <br> <small>(Loan Guidance Counselor ). </small> </p>
               </div>
               <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;">
                  <p> <span class="">FREE</span>
                     <span class="pull-right"><a href="https://www.instagram.com/eduloanslive/" target="_blank" class="btn btn-primary">Visit Here</a></span>
                  </p>
               </div>
            </div>
         </div>
         </div>
         <div class="col-md-4">
         <div class="card-offer">
            <a href=""><img src="images/events/RanbirLiveSessoin5thNov.jpg" alt=" " class="img-responsive"></a>
            <div class="caption">
               <div class="">
                  <p> <i class="fa fa-clock-o" aria-hidden="true"> 27th November 2020 - 07:00 PM IST</i>  </p>
                  <p><b><u>Topic:</u></b><a href="#"><br><b>Application process for international fund</b></a></p>
                  
                  <p><b>Speakers :</b> Banit Sawhney <br> <small>( Founder & CEO Eduloans). </small> <br> Ranbir Singh <br> <small>(Senior Loan Guidance Counselor ). </small> </p>
               </div>
               <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;">
                  <p> <span class="">FREE</span>
                     <span class="pull-right"><a href="https://www.instagram.com/eduloanslive/" target="_blank" class="btn btn-primary">Visit Here</a></span>
                  </p>
               </div>
            </div>
         </div>
         </div> -->
      <!--  -->
   </div>
</div>
<div>
<div class="container">
   <!-- video-testimonial-section -->
   <div class="space-medium">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-sm-12 headingBox">
               <h2>Past Events and Webinar</h2>
            </div>
            <!-- /.section-title -->
         </div>
         <div class="row" >
            <div class="tab">
               <button class="tablinks" onclick="openCategory(event, 'Webinar')" id="defaultOpen">Webinar</button>
               <button class="tablinks" onclick="openCategory(event, 'InstaLive')">IGTV Students</button>
               <button class="tablinks" onclick="openCategory(event, 'Agents')">IGTV Agents</button>
               <button class="tablinks" onclick="openCategory(event, 'EduloansRm')">IGTV Eduloans RM</button>
            </div>
            <div id="Webinar" class="tabcontent" ng-repeat="(eventKey, eventValue) in eventsData"  ng-if="eventValue[0].type =='WEBINARVIDEO'">
               <div class="col-container" >
                  <!-- video-testimonail -->
                  <div class="col" style="margin-bottom: 20px; margin-top: 5px;" ng-repeat="(webinarKey, webinarValue) in eventValue">
                     <div class="video-gallery-block">
                        <div class="item-video">
                           <div class="ywrapper">
                              <div class="youtube" data-embed="{{webinarValue.youtube_url}}">
                                 <div class="play-button"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="video-testimonial-content">
                        <h4 class="mb10"><b>{{webinarValue.title}}</b></h4>
                        <p>Concepts Covered :</p>
                        <ul ng-repeat="(conceptKey, conceptVal) in webinarValue.details">
                           <li>{{conceptVal}}</li>
                           <!--  <li>Unsecured Loans Available</li>
                              <li>Pre Approved Loans</li>
                              <li>Competitive Interest rates with quick processing</li> -->
                        </ul>
                        <h5 class="mb10">{{webinarValue.sub_title}}</h5>
                     </div>
                  </div>
                  <!-- /.video-testimonail -->
               </div>
            </div>
            <div id="InstaLive" class="tabcontent" ng-repeat="(eventKey, eventValue) in eventsData"  ng-if="eventValue[0].type =='INSTAGRAMLIVESTU'">
               <h3>IGTV Students</h3>
               <div class="col-container">
                  <div class="col" ng-repeat="(instaStudentKey, instaStudentValue) in eventValue">
                     <iframe width="100%" height="800" ng-src="{{trustSrc(instaStudentValue.igtv_url)}}" frameborder="0" class="iframeCss"></iframe>
                  </div>
                  <script async src="//www.instagram.com/embed.js"></script>
               </div>
            </div>
            <div id="Agents" class="tabcontent" ng-repeat="(eventKey, eventValue) in eventsData"  ng-if="eventValue[0].type =='INSTAGRAMLIVEAGE'">
               <div class="col-container" >
                   <div class="col" ng-repeat="(instaAgentKey, instaAgentValue) in eventValue">
                     <iframe width="100%" height="800" ng-src="{{trustSrc(instaAgentValue.igtv_url)}}" frameborder="0" class="iframeCss"></iframe>
                  </div>
                  <script async src="//www.instagram.com/embed.js"></script>
               </div>
            </div>
            <div id="EduloansRm" class="tabcontent" ng-repeat="(eventKey, eventValue) in eventsData"  ng-if="eventValue[0].type =='INSTAGRAMLIVERM'">
               <div class="col-container" >
                   <div class="col" ng-repeat="(instaRMKey, instaRMValue) in eventValue">
                     <iframe width="100%" height="800" ng-src="{{trustSrc(instaRMValue.igtv_url)}}" frameborder="0" class="iframeCss"></iframe>
                  </div>
                  <script async src="//www.instagram.com/embed.js"></script>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
   /** youtube lazyload begin **/
     
     ( function() {
     
      var youtube = document.querySelectorAll( ".youtube" );
      
      for (var i = 0; i < youtube.length; i++) {
        
        var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";
        
        var image = new Image();
            image.src = source;
            image.addEventListener( "load", function() {
              youtube[ i ].appendChild( image );
            }( i ) );
        
            youtube[i].addEventListener( "click", function() {
     
              var iframe = document.createElement( "iframe" );
     
                  iframe.setAttribute( "frameborder", "0" );
                  iframe.setAttribute( "allowfullscreen", "" );
                  iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );
     
                  this.innerHTML = "";
                  this.appendChild( iframe );
            } );  
      };
      
     } )();
      /** youtube lazyload end -  https://codepen.io/tutsplus/pen/RRVRro  **/
   
   
     function openCategory(evt, categoryName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(categoryName).style.display = "block";
    evt.currentTarget.className += " active";
   }
   
   // Get the element with id="defaultOpen" and click on it
   document.getElementById("defaultOpen").click();
</script>