<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/exam_bg.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Exam Fees</h1>

            </div>
        </div>
    </div>
</section>



<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->


<section class="flights">
    <div class="container">
        <div class="row">
            <!--div class="col-md-12" style="text-align:center;">
				<img src="images/coming-soon.png" alt=" "  style="width:400px;padding-top:150px;margin:0px auto;">
				<p style="height:300px;">&nbsp;</p>
			</div-->

			<div class="col-md-12">

			<!--h4>Flight Tickets</h4-->
			<p>Get <b>700 OFF</b> on <b>TOEFL Exam</b> Fees</p>
			<p>The team at Eduloans understands how expensive taking the official TOEFL exam can be, so we are offering an exclusive discount on TOEFL Exam Fees. Use the following process to avail the offer.</p>
            <p>
                <ol>
                    <li>Use Eduloans agent code <b>IND1222101</b> while registering for TOEFL.</li>
                    <li>Take a screenshot with agent code.</li>
                    <li>Register on Eduloans and upload the screenshot.</li>
                </ol>
            </p>

			</div>

		</div>



	</div>
</section>
