
<style>
   /*MATERIAL INPUT*/
   .mat-input {
   width: 100%;
   }
   .mat-input-outer {
   display: table;
   width: -webkit-fill-available;
   position: relative;
   /*margin-bottom: 80px;*/
   }
   .mat-input-outer input {
   height: 32px;
   border-radius: 0;
   outline: none;
   border: none;
   width: 100%;
   padding: 0;
   font-family: Montserrat;
   font-size: 15px;
   font-weight: 500;
   }
   .mat-input-outer label {
   font-family: Montserrat;
   font-size: 15px;
   left: 0px;
   position: absolute;
   top: 1px;
   transition: .5s;
   color: #000;
   cursor: text;
   font-weight: normal;
   filter: alpha(opacity=40);
   }
   .mat-input-outer .border {
   height: 2px;
   background: #d2d2d2;
   transition: .3s;
   -webkit-transition: .3s;
   -ms-transition: .3s;
   }
   .mat-input-outer input+label.active {
   left: 0px;
   top: -20px;
   color: #ff5900;
   border: none;
   filter: alpha(opacity=100);
   }
   .modalfdb .modal-header .glyphicon-remove-circle {
   left: 2%;
   }
   .mat-input-outer label {
   font-family: Montserrat;
   font-size: 15px;
   left: 0px;
   position: absolute;
   top: 1px;
   transition: .5s;
   color: #000;
   cursor: text;
   font-weight: normal;
   filter: alpha(opacity=40);
   }
   .mat-input-outer input {
   height: 45px;
   border-radius: 0;
   outline: none;
   border: none;
   width: 100%;
   padding: 0;
   font-family: Montserrat;
   font-size: 15px;
   }
   /**********************STAR RATING***********************/
   #colorstar { color: #ee8b2d !important;}
   .badForm {color: #FF0000;}
   .goodForm {color: #00FF00;}
   .evaluation { margin-left:15px;}
   .Question-mar{
   margin: 5px 0px 25px 0px;
   }
   .optionCheck{
   margin: 10px 4px 5px 0px !important;
   background-color: #ffffff !important;
   color: #f6722a !important;
   box-shadow: 2px 2px 3px 0px rgba(160, 159 , 159, 0.7) !important;
   min-width: 175px !important;
   padding: 4px 7px !important;
   letter-spacing: 0.4px !important;
   text-align: inherit !important;
   }
   .optionCheck:hover {
   color: #fff !important;
   background-color: #286090 !important;
   border-color: #204d74 !important;
   }
   .questionMar-top{
   margin-top: 5px;
   }
   .firstbox-shadow{
   box-shadow:  3px 0px 0px 0px rgba(191,191,191,0.7);
   }
   .speech-bubble {
   position: relative;
   border-radius: .4em;
   box-shadow: 2px 2px 5px 2px rgba(160, 159 , 159, 0.7) !important;
   padding: 3px 6px 3px 6px;
   }
   .speech-bubble:after {
   content: '';
   position: absolute;
   left: 0;
   top: 50%;
   width: 0;
   height: 0;
   border: 32px solid transparent;
   border-right-color: #cac9c8;
   border-left: 0;
   margin-top: -32px;
   margin-left: -32px;
   }
</style>
<script type="text/javascript">
   // jQuery(window).load(function() {
   //     setTimeout(function(){
   
       var __slice = [].slice;
   
      (function($, window) {
      var Starrr;
   
      Starrr = (function() {
      Starrr.prototype.defaults = {
        rating: void 0,
        numStars: 5,
        change: function(e, value) {}
      };
   
      function Starrr($el, options) {
        var i, _, _ref,
          _this = this;
   
        this.options = $.extend({}, this.defaults, options);
        this.$el = $el;
        _ref = this.defaults;
        for (i in _ref) {
          _ = _ref[i];
          if (this.$el.data(i) != null) {
            this.options[i] = this.$el.data(i);
          }
        }
        this.createStars();
        this.syncRating();
        this.$el.on('mouseover.starrr', 'span', function(e) {
          return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
        });
        this.$el.on('mouseout.starrr', function() {
          return _this.syncRating();
        });
        this.$el.on('click.starrr', 'span', function(e) {
          return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
        });
        this.$el.on('starrr:change', this.options.change);
      }
   
      Starrr.prototype.createStars = function() {
        var _i, _ref, _results;
   
        _results = [];
        for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
          _results.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"));
        }
        return _results;
      };
   
      Starrr.prototype.setRating = function(rating) {
        if (this.options.rating === rating) {
          rating = void 0;
        }
        this.options.rating = rating;
        this.syncRating();
        return this.$el.trigger('starrr:change', rating);
      };
   
      Starrr.prototype.syncRating = function(rating) {
        var i, _i, _j, _ref;
   
        rating || (rating = this.options.rating);
        if (rating) {
          for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
            this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
          }
        }
        if (rating && rating < 5) {
          for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
            this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
          }
        }
        if (!rating) {
          return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
        }
      };
   
      return Starrr;
   
      })();
      return $.fn.extend({
      starrr: function() {
        var args, option;
   
        option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
        return this.each(function() {
          var data;
   
          data = $(this).data('star-rating');
          if (!data) {
            $(this).data('star-rating', (data = new Starrr($(this), option)));
          }
          if (typeof option === 'string') {
            return data[option].apply(data, args);
          }
        });
      }
      });
      })(window.jQuery, window);
   
      $(function() {
      return $(".starrr").starrr();
      });
   
      $( document ).ready(function() {
   
      var correspondence=["","Really Bad","Bad","Fair","Good","Excelent"];
   
      $('.ratable').on('starrr:change', function(e, value){
   
       $(this).closest('.evaluation').children('#countBank').html(value);
       $(this).closest('.evaluation').children('#countBankRm').html(value);
       $(this).closest('.evaluation').children('#countEduloans').html(value);
       $(this).closest('.evaluation').children('#countEduloansRm').html(value);
       $(this).closest('.evaluation').children('#meaning').html(correspondence[value]);
   
       var currentval=  $(this).closest('.evaluation').children('#countBank').html();
       var currentval=  $(this).closest('.evaluation').children('#countBankRm').html();
       var currentval=  $(this).closest('.evaluation').children('#countEduloans').html();
       var currentval=  $(this).closest('.evaluation').children('#countEduloansRm').html();
   
      var target=  $(this).closest('.evaluation').children('.indicators');
      target.css("color","black");
      target.css("font-size","16px");
      target.css("font-weight","bold").show();
      target.children('.rateval').val(currentval);
      target.children('#textwr').html(' ');
   
   
      if(value<4){
       target.css("color","red").show();
       target.css("font-size","16px");
       target.css("font-weight","bold").show();
       target.children('#textwr').text('What can be improved?');
       $("#apologyDivF").show();
      }else{
          if(value=5){
              target.css("color","green").show();
              target.css("font-size","16px");
              target.css("font-weight","bold").show();
              target.children('#textwr').html('What did you most like ?');
              $("#apologyDivF").hide();
          }else{
         target.hide();
          }
      }
   
      });
   
   
      $('#hearts-existing').on('starrr:change', function(e, value){
      $('#countBank-existing').html(value);
      $('#countBankRm-existing').html(value);
      $('#countEduloans-existing').html(value);
      $('#countEduloansRm-existing').html(value);
      });
      });
   
   
      $(function () {
      $('.button-checkbox').each(function () {
   
          // Settings
          var $widget = $(this),
              $button = $widget.find('button'),
              $checkbox = $widget.find('input:checkbox'),
              color = $button.data('color'),
              settings = {
                  on: {
                      icon: 'glyphicon glyphicon-check'
                  },
                  off: {
                      icon: 'fa fa-square-o'
                  }
              };
   
          // Event Handlers
          $button.on('click', function () {
              $checkbox.prop('checked', !$checkbox.is(':checked'));
              $checkbox.triggerHandler('change');
              updateDisplay();
          });
          $checkbox.on('change', function () {
              updateDisplay();
          });
   
          // Actions
          function updateDisplay() {
              var isChecked = $checkbox.is(':checked');
   
              // Set the button's state
              $button.data('state', (isChecked) ? "on" : "off");
   
              // Set the button's icon
              $button.find('.state-icon')
                  .removeClass()
                  .addClass('state-icon ' + settings[$button.data('state')].icon);
   
              // Update the button's color
              if (isChecked) {
                  $button
                      .removeClass('btn-default')
                      .addClass('btn-' + color + ' active');
              }
              else {
                  $button
                      .removeClass('btn-' + color + ' active')
                      .addClass('btn-default');
              }
          }
   
          // Initialization
          function init() {
   
              updateDisplay();
   
              // Inject the icon if applicable
              if ($button.find('.state-icon').length == 0) {
                  $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
              }
          }
          init();
      });
      });
   
   //     }, 3000);
   // });
</script>
<style type="text/css">
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    /*background: #004b7a;*/  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to bottom, #a6b9cb, #004b7a);*/  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to bottom, #a6b9cb, #004b7a);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ http://www.eduloans.org/ */
float:left;
width:100%;
padding : 20px 0;
}
.banner-sec{background:url(http://www.eduloans.org/images/thankyou_roop.gif)  no-repeat left bottom; background-size:cover; min-height:400px; border-radius: 0 10px 10px 0; padding:0;}

.login-sec{padding: 80px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #004b7a;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#f9992f; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
/*.btn-login{background: #f9992f; color:#fff; font-weight:600;}*/
</style>
<section class="login-block" id="panelThankU">
    <div class="container" style="background:#fff; border-radius: 10px; box-shadow:8px 10px 0px rgba(0,0,0,0.1);">
    <div class="row" id="rating5" class="heading_msg2" style="display: none">
        <div class="col-md-7 login-sec">
            <!-- <h2 >Enter New Password</h2> -->
             <h2 class="text-center">
                     <span>Thank you {{fstuName}}!</span>
                     </h2>
            <form class="login-form">
              <div class="form-group">
                <h4 class="text-center"><span>Your feedback sent perfectly.</span></h4>
              </div>
              <div class="form-group row">
                    <h4 class="text-center">
                    <div class="col-md-12 " style="text-align: center;">
                     <p style="text-align: center;"><a href='http://bit.do/eSBEf' target='_blank'> <img align='center' alt='Google Reviews' border='0' class='center fixedwidth' src='images/smm_mail/search.png' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; height: auto; float: none; border: none; width: 75%; max-width: 60px;' title='Google Reviews' width='91'/></a></p>
                     </div>
                     <a href="http://bit.do/eSBEf" target="_blank">Please review us on google  and share your experience ! Click here</a>
                     
                     </h4>
              </div>
            </form>
        </div>
        <div class="col-md-5 banner-sec hidden-xs">    
        </div>
    </div>
    <div class="row" id="ratingLess5" class="heading_msg2" style="display: none">
        <div class="col-md-7 login-sec">
            <!-- <h2 >Enter New Password</h2> -->
             <h2 class="text-center">
                     <span>Thank you {{fstuName}}!</span>
                     </h2>
            <form class="login-form">
              <div class="form-group">
                <h4 class="text-center"><span>Your feedback sent perfectly.</span></h4>
              </div>
            </form>
        </div>
        <div class="col-md-5 banner-sec hidden-xs">    
        </div>
    </div>
    <div class="row" id="onlyThankYou" class="heading_msg2" style="display: none">
        <div class="col-md-7 login-sec">
            <!-- <h2 >Enter New Password</h2> -->
             <h2 class="text-center">
                     <span>Thank you {{fstuName}}!</span>
                     </h2>
            <form class="login-form">
              <div class="form-group">
                <h4 class="text-center"><span>Your feedback sent perfectly.</span></h4>
              </div>
            </form>
        </div>
        <div class="col-md-5 banner-sec hidden-xs">    
        </div>
    </div>
</div>
</section>
<section>
   <div class="container">
      
      <!-- <div id="panelThankU" ng-if="value.feedBackCheckdata.data.Bank == 'NO' && value.feedBackCheckdata.data.Eduloans == 'NO'"><p>tesst</p></div> -->
    
      <div class="col-md-12" id="headingFeedback" style="display: none">
         
        
            <div class="row" style="text-align: center;">
              <h1>Give Your Feedback</h1>
         <h4>Dear <b style="color: #ff9900">{{fstuName}}</b>, Please help us serve you better by telling us about your loan process and service experience so far. <br>We want to make sure we meet your expectations.</h4>
            </div>
            
         
      </div>
      <div class="panel panel-success" id="panelBank" style="display: none; overflow: -webkit-paged-x;">
         <div class="panel-heading">
            <h3 class="modal-title"><b>Section 1 </b>| {{fbankName}} - BANK Experience</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div  class="col-xs-12 col-lg-6 col-sm-12 col-md-6 firstbox-shadow">
                  <h5><b>Rate Bank ? </b></h5>
                  <div class="row lead evaluation">
                     <div  id="colorstar" class="row starrr ratable" ></div>
                     <span id="countBank" name="countBank" ng-model="countBank" style="display: none;">0</span> <span id="meaning"  style="display: none;"> </span>
                     <div class='indicators' style="display:none">
                        <div id='textwr' class="row questionMar-top"><b>What went wrong?</b></div>
                        <div class="row">
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" name="bankpunctuallity" title="The proportion of a loan that is charged as interest to the you"> Interest Rate</button>
                           <input type="checkbox" class="hidden" name="bank" id="bankpunctuallity" value="Interest Rate" ng-model="bankpunctuallity" data-color="info"/>
                           </span>
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Flexibility on Collateral"> Flexibility on Collateral</button>
                           <input type="checkbox" class="hidden" name="bank" value="Flexibility on Collateral" id="bankassistance" ng-model="bankassistance" />
                           </span>
                        </div>
                        <div class="row">
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Fee charged to you for processing an application for a loan"> Processing Fees</button>
                           <input type="checkbox" class="hidden" name="bank" value="Processing Fees on Collateral" id="bankknowledge" ng-model="bankknowledge" />
                           </span>
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Flexibility on Cosigner">Flexibility on Cosigner</button>
                           <input type="checkbox" class="hidden" name="bank"  value="Flexibility on Cosigner" id="bankattitude" ng-model="bankattitude" />
                           </span>
                        </div>
                        <div class="row">
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Lump sum of money that you borrowed with the expectation of paying it back"> Loan Amount</button>
                           <input type="checkbox" class="hidden" name="bank" value="Loan Amount" id="bankknowledge" ng-model="bankknowledge" />
                           </span>
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Flexibility in the requirements to make repayments">Flexible repayment</button>
                           <input type="checkbox" class="hidden" name="bank"  value="Flexible repayment" id="bankattitude" ng-model="bankattitude" />
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <div  class="col-xs-12 col-lg-6 col-sm-12 col-md-6 firstbox-shadow">
                  <h5><b>Rate Bank RM ? </b></h5>
                  <div class="row lead evaluation">
                     <div  id="colorstar" class="row starrr ratable" ></div>
                     <span id="countBankRm" name="countBankRm" ng-model="countBankRm" style="display: none;">0</span> <span id="meaning"  style="display: none;"> </span>
                     <div class='indicators' style="display:none">
                        <div id='textwr' class="row questionMar-top"><b>What went wrong?</b></div>
                        <!-- <input id="rate[]" name="rate[]" type="text" placeholder="" class="form-control input-md" style="display:none;">
                           <input id="rating[]" name="rating[]" type="text" placeholder="" class="form-control input-md rateval" style="display:none;"> -->
                        <div class="row">
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck"  data-color="info" data-toggle="tooltip" data-placement="top" title="Loan processed with ease and without difficulties "> Convenience</button>
                           <input type="checkbox" class="hidden" value="Convenience" name="bankrm" id="bankrmpunctuallity" ng-model="bankrmpunctuallity" />
                           </span>
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info"  data-toggle="tooltip" data-placement="top" title="Work directly with you to address problems or overcome other obstacles"> Availability</button>
                           <input type="checkbox" class="hidden" value="Availability" name="bankrm" id="bankrmassistance" ng-model="bankrmassistance"/>
                           </span>
                        </div>
                        <div class="row">
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" data-toggle="tooltip" data-placement="top" title="Exact and accurate knowledge about the product"> Clarity</button>
                           <input type="checkbox" class="hidden" value="Clarity" name="bankrm" id="bankrmknowledge" ng-model="bankrmknowledge"/>
                           </span>
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info"  title="Amount of time taken to fulfill your any query/loan procedure">Turn around Time</button>
                           <input type="checkbox" class="hidden" value="Turn around Time" name="bankrm" id="bankrmattitude" ng-model="bankrmattitude"/>
                           </span>
                        </div>
                        <div class="row">
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info"  title="Being dedicated to you throughout the loan process"> Commitment</button>
                           <input type="checkbox" class="hidden" value="Commitment" name="bankrm" id="bankrmknowledge" ng-model="bankrmknowledge"/>
                           </span>
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info"  title="Timely delivery">Timely delivery</button>
                           <input type="checkbox" class="hidden" value="Timely delivery" name="bankrm" id="bankrmattitude" ng-model="bankrmattitude"/>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" style="margin-top: 15px;">
               <div class="col-xs-12 col-lg-10 col-sm-12 col-md-10 " style="text-align: center;">
                  <div class="mat-input">
                     <div class="mat-input-outer">
                        <input type="text" autocomplete="off" id="suggestions_value" name="suggestions_value" ng-model="suggestions_value"/>
                        <label style="font-size: 15px;
                           line-height: 20px; color: #004b7a;"><b style="font-family: 'Open Sans',Montserrat, Helvetica, sans-serif;">Are there any comments or suggestions ?</b></label>
                        <div class="border"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" style="margin-top: 15px;">
               <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="text-align: center;">
                  <button type="button" id="feedBackok" class="btn btn-lg btn-primary ok" data-dismiss="" ng-click="submitBankFeedbackLink()" style="padding: 10px 16px; border-radius: 5px;"> SUBMIT <span class="glyphicon glyphicon-ok"></span></button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel panel-success" id="panelEduloans" style="display: none; overflow: -webkit-paged-x;">
         <div class="panel-heading">
            <h3 class="modal-title"><b>Section 2 </b>| Eduloans Experience</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div  class="col-xs-12 col-lg-6 col-sm-12 col-md-6 firstbox-shadow">
                  <h5><b>Rate Eduloans ? </b></h5>
                  <div class="row lead evaluation">
                     <div  id="colorstar" class="row starrr ratable" ></div>
                     <span id="countEduloans" name="countEduloans" ng-model="countEduloans" style="display: none;">0</span> <span id="meaning"  style="display: none;"> </span>
                     <div class='indicators' style="display:none">
                        <div id='textwr' class="row questionMar-top"><b>What went wrong?</b></div>
                        <div class="row">
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" name="bankpunctuallity" title="Unbiased comparison between different bank loans and interest rates"> Unbiased comparison</button>
                           <input type="checkbox" class="hidden" name="eduloans" id="eduloanspunctuallity" value=" Unbiased comparison" ng-model="eduloanspunctuallity" data-color="info"/>
                           </span>
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Simplified Loans and Provided Affordable Solutions with Guidance on Most suitable loan for you">  Product Details</button>
                           <input type="checkbox" class="hidden" name="eduloans" value="Product Details" id="eduloansassistance" ng-model="eduloansssistance" />
                           </span>
                        </div>
                        <div class="row">
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Application / Online connection procedure Simplified"> Connectivity</button>
                           <input type="checkbox" class="hidden" name="eduloans" value="Connectivity" id="eduloansknowledge" ng-model="eduloansknowledge" />
                           </span>
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Decreasing Turn Around Time for Loan"> Turn Around Time</button>
                           <input type="checkbox" class="hidden" name="eduloans"  value="Turn Around Time" id="eduloansattitude" ng-model="eduloansattitude" />
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <div  class="col-xs-12 col-lg-6 col-sm-12 col-md-6 firstbox-shadow">
                  <h5><b>Rate Eduloans RM - {{ffacilitatorName}} ? </b></h5>
                  <div class="row lead evaluation">
                     <div  id="colorstar" class="row starrr ratable" ></div>
                     <span id="countEduloansRm" name="countEduloansRm" ng-model="countEduloansRm" style="display: none;">0</span> <span id="meaning"  style="display: none;"> </span>
                     <div class='indicators' style="display:none">
                        <div id='textwr' class="row questionMar-top"><b>What went wrong?</b></div>
                        <div class="row">
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck"  data-color="info" title="Explanation of Edu-loans and Financial Institution services"> Guidance</button>
                           <input type="checkbox" class="hidden" value="Guidance" name="eduloansrm" id="eduloansrmpunctuallity" ng-model="eduloansrmpunctuallity" />
                           </span>
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Co-ordination with various Financial Providers "> Connectivity</button>
                           <input type="checkbox" class="hidden" value="Connectivity" name="eduloansrm" id="eduloansrmassistance" ng-model="eduloansrmassistance"/>
                           </span>
                        </div>
                        <div class="row">
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Clarity and Quality of communication"> Knowledge</button>
                           <input type="checkbox" class="hidden" value="Knowledge" name="eduloansrm" id="eduloansrmknowledge" ng-model="eduloansrmknowledge"/>
                           </span>
                           <span class="button-checkbox">
                           <button type="button" class="btn btn-xs btn-primary optionCheck" data-color="info" title="Stringent follow ups on the loan status, Personalized Attention to you">Turn Around Time</button>
                           <input type="checkbox" class="hidden" value="Turn Around Time" name="eduloansrm" id="eduloansrmattitude" ng-model="eduloansrmattitude"/>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" style="margin-top: 15px;">
               <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 " style="text-align: center;">
                  <div class="mat-input">
                     <div class="mat-input-outer">
                        <input  type="text" autocomplete="off" id="suggestions_value1" name="suggestions_value1" ng-model="suggestions_value1"/>
                        <label style="font-size: 15px;
                           line-height: 20px; color: #004b7a;"><b style="font-family: 'Open Sans',Montserrat, Helvetica, sans-serif;">Are there any comments or suggestions ?</b></label>
                        <div class="border"></div>
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6 float-right" style="text-align: center;">
                  <div id="apologyDivF" class="heading_msg2 col-md-12" style="display: none;">
                     <hgroup class="speech-bubble">
                     <p><b>{{fstuName}}</b>, please write more details on Improvement of our services.</p>
                     <p>The same would reach only the Directors / Sr. Management for improvement& feedback to the Eduloans Team.<b></b></p>
                  </div>
               </div>
            </div>
            <div class="row" style="margin-top: 15px;">
               <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="text-align: center;">
                  <button type="button" id="feedBackok2" class="btn btn-primary ok" data-dismiss="" ng-click="submitEduloansFeedbackLink()" style="padding: 10px 16px; border-radius: 5px;">SUBMIT <span class="glyphicon glyphicon-ok"></span></button>
               </div>
            </div>
         </div>
      </div>

      <div class="modal modalfdb fade " id="ModalFeedback" role="dialog" style="display:none;">
        <div class="modal-dialog">
          <div id="ModalFeedbackK" style="overflow: scroll;" class="modal-content">
             <div class="modal-body ">
                 <div class="col-lg-12">
                 <button type="button" class="close close_model" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle
                    "></span>
                 </button>
                 </div>
                 <div class="thank_you_body">
                     <div id="rating5" class="heading_msg2" style="display: none">
                     <h3>
                     <span>Thank you {{fstuName}}!</span><br> Your feedback was sent perfectly.<br> <br>

                     <a href="http://bit.do/eSBEf" target="_blank">Please review us on google  and share your experience ! Click here</a>
                     <!-- <a href="http://bit.do/eSBEf"><i class="fa fa-google" style="font-size:28px;color:#004b7a" ></i> </a> -->
                     </h3>

                     </div>
                     <div id="ratingLess5" class="heading_msg2">
                     <h3>
                     <span>Thank you {{fstuName}}!</span><br> Your feedback was sent perfectly.<br>
                     </h3>

                     </div>
                     <div class="row text-center give_feedback">
                     <button type="submit" class="btn btn-default " data-dismiss="modal">Close</button>
                     </div>
                 </div>
             </div>
          </div>
        </div>
      </div>

   </div>
</section>
<script>
   $(function() {
       $('.mat-input-outer label').click(function() {
           $(this).prev('input').focus();
       });
       $('.mat-input-outer input').focusin(function() {
           $(this).next('label').addClass('active');
       });
       $('.mat-input-outer input').focusout(function() {
           if (!$(this).val()) {
               $(this).next('label').removeClass('active');
           } else {
               $(this).next('label').addClass('active');
           }
       });
   });
</script>