<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/flightsbg.jpg); background-size: cover;background-position: top center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Flight Tickets</h1>
               
            </div>
        </div>
    </div>
</section>



<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->
	
	
<section class="flights">
    <div class="container">
        <div class="row">
            <!--div class="col-md-12" style="text-align:center;">
				<img src="images/coming-soon.png" alt=" "  style="width:400px;padding-top:150px;margin:0px auto;">
				<p style="height:300px;">&nbsp;</p>
			</div--> 
			
			<div class="col-md-12">
			
			<!--h4>Flight Tickets</h4-->
			<p>We have tied up with leading Airlines to provide you best offers, group discounts and cash back offers. We also have negotiated additional baggage for our students.  </p>
			<p>In case you are interested in connecting with our partners in individual/group please click the below</p>

			</div>
			
		</div>	
		
		<div class="row">
		
		  <div class="col-md-12"><h4>Partnering Travel Agencies</h4></div>
		  
		  <div class="col-md-3">
			<div class="card-offer">
			  <a href=""><img src="images/offers/thomos-cb.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				
				<div class="">
				<p>Get group discounts and avail cash back discount of <b>INR 500</b> per ticket as you are applying from Eduloans</p>
				<a href="" class="btn btn-primary">Avail Now</a>
				</div>
				
			  </div>
			</div>
		  </div>
		  
		 <div class="col-md-3">
			<div class="card-offer">
			  <a href=""><img src="images/offers/makemytrip-cb500.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				
				<div class="">
				<p>Get group discounts and avail cash back discount of <b>INR 500</b> per ticket as you are applying from Eduloans</p>
				<a href="" class="btn btn-primary">Avail Now</a>
				</div>
				
			  </div>
			</div>
		  </div>
		  
			<!--div class="col-md-3">
			<div class="card-offer">
			  <a href=""><img src="images/offers/thomos-cb.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				
				<div class="">
				<p>Get group discounts and avail cash back discount of <b>INR 500</b> per ticket as you are applying from Eduloans</p>
				<a href="" class="btn btn-primary">Avail Now</a>

				</div>
				
			  </div>
			</div>
		  </div-->
		  
		  <!--div class="col-md-3">
			<div class="card-offer">
			  <a href=""><img src="images/offers/thomos-cb.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				
				<div class="">
				<p>Get group discounts and avail cash back discount of <b>INR 500</b> per ticket as you are applying from Eduloans</p>
				</div>
				
			  </div>
			</div>
		  </div-->

		</div>
		
	</div>	
</section>	
	
	



