<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/forexbg.jpg); background-size: cover;background-position: top center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Forex Cards </h1>
               
            </div>
        </div>
    </div>
</section>



<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->
	
	
<section class="flights">
    <div class="container">
        <div class="row">
            <!--div class="col-md-12" style="text-align:center;">
				<img src="images/coming-soon.png" alt=" "  style="width:400px;padding-top:150px;margin:0px auto;">
				<p style="height:300px;">&nbsp;</p>
			</div--> 
			
			<div class="col-md-12">
			
			<p>We provide you prefilled and negotiated Forex cards to fill your applications through our channel partners. The Forex cards offer the following benefit</p>
			<ul>
				<li>The most convenient way to carry and store currencies</li>
				<li>Easy Availability through One day TAT to reach your door step</li>
				<li>Very Safe option to carry currency as Chip/PIN technology prevent misuse</li>
				<li>Convenient withdrawal facility across any ATM, like a debit card.</li>
				<li>All players have online facility to check Balances and reload cards online.</li>
			</ul>
			<p>&nbsp;</p>
			
			</div>
			<div class="col-md-12">
			<h4>Our Forex cards Partners</h4>
			<div class="col-md-4"><img src="images/partners/axis.png" alt="axis bank education loan" class="img-responsive"></div>
			<div class="col-md-4"><img src="images/partners/centrum_forex.jpg" alt="Centrum Forex" class="img-responsive"> </div>
			<div class="col-md-4"><img src="images/partners/thomas_cook.jpg" alt="Thomas Cook" class="img-responsive"></div>

			</div>
			
			
			
			
		</div>	
		
		
		
	</div>	
</section>	
	
	



