<!-- content begin -->
<section id="subheader" data-speed="8" data-type="background">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>General FAQs</h1>
				<ul class="crumb">
					<li><a href="/">Home</a></li>
					<li class="sep">/</li>
					<li><a href="/faq">FAQ's</a></li>
					<li class="sep">/</li>
					<li>General FAQs</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="section-testimonial" class="text-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12" id="us-related" data-animation="fadeInRight" data-delay="200">
				<div class="col-md-4">
					<div class="bs-example" style="text-align:justify;">
						<div class="panel-group" id="accordionleft">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="/others">General FAQ's</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="/process">Application Process</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="/review">Application Review</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="/offer">Provisional Offer</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="/upload-document">Providing Your Documents</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="/disbursement">Disbursement</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="/study-and-grace">Study And Grace Period</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="/repayment">Loan Repayment</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 " data-animation="fadeInRight" data-delay="200">
					<div class="bs-example">
						<div class="panel-group" id="accordion">
							<h3>About Eduloans Portal </h3>
							<p>We are a comprehensive financing platform connecting educational aspirants with potential Financial Institutions, Investors and endowment Funds. We are a registered NBFC with RBI and provide the platform for you to choose the best financing options to  finance your education with least hasslement.  </p>
							<div class="panel panel-default">
								<div class="panel-heading" ng-click="accordion.current = 'accordian_1'">
									<h4 class="panel-title">
										<a>1. How does Eduloans make money?</a>
									</h4>
								</div>
								<div ng-show="accordion.current == 'accordian_1'" class="panel-collapse collapse in">
									<div class="panel-body">
										<p>Eduloans charges an origination fees to its financial partners or students. <br/>
											<ul>
												<li>We do not charge any upfront fees to the borrower incase we get funding from a Nationalised bank. However, the student might be asked to pay charges to the nationalized bank for the processing of loan</li>
												<li>In case of our inhouse NBFC or Investor we would be charging 1 % processing fees upfront and a small fees per year to facilitate the loand</li>
												<li>In case we apply to US banks with valid co signor we would be charging the borrower upfront fees of 1% of the loan sanctioned amount</li>
											</ul>
										</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" ng-click="accordion.current = 'accordian_2'">
									<h4 class="panel-title">
										<a>2. What are the benefits of using Eduloans ?</a>
									</h4>
								</div>
								<div ng-show="accordion.current == 'accordian_2'" class="panel-collapse collapse in">
									<div class="panel-body">
										<ul>
											<li><strong>The Complete Education Loan (Including Tuition and Living)</strong><br/>					We have been sending students to various Universities globally across for last 5 years and have observed that students sometimes fail to cover complete cost of education. We endeavor to provide through our financing options the total cost of study to the student. </li>
											<li><strong>Most Flexible global/local Interest rates</strong><br/>We through our financing partners look to provide you the best available interest rates to reduce your overall cost of borrowing. We try to arrange loans in the currency of study and repayment to suite the profile of the candidates. </li>
											<li><strong>Convenient Mortgage-able Security</strong>We try to find the most suitable solution to the security provided vs   credit profile of the student and guarantor. We use innovative financial solutions to the advantage of the student.</li>
											<li><strong>Least Remittance/Forex Charges</strong>We are aggregators of remittances and provide hence are able to provide the most economical options for forex remittances</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" ng-click="accordion.current = 'accordian_3'">
									<h4 class="panel-title">
										<a>3. Who are our  financial partners ?</a>
									</h4>
								</div>
								<div ng-show="accordion.current == 'accordian_3'" class="panel-collapse collapse in">
									<div class="panel-body">
										<h4>Indian Banks </h4>
										<p>Various financial institutions in India work with Eduloans and are able to, create awareness to the next generation of customers provide services at there convenience. The centralized system reduces the processing time of the loan and Bank is able to provide timely feedback. </p>
										<h4>Own Funds</h4>
										<p>Eduloans is a registered trademark for BITC Loan Services Pvt Ltd, A Non Banking Financial Institution. We also lend to students through our own line of funds in India or abroad </p>
										<h4>Foreign Banks</h4>
										<p>Banks in home country of study offer student loans with valid co signors/guarantors in the region. Eduloans works very closely with banks and can look to provide you the loans from foreign banks that are very cost effective. </p>
										<h4>Investors</h4>
										<p>We provide funds to the students by encouraging peer-to-peer lending on our platform. The automated underwriting system assigns the risk Vs return to the education loan. We generally also take small exposure in the loan  to create equitable mortgage and reduce delinquency ratio.  </p>
										<h4>University/Government Grants through Scholarships</h4>
										<p>We work very closely with Universities and Government bodies, which provide scholarships to meritocratic or underprivileged students. </p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" ng-click="accordion.current = 'accordian_4'">
									<h4 class="panel-title">
										<a>4. What is the maximum loan size? </a>
									</h4>
								</div>
								<div ng-show="accordion.current == 'accordian_4'" class="panel-collapse collapse in">
									<div class="panel-body">
										<p>The maximum loan amount that you can borrow is 100% of your total amount required for study which includes Tuition, Living, books, other miscellaneous expenses, etc. </p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" ng-click="accordion.current = 'accordian_5'">
									<h4 class="panel-title">
										<a>5. Can loans through eduloans  be used for any tax rebates or benefits?</a>
									</h4>
								</div>
								<div ng-show="accordion.current == 'accordian_5'" class="panel-collapse collapse in">
									<div class="panel-body">
										<p>We can unfortunately not advise on tax matters as it applies in various financial institutions. You will have to discuss this with a the financial institution or other appropriate advisor in your country.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
	<span>Have Additional Questions ?</span><br/>
	<p>Visit our support page to get your questions answered</p>
	<a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
</section>

<!-- footer begin -->
<footer style="color:#000;">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<ul style="text-transform:uppercase; list-style-type:none; color:#000;">
					<li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
					<li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
					<li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
					<li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
					<li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
					<li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<div class="widget widget_recent_post">
					<ul style="text-transform:uppercase;">
						<li> <strong>Registered Office :</strong><br>
							Office no 32/33, 2nd Floor,<br>
							Dheeraj Heritage, Santacruz (W)<br>
							Telephone: +91 22 26605549 <br>
							Mobile : +91 98191 19363 / +91 91676 63090<br>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget widget-address">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-6" style="color:#fff;margin-top: 5px;">
					© Copyright 2017 - Eduloans | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
				</div>
				<div class="col-md-6 text-right">
					<div class="social-icons">
						<a href=""><i class="fa fa-facebook fa-lg"></i></a>
						<a href=""><i class="fa fa-twitter fa-lg"></i></a>
						<a href=""><i class="fa fa-linkedin"></i></a>
						<a href=""><i class="fa fa-google-plus fa-lg"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer close -->
