<style type="text/css">
   .box_content {
    text-align: justify;
    max-width: 730px;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    background: #fff;
    color: #595959;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

ol {
    counter-reset: li;
    list-style: none;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    margin-left: -5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ol ol {
    margin: 0 0 0 2em;
}

.rounded-list a {
    position: relative;
    display: block;
    padding: 0.6em .6em .6em 3em;
    margin: .5em 0;
    background: #f3f3f3;
    color: #444;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.rounded-list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #fff;
    height: 39px;
    width: 39px;
    line-height: 31px;
    border: .3em solid #eee;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.rounded-list a:hover:before {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rounded-list a:hover:before {
    background: #004b7a;
    color: #fff;
}
</style>
<div class=" text-center" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
  <section class=" text-white  pt-5 pb-4">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Go To Discussion</h1>
          <!--h1 style="color: white"><strong>FAQ</strong></h1>
         <h1 style="color: white">________________</h1-->
        </div>
      </div>
    </div>
  </section>
</div>
<section>
  <div class="container">
    
      <div class="col-lg-10 col-md-10">
            
            
               <!-- <p class="fw4"><i class="fa fa-dot-circle-o  fa-blink" style="color:#e32920"></i> LIVE updates</p> -->
              <div class="box_content">
                <h4>#TrendingDiscussions</h4>
                <ol class="rounded-list">
                <li>
                <ol>
                <li><a href="#" >{{notification_1}}</a></li>
                <li><a href="#" >{{notification_2}}</a></li>
                <li><a href="#" >{{notification_3}}</a></li>
                <li><a href="#" >{{notification_4}}</a></li>
                <li><a href="#" >{{notification_5}}</a></li>
                <li><a href="#" >{{notification_6}}</a></li>
                <li><a href="#" >{{notification_7}}</a></li>
                <li><a href="#" >{{notification_8}}</a></li>
                <li><a href="#" >{{notification_9}}</a></li>
                <li><a href="#" >{{notification_10}}</a></li>
                <li><a href="#" >{{notification_11}}</a></li>
                <li><a href="#" >{{notification_12}}</a></li>
                <li><a href="#" >{{notification_13}}</a></li>
                <li><a href="#" >{{notification_14}}</a></li>
                <li><a href="#" >{{notification_15}}</a></li>
                <li><a href="#" >{{notification_16}}</a></li>
                <li><a href="#" >{{notification_17}}</a></li>
                <li><a href="#" >{{notification_18}}</a></li>
                <li><a href="#" >{{notification_19}}</a></li>
                <li><a href="#" >{{notification_20}}</a></li>
                </ol>
                </li>
                </ol>
                </div>
               

            
         </div>
    
  </div>
  
</section>
