<style type="text/css">
	.video-gallery-block { position: relative; width: auto; height: 206px; overflow: hidden; margin-bottom: 30px; }
.mb10{margin-bottom:10px;}
.section-title { margin-bottom: 40px; }


/* youtube lazyload css */
         .ywrapper {
         max-width: 560px; /* 680px; */
         /*margin: 60px auto;
         padding: 0 20px;*/
         margin: 0 auto;
         }
         .youtube {
         background-color: #000;
         margin-bottom: 30px;
         position: relative;
         padding-top: 56.25%;
         overflow: hidden;
         cursor: pointer;
         }
         .youtube img {
         width: 100%;
         top: -16.82%;
         left: 0;
         opacity: 1;
         }
         .youtube .play-button {
         width: 68px;
         height: 48px;
         background-color: #333;
         /* box-shadow: 0 0 30px rgba( 0,0,0,0.6 ); */
         z-index: 1;
         opacity: 0.8;
         border-radius: 8px; 
         background: inherit;
         }
         .youtube .play-button:before {
         content: "";
         border-style: solid;
         border-width: 10px 0 10px 18.0px;
         border-color: transparent transparent transparent #fff;
         }
         .youtube img,
         .youtube .play-button {
         cursor: pointer;
         }
         .youtube img,
         .youtube iframe,
         .youtube .play-button,
         .youtube .play-button:before {
         position: absolute;
         }
         .youtube .play-button,
         .youtube .play-button:before {
         top: 50%;
         left: 50%;
         transform: translate3d( -50%, -50%, 0 );
         }
         .youtube iframe {
         height: 100%;
         width: 100%;
         top: 0;
         left: 0;
         }
         .youtube img:hover,
         .youtube .play-button:hover {
         background-color: #ff0000;
         opacity: 1;
         }
</style>
<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Events</h1>
               
            </div>
        </div>
    </div>
</section>
<!-- content begin -->
    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->	
<!--section>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
				<img src="images/coming-soon.png" alt=" "  style="width:400px;padding-top:150px;margin:0px auto;">
				<p style="height:300px;">&nbsp;</p>
			</div>
		</div>	
	</div>	
</section-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Live Sessions of Instagram and Facebook </h2>
            
            </div>
        </div>
        <div class="row">
        <!-- <a href=""><img src="images/coming-soon.png" alt=" " class="img-responsive" style="margin: auto; max-width: 50%;"></a> -->

        <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_axis.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 28th February 2020 - 7:00 to 7:30 PM</i>  </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> Advantages of Overseas Education Loans through Axis Bank</b></a></p>
                <p><b>Aspects Covered:</b> Attractive Interest Rate, Long repayment tenure, Pre-admission sanction for MS courses, Low Processing Fees, Loan Amount </p>
                <p><b>Presenter :</b> Ms. Madhura Angolkar  </p>
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    </p>
                </div>
              </div>
            </div>
          </div> -->


       <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/avanseLive.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> <b>19th May 2020 - 8:00 PM</i>  </b></p>
                <p><a href="#"><b>Impact Of COVID-19 On Education Loan</b></a></p>
       
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p style="text-align: center;"> 
                        <a href="https://www.instagram.com/eduloanslive/" title="" target="_blank" class="btn btn-primary"><i class="fa fa-instagram">&nbsp;&nbsp;</i><b>Follow Us</b></a>
                    </p>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/bobLive.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> <b>22nd May 2020 - 8:00 PM</i>  </b></p>
                <p><a href="#"><b>Impact Of COVID-19 On Education Loan</b></a></p>
               
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p style="text-align: center;"> 
                        <a href="https://www.instagram.com/eduloanslive/" title="" target="_blank" class="btn btn-primary"><i class="fa fa-instagram">&nbsp;&nbsp;</i><b>Follow Us</b></a>
                    </p>
                </div>
              </div>
            </div>
        </div> -->

        <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/liveSmall.jpeg" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> <b>3rd June 2020 - 8:00 PM</i>  </b></p>
                <p><a href="#"><b>Impact Of COVID-19 On Education Loan</b></a></p>
       
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p style="text-align: center;"> 
                        <a href="https://www.instagram.com/eduloanslive/" title="" target="_blank" class="btn btn-primary"><i class="fa fa-instagram">&nbsp;&nbsp;</i><b>Follow Us</b></a>
                    </p>
                </div>
              </div>
            </div>
        </div> -->

        <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/axisLive.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> <b>29nd May 2020 - 8:00 PM</i>  </b></p>
                <p><a href="#"><b>Impact Of COVID-19 On Education Loan</b></a></p>
               
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p style="text-align: center;"> 
                        <a href="https://www.instagram.com/eduloanslive/" title="" target="_blank" class="btn btn-primary"><i class="fa fa-instagram">&nbsp;&nbsp;</i><b>Follow Us</b></a>
                    </p>
                </div>
              </div>
            </div>
        </div> -->

     <!--   <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/ICICILive.jpeg" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 13th May 2020 - 8:00 PM</i>  </p>
                <p><a href="#"><b>Impact Of COVID-19 On Education Loan</b></a></p>
                <p><b>Aspects Covered:</b> Income Tax Benefits, Attractive Rate of Interest, Secured & Unsecured Loan, No Margin Money, Flexible Repayment, Flexibility on Collateral & Co-borrower, Loan against property mortgaged with HDFC Limited, Dedicated Relationship Manager, Pre-Approval before Admission Confirmation, Credila OneStop . </p>
                <p><b>Presenter :</b> Mr. Amar Mudbidri  </p>
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p style="text-align: center;"> 
                        <a href="https://www.instagram.com/eduloanslive/" title="" target="_blank" class="btn btn-primary"><i class="fa fa-instagram">&nbsp;&nbsp;</i><b>Follow Us</b></a>
                    </p>
                </div>
              </div>
            </div>
          </div> -->

        <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_bob_new.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 7th February 2020 - 7:00 to 7:30 PM</i>  </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> Key features of Bank of Baroda (BOB) Education Loan.</b></a></p>
                <p><b>Aspects Covered:</b> Margin Money, Interest Subsidy, Preferential Interest Rate, Processing Fees, Complete Digitalisation of the Loan process through EduLoans . </p>
                <p><b>Presenter :</b> Anuj Pratap Singh / Shahbaaz Shaikh </p>
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    </p>
                </div>
              </div>
            </div>
          </div> -->
          
          <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_auxilo.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 21st February 2020 - 7:00 to 7:30 PM</i>  </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> Advantages of Overseas Education Loans through Auxilo Finserv.</b></a></p>
                <p><b>Aspects Covered:</b> Best way to fund your Study Abroad dream , Why Choose Auxilo ? Featured Products - From fastest education loan sanctions to 100% funding, score based funding to a wider course and country coverage. We leave no stones unturned to help students achieve their dreams.</p>
                <p><b>Presenter :</b> Mr. Swapnil Suvarna </p>
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    </p>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_prodigy.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true">26 th March 2020  - 5:00 pm to 5:30 pm</i> </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> Funding your Masters at a Top-100 School</b></a></p>
                <p><b>Aspects Covered:</b> No collateral or co-signer required, Pre-admit loan quote in 30 minutes, Free loan sanction letter, Funding up to 100% of the cost of attendance, No prepayment penalties</p>
                <p><b>Presenter :</b> Ms. Nupur Banerjee </p>
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    </p>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_mpower.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 20th March 2020 - 7:00 to 7:30 pm</i> </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> Funding options after receiving College Admits. </b></a></p>
                <p><b>Aspects Covered:</b>  Collateral vs Non-Collateral, Co-applicant vs Non Co-applicant, Fixed Interest Rate vs Variable, Loan in USD vs INR, Advantages, Benefits and Unique Features of an MPOWER Financing loan.</p>
                <p><b>Presenter :</b> Mr. Lutz Braum</p>
                </div>
                <div style="border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    </p>
                </div>
              </div>
            </div>
          </div>
 -->
          <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_eduloans.jpg" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 20th July 2019 - 4:00 to 4:30 pm</i> </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> Difference between various options for Collateral / Secured Loans. </b></a></p>
                <p><b>Aspects Covered:</b>  Our Partnered Financial Institutions for these loans,  Loan Amount that can be availed, Interest Rate, Income Tax benefit under section 80E, Processing Fees, Margin Money and many more</p>
                <p><b>Presenter :</b> Mr. Banit Singh Sawhney (CEO)</p>
                </div>
                <div style="border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    </p>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_avanse.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 2nd April 2020 - 5:00 to 5:30 PM</i>  </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> Finances shouldn’t stop you from pursuing your Educational aspirations !</b></a></p>
                <p><b>Aspects Covered:</b> 100 % Education Finance, No Margin Money, 1 Day* Loan Sanction, Competitive ROI, Customized Loan Solutions, Flexible Repayment options, Hassle-free & Transparent Process, Doorstep Service. </p>
                <p><b>Presenter :</b> Mr. Dhaval Patel </p>
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    </p>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_leapFinance.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 9th April 2020 - 5:00 to 5:30 PM</i>  </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> Still finding it difficult securing a loan ?</b></a></p>
                <p><b>Aspects Covered:</b> 100 % Online Process, Interest rates are 8-10% and FIXED, No collateral involved, Fund your Masters in the USA, within the confines of your home, 10 minutes Online Application & 3 Day Sanction. </p>
                <p><b>Presenter :</b> Mr. Vaibhav Singh (CEO - LeapFinance) </p>
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    </p>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_eduloans.jpg" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 7th March 2020 - 5:00 to 5:30 pm</i> </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> US Loan Options</b></a></p>
                <p><b>Aspects Covered:</b>  Benefits of Applying for a loan from US Banks ?, Eligibility requirements for a US Loan ?, What makes a Good Cosigner ?, What is the interest rate for US Loans dependent on ?, The process to Apply for US Bank Loan?, Do's & Don'ts in Applying for a US Bank Loan ?
                </p>
                <p><b>Presenter :</b> Mr. Banit Singh Sawhney (Education Loan Expert)</p>
                </div>
                <div style="border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    </p>
                </div>
              </div>
            </div>
          </div> -->


          <!-- <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_incred.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 13th March 2020 - 7:00 to 7:30 PM</i>   </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> How Education Loan Can Help In Student Visa Process.</b></a></p>
                <p><b>Aspects Covered:</b> Different types of funding options available, Advantages of education loans, How do visa officials perceive an education loan ?, Who is InCred ?, How is InCred different ?</p>
                <p><b>Presenter :</b> InCred Loan Expert </p>
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    </p>
                </div>
              </div>
            </div>
          </div> -->
         <!--  
          <div class="col-md-3">
            <div class="card-offer">
              <a href=""><img src="images/webinar_icici.png" alt=" " class="img-responsive"></a>
              <div class="caption">
                <div class="">
                <p> <i class="fa fa-clock-o" aria-hidden="true"> 16th April 2020 - 5:00 to 5:30 PM</i> </p>
                <p><a href="#"><b><u>Topic:</u></b><br><b> Right way of funding your Education.</b></a></p>
                <p><b>Aspects Covered:</b> Various options of funding, Why one should take Education Loan, Tax benefits of EL, How is ICICI different, ICICI EL Features </p>
                <p><b>Presenter : </b>Mr. Balaji CS (ICICI Loan Expert) </p>
                </div>
                <div style="    border-top: 1px solid lightgrey;padding-top: 10px;margin-top: 10px;"><p> <span class="">FREE</span>
                        <span class="pull-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWlAazszmDNiBN9M1nfjz76oDAG1Kl8Nna07BsfdAF3R3now/viewform?usp=pp_url" title="Proving your University that you are financially strong - How?" target="_blank" class="btn btn-primary">Register Here</a></span>
                    
                </div>
              </div>
            </div>
          </div> -->
        </div>
    </div>
<div>
    


   <div class="container">
     
      <!-- video-testimonial-section -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                   <h2>Live Session Videos</h2>
                </div>
                <!-- /.section-title -->
            </div>
            <div class="row">
                <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="margin-bottom: 20px;">
                        <div class="video-gallery-block">
                            <div class="item-video">
                                <div class="ywrapper">
                                   <div class="youtube" data-embed="Fk5RVr79zjQ">
                                      <div class="play-button"></div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10"><b>Empowering Dreams with Omkar Mane</b></h4>
                            
                            <h5 class="mb10">Instagram Live Session - Mr. Banit Sawhney </h5>
                        </div>
                    </div>
                <!-- /.video-testimonail -->
                <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="margin-bottom: 20px;">
                        <div class="video-gallery-block">
                            <div class="item-video">
                                <div class="ywrapper">
                                   <div class="youtube" data-embed="sEFe7v7cJ38">
                                      <div class="play-button"></div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10"><b>Empowering Dreams with Jagruti Divse</b></h4>
                            
                            <h5 class="mb10">Instagram Live Session - Mr. Banit Sawhney </h5>
                        </div>
                    </div>
                <!-- /.video-testimonail -->
                <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="margin-bottom: 20px;">
                        <div class="video-gallery-block">
                            <div class="item-video">
                                <div class="ywrapper">
                                   <div class="youtube" data-embed="C3y0Y84vlwc">
                                      <div class="play-button"></div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10"><b>Empowering Dreams with Tanvi Borkar</b></h4>
                            
                            <h5 class="mb10">Instagram Live Session - Mr. Banit Sawhney </h5>
                        </div>
                    </div>
                <!-- /.video-testimonail -->
            </div>
            <div class="row">
                <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="margin-bottom: 20px;">
                        <div class="video-gallery-block">
                            <div class="item-video">
                                <div class="ywrapper">
                                   <div class="youtube" data-embed="tMOKHmdjBVU">
                                      <div class="play-button"></div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10"><b>Empowering Dreams with Shrutikha Sankhe</b></h4>
                            
                            <h5 class="mb10">Instagram Live Session - Mr. Banit Sawhney </h5>
                        </div>
                    </div>
                <!-- /.video-testimonail -->
                <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="margin-bottom: 20px;">
                        <div class="video-gallery-block">
                            <div class="item-video">
                                <div class="ywrapper">
                                   <div class="youtube" data-embed="lpKZKPwAj9w">
                                      <div class="play-button"></div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10"><b>Empowering Dreams with Aniket Upadhyay</b></h4>
                            
                            <h5 class="mb10">Instagram Live Session - Mr. Banit Sawhney </h5>
                        </div>
                    </div>
                <!-- /.video-testimonail -->
                <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="margin-bottom: 20px;">
                        <div class="video-gallery-block">
                            <div class="item-video">
                                <div class="ywrapper">
                                   <div class="youtube" data-embed="5nNltj4cD2Q">
                                      <div class="play-button"></div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10"><b>Empowering Dreams with Vishal Goyal</b></h4>
                            
                            <h5 class="mb10">Instagram Live Session - Mr. Banit Sawhney </h5>
                        </div>
                    </div>
                <!-- /.video-testimonail -->
            </div>
          

            
        </div>
    </div>
  </div>





<!----section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
				<h2>Upcoming Events, Overseas Education Webinars, Seminars...</h2>
			
			</div>
		</div>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
			<div class="card-offer">
			  <a href=""><img src="images/offer-page-flights.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				
				<div class="">
				<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 28 Feb 2019 &nbsp;&nbsp; 19:00 - 20:00 <span class="pay_type"> Free</span> </p>
				<a href="" title="Proving your University that you are financially strong - How?"> Proving your University that you are financially strong - How? </a>
				</div>
				<div style="    border-top: 1px solid lightgrey;
    padding-top: 10px;
    margin-top: 10px;"><p> <span class="">Webinar</span>
						<span class="pull-right"><a href="" title="Proving your University that you are financially strong - How?" class="btn btn-primary">Event details</a></span>
					</p>
				</div>
			  </div>
			</div>
		  </div>
		  
		  <div class="col-sm-6 col-md-4">
			<div class="card-offer">
			  <a href=""><img src="images/offer-exams.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				
				
					<div class="">
				<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2019 &nbsp;&nbsp; 19:00 - 20:00 <span class="pay_type"> Free</span> </p>
				<a href="" title="Get cashback on Registering Exams"> Get cashback on Registering Exams from Eduloans </a>
				</div>
				<div style="    border-top: 1px solid lightgrey;
    padding-top: 10px;
    margin-top: 10px;"><p> <span class="">Webinar</span>
						<span class="pull-right"><a href="" title="Proving your University that you are financially strong - How?" class="btn btn-primary">Event details</a></span>
					</p>
				</div>
			  </div>
			</div>
		  </div>
		  
			<div class="col-sm-6 col-md-4">
			<div class="card-offer">
			  <a href=""><img src="images/offer-page-10.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				
							<div class="">
				<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 15 Dec 2018 &nbsp;&nbsp; 19:00 - 20:00 <span class="pay_type"> Free</span> </p>
				<a href="" title="Get cashback on Registering Exams"> Know the benefits you are getting on Registering at Eduloans - Know more </a>
				</div>
				<div style="    border-top: 1px solid lightgrey;
    padding-top: 10px;
    margin-top: 10px;"><p> <span class="">Seminar</span>
						<span class="pull-right"><a href="" title="Proving your University that you are financially strong - How?" class="btn btn-primary">Event details</a></span>
					</p>
				</div>
			  </div>
			</div>
		  </div>

		</div>
		
	
	</div>
</section-->
<script type="text/javascript">
 /** youtube lazyload begin **/
   
   ( function() {
   
    var youtube = document.querySelectorAll( ".youtube" );
    
    for (var i = 0; i < youtube.length; i++) {
      
      var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";
      
      var image = new Image();
          image.src = source;
          image.addEventListener( "load", function() {
            youtube[ i ].appendChild( image );
          }( i ) );
      
          youtube[i].addEventListener( "click", function() {
   
            var iframe = document.createElement( "iframe" );
   
                iframe.setAttribute( "frameborder", "0" );
                iframe.setAttribute( "allowfullscreen", "" );
                iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );
   
                this.innerHTML = "";
                this.appendChild( iframe );
          } );  
    };
    
   } )();
    /** youtube lazyload end -  https://codepen.io/tutsplus/pen/RRVRro  **/
</script>