<!-- content begin -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Loan Repayment</h1>
                <ul class="crumb">
                    <li><a href="#" onclick="window.location.href='/';">Home</a></li>
					<li class="sep">/</li>
                    <li><a href="/faq">FAQ's</a></li>
                    <li class="sep">/</li>
                    <li>Loan Repayment</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="section-testimonial" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="us-related" data-animation="fadeInRight" data-delay="200">
                <div class="col-md-4">
                    <div class="bs-example" style="text-align:justify;">
                        <div class="panel-group" id="accordionleft">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/others">General FAQ's</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/process">Application Process</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/review">Application Review</a>
                                    </h4>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/offer">Provisional Offer</a>
                                    </h4>
                                </div>

                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/upload-document">Providing Your Documents</a>
                                    </h4>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/disbursement">Disbursement</a>
                                    </h4>
                                </div>

                            </div>

                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/study-and-grace">Study And Grace Period</a>
                                    </h4>
                                </div>

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/repayment">Loan Repayment</a>
                                    </h4>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-8 " data-animation="fadeInRight" data-delay="200">
					<div class="bs-example">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_1'">
                                    <h4 class="panel-title">
                                        <a>1. When do I start repaying the loan?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_1'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify">As soon as the grace period finishes, you will receive a notification to start the corresponding payment of your loan from our partnering financial institution or us. The loan agreement shall mention the first repayment date as well as the Equated monthly Installment.</p>

                    				</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_2'">
                                    <h4 class="panel-title">
                                        <a>2. How is the monthly due amount calculated?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_2'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify">During the time of your disbursal, Eduloans or its partnering institutions would share with you the document regarding your Equated monthly payments. The amount shown on your statement as the amount due for that specific month, is the result of amortizing (repaying) of the closing balance of your loan at the end of the previous month over the remaining term of the loan.</p>
                                        <p>That value represents the minimum value to be paid every month to successfully settle your loan at the end of your repayment term. Due to the nature of this calculation it may or may not be a fixed value and will vary depending on the value of the closing balance, the number of terms remaining and the fluctuations in the base rate. For example:</p>
                        				<ul>
                            				<li style="list-style-type:disc">If you pay more than the minimum amount due, your remaining balance will be lesser than what it would have been if you paid the exact amount. On the next statement – if the base rate remains the same – the amount due for that month will be lesser than the previous month, or the number of months of loan outstanding reduce OR</li>
                                            <li style="list-style-type:disc">If you pay lesser than the minimum amount due your remaining balance will be higher than what it would have been if you paid the exact amount. On the next statement – if the base rate remains the same – the amount due for that month will be more than the previous month or would increase duration of payment.
                                            </li>
                        				</ul>
                    				</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_3'">
                                    <h4 class="panel-title">
                                        <a>3. Can I repay my loan over a shorter period?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_3'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify">Yes. And, there is no penalty for those willing to repay in a shorter period. In case the same is applicable it would be on a case to case basis. </p>

                                    </div>
                                </div>
                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_4'">
                                    <h4 class="panel-title">
                                        <a>4. Can I renegotiate the terms of my loan? </a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_4'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p  style="text-align:justify">No, unfortunately the terms of the loan once decided by the partnering lending institution cannot be restructured or renegotiated. Restructuring the loan will require the loan to be refinanced and this would involve a complete fresh application. </p>
                                    </div>
                                </div>
                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_5'">
                                    <h4 class="panel-title">
                                        <a>5. How can I repay my Loan?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_5'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p  style="text-align:justify">The login has a payment gateway which supports all debit, credit , or online banking mode of payment. Its is suggested that the student has an ECS signed from the respective bank account from where the remittance is done to avoid delay and confusion.
                                        </p>
                                    </div>
                                </div>
                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_6'">
                                    <h4 class="panel-title">
                                        <a>6. What amount I need to remit  each month?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_6'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p  style="text-align:justify">The remittance from your financial institution would attract a transfer fees. We at Eduloans recommend that you transfer the amount plus all incidental cost such as transfer fees, conversion charges etc. We would not be responsible for these charges and would adjust net received in the account from your principle and interest. </p>
                                    </div>
                                </div>
                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_7'">
                                    <h4 class="panel-title">
                                        <a>7. What happens if I do not pay my loan?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_7'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify">At Eduloans our partnering financial institutions use a legal model that enables tracking and enforceability. This means that we're able to legally pursue any of our borrowers who are not making payments on time. <br/>
                                        If you are unable to meet your payment schedule, it is best to get in touch with us or that of our  partnering institutions to discuss your situation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

				</div>
			</div>

        </div>
    </div>
</section>
<section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
    <span>Have Additional Questions ?</span><br/>
    <p>Visit our support page to get your questions answered</p>
    <a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
</section>

<!-- footer begin -->
<footer style="color:#000;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul style="text-transform:uppercase; list-style-type:none; color:#000;">
                    <li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
                    <li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
                    <li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
                    <li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
                    <li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
                    <li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <ul style="text-transform:uppercase;">
                        <li> <strong>Registered Office :</strong><br>
                            Office no 32/33, 2nd Floor,<br>
                            Dheeraj Heritage, Santacruz (W)<br>
                            Telephone: +91 22 26605549 <br>
                            Mobile : +91 98191 19363 / +91 91676 63090<br>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget-address">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="color:#fff;margin-top: 5px;">
                    © Copyright 2017 - Eduloans | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
                </div>
                <div class="col-md-6 text-right">
                    <div class="social-icons">
                        <a href=""><i class="fa fa-facebook fa-lg"></i></a>
                        <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-google-plus fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->
