
<style type="text/css">
	/*U*************************************************************8*/
/*.accordian{
  width: 111%;
  height: 125px;
  overflow:hidden;
  
  margin: 70px 0px 70px 0px;
}
.accordian ul{
  
}
.accordian li{
  position: relative;
  display:block;
  width:157px;
  float: left;
  
  border-left: 1px solid #888;
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
      background-color: whitesmoke;
}


.accordian ul:hover li{
  width: 50px;
}

.accordian ul li:hover{
  width:500px;
}

.accordian li img{
  display: block;
}

.image_title{
  background: rgba(0,0,0,0.5);
  position:absolute;
  left:0;
  bottom:0;
  width:500px;
}

.image_title a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding:10px;
  font-size:16px;
}*/

.nav-tabs-dropdown {
  display: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-tabs-dropdown:before {
  content: "\e114";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: 30px;
}

@media screen and (min-width: 769px) {
  #nav-tabs-wrapper {
    display: block!important;
  }
}
@media screen and (max-width: 768px) {
    .nav-tabs-dropdown {
        display: block;
    }
    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    } 
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #fff;
    background-color: #f9992f;
}

.nav-pills > li { 
    background: #004b7a;  
	text-transform: uppercase;
}
.nav > li > a:hover, .nav > li > a:focus {

    color: #FF9900!important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff!important;
    background-color: #FF9900;
    outline: none;
    padding: 10px;
    /* color: #888; */
    text-decoration: none;
    text-transform: uppercase;
    /* background: #eee; */
    border: none !important;
    border-radius: 0px;
}

.nav-pills>li>a {
    border-radius: 0px;
}
.well {
padding:15px;
}

.panel-title {
font-weight:bold;
}

.faqhead {
 padding:20px 0px;
 border-top:1px solid #dedede;
 margin-top:30px;
}

.emicalc input, .emicalc select {
	color:#004b7a;
	border:0; 
	border-bottom: 1px dashed #ddd; 
	background: transparent; 
	text-align: center;
	display:inline-block;
}
.emipage row {
	padding:20px 0px;
}
ul.disbursaloption {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
ul.disbursaloption li {
	display:inline-block;
	padding-right:20px;
}
.nopad {
	padding:2px;
}
.table-striped th, .table-striped td {
	text-align:center;
}
</style>

<style>
 	.interest_rectangle {
		width:100%;
		min-width: 180px;
		height: 100px;
		background: #ff9900;
		padding:5px 10px;
		text-align:center;
		color:#ffffff;
	}

	.total_amount_rectangle {
		width:100%;
		min-width: 180px;
		height: 100px;
		background: #004b7a;
		padding:5px 10px;
		text-align:center;
		color:#ffffff;
	}

	.emi_rectangle {
		width:100%;
		min-width: 180px;
		height: 100px;
		background: #7c7c7c;
		padding:5px 10px;
		text-align:center;
		color:#ffffff;
	}
	.interest_rectangle h2, .total_amount_rectangle h2, .emi_rectangle h2  {
		margin:0px;
		color:#ffffff;
	}
	.needs-top-margin {
		margin-top: 15px;
	}
	.elegibility-note {
	margin-top: 20px;
    float: left;
	}
	#repayment_table {
	margin-top:20px;
	}
	.bold {
		font-weight:bold;
		color:#2a2a2a;
	}
</style>





<div class=" text-center" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
  <section class=" text-white  pt-5 pb-4">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Education Loan EMI Calculator</h1>
          <!--h1 style="color: white"><strong>FAQ</strong></h1>
         <h1 style="color: white">________________</h1-->
        </div>
      </div>
    </div>
  </section>
</div>






<div class="container emipage">

   
   <div class="row emicalc" style="margin-top:30px;">
    		<div class="col-md-6 col-sm-12" >
    			<!-- Loan amount -->
        		<p class="bold">
					I want to borrow 
					<input type="text" id="loan_amount_display" value="2000000" >
					<i class="fa fa-question-circle" id="loan-amount-explaination" title="Total loan amount to be taken"></i> at
        		</p>

	        	<!-- Rate of interest and loan term -->
        		
	        		<p class="bold">
	        			a rate of 
	        			<input type="text" style="width: 20%;" >
	        			% over
						<select class="form-control" id="loan_term_display" style="width: 20%; height: 30px;">
			                <option value="1">1</option>
			                <option value="2">2</option>
			                <option value="3">3</option>
			                <option value="4">4</option>
			                <option value="5">5</option>
			                <option value="6">6</option>
			                <option value="7">7</option>
			                <option value="8">8</option>
			                <option value="9">9</option>
			                <option value="10" selected="">10</option>
			                <option value="11">11</option>
			                <option value="12">12</option>
			                <option value="13">13</option>
			                <option value="14">14</option>
			                <option value="15">15</option>
			            </select>
			            <i class="fa fa-question-circle" id="loan-amount-explaination" title="This is the number of years after your course duration and grace period"></i>
	        			year(s)
	        		</p>
        		

	        	<!-- Course Duration -->
        		
        			<p class="bold">
	        			My course is 
	        			
						<select class="form-control" id="defer_term_display" style="width: 20%; height: 30px;">
				                <option value="6">6</option>
				                <option value="12">12</option>
				                <option value="18">18</option>
				                <option value="24" selected="">24</option>
				                <option value="30">30</option>
				                <option value="36">36</option>
				                <option value="42">42</option>
				                <option value="48">48</option>
				            </select>
	        			month(s) long
        			</p>
        	
    		</div>

    		<!-- Rectangles div -->
        	<div class="col-md-6 col-sm-12">
        		
        		<!-- Recetangles -->
				<div class="col-md-4 col-sm-12 nopad">
					
						<div class="interest_rectangle" >
							<p>Total Interest to be paid</p>
							<h2 id="interest_display">234,53,544</h2>
								
						</div>
				</div>
					
			

				<div class="col-md-4 col-sm-12 nopad">
					
						<div class="total_amount_rectangle" >
							<p>Total Payment (Principal + Interest)</p>
							<h2 id="total_repayment_display">234,53,544</h2>
								
						</div>
					
				</div>

				<div class="col-md-4 col-sm-12 nopad">
					
						<div class="emi_rectangle" >
							<p>Your EMI per month will be</p>
							<h2 id="emi_display">234,53,544</h2>
						</div>
					
				</div>
				
				<div class="elegibility-note">
				<strong>Note: </strong>We've made a few 
				<label for="assumptions" title="				
1) Loan amount is disbursed in equal amounts after every 6 months during the duration of course 
2) You are not required to pay any EMI during your course and for additional 6 months 
(unless you select one of the custom options below) ">assumptions</label> to arrive at above results
				<button class="btn btn-primary" href="#">Check Loan Eligibility</button>
				</div>
				
			</div>
				
        	</div>
       

	<div class="row faqhead ">
		<div class="col-md-12 col-sm-12">
			<h2 > Customize your results </h2>
			<p>We've made assumptions of a basic education loan in the above calculations. However, education loans can have different structures. You can customize the results by telling us more below. By default, the grace period <i class="fa fa-question-circle" title="We assume that you're not required to start EMIs for X months after your graduation. This is called the grace period"></i> is 6 months</p>

			<label> Disbursal Option </label> <i class="fa fa-question-circle" id="percentile-explanation" title="The loan that you want to take can be disbursed in two ways. In default case, the amount will get disbursed after every 6 months in equal amounts. In custom, you can specify how much loan you need after every 6 months in the inputs given"></i>
			<ul class="disbursaloption">
			<li> <input type="radio" name="disbursal_option" value="default" checked=""> <span id="disbursal-value">Default - 2,50,000 every 6 months</span></li>
			<li><input type="radio" name="disbursal_option" value="custom"> Custom - tell us how you plan to disburse</li>
			</ul>
		</div>
			
	</div>
	 
	 
	 
	<div class="row" style="padding-top: 20px;">
		<div id="disbursal_array">
			<div class="col-md-3"><label>Month 0</label><input class="form-control" placeholder="0" type="text" id="disbursal_array_0" required="true" value="0"></div>
			<div class="col-md-3"><label>Month 6</label><input class="form-control" placeholder="0" type="text" id="disbursal_array_6" required="true" value="0"></div>
			<div class="col-md-3"><label>Month 12</label><input class="form-control" placeholder="0" type="text" id="disbursal_array_12" required="true" value="0"></div>
			<div class="col-md-3"><label>Month 18</label><input class="form-control" placeholder="0" type="text" id="disbursal_array_18" required="true" value="0"></div>
		</div>
	</div>
	
	
	<div class="row" style="padding-top: 20px;">
	
		<div class="col-md-3">
			<label>Need to repay while studying?</label>
			<ul class="disbursaloption">
				<li><input type="radio" name="product_option" value="yes" checked=""> Yes </li> 
				<li><input type="radio" name="product_option" value="no" checked="" > No </li>
			</ul>
		</div>

		<!-- Tell us more -->
		<div class="col-md-3 hidden" id="product_type_div">
			<label>Tell us more</label>
				<select class="form-control" name="product_type">
					<option value="partial_payment">Partial interest every month</option>
					<option value="interest_only">Full interest every month</option>
					<option value="full_emi">Full EMI right away</option>
				</select>
		</div>

		<!-- Amount Partpay -->
		<div class="col-md-3 hidden">
			<label>Amount required to pay per month</label>
			<input class="form-control" placeholder="0" type="number" required="true" value="0" min="0">
		</div>

		<!-- Grace Period -->
		<div class="col-md-2" >
			<label>Grace Period</label>
			<select class="form-control" name="grace_period" style="width: 50%;">
				<option value="6">6</option>
				<option value="12">12</option>
			</select>
		</div>
		
		<div class="col-md-12 col-sm-12" style="margin-top: 10px;">
			<button class="btn btn-primary"> Calculate EMI </button>
		</div>
			
    </div>
	

</div>


<div class="container faqhead">
	<div class="row col-md-12 table-responsive">
        	
	    	<p style="font-weight:bold;"> This is how EMI and total payment vary as per the moratorium repayment type of your loan </p>
	    	
			<table class="table table-striped table-hover" style="text-align: center;">
				<tbody><tr>
					<th>Type</th>
					<th>Moratorium &nbsp; <i class="fa fa-question-circle" title="This is your study period + a grace period of 6-12 months."></i></th>
					<th>Full EMI right away</th>
					<th>Full Interest every month</th>
					<th>Partial interest every month</th>
				</tr>

				<!-- EMI Row -->
				<tr>
					<td>
						EMI
					</td>
					<td>
						<span>32,853</span>	
		    		</td>
					
					<td>
						<span>28,855</span>
					</td>

					<td>
						<span>27,550</span>
		    		</td>

		    		<td>
						<span>32,853</span> 
		    		</td>
				</tr>

				<!-- Total payment row -->
				<tr>
					<td>
						Total Payment
					</td>
					<td> 
						<span>39,42,412</span>  
		    		</td>
					
					<td>
						<span>31,96,117</span>
					</td>

					<td>
						<span>36,90,997</span>
		    		</td>

		    		<td>
						<span>39,42,412</span> 
		    		</td>	
				</tr>
			</tbody></table>
        	<!-- </div> -->
     </div>
	 
	 
	 
	<div class="row">
		  <div class="col-md-offset-3 col-md-3 col-xs-12" style="margin-bottom: 10px;">
				<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#repayment_table">Show Repayment Schedule</button>
			</div>
			<div class="col-md-3 col-xs-12" style="margin-bottom: 10px;">
				<button href="#"  class="btn btn-primary">Check Loan Eligibility</button>
			</div>
	</div>
	
	<div class="row">
		<div class="collapse in" id="repayment_table">
			
			<div class="col-md-4 col-md-offset-4 col-sm-12">	
				<h2> Loan Repayment Schedule </h2>
			</div>

			<div class="col-md-4 col-sm-12">
				<button type="submit" class="needs-top-margin btn btn-secondary" onclick="make_pdf()">
					Export To PDF
				</button>
			</div>
		

			<div class="row table-responsive col-md-12 col-sm-12" id="pdf">
				<table id="table" class="table table-hover table-striped">
					<tbody id="table_body"><tr><th>Month</th><th>Principal Outstanding</th><th>Interest Component</th><th>Principal Component</th><th>Total Payment</th></tr><tr><td>1</td><td>5,00,000</td><td>0</td><td>0</td><td>0</td></tr><tr><td>2</td><td>5,04,583</td><td>0</td><td>0</td><td>0</td></tr><tr><td>3</td><td>5,09,167</td><td>0</td><td>0</td><td>0</td></tr><tr><td>4</td><td>5,13,750</td><td>0</td><td>0</td><td>0</td></tr><tr><td>5</td><td>5,18,333</td><td>0</td><td>0</td><td>0</td></tr><tr><td>6</td><td>5,22,917</td><td>0</td><td>0</td><td>0</td></tr><tr><td>7</td><td>10,27,500</td><td>0</td><td>0</td><td>0</td></tr><tr><td>8</td><td>10,36,667</td><td>0</td><td>0</td><td>0</td></tr><tr><td>9</td><td>10,45,833</td><td>0</td><td>0</td><td>0</td></tr><tr><td>10</td><td>10,55,000</td><td>0</td><td>0</td><td>0</td></tr><tr><td>11</td><td>10,64,167</td><td>0</td><td>0</td><td>0</td></tr><tr><td>12</td><td>10,73,333</td><td>0</td><td>0</td><td>0</td></tr><tr><td>13</td><td>15,82,500</td><td>0</td><td>0</td><td>0</td></tr><tr><td>14</td><td>15,96,250</td><td>0</td><td>0</td><td>0</td></tr><tr><td>15</td><td>16,10,000</td><td>0</td><td>0</td><td>0</td></tr><tr><td>16</td><td>16,23,750</td><td>0</td><td>0</td><td>0</td></tr><tr><td>17</td><td>16,37,500</td><td>0</td><td>0</td><td>0</td></tr></tbody>
				</table>
			</div>
		</div>
	</div>

	 
</div>



<div class="container">
    <h3 class="faqhead">FAQs</h3>
    <div class="row">
        <!--div class="col-sm-3">
            <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Tabs</a>
            <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
              <li class="active"><a href="#" data-toggle="tab" data-target="#vtab1" aria-expanded="true" aria-controls="vtab1" style="color: white"><b>Applying for a LOAN</b></a></li>
              <li><a href="#" data-toggle="tab" data-target="#vtab3" aria-expanded="true" aria-controls="vtab3" style="color: white"><b>Application Review</b></a></li>
              <li><a href="#" data-toggle="tab" data-target="#vtab4" aria-expanded="true" aria-controls="vtab4" style="color: white"><b>Provisional Offer</b></a></li>
              <li><a href="#" data-toggle="tab" data-target="#vtab5" aria-expanded="true" aria-controls="vtab5" style="color: white"><b>Providing Your Documents</b></a></li>
              <li><a href="#" data-toggle="tab" data-target="#vtab6" aria-expanded="true" aria-controls="vtab6" style="color: white"><b>Disbursement</b></a></li>
              <li><a href="#" data-toggle="tab" data-target="#vtab7" aria-expanded="true" aria-controls="vtab7" style="color: white" ><b>Study And Grace Period</b></a></li>
              <li><a href="#" data-toggle="tab" data-target="#vtab8" aria-expanded="true" aria-controls="vtab8" style="color: white"><b>Loan Repayment</b></a></li>
            </ul>
        </div-->
        <div class="col-sm-12">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
                  <div class="bs-example">
                    <div class="panel-group" id="accordion">
                       <!--h2 style="color: black">ABOUT EDULOANS PORTAL </h2>
                       <p style="color: black">We are a comprehensive financing platform connecting educational aspirants with potential Financial Institutions, Investors and endowment Funds. We are a registered NBFC with RBI and provide the platform for you to choose the best financing options to  finance your education with least hasslement.  </p-->
                       <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" href="#" aria-expanded="true" aria-controls="collapseOne">1. Who is eligible to apply for an Eduloans?</a>
                             </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                             <div class="panel-body" style="color: black">
                                <p>Eduloans requires you to be an overseas aspirant having an admission letter from a reputable, globally accredited educational institution abroad.  You may choose to register on the portal with an intent to study; however, the final sanction from the financial institutions would be received only once the student has secured the admission as well as the visa from the country. </p>
                             </div>
                          </div>
                       </div>
                       <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" href="#" aria-expanded="true" aria-controls="collapseTwo">2.What are the types of education Loan available on the platform? </a>
                             </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                             <div class="panel-body" style="color: black">
								<p>We have several tie-ups with different financial institutions that our customers can benefit from such as: </p>

								<p><strong>A) Indian Banks </strong><br>
								Various Indian banks work with Eduloans on an integrated platform to provide the complete details of the loan process, for the benefit of its customers.  Eduloans has worked with banks to partially or fully digitalize the system where the loan application is directly entered into the database of the bank. This centralized system reduces the processing time of the loan and the bank is able to provide timely feedback. The banks usually provide the loan based on the student profile, the value of the property and the guarantor profile. They have low processing fees and are very competitive with the interest rates, in comparison with the private lenders.</p>

								<p><strong>B) Non-Banking Finance Companies (NBFC)</strong><br>
								Eduloans works with the leading NBFC’s who are authorized by the Reserve Bank of India (RBI) to provide loans for the purpose of studying abroad. They provide loans based on the student profile, guarantor profile and have optional property mortgage requirements. They are generally fast in terms of processing time and documentation. They provide door to door service and are more expensive than the nationalized banks. </p>

								<p><strong>c) International Funds</strong><br>
								International Funds are the financial institutions with an online and global presence that provide the loans based on the academic profile of the student. These institutions provide loans based on the future earning potential of the student. In this case, the student does not require to have a guarantor nor provide any property as collateral. These institutions can be generally expensive but they do help students who have limited avenues to get a loan. They also provide loans, even if the student has availed of a loan from another service provider and are very helpful in bridging the gap for your education.  </p>

								<p><strong>C) Foreign Banks</strong><br>
								Banks in the home country of the education institution offer student loans with valid co-signors/guarantors in the region. Eduloans works very closely with the banks and can provide you with the loans from the foreign banks that are in the business of financing the study and future earning. </p>
								<p><strong>D) Investors</strong><br>
								We make available the funds to the students by encouraging peer-to-peer lending on our platform. The automated underwriting system assigns the risks versus the returns of the education loan. We generally also take a small exposure in the loan to create equitable mortgage and reduce the delinquency ratio.  </p>

								<p><strong>E) University/government grants through scholarships</strong><br>
								We work very closely with the universities and government bodies, which provide merit-based scholarships to the brilliant and/or underprivileged students. We are continuously approaching the universities and other endowment funds to fund the student and build strategic partnerships. </p>
                             </div>
                          </div>
                       </div>
                       <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" href="#" aria-expanded="true" aria-controls="collapseThree">3. How does the Application Process work?</a>
                             </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                             <div class="panel-body" style="color: black">
							<ol>
							<li>We request you to visit the “Get a Loan” section of Eduloans.org. </li>
							<li>Form Filling
								<ul>
								<li>In the initial form we would request you to provide the details of your academic profile. These details would be -
									<ul>
										<li>Academics (drop down selection for the Indian college) with score (4.0 GPA, 10.0 GPA or percentage) </li>
										<li>Test Scores</li>
										<li>Course</li>
										<li>University</li>
										<li>Country</li>
									</ul>

								</li>
								<li>Then, you would be prompted to fill in the profile of your guarantor (mostly parents) 
									<ul>
										<li>Salaried /Self Employed/Retired</li>
										<li>IT Return of the parents or the family</li>
										<li>Financial obligations of the family, if any (Any EMI, rent payment etc.)</li>
										<li>Age of the parent (father)  </li>
										<li>For salaried: the retirement age of the parent (father)</li>
										<li>Apply the CIBIL Score</li>
									</ul>

								</li>
								<li>Collateral Value:
									<ul>
										<li>The type of collateral offered (Commercial/ Residential)</li>
										<li>Value of the collateral</li>
										<li>Age of the collateral</li>
										<li>Occupation certificate   - Yes/No</li>
										<li>All the property documents registered - Yes/No</li>
									</ul>

								</li>
								<li>Loan Preferences
									<ul>
										<li>Looking for collateral/non collateral loan</li>
										<li>Looking for a loan without involving the parents as guarantors</li>
										<li>Looking for the door to door service - Yes/No</li>
										<li>Looking for a loan with convenience v/s cost (As the convenience increases; in most cases, the cost of the loan also increases) (Rate -  1 – 5)</li>
										<li>Looking for the least paper work vs cost (Rate – 1 -5)</li>
									</ul>

								</li>
								</ul>
							</li>
							<li>Once you have filled in the details based on our past record and the details provided by the financial institutions, our system would show you the eligible and the best suited service provider as per your requirements. You may look at one or many options together. Our loan guidance officer also would be able to help you to select the best loan services as per your specifications. </li>
							<li>Once you select any one of the services, you would then be required to fill in the details and attach the necessary documents to get the final offer from the financial service provider. </li>
							<li>Once completed and uploaded, your application will automatically be sent to our credit team for review.</li>
							</ol>
                             </div>
                          </div>
                       </div>
                       <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" href="#" aria-expanded="true" aria-controls="collapseFour">4. Can I apply when I have not yet received an Admit from the college? </a>
                             </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse">
                             <div class="panel-body" style="color: black">
                                <p>It is possible to apply for the loan even if you have not received an admit from the university. We would, however, require the basic details about your academic profile. Also, for the final sanction and disbursal, it would be mandatory to select your college and course. The credit review team at Eduloans and/or our financial partners look at the college admits before deciding upon the final loan application. </p>
                             </div>
                          </div>
                       </div>
                       <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" href="#" aria-expanded="true" aria-controls="collapseFive">5. I am facing technical issues while filling up the form? Whom do I call at EduLoans?</a>
                             </h4>
                          </div>
                          <div id="collapseFive" class="panel-collapse collapse">
                             <div class="panel-body" style="color: black">
								<p>You are requested to call either of the below numbers, based on your location -</p>
								<p>Gurpreet Singh (Sr Education Counsellor – North)  - +91 9004082734</p>
								<p>Sudarshan Nairi (Sr Education Counsellor - South) - +91 8104909705</p>
								<p>or drop a mail at support@eduloans.org and our Technical team will get in touch with you.</p>
                             </div>
                          </div>
                       </div>
					   <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix" href="#" aria-expanded="true" aria-controls="collapseSix">6. Do I require a GMAT/GRE Score? </a>
                             </h4>
                          </div>
                          <div id="collapseSix" class="panel-collapse collapse">
                             <div class="panel-body" style="color: black">
								<p>If the GMAT/GRE field is compulsory, this means that your financial partner requires a GMAT/GRE (or a similar score) for validation of your proposal. Your status would show incomplete until you fill the required mandatory fields required by your financial institutions.  In case you have not given the exam yet and would still like be contacted by the financial institutions, we would request you to put an approximate score in the options to generate our response based on the previous profile and the details provided by the student. </p>
                             </div>
                          </div>
                       </div>
					   <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven" href="#" aria-expanded="true" aria-controls="collapseSeven">7. Can I fill my application with multiple attempts?</a>
                             </h4>
                          </div>
                          <div id="collapseSeven" class="panel-collapse collapse">
                             <div class="panel-body" style="color: black">
								<p>The form that you have filled can be saved and you can revisit your application at a later date. As well once you enter a particular detail, your input will be autosaved for the application to our second vendor. You would not be asked to change your application once the status shows as complete or submitted to your financial institution. Ensure you save your details by clicking the ‘save’ button, when exiting the form.  </p>
                             </div>
                          </div>
                       </div>
					   <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight" href="#" aria-expanded="true" aria-controls="collapseEight">8. What do you mean by application meter? </a>
                             </h4>
                          </div>
                          <div id="collapseEight" class="panel-collapse collapse">
                             <div class="panel-body" style="color: black">
								<p>Every financial institution has an application form and a set of documents, which need to be filled and uploaded to get the final sanction letter/disbursement for the student.  The application meter depicts the percentage of completion of the application. We recommend that you fill the application meter 100%, which is that you fill the form entirely, in order to take the process forward. </p>
                             </div>
                          </div>
                       </div>
					   <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseNine" href="#" aria-expanded="true" aria-controls="collapseNine">9. When is the application submitted to the financial institutions? </a>
                             </h4>
                          </div>
                          <div id="collapseNine" class="panel-collapse collapse">
                             <div class="panel-body" style="color: black">
								<p> Once the application is complete (showing 100% on the application meter), the same is submitted to the financial institution. The portal would start a timer calculating the response time from the institutions., which would also indicate the average response time from the previous cases of similar profiles. Our AI software would automatically review your application and provide you with a tentative offer immediately based on our past record of students and the information provided by the financial institutions.  </p>
                             </div>
                          </div>
                       </div>
					   <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen" href="#" aria-expanded="true" aria-controls="collapseTen">10. What are the parameters on which Edu-loans rates its financial institutions? </a>
                             </h4>
                          </div>
                          <div id="collapseTen" class="panel-collapse collapse">
                             <div class="panel-body" style="color: black">
								<p>Edu-loans rates the financial institutions on the following parameters - </p>
								<ol>
									<li>Quantum of processing fees - The processing fees ranges from refundable fees which is up to a maximum of 1.5% of the loan amount.  Each financial institution charges the fees with respect to the services offered.  There are financial institutions which do not charge a fees upfront but do amortize the amount over the period of the loan. The term amortize is basically the dividing of the upfront fees over the period of the loan and is deducted as a part of the loan itself. </li>

									<li>Interest Rate - The interest rate is the current interest rate offered by the financial institution. In the case of Indian banks or financial institutions, it is dependent on the Marginal Cost of Funds (MCLR). MCLR is basically the cost of the funds for the bank, keeping into account the interest paid as well as the overheads of the bank. This cost ranges from 9% to 13% for Indian banks. For the International banks or United States Dollar (USD) funding, the cost ranges between 4% to 12%. </li> 

									<li>Processing time – The time taken to process the loan when the file or list of documents is complete. We are generally tracking the same, as per past record and will provide you with an area-wise, indicative figure.  We are also providing you with an update; as per the details required by the financial institution. </li>

									<li>Convenience of processing - Driven by interactive technology, we rate the loan on the parameter of the convenience of processing. So, this means that the financial institution that has only a three step loan approval process would likely be rated a 4 than one that has a 9 step process, which would receive a 2 rating. We generally ask our customers to rate the financial service providers on this parameter, on a scale of 1 to 5, with 5 being the best. </li>

									<li>Documentation requirement for processing - The list of documents required is a critical factor that governs necessary timelines and convenience. In the age of digitalization, we endeavor to eliminate endless paperwork and propose to digitize the documentation process entirely, where the financial institution reduces the amount of documents and gets information on the student, parent and collateral online. </li>

									<li>Amount for Loan   - We have rated the financial institution depending on the amount of loan they are ready to provide looking at the academic profile of the student, the economic/IT profile or the parent, the value of collateral property. 
										<ul>
											<li>Academic profile of the student - Financial institutions, assess the student loan based on the student profile and the university admit, to provide the maximum loan, up to the value of the I20. In this scenario, they basically look at the future earning potential of the student after the completion of the study. </li>
<li>Economic Profile - Financial institutions base the calculation as well on the financial profile of the Guarantor. They basically use the concept of Fixed Obligation to Income ratio (FOIR). Financial institutions calculate the income per month less any fixed obligations and then, provide a percentage of them as your EMI. They then, reverse calculate the amount required. </li>
<li>Value of the collateral property - Generally, all institutions provide up to 100% of the collateral value.  Most financial institutions have their empanelled valuers. They provide the minimum expected market price for the property. In this regard, the NBFC’s give the complete 100% value of the property, as per actuals.</li>
										</ul>
									</li>
								</ol>
                             </div>
                          </div>
                       </div>
					   <div class="panel panel-default">
                          <div class="panel-heading">
                             <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseEleven" href="#" aria-expanded="true" aria-controls="collapseEleven">11. What is the next step after completing my application? </a>
                             </h4>
                          </div>
                          <div id="collapseEleven" class="panel-collapse collapse">
                             <div class="panel-body" style="color: black">
								<p>You would get a call from our loan guidance officers who would further guide you about the loan features. We would also connect you with the dedicated Relationship manager to take the profile forward.</p>
								
                             </div>
                          </div>
                       </div>
					   
                    </div>
                 </div>
                </div>
				
                
				
				
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
  $('.nav-tabs-dropdown').each(function(i, elm) {
    
    $(elm).text($(elm).next('ul').find('li.active a').text());
    
});
  
$('.nav-tabs-dropdown').on('click', function(e) {

    e.preventDefault();
    
    $(e.target).toggleClass('open').next('ul').slideToggle();
    
});

$('#nav-tabs-wrapper a[data-toggle="tab"]').on('click', function(e) {

    e.preventDefault();
    
    $(e.target).closest('ul').hide().prev('a').removeClass('open').text($(this).text());
      
});
</script>