<style>
    .profile-heading {
        color: #091a3c;
    }

    .comment {
        cursor: pointer;
    }

    .control-label {
        text-align: left !important;
    }

    .submit_button {
        text-align: right;
    }

    .delete_button {
        text-align: left;
        margin-bottom: -30px;
    }

    .nav-tabs>li>a {
        margin-right: 0px;
    }

    .nav-tabs-custom > .nav-tabs > li{
        margin-right: 0px !important;
    }
    .ng-table-pager {
    display: none;
}
</style>
<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/savings.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">My Earnings</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>
<!-- Content Wrapper. Contains page content -->
<section id="section-profile" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1" >
                <table class="table table-hover" ng-table="tableParamsEarnigs">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Product Name</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Potential Saving</th>
                            <th class="text-center">Actual Saving</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="valuee in $data">
                        <!-- {{ valuee.login_id }} -->
                            <td class="col-sm-2 col-md-2">
                             <img class="img-responsive media-object" src="images/{{valuee.offer_image}}" style="width: 180px; height: 120px;">
                            </td>
                            <td class="col-sm-3 col-md-3" style="vertical-align: middle;">
                                <h4 class="media-heading"> {{valuee.name}}</h4>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center" style="vertical-align: middle;"><strong>{{valuee.total_offer_count}}</strong></td>

                            <td class="col-sm-1 col-md-1 text-center" style="vertical-align: middle;"><strong>&#x20b9; {{valuee.offer_amount}}</strong></td>

                            <td class="col-sm-1 col-md-1 text-center" style="vertical-align: middle;"><strong>&#x20b9; {{valuee.paid_amount}}</strong></td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td>   </td>
                            <td><h3>Total Savings :</h3></td>
                            
                            <td></td>
                            <td><h3>&#x20b9; {{totalSavings}}</h3></td>
                            <td><h3>&#x20b9; {{totalSavings}}</h3></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>


<section id="view-all-projects" class="text-center supportbar" style="background-color:#ff9900;" data-speed="5" data-type="background">
    <p>Have Additional Questions ?</p>
    <p>Visit our <a href="/faq">support page</a> to get your questions answered</p>
    <!--a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a-->
</section>


