<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Partner with Colleges</h1>
            </div>
        </div>
    </div>
</section>

<style>
.about-inner-column h4 {
    font-size: 2.5em;
margin-top:0px;
}

@media (min-width: 992px){
.about-inner-column {
    padding-left:30px;

	}
}
.loader {
position: relative;
border: 2px solid #f3f3f3; / Light grey /
border-top: 2px solid #3498db; / Blue /
border-radius: 50%;
width: 64px;
height: 64px;
animation: spin 2s linear infinite;
margin:25% 45%;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.5);
transition: opacity 500ms;
opacity: 0.5;
z-index:9999;
}

</style>



<section>
<div class="container">
<div class="row">
<div class="col-md-6">
<p>Studying abroad is a dream for many Indian. However Student funding becomes a major hurdle for student looking to study abroad. </p>

<p>We work in tandem with leading Universities across the country and facilitate the financial requirements to study abroad. </p>

<p>We partner the Universities and do the following</p>
<ul>
<li>Conduct Informative seminars for students looking to study abroad about all the loan options available to study abroad.</li>
<li>We facilitate seminars and fairs where in the student can look to understand all options of studying abroad from various financial institutions. </li>
<li>We conduct parent guidance workshops on how to finance your child’s education. </li>
<li>We connect alumni of the college currently successfully with the colleges to inspire students to pursue education abroad.</li>
<li>We would offer Cash Back to Students as part of our endeavor and ensure the students get adequately serviced by our Channel partners.</li>
<li>We would conduct scholarship drive that would entail special discount provided by our Channel Partners in terms of Processing Fees and Interest rate. </li>
</ul>
<p>Please provide your information below and we would get in touch with you shortly. </p>
<p>&nbsp;</p>

</div>

<div class="col-md-6 about-inner-column">



		 <!--h4>Partner with us!</h4>
		 <p>Reach out to us by filling the form below and we will get in touch with you.</p-->

		 <h4>Get in touch with us!</h4>
		 <hr>


		<form class="row" ng-submit="addPartner()">

            <div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Title *</label>
               <select class="form-control" name="title" ng-init="title = 'Please Select'" ng-model="title" required>
                    <option>Please Select</option>
                    <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
                </select>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">First Name *</label>
			   <input class="form-control" name="firstname" id="firstname" ng-model="first_name"  required >
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Last Name *</label>
			   <input class="form-control" name="lastname" id="lastname" ng-model="last_name"  required >
			</div>

			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Email *</label>
			   <input class="form-control" name="email" id="email" ng-model="email" required >
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Mobile Number *</label>
			   <input class="form-control" name="mobile"  id="mobile" ng-model="mobile" required >
			</div>
            <input type="hidden" ng-model="partner_type" ng-init="partner_type='college'">
		 <div class="col-md-12 col-sm-12 form-group">
			<input type="Submit" class="btn btn-primary" value="Submit">
		 </div>
	  </form>



</div>
</div>
</div>
</section>
<div class="overlay" ng-if="loader">
   <div class="loader" ></div>
</div>
