<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->

<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Partner with Educational Counselors</h1>
            <!--ul class="crumb">
               <li><a href="index.php">Home</a></li>
               <li class="sep">/</li>
               <li>Contact Us</li>
               </ul-->
         </div>
      </div>
   </div>
</section>
<!-- content begin -->
<!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
   <div class="row">
       <div class="col-md-12">
           <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
       </div>
   </div>
   </div-->
<style>
   .about-inner-column h4 {
   font-size: 2.5em;
   margin-top:0px;
   }
   @media (min-width: 992px){
   .about-inner-column {
   padding-left:30px;
   }
   }
   .loader {
   position: relative;
   border: 2px solid #f3f3f3; / Light grey /
   border-top: 2px solid #3498db; / Blue /
   border-radius: 50%;
   width: 64px;
   height: 64px;
   animation: spin 2s linear infinite;
   margin:25% 45%;
   }
   @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
   }
   .overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.5);
   transition: opacity 500ms;
   opacity: 0.5;
   z-index:9999;
   }
   /**********/
   .partnerscard{
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
    height: 240px;

	}
	.partnerscard .fa{
		position: relative;
	    font-size: 70px;
	}
	.partnerscard-topimage_header{
	padding: 15px;
	position: absolute;
    bottom: 75px;
    width: 100%;
	}
	a.partnerscard:hover, .partnerscard-topimage:hover {
	    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
	}
	.partnerscard-topimage a {
	    width: 100%;
	    height: 100%;
	    display: block;
	}
	.partnerscard-topimage_title {
	    padding: 5px 13px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: absolute;
    background-color: rgb(173, 160, 144, 0.07);
    bottom: 0;
    width: 100%;
    text-align: center;

	}
	.partnerscard-topimage a {
	    border-bottom: none;
	    text-decoration: none;
	    color: #525c65;
	    transition: color 0.3s ease;
	}
</style>
<section>
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p>Student Finances are a very important part of the student application. We as education consultants or training institutes rely on the vagaries of the financial institutions without having any control on the applications. </p>
            <p>We at Edu-loans would like to assist you towards a successful placement of students to the Universities. We would provide you the following assistance. </p>
            <p>Benefit to the Educational Counselors:</p>
            <ol>
               <li>Faster turnaround time for Educational Loans.</li>
               <li>More clarity on the status of educational loans and their expected timelines.</li>
               <li>Accountability on the Turnaround time provided by the Financial Institutions.</li>
               <li>Complete information related to all financial institutions on a single platform.</li>
               <li>Commission on successful cases.</li>
            </ol>
            <p>We provide the following support </p>
            <ol>
               <li>Dedicated loan relationship manager</li>
               <li>Stringent follow up on the loan</li>
            </ol>
            <p>In case you are looking to work with us please provide your details below for us to contact you at the earliest</p>
            <p>&nbsp;</p>
         </div>
         <div class="col-md-6 about-inner-column">
            <!--h4>Partner with us!</h4>
               <p>Reach out to us by filling the form below and we will get in touch with you.</p-->
            <h4>Get in touch with us!</h4>
            <hr>
            <form class="row" ng-submit="addPartner()">
               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">Title *</label>
                  <select class="form-control" name="title" ng-init="title = 'Please Select'" ng-model="title" required>
                     <option>Please Select</option>
                     <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
                  </select>
               </div>
               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">First Name *</label>
                  <input class="form-control" name="firstname" id="firstname" ng-model="first_name"  required >
               </div>
               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">Last Name *</label>
                  <input class="form-control" name="lastname" id="lastname" ng-model="last_name"  required >
               </div>
               <div>
               <div class="col-md-8 col-sm-8 form-group">
                  <label for="" class="control-label">Email *</label>
                  <input class="form-control" name="email" id="email" ng-model="email" ng-blur="getVerificationMail()" required >
               </div>
               <div class="col-md-4 col-sm-4 form-group">
                  <label for="" class="control-label">Security Code </label>
                  <input class="form-control" name="v_code" id="v_code" ng-model="v_code" ng-keyup="submitVerificationOTP()" >
               </div>
             </div>
               <div>
                 <div class="col-md-4 col-sm-4 form-group">
                   <label for="" class="control-label">Code *</label>
                   <select class="form-control" name="country_code" ng-init="country_code = 'Please Select'" ng-model="country_code" required>
                      <option>Please Select</option>
                      <option value="61">Australia - 61</option>
                      <option value="880">Bangladesh - 880</option>
                      <option value="55">Brazil - 55</option>
                      <option value="1">Canada - 1</option>
                      <option value="49">Germany - 49</option>
                      <option value="+91">India - +91</option>
                      <option value="64">New Zealand - 64</option>
                      <option value="1">United States - 1</option>
                      <option value="44">United Kingdom - 44</option>
                      <option value="971">United Arab Emirates - 971</option>
                   </select>
                 </div>
                 <div class="col-md-8 col-sm-8 form-group">
                  <label for="" class="control-label">Mobile Number *</label>
                  <input class="form-control" name="mobile"  id="mobile" ng-model="mobile"  required>
                </div>

               </div>
               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">Company Name *</label>
                  <input class="form-control" name="companyname" id="companyname" ng-model="company_name"  required >
               </div>
               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">Company Website URL *</label>
                  <input class="form-control" name="companyurl" id="companyurl" ng-model="company_url" placeholder="e.g ( www.eduloans.org )" required >
               </div>
               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">Landline Number * </label>
                  <input class="form-control" name="landphone"  id="landphone" ng-model="landline" required >
               </div>

               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">Country *</label>
                  <select class="form-control" name="country" ng-init="country = 'Please Select'" ng-model="country" ng-change="getAllStateByCountryId()" required>
                     <option>Please Select</option>
                     <option ng-repeat="option in allCountries" value="{{option.id}}">{{option.display_name}}</option>
                  </select>
               </div>

               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">State *</label>
                  <select class="form-control" name="state" ng-init="state = 'Please Select'" ng-model="state" ng-change="getAllCityByStateId()" required>
                     <option>Please Select</option>
                     <option ng-repeat="option in allStates" value="{{option.id}}">{{option.display_name}}</option>
                  </select>
               </div>

               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">City *</label>
                  <!--<angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" required></angucomplete-alt>-->
                  <select class="form-control" name="city" ng-init="city = 'Please Select'" ng-model="city" required>
                     <option>Please Select</option>
                     <option ng-repeat="option in allCities" value="{{option.id}}">{{option.display_name}}</option>
                  </select>
               </div>

               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">Address (optional)</label>
                  <textarea class="form-control" value="Your Address" placeholder="Your Address" style="height:130px;" ng-model="address"></textarea>
               </div>


               <div class="col-md-12 col-sm-12 form-group">
                  <label for="" class="control-label">Upload Logo</label>
                  <input type="file" file="file" id="userfile" name="userfile" class="ng-isolate-scope">
               </div>
               <input type="hidden" ng-model="partner_type" ng-init="partner_type='counselor'">
               <div class="col-md-12 col-sm-12 form-group">
                  <input type="Submit" class="btn btn-primary" value="Submit">
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
<section>
   <div class="container counselors">
      <div class="row">
         <div class="col-lg-12">
            <h2>Our Educational Counselor Partners </h2>
         </div>
      </div>
      <div class="row">
      	<div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/imperial.png" alt="imperial overseas education loan counselor" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Imperial Overseas Educational Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/choice_international.jpg" alt=" " class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Choice International Education Pvt. Ltd
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/skillsoft_overseas_education.png" alt="skillsoft overseas education consultants" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Skillsoft Overseas Education
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/globalcolliance.png" alt="global colliance overseas education counselor" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Global Colliance
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
      	<div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/study_kraft.png" alt="study craft education counsellor" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Studykraft
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/dronacharyagroup.png" alt="dronacharya group education consultancy" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Dronacharya Group
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/imtp.png" alt="imtp abroad consultancy seaview chennai" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        IMTP Consultancy Services (Chennai) Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/trias_resources.png" alt=" " class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Trias Resources Pvt. Ltd
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
      	<div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/bluesky_immigration.png" alt="bluesky immigration study loan counselor" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Bluesky Immigration and Students Consultancy
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/voruan.gif" alt="voruan education consulting services" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Voruan Education
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/redleaf.png" alt="redleaf education consultants" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Red Leaf Educational Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/iaec.png" alt="iaec education loan counselor" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        IAEC Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
      	<div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/gleam.png" alt="gleam education services" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Gleam education Services
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/jmj logo.png" alt="jmj education counselor" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        JMJ Educational Services
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/bothas.png" alt="Bothas study abroad counselors" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Bothas Overseas Educational Consultancy
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/valmikiedu.png" alt="valmiki foreign education consultant" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Valmiki Education Services
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
      	<div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/global_immigration.png" alt="global integration overseas education counselor" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Global Immigration Consultancy Services
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/mybbbsabroad.png" alt="mbbs abroad education services" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        MyMBBSAbroad
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/rudra.jpg" alt="rudra overseas consultants" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Rudra Overseas Educational Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/nw_orig.jpg" alt="north west education consultancy" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Northwest Immigrations and edu consultancy
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
      	<div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/Academy_One.png" alt=" " class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Academy One
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/oecc.png" alt="oecc global education " class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        OECC India Pvt Ltd
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/sharadey_logo.png" alt="sharadey overseas education consultants" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Sharadey Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/partners/agent.png" alt="abroad study loan partners" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>
                        Edurun Technologies
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
      		<div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/partners/agent.png" alt="abroad study loan partners" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>United Study Abroad
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/qbix.png" alt="qubix academy overseas" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Qbix Academia
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/partners/agent.png" alt="abroad study loan partners" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>AUPP VISA CONSULTANT
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/pickax_logo.png" alt="Pickax strategy into realty" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Pickax Solutions India Pvt.Ltd
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/partners/agent.png" alt="abroad study loan partners" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Yash Sahota
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/aecs_logo.jpg" alt="aecs study loan counselor" class="img-responsive" style="width: 60%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>AECS International
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/campuscall_logo.png" alt="campus counselor for education loan" class="img-responsive" style="width: 60%;" ></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Campus Call
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/New-Site-Logo-03.png" alt="Kavi Trivedi EduConsultants" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Kavi Trviedi EduConsultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/silverpeak_logo.png" alt=" " class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Silver Peak
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/Western-Logo-final-min.png" alt="western overseas study abroad " class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Global immigration Consultant Services
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/milestone.png" alt=" " class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Milestone Education Group
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/logo-inner-obco.png" alt=" " class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>OBCO Migration & Educational Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/IMG-20180130-WA0012.jpg" alt="go abroad consultants" class="img-responsive" style="width: 60%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Go Abroad Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/global-logo.png" alt="global visa destination" class="img-responsive" style="width: 60%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Global Visa Destination
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/connectoversesas.png" alt="connect overseas study visa from india" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Connect Overseas Immigration Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/daregroup.jpg" alt="dare education group" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Dare Education Group
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/aryansInternational.png" alt="Aryans international education loans counselor" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>ARYANS INTERNATIONAL
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/caanworld.png" alt="caan world immigration overseas counselor" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Caan World Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/dhawan.png" alt="dhawan educational consultancy" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Dhawan Educational Consultancy
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/partners/agent.png" alt="abroad study loan partners" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Global Allianz
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/viriksha.png" alt="viriksha educare study abroad consultants" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>VIRIKSHA EDUCARE PRIVATE LIMITED
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/mkedu.png" alt=" " class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>M K Educational & Immigration Services
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/logo-wide.png" alt="future abroad education consultants" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Future Abroad Education Consultants Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/masterKey.png" alt="master key overseas education" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Master Key Overseas
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/broadway.jpg" alt="broadway immigration study abroad counsellors" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Broadway Immigration Services
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/Western-Logo-final-min.png" alt="western overseas study abroad " class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Western Overseas Study Abroad Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/oceansAcross.png" alt="ocean across overseas educational" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Oceans Across
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/sarc.png" alt="sarc study abroad consultants" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>eduSARC Consultancy Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/persona.png" alt="persona shopping career global education" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Persona Consultants Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/inGen.png" alt="ingenious overseas education " class="img-responsive" style="width: 60%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Ingenious Overseas Education
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/gcc.png" alt="gcc overseas education consultants" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Global Career Crafters
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/globalGuide.png" alt="global guide study abroad" class="img-responsive"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Global Guide Visa Consultants OPC Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/studyPlus.png" alt="study plus consultants education consultants" class="img-responsive" style="width: 50%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Study Plus Consultants & Edu. Services Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/yugraj_found_logo.png" alt="yugraj foundation " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Robin Yugraj Singh Dhillon
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/vidya_consultants_logo.gif" alt="vidya consultancy for study abroad" class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Vidya.Com Consultancy Pvt Ltd
                     </h4>
                  </div>
               </a>
            </div>
         </div>
          <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/pinnacle_logo.png" alt="pinnacle education consultancy for study abroad" class="img-responsive" style="width: 50%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Pinnacle Education & Immigration Consulting
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/unified_logo.png" alt="unified education consultant " class="img-responsive" style="width: 50%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Unified Education Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/victor_logo.jpg" alt="victor immigration & study abroad" class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Victor Immigration & Study Abroad
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/vision_group.jpg" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Vision Group
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/instabankloan_logo.jpg" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Instabankloan
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/sophiya_logo.jpg" alt=" " class="img-responsive" style="width: 50%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Sophiya Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/worldimmi_logo.png" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>World Immigration Terminal
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/eduCred_logo.png" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Educred Consultancy LLP
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/calculus_logo.jpg" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Gostudyfree Calculus
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/studyPointer_logo.png" alt=" " class="img-responsive" style="width: 50%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Study Pointer
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/takkiar_logo.png" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Takkiar's Way To Success
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/excel-logo.png" alt=" " class="img-responsive" ></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Excel Education & Immigration Services
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/future_logo.png" alt=" " class="img-responsive" ></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Future Overseas Education
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/future_shapers_logo.png" alt=" " class="img-responsive" style="width: 50%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Future Shapers Consultants Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/axis_over_logo.jpeg" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>The Axis Overseas Educational Services
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/new_bridges_logo.png" alt=" " class="img-responsive" ></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>New Bridges Overseas Education Consultants
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/overseas_edu_logo.jpg" alt=" " class="img-responsive" ></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Overseas Education & Immigration Services
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/geebee_logo.png" alt=" " class="img-responsive" style="width: 50%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>GeeBee Education Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/vrinda_int_logo.png" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4> Vrinda International
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/immigration_expert_logo.png" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4> Apical Immigration Xperts Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/vision_logo.png" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4> Vision Overseas Education
                     </h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/impel-overseas-consultants-logo-registered-1.png" alt=" " class="img-responsive" style="width: 50%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4>Impel Overseas Consultants Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <!--<div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/meridians_prep_logo.png" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4> Meridian Minds
                     </h4>
                  </div>
               </a>
            </div>
         </div>
          <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/immigration_expert_logo.png" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4> Apical Immigration Xperts Pvt. Ltd.
                     </h4>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-4">
            <div class="partnerscard partnerscard-topimage">
               <a href="#">
                  <div class="partnerscard-topimage_header" style="background-color:white">
                     <center><i class="fa fa-area-chart" style="color:#795a47"><img src="images/counselors/vision_logo.png" alt=" " class="img-responsive" style="width: 80%;"></i></center>
                  </div>
                  <div class="partnerscard-topimage_title">
                     <h4> Vision Overseas Education
                     </h4>
                  </div>
               </a>
            </div>
         </div> -->
      </div>
   </div>
</section>
<div class="overlay" ng-if="loader">
   <div class="loader" ></div>
</div>
