<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Partner with Financial Institutes</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>



<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->

<style>
.about-inner-column h4 {
    font-size: 2.5em;
margin-top:0px;
}

@media (min-width: 992px){
.about-inner-column {
    padding-left:30px;

	}
}
.loader {
position: relative;
border: 2px solid #f3f3f3; / Light grey /
border-top: 2px solid #3498db; / Blue /
border-radius: 50%;
width: 64px;
height: 64px;
animation: spin 2s linear infinite;
margin:25% 45%;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.5);
transition: opacity 500ms;
opacity: 0.5;
z-index:9999;
}

</style>


<section>
<div class="container">
<div class="row">
<div class="col-md-6">
<p>Edu-loans is a global platform, which provides the connecting place for Students and Financial Institutions such as Banks and Debt Funds. </p>
<p>We invite banks that are looking to lend to international students through our platform. We would look for Indian and international banks to lend through our platform. </p>
<p>We also can look to provide financial Institutes an Investment opportunity in the future of bright minds. We can facilitate private financing, Mutual Funds, Hedge Funds etc through our associate NBFC firm. </p>
<p>Please fill out the business proposal form below and our investment specialist would get in touch with you shortly. </p>

<p>&nbsp;</p>
</div>

<div class="col-md-6 about-inner-column">



		 <h4>Get in touch with us!</h4>
		 <!--p>Reach out to us by filling the form below and we will get in touch with you.</p-->
		 <hr>


		<form class="row" ng-submit="addPartner()">

            <div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Title *</label>
               <select class="form-control" name="title" ng-init="title = 'Please Select'" ng-model="title" required>
                    <option>Please Select</option>
                    <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
                </select>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">First Name *</label>
			   <input class="form-control" name="firstname" id="firstname" ng-model="first_name"  required >
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Last Name *</label>
			   <input class="form-control" name="lastname" id="lastname" ng-model="last_name"  required >
			</div>

      <div>
      <div class="col-md-8 col-sm-8 form-group">
         <label for="" class="control-label">Email *</label>
         <input class="form-control" name="email" id="email" ng-model="email" ng-blur="getVerificationMail()" required >
      </div>
      <div class="col-md-4 col-sm-4 form-group">
         <label for="" class="control-label">Security Code </label>
         <input class="form-control" name="v_code" id="v_code" ng-model="v_code" ng-keyup="submitVerificationOTP()" >
      </div>
    </div>

    <div>
      <div class="col-md-4 col-sm-4 form-group">
        <label for="" class="control-label">Code *</label>
        <select class="form-control" name="country_code" ng-init="country_code = 'Please Select'" ng-model="country_code" required>
           <option>Please Select</option>
           <option value="61">Australia - 61</option>
           <option value="880">Bangladesh - 880</option>
           <option value="55">Brazil - 55</option>
           <option value="1">Canada - 1</option>
           <option value="49">Germany - 49</option>
           <option value="+91">India - +91</option>
           <option value="64">New Zealand - 64</option>
           <option value="1">United States - 1</option>
           <option value="44">United Kingdom - 44</option>
           <option value="971">United Arab Emirates - 971</option>
        </select>
      </div>
      <div class="col-md-8 col-sm-8 form-group">
       <label for="" class="control-label">Mobile Number *</label>
       <input class="form-control" name="mobile"  id="mobile" ng-model="mobile"  required>
     </div>

    </div>
			<!--div class="col-md-12 col-sm-12 form-group" ng-if="!isLoggedIn"-->
            <div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Bank Name *</label>
               <select class="form-control" name="companyname" ng-init="company_name = 'Please Select'" ng-model="company_name" required>
                    <option>Please Select</option>
                    <option ng-repeat="option in banksList" value="{{option.id}}">{{option.display_name}}</option>
                </select>
			</div>
            <div class="col-md-12 col-sm-12 form-group" ng-if="!isLoggedIn">
            <!--div class="col-md-12 col-sm-12 form-group"-->
               <label for="" class="control-label">Website URL *</label>
               <input class="form-control" name="companyurl" id="companyurl" ng-model="$parent.company_url"  required >
            </div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Landline Number * </label>
			   <input class="form-control" name="landphone"  id="landphone" ng-model="landline" required >
			</div>
      <div class="col-md-12 col-sm-12 form-group">
         <label for="" class="control-label">Country *</label>
         <select class="form-control" name="country" ng-init="country = 'Please Select'" ng-model="country" ng-change="getAllStateByCountryId()" required>
            <option>Please Select</option>
            <option ng-repeat="option in allCountries" value="{{option.id}}">{{option.display_name}}</option>
         </select>
      </div>

      <div class="col-md-12 col-sm-12 form-group">
         <label for="" class="control-label">State *</label>
         <select class="form-control" name="state" ng-init="state = 'Please Select'" ng-model="state" ng-change="getAllCityByStateId()" required>
            <option>Please Select</option>
            <option ng-repeat="option in allStates" value="{{option.id}}">{{option.display_name}}</option>
         </select>
      </div>

      <div class="col-md-12 col-sm-12 form-group">
         <label for="" class="control-label">City *</label>
         <!--<angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" required></angucomplete-alt>-->
         <select class="form-control" name="city" ng-init="city = 'Please Select'" ng-model="city" required>
            <option>Please Select</option>
            <option ng-repeat="option in allCities" value="{{option.id}}">{{option.display_name}}</option>
         </select>
      </div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Address (optional)</label>
			   <textarea class="form-control" value="Your Address" placeholder="Your Address" style="height:130px;" ng-model="address"></textarea>
			</div>

			<!--div class="col-md-12 col-sm-12 form-group" ng-show="roleId == 10 && !showParent || roleId == 11 && !showParent ">
				<label for="" class="control-label">parent</label>
                <select class="form-control" name="partner" ng-init="partner = 'Please Select'" ng-model="$parent.partner">
					 <option>Please Select</option>
                     <option ng-repeat="option in allPartnerLists" value="{{option.id}}">{{option.partner_name}}</option>
                 </select>
			</div-->
            <div class="col-md-12 col-sm-12 form-group" ng-if="!isLoggedIn">
            <!--div class="col-md-12 col-sm-12 form-group"-->
               <label for="" class="control-label">Upload Logo</label>
               <input type="file" file="$parent.file" required class="ng-isolate-scope">
            </div>
            <input type="hidden" ng-model="partner_type" ng-init="partner_type='finbank'">
		 <div class="col-md-12 col-sm-12 form-group">
			<input type="Submit" class="btn btn-primary" value="Submit">
		 </div>
	  </form>
</div>
</div>
</div>
</section>
<div class="overlay" ng-if="loader">
   <div class="loader" ></div>
</div>
