<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Partner with Colleges</h1>
            </div>
        </div>
    </div>
</section>

<style>
.about-inner-column h4 {
    font-size: 2.5em;
margin-top:0px;
}

@media (min-width: 992px){
.about-inner-column {
    padding-left:30px;

	}
}
.loader {
position: relative;
border: 2px solid #f3f3f3; / Light grey /
border-top: 2px solid #3498db; / Blue /
border-radius: 50%;
width: 64px;
height: 64px;
animation: spin 2s linear infinite;
margin:25% 45%;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.5);
transition: opacity 500ms;
opacity: 0.5;
z-index:9999;
}

</style>



<section>
<div class="container">
<div class="row">
    <div class="col-md-6">
       <p>Student Finances are a very important part of the student application. We as education consultants or training institutes rely on the vagaries of the financial institutions without having any control on the applications. </p>
       <p>We at Edu-loans would like to assist you towards a successful placement of students to the Universities. We would provide you the following assistance. </p>
       <p>Benefit to the Educational Counselors:</p>
       <ol>
          <li>Faster turnaround time for Educational Loans.</li>
          <li>More clarity on the status of educational loans and their expected timelines.</li>
          <li>Accountability on the Turnaround time provided by the Financial Institutions.</li>
          <li>Complete information related to all financial institutions on a single platform.</li>
          <li>Commission on successful cases.</li>
       </ol>
       <p>We provide the following support </p>
       <ol>
          <li>Dedicated loan relationship manager</li>
          <li>Stringent follow up on the loan</li>
       </ol>
       <p>In case you are looking to work with us please provide your details below for us to contact you at the earliest</p>
       <p>&nbsp;</p>
    </div>

<div class="col-md-6 about-inner-column">



		 <!--h4>Partner with us!</h4>
		 <p>Reach out to us by filling the form below and we will get in touch with you.</p-->

		 <h4>Get in touch with us!</h4>
		 <hr>


		<form class="row" ng-submit="addPartner()">

            <div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Title *</label>
               <select class="form-control" name="title" ng-init="title = 'Please Select'" ng-model="title" required>
                    <option>Please Select</option>
                    <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
                </select>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">First Name *</label>
			   <input class="form-control" name="firstname" id="firstname" ng-model="first_name"  required >
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Last Name *</label>
			   <input class="form-control" name="lastname" id="lastname" ng-model="last_name"  required >
			</div>

			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Email *</label>
			   <input class="form-control" name="email" id="email" ng-model="email" required >
			</div>
			<div class="col-md-12 col-sm-12 form-group">
                <label for="" class="control-label">Mobile Number *</label>
                <input class="form-control" name="mobile"  id="mobile" ng-model="mobile" required >
			</div>
            <div class="col-md-12 col-sm-12 form-group">
                <label for="" class="control-label">Designation</label>
                <input class="form-control" name="designation"  id="designation" ng-model="designation">
			</div>
            <div class="col-md-12 col-sm-12 form-group">
                <label for="" class="control-label">Branch Name</label>
                <input class="form-control" name="branch_name"  id="branch_name" ng-model="branch_name">
			</div>
            <div class="col-md-12 col-sm-12 form-group">
                <label for="" class="control-label">Branch Email</label>
                <input class="form-control" name="branch_email"  id="branch_email" ng-model="branch_email">
			</div>
            <div class="col-md-12 col-sm-12 form-group">
                <label for="" class="control-label">Branch Counselor Name</label>
                <input class="form-control" name="branch_counselor_name"  id="branch_counselor_name" ng-model="branch_counselor_name">
			</div>
            <div class="col-md-12 col-sm-12 form-group">
                <label for="" class="control-label">Branch Potential </label>
                <input class="form-control" name="branch_grade"  id="branch_grade" ng-model="branch_grade">
			</div>
            <div class="col-md-12 col-sm-12 form-group">
                <label for="" class="control-label">Branch Address</label>
                <textarea rows="5" cols="5" class="form-control" name="branch_address" id="branch_address" ng-model="branch_address"></textarea>
			</div>
            <input type="hidden" ng-model="partner_type" ng-init="partner_type='counselor'">
		 <div class="col-md-12 col-sm-12 form-group">
			<input type="Submit" class="btn btn-primary" value="Submit">
		 </div>
	  </form>



</div>
</div>
</div>
</section>
<div class="overlay" ng-if="loader">
   <div class="loader" ></div>
</div>
