<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Partner with us</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>



<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->

<style>
.about-inner-column h4 {
    font-size: 2.5em;


}
</style>


<section>
<div class="container">
<div class="row">
<div class="col-md-12">

		<div class="col-md-3">
		<div style="padding:10px; border:0px solid lightgrey; background-color:transparent;">
		  <a onclick="window.location.href='/partner-with-students';" id="partnerwith1"><img src="images/partners/student.png" alt="student partner" class="img-responsive center-block"></a>
		  <p class="partnerwith-text">Students</p>
			<p>The decision to study abroad is the most value adding investment on oneself. We at Edu loans try to simplify and provide you all options through our channel partners to arrange for the best financing options for you.</p>
			<p>Please apply now for you to avail the best possible options to finance your education loan and avail instant Cash Back offers.</p>
			<p>&nbsp;</p><br>
			<div class="text-center"><a onclick="window.location.href='/partner-with-students';"><button class="btn btn-primary">Get Started</button></a></div>
		  </div>
		</div>
		<div class="col-md-3">
		<div style="padding:10px; border:0px solid lightgrey; background-color:transparent;">
		  <a href="/partner-with-counselors"><img src="images/partners/agent.png" alt="abroad study loan partners" class="img-responsive center-block"></a>
		  <p class="partnerwith-text">Educational Counselors</p>
		  <p>Student Finances are a very important part of the student application. We as education consultants or training institutes rely on the vagaries of the financial institutions without having any control on the applications. </p>
		  <p>We at Edu-loans would like to assist you towards a successful placement of students to the Universities. We would provide you the following assistance. </p><p>&nbsp;</p>
		  <div class="text-center"><a href="/partner-with-counselors"><button class="btn btn-primary">Get Started</button></a></div>
		</div>
		</div>
		<div class="col-md-3">
		<div style="padding:10px; border:0px solid lightgrey; background-color:transparent;">
		  <a href="/partner-with-colleges"><img src="images/partners/college.png" class="img-responsive center-block" alt="education loan college partners"></a>
		  <p class="partnerwith-text">Educational Institutes</p>
		  <p>Studying abroad is a dream for many Indian. However Student funding becomes a major hurdle for student looking to study abroad. </p>
			<p>We work in tandem with leading Universities across the country and facilitate the financial requirements to study abroad. </p><p>&nbsp;</p><p>&nbsp;</p><br><br><br>
			<div class="text-center"><a href="/partner-with-colleges"><button class="btn btn-primary">Get Started</button></a></div>
		</div>
		</div>
		<div class="col-md-3">
		<div style="padding:10px; border:0px solid lightgrey; background-color:transparent;">
		  <a href="/partner-with-financial-institute"><img src="images/partners/fin-institute.png" class="img-responsive center-block" alt="fin institute education partner"></a>
		  <p class="partnerwith-text">Financial Institutes</p>
		  <p>Edu-loans is a global platform, which provides the connecting place for Students and Financial Institutions such as Banks and Debt Funds. </p>
<p>We invite banks that are looking to lend to international students through our platform. We would look for Indian and international banks to lend through our platform. </p><p>&nbsp;</p><br><br>
<div class="text-center"><a href="/partner-with-financial-institute"><button class="btn btn-primary">Get Started</button></a></div>
		</div>
		</div>

</div>



<!--div class="col-md-6 about-inner-column">



		 <h4>Partner with us!</h4>
		 <p>Reach out to us by filling the form below and we will get in touch with you.</p>
		 <hr>


		<form class="row" action="" method="post" id="footer-form">

			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Name *</label>
			   <input class="form-control" name="name" id="name"  required >
			</div>

			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Your Email *</label>
			   <input class="form-control" name="email" id="email"  >
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Contact Number *</label>
			   <input class="form-control" name="phone"  id="phone" >
			</div>
			<div class="col-md-12 col-sm-12 form-group">
				<label for="" class="control-label">City *</label>
			   <select id="city" name="city" class="form-control" required="">
												  <option value="" selected="selected">Select a City</option>
													<option value="Delhi">Delhi</option>
													<option value="Kolkata">Kolkata</option>
													<option value="Mumbai">Mumbai</option>
													<option value="New Mumbai">New Mumbai</option>
													<option value="Thane">Thane</option>
													<option value="Chennai">Chennai</option>
													<option value="Bangalore">Bangalore</option>
													<option value="Hyderabad">Hyderabad</option>
													<option value="Gurgaon">Gurgaon</option>
													<option value="Gaziabad">Gaziabad</option>
													<option value="Noida">Noida</option>
													<option value="Greater Noida">Greater Noida</option>
													<option value="Faridabad">Faridabad</option>
													<option value="Sonipat">Sonipat</option>
													<option value="Bhiwadi">Bhiwadi</option>
													<option value="Pune">Pune</option>
													<option value="Ahmedabad">Ahmedabad</option>
													<option disabled="">------------------</option>
													<option value="Agra">Agra</option>
													<option value="Ahmednagar">Ahmednagar</option>
													<option value="Ajmer">Ajmer</option>
													<option value="Akola">Akola</option>
													<option value="Alappuzha">Alappuzha</option>
													<option value="Aligarh">Aligarh</option>
													<option value="Allahabad">Allahabad</option>
													<option value="Alleppey">Alleppey</option>
													<option value="Aluva">Aluva</option>
													<option value="Alwar">Alwar</option>
													<option value="Ambala">Ambala</option>
													<option value="Amravati">Amravati</option>
													<option value="Amritsar">Amritsar</option>
													<option value="Anand">Anand</option>
													<option value="Anantapur">Anantapur</option>
													<option value="Anantnag">Anantnag</option>
													<option value="Ankleshwar">Ankleshwar</option>
													<option value="Arakkonam">Arakkonam</option>
													<option value="Asansol">Asansol</option>
													<option value="Aurangabad">Aurangabad</option>
													<option value="Avadi">Avadi</option>
													<option value="Baddi">Baddi</option>
													<option value="Bagalkot">Bagalkot</option>
													<option value="Bardoli">Bardoli</option>
													<option value="Bareilly">Bareilly</option>
													<option value="Barkathpura">Barkathpura</option>
													<option value="Baroda">Baroda</option>
													<option value="Batala">Batala</option>
													<option value="Beawar">Beawar</option>
													<option value="Belgaum">Belgaum</option>
													<option value="Bellary">Bellary</option>
													<option value="Berhampur">Berhampur</option>
													<option value="Bharuch">Bharuch</option>
													<option value="Bhatinda">Bhatinda</option>
													<option value="Bhavnagar">Bhavnagar</option>
													<option value="Bhilai">Bhilai</option>
													<option value="Bhilwara">Bhilwara</option>
													<option value="Bhimavaram">Bhimavaram</option>
													<option value="Bhiwandi">Bhiwandi</option>
													<option value="Bhopal">Bhopal</option>
													<option value="Bhubaneshwar">Bhubaneshwar</option>
													<option value="Bhuj">Bhuj</option>
													<option value="Bidar">Bidar</option>
													<option value="Bijapur">Bijapur</option>
													<option value="Bikaner">Bikaner</option>
													<option value="Bilaspur">Bilaspur</option>
													<option value="Boisar">Boisar</option>
													<option value="Bokaro">Bokaro</option>
													<option value="Calicut">Calicut</option>
													<option value="Chandigarh">Chandigarh</option>
													<option value="Chandrapur">Chandrapur</option>
													<option value="Changanacherry">Changanacherry</option>
													<option value="Chankheda">Chankheda</option>
													<option value="Chidambaram">Chidambaram</option>
													<option value="Chitradurga">Chitradurga</option>
													<option value="Chokodi">Chokodi</option>
													<option value="Cochin">Cochin</option>
													<option value="Coimbatore">Coimbatore</option>
													<option value="Cuddalore">Cuddalore</option>
													<option value="Cuttack">Cuttack</option>
													<option value="Dahanu">Dahanu</option>
													<option value="Dahej">Dahej</option>
													<option value="Daman">Daman</option>
													<option value="Dausa">Dausa</option>
													<option value="Davangere">Davangere</option>
													<option value="Dehradun">Dehradun</option>
													<option value="Derabassi">Derabassi</option>
													<option value="Dewas">Dewas</option>
													<option value="Dhanbad">Dhanbad</option>
													<option value="Dharwad">Dharwad</option>
													<option value="Dhule">Dhule</option>
													<option value="Dindigul">Dindigul</option>
													<option value="Durg">Durg</option>
													<option value="Durgapur">Durgapur</option>
													<option value="Eluru">Eluru</option>
													<option value="Ernakulam">Ernakulam</option>
													<option value="Erode">Erode</option>
													<option value="Faizabad">Faizabad</option>
													<option value="Firozabad">Firozabad</option>
													<option value="Gandhidham">Gandhidham</option>
													<option value="Gandhinagar">Gandhinagar</option>
													<option value="Gangtok">Gangtok</option>
													<option value="Goa">Goa</option>
													<option value="Gokak">Gokak</option>
													<option value="Gorakhpur">Gorakhpur</option>
													<option value="Gulbarga">Gulbarga</option>
													<option value="Guntur">Guntur</option>
													<option value="Guwahati">Guwahati</option>
													<option value="Gwalior">Gwalior</option>
													<option value="Haldwani">Haldwani</option>
													<option value="Hapur">Hapur</option>
													<option value="Haridwar">Haridwar</option>
													<option value="Harpanahalli">Harpanahalli</option>
													<option value="Hassan">Hassan</option>
													<option value="Haveri">Haveri</option>
													<option value="Hazirabagh">Hazirabagh</option>
													<option value="Himmatnagar">Himmatnagar</option>
													<option value="Hissar">Hissar</option>
													<option value="Hoshiarpur">Hoshiarpur</option>
													<option value="Hospet">Hospet</option>
													<option value="Hosur">Hosur</option>
													<option value="Howrah">Howrah</option>
													<option value="Hubli">Hubli</option>
													<option value="Idukki">Idukki</option>
													<option value="Indore">Indore</option>
													<option value="Jabalpur">Jabalpur</option>
													<option value="Jaipur">Jaipur</option>
													<option value="Jalandhar">Jalandhar</option>
													<option value="Jalgaon">Jalgaon</option>
													<option value="Jalna">Jalna</option>
													<option value="Jammu">Jammu</option>
													<option value="Jamnagar">Jamnagar</option>
													<option value="Jamshedpur">Jamshedpur</option>
													<option value="Jhansi">Jhansi</option>
													<option value="Jodhpur">Jodhpur</option>
													<option value="Junagadh">Junagadh</option>
													<option value="Kadappa">Kadappa</option>
													<option value="Kakinada">Kakinada</option>
													<option value="Kalka">Kalka</option>
													<option value="Kallakurichi">Kallakurichi</option>
													<option value="Kalyan">Kalyan</option>
													<option value="Kancheepuran">Kancheepuran</option>
													<option value="Kankroli">Kankroli</option>
													<option value="Kannur">Kannur</option>
													<option value="Kanpur">Kanpur</option>
													<option value="Kanyakumari">Kanyakumari</option>
													<option value="Kapurthala">Kapurthala</option>
													<option value="Karad">Karad</option>
													<option value="Karaikudi">Karaikudi</option>
													<option value="Karimnagar">Karimnagar</option>
													<option value="Karnal">Karnal</option>
													<option value="Karur">Karur</option>
													<option value="Karwar">Karwar</option>
													<option value="Kasaragode">Kasaragode</option>
													<option value="Katni">Katni</option>
													<option value="Khammam">Khammam</option>
													<option value="Khandwa">Khandwa</option>
													<option value="Khanna">Khanna</option>
													<option value="Khargone">Khargone</option>
													<option value="Kolar">Kolar</option>
													<option value="Kolhapur">Kolhapur</option>
													<option value="Kollam">Kollam</option>
													<option value="Kota">Kota</option>
													<option value="Kottayam">Kottayam</option>
													<option value="Kovilatti">Kovilatti</option>
													<option value="Kozhikode">Kozhikode</option>
													<option value="Kumbakonam">Kumbakonam</option>
													<option value="Kurnool">Kurnool</option>
													<option value="Kurukshetra">Kurukshetra</option>
													<option value="Lathur">Lathur</option>
													<option value="Lucknow">Lucknow</option>
													<option value="Ludhiana">Ludhiana</option>
													<option value="Madurai">Madurai</option>
													<option value="Mahabubnagar">Mahabubnagar</option>
													<option value="Mahad">Mahad</option>
													<option value="Malappuram">Malappuram</option>
													<option value="Mandya">Mandya</option>
													<option value="Mangalore">Mangalore</option>
													<option value="Mangan">Mangan</option>
													<option value="Manipal">Manipal</option>
													<option value="Manjeri">Manjeri</option>
													<option value="Mansarovar">Mansarovar</option>
													<option value="Mapusa">Mapusa</option>
													<option value="Mathura">Mathura</option>
													<option value="Mavelikara">Mavelikara</option>
													<option value="Meerut">Meerut</option>
													<option value="Mehsana">Mehsana</option>
													<option value="Moga">Moga</option>
													<option value="Mohali">Mohali</option>
													<option value="Morvi">Morvi</option>
													<option value="Mudhol">Mudhol</option>
													<option value="Mysore">Mysore</option>
													<option value="Nabha">Nabha</option>
													<option value="Nadiad">Nadiad</option>
													<option value="Nagercoil">Nagercoil</option>
													<option value="Nagpur">Nagpur</option>
													<option value="Nanded">Nanded</option>
													<option value="Nandyal">Nandyal</option>
													<option value="Narsipatnam">Narsipatnam</option>
													<option value="Nashik">Nashik</option>
													<option value="Navsari">Navsari</option>
													<option value="Neelamangala">Neelamangala</option>
													<option value="Nellore">Nellore</option>
													<option value="New Delhi">New Delhi</option>
													<option value="Nizamabad">Nizamabad</option>
													<option value="Nokha">Nokha</option>
													<option value="Ongole">Ongole</option>
													<option value="Palakkad">Palakkad</option>
													<option value="Palanpur">Palanpur</option>
													<option value="Palghar">Palghar</option>
													<option value="Pali">Pali</option>
													<option value="Panchkulla">Panchkulla</option>
													<option value="Panipat">Panipat</option>
													<option value="Panjim">Panjim</option>
													<option value="Panvel">Panvel</option>
													<option value="Parbhani">Parbhani</option>
													<option value="Patalganga">Patalganga</option>
													<option value="Pathanamthitta">Pathanamthitta</option>
													<option value="Pathankot">Pathankot</option>
													<option value="Patiala">Patiala</option>
													<option value="Patna">Patna</option>
													<option value="Pen">Pen</option>
													<option value="Phagwara">Phagwara</option>
													<option value="Pithampur">Pithampur</option>
													<option value="Pollachi">Pollachi</option>
													<option value="Ponda">Ponda</option>
													<option value="Pondichery">Pondichery</option>
													<option value="Porbunder">Porbunder</option>
													<option value="Poruru">Poruru</option>
													<option value="Porvorim">Porvorim</option>
													<option value="Pudukottai">Pudukottai</option>
													<option value="Raichur">Raichur</option>
													<option value="Raigarh">Raigarh</option>
													<option value="Raipur">Raipur</option>
													<option value="Rajkot">Rajkot</option>
													<option value="Rajmundry">Rajmundry</option>
													<option value="Rajnandgaon">Rajnandgaon</option>
													<option value="Rajpura">Rajpura</option>
													<option value="Ranchi">Ranchi</option>
													<option value="Ranipet">Ranipet</option>
													<option value="Ratlam">Ratlam</option>
													<option value="Ratnagiri">Ratnagiri</option>
													<option value="Rewari">Rewari</option>
													<option value="Rohtak">Rohtak</option>
													<option value="Ropar">Ropar</option>
													<option value="Rourkela">Rourkela</option>
													<option value="Rudrapur">Rudrapur</option>
													<option value="Saharanpur">Saharanpur</option>
													<option value="Salem">Salem</option>
													<option value="Sangareddy">Sangareddy</option>
													<option value="Sangli">Sangli</option>
													<option value="Sangrur">Sangrur</option>
													<option value="Satara">Satara</option>
													<option value="Secunderabad">Secunderabad</option>
													<option value="Shimla">Shimla</option>
													<option value="Shimoga">Shimoga</option>
													<option value="Sikar">Sikar</option>
													<option value="Silchar">Silchar</option>
													<option value="Siliguri">Siliguri</option>
													<option value="Silvassa">Silvassa</option>
													<option value="Sirsa">Sirsa</option>
													<option value="Sitapur">Sitapur</option>
													<option value="Sivakasi">Sivakasi</option>
													<option value="Sohana">Sohana</option>
													<option value="Solan">Solan</option>
													<option value="Solapur">Solapur</option>
													<option value="Sri Ganganagar">Sri Ganganagar</option>
													<option value="Srikakulam">Srikakulam</option>
													<option value="Srinagar">Srinagar</option>
													<option value="Surat">Surat</option>
													<option value="Swargate">Swargate</option>
													<option value="Tadepalligudem">Tadepalligudem</option>
													<option value="Tamilnadu">Tamilnadu</option>
													<option value="Tanjore">Tanjore</option>
													<option value="Thanjavur">Thanjavur</option>
													<option value="Theni">Theni</option>
													<option value="Thiruvananthapuram">Thiruvananthapuram</option>
													<option value="Thiruvannamalai">Thiruvannamalai</option>
													<option value="Thripunithura">Thripunithura</option>
													<option value="Thrissur">Thrissur</option>
													<option value="Tirunelveli">Tirunelveli</option>
													<option value="Tirupathi">Tirupathi</option>
													<option value="Tirupur">Tirupur</option>
													<option value="Tiruvalla">Tiruvalla</option>
													<option value="Tonk">Tonk</option>
													<option value="Trichur">Trichur</option>
													<option value="Trichy">Trichy</option>
													<option value="Trivandrum">Trivandrum</option>
													<option value="Tumkur">Tumkur</option>
													<option value="Udaipur">Udaipur</option>
													<option value="Udupi">Udupi</option>
													<option value="Ujjain">Ujjain</option>
													<option value="Unjha">Unjha</option>
													<option value="Valsad">Valsad</option>
													<option value="Vapi">Vapi</option>
													<option value="Varanasi">Varanasi</option>
													<option value="Vastral">Vastral</option>
													<option value="Vellore">Vellore</option>
													<option value="Veraval">Veraval</option>
													<option value="Vijayawada">Vijayawada</option>
													<option value="Villupuram">Villupuram</option>
													<option value="Virudhachalam">Virudhachalam</option>
													<option value="Virudhunagar">Virudhunagar</option>
													<option value="Vizag">Vizag</option>
													<option value="Warangal">Warangal</option>
													<option value="Wardha">Wardha</option>
													<option value="Yamunanagar">Yamunanagar</option>
													<option value="Yavatmal">Yavatmal</option>
													<option value="Yelanka">Yelanka</option>
													<option value="Zirakpur">Zirakpur</option>
													<option value="Other">Other City</option>
												</select>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">What type of partnership *</label>
			    <select class="form-control" required="" >
												  <option value="" selected="selected">Select type of partnership</option>
													<option value="Agent">Agent</option>
													<option value="College">College</option>
													<option value="Student">Student</option>
													<option value="Financial Institute">Financial Institute</option>
												</select>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Your Comments</label>
			   <textarea class="form-control" value="Your Comment" placeholder="Your Comments" style="height:130px;" ></textarea>
			</div>

		 <div class="col-md-12 col-sm-12 form-group">
			<input type="submit" class="btn btn-primary" value="Submit">
		 </div>
	  </form>



</div-->

</div>
</div>
</section>
