<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Partner with Educational Institutes</h1>

                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>



<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->

<style>
.about-inner-column h4 {
    font-size: 2.5em;
margin-top:0px;
}

@media (min-width: 992px){
.about-inner-column {
    padding-left:30px;

	}
}
.loader {
position: relative;
border: 2px solid #f3f3f3; / Light grey /
border-top: 2px solid #3498db; / Blue /
border-radius: 50%;
width: 64px;
height: 64px;
animation: spin 2s linear infinite;
margin:25% 45%;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.5);
transition: opacity 500ms;
opacity: 0.5;
z-index:9999;
}

</style>



<section>
<div class="container">
<div class="row">
<div class="col-md-6">
<p>Studying abroad is a dream for many Indian. However Student funding becomes a major hurdle for student looking to study abroad. </p>

<p>We work in tandem with leading Universities across the country and facilitate the financial requirements to study abroad. </p>

<p>We partner the Universities and do the following</p>
<ul>
<li>Conduct Informative seminars for students looking to study abroad about all the loan options available to study abroad.</li>
<li>We facilitate seminars and fairs where in the student can look to understand all options of studying abroad from various financial institutions. </li>
<li>We conduct parent guidance workshops on how to finance your child’s education. </li>

<li>We connect alumni of the educational institute currently successfully with the educational institutes to inspire students to pursue education abroad.</li>

<li>We would offer Cash Back to Students as part of our endeavor and ensure the students get adequately serviced by our Channel partners.</li>
<li>We would conduct scholarship drive that would entail special discount provided by our Channel Partners in terms of Processing Fees and Interest rate. </li>
</ul>
<p>Please provide your information below and we would get in touch with you shortly. </p>
<p>&nbsp;</p>

</div>

<div class="col-md-6 about-inner-column">



		 <!--h4>Partner with us!</h4>
		 <p>Reach out to us by filling the form below and we will get in touch with you.</p-->

		 <h4>Get in touch with us!</h4>
		 <hr>


		<form class="row" ng-submit="addPartner()">

            <div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Title *</label>
               <select class="form-control" name="title" ng-init="title = 'Please Select'" ng-model="title" required>
                    <option>Please Select</option>
                    <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
                </select>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">First Name *</label>
			   <input class="form-control" name="firstname" id="firstname" ng-model="first_name"  required >
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Last Name *</label>
			   <input class="form-control" name="lastname" id="lastname" ng-model="last_name"  required >
			</div>

      <div>
      <div class="col-md-8 col-sm-8 form-group">
         <label for="" class="control-label">Email *</label>
         <input class="form-control" name="email" id="email" ng-model="email" ng-blur="getVerificationMail()" required >
      </div>
      <div class="col-md-4 col-sm-4 form-group">
         <label for="" class="control-label">Security Code </label>
         <input class="form-control" name="v_code" id="v_code" ng-model="v_code" ng-keyup="submitVerificationOTP()" >
      </div>
    </div>

    <div>
      <div class="col-md-4 col-sm-4 form-group">
        <label for="" class="control-label">Code *</label>
        <select class="form-control" name="country_code" ng-init="country_code = 'Please Select'" ng-model="country_code" required>
           <option>Please Select</option>
           <option value="61">Australia - 61</option>
           <option value="880">Bangladesh - 880</option>
           <option value="55">Brazil - 55</option>
           <option value="1">Canada - 1</option>
           <option value="49">Germany - 49</option>
           <option value="+91">India - +91</option>
           <option value="64">New Zealand - 64</option>
           <option value="1">United States - 1</option>
           <option value="44">United Kingdom - 44</option>
           <option value="971">United Arab Emirates - 971</option>
        </select>
      </div>
      <div class="col-md-8 col-sm-8 form-group">
       <label for="" class="control-label">Mobile Number *</label>
       <input class="form-control" name="mobile"  id="mobile" ng-model="mobile"  required>
     </div>

    </div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Educational Institute Name *</label>
			   <input class="form-control" name="companyname" id="companyname" ng-model="company_name"  required >
			</div>
            <div class="col-md-12 col-sm-12 form-group">
               <label for="" class="control-label">Educational Institute Website URL *</label>

               <input class="form-control" name="companyurl" id="companyurl" ng-model="company_url"  required >
            </div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Landline Number * </label>
			   <input class="form-control" name="landphone"  id="landphone" ng-model="landline" required >
			</div>
      <div class="col-md-12 col-sm-12 form-group">
         <label for="" class="control-label">Country *</label>
         <select class="form-control" name="country" ng-init="country = 'Please Select'" ng-model="country" ng-change="getAllStateByCountryId()" required>
            <option>Please Select</option>
            <option ng-repeat="option in allCountries" value="{{option.id}}">{{option.display_name}}</option>
         </select>
      </div>

      <div class="col-md-12 col-sm-12 form-group">
         <label for="" class="control-label">State *</label>
         <select class="form-control" name="state" ng-init="state = 'Please Select'" ng-model="state" ng-change="getAllCityByStateId()" required>
            <option>Please Select</option>
            <option ng-repeat="option in allStates" value="{{option.id}}">{{option.display_name}}</option>
         </select>
      </div>

      <div class="col-md-12 col-sm-12 form-group">
         <label for="" class="control-label">City *</label>
         <!--<angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" required></angucomplete-alt>-->
         <select class="form-control" name="city" ng-init="city = 'Please Select'" ng-model="city" required>
            <option>Please Select</option>
            <option ng-repeat="option in allCities" value="{{option.id}}">{{option.display_name}}</option>
         </select>
      </div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Address (Optional)</label>
			   <textarea class="form-control" value="Your Address" placeholder="Your Address" style="height:130px;" ng-model="address"></textarea>
			</div>

            <div class="col-md-12 col-sm-12 form-group">
			<label for="students_college" class="control-label">Total Students (Optional)</label>
			   <input class="form-control" name="students_college"  id="students_college" ng-model="students_college">
			</div>
            <div class="col-md-12 col-sm-12 form-group">
			<label for="students_final_year" class="control-label">Final Year Students (Optional)</label>
			   <input class="form-control" name="students_final_year"  id="students_final_year" ng-model="students_final_year">
			</div>
            <div class="col-md-12 col-sm-12 form-group">
			<label for="students_going_abroad" class="control-label">Students Going Abroad (Optional)</label>
			   <input class="form-control" name="students_going_abroad"  id="students_going_abroad" ng-model="students_going_abroad">
			</div>

            <div class="col-md-12 col-sm-12 form-group">
               <label for="" class="control-label">Upload Logo</label>
               <input type="file" file="file" required class="ng-isolate-scope">
            </div>
            <input type="hidden" ng-model="partner_type" ng-init="partner_type='college'">
		 <div class="col-md-12 col-sm-12 form-group">
			<input type="Submit" class="btn btn-primary" value="Submit">
		 </div>
	  </form>



</div>
</div>
</div>
</section>
<div class="overlay" ng-if="loader">
   <div class="loader" ></div>
</div>
