<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Partner with students</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>

<div class="container-fluid yellowbg hidden-xs">
	<div class="container">
		<div class="row overview-students">
			<div class="col-md-4 w20 text-center">
				<h4><span data-count="{{totalStudent}}">{{allStudents | number}}</span><span>+</span></h4>
				<h5>Students on Platform</h5>
			</div>
			<div class="col-md-4 w20 text-center">
				<h4><span data-count="{{totalStudentSanctioned}}">{{allStudentSanctioned | number}}</span><span>+</span></h4>
				<h5>Student Loans Sanctioned</h5>
			</div>
			<div class="col-md-4 w20 text-center">
				<h4>&#8377; <span data-count="{{totalSanctionedAmount}}">{{allSanctionedAmount | number}}</span><span>+</span></h4>
				<h5>Amount of Loans Sanctioned</h5>
			</div>
            <div class="col-md-4 w20 text-center">
				<h4><span data-count="{{totalStudentDisbursed}}">{{allStudentDisbursed | number}}</span><span>+</span></h4>
				<h5>Student Loans Disbursed</h5>
			</div>
			<div class="col-md-4 w20 text-center">
				<h4>&#8377; <span data-count="{{totalDisbursedAmount}}">{{allDisbursedAmount | number}}</span><span>+</span></h4>
				<h5>Amount of Loans Disbursed</h5>
			</div>
		</div>
	</div>
</div>


<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->

<style>
.about-inner-column h4 {
    font-size: 2.5em;
	margin-top:0px;
}

@media (min-width: 992px){
.about-inner-column {
    padding-left:30px;

	}
}

#studentModal .modal-content {
    background-color: #ffffff;
    color: #000000;
    padding: 0px;
}
#studentModal .close {
   color: #000!important;
   opacity:1!important;
}
#studentModal button.btn-primary {
    background-color: #004b7a;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px 0px rgba(191,191,191,0.7);
    border: 0px;
	margin-left:10px;

}
#studentModal.modal {
top:100px;
}
#studentModal .popModal_footer{
padding-top:20px;
}

</style>



<div id="studentModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static" ng-if="!isLoggedIn">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login to Refer your friends</h4>
      </div>
      <div class="modal-body">
        <form action="" method="post" ng-controller="loginController">
                 {{error.message}}
                 <div class="form-group" style="margin-top:25px;margin-bottom:10px;"><input type="text" name="userid" id="userid" class="form-control" placeholder="Email/Mobile" ng-model="username"></div>
                 <div class="form-group"><input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="password"></div>
                 <div class="popModal_footer">
                    <!--button type="button" class="btn login-cancel" data-popmodal-but="cancel" style=" font-size: 14px;font-weight: 300; padding: 5px 10px;border-radius: 20px; border:1px solid lightgrey;float:left;">cancel</button-->
                    <button type="button" class="btn btn-primary" ng-click="submitLogin()"> Login </button>
                    <div style="display:block;float:right;"><a href="forgot-password" data-popmodal-but="cancel" style="padding:0px; margin-top:10px;text-transform:capitalize">Forgot Password ?</a></div>
					<!--div style="text-align:right;">New to Eduloans?<a href="/user/register" ng-controller="homeController" ng-show="!loggedIn" style="text-transform:capitalize;text-decoration:underline;color:#004b7a;font-weight:bold;" class="reglink"> Register </a>here.</div-->
                 </div>
        </form>
      </div>

    </div>

  </div>
</div>

<script>

 $(window).load(function(){
  setTimeout(function () {
       $('#studentModal').modal('show');
    }, 3000);
 });



</script>




<section>
<div class="container">
<div class="row">
<div class="col-md-6">
<p>The decision to study abroad is the most value adding investment on oneself. We at Edu loans try to simplify and provide you all options through our channel partners to arrange for the best financing options for you. </p>

<p>As a student you would get the following benefit</p>
<ul>
	<li>Easy Comparison in a single platform - We offer you multiple channel partners with various product features</li>
	<li>Speed of Execution  - We help in execution of the loan thereby guiding you at every step</li>
	<li>Get Freebies - We help you register for free as well provide cash back offers in IELTS/TOEFL/GRE/GMAT, Air Ticket, Forex Booking etc. </li>
	<li>Refer a friend - In case you refer a friend both you and your friend would get cash back offer worth INR 2000 on successful disbursement from one of our Partnering financial institutions. </li>
</ul>

<p>Please apply now for you to avail the best possible options to finance your education loan and avail instant Cash Back offers.</p>

<p>Our dedicated loan guidance officer would get back to you immediately post your registration </p>
<!--button class="btn btn-primary" href="/user/register">Get Started</button-->
<p>&nbsp;</p>

</div>


<div class="col-md-6 about-inner-column" >

		<!--button class="btn btn-primary" href="" style="float:right;">Refer a friend</button-->

		 <h4>Partner with us!</h4>
		 <p>Reach out to us by filling the form below and we will get in touch with you.</p>
		 <hr>


		<form class="row" ng-submit="referFriend()">

			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Title *</label>
               <select class="form-control" name="title" ng-init="title = '0'" ng-model="title" required>
                    <option value="0">Please Select</option>
                    <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
                </select>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">First Name *</label>
			   <input class="form-control" name="firstname" id="firstname" ng-model="first_name"  required >
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Last Name *</label>
			   <input class="form-control" name="lastname" id="lastname" ng-model="last_name"  required >
			</div>

      <div>
      <div class="col-md-8 col-sm-8 form-group">
         <label for="" class="control-label">Email *</label>
         <input class="form-control" name="email" id="email" ng-model="email" ng-blur="getVerificationMail()" required >
      </div>
      <div class="col-md-4 col-sm-4 form-group">
         <label for="" class="control-label">Security Code </label>
         <input class="form-control" name="v_code" id="v_code" ng-model="v_code" ng-keyup="submitVerificationOTP()" >
      </div>
    </div>

			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Mobile Number *</label>
			   <input class="form-control" name="mobile"  id="mobile" ng-model="mobile" required>
			</div>


			<div class="col-md-12 col-sm-12 form-group">
				<label for="" class="control-label">City *</label>
                <angucomplete-alt id="ex2" pause="300" selected-object="city_id" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight"></angucomplete-alt>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Month of Intake</label>
                <select class="form-control" name="intake_month" ng-init="intake_month = '0'" ng-model="intake_month" required>
                    <option value="0">Please Select</option>
                    <option ng-repeat="option in intakeMonths" value="{{option.display_name}}">{{option.display_name}}</option>
               </select>
			</div>
			<div class="col-md-12 col-sm-12 form-group">
			<label for="" class="control-label">Year of Intake</label>
                <select class="form-control" name="intake_year" ng-init="intake_year = '0'" ng-model="intake_year" required>
                    <option value="0">Please Select</option>
                    <option value="{{present}}">{{present}}</option>
                    <option value = "{{next}}">{{next}}</option>
                    <option value = "{{future}}">{{future}}</option>
               </select>
			</div>
            <input type="hidden" ng-model="partner_type" ng-init="partner_type='student'">
		 <div class="col-md-12 col-sm-12 form-group">
			<input type="Submit" class="btn btn-primary" value="Submit">
		 </div>
	  </form>



</div>
</div>
</div>
</section>
