<style type="text/css">
   .nav-tabs-dropdown {
   display: none;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   }
   .nav-tabs-dropdown:before {
   content: "\e114";
   font-family: 'Glyphicons Halflings';
   position: absolute;
   right: 30px;
   }
   @media screen and (min-width: 769px) {
   #nav-tabs-wrapper {
   display: block!important;
   }
   }
   @media screen and (max-width: 768px) {
   .nav-tabs-dropdown {
   display: block;
   }
   #nav-tabs-wrapper {
   display: none;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   text-align: center;
   } 
   }
   .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
   color: #fff;
   background-color: #f9992f;
   }
   .nav-pills > li { 
   background: #004b7a;  
   text-transform: uppercase;
   }
   .nav > li > a:hover, .nav > li > a:focus {
   color: #FF9900!important;
   }
   .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
   color: #ffffff!important;
   background-color: #FF9900;
   outline: none;
   padding: 10px;
   /* color: #888; */
   text-decoration: none;
   text-transform: uppercase;
   /* background: #eee; */
   border: none !important;
   border-radius: 0px;
   }
   .nav-pills>li>a {
   border-radius: 0px;
   }
   .well {
   padding:15px;
   }
   .panel-title {
   font-weight:bold;
   }
</style>
<div class=" text-center" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/policy.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <section class=" text-white  pt-5 pb-4">
      <div class="container py-5">
         <div class="row">
            <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Privacy Policy</h1>
            </div>
         </div>
      </div>
   </section>
</div>
<div class="container">
   <br><br>
   <div class="row">
      <div class="col-sm-12">
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
               <div class="bs-example">
                  <div class="panel-group" id="accordion">
                     <h2 style="color: black">ABOUT EDULOANS PRIVACY POLICY </h2>
                        <p style="color: black">Eduloans operates the eduloans.org     website, which provides the SERVICE.
                           <p style="color: black">This page is used to inform website visitors regarding our policies with the collection, use, and
                           disclosure of Personal Information if anyone decided to use our Service, the Edu loans website.</p>
                           <p style="color: black">If you choose to use our Service, then you agree to the collection and use of information in
                           relation with this policy. The Personal Information that we collect are used for providing and
                           improving the Service. We will not use or share your information with anyone except as
                           described in this Privacy Policy.</p>
                           <p style="color: black">The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
                           which is accessible at eduloans.org, unless otherwise defined in this Privacy Policy.
                        </p>

                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" href="#" aria-expanded="true" aria-controls="collapseOne">Information Collection and Use</a>
                           </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                           <div class="panel-body" style="color: black">
                              <p>For a better experience while using our Service as well as to effectively respond to your inquiry, we may require you to provide us with personally identifiable information. while transacting through our Website. Some of it is mandatory where as some of it is optional:</p>
                              <ul>
                                 <li>Name and Sex</li>
                                 <li>Date of Birth</li>
                                 <li>Permanent Account Number (PAN)</li>
                                 <li>Aadhaar</li>
                                 <li>Telephone Number</li>
                                 <li>Mobile Number</li>
                                 <li>Address</li>
                                 <li>Email address</li>
                                 <li>Bank Account Details/ Limited Financial Information</li>
                              </ul>
                              <p>At times we conduct on-line surveys to better understand the needs and profile of our visitors. When we conduct a survey, we will try (but are not obligated) to let you know how we will use the information at the time we collect information from you on the Internet.</p>
                              <p>You recognize and understand that there is no compulsion on you to provide us with your Personal Information and any and all Personal Information provided by you to us is with your full consent, own volition and desire to provide such Personal Information.</p>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" href="#" aria-expanded="true" aria-controls="collapseTwo">Data recipients, transfer, and disclosure of Personal Information</a>
                           </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p>We do not sell, trade, or otherwise transfer your Personal Information to outside parties. This does not include trusted third parties who assist us in conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release, use or disclose your Personal Information when we believe such release of information is necessary to comply with any applicable law, regulation, legal process or enforceable statutory requirement, to enforce our site policies, to protect ours or others rights, property or safety as required or permitted by law, or when we have reason to believe that disclosing the information is necessary to identify, contact or bring legal action against someone who may be causing interference with our rights or properties, whether intentionally or otherwise, or when anyone else could be harmed by such activities. In addition, all or substantially or substantially all of its assets are acquired, our customer information will most likely also be transferred in connection with such acquisition. </p>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" href="#" aria-expanded="true" aria-controls="collapseThree">Log Data</a>
                           </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p>We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer’s Internet Protocol ("IP") address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" href="#" aria-expanded="true" aria-controls="collapseFour">Cookies</a>
                           </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p>Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.</p>
                              <p>Our website uses these "cookies" to collection information and to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.</p>
                              <p>A cookie may also be placed by our advertising server. Such cookies are used only for purposes of tracking the effectiveness of advertising served by us on our Website and no Personal Information is gathered from you by the use of these cookies, nor is this information shared with any third parties. Similarly, a cookie may be placed by our third - party advertising companies or advertisement providers or servers. These companies may use aggregated statistics about your visits to this and other websites in order to provide advertisements about goods and services that you may be interested in or any goods and services of potential interest to you. The information they collect does not include your Personal Information. The third - party advertising companies or advertisement providers may also employ technology that is used to measure the effectiveness of ads. Any such information is anonymous. They may use this anonymous information about your visits to this and other sites in order to provide advertisements about goods and services of potential interest to you. No Personal Information is collected during this process. The information is anonymous, and does not link online actions to an identifiable person. Most web browsers automatically accept cookies. Of course, by changing the options on your web browser or using certain software programs, you can control how and whether cookies will be accepted by your browser. We support your right to block any unwanted Internet activity, especially that of unscrupulous websites. However, blocking our cookies may disable certain features on the Website, and may make it impossible to purchase or use certain services available on the Website. Please note that it is possible to block cookie activity from certain websites while permitting cookies from websites you trust, like this Website.</p>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" href="#" aria-expanded="true" aria-controls="collapseFive">Service Providers</a>
                           </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p>We may employ third-party companies and individuals due to the following reasons:</p>
                              <ul>
                                 <li>To facilitate our Service</li>
                                 <li>To provide the Service on our behalf</li>
                                 <li>To perform Service-related services</li>
                                 <li>To assist us in analyzing how our Service is used</li>
                              </ul>
                              <p>We want to inform our Service users that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix" href="#" aria-expanded="true" aria-controls="collapseSix">Security</a>
                           </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven" href="#" aria-expanded="true" aria-controls="collapseSeven">Links to Other Sites</a>
                           </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p>Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight" href="#" aria-expanded="true" aria-controls="collapseEight">Children’s Privacy</a>
                           </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p>Our Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.</p>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseNine" href="#" aria-expanded="true" aria-controls="collapseNine">OPTING OUT </a>
                           </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p> You can ask us or third parties to stop sending you marketing messages at any time by contacting us at any time. 

Where you opt out of receiving these marketing messages, this will not apply to personal data provided to us as a result of a product/service purchase, warranty registration, product/service experience or other transactions.</p>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen" href="#" aria-expanded="true" aria-controls="collapseTen">DATA RETENTION </a>
                           </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p>We will only retain your personal data for as long as necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.</p> 

                              <p>To determine the appropriate retention period for personal data, we consider the amount, nature, and sensitivity of the personal data, the potential risk of harm from unauthorized use or disclosure of your personal data, the purposes for which we process your personal data and whether we can achieve those purposes through other means, and the applicable legal requirements.</p>

                              <p>Under Indian law we will normally have to keep basic information about our customers and agency-type services (including Contact, Identity and Transaction Data) for 7 years after they cease being customers. In relation to contractual services this period may be extended to 15 years. [Thereafter, we will either destroy or return personal data to the client.</p>
 
                              <p>We may also anonymize your personal data (so that it can no longer be associated with you) for research or statistical purposes in which case we may use this information indefinitely without further policy to you.</p>
                              
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseEleven" href="#" aria-expanded="true" aria-controls="collapseEleven">Changes to This Privacy Policy</a>
                           </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</p>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwelve" href="#" aria-expanded="true" aria-controls="collapseTwelve">Contact Us</a>
                           </h4>
                        </div>
                        <div id="collapseTwelve" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
   $('.nav-tabs-dropdown').each(function(i, elm) {
     
     $(elm).text($(elm).next('ul').find('li.active a').text());
     
   });
   
   $('.nav-tabs-dropdown').on('click', function(e) {
   
     e.preventDefault();
     
     $(e.target).toggleClass('open').next('upl').slideToggle();
     
   });
   
   $('#nav-tabs-wrapper a[data-toggle="tab"]').on('click', function(e) {
   
     e.preventDefault();
     
     $(e.target).closest('ul').hide().prev('a').removeClass('open').text($(this).text());
       
   });
</script>