<!-- content begin -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Provisional Offer</h1>
                <ul class="crumb">
                    <li><a href="#" onclick="window.location.href='/';">Home</a></li>
					<li class="sep">/</li>
                    <li><a href="/faq">FAQ's</a></li>
                    <li class="sep">/</li>
                    <li>Provisional Offer</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="section-testimonial" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="us-related" data-animation="fadeInRight" data-delay="200">
                <div class="col-md-4">
                    <div class="bs-example" style="text-align:justify;">
                        <div class="panel-group" id="accordionleft">
                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/others">General FAQ's</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/process">Application Process</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/review">Application Review</a>
                                    </h4>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/offer">Provisional Offer</a>
                                    </h4>
                                </div>

                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/upload-document">Uploading Your Documents</a>
                                    </h4>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/disbursement">Disbursement</a>
                                    </h4>
                                </div>

                            </div>

                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/study-and-grace">Study And Grace Period</a>
                                    </h4>
                                </div>

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/repayment">Loan Repayment</a>
                                    </h4>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-8 " data-animation="fadeInRight" data-delay="200">
					<div class="bs-example">
                        <div class="panel-group" id="accordion">
	                       <div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_1'">
                                    <h4 class="panel-title">
                                        <a>1. What happens after receiving the Provisional Offer?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_1'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>On review by our credit committee or our financial partners you would be issued a provisional offer/eligibility letter. The same would have all the terms and conditions for the loan sanctioned.  </p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_2'">
                                    <h4 class="panel-title">
                                        <a>2. How does my interest rate vary?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_2'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Rates of Interest vary based on points relating to both you as the applicant, and the quality of credit information that we obtain for you. Other factors that could affect the interest rate for your loan offer include your ability to afford repayments on the loan, our cost of capital, and value of Collateral. Our financial partners and we typically provide the most competitive rate upfront, but your rate may change based on information contained in your credit report, which is obtained later during the application process.
                                        We generally price our loans based on international benchmarks such as LIBOR, MIBOR etc. The rate is generally fluctuating as per the international rate of Interest.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_3'">
                                    <h4 class="panel-title">
                                        <a>3. What happens if disbursement date falls after payment is due to the school?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_3'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">The Eduloans loan cannot be used to pay any acceptance deposits, commitment, or reservation fees required to secure your place at the school.<br/>
                                        In some instances, if our disbursement date falls after the first tuition installment is due and so we work closely with the schools to set clear disbursement dates, when we’ll send your funds directly to the school. Unfortunately, our disbursement date is set for the class as a whole and cannot be adjusted on an individual basis. <br/>
                                        Eduloans will work hard to ensure that our students are not charged late fees on funds that are sent from us to the school. Very often, schools choose to waive any late fees that they would normally charge for late payments. Should the disbursement date fall after the first payment is due to the school, please contact your school's financial aid office to discuss the implications. <br/>
                                        Funds will be sent to the school on the schedule outlined in your loan agreement. If your loan agreement states that the full loan amount shall be disbursed to the school and the loan amount exceeds the outstanding tuition amount at the time of disbursement, you can work with the school's finance office to have any excess funds transferred to your personal account after they’ve been sent to the school.  This can only be done in cases where the loan can be used towards tuition as well as living expenses.
                                        </p>
                                    </div>
                                </div>
                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_4'">
                                    <h4 class="panel-title">
                                        <a>4. Can I change (reduce/increase) my loan amount after accepting the Provisional Offer from Eduloans?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_4'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">You can request a reduction in the loan amount at any time before signing the final loan agreement and creating mortgage able security.  Although the same would depend on case-to-case basis. <br/>
                                        If you wish to increase your loan amount, contact your loan guidance counselor requesting an increased loan amount and your reasons for this change. Our Credit Committee and Partners will review your request and revert with a decision as soon as possible.  Should your request be approved we will then issue you with updated loan documents including your new corresponding administration fee resulting from the increased loan size which will be amortized in your loan.<br/>
                                        Should you wish to withdraw your application after receiving an offer in order to explore other options, you are welcome to do so; simply inform us of your decision and we’ll then release those funds so they may be assigned to other deserving waiting candidates. If you would like to re-apply in the future, you will have to start a new application.

                                        </p>
                                    </div>
                                </div>
                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_5'">
                                    <h4 class="panel-title">
                                        <a>5. Can I redirect the loan to attend a different school?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_5'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">Eduloans and its partners uses a predictive scorecard in order to take future earning potential into account during application review and decide various parameters of the loan. As the parameters for different schools affect the outcome of this predictive assessment, we cannot redirect your loan towards another school.<br/>
                                        If you choose to attend another school, you will need to submit a new application detailing your budget for the new school. You can do this by logging into your account and starting a new application.
                                        </p>
                                    </div>
                                </div>
                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_6'">
                                    <h4 class="panel-title">
                                        <a>6. What document can be used for visa applications as proof of funds?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_6'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">In case if you may require documentation to prove your funds for visa purposes or financial guarantee to the school, we will issue you a Loan Confirmation letter. Please note that such a letter can be issued only after all of the administrative steps and initial processing fees have been finalized.<br/>
                                        An electronic copy of your Loan Confirmation letter will be uploaded to your dashboard or emailed to you and can be used as financial guarantee for the school.  In some instances, this electronic copy may also support your visa application. You would be required to check with the school
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
				</div>
			</div>

        </div>
    </div>
</section>
<section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
    <span>Have Additional Questions ?</span><br/>
    <p>Visit our support page to get your questions answered</p>
    <a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
</section>

<!-- footer begin -->
<footer style="color:#000;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul style="text-transform:uppercase; list-style-type:none; color:#000;">
                    <li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
                    <li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
                    <li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
                    <li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
                    <li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
                    <li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <ul style="text-transform:uppercase;">
                        <li> <strong>Registered Office :</strong><br>
                            Office no 32/33, 2nd Floor,<br>
                            Dheeraj Heritage, Santacruz (W)<br>
                            Telephone: +91 22 26605549 <br>
                            Mobile : +91 98191 19363 / +91 91676 63090<br>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget-address">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="color:#fff;margin-top: 5px;">
                    © Copyright 2017 - Eduloans | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
                </div>
                <div class="col-md-6 text-right">
                    <div class="social-icons">
                        <a href=""><i class="fa fa-facebook fa-lg"></i></a>
                        <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-google-plus fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->
