<!-- content begin -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Study And Grace Period</h1>
                <ul class="crumb">
                    <li><a href="#" onclick="window.location.href='/';">Home</a></li>
					<li class="sep">/</li>
                    <li><a href="/faq">FAQ's</a></li>
                    <li class="sep">/</li>
                    <li>Study And Grace Period</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="section-testimonial" class="text-light">
    <div class="container">
        <div class="row">
			<div class="col-md-12" id="us-related" data-animation="fadeInRight" data-delay="200">
                <div class="col-md-4">
                    <div class="bs-example" style="text-align:justify;">
                        <div class="panel-group" id="accordionleft">
                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/others">General FAQ's</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/process">Application Process</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/review">Application Review</a>
                                    </h4>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/offer">Provisional Offer</a>
                                    </h4>
                                </div>

                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/upload-document">Providing Your Documents</a>
                                    </h4>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/disbursement">Disbursement</a>
                                    </h4>
                                </div>

                            </div>

                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/study-and-grace">Study And Grace Period</a>
                                    </h4>
                                </div>

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/repayment">Loan Repayment</a>
                                    </h4>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-8 " data-animation="fadeInRight" data-delay="200">
					<div class="bs-example">
                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_1'">
                                    <h4 class="panel-title">
                                        <a>1.What is grace period and how does it work ? </a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_1'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">Every loan has a grace period; the duration of this period depends on the school and course. On a general note, the grace period is typically the study period + 6 months after classes end for Full-time courses. During the Grace period you or your sponsors (i.e. co-borrower) are only required to pay the complete or partial interest on the loan principal amount disbursed and outstanding.
                                        </p>
                                    </div>
                                </div>
                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_2'">
                                    <h4 class="panel-title">
                                        <a>2. Can I extend my grace period?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_2'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">Unfortunately, it is not possible to change the grace period or the date on which your first payment on the loan is due. These are just a few of the terms outlined in your loan agreement, which is a legally binding document. Therefore, those dates are fixed. However the same may depend on your partnering financial institution. <br/>
                                        If you're having difficulties with repayment of your loan and not sure if you'll be able to start making payments on the date in your loan agreement, please do get in touch with us in case if the loan is taken from the investor or our funds to discuss your available options.
                                        </p>
                    				</div>
                                </div>
                            </div>

                        </div>

                    </div>

				</div>
			</div>

        </div>
    </div>
</section>
<section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
    <span>Have Additional Questions ?</span><br/>
    <p>Visit our support page to get your questions answered</p>
    <a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
</section>

<!-- footer begin -->
<footer style="color:#000;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul style="text-transform:uppercase; list-style-type:none; color:#000;">
                    <li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
                    <li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
                    <li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
                    <li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
                    <li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
                    <li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <ul style="text-transform:uppercase;">
                        <li> <strong>Registered Office :</strong><br>
                            Office no 32/33, 2nd Floor,<br>
                            Dheeraj Heritage, Santacruz (W)<br>
                            Telephone: +91 22 26605549 <br>
                            Mobile : +91 98191 19363 / +91 91676 63090<br>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget-address">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="color:#fff;margin-top: 5px;">
                    © Copyright 2017 - Eduloans | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
                </div>
                <div class="col-md-6 text-right">
                    <div class="social-icons">
                        <a href=""><i class="fa fa-facebook fa-lg"></i></a>
                        <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-google-plus fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->
