<style>
    .profile-heading {
        color: #091a3c;
    }

    .comment {
        cursor: pointer;
    }

    .control-label {
        text-align: left !important;
    }

    .submit_button {
        text-align: right;
    }

    .delete_button {
        text-align: left;
        margin-bottom: -30px;
    }

    .nav-tabs>li>a {
        margin-right: 0px;
    }

    .nav-tabs-custom > .nav-tabs > li{
        margin-right: 0px !important;
    }




    /*****************/
    @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');   
body{font-family: 'Quicksand', sans-serif;}
   h4{
        font-weight: 600;
    }
    p{
        font-size: 12px;
        margin-top: 5px;
    }
    .price{
        font-size: 30px;
        margin: 0 auto;
        color: #333;
    }

    .thumbnail{
        opacity:0.70;
        -webkit-transition: all 0.5s; 
        transition: all 0.5s;
    }
    .thumbnail:hover{
        opacity:1.00;
        box-shadow: 0px 0px 10px #567ea0;
    }
    .line{
        margin-bottom: 5px;
            margin-top: 10px;
    }
    @media screen and (max-width: 770px) {
        .right{
            float:left;
            width: 100%;
        }
    }
    span.thumbnail {
        border: 1px solid #ffffff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    padding: 10px;
}
/*.container h4{margin-top:70px; margin-bottom:30px;}*/
button {    margin-top: 6px;
}
.right {
    float: right;
    border-bottom: 2px solid #0a5971;
}
.btn-info {
    color: #fff;
    background-color: #19b4e2;
    border-color: #19b4e2;
    font-size:13px;
    font-weight:600;
}
</style>
<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/savings.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">My Savings</h1>
                <!--ul class="crumb">
                    <li><a href="index.php">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact Us</li>
                </ul-->
            </div>
        </div>
    </div>
</section>
<!-- Content Wrapper. Contains page content -->
<section id="section-profile" class="text-light">
   <div class="container">
      <div class="row">
         <!-- BEGIN PRODUCTS -->
        <div class="col-md-12 col-sm-12" ng-repeat="(offerKey, offerValue) in offerData">
        <!-- hello {{value[0].display_name}} -->
            <span class="thumbnail">
               <div class="row">
                  <div class="col-md-4" style="text-align: center;">
                     <img class="img-responsive" src="images/{{offerValue[0].offer_image}}" alt="..." >
                  </div>
                  <div class="col-md-8">
                  <!-- this :{{key}} -->
                     <h4 style="margin-bottom: 5px;">{{offerValue[0].offer_name}}</h4>
                     <p style="-webkit-user-modify: read-write-plaintext-only;">{{offerValue[0].offer_info}}</p>
                     <br>
                     <!-- <h5 class="media-heading">
                        {{ offerListData.secure_accommodation.name }}  <a href="https://eduloanshousing.4stay.com/" class="btn btn-secondary">Eduloanshousing.4stay</a>
                     </h5>
 -->                  </div>
                 
               </div>
               <hr class="line">
               <div class="row" >
                  <div class="col-md-12 col-sm-12 panel-group" id="accordion" style="margin-bottom: 0px;" >
                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion" data-target="#{{offerKey}}" href="#" aria-expanded="true" aria-controls="collapseOne">More Details</a>
                        </div>
                        <div id="{{offerKey}}" class="panel-collapse collapse" >
                           <div class="panel-body" style="color: black">
                            <div class="col-md-3" ng-repeat="(proKey, proValue) in offerValue">
                                 <div class="card-offer" style="min-height: 430px;background-color: #f7f7f752;">
                                    <a href=""><img src="images/{{proValue.product_offer_image}}" alt=" " class="img-responsive" style="margin-top: 5px;"></a>
                                    <div class="caption">
                                       <div class="">
                                          <h4>{{proValue.display_name}}</h4>
                                          <h5>Amount : {{proValue.product_offer_amount}}</h5>
                                          <h6>Info : {{proValue.product_info}}</h6>
                                       </div>
                                    </div>
                                    <div class="col-md-12" style="text-align: center;padding-bottom: 32px;bottom: 0;position: absolute;    padding-right: 40px !important;padding-left: 10px !important;">
                                       <div ng-if="proValue.selected == 'No' " >
                                          <a href="" target="_blank" >  <button type="button" class=" btn btn-sm btn-info" ng-click="applyOffer(proValue.offer_id,proValue.id,proValue.offer_type)"> APPLY</button></a>
                                       </div>
                                       <div ng-if="proValue.selected == 'Yes' ">
                                          <a href="" target="_blank" >  <button type="button" class=" btn btn-sm btn-danger" disabled> APPLIED</button></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                            <!-- <table class="table table-bordered table-striped" show-filter="true">
                                <tr>
                                <th>Main Offer Name</th>
                                <th>Offer Amount</th>
                                <th>Total Offer Amount</th>
                                <th>Offer Confirmation</th>
                                <th>Selected</th>
                                <th>Action</th>
                                </tr>
                                <tr ng-repeat="(proKey, proValue) in offerValue" id="list_table" ng-class="{act : activeMenu === value.lead_id}">

                                    <td>{{proValue.display_name}}</td>

                                    <td>{{proValue.product_offer_amount}}</td>

                                    <td>{{proValue.total_offer_amount}}</td>

                                    <td>{{proValue.offer_confirmation}}</td>

                                    <td>{{proValue.selected}}</td>

                                    <td ng-if="proValue.selected == 'No' "><a href="" target="_blank" >  <button type="button" class=" btn btn-sm btn-info right" ng-click="applyOffer(proValue.offer_id,proValue.id,proValue.offer_type)"> APPLY</button></a></td>

                                    <td ng-if="proValue.selected == 'Yes' "><a href="" target="_blank" >  <button type="button" class=" btn btn-sm btn-danger right" disabled> APPLIED</button></a></td>


                                </tr>
                            </table> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
              <!--  <div class="row">
                  <div class="col-md-12 col-sm-12 panel-group" id="accordion2" style="margin-bottom: 0px;">
                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseTwo" href="#" aria-expanded="true" aria-controls="collapseTwo">More Details</a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                           <div class="panel-body" style="color: black">
                              <div class="col-md-3">
                                 <div class="card-offer">
                                    <a href=""><img src="images/offers/thomos-cb.jpg" alt=" " class="img-responsive"></a>
                                    <div class="caption">
                                       <div class="">
                                          <p>Get group discounts and avail cash back discount of <b>INR 500</b> per ticket as you are applying from Eduloans</p>
                                          
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="card-offer">
                                    <a href=""><img src="images/offers/makemytrip-cb500.jpg" alt=" " class="img-responsive"></a>
                                    <div class="caption">
                                       <div class="">
                                          <p>Get group discounts and avail cash back discount of <b>INR 500</b> per ticket as you are applying from Eduloans</p>
                                         
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> -->
            </span>
        </div>
        
   </div>
   </div>
</section>


