<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Testimonials</h1>
               
            </div>
        </div>
    </div>
</section>



<!-- content begin -->

    <!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->
	
	
<section>
    <div class="container">
        <div class="row">
            <!--div class="col-md-12" style="text-align:center;">
				<img src="images/coming-soon.png" alt=" "  style="width:400px;padding-top:150px;margin:0px auto;">
				<p style="height:300px;">&nbsp;</p>
			</div--> 
			
			<div class="col-md-12">
			<div class="owl-carousel owl-theme" id="testimonial-video">
			
			<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="EAZvbgnlBso">
				<div class="play-button"></div>
			</div>
		</div>
	</div>

    <div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="5oRr40-ilQM">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
	<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="pt2zwQfRqP4">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
	<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="KfH6eWNP9bM">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
	<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="8K1hmKObGy4">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
	<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="3wUVMXM81Ac">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
	<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="yY14O1F8pnc">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
	<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="5Y0JESJ3n3I">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
	<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="19fqHwFxPAQ">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
	<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="FxwuFfxwkok">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
	<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="14Xv6HbVbEI">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
	<div class="item-video"> 
		<div class="ywrapper">
			<div class="youtube" data-embed="TpJJBImVo4M">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
			
			
	<!--div class="item-video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/EAZvbgnlBso" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen  ></iframe> </div>
	
    <div class="item-video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/5oRr40-ilQM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
	
	<div class="item-video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/pt2zwQfRqP4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	
	<div class="item-video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/KfH6eWNP9bM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	
	<div class="item-video"><iframe width="560" height="315" src="https://www.youtube.com/embed/8K1hmKObGy4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	
	<div class="item-video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/3wUVMXM81Ac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
	
	<div class="item-video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/yY14O1F8pnc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	
	<div class="item-video"><iframe width="560" height="315" src="https://www.youtube.com/embed/5Y0JESJ3n3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	
	<div class="item-video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/19fqHwFxPAQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
	
	<div class="item-video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/FxwuFfxwkok" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	
	<div class="item-video"><iframe width="560" height="315" src="https://www.youtube.com/embed/14Xv6HbVbEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
	
	<div class="item-video"><iframe width="560" height="315" src="https://www.youtube.com/embed/TpJJBImVo4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div-->

	<!--div class="item-video" data-merge="1"><a class="owl-video" href="https://www.youtube.com/watch?v=EAZvbgnlBso"></a></div>
    <div class="item-video" data-merge="2"><a class="owl-video" href="https://www.youtube.com/watch?v=5oRr40-ilQM"></a></div-->

 </div>



			</div>
			
			
			<div class="col-md-12" style="text-align:left;">
				<ul class="testimonial-list owl-carousel1 owl-theme tpage">
					<li>
						<div class="testimonial-item ">
						   
							<div class="testimonial-message">
								<blockquote>
									<p>Have you ever tried applying for loan in more than 5 banks and waiting for approval for months? No right but I did and was waiting for months for my education loan and my counselor, Imperial Overseas suggested me to talk to Mr Gurpreet Singh from EduLoans. Not only Mr Gurpreet directed me in the right way but also he helped me by talking to higher officials of the many banks. After so many rejects and waiting deceisions I got approved for educationloan and it was all because Mr Gurpreet Singh Sethi. If EduLoans wouldn't have been there my dream of studying abroad wouldn't have been completed. If you want an education loan EduLoans is the best place to get going.
										
										
									</p>
								</blockquote>
							</div>
							 <div class="profile-circle" >
								<div class="content">
								<img src="images/avatar-grey.png" alt="grey avatar" class="testi-profile-img" >
						
									<ul>
										<li><strong>Aditya Jadhav</strong></li>
										<li>Country : USA </li>
										<li>University  : NJIT </li>
										<li>Course : MS </li>
										<li>Loan Provider : Bank of Baroda - No Collateral </li>
									</ul>
									
								  </div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="testimonial-item ">
						   
							<div class="testimonial-message">
								<blockquote>
									<p>Hi, My name is Rohit Patil, I got my education loan sanctioned from Avanse. Its been a great journey with eduloans. Very easing loan application through eduloans website, instant service from the department and constant follow made loan process less stressful. The main reason behind it is Gurpreet sir, without their constant support this would not have been possible. At each step of our loan criteria, gurpreet sir were there, as if they were taking loan along with us. From ROI to loan sanctioned amount, from processing fees to monthly installments to be cut-off, gurpreet sir helped us to get loan in minimum possible cost with maximum benefits. Thank you Gurpreet sir & Eduloans team, i will always remember your support.
										
										
									</p>
								</blockquote>
							</div>
							 <div class="profile-circle" >
								<div class="content">
								<img src="images/avatar-grey.png" alt="grey avatar" class="testi-profile-img" >
						
								<ul>
								<li><strong>Rohit Gokul Patil</strong></li>
								<li>Country : USA </li>
								<li>University  : California state university </li>
								<li>Course : mechanical engg </li>
								<li>Loan Provider : DHFL Avanse - Collateral </li>
								</ul>
									
								  </div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="testimonial-item ">
						   
							<div class="testimonial-message">
								<blockquote>
									<p>EduLoans was extremely helpful to me during my loan application procedure. They had good contacts with bank officials and put proper pressure on them and this resulted in my process acceleration. Especially Gurpreet was very helpful and always available.</p>

									<p>Had a good experience with EduLoans. Thank you! </p>
								</blockquote>
							</div>
							 <div class="profile-circle" >
								<div class="content">
								<img src="images/avatar-grey.png" alt="grey avatar" class="testi-profile-img" >
						
									<ul>
										<li><strong>Pranav Mody</strong></li>
										<li>Country :  </li>
										<li>University  :  </li>
										<li>Course :  </li>
										<li>Loan Provider : Bank of Baroda - collateral </li>
									</ul>
									
								  </div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="testimonial-item ">
						   
							<div class="testimonial-message">
								<blockquote>
									<p>My name is Karan Tongay, I will be going to pursue my Higher Education in Canada this Fall. I had enrolled for Eduloans and I am taking the opportunity to write a testimonial for Eduloans.</p>

									<p>Firstly, I want to thank Banit Sir and Gurpreet Sir for their non-stop guidance starting since choosing the bank for education loan to getting the loan approved. May it be any time of the day, you were always available promptly for addressing the doubts and solving the issues which was highly essential and the communication and follow ups were commendable. </p>

									<p>In addition, I believe, guidance from Eduloans is very essential for every individual who are opting for education loans since it is very rare that the banks are able to advise or explain all the information and benefits of certain schemes, which are very important to know and which helps in the long run, this is handled well by the Eduloans. </p>

									<p>Moreover, a huge thanks to Gurpreet Sir and Banit Sir.</p>
								</blockquote>
							</div>
							 <div class="profile-circle" >
								<div class="content">
								<img src="images/avatar-grey.png" alt="grey avatar" class="testi-profile-img" >
						
									<ul>
										<li><strong>Karan Tongay</strong></li>
										<li>Country :  Canada</li>
										<li>University  :  University of British Columbia </li>
										<li>Course :  Masters in Computer Science</li>
										<li>Loan Provider :State Bank of India - Collateral </li>
									</ul>
									
								  </div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="testimonial-item ">
						   
							<div class="testimonial-message">
								<blockquote>
								<p>When it comes about funding, you need to connect with the right people within the financial institutions who guide with the paperwork and formalities. If you have Eduloans by your side, you surely will connect with the best financial institutions and best suited loan proposals for your unique requirements with the best Interest Rates you can get anywhere. </p>
								<p>Eduloans has a vast network of financial institutions partnered with them to offer the best Interest rates for your educational loans. But what sets them apart is the kind of connect Mr. Gurpreet makes with you as a student and not merely as a borrower. He understands each complexity one can face and gives solutions to the same within no time. It is only because of his continuous assistance and patient ear, I could secure the best financing option for my education. </p>
								</blockquote>
							</div>
							 <div class="profile-circle" >
								<div class="content">
								<img src="images/avatar-grey.png" alt="grey avatar" class="testi-profile-img" >
						
									<ul>
										<li><strong>Prathamesh Shinde </strong></li>
										<li>Country :  USA</li>
										<li>University  : University of Texas Dallas </li>
										<li>Course :  MS in Business Analytics</li>
										<li>Loan Provider : Incred - No Collateral </li>
									</ul>
									
								  </div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="testimonial-item ">
						   
							<div class="testimonial-message">
								<blockquote>
								<p>It can be a daunting task when it comes to the process , especially for applying and receving an education loan from a public sector bank. </p>

								<p>However , it was Gurpreet due to whom this task become much simpler and convenient at SBI.</p>

								<p>He was regular in taking and giving updates and also gave us the right push we needed when we were off the track.</p>

								<p>It was through him that our process fastened and we could finally get the loan amount sanctioned after all the hustle bustle !</p>

								<p>Thank you Gurpreet for all the support and guidance !</p>
								</blockquote>
							</div>
							 <div class="profile-circle" >
								<div class="content">
								<img src="images/avatar-grey.png" alt="grey avatar" class="testi-profile-img" >
						
									<ul>
										<li><strong>Sneha Warrier </strong></li>
										<li>Country :  USA</li>
										<li>University  : NJIT</li>
										<li>Course :  MIS</li>
										<li>Loan Provider : State Bank of India - collaterals </li>
									</ul>
									
								  </div>
							</div>
							
						</div>
					</li>
				</ul>
			</div>
			
		</div>	
	</div>	
</section>	
	
	


<!--section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
				<h2>Upcoming Events, Overseas Education Webinars, Seminars...</h2>
			
			</div>
		</div>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
			<div class="card-offer">
			  <a href=""><img src="images/offer-page-flights.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				
				<div class="">
				<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 28 Feb 2019 &nbsp;&nbsp; 19:00 - 20:00 <span class="pay_type"> Free</span> </p>
				<a href="" title="Proving your University that you are financially strong - How?"> Proving your University that you are financially strong - How? </a>
				</div>
				<div style="    border-top: 1px solid lightgrey;
    padding-top: 10px;
    margin-top: 10px;"><p> <span class="">Webinar</span>
						<span class="pull-right"><a href="" title="Proving your University that you are financially strong - How?" class="btn btn-primary">Event details</a></span>
					</p>
				</div>
			  </div>
			</div>
		  </div>
		  
		  <div class="col-sm-6 col-md-4">
			<div class="card-offer">
			  <a href=""><img src="images/offer-exams.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				
				
					<div class="">
				<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2019 &nbsp;&nbsp; 19:00 - 20:00 <span class="pay_type"> Free</span> </p>
				<a href="" title="Get cashback on Registering Exams"> Get cashback on Registering Exams from Eduloans </a>
				</div>
				<div style="    border-top: 1px solid lightgrey;
    padding-top: 10px;
    margin-top: 10px;"><p> <span class="">Webinar</span>
						<span class="pull-right"><a href="" title="Proving your University that you are financially strong - How?" class="btn btn-primary">Event details</a></span>
					</p>
				</div>
			  </div>
			</div>
		  </div>
		  
			<div class="col-sm-6 col-md-4">
			<div class="card-offer">
			  <a href=""><img src="images/offer-page-10.jpg" alt=" " class="img-responsive"></a>
			  <div class="caption">
				
							<div class="">
				<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 15 Dec 2018 &nbsp;&nbsp; 19:00 - 20:00 <span class="pay_type"> Free</span> </p>
				<a href="" title="Get cashback on Registering Exams"> Know the benefits you are getting on Registering at Eduloans - Know more </a>
				</div>
				<div style="    border-top: 1px solid lightgrey;
    padding-top: 10px;
    margin-top: 10px;"><p> <span class="">Seminar</span>
						<span class="pull-right"><a href="" title="Proving your University that you are financially strong - How?" class="btn btn-primary">Event details</a></span>
					</p>
				</div>
			  </div>
			</div>
		  </div>

		</div>
		
	
	</div>
</section-->


<style>
/* youtube lazyload css */

	.ywrapper {
	max-width: 560px; /* 680px; */
	/*margin: 60px auto;
	padding: 0 20px;*/
	margin: 0 auto;
}

.youtube {
	background-color: #000;
	margin-bottom: 30px;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
}
.youtube img {
	width: 100%;
	top: -16.82%;
	left: 0;
	opacity: 1;
}
.youtube .play-button {
	width: 68px;
	height: 48px;
	background-color: #333;
	/* box-shadow: 0 0 30px rgba( 0,0,0,0.6 ); */
	z-index: 1;
	opacity: 0.8;
	border-radius: 8px; 
 background: inherit;


}
.youtube .play-button:before {
	content: "";
	border-style: solid;
	border-width: 10px 0 10px 18.0px;
	border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
	cursor: pointer;
	
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
	position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.youtube img:hover,
.youtube .play-button:hover {
	background-color: #ff0000;
	opacity: 1;
}

.profile-circle ul{
padding:0px;
}
	</style>

	
 <script>
 $('#testimonial-video').owlCarousel({
		 items:1,
        merge:true,
        loop:false,
        margin:10,
        video:true,
        lazyLoad:true,
        center:true,
		autoplay: false,
		autoplayTimeout: 5000,
		autoplayHoverPause: false,
		autoplaySpeed: false
    });
 </script>
 
 
<script>
/** youtube lazyload begin **/

( function() {

	var youtube = document.querySelectorAll( ".youtube" );
	
	for (var i = 0; i < youtube.length; i++) {
		
		var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";
		
		var image = new Image();
				image.src = source;
				image.addEventListener( "load", function() {
					youtube[ i ].appendChild( image );
				}( i ) );
		
				youtube[i].addEventListener( "click", function() {

					var iframe = document.createElement( "iframe" );

							iframe.setAttribute( "frameborder", "0" );
							iframe.setAttribute( "allowfullscreen", "" );
							iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );

							this.innerHTML = "";
							this.appendChild( iframe );
				} );	
	};
	
} )();

 /** youtube lazyload end -  https://codepen.io/tutsplus/pen/RRVRro  **/
</script>
