<!-- content begin -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Uploading Your <br/> Documents</h1>
                <ul class="crumb">
                    <li><a href="#" onclick="window.location.href='/';">Home</a></li>
					<li class="sep">/</li>
                    <li><a href="/faq">FAQ's</a></li>
                    <li class="sep">/</li>
                    <li>Uploading Your Documents</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="section-testimonial" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="us-related" data-animation="fadeInRight" data-delay="200">
                <div class="col-md-4">
                    <div class="bs-example" style="text-align:justify;">
                        <div class="panel-group" id="accordionleft">
                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/others">General FAQ's</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/process">Application Process</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/review">Application Review</a>
                                    </h4>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/offer">Provisional Offer</a>
                                    </h4>
                                </div>

                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/upload-document">Providing Your Documents</a>
                                    </h4>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/disbursement">Disbursement</a>
                                    </h4>
                                </div>

                            </div>

                    		<div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/study-and-grace">Study And Grace Period</a>
                                    </h4>
                                </div>

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/repayment">Loan Repayment</a>
                                    </h4>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-md-8 " data-animation="fadeInRight" data-delay="200">

					<div class="bs-example">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_1'">
                                    <h4 class="panel-title">
                                        <a>1. What are documents, which need to be provided?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_1'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">The list of documents for verification is generally written on the offer letter provided. <br/>
                                        On submission of the required set of documents requested by the financial partner, there would be steps such as a) Legal Verification b) Valuation etc. Once completed and found satisfactory you will receive communication to sign your loan agreement through our financial partners. We will coordinate your loan agreement and mortgage requirements with our financial partners. You would have a dedicated loan guidance counselor hand hold you throughout the process.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_2'">
                                    <h4 class="panel-title">
                                        <a>2. What documents can be used as proof of savings?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_2'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">We may request that you provide proof of savings as per the amount provided in your application. Please upload relevant documents to your dashboard to complete this task.<br/>
                                        If you have already made payments to the school, you may include confirmation of such payments as part of your proof of savings. This will include transfer receipts or a paid invoice from the school with the accompanying bank statement showing the outgoing payment from your account.<br/>
                                        Eduloans funds up to 100% of the required fund for study. We would require you to prove availability of the remaining balance in liquid or semiliquid form like Gold Valuation, LIC NPV, Shares Market Value etc.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_3'">
                                    <h4 class="panel-title">
                                        <a>3. What documents will be accepted as proof of address?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_3'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">You will be required to upload a scan of an official document that proves your address. Examples include: utility bills, bank statements, official government documents, or similar documents sent to your residential address. <br/>
                                        The document must carry your name and must have your current residential address on it (the same address identifying you in the draft Loan Agreement). It must be less than 3 months old.
                                        </p>
                                    </div>
                                </div>
                            </div>
                    		<div class="panel panel-default">
                                <div class="panel-heading" ng-click="accordion.current = 'accordian_4'">
                                    <h4 class="panel-title">
                                        <a>4. What is the time taken during submission of documents?</a>
                                    </h4>
                                </div>
                                <div ng-show="accordion.current == 'accordian_4'" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align:justify;">Generally this process would take approximately 10 to 15 working days depending on the financial partner and the student. We recommend that the student should keep the entire set ready and submit the same in a single go rather than multiple times.

                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

				</div>
			</div>

        </div>
    </div>
</section>
<section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
    <span>Have Additional Questions ?</span><br/>
    <p>Visit our support page to get your questions answered</p>
    <a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
</section>

<!-- footer begin -->
<footer style="color:#000;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul style="text-transform:uppercase; list-style-type:none; color:#000;">
                    <li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
                    <li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
                    <li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
                    <li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
                    <li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
                    <li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <ul style="text-transform:uppercase;">
                        <li> <strong>Registered Office :</strong><br>
                            Office no 32/33, 2nd Floor,<br>
                            Dheeraj Heritage, Santacruz (W)<br>
                            Telephone: +91 22 26605549 <br>
                            Mobile : +91 98191 19363 / +91 91676 63090<br>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget-address">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="color:#fff;margin-top: 5px;">
                    © Copyright 2017 - Eduloans | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
                </div>
                <div class="col-md-6 text-right">
                    <div class="social-icons">
                        <a href=""><i class="fa fa-facebook fa-lg"></i></a>
                        <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-google-plus fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->
