<style type="text/css">
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #004b7a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #fafafb, #d8d9da);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #fafafb, #d8d9da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}
.banner-sec{background:url(images/events/InstagramPost.jpg)  no-repeat left bottom; background-size:cover; min-height:735px; border-radius: 0   ; padding:0;background-position: center center;    margin-top: 2%;}

@media (min-width: 320px) and (max-width: 1024px) {
  .banner-sec{
    background-size: contain;
        min-height: 425px;
        margin-top: 0px;
  }
}

.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #004b7a;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#f9992f; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #f9992f; color:#fff; font-weight:600;}
.form-control{
  display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
</style>

<section class="login-block">
    <div class="container" style="background:#fff; border-radius: 10px; box-shadow: 5px 5px 0px rgba(0,0,0,0.1);">
    <div class="row">
        <div class="col-md-6 login-sec">
            <h2 class="text-center">Registration For Visa Session</h2>

            <form class="login-form" >

              <!-- <div class="col-md-12 form-group">

                  <label for="inputEmail3" class="text-uppercase">Webinar Name</label>
                  <input type="text" class="form-control" id="webinar_name" name="webinar_name" ng-model="webinar_name" disabled>

              </div> -->

              <div class="col-md-12 form-group">

                  <label for="inputEmail3" class="text-uppercase">Name</label>
                  <input type="text" class="form-control" id="student_name" name="student_name" ng-model="first_name" placeholder="Name" required>

              </div>

               <div class="col-md-12 form-group">

                    <label for="inputEmail3" class="text-uppercase">Email</label>
                    <input type="email" class="form-control" id="student_email" name="student_email" ng-model="user_email" placeholder="Email" required>

                </div>

                <div class="col-md-12 form-group">

                     <label for="inputEmail3" class="text-uppercase">Mobile Number</label>
                     <input type="text" class="form-control" id="student_phone" name="student_phone" ng-model="user_mobile" placeholder="Mobile Number : Don't put any code just 10 digit Mobile Number"  maxlength="10" required>

                </div>


                    <div class="col-md-12 form-group">

                      <label for="" class="control-label text-uppercase">City</label>

                      <!--<angucomplete-alt id="user_city" pause="300" selected-object="user_city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" required></angucomplete-alt>-->

                      <select name="student_city" id="student_city" class="form-control" required>
                          <option value="">- City -</option>
                          <option value="Mumbai">Mumbai</option>
                          <option value="Pune">Pune</option>
                          <option value="Bangalore">Bangalore</option>
                          <option value="Hyderabad">Hyderabad</option>
                          <option value="Other">Other</option>
                        </select>

                    </div>

                    <div class="col-md-12 form-group">
                       <label for="inputEmail3" class="text-uppercase"> Which Intake you are Planning to go? &nbsp;&nbsp; </label>

                        <select name="user_intake" id="student_intake" ng-model="student_intake" class="form-control" style="width:100%; height:30px; font-size:12px;" required>

                          <option value="">Select Intake</option>
                          <option value="fall2023">Fall 2023</option>
                          <option value="spring2024">Spring 2024 </option>
                          <option value="Beyond">Beyond</option>
                        </select>
                    </div>

                    <div class="col-md-12 form-group">
                       <label for="inputEmail3" class="text-uppercase"> Educational Loan Required ? &nbsp;&nbsp; </label>

                        Yes <input type="radio" onclick="javascript:yesnoCheck();" name="user_loan" id="userLoanYes"> No <input type="radio" onclick="javascript:yesnoCheck();" name="user_loan" id="userLoanNo">
                    </div>

                    <div class="col-md-12 form-group" id= "user_loan_type_div" style="display: none;">
                      <div class="form-group mb-20" >
                         <label class="text-uppercase" >Educational Loan Type &nbsp;&nbsp;
                          </label>
                          <select name="user_loan_type" id="user_loan_type" class="fieldss form-control"  required >
                            <option value="">- Select Loan Type ?-</option>
                            <option value="Collateral"> Collateral</option>
                            <option value="Non-Collateral"> Non-Collateral</option>
                          </select>
                      </div>
                    </div>
                    <script type="text/javascript">
                      function yesnoCheck() {
                          if (document.getElementById('userLoanYes').checked) {
                              document.getElementById('user_loan_type_div').style.display = 'block';
                          }
                          else document.getElementById('user_loan_type_div').style.display = 'none';

                      }
                    </script>

                    <div class="col-md-12 form-group">

                        <label for="inputEmail3" class="text-uppercase">Preferred targeted Universities</label>
                        <input type="text" class="form-control" id="user_university" name="user_university" ng-model="preffered_uni" placeholder="Name" required>

                    </div>


                    <div class="col-md-12 form-group">
                       <label for="inputEmail3" class="text-uppercase"> Already enrolled with imperial? &nbsp;&nbsp; </label>

                        Yes <input type="radio" onclick="javascript:yesnoEnrollCheck();" name="user_enrolled" id="userEnrolledYes"> No <input type="radio" onclick="javascript:yesnoEnrollCheck();" name="user_enrolled" id="userEnrolledNo">
                    </div>

                    <div class="col-md-12 form-group" id= "user_enrolled_branch_div" style="display: none;">
                      <div class="form-group mb-20" >
                         <label class="text-uppercase">Nearest Branch &nbsp;&nbsp;
                          </label>
                          <select name="user_enrolled_branch" id="user_enrolled_branch" class="fieldss form-control" required >
                            <option value="">- Select Imperial Branch -</option>
                            <option value="Santacruz">Santacruz</option>
                            <option value="Borivali">Borivali</option>
                            <option value="Thane">Thane</option>
                            <option value="Hinjewadi">Hinjewadi</option>
                            <option value="Kothrud">Kothrud</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Hyderabad">Hyderabad</option>
                          </select>
                      </div>
                    </div>

                    <script type="text/javascript">
                      function yesnoEnrollCheck() {
                          if (document.getElementById('userEnrolledYes').checked) {
                              document.getElementById('user_enrolled_branch_div').style.display = 'block';
                          }
                          else document.getElementById('user_enrolled_branch_div').style.display = 'none';

                      }
                    </script>

              <div class="form-check" style="text-align: center;">
                <!-- <button type="submit" class="btn btn-login" ng-click="submitForm()">Submit</button> -->
                 <button type="button" style="text-align: center; border-radius:5px;" class="btn btn-lg btn-warning" id="reset" onclick="window.location.reload();">Reset</button>
                  <input type="button"  style="text-align: center; border-radius:5px;    padding: 10px 16px !important;" class="btn btn-lg btn-info" value="Register" onclick="javascript:resgistration()"></button>
              </div>


            </form>
        </div>
        <div class="col-md-6 banner-sec">

        </div>
    </div>
</div>
</section>

<script type="text/javascript">


    function resgistration(){


     var student_name = $('#student_name').val();
     var student_email = $('#student_email').val();
     var student_phone = $('#student_phone').val();
     var student_intake = $('#student_intake').val();

     var user_city = $('#student_city').val();
     var user_loan = document.getElementById('userLoanYes').checked ? "YES" : "NO";
     var user_loan_type = $('#user_loan_type').val();
     var user_university = $('#user_university').val();
     var user_enrolled = document.getElementById('userEnrolledYes').checked ? "YES" : "NO";
     var user_enrolled_branch = $('#user_enrolled_branch').val();
     var user_source = "EDULOANS";


     var dataString = 'student_name=' + student_name + '&student_email=' + student_email + '&student_phone=' + student_phone + '&student_intake=' + student_intake
                      + '&user_city=' + user_city + '&user_loan=' + user_loan + '&user_loan_type=' + user_loan_type + '&user_university=' + user_university
                      + '&user_enrolled=' + user_enrolled + '&user_enrolled_branch=' + user_enrolled_branch + '&user_source=' + user_source ;

     event.preventDefault();

     $.ajax({

     type: "POST",

     url: "https://www.hellouni.org/imperial/event/Data",

     data: dataString,

     cache: false,

     success: function(result){

      if(result == "SUCCESS"){

        alert("Thank You For Registration For Visa Seminar Event..!!!");

        window.location.reload();

      } else if(result == 'REGISTERED_EMAIL'){

        alert("With Email-ID Or Mobile Account Already Exists");

      } else {

        alert(result);

      }

     }

    });

   }

    </script>
