<style type="text/css">
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #004b7a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #fafafb, #d8d9da);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #fafafb, #d8d9da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}
.banner-sec{background:url(images/events/InstagramPost.jpg)  no-repeat left bottom; background-size:contain; min-height:600px; border-radius: 0 10px 10px 0; padding:0;background-position: center center;    margin-top: 5%;}

.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #004b7a;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#f9992f; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #f9992f; color:#fff; font-weight:600;}
.form-control{
  display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
</style>

<section class="login-block">
    <div class="container" style="background:#fff; border-radius: 10px; box-shadow: 5px 5px 0px rgba(0,0,0,0.1);">
    <div class="row">
        <div class="col-md-6 login-sec">
            <h2 class="text-center">Registration For Webinar</h2>

            <form class="login-form" ng-submit="webinarRegistration()" >

              <div class="col-md-12 form-group">

                  <label for="inputEmail3" class="text-uppercase">Webinar Name</label>
                  <input type="text" class="form-control" id="webinar_name" name="webinar_name" ng-model="webinar_name" disabled>

              </div>

              <div class="col-md-12 form-group">

                  <label for="inputEmail3" class="text-uppercase">Name</label>
                  <input type="text" class="form-control" id="first_name" name="first_name" ng-model="first_name" placeholder="Name" required>

              </div>

               <div class="col-md-12 form-group">

                    <label for="inputEmail3" class="text-uppercase">Email</label>
                    <input type="email" class="form-control" id="user_email" name="user_email" ng-model="user_email" placeholder="Email" required>

                </div>

                <div class="col-md-12 form-group">

                     <label for="inputEmail3" class="text-uppercase">Mobile Number</label>
                     <input type="text" class="form-control" id="user_mobile" name="user_mobile" ng-model="user_mobile" placeholder="Mobile Number : Don't put any code just 10 digit Mobile Number"  maxlength="10" ng-blur="webinarCheckUser()" required>

                </div>

                <div class="col-md-12 form-group" id="optCheck" style="display:none;">
                  <div class="col-md-6">
                    <label for="inputEmail3" class="text-uppercase">OTP</label><br>
                      <input type="text" class="form-control" id="otp_number" name="otp_number" ng-model="otp_number" placeholder="OTP Sent On Mobile ">
                    </div>
                    <div class="col-md-6">
                       <button type="button" class="btn btn-primary" id="verifyotp" ng-click="webinarVerifyOTP()" style="margin-top: 25px;"> Verify </button>
                    </div>
                </div>


                    <div class="col-md-12 form-group">

                      <label for="" class="control-label text-uppercase">City</label>

                      <angucomplete-alt id="user_city" pause="300" selected-object="user_city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" required></angucomplete-alt>

                    </div>

                    <div class="col-md-12 form-group">
                       <label for="inputEmail3" class="text-uppercase"> Which Intake you are Planning to go? &nbsp;&nbsp; </label>

                        <select name="user_intake" id="user_intake" ng-model="user_intake" class="form-control" style="width:100%; height:30px; font-size:12px;" required>

                          <option value="">Select Intake</option>
                          <option value="January - February 2020"> January - February 2020 </option>
                          <option value="June - July 2020"> June - July 2020 </option>
                          <option value="August - September 2020"> August - September 2020 </option>
                          <option value="January - February 2021"> January - February 2021 </option>
                          <option value="June - July 2021"> June - July 2021 </option>
                          <option value="August - September 2021"> August - September 2021 </option>
                          <option value="January - February 2022"> January - February 2022 </option>
                          <option value="June - July 2022"> June - July 2022 </option>
                          <option value="August - September 2022"> August - September 2022 </option>
                        </select>
                    </div>

              <div class="form-check" style="text-align: center;">
                <!-- <button type="submit" class="btn btn-login" ng-click="submitForm()">Submit</button> -->
                 <button type="button" style="text-align: center; border-radius:5px;" class="btn btn-lg btn-warning" id="reset" onclick="window.location.reload();">Reset</button>
                  <input type="submit"  style="text-align: center; border-radius:5px;    padding: 10px 16px !important;" class="btn btn-lg btn-info" value="Register"></input>
              </div>


            </form>
        </div>
        <div class="col-md-6 banner-sec">

        </div>
    </div>
</div>
</section>
