<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
       <section class="content-header container">
        <h1>
          Upload Data
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i> Bulk Upload</a></li>
          <li class="active">Upload Data</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="container no-pad">

        <div ng-controller = "adminleaduploadController">
          <div class="col-lg-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Upload Leads</h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">
                  <!-- <div class="form-group">
                    <label  class="col-sm-2 control-label">Data Type</label>

                    <div class="col-sm-10">
                      <select class="form-control" name="select_type" id="select_type" ng-model="select_type" ng-change="collegeListOrAgentList()" >
                  <option value="" >Select Type</option>
                  <option value="SEMINAR" >Seminar</option>
                  <option value="AGENTS" >Agent</option>
                  <option value="BULK_DATA" >Bulk Data</option>
                </select>
                    </div>
                  </div> -->
                  <!-- <div id="agentcolid" class="form-group hidden">
                    <label  class="col-sm-2 control-label"> Agent / College</label>

                    <div class="col-sm-10">
                      <select class="form-control" ng-model="select_coll_agent" ng-options="item.id as (item.display_name) for item in collagentlist" >
                  <option value="" >Select Source</option>
                </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Source List</label>

                    <div class="col-sm-10">
                      <select class="form-control" ng-model="select_source" ng-options="item.id as (item.display_name ) for item in dropdowndata" >
                  <option value="" >Select Source</option>
                </select>
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label class="col-sm-2 control-label">CSV File </label>

                    <div class="col-sm-10">
                      <input type="file" id="fileUpload" />
                    </div>
                  </div>

                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-left" id="upload" value="Upload" ng-click="Upload()">Upload</button>
                </div>
              </form>
              <div class="box" ng-show = "showdata">
                <div class="box-header bg-aqua">
                    <h3 class="box-title">Leads created</h3>
                </div>
                <div class="box-body table-responsive no-padding mxWidthHeight">
                    <table ng-table="tableParams" class="table table-bordered table-striped table-hover" show-filter="true">
                        <tr ng-repeat="value in $data" id="list_table">
                            <td title="'Email'" filter="{email: 'text'}" sortable="'email'">{{value.email}}</td>
                            <td title="'Mobile'" filter="{ mobile: 'text'}" sortable="'mobile'">{{value.mobile}}</td>
                            <td title= "'Status'" filter = "{status: 'text'}" sortable = "'status'">{{value.status}}</td>
                            
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box" ng-show = "showdata">
              <div class="box-header bg-aqua">
                  <h3 class="box-title">Leads not created</h3>
              </div>
              <div class="box-body table-responsive no-padding mxWidthHeight">
                  <table ng-table="tableParams1" class="table table-bordered table-striped table-hover" show-filter="true">
                      <tr ng-repeat="value in $data" id="list_table">
                          <td title="'Email'" filter="{email: 'text'}" sortable="'email'">{{value.email}}</td>
                          <td title="'Mobile'" filter="{ mobile: 'text'}" sortable="'mobile'">{{value.mobile}}</td>
                          <td title= "'Status'" filter = "{status: 'text'}" sortable = "'status'">{{value.status}}</td>
                          
                      </tr>
                  </table>
              </div>
          </div>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->
    </div>
    <div class="control-sidebar-bg"></div>
  </div>
