<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
.titleList{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    padding: 4% 0px;
}

#myTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myTable td, #myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}


#myTable tr:hover {
  background-color: #ddd;
}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #004b7a;
  color: white;
}


.button2 {
  background-color: #008CBA; 
  color: black; 
  border: 2px solid white;
}

.button2:hover {
  background-color: white;
  color: #008CBA;
}

.alignC{
  text-align: center !important;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
} 

.wrimagecard{
  width: 200px;
    height: 200px;
    margin-top: 0;
    /* margin-right: 33px; */
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 12px;
    transition: all 0.3s ease;
}

.wrimagecard:hover  {
  background: #004b7a;
}

.wrimagecard h5{
  color: #f6882c;
}

.wrimagecard:hover i, .wrimagecard:hover h5, .wrimagecard:hover p{
  color: #fff;
}


.wrimagecard .fa , .wrimagecard .fas{
    position: relative;
    font-size: 50px;
    color: #004b7a;
}

.wrimagecard-topimage_header{
padding: 32px 20px 10px 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
    color: white;
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 4px 10px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
    text-align: center;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

.wrimagecard-topimage_title p{
    margin: 0px;
    font-size: 12px;
    line-height: 1;
    font-weight: bolder;
    letter-spacing: 0.4px;
   word-break: break-all;
}

.col-offset-half{
 margin-left: 4.166666667%;
}
</style>
<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/community/communityPage.jpg); background-size: cover;background-position: top center;width: 100%;height: 500px;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="titleList">Community Page</h1>
         </div>
      </div>
   </div>
</section>
<section>
  <div class="container">
    <div class="center-block">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
     
        <div class="panel panel-primary" >
          <div class="panel-heading" role="tab" id="headingTwo" style="background-color: #004b7a;color: white;">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" >
                About Community
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body" >
              <div class="col-md-12" style="margin-bottom: 3%;">
                <div class="col-md-2 col-sm-4 ">
                    <div class="wrimagecard wrimagecard-topimage">
                       <a href="#" target="_blank">
                        <div class="wrimagecard-topimage_header">
                          <center><i class="fa fa-bookmark"></i></center>
                        </div>
                        <div class="wrimagecard-topimage_title">
                          <h5>Community Name</h5>
                          <p>{{communityName}}</p>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-offset-half">
                  <div class="wrimagecard wrimagecard-topimage">
                      <a href="#" target="_blank">
                      <div class="wrimagecard-topimage_header">
                        <center><i class="fa fa-user-circle"></i></center>
                      </div>
                      <div class="wrimagecard-topimage_title">
                        <h5>Partner Name</h5>
                        <p>{{partnerName}}</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-offset-half">
                    <div class="wrimagecard wrimagecard-topimage">
                      <a href="#">
                        <div class="wrimagecard-topimage_header">
                          <center><i class="fa fa-users"> </i></center>
                        </div>
                        <div class="wrimagecard-topimage_title">
                          <h5>Student Count</h5>
                          <p>{{studentCount}}</p>
                        </div>

                      </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-offset-half">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="#">
                        <div class="wrimagecard-topimage_header">
                           <center><i class="fa fa-calendar"></i></center>
                        </div>
                        <div class="wrimagecard-topimage_title">
                          <h5>Date Created</h5>
                          <p>{{communityDateCreated}}</p>
                        </div>

                      </a>
                    </div>
                </div>
                
            </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
    <table id="myTable" ng-table="tableParams" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name Of Community</th>
                <th class="alignC">Action</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="value in $data" id="assign_table">
                <td>{{value.community_name}}</td>
                <!-- <td class="alignC"><button class="btn btn-md btn-primary button2">Join</button></td> -->
                <td ng-if="community_joined = 'NO'"><button  ng-click="joinCommunity()" class="btn btn-md btn-primary button2">Join</button></td>

            </tr>
          </tbody>
    </table>
  </div>
</section>


<script type="text/javascript">
  function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}


 $('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.panel-heading').addClass('active');
  });

  $('.panel-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.panel-heading').removeClass('active');
  });
</script>



