
<style type="text/css">
   .inputBorder{
          border-color: ghostwhite !important;
    border-bottom-color: #47494a !important;
    background-color: ghostwhite;
   }

   .gridOptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .formcreate{
    background-color: ghostwhite;
    margin-top:  4%;
    padding: 1% 2%;
    margin-bottom: 4%;
  }

  .mainselection {
    overflow: hidden;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #ccc9cc;
    background: #004b7a;
}

.mainselection select {
    border: 0;
    color: #fff;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 10px;
    width: -webkit-fill-available;
    /*height: 45px;*/
}

.mainselection select option {
    color: white;
    background-color: #004b7a !important;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.gridOptions label{
   font-size: initial;
    margin-right: 8px;
}
}
</style>
<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<!-- <section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/university-campus.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Events</h1>
         </div>
      </div>
   </div>
</section> -->

<div class="container">
   <div class="col-md-12" style="margin-top: 30px;">
      <div class="col-md-6" style="    padding: 10% 0px;">
         <h2><b>Create Your Own Community</b></h2>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
      <div class="col-md-6">
         <img src="images/community/create.png" alt="community" style="width:100%;">
      </div>
   </div>
</div>
<div class="container formcreate">
   <div class="row">
      <div class="col-lg-12 headingBox">
         <h2>Create Community Form </h2>
      </div>
   </div>
   <div class="row">
     <form class="row">
       <div class="col-md-12 col-sm-12 form-group" style="    display: inline-flex;">
        <label for="" class="col-md-3 control-label">Name Of Community</label>
          <input class="col-md-9 form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required inputBorder" name="firstname" id="firstname" ng-model="first_name" required="">
       </div>

       <div class="col-md-12 col-sm-12 form-group gridOptions">
          <div class="form-group">
           <label for="" class="control-label">Country</label>
             <input type="checkbox" id="checkbox1"/>
          </div>
          <div class="form-group">
           <label for="" class="control-label">University</label>
             <input type="checkbox" id="checkbox2"/>
          </div>
          <div class="form-group">
           <label for="" class="control-label">Course</label>
             <input type="checkbox" id="checkbox3"/>
          </div>
          <div class="form-group">
           <label for="" class="control-label">City</label>
             <input type="checkbox" id="checkbox4"/>
          </div>
          <div class="form-group">
           <label for="" class="control-label">Financial Inst.</label>
             <input type="checkbox" id="checkbox5"/>
          </div>
       </div>

        <div class="checkbox1 selectt col-md-6 form-group" style="display: none;">
          <label for="" class="control-label">Country *</label>
          <div id="count1" class="mainselection">
             <select class="form-control" name="country1" ng-init="country = 'Please Select'" ng-model="country1" required onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                <option>Please Select Country</option>
                <option ng-repeat="option in allCountries" value="{{option.id}}">{{option.display_name}}</option>
              </select>
            
           </div>
        </div>
        <div class="checkbox2 selectt col-md-12 form-group" style="display: none;">
        <div class="col-md-6">
            <label for="" class="control-label">Country *</label>
          <div id="count2" class="mainselection">
             <select class="form-control" name="country2" ng-init="country = 'Please Select'" ng-model="country2" ng-change="getAllUiniversityByCountryId()" required onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                <option>Please Select Country</option>
                <option ng-repeat="option in allCountries" value="{{option.id}}">{{option.display_name}}</option>
              </select>
           </div>
        </div>
        <div class="col-md-6">
            <label for="" class="control-label">University *</label>
         <div id="uni" class="mainselection">
             
              <select name="uni" id="uni" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
               <option>Please Select</option>
               <option ng-repeat="option in allUniversity" value="{{option.id}}">{{option.university_display_name}}</option>

              </select>
           </div>
        </div>
        
        </div>
        <div class="checkbox3 selectt col-md-12 form-group" style="display: none;">
         <div class="col-md-6">
            <label for="" class="control-label">Main Course *</label>
          <div id="course" class="mainselection">
             
              <select class="form-control" name="course" ng-init="course = 'Please Select'" ng-model="course" ng-change="getAllSubCourseByCourseId()" required onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                <option>Please Select course</option>
                <option ng-repeat="option in allCourse" value="{{option.id}}">{{option.display_name}}</option>
              </select>
           </div>
         </div>
         <div class="col-md-6">
            <label for="" class="control-label">Sub Course *</label>
          <div id="course" class="mainselection">
             
              <select name="subCourse" id="subCourse" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
               <option>Please Select</option>
               <option ng-repeat="option in allSubCourse" value="{{option.id}}">{{option.display_name}}</option>

              </select>
           </div>
         </div>
          
        </div>
        
     
       <div class="checkbox4 col-md-12 col-sm-12 form-group" style="display: none;">
         <!--  <div class="col-md-4">
          <label for="" class="control-label">Country *</label>
          <div id="course" class="mainselection">
             <select class="form-control" name="country" ng-init="country = 'Please Select'" ng-model="country" ng-change="getAllStateByCountryId()" required onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
            <option>Please Select</option>
            <option ng-repeat="option in allCountries" value="{{option.id}}">{{option.display_name}}</option>
         </select>
         </div>
          </div> -->
          <div class="col-md-4">
            <label for="" class="control-label">State *</label>
          <div id="course" class="mainselection">
             
            <select class="form-control" name="state" ng-init="state = 'Please Select'" ng-model="state" ng-change="getAllCityByStateId()" required onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
               <option>Please Select</option>
               <option ng-repeat="option in allStates" value="{{option.id}}">{{option.display_name}}</option>
            </select>
           </div>
         </div>
          <div class="col-md-4">
           <label for="" class="control-label">City *</label>
           <div id="course" class="mainselection">
            <select class="form-control" name="city" ng-init="city = 'Please Select'" ng-model="city" required onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
               <option>Please Select</option>
               <option ng-repeat="option in allCities" value="{{option.id}}">{{option.display_name}}</option>
            </select>
            </div>
         </div>
         
       </div>
       
       <div class="checkbox5 selectt col-md-6 form-group" style="display: none;">
          <label for="" class="control-label">Financial Institution *</label>
          <div id="fi" class="mainselection">
             
              <select class="form-control" name="companyname" ng-init="company_name = 'Please Select'" ng-model="company_name" required onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                    <option>Please Select </option>
                    <option ng-repeat="option in banksList" value="{{option.id}}">{{option.display_name}}</option>
                </select>
           </div>
        </div>

        
       
      <div class="col-md-12 col-sm-12 form-group">
       <input type="Submit" class="btn btn-lg btn-primary" value="Create" style="    width: 175px;">
      </div>
     </form>
   </div>
</div>


<script type="text/javascript">
   $(document).ready(function() {
       $('input[type="checkbox"]').click(function() {
           var inputValue = $(this).attr("id");
           $("." + inputValue).toggle();
       });
   });
</script>

