
<style type="text/css">


.titleList{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    padding: 4% 0px;
}

#myTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myTable td, #myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*#customers tr:nth-child(even){background-color: #f2f2f2;}*/

#myTable tr:hover {background-color: #ddd;}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #004b7a;
  color: white;
}


.button2 {
  background-color: #008CBA; 
  color: black; 
  border: 2px solid white;
}

.button2:hover {
  background-color: white;
  color: #008CBA;
}

.alignC{
  text-align: center !important;
}
</style>
<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/community/Listing.png); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="titleList">List Of Communities</h1>
         </div>
      </div>
   </div>
</section>
<section>
  <div class="container">
    <div class="col-md-12" style="display: inline-flex; margin-bottom: 8px">
      <label class="col-md-2 control-label">Are you looking for ? </label>
      <input class="col-md-10" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Community.." title="Type in a name">
    </div>
    <table id="myTable" ng-table="tableParams" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name Of Community</th>
                <th class="alignC">Action</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="value in $data" id="assign_table">
                <td>{{value.community_name}}</td>
                <!-- <td class="alignC"><button class="btn btn-md btn-primary button2">Join</button></td> -->
                <td ng-if="community_joined = 'NO'"><button  ng-click="joinCommunity()" class="btn btn-md btn-primary button2">Join</button></td>

            </tr>
          </tbody>
    </table>
  </div>
</section>


<script type="text/javascript">
  function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>



