
<style type="text/css">


</style>
<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/community/Listing.png); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="titleList">List Of Communities</h1>
         </div>
      </div>
   </div>
</section>
<section>
  <div class="container">
    <div class="col-lg-12 col-md-12 font_color" style="margin-top:10px; ">
        
        <div class="col-md-6">
           <button id="Joined" type="button" class="row btn btn-lg btn-primary" onclick="myFunction1()" style="width: -webkit-fill-available;margin-right: 0px;    background-color: #f6872c;border: 1px solid #f6872c;border-radius: 8px;height: 35px;">Joined by Me</button>
        </div>
        <div class="col-md-6">
           <button id="Created" type="button" class="row btn btn-lg btn-primary" onclick="myFunction2()" style="width: -webkit-fill-available;margin-right: 0px;background-color: #004b7a;border: 1px solid #004b7a;border-radius: 8px;height: 35px;">Created By Me</button>
        </div>
     </div>
     <div id="JoinedView" class="col-lg-12 col-md-12 font_color" style="display: block;">
        <h4><b>Community List</b></h4>
        <table id="myTable" ng-table="tableParams" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name Of Community</th>
                <th class="alignC">Action</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="value in $data" id="assign_table">
                <td>{{value.community_name}}</td>
                <!-- <td class="alignC"><button class="btn btn-md btn-primary button2">Join</button></td> -->
                <td ng-if="community_joined = 'NO'"><button  ng-click="joinCommunity()" class="btn btn-md btn-primary button2">Join</button></td>

            </tr>
          </tbody>
    </table>
     </div>
     <div id="CreatedView" class="col-lg-12 col-md-12 font_color" style="display: none;">
        <h4><b>Community List</b></h4>
        <table id="myTable" ng-table="tableParams" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Name Of Community</th>
                    <th class="alignC">Action</th>
                  </tr>
                </thead>
                <tbody>
                <tr ng-repeat="value in $data" id="assign_table">
                    <td>{{value.community_name}}</td>
                    <!-- <td class="alignC"><button class="btn btn-md btn-primary button2">Join</button></td> -->
                    <td ng-if="community_joined = 'NO'"><button  ng-click="joinCommunity()" class="btn btn-md btn-primary button2">Join</button></td>

                </tr>
              </tbody>
        </table>
       
     </div>
     
  </div>
</section>



<script type="text/javascript">
        function myFunction1() {
        var x = document.getElementById("JoinedView");
        var y = document.getElementById("CreatedView");
        x.style.display = "block";
        y.style.display = "none";

        $("#Joined").css({"border": "1px solid #f6872c" , "background-color": "#f6872c"});
        $("#Created").css({"border": "1px solid #004b7a" , "background-color": "#004b7a"});
        }
        function myFunction2() {
        var y = document.getElementById("CreatedView");
        var x = document.getElementById("JoinedView");
        y.style.display = "block";
        x.style.display = "none";


        $("#Joined").css({"border": "1px solid #004b7a" , "background-color": "#004b7a"});
        $("#Created").css({"border": "1px solid #f6872c" , "background-color": "#f6872c"});
        }
     </script>


