<style>
   .profile-heading{
   color: #091a3c;
   }
   .comment{
   cursor: pointer;
   }
   .control-label{
   text-align: left !important;
   height: 55px!important;
   font-size: 14px;
   }
   .submit_button{
   text-align: right;
   }
   .delete_button{
   text-align: left;
   margin-bottom: -30px;
   }
   input,select{
   margin-bottom:10px!important;
   }
   .nav-tabs > li > a{
   margin-right: 0px;
   }
   input.ng-not-empty{
   border:solid 1px #ddd!important;
   }
   .a {
   border:solid 1px red!important;
   }
   input#ex2_value.form-control.form-control-small.ng-empty.ng-valid-maxlength{
   border: 1px solid red!important;
   }
   datepicker input {
   height: 34px;
   padding: 6px 0px;
   width: 100%!important
   }
   .multiselect-parent button{
   height: 34px;
   border-radius: 1px;
   }
   .hiddenField{
   display: none;
   }
   datepicker, .datepicker, .datepicker-calendar-header-middle {
   float:unset!important;
   }
   .ocas_form{
   margin-left: 10px;
   cursor: pointer;
   font-weight: bold;
   }
   .ng-table-pager, .ng-table-counts {
   margin: 10px 10px;
   }
   .gridOptions {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }

   /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #014b79;
}

/* Style the buttons inside the tab */
.tab button {
    color: white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
  font-size: 17px;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f9992f;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
 background-color: white;
}

.tabsubcontent {
  display: none;
  padding: 6px 12px;

}

.subtabs .tab button{
    width: 50%;
}

.subtabs .tab button.active{
    background-color: #f9992f;
}
</style>
<!-- Content Wrapper. Contains page content -->
<!-- <div ng-init="template_menu = menu;" ng-include="template_menu"></div> -->
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>Student Profile</h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-users"></i> Student</a></li>
         <li><a href="#">Student List</a></li>
         <li class="active">Student profile</li>
      </ol>
   </section>
   <!-- Main content -->
   <section class="content no-pad" >
      <div class="col-md-3">
         <!-- Profile Image -->
         <div class="box box-primary" style="overflow-x: scroll;">
            <div class="box-body box-profile bg-aqua">
               <img class="profile-user-img img-responsive img-circle" src="dist/img/avatar.png" alt="User profile picture">
               <h3 class="profile-username text-center"><b>{{leadData.customer_object.first_name}} {{leadData.customer_object.middle_name}} {{leadData.customer_object.last_name}}</b></h3>
               <ul class="list-group list-group-unbordered">
                  <li class="list-group-item txtBlack paddingLR">
                     <span class="profile-heading">Email:</span> <a class="pull-right">{{leadData.login_object.email}}</a>
                  </li>
                  <li class="list-group-item txtBlack paddingLR">
                     <span class="profile-heading">Phone Number:</span> <a class="pull-right">+91 {{leadData.login_object.mobile_number}}</a>
                  </li>
                  <li class="list-group-item txtBlack paddingLR">
                     <span class="profile-heading">Req. Loan Amount:</span> <a class="pull-right">{{leadData.lead_object.requested_loan_amount}}</a>
                  </li>
                  <li class="list-group-item txtBlack paddingLR">
                     <span class="profile-heading">Status:</span>
                     <p class="pull-right"><span class="label label-success" ng-if="leadData.login_object.status=='1'">Active</span><span class="label label-success" ng-if="leadData.login_object.status=='0'">Inactive</span></p>
                  </li>
                  <li class="list-group-item txtBlack paddingLR">
                     <span class="profile-heading">Assigned To:</span>
                     <a class="pull-right">{{leadData.lead_object.facilitator_name}}</a>
                  </li>
                  <li class="list-group-item txtBlack paddingLR" ng-if="roleId == 10 || roleId == 11">
                     <a class="ist-group-item txtBlack" target="_blank" href="/comments/lead/{{leadId}}/{{applicationId}}/0">Comment History</a>
                  </li>
                  <li class="list-group-item txtBlack paddingLR" ng-if="roleId != 10 && roleId != 11">
                     <a class="ist-group-item txtBlack" target="_blank" href="/comments/lead/{{leadId}}/0/0">Comment History</a>
                     <a class="ist-group-item txtBlack" style="float:right" href="/offers/{{leadId}}">Get Offers</a>
                  </li>
               </ul>
            </div>
            <!-- /.box-body -->
         </div>
         <div class="">
            <!-- <div class="box-header with-border bg-aqua">
               <h3 class="box-title"><a href="#" data-toggle="collapse" data-target="#sbtBOX" aria-expanded="true" aria-controls="sbtBOX" >Decesion Maker</a><b></b></h3>
               </div>
               <div class="box-body" id="sbtBOX">
               <strong>Name</strong>
               <p class="text-muted">{{leadData.customer_object.other_details.decision_maker_name}}</p>
               <hr>
               <strong>Phone</strong>
               <p class="text-muted">{{leadData.customer_object.other_details.decision_maker_phone}}</p>
               <hr>
               <strong>Relation</strong>
               <p class="text-muted" ng-repeat="relation in relations" ng-if="relation.id == leadData.customer_object.other_details.decision_maker_relation_id">{{relation.display_name}}</p>
               </div> -->
         </div>
      </div>
      <div class="col-md-9">
         <div class="box" style="overflow-x: scroll;">

           <div class="col-md-12 noPadding subtabs">
             <div class="tab">
               <!-- <li class="active"><a data-toggle="pill" href="#bankapl">Bank Application List</a></li>
               <li><a data-toggle="pill" href="#forexapl">Bank Application List</a></li> -->
               <button id="defaultOpen" class="tablinks tabsublinks loan" onclick="openSubTab(event, 'bankapl')" ><b>Education Loan Application List</b></button>
               <button class="tablinks tabsublinks forex" onclick="openSubTab(event, 'forexapl')"><b>Forex Application List</b></button>
             </div>

             <div class="tab-content">
               <div id="bankapl" class="tabsubcontent">
                 <div class="box" style="overflow-x: scroll;">
                    <div class="box-header bg-aqua">
                       <h3 class="box-title">Application List</h3>
                    </div>

            <div class="box-body table-responsive no-padding mxWidthHeight" ng-if="!error_message">
               <table ng-table="tableParams" class="table table-bordered table-striped table-hover" show-filter="true">
                  <tr ng-repeat="value in $data" id="list_table" ng-if="value.product_id != 1000000">
                     <td title="'Application Id'" filter="{id: 'number'}" sortable="'id'"><a href="/student/{{leadId}}/product/{{value.product_id}}">{{value.id}}</a></td>
                     <td title="'University'" filter="{ university_name: 'text'}" sortable="'university_name'">{{value.university_name}}</td>
                     <td title="'Course'" filter="{ course_name: 'text'}" sortable="'course_name'">{{value.course_name}}</td>
                     <td title="'Application Status'" filter="{ current_status: 'text'}" sortable="'current_status'">{{value.current_status}}</td>
                     <td title="'Bank'" filter="{ bank_name: 'text'}" sortable="'bank_name'">{{value.bank_name}}</td>
                     <td title="'Loan Type'" filter="{ loan_type: 'text'}" sortable="'loan_type'">{{value.loan_type}}</td>
                     <td title="'Application Completed'" filter="{ profile_completeness: 'text'}" sortable="'profile_completeness'">{{value.profile_completeness.$$state.value}}<a class="ocas_form" ng-if="value.product_id==3" href="/educationloan/{{leadId}}/product/{{value.product_id}}" target="_blank">OCAS Form</a></td>
                     <td title="'Nearest Branch'" filter="{ nearest_branch_id: 'text'}" sortable="'nearest_branch_id'">{{value.nearest_branch_id}}</td>
                     <td title="'Bank Status'" ng-if="!value.isEditable" filter="{ bank_status: 'text'}" sortable="'bank_status'" >{{value.bank_status}}
                     </td>
                     <td title="'Bank Status'" ng-if="value.isEditable" >
                        <input name="name" type="text" ng-model="value.bank_status"/>
                     </td>
                     <td title="'Bank Next Follow Date'" ng-if="!value.isEditable" filter="{ bank_followup_date: 'text'}" sortable="'bank_followup_date'" >{{value.bank_followup_date}}
                     </td>
                     <td title="'Bank Next Follow Date'" ng-if="value.isEditable" >
                        <input name="name" type="date" ng-model="value.bank_followup_date"/>
                     </td>
                     <td title="'Bank Reference Number 1'" ng-if="!value.isEditable" filter="{ reference_one: 'text'}" sortable="'reference_one'" >{{value.reference_one}}
                     </td>
                     <td title="'Bank Reference Number 1'" ng-if="value.isEditable" >
                        <input name="name" type="text" ng-model="value.reference_one"/>
                     </td>
                     <td title="'Bank Reference Number 2'" ng-if="!value.isEditable" filter="{ reference_two: 'text'}" sortable="'reference_two'" >{{value.reference_two}}
                     </td>
                     <td title="'Bank Reference Number 2'" ng-if="value.isEditable" >
                        <input name="name" type="text" ng-model="value.reference_two"/>
                     </td>
                     <td ng-if="value.connect_mail == null" title="'Connect Mail'"><button  class="btn btn-info btn-sm btn-circle" ng-click="connectMailBank(value)">Connect Mail</button></td>
                     <td ng-if="value.connect_mail >= '1'" title="'Connect Mail'"><button  class="btn btn-info btn-sm btn-circle"  ng-click="connectMailBank(value)">Resend Mail</button></td>

                     <td title="'Comments'" class="comment" ><a class="btn btn-info btn-sm" target="_blank" href="/comments/lead/{{leadId}}/{{value.id}}/0"> Comments</a></td>
                     <td title="'Download Document'"><button  class="btn btn-info btn-sm btn-circle" ng-click="documentDownload(value.product_id,value.id)">Download Document</button></td>
                     <td ng-if="!value.isEditable"><button ng-click="editData(value)">Edit</button></td>
                     <td ng-if="value.isEditable" style="width:86px;"><button ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                  </tr>
               </table>
            </div>
          </div>
        </div>

            <div ng-if="error_message">
               {{error_message}}
               <span ng-if="error_type == 'INCOMPLETE_REGISTRATION'"><a ng-click="gotoRegistration()"><b>Complete Registration</b></a></span>
               <span ng-if="error_type == 'NO_OFFER'"><a ng-click="gotoOffer()"><b>Get Offers</b></a></span>
            </div>

            <div id="forexapl" class="tabsubcontent">
              <div class="box">
                 <div class="box-header bg-aqua">
                    <h3 class="box-title">Forex Application List</h3>
                 </div>
                 <div class="box-body table-responsive no-padding mxWidthHeight" ng-if="!error_message">
                   <table ng-table="tableForexParams" class="table table-bordered table-striped table-hover" show-filter="true">
                      <tr ng-repeat="value in $data" id="forex_list_table">
                        <td title="'Application Id'" filter="{id: 'number'}" sortable="'id'">{{value.id}}</td>

                       <td title="'Forex'" filter="{ forex_name: 'text'}" sortable="'forex_name'">{{value.forex_name}}</td>

                       <td title="'Application Status'" filter="{ appication_status: 'text'}" sortable="'appication_status'">{{value.appication_status}}</td>
                       <td title="'Forex Reference Number 1'" filter="{ reference_one: 'text'}" sortable="'reference_one'" >{{value.reference_one}}</td>
                       <td title="'Forex Reference Number 2'" filter="{ reference_two: 'text'}" sortable="'reference_two'" >{{value.reference_two}}</td>
                       <td title="'Comments'" class="comment" ><a class="btn btn-info btn-sm" target="_blank" href="/comments/lead/{{leadId}}/0/{{value.id}}"> Comments</a></td>
                       <td ng-if="value.connect_mail == null" title="'Connect Mail'"><button  class="btn btn-info btn-sm btn-circle" ng-click="connectMailForex(value)">Connect Mail</button></td>
                       <td ng-if="value.connect_mail >= '1'" title="'Connect Mail'"><button  class="btn btn-info btn-sm btn-circle"  ng-click="connectMailForex(value)">Resend Mail</button></td>

                         </tr>

                    </table>
                 </div>

              </div>
            </div>

          </div>
          </div>

         </div>
      </div>
   </section>
   <section class="content no-pad" >
      <div class="col-md-12">
         <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
               <li ng-class="{'active': active=='Student Create'}" >
                  <a ng-click="selectTab('Student Create')" style="cursor: pointer;" ng-if="!dataUpdated"><b>Basic Detail</b></a>
                  <a ng-click="submitWarning()" style="cursor: pointer;" ng-if="dataUpdated"><b>Basic Detail</b></a>
               </li>
               <li ng-repeat="(key, value) in template" ng-if="value.active" ng-class="{'active': active==key}">
                  <a ng-click="selectTab(key)" style="cursor: pointer;" ng-if="!dataUpdated">
                  <b>{{key}}</b>
                  </a>
                  <a ng-click="submitWarning()" style="cursor: pointer; " ng-if="dataUpdated">
                  <b>{{key}}</b>
                  </a>
               </li>
               <li ng-class="{'active': key=='Document'}">
                  <a ng-click="selectTab(key)" style="cursor: pointer;" ng-if="!dataUpdated">
                  <b>Documents</b>
                  </a>
                  <a ng-click="submitWarning()" style="cursor: pointer; " ng-if="dataUpdated">
                  <b>Documents</b>
                  </a>
               </li>
            </ul>
            <div class="tab-content">
               <div class="active tab-pane " ng-show="active=='Student Create'" ng-repeat="(key, value) in basicDetailTemplate">
                  <form class="form-horizontal panel panel-info" ng-repeat="(object, fieldsList) in value"  ng-submit="submitCreateForm(fieldsList[0].group_url, fieldsList[0].group_object)" ng-if="fieldsList!='1'" style="padding: 5px; margin-top: 10px;">
                     <div class="panelForm"><b>{{fieldsList[0].group_display_name}}</b></div>
                     <div class="panel-body" id="{{ object + 99999 }}"  style="padding-top: 10px;">
                        <div id="{{ object }}">
                           <div class="row form-group formRow">
                              <div ng-repeat="(index, list) in fieldsList" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-class="{'col-md-3': fieldsList[index].is_dependent==0, 'col-md-3 hiddenField': fieldsList[index].is_dependent==1}" ng-if="fieldsList[index].field_column_name != 'other_details.course' && fieldsList[index].field_column_name != 'other_details.university'">
                                 <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio'">{{fieldsList[index].field_display_name}} <span ng-if="fieldsList[index].mandatory">*</span></label>
                                 <input type="text" class="form-control txtBoxBS" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                 <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                 <input class="form-control" name="{{fieldsList[index].field_name}}" list="{{fieldsList[index].field_name}}" ng-init="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course' )" ng-change="showBasicDetailDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0, 1)" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;">
                                 <datepicker ng-if="fieldsList[index].field_ui_type == 'date'" date-format="yyyy-MM-dd"><input ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" type="text" ng-class="{a: fieldsList[index].mandatory =='1' }" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')"/></datepicker>
                                 <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="appendMapping(fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name, fieldsList[index].list_items, fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                    <option>Please Select</option>
                                    <!--option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option-->
                                    <option ng-if="fieldsList[index].field_name!='opted_country'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                 </select>
                                 <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || 'Please Select'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down_year' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                    <option>Please Select</option>
                                    <option value="{{present}}">{{present}}</option>
                                    <option value = "{{next}}">{{next}}</option>
                                    <option value = "{{future}}">{{future}}</option>
                                 </select>
                                 <datalist class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showBasicDetailDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0, 1)" ng-required="fieldsList[index].mandatory" style="display: none; border-radius: 11px;">
                                    <option>Please Select</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                 </datalist>
                                 <!--select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showBasicDetailDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory">
                                    <option>Please Select</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                    </select-->
                                 <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                    <label class="rbt_container">{{option.display_name}}
                                    <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}"  ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                    <span class="checkmark"></span>
                                    </label>
                                 </div>
                                 <div ng-if="fieldsList[index].field_column_name==error.field" ng-bind-html="error.message" style="margin-top: 10px; font-weight: bold; color: #ff0000;">
                                 </div>
                                 <div ng-dropdown-multiselect="" options="fieldsList[index].list_items" selected-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" extra-settings="loanTypeSetting" ng-if="fieldsList[index].field_ui_type == 'static_multiselect_drop_down'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"></div>
                                 <angucomplete-alt id="ex2" placeholder="Search City" pause="300" selected-object="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control border11" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'" ng-required="fieldsList[index].mandatory" initial-value="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ></angucomplete-alt>
                              </div>
                              <div ng-repeat="(index, list) in fieldsList" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}|basic" ng-class="{'col-md-3': fieldsList[index].is_dependent==0, 'col-md-3 hiddenField': fieldsList[index].is_dependent==1}" ng-if="fieldsList[index].field_column_name == 'other_details.course' || fieldsList[index].field_column_name == 'other_details.university'">
                                 <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio'">{{fieldsList[index].field_display_name}} <span ng-if="fieldsList[index].mandatory">*</span></label>
                                 <input type="text" class="form-control txtBoxBS" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                 <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                 <input class="form-control" name="{{fieldsList[index].field_name}}" list="{{fieldsList[index].field_name}}" ng-init="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course' )" ng-change="showBasicDetailDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0, 1)" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;">
                                 <datepicker ng-if="fieldsList[index].field_ui_type == 'date'" date-format="yyyy-MM-dd"><input ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" type="text" ng-class="{a: fieldsList[index].mandatory =='1' }" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')"/></datepicker>
                                 <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                    <option>Please Select</option>
                                    <!--option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option-->
                                    <option ng-if="fieldsList[index].field_name!='opted_country'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                 </select>
                                 <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || 'Please Select'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down_year' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                    <option>Please Select</option>
                                    <option value="{{present}}">{{present}}</option>
                                    <option value = "{{next}}">{{next}}</option>
                                    <option value = "{{future}}">{{future}}</option>
                                 </select>
                                 <datalist class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showBasicDetailDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0, 1)" ng-required="fieldsList[index].mandatory" style="display: none" style="border-radius: 11px;">
                                    <option>Please Select</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                 </datalist>
                                 <!--select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showBasicDetailDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory">
                                    <option>Please Select</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                    </select-->
                                 <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                    <label class="rbt_container">{{option.display_name}}
                                    <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}"  ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')">
                                    <span class="checkmark"></span>
                                    </label>
                                 </div>
                                 <div ng-if="fieldsList[index].field_column_name==error.field" ng-bind-html="error.message" style="margin-top: 10px; font-weight: bold; color: #ff0000;">
                                 </div>
                                 <div ng-dropdown-multiselect="" options="fieldsList[index].list_items" selected-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" extra-settings="loanTypeSetting" ng-if="fieldsList[index].field_ui_type == 'static_multiselect_drop_down'" ng-required="fieldsList[index].mandatory" style="border-radius: 11px;" ng-change="formFilled(fieldsList[0].group_object, fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[0].group_url, 'basic')" ng-model="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"></div>
                                 <angucomplete-alt id="ex2" placeholder="Search City" pause="300" selected-object="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control border11" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'" ng-required="fieldsList[index].mandatory" initial-value="basicDetailTemplateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" style="border-radius: 11px;" ></angucomplete-alt>
                              </div>
                           </div>
                           <!-- <div class="submit_button"><input type="submit" name="submit" value="Submit"></div> -->
                        </div>
                     </div>
                  </form>
                  <!-- <div class="next-link" ng-if="customerId"><a href="/student/create/page/2">Next</a></div> -->
                  <div class="common-submit_button" style="text-align: center;"><input class="btn btn-lg btn-primary submit-button-input" type="button" name="submit" value="Submit" ng-click="commonSubmit()"></div>
               </div>
               <div class="active tab-pane" ng-show="active==key" ng-repeat="(key, value) in template">
                  <form class="form-horizontal" ng-repeat="(object, fieldsList) in value"  style="margin-top: 10px;" ng-submit="submitForm(fieldsList[0].group_url, fieldsList[0].group_object)" ng-if="fieldsList[0].group_display=='1'">
                     <h3>{{fieldsList[0].group_display_name}}</h3>
                     <input type="button" ng-click="cloneOptedUniversities(object, fieldsList)" ng-if="fieldsList[0].group_type == 'MULTIPLE' && fieldsList[0].group_object != 'opted_university_create_object'" style="float: right;" value="Add">
                     <div id="{{ object + 99999 }}"  style="padding-top: 10px;">
                        <div id="{{ object }}" style="box-shadow: 0px 0px 5px 0px rgb(167, 167, 167); padding: 5px;" ng-if="fieldsList[0].group_type == 'SINGLE' || !leadData[fieldsList[0].group_object]">
                           <div class="row form-group formRow">
                              <div ng-repeat="(index, list) in fieldsList" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-class="{'col-md-3': fieldsList[index].is_dependent==0, 'col-md-3 hiddenField': fieldsList[index].is_dependent==1}">
                                 <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio'">{{fieldsList[index].field_display_name}} <span ng-if="fieldsList[index].mandatory">*</span></label>
                                 <input type="text" class="form-control txtBoxBS" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-change="checkUser(fieldsList[index].field_column_name)" ng-required="fieldsList[index].mandatory">
                                 <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)">
                                 <input class="form-control" name="{{fieldsList[index].field_name}}" list="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course' )" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory">
                                 <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-change="appendMapping(fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name, fieldsList[index].list_items)" ng-required="fieldsList[index].mandatory">
                                    <option>Please Select</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                    <option ng-if="fieldsList[index].field_name!='opted_country'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                 </select>
                                 <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down_year' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-change="appendMapping(fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name, fieldsList[index].list_items)" ng-required="fieldsList[index].mandatory">
                                    <option>Please Select</option>
                                    <option value="{{present}}">{{present}}</option>
                                    <option value = "{{next}}">{{next}}</option>
                                    <option value = "{{future}}">{{future}}</option>
                                 </select>
                                 <datalist class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory" style="display: none">
                                    <option>Please Select</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                 </datalist>
                                 <!--select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory">
                                    <option>Please Select</option>
                                                                           <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                                                           <option ng-if="fieldsList[index].field_name!='opted_country'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                      </select-->
                                 <div ng-if="fieldsList[index].field_ui_type == 'radio'">
                                    <span ng-repeat="option in fieldsList[index].list_items" style="margin-right:10px;">
                                    {{option.display_name}}
                                    <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}" ng-change="checkUser(fieldsList[index].field_column_name)">
                                    <span class="checkmark"></span>
                                    </span>
                                 </div>
                                 <div ng-if="fieldsList[index].field_ui_type == 'checkbox'">
                                    <input type="checkbox" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}" ng-change="checkUser(fieldsList[index].field_column_name)">
                                 </div>
                                 <div ng-dropdown-multiselect="" options="fieldsList[index].list_items" selected-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" extra-settings="loanTypeSetting" ng-if="fieldsList[index].field_ui_type == 'static_multiselect_drop_down'" ng-required="fieldsList[index].mandatory"></div>
                                 <datepicker ng-if="fieldsList[index].field_ui_type == 'date'" date-format="yyyy-MM-dd"><input ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" type="text" ng-class="{a: fieldsList[index].mandatory =='1' }" /></datepicker>
                                 <angucomplete-alt id="ex2" placeholder="Search City" pause="300" selected-object="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'" initial-value="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"></angucomplete-alt>
                                 <angucomplete-alt id="ex3" placeholder="Search Nearest Branch" pause="300" selected-object="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="ifsc_code" remote-url={{searchBranchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search_branch'" initial-value="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"></angucomplete-alt>
                              </div>
                              <!--div ng-if="fieldsList[index].field_ui_type == 'radio'" class="col-md-6" ng-repeat="(index, list) in fieldsList">
                                 <label style="padding-right: 30px; padding-top:10px;" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">{{option.display_name}}
                                     <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}" ng-change="checkUser(fieldsList[index].field_column_name)">
                                     <span class="checkmark"></span>
                                 </label>
                                 </div-->
                           </div>
                           <div class="submit_button"><input type="submit" name="submit" value="Submit" class="btn btn-primary"></div>
                        </div>
                        <div id="{{ object}}{{recordsIndex || ''}}" class="tab-container" ng-if="fieldsList[0].group_type == 'MULTIPLE'" ng-repeat="(recordsIndex, records) in leadData[fieldsList[0].group_object]">
                           <div class="row form-group formRow" >
                              <div ng-class="{'col-md-4': fieldsList[index].is_dependent==0, 'col-md-4 hiddenField': fieldsList[index].is_dependent==1}" ng-repeat="(index, list) in fieldsList" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}">
                                 <label for="{{fieldsList[index].field_name}}" class="control-label">
                                    {{fieldsList[index].field_display_name}} <!--span ng-if="fieldsList[index].mandatory">*</span-->
                                 </label>
                                 <input type="text" class="form-control txtBoxBS" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}|{{recordsIndex}}" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" ng-class="{a: fieldsList[index].mandatory =='1' }">
                                 <input class="form-control" name="{{fieldsList[index].field_name}}" list="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course' )" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory">
                                 <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}|{{recordsIndex}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-class="{a: fieldsList[index].mandatory =='1'&& templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]=='Please Select'  }">
                                    <option>Please Select</option>
                                    <option ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                 </select>
                                 <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down_year' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-change="appendMapping(fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name, fieldsList[index].list_items)" ng-required="fieldsList[index].mandatory">
                                    <option>Please Select</option>
                                    <option value="{{present}}">{{present}}</option>
                                    <option value = "{{next}}">{{next}}</option>
                                    <option value = "{{future}}">{{future}}</option>
                                 </select>
                                 <datalist class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory" style="display: none">
                                    <option>Please Select</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                    <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                 </datalist>
                                 <datepicker ng-if="fieldsList[index].field_ui_type == 'date'" date-format="yyyy-MM-dd"><input ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" type="text" ng-class="{a: fieldsList[index].mandatory =='1' }" /></datepicker>
                              </div>
                           </div>
                           <div ng-if="recordsIndex" id="rm{{recordsIndex}}" class="delete_button"><input type="button" class="btn btn-danger" name="delete" value="Delete" ng-click="deleteValue(object+recordsIndex, 'rm' + recordsIndex)"></div>
                           <div class="submit_button"><input type="submit" class="btn btn-primary" name="submit" value="Submit" class="btn btn-primary"></div>
                        </div>
                     </div>
                  </form>
               </div>
               <!-- <div class="active tab-pane" ng-show="active==key">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-lg-12 col-md-12 " style="margin-top:10px; ">
                           <div class="col-md-4">
                              <button type="button" class="row btn btn-lg btn-primary" onclick="myFunction1()" style="width: -webkit-fill-available;margin-right: 0px;">Student Documents</button>
                           </div>
                           <div class="col-md-4">
                              <button type="button" class="row btn btn-lg btn-primary" onclick="myFunction2()" style="width: -webkit-fill-available;margin-right: 0px;">Co-applicant 1 Documents</button>
                           </div>
                           <div class="col-md-4">
                              <button type="button" class="row btn btn-lg btn-primary" onclick="myFunction3()" style="width: -webkit-fill-available;margin-right: 0px;">Co-applicant 2 Documents</button>
                           </div>
                        </div>
                        <div id="student" class="col-lg-12 col-md-12 " style="display: block;">
                           <div class="col-md-12" ng-repeat="(groupName, groupArray) in allDocumentTypes.STUDENT" style="border-top: 1px solid black;margin-top: 10px;">
                              <h4>{{groupName}}</h4>
                              <div class="col-md-5">
                                 <form name="{{$index+'01'}}" id ="{{$index+'01'}}" class="form-horizontal ng-pristine ng-valid" style="margin-top: 10px;">
                                    <div class="upload-div">
                                       <label>Select Document Type</label>
                                       <select class="form-control"  name ="{{$index+'11'}}" id="{{$index+'11'}}" >
                                          <option value="">Please Select</option>
                                          <option ng-repeat="option in groupArray" value="{{option.id}}">{{option.name}}</option>
                                          </optgroup>
                                       </select>
                                    </div>
                                    <div class="upload-btn-wrapper">
                                       <input type="file" id="{{$index+'21'}}" id="{{$index+'21'}}" file="$parent.file" required class="ng-isolate-scope">
                                    </div>
                                    <div class="upload-div">
                                       <input type="Button" class="btn btn-primary" name="submit" value="Submit" ng-click="uploadFileNew($index,'1')">
                                    </div>
                                 </form>
                              </div>
                              <div class="col-md-1"></div>
                              <div class="col-md-6" style="margin-top: 10px;">
                                 <label>List Of Documents</label>
                                 <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-striped">
                                    <tr>
                                       <th>Document Name</th>
                                       <th>Status</th>
                                       <th>File</th>
                                    </tr>
                                    <tr ng-repeat="document in groupArray">
                                       <td >{{document.name}}</td>
                                       <td >{{document.document_url ? 'Uploaded' : 'Not Uploaded'}}</td>
                                       <td ng-if="document.document_url"><a href="{{document.document_url}}" target="_blank">Open</a></td>
                                       <td ng-if="!document.document_url"> - </a></td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <div id="CoApplicant1" class="col-lg-12 col-md-12 " style="display: none;">
                           <div class="col-md-12" ng-repeat="(groupName, groupArray) in allDocumentTypes.COAPPONE" style="border-top: 1px solid black;margin-top: 10px;">
                              <h4>{{groupName}}</h4>
                              <div class="col-md-5">
                                 <form name="{{$index+'02'}}" id ="{{$index+'02'}}" class="form-horizontal ng-pristine ng-valid" style="margin-top: 10px;">
                                    <div class="upload-div">
                                       <label>Select Document Type</label>
                                       <select class="form-control"  name ="{{$index+'12'}}" id="{{$index+'12'}}" >
                                          <option value="">Please Select</option>
                                          <option ng-repeat="option in groupArray" value="{{option.id}}">{{option.name}}</option>
                                          </optgroup>
                                       </select>
                                    </div>
                                    <div class="upload-btn-wrapper">
                                       <input type="file" id="{{$index+'22'}}" id="{{$index+'22'}}" file="$parent.file" required class="ng-isolate-scope">
                                    </div>
                                    <div class="upload-div">
                                       <input type="Button" class="btn btn-primary" name="submit" value="Submit" ng-click="uploadFileNew($index,'2')">
                                    </div>
                                 </form>
                              </div>
                              <div class="col-md-1"></div>
                              <div class="col-md-6" style="margin-top: 10px;">
                                 <label>List Of Documents</label>
                                 <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-striped">
                                    <tr>
                                       <th>Document Name</th>
                                       <th>Status</th>
                                       <th>File</th>
                                    </tr>
                                    <tr ng-repeat="document in groupArray">
                                       <td >{{document.name}}</td>
                                       <td >{{document.document_url ? 'Uploaded' : 'Not Uploaded'}}</td>
                                       <td ng-if="document.document_url"><a href="{{document.document_url}}" target="_blank">Open</a></td>
                                       <td ng-if="!document.document_url"> - </a></td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <div id="CoApplicant2" class="col-lg-12 col-md-12 " style="display: none;">
                           <div class="col-md-12" ng-repeat="(groupName, groupArray) in allDocumentTypes.COAPPTWO" style="border-top: 1px solid black;margin-top: 10px;">
                              <h4>{{groupName}}</h4>
                              <div class="col-md-5">
                                 <form name="{{$index+'03'}}" id ="{{$index+'03'}}" class="form-horizontal ng-pristine ng-valid" style="margin-top: 10px;">
                                    <div class="upload-div">
                                       <label>Select Document Type</label>
                                       <select class="form-control"  name ="{{$index+'13'}}" id="{{$index+'13'}}" >
                                          <option value="">Please Select</option>
                                          <option ng-repeat="option in groupArray" value="{{option.id}}">{{option.name}}</option>
                                          </optgroup>
                                       </select>
                                    </div>
                                    <div class="upload-btn-wrapper">
                                       <input type="file" id="{{$index+'23'}}" id="{{$index+'23'}}" file="$parent.file" required class="ng-isolate-scope">
                                    </div>
                                    <div class="upload-div">
                                       <input type="Button" class="btn btn-primary" name="submit" value="Submit" ng-click="uploadFileNew($index,'3')">
                                    </div>
                                 </form>
                              </div>
                              <div class="col-md-1"></div>
                              <div class="col-md-6" style="margin-top: 10px;">
                                 <label>List Of Documents</label>
                                 <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-striped">
                                    <tr>
                                       <th>Document Name</th>
                                       <th>Status</th>
                                       <th>File</th>
                                    </tr>
                                    <tr ng-repeat="document in groupArray">
                                       <td >{{document.name}}</td>
                                       <td >{{document.document_url ? 'Uploaded' : 'Not Uploaded'}}</td>
                                       <td ng-if="document.document_url"><a href="{{document.document_url}}" target="_blank">Open</a></td>
                                       <td ng-if="!document.document_url"> - </a></td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> -->
               <div class="active tab-pane"  ng-show="active==key">

                     <div class="container-fluid">
                           <div class="row">
                              <div class="col-lg-12 col-md-12 gridOptions" style="margin-top:10px; ">
                                 <div>
                                    <button id="btn11" type="button" class="row btn btn-lg btn-primary" onclick="myFunction11()" style="width: 100%;margin-right:5px; background-color: #f9992f">Student</button>
                                 </div>
                                 <div>
                                    <button id="btn12" type="button" class="row btn btn-lg btn-primary" onclick="myFunction12()" style="width: 90%;margin: 1px;">CO - APPLICANT 1 </button>
                                 </div>
                                 <div>
                                    <button id="btn13" type="button" class="row btn btn-lg btn-primary" onclick="myFunction13()" style="width: 90%;margin: 1px;">CO - APPLICANT 2</button>
                                 </div>
                                 <div>
                                    <button id="btn14" type="button" class="row btn btn-lg btn-primary" onclick="myFunction14()" style="width: 90%;margin: 1px;">Property Documents</button>
                                 </div>
                                 <div>
                                    <button id="btn15" type="button" class="row btn btn-lg btn-primary" onclick="myFunction15()" style="width: 90%;margin: 1px;">Other Documents</button>
                                 </div>
                              </div>
                              <div id="student1" class="col-lg-12 col-md-12 "
                              style="display: block;">
                                 <hr/>
                                 <h4>Student New Document Upload Section</h4>
                                 <div class="col-md-12">
                                    <table class="table table-bordered">
                                       <thead>
                                          <th style="width: 20%;">Name</th>
                                          <th style="width: 40%;">Description</th>
                                          <th>Upload</th>
                                          <th style="width: 10%;">Status</th>
                                       </thead>
                                       <tbody>
                                          <tr ng-repeat="(key, listvalue) in allNewDocumentTypes.STUDENT" >
                                             <td>{{listvalue.product_document_name}}</td>
                                             <td>{{listvalue.description}}</td>
                                             <td>
                                                <div class="col-md-12">
                                                   <a class="btn btn-info" data-toggle="modal" data-target="#modalDocument" ng-click="viewDocumentkById(listvalue)" > Upload Doc </a>
                                                </div>
                                             </td>
                                             <td ng-if="listvalue.document_count"><a class="btn btn-info" data-toggle="modal" data-target="#modalDocument" ng-click="viewDocumentkById(listvalue)" >{{listvalue.document_count}} Document Uploaded</a></td>
                                             <td ng-if="!listvalue.document_count"> Pending </a></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                              <div id="parent1" class="col-lg-12 col-md-12 " style="display: none;">
                                 <hr/>
                                 <h4>CO-APPLICANT - 1 New Document Upload Section</h4>
                                 <div class="col-md-12">
                                    <table class="table table-bordered">
                                       <thead>
                                          <th style="width: 20%;">Name</th>
                                          <th style="width: 40%;">Description</th>
                                          <th>Upload</th>
                                          <th style="width: 10%;">Status</th>
                                       </thead>
                                       <tbody>
                                          <tr ng-repeat="(key, listvalue) in allNewDocumentTypes.COAPPONE" >
                                             <td>{{listvalue.product_document_name}}</td>
                                             <td>{{listvalue.description}}</td>
                                             <td>
                                                <div class="col-md-12">
                                                   <a class="btn btn-info" data-toggle="modal" data-target="#modalDocument" ng-click="viewDocumentkById(listvalue)" > Upload Doc </a>
                                                </div>
                                             </td>
                                             <td ng-if="listvalue.document_count"><a class="btn btn-info" data-toggle="modal" data-target="#modalDocument" ng-click="viewDocumentkById(listvalue)" >{{listvalue.document_count}} Document Uploaded</a></td>
                                             <td ng-if="!listvalue.document_count"> Pending </a></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                              <div id="parent2" class="col-lg-12 col-md-12 " style="display: none;">
                                 <hr/>
                                 <h4>CO-APPLICANT - 2 Document Upload Section</h4>
                                 <div class="col-md-12">
                                    <table class="table table-bordered">
                                       <thead>
                                          <th style="width: 20%;">Name</th>
                                          <th style="width: 40%;">Description</th>
                                          <th>Upload</th>
                                          <th style="width: 10%;">Status</th>
                                       </thead>
                                       <tbody>
                                          <tr ng-repeat="(key, listvalue) in allNewDocumentTypes.COAPPTWO" >
                                             <td>{{listvalue.product_document_name}}</td>
                                             <td>{{listvalue.description}}</td>
                                             <td>
                                                <div class="col-md-12">
                                                   <a class="btn btn-info" data-toggle="modal" data-target="#modalDocument" ng-click="viewDocumentkById(listvalue)" > Upload Doc </a>
                                                </div>
                                             </td>
                                             <td ng-if="listvalue.document_count"><a class="btn btn-info" data-toggle="modal" data-target="#modalDocument" ng-click="viewDocumentkById(listvalue)" >{{listvalue.document_count}} Document Uploaded</a></td>
                                             <td ng-if="!listvalue.document_count"> Pending </a></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                              <div id="propertydetail" class="col-lg-12 col-md-12 " style="display: none;">
                                 <hr/>
                                 <h4>Property Document Upload Section</h4>
                                 <div class="col-md-12">
                                    <table class="table table-bordered">
                                       <thead>
                                          <th style="width: 20%;">Name</th>
                                          <th style="width: 40%;">Description</th>
                                          <th>Upload</th>
                                          <th style="width: 10%;">Status</th>
                                       </thead>
                                       <tbody>
                                          <tr ng-repeat="(key, listvalue) in allNewDocumentTypes.PROPERTYDETAIL" >
                                             <td>{{listvalue.product_document_name}}</td>
                                             <td>{{listvalue.description}}</td>
                                             <td>
                                                <div class="col-md-12">
                                                   <a class="btn btn-info" data-toggle="modal" data-target="#modalDocument" ng-click="viewDocumentkById(listvalue)" > Upload Doc </a>
                                                </div>
                                             </td>
                                             <td ng-if="listvalue.document_count"><a class="btn btn-info" data-toggle="modal" data-target="#modalDocument" ng-click="viewDocumentkById(listvalue)" >{{listvalue.document_count}} Document Uploaded</a></td>
                                             <td ng-if="!listvalue.document_count"> Pending </a></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                              <div id="otherdetail" class="col-lg-12 col-md-12 " style="display: none;">
                                 <hr/>
                                 <h4>Other Detail Document Upload Section</h4>
                                 <div class="col-md-12">
                                    <table class="table table-bordered">
                                       <thead>
                                          <th style="width: 20%;">Name</th>
                                          <th style="width: 40%;">Description</th>
                                          <th>Upload</th>
                                          <th style="width: 10%;">Status</th>
                                       </thead>
                                       <tbody>
                                          <tr ng-repeat="(key, listvalue) in allNewDocumentTypes.OTHERDETAIL" >
                                             <td>{{listvalue.product_document_name}}</td>
                                             <td>{{listvalue.description}}</td>
                                             <td>
                                                <div class="col-md-12">
                                                   <a class="btn btn-info" data-toggle="modal" data-target="#modalDocument" ng-click="viewDocumentkById(listvalue)" > Upload Doc </a>
                                                </div>
                                             </td>
                                             <td ng-if="listvalue.document_count"><a class="btn btn-info" data-toggle="modal" data-target="#modalDocument" ng-click="viewDocumentkById(listvalue)" >{{listvalue.document_count}} Document Uploaded</a></td>
                                             <td ng-if="!listvalue.document_count"> Pending </a></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                  </div>
            </div>
            <!-- /.tab-content -->
         </div>
         <!-- /.nav-tabs-custom -->
      </div>
   </section>
</div>
<div class="modal fade" id="modal-default">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <div class="row form-group">
               <div class="col-md-3">
                  <h4 class="modal-title"><b>Comment Box<b></h4>
               </div>
               <div class="col-md-4">
                  <label for="" class="control-label">Last Followup Date</label>
                  <input type="text" class="form-control txtBoxBS" id="inputName" value="20/1/2018">
               </div>
               <div class="col-md-4">
                  <label for="" class="control-label">Next Followup Date</label>
                  <input type="text" class="form-control txtBoxBS" id="inputName" value="20/2/2018">
               </div>
               <div class="col-md-1">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
            </div>
         </div>
         <div class="modal-body">
            <div class="box-body clearfix" style="overflow-y: scroll; max-height: 230px;">
               <blockquote class="pull-right">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <small>By <cite title="Source Title">Mr.Amol JP</cite>   On  <cite title="Source Title">02/02/2018</cite></small>
               </blockquote>
               <blockquote class="pull-right">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <small>By <cite title="Source Title">Mr.Amol JP</cite>   On  <cite title="Source Title">02/02/2018</cite></small>
               </blockquote>
               <blockquote class="pull-right">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <small>By <cite title="Source Title">Mr.Amol JP</cite>   On  <cite title="Source Title">02/02/2018</cite></small>
               </blockquote>
               <blockquote class="pull-right">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <small>By <cite title="Source Title">Mr.Amol JP</cite>   On  <cite title="Source Title">02/02/2018</cite></small>
               </blockquote>
            </div>
            <div class="row form-group">
               <div class="col-md-12">
                  <label for="" class="control-label">Your Comment :</label>
                  <textarea name="comment" class="form-control txtBoxBS" form="usrform"></textarea>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="submit-warning" tabindex="-1" role="dialog" aria-labelledby="referModal" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header" style="text-align:center;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Warning!</h4>
         </div>
         <div class="modal-body" id="modal-body-submit-warning" style="text-align:center;">
            <h3>Modal Body</h3>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="submitAllForms()">Save changes</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modalDocument" role="dialog">
<div class="modal-dialog">
  <div class="modal-content contentDocUpload">
     <div class="modal-header row form-group" style="padding: 12px 30px;border-bottom: 1px solid #e5e5e5;margin-left: 0px;margin-right: 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">
           <b>Upload Document !!!</b>
        </h3>
     </div>
     <div class="modal-body">

           <form name="" class="">
              <div class="col-md-12">
                 <label>
                 {{docListArray.product_document_name}}
                 </label>
                 <select class="form-control"  name ="pdid" id="pdid" ng-model="$parent.pdid" required>
                    <option value=""> Select Uploading Document</option>
                    <option ng-repeat="option in docListArray.doc_list" value="{{option.document_master_id}}">{{option.display_name}}</option>
                    </optgroup>
                 </select>
              </div>
              <div class="col-md-12">
                 <input type="file" name="userfile" id="userfile" file="$parent.file" required class="ng-isolate-scope" >
              </div>
              <div class="col-md-12">
                 <label>
                 Document Name
                 </label>
                 <input type="text" class="form-group form-control" placeholder="Input Document Name" name="userdocname" id="userdocname" ng-model="$parent.userdocname" style="height: auto;" ></input>
              </div>
              <div class="col-md-12" style="text-align: center;">
                 <input type="submit" class="btn btn-primary btn-md" type="button" ng-click="uploadDocFileNew(docListArray.product_document_id)" style="height: 50px;width: 175px;">
              </div>
           </form>


              <div class="row">
                 <div class="col-md-12" >
                    <h4>Uploaded Document List</h4>
                    <table class="table table-bordered" >
                       <thead>
                          <th>Document Name</th>
                          <th>File Name</th>
                          <th>View</th>
                          <th>Delete</th>
                       </thead>
                       <tbody ng-repeat="docUrl in docListArray.user_doc_list">
                          <tr>
                             <td>{{docUrl.display_name}}</td>
                             <td>{{docUrl.document_display_name}}</td>
                             <td><a href="{{docUrl.document_url}}" target="_blank" class="btn btn-sm btn-success">View</a></td>
                             <td><button class="btn btn-danger" type="button" ng-click="deleteDocumentFile(docUrl.document_id,docListArray.product_document_id)"> Delete</button></td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>

           <!-- /.modal-content -->

        <!-- /.modal-dialog -->
     </div>
  </div>
</div>
</div>
<script type="text/javascript">
   function myFunction1() {
     var x = document.getElementById("student");
     var y = document.getElementById("CoApplicant1");
     var z = document.getElementById("CoApplicant2");
     z.style.display = "none";
     x.style.display = "block";
     y.style.display = "none";
   }
   function myFunction2() {
     var x = document.getElementById("student");
     var y = document.getElementById("CoApplicant1");
     var z = document.getElementById("CoApplicant2");
     y.style.display = "block";
     x.style.display = "none";
     z.style.display = "none";
   }
   function myFunction3() {
     var x = document.getElementById("student");
     var y = document.getElementById("CoApplicant1");
     var z = document.getElementById("CoApplicant2");
     z.style.display = "block";
     x.style.display = "none";
     y.style.display = "none";
   }
   function myFunction11() {
    var x = document.getElementById("student1");
    var y = document.getElementById("parent1");
    var z = document.getElementById("parent2");
    var a = document.getElementById("propertydetail");
    var b = document.getElementById("otherdetail");

    var xx = document.getElementById("btn11");
    var yy = document.getElementById("btn12");
    var zz = document.getElementById("btn13");
    var aa = document.getElementById("btn14");
    var bb = document.getElementById("btn15");


    x.style.display = "block";
    xx.style.backgroundColor = "#f9992f";

    y.style.display = "none";
    yy.style.backgroundColor = "#004b7a";
    z.style.display = "none";
    zz.style.backgroundColor = "#004b7a";
    a.style.display = "none";
    aa.style.backgroundColor = "#004b7a";
    b.style.display = "none";
    bb.style.backgroundColor = "#004b7a";
  }
  function myFunction12() {
    var x = document.getElementById("student1");
    var y = document.getElementById("parent1");
    var z = document.getElementById("parent2");
    var a = document.getElementById("propertydetail");
    var b = document.getElementById("otherdetail");

    var xx = document.getElementById("btn11");
    var yy = document.getElementById("btn12");
    var zz = document.getElementById("btn13");
    var aa = document.getElementById("btn14");
    var bb = document.getElementById("btn15");

    y.style.display = "block";
    yy.style.backgroundColor = "#f9992f";

    x.style.display = "none";
    xx.style.backgroundColor = "#004b7a";
    z.style.display = "none";
    zz.style.backgroundColor = "#004b7a";
    a.style.display = "none";
    aa.style.backgroundColor = "#004b7a";
    b.style.display = "none";
    bb.style.backgroundColor = "#004b7a";
  }

  function myFunction13() {
    var x = document.getElementById("student1");
    var y = document.getElementById("parent1");
    var z = document.getElementById("parent2");
    var a = document.getElementById("propertydetail");
    var b = document.getElementById("otherdetail");

    var xx = document.getElementById("btn11");
    var yy = document.getElementById("btn12");
    var zz = document.getElementById("btn13");
    var aa = document.getElementById("btn14");
    var bb = document.getElementById("btn15");

    z.style.display = "block";
    zz.style.backgroundColor = "#f9992f";

    x.style.display = "none";
    xx.style.backgroundColor = "#004b7a";
    y.style.display = "none";
    yy.style.backgroundColor = "#004b7a";
    a.style.display = "none";
    aa.style.backgroundColor = "#004b7a";
    b.style.display = "none";
    bb.style.backgroundColor = "#004b7a";
  }

  function myFunction14() {
    var x = document.getElementById("student1");
    var y = document.getElementById("parent1");
    var z = document.getElementById("parent2");
    var a = document.getElementById("propertydetail");
    var b = document.getElementById("otherdetail");

    var xx = document.getElementById("btn11");
    var yy = document.getElementById("btn12");
    var zz = document.getElementById("btn13");
    var aa = document.getElementById("btn14");
    var bb = document.getElementById("btn15");

    a.style.display = "block";
    aa.style.backgroundColor = "#f9992f";

    x.style.display = "none";
    xx.style.backgroundColor = "#004b7a";
    y.style.display = "none";
    yy.style.backgroundColor = "#004b7a";
    z.style.display = "none";
    zz.style.backgroundColor = "#004b7a";
    b.style.display = "none";
    bb.style.backgroundColor = "#004b7a";
  }

  function myFunction15() {
    var x = document.getElementById("student1");
    var y = document.getElementById("parent1");
    var z = document.getElementById("parent2");
    var a = document.getElementById("propertydetail");
    var b = document.getElementById("otherdetail");

    var xx = document.getElementById("btn11");
    var yy = document.getElementById("btn12");
    var zz = document.getElementById("btn13");
    var aa = document.getElementById("btn14");
    var bb = document.getElementById("btn15");

    b.style.display = "block";
    bb.style.backgroundColor = "#f9992f";

    x.style.display = "none";
    xx.style.backgroundColor = "#004b7a";
    y.style.display = "none";
    yy.style.backgroundColor = "#004b7a";
    z.style.display = "none";
    zz.style.backgroundColor = "#004b7a";
    a.style.display = "none";
    aa.style.backgroundColor = "#004b7a";

  }

  function openSubTab(subevt, tabName) {
         var i, tabsubcontent, tabsublinks;
         tabsubcontent = document.getElementsByClassName("tabsubcontent");
         for (i = 0; i < tabsubcontent.length; i++) {
           tabsubcontent[i].style.display = "none";
         }
         tabsublinks = document.getElementsByClassName("tabsublinks");
         for (i = 0; i < tabsublinks.length; i++) {
           tabsublinks[i].className = tabsublinks[i].className.replace(" active", "");
         }
         document.getElementById(tabName).style.display = "block";
         subevt.currentTarget.className += " active";
       }

       // Get the element with id="defaultOpen" and click on it
       document.getElementById("defaultOpen").click();

</script>
