<style>
    .new_ul ul{
        padding-left:0px;
    }
    .new_ul ul li{
        display:inline-block;
        padding-right:20px;
    }
    .new_ul ul	li:not(:first-child):before{
        position:absolute;
        content:"\00BB";
        top:24%;
        font-size:24px;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        margin-left:-17px;
        width: 0;
        height: 0;
        }
    .selectionbox{
    	padding-top:30px;
    	padding-bottom:30px;
    	border:1px solid #ddd;
    }
    .other{
        width:100%!important!;
        display:none;
        margin-top:10px;
    }
    #country_name,#university_name,#course_name{
        width:100%!important;
    }
</style>
<!-- content begin -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Bank Selection</h1>
                <ul class="crumb">
                    <li><a href="/">Home</a></li>
                    <li class="sep">/</li>
                    <li>Bank Selection</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div id="content" class="no-top no-bottom">
    <section id="" class="side-bg no-padding">
        <div class="image-container col-md-4 pull-left" data-delay="0"></div>
        <div class="container">
            <div class="row">
                <div class="inner-padding" id="form6">
                    <div class="col-md-12 hr_margin" id="us-related" data-animation="fadeInRight" data-delay="200">
                        <div class="col-md-8 " data-animation="fadeInRight" data-delay="200">
                            <h2>Welcome To Eduloans, {{customerName}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="side-bg no-padding">
        <form action="" method="post" name="updateKeyData" id="updateKeyData">
            <div class="container selectionbox">
                <div class="row">
                    <div class="col-md-12 hr_margin" id="us-related" data-animation="fadeInRight" data-delay="200">
                        <div class="form-group col-sm-3">
                            <div class="" id="">
                                <label class="control-label" for="loanelig_amount">Loan Type<span style="color:red;"> *</span></label>
                                <div class="" id="">
                                    <span class="" id="" ng-repeat="loanType in allLoanTypes">
                                        <input value="{{loanType.id}}" type="checkbox" name="loan_type[]" checked="checked">&nbsp;{{loanType.display_name}}&nbsp;&nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="" id="">
                                <label class="control-label" for="loanelig_amount">Country (Destination of Study)<span style="color:red;"> *</span></label>
                                <div class="" id="">
                                    <select class="form-control select2 " name="country" id="country" required style="width:100%;border-radius:0px!important" >
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <form action="/common/bankselection/choose_bank" method="post" name="bankselecttion" id="bankselecttion">
        <section id="" class="side-bg no-padding">
            <div class="image-container col-md-4 pull-left" data-delay="0"></div>
            <div class="container">
                <div class="row">
                    <div class="inner-padding2" id="form6">
                        <div class="col-md-12 hr_margin" id="us-related" data-animation="fadeInRight" data-delay="200">
                            <div class="clearfix"></div><br/>
                            <h4>Choose Your Banks</h4><hr/>
                            <style>
                                .new_table_style table tr th{
                                    text-align:center;
                                }
                                .new_table_style table tr td a{
                                    color:#000;
                                }
                            </style>
                            <div class="col-md-12" data-animation="fadeInRight" data-delay="200" ng-repeat="(key, value) in eligibleBanks" ng-if="key != 'loan_types'">
                                <h4>{{key}}</h4>
                                <!--h4 ng-show="key==5">Non Collateral</h4>
                                <h4 ng-show="key==6">US Cosigners</h4-->
                                <div class="table-responsive new_table_style"><br/>
                                    <table class="table table-bordered" style="text-align:center;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Bank Name</th>
                                                <th>Advantages</th>
                                                <th>Interest Rate</th>
                                                <th>Processing Fee</th>
                                                <th>Loan type</th>
                                                <th>Margin Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="option in value">
                                                <td><input type="checkbox" name="bank_id[]" value=""/></td>
                                                <td><img src="{{option.bank_image_url}}" class="img-responsive" width="180"/></td>
                                                <td><a href="#" data-toggle="tooltip" title="Advantages">{{option.advantages}}</a></td>
                                                <td><a href="#" data-toggle="tooltip" title="Interest Rate">{{option.interest_rate}}</a></td>
                                                <td><a href="#" data-toggle="tooltip" title="Processing Fee">&#8377; {{option.processing_fee}}</a></td>
                                                <td><a href="#" data-toggle="tooltip" title="Loan type">{{option.loan_type}}</a></td>
                                                <td><a href="#" data-toggle="tooltip" title="Margin Amount">{{option.margin_amount}}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div>
                    <button type="submit" class=" btn-big col-lg-offset-5 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 check_btn" style="border:0px;" >APPLY NOW</button>
                    <!--a href="/dashboard">
                        <button type="button" class=" btn-big col-lg-offset-5 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 check_btn" style="border:0px;" >Return To Dashboard</button>
                    </a-->
                </div>
            </div>
        </section>
    </form>
    <section id="section-fun-facts">
        <div class="container">
            <div class="row"></div>
            <div class="clearfix"></div>
            <div class="row"> </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
		<span>Have Additional Questions ?</span><br/>
		<p>Visit our support page to get your questions answered</p>
		<a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
	</section>

	<!-- footer begin -->
	<footer style="color:#000;">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<ul style="text-transform:uppercase; list-style-type:none; color:#000;">
						<li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
						<li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
						<li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
						<li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
						<li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
						<li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div class="widget widget_recent_post">
						<ul style="text-transform:uppercase;">
							<li> <strong>Registered Office :</strong><br>
								Office no 32/33, 2nd Floor,<br>
								Dheeraj Heritage, Santacruz (W)<br>
								Telephone: +91 22 26605549 <br>
								Mobile : +91 98191 19363 / +91 91676 63090<br>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget widget-address">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="subfooter">
			<div class="container">
				<div class="row">
					<div class="col-md-6" style="color:#fff;margin-top: 5px;">
						<?php echo $config_copyright?> | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
					</div>
					<div class="col-md-6 text-right">
						<div class="social-icons">
							<a href="<?php echo $config_facebook?>"><i class="fa fa-facebook fa-lg"></i></a>
							<a href="<?php echo $config_twitter?>"><i class="fa fa-twitter fa-lg"></i></a>
							<a href="<?php echo $config_linkedin?>"><i class="fa fa-linkedin"></i></a>
							<a href="<?php echo $config_googleplus?>"><i class="fa fa-google-plus fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer close -->
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
