<style>
  .submit_button, .common-submit_button{
  text-align: center;
  }
  .common-submit_button{
  margin-top: 20px;
  }
  .submit-button-input{
  height: 40px;
  width: 80px;
  font-weight: bold;
  font-size: 18px;
  }
  .next-link{
  text-align: right;
  }
  .leads_applied_products_course_id{
  display: none;
  }
  .get-offer{
  float: right!important;
  cursor: pointer;
  }
  .hiddenField{
  display: none;
  }
  .textclr{
  color: white;
  }
</style>
<!-- <div class=" text-center" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/297.jpg); background-size: cover;background-position: center center;width: 100%;height: 60%;">
  <section class=" text-white  pt-5 pb-4">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Edit Profile</h1>
        </div>
      </div>
    </div>
  </section>
  </div> -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<!-- <section class="content-header">
  <h1>Update Counsellor</h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-users"></i> Counsellor</a></li>
      <li class="active">Counsellor Update</li>
  </ol>
  </section> -->
<!-- Main content -->
<section class="content">
  <div class="row" >
    <div class="col-md-8 col-md-offset-2">
      <div class="box box-info">
        
        <form class="form-horizontal" ng-submit="updatePartner(partnerId)">
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <h2 style="text-align: center;"><b>My Profile Edit</b></h2>
                <hr>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" >Title :</label>
              <div class="col-sm-6">
                <select class="form-control" name="gentitle" ng-init="gentitle = 'Please Select'" ng-model="gentitle" required>
                  <option>Please Select</option>
                  <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">First Name :</label>
              <div class="col-sm-6">
                <input class="form-control" name="firstname" id="firstname" ng-model="first_name"  required >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Last Name :</label>
              <div class="col-sm-6">
                <input class="form-control" name="lastname" id="lastname" ng-model="last_name"  required >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Email :</label>
              <div class="col-sm-6">
                <input class="form-control" name="email" id="email" ng-model="email" required disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Mobile Number :</label>
              <div class="col-sm-6">
                <input class="form-control" name="mobile"  id="mobile" ng-model="mobile"  required disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Company Name :</label>
              <div class="col-sm-6">
                <input class="form-control" name="companyname" id="companyname" ng-model="company_name"  required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Company Website URL :</label>
              <div class="col-sm-6">
                <input class="form-control" name="companyurl" id="companyurl" ng-model="company_url" placeholder="e.g ( www.eduloans.org )" required >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Landline Number :</label>
              <div class="col-sm-6">
                <input class="form-control" name="landphone"  id="landphone" ng-model="landline" required >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Address (optional) :</label>
              <div class="col-sm-6">
                <textarea class="form-control" value="Your Address" placeholder="Your Address" style="height:130px;" initial-value="address" ng-model="address"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">City :</label>
              <div class="col-sm-6">
                <angucomplete-alt id="city" pause="300" selected-object="city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" autocomplete="off" required initial-value="city.title" ng-model="city.title"></angucomplete-alt>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Country :</label>
              <div class="col-sm-6">
                <select class="form-control" name="country" ng-init="country = 'Please Select'" ng-model="country" required>
                  <option>Please Select</option>
                  <option ng-repeat="option in allCountries" value="{{option.id}}">{{option.display_name}}</option>
                </select>
              </div>
            </div>
            <!-- <div class="form-group" ng-if="company_logo">
              <label class="col-sm-4 control-label">Logo</label>
              <div class="col-sm-6">
              <img src="{{company_logo}}" width="75px">
              </div>
              </div>
              <div class="form-group">
              <label class="col-sm-4 control-label">Upload Logo</label>
              <div class="col-sm-6">
              <input type="file" file="file" id="logofile" file-model="file" class="ng-isolate-scope">
              </div>
              </div> -->
            <div class="form-group">
              <div class="col-sm-6 float-right">
                <input type="Submit" class="btn btn-lg btn-primary" value="Update">
              </div>
            </div>
        </form>
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
    </div>
</section>
</div>