<section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(images/reports.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Reports</h1>
               
            </div>
        </div>
    </div>
</section>



<section>
   <div class="container" style="background:#fff; border-radius: 3px; box-shadow:0px 4px 4px rgba(0,0,0,0.1);">
      <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Lead Reports</h2>
                <br>
            </div>
      </div>
      <div class="col-md-12">
         <form class="col-md-12">
            <div  class=" col-md-6 col-sm-6 form-group" >
               <label class="control-label">Reports Leads</label>
               <select class="form-control"  ng-model="$parent.lead_data" >
                  <option value="YES" selected>YES</option>
                  <option value="NO" >NO</option>
               </select>
            </div>
            <div  class="col-md-6 col-sm-6 form-group" >
               <label class="control-label"> Reports Bulk Leads</label>
               <select class="form-control"  ng-model="$parent.calling_data" >
                  <option value="YES" selected>YES</option>
                  <option value="NO" >NO</option>
               </select>
            </div>
            <div class="col-md-6 col-sm-6 form-group">
               <label class="control-label">Start Date</label>
               <input type="date" class="form-control txtBoxBS" id="start_date" ng-model="start_date">
            </div>
            <div class="col-md-6 col-sm-6 form-group">
               <label class="control-label">End Date</label>
               <input type="date" class="form-control txtBoxBS" id="end_date" ng-model="end_date">
            </div>
            <div class="row form-group" style="text-align: center;">
               <button class="btn btn-primary" style="margin-top: 25px;" ng-click="reportDataList()"><i class="fa fa-download"></i> &nbsp;&nbsp; DownLoad</button>
            </div>
         </form>
      </div>
   </div>
</section>
