<style type="text/css">
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #004b7a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #a6b9cb, #004b7a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #a6b9cb, #004b7a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}
.banner-sec{background:url(http://www.eduloans.org/images/FREE_Service.png)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}

.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #004b7a;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#f9992f; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #f9992f; color:#fff; font-weight:600;}
</style>


<!-- <section id="subheader" data-speed="8" data-type="" class="ng-scope">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Forgot Password</h1>
			</div>
		</div>
	</div>
</section>
<section id="forgot-password-page" data-speed="8" data-type="background" style="height: auto;">
    <div class="container">
        <div class="row">
            <form>
                <label>Enter Email</label>
                <input type="text" name="email" ng-model="email"><br/>
                <input type="button" value="Submit" ng-click="submitForm()">
            </form>
        </div>
    </div>
</section> -->


<section class="login-block" id="forgot-password-page">
    <div class="container" style="background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);">
    <div class="row">
        <div class="col-md-4 login-sec">
            <h2 class="text-center">Forgot Password</h2>
            <form class="login-form">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Enter Email</label>
                <input type="text" class="form-control" placeholder="" name="email" ng-model="email">
              </div>
              <div class="form-check" style="text-align: center;">
                <button type="submit" class="btn btn-login" ng-click="submitForm()">Submit</button>
              </div>
            </form>
        </div>
        <div class="col-md-8 banner-sec">    
        </div>
    </div>
</div>
</section>
