<style type="text/css">
    .msgs{
        color:red;
        font-size:20px;
    }
    #errorpass{
        color:red;
        font-size:14px;
    }
</style>
<!-- content begin -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Login</h1>
                <ul class="crumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="sep">/</li>
                    <li><a href='#/login/'></a>Login</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div id="content" class="no-top no-bottom">
    <section id="" class="side-bg no-padding">
        <div class="image-container col-md-4 pull-left" data-delay="0"></div>
        <div class="container">
            <div class="row">
                <div class="inner-padding" id="form6">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <span class="msgs">Your Password has been set and account has been activated successfully, Kindly login with your username and password and complete your profile so we can process your loan application.</span>
                        </div>
                    </div>
                    <div class="col-md-12" id="us-related" data-animation="fadeInRight" data-delay="200">
                        <form action="" method="post" name="setpass">
                            <div class="col-md-8 " data-animation="fadeInRight" data-delay="200">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label required">Email/Mobile *</label>
                                        <input type="text" class="form-control" name="userid" id="userid" required ng-model="username">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label required"> Password *</label>
                                        <input type="password" class="form-control" name="password" id="password" required ng-model="password">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-2">
                                    <input type="button" name="submit" value="Login" class="btn btn-contrast" ng-click="submitLogin()">
                                </div>
                                <div class="col-sm-4"><span id="errorpass"></span></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </section>
    <section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
		<span>Have Additional Questions ?</span><br/>
		<p>Visit our support page to get your questions answered</p>
		<a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
	</section>

	<!-- footer begin -->
	<footer style="color:#000;">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<ul style="text-transform:uppercase; list-style-type:none; color:#000;">
						<li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
						<li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
						<li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
						<li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
						<li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
						<li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div class="widget widget_recent_post">
						<ul style="text-transform:uppercase;">
							<li> <strong>Registered Office :</strong><br>
								Office no 32/33, 2nd Floor,<br>
								Dheeraj Heritage, Santacruz (W)<br>
								Telephone: +91 22 26605549 <br>
								Mobile : +91 98191 19363 / +91 91676 63090<br>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget widget-address">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="subfooter">
			<div class="container">
				<div class="row">
					<div class="col-md-6" style="color:#fff;margin-top: 5px;">
						<?php echo $config_copyright?> | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
					</div>
					<div class="col-md-6 text-right">
						<div class="social-icons">
							<a href="<?php echo $config_facebook?>"><i class="fa fa-facebook fa-lg"></i></a>
							<a href="<?php echo $config_twitter?>"><i class="fa fa-twitter fa-lg"></i></a>
							<a href="<?php echo $config_linkedin?>"><i class="fa fa-linkedin"></i></a>
							<a href="<?php echo $config_googleplus?>"><i class="fa fa-google-plus fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer close -->
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#passSubmit").click(function(event){
            if($("#password").val()==''){
                $("#password").focus();
                $("#errorpass").text('Password is required');
                return false;
            }
            else if($("#password2").val()==''){
                $("#password2").focus();
                $("#errorpass").text('Confirm Password is required');
                return false;
            }
            else if($("#password").val()!= $("#password2").val()){
                $("#password2").focus();
                $("#errorpass").text('Password mismatched');
                return false;
            }
            else{
                $("#errorpass").text('');
                return true;
            }
        });
    });
</script>
