<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="reg-assets/img/favicon.ico">

	<title>Eduloans - register</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<link rel="apple-touch-icon" sizes="76x76" href="reg-assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="reg-assets/img/favicon.png" />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
	<link href="reg-assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="reg-assets/css/material-bootstrap-wizard.css" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="reg-assets/css/demo.css" rel="stylesheet" />
	<!-- <script src="scripts/services/user.js"></script>
	<script src="scripts/controllers/user.js"></script> -->

	<style>
		.tab-content>.tab-pane {
    display: block;
}
	</style>
</head>

<body>
	<div class="image-container set-full-height" style="background-image: url('reg-assets/img/wizard-profile.jpg')">

		<a href="/">
			<div class="logo-container">
				<div class="logo1">
					<img src="reg-assets/img/logo.png">
				</div>

			</div>
		</a>

		<!--  Made With Material Kit  -->

		<!--   Big container   -->
		<div class="container">
			<div class="row">
				<!--div class="col-sm-8 col-sm-offset-2"-->
				<div class="col-sm-10 col-sm-offset-1">
					<!--      Wizard container        -->
					<div class="wizard-container">
						<div class="card wizard-card" data-color="green" id="wizardProfile">

							<!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

							<div class="wizard-header">
								<h3 class="wizard-title">
									Register Your Self
								</h3>
								<h5>This information will let us know more about you.</h5>

							</div>
							<div class="wizard-navigation">
								<ul>
									<!--li><a href="#about" data-toggle="tab">About</a></li>
			                            <li><a href="#account" data-toggle="tab">Account</a></li>
			                            <li><a href="#address" data-toggle="tab">Address</a></li-->
									<li><a href="#about" data-toggle="tab">Account</a></li>
									<li><a href="#account" data-toggle="tab">Loan Details</a></li>
									<li><a href="#address" data-toggle="tab">Offers</a></li>
								</ul>
							</div>

							<div class="tab-content">
								<div class="tab-pane" id="details" ng-show="currentPage == key" ng-repeat="(key, value) in template">
									<form action="" method="" name="myForm" ng-repeat="(object, fieldsList) in value">
										<h4 class="info-text" ng-if="object=='signup_object'"> Let's start with the basic
											details.</h4>
										<h4 class="info-text" ng-if="object=='loan_detail_object'"> How much loan amount
											you need?</h4>
										<div class="row">
											<div class="col-sm-offset-1 col-sm-10" ng-repeat="(index, list) in fieldsList" 
											ng-if="fieldsList[index].field_name=='requested_loan_amount'">
												<div class="form-group label-floating">
													<h5>Requested loan amount</h5>
													<div class="slidecontainer">
                                                    <input type="range" min="1" max="10000000" value="500000" class="slider"
                                                        id="myRange" ng-model="templateFields['leads|requested_loan_amount']">
                                                    <br>
                                                    <h5>₹ : {{templateFields['leads|requested_loan_amount']}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-repeat="(index, list) in fieldsList" ng-if="fieldsList[index].field_name!='requested_loan_amount' && fieldsList[index].field_name!='loan_type' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course' && fieldsList[index].field_name!='opted_year' && fieldsList[index].field_name!='opted_month'"
                                            id="{{fieldsList[index].field_table_name}}-{{fieldsList[index].field_column_name}}"
                                            ng-class="{'col-md-6': fieldsList[index].is_dependent==0, 'col-md-6 hiddenField': fieldsList[index].is_dependent==1}">
                                            <div class="input-group">
                                                <span class="input-group-addon" ng-if="fieldsList[index].field_ui_type != 'radio'"><i
                                                        class="material-icons">{{fieldsList[index].field_material_icon_name}}</i></span>
                                                <div class="form-group label-floating">

                                                    <label for="{{fieldsList[index].field_name}}" class="control-label"
                                                        ng-if="fieldsList[index].field_ui_type != 'radio' && fieldsList[index].mandatory">{{fieldsList[index].field_display_name}}
                                                        <span style="color: red;">* </span></label>
                                                    <label for="{{fieldsList[index].field_name}}" class="control-label"
                                                        ng-if="fieldsList[index].field_ui_type != 'radio' && !fieldsList[index].mandatory">{{fieldsList[index].field_display_name}}</label>
                                                    <input type="text" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}"
                                                        ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"
                                                        ng-blur="checkUser(fieldsList[index].field_column_name)">
                                                    <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}"
                                                        ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"
                                                        ng-blur="checkUser(fieldsList[index].field_column_name)">
                                                    <select class="form-control" name="{{fieldsList[index].field_name}}"
                                                        id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}"
                                                        ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || ''"
                                                        ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"
                                                        ng-if="fieldsList[index].field_ui_type == 'static_drop_down'"
                                                        ng-blur="checkUser(fieldsList[index].field_column_name)">

                                                        <option></option>
                                                        <option ng-repeat="option in fieldsList[index].list_items"
                                                            value="{{option.id}}">{{option.display_name}}</option>
                                                    </select>
                                                    <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'"
                                                        ng-repeat="option in fieldsList[index].list_items">
                                                        <label class="rbt_container">{{option.display_name}}
                                                            <input type="radio" name="{{fieldsList[index].field_name}}"
                                                                ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"
                                                                value="{{option.id}}" ng-change="checkUser(fieldsList[index].field_column_name)">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <angucomplete-alt id="ex2" placeholder="Search City" pause="300"
                                                        selected-object="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"
                                                        selected-object-data="id" remote-url={{searchApi}}
                                                        remote-url-data-field="data" title-field="display_name"
                                                        minlength="1" input-class="form-control" match-class="highlight"
                                                        ng-if="fieldsList[index].field_ui_type == 'auto_search'">
                                                        <!--input type="text" class="form-control" keyboard-poster post-function="searchFlight" data-ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" placeholder="Select City" list="_cities" ng-if="fieldsList[index].field_ui_type == 'auto_search'">
                                                            <datalist id="_cities" ng-if="fieldsList[index].field_ui_type == 'auto_search'">
                                                                <option ng-repeat="city in cities" data-value="{{city.id}}">{{city.display_name}}</option>
                                                            </datalist-->
                                                        <!--md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in searchFlight(searchText)" md-item-text="item.display_name">
                                                                <md-item-template>
                                                                    <span md-highlight-text="searchText">{{item.display_name}}</span>
                                                                </md-item-template>
                                                                <md-not-found>
                                                                    No matches found.
                                                                </md-not-found>
                                                            </md-autocomplete-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="info-text" ng-if="object=='loan_detail_object'">Which university and
                                        course are you looking for?? </h4>
                                    <div class="pull-right" ng-if="object=='loan_detail_object'">
                                        <input type='button' class='btn btn-fill btn-danger cloneBtn' ng-click="clonerow(object, fieldsList)"
                                            name='' value='+' />
                                    </div>
                                    <div id="{{ object }}" class="row box" style="box-shadow: 0px 1px 2px; clear: both;">
                                        <div class="col-sm-6" ng-repeat="(index, list) in fieldsList" ng-if="fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course' || fieldsList[index].field_name=='opted_month' || fieldsList[index].field_name=='opted_year'">
                                            <div class="input-group">
                                                <span class="input-group-addon" ng-if="fieldsList[index].field_ui_type != 'radio'"><i
                                                        class="material-icons">{{fieldsList[index].field_material_icon_name}}</i></span>
                                                <div class="form-group label-floating">
                                                    <label for="{{fieldsList[index].field_name}}" class="control-label"
                                                        ng-if="fieldsList[index].field_ui_type != 'radio'">{{fieldsList[index].field_display_name}}</label>
                                                    <input type="text" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}"
                                                        ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"
                                                        ng-blur="checkUser(fieldsList[index].field_column_name)">
                                                    <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}"
                                                        ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]">
                                                    <select class="form-control" name="{{fieldsList[index].field_name}}"
                                                        id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || 'Please Select'"
                                                        ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"
                                                        ng-if="fieldsList[index].field_ui_type == 'static_drop_down_year'"
                                                        ng-required="fieldsList[index].mandatory">
                                                        <option>Please Select</option>
                                                        <option value="{{present}}">{{present}}</option>
                                                        <option value="{{next}}">{{next}}</option>
                                                        <option value="{{future}}">{{future}}</option>

                                                    </select>
                                                    <select class="form-control" name="{{fieldsList[index].field_name}}"
                                                        id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}"
                                                        ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || 'Please Select'"
                                                        ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"
                                                        ng-if="fieldsList[index].field_ui_type == 'static_drop_down'"
                                                        ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)">
                                                        <option>Please Select</option>
                                                        <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping"
                                                            ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                                        <option ng-if="fieldsList[index].field_name!='opted_country'"
                                                            ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                                    </select>
                                                    <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'"
                                                        ng-repeat="option in fieldsList[index].list_items">
                                                        <label class="rbt_container">{{option.display_name}}
                                                            <input type="radio" name="{{fieldsList[index].field_name}}"
                                                                ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]"
                                                                value="{{option.id}}">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="info-text" ng-if="object=='loan_detail_object'">What type of loan are
                                        you looking for? </h4>
                                    <div class="row" ng-if="object=='loan_detail_object'">
                                        <div class="col-sm-10 col-sm-offset-1" ng-repeat="(index, list) in fieldsList"
                                            ng-if="fieldsList[index].field_name=='loan_type'">
                                            <div class="col-sm-3" ng-repeat="option in fieldsList[index].list_items">
                                                <div ng-class="{'choice': 1, 'active': templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] && templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name].indexOf(option.id)!=-1}"
                                                    data-toggle="wizard-radio" rel="tooltip" data-html="true" title="<b>Processing Fees</b> : ₹ 10,000/- <br> <b>Interest Rate</b> : 9% - 11% <br> <b>Amount</b> : Upto 100% of property value / Full I20 value (Max 2CR)">
                                                    <input type="checkbox" name="{{fieldsList[index].field_name}}">
                                                    <div class="icon" style="border-radius: 15%;" ng-click="selectLoanType(fieldsList[index].field_table_name, fieldsList[index].field_column_name, option.id)"><i
                                                            class="material-icons">business</i></div>
                                                    <h6>{{option.display_name}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="pull-left" ng-if="prevPage">
                                            <a ng-click="gotoPrev()" type='button' class='btn btn-fill btn-default btn-wd margin12'>PREVIOUS</a>
                                        </div>
                                        <div class="pull-left" ng-if="!prevPage" id="error_message">
                                            {{error.message}}
                                        </div>
                                        <div class="pull-right">
                                            <a ng-click="submitForm(fieldsList[0].group_url, fieldsList[0].group_object, fieldsList[0].group_id)"
                                                type='button' class='btn btn-fill btn-danger btn-wd margin12'
                                                ng-disabled="nextButtonDisabled">NEXT </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="description" ng-show="currentPage == 'Offers'">
                                <h4 class="info-text">OFFERS as per your given data </h4>
                                <div class="row">
                                    <div class="span12">
                                        <div class="menu">
                                            <div class="accordion">
                                                <div class="accordion-group" ng-repeat="(index, offerdata) in offersdata">

                                                    <div class="accordion-heading country">
                                                        <div class="table table-striped table-condensed table_Layout">
                                                            <div style="background-color: slategray;color: white;">
                                                                <div class="tableTD">
                                                                    {{offerdata.name}}
                                                                    <button type="button" class="btn btn-sm btn-fill offerView pull-right"
                                                                        data-toggle="collapse" data-target="{{'#'+index}}"
                                                                        title="Click To View Offers"></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="{{index}}" class="accordion-body">
                                                        <div ng-if="offerdata.Collateral.length">
                                                            <h4 style="text-align: -webkit-center;"><b>Collateral</b></h4>
                                                            <table class="table table-striped table-condensed table_Layout">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="tableTD"></th>

                                                                        <th class="tableTD">Interest Rate</th>
                                                                        <th class="tableTD">Processing Fees </th>
                                                                        <th class="tableTD">Processing Time </th>
                                                                        <!--                                                                     <th class="tableTD">Convenience of Processing</th>
     -->
                                                                        <th class="tableTD">Documentation requirement
                                                                            for Processing</th>
                                                                        <th class="tableTD">Max Loan offered</th>
                                                                        <th class="tableTD"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    <tr ng-repeat="product in offerdata.Collateral"
                                                                        ng-if="product && product.image_url">
                                                                        <td class="tableTD tdWrap"><img class="img-fluid"
                                                                                src="{{product.image_url}}" style="height: 30px;"></td>
                                                                        <td class="tableTD tdWrap">{{product.interest_rate}}</td>

                                                                        <td class="tableTD tdWrap">{{product.processing_fee}}
                                                                            <div class="progress-barTable">
                                                                                <div title="23.7%" class="progress-bar-strip"
                                                                                    style="width: 23.7%;"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="tableTD tdWrap">1 Month</td>
                                                                        <td class="tableTD tdWrap">
                                                                            <p>Aadhaar Card</p>
                                                                            <p>PAN Card</p>
                                                                            <p>University Letter</p>
                                                                        </td>

                                                                        <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                                        <td class="tableTD tdWrap"><input type='button'
                                                                                class='btn btn-sm btn-fill applyBTN btn-danger'
                                                                                ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id)"
                                                                                value='APPLY' /></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div ng-if="offerdata.NonCollateral.length">
                                                            <h4 style="text-align: -webkit-center;"><b>Non Collateral</b></h4>
                                                            <table class="table table-striped table-condensed table_Layout">

                                                                <thead>
                                                                    <tr>
                                                                        <th class="tableTD"></th>

                                                                        <th class="tableTD">Interest Rate</th>
                                                                        <th class="tableTD">Processing Fees </th>
                                                                        <th class="tableTD">Processing Time </th>
                                                                        <!--                                                                     <th class="tableTD">Convenience of Processing</th>
     -->
                                                                        <th class="tableTD">Documentation requirement
                                                                            for Processing</th>
                                                                        <th class="tableTD">Max Loan offered</th>
                                                                        <th class="tableTD"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="product in offerdata.NonCollateral"
                                                                        ng-if="product && product.image_url">
                                                                        <td class="tableTD tdWrap"><img class="img-fluid"
                                                                                src="{{product.image_url}}" style="height: 30px;"></td>
                                                                        <td class="tableTD tdWrap">{{product.interest_rate}}</td>

                                                                        <td class="tableTD tdWrap">{{product.processing_fee}}
                                                                            <div class="progress-barTable">
                                                                                <div title="23.7%" class="progress-bar-strip"
                                                                                    style="width: 23.7%;"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="tableTD tdWrap">1 Month</td>
                                                                        <td class="tableTD tdWrap">
                                                                            <p>Aadhaar Card</p>
                                                                            <p>PAN Card</p>
                                                                            <p>University Letter</p>
                                                                        </td>

                                                                        <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                                        <td class="tableTD tdWrap"><input type='button'
                                                                                class='btn btn-sm btn-fill applyBTN btn-danger'
                                                                                ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id)"
                                                                                value='APPLY' /></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div ng-if="offerdata.USCosigner.length">
                                                            <h4 style="text-align: -webkit-center;"><b>US Cosigner</b></h4>
                                                            <table class="table table-striped table-condensed table_Layout">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="tableTD"></th>

                                                                        <th class="tableTD">Interest Rate</th>
                                                                        <th class="tableTD">Processing Fees </th>
                                                                        <th class="tableTD">Processing Time </th>
                                                                        <!--                                                                     <th class="tableTD">Convenience of Processing</th>
     -->
                                                                        <th class="tableTD">Documentation requirement
                                                                            for Processing</th>
                                                                        <th class="tableTD">Max Loan offered</th>
                                                                        <th class="tableTD"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="product in offerdata.USCosigner"
                                                                        ng-if="product && product.image_url">
                                                                        <td class="tableTD tdWrap"><img class="img-fluid"
                                                                                src="{{product.image_url}}" style="height: 30px;"></td>
                                                                        <td class="tableTD tdWrap">{{product.interest_rate}}</td>

                                                                        <td class="tableTD tdWrap">{{product.processing_fee}}
                                                                            <div class="progress-barTable">
                                                                                <div title="23.7%" class="progress-bar-strip"
                                                                                    style="width: 23.7%;"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="tableTD tdWrap">1 Month</td>
                                                                        <td class="tableTD tdWrap">
                                                                            <p>Aadhaar Card</p>
                                                                            <p>PAN Card</p>
                                                                            <p>University Letter</p>
                                                                        </td>

                                                                        <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                                        <td class="tableTD tdWrap"><input type='button'
                                                                                class='btn btn-sm btn-fill applyBTN btn-danger'
                                                                                ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id)"
                                                                                value='APPLY' /></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pull-right">
                                        <a ng-click="finishSignup()" type='button' class='btn btn-fill btn-danger btn-wd margin12'>FINISH</a>
                                    </div>
                                    <div class="pull-left">
                                        <a ng-click="changePage('captain')" type='button' class='btn btn-fill btn-default btn-wd margin12'>PREVIOUS</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> <!-- wizard container -->
            </div>
        </div>
    </div>
</section>

		<div class="footer">
			<div class="container text-center">
				© Copyright 2018 - Eduloans | Powered By : <a href="#">Eduloans</a>
			</div>
		</div>
	</div>

</body>


<style>
	.progress-barTable {
    background: #eee;
    min-height: .5em;
    letter-spacing: 0;
    line-height: 0;
    font-size: 0;
    text-align: left;
    height: 20%;
    border-radius: 5px;
}
.progress-barTable .progress-bar-strip {
    background: #0094ff;
    color: #fff;
    display: inline-block;
    height: 100%;
    min-height: .5rem;
    text-align: center;
    margin: 0;
    line-height: 0;
    border-radius: 5px;
}
</style>


<!--   Core JS Files   -->
<script src="reg-assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="reg-assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="reg-assets/js/jquery.bootstrap.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="reg-assets/js/material-bootstrap-wizard.js"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<!--script src="reg-assets/js/jquery.validate.min.js"></script-->
<script src="reg-assets/js/jquery.validate.js"></script>

</html>
