<style>
    .submit_button, .common-submit_button{
    text-align: center;
    }
    .common-submit_button{
    margin-top: 20px;
    }
    .submit-button-input{
    height: 40px;
    width: 80px;
    font-weight: bold;
    font-size: 18px;
    }
    .next-link{
    text-align: right;
    }
    .leads_applied_products_course_id{
    display: none;
    }
    .get-offer{
    float: right!important;
    cursor: pointer;
    }
    .hiddenField{
    display: none;
    }
    .textclr{
    color: white;
    }
</style>
<div class="content-wrapper">
    <section class="content">
      <div class="row" >
        <div class="col-md-8 col-md-offset-2">
          <div class="box box-info">
            <form class="form-horizontal ng-pristine ng-valid"  ng-submit="uploadCounselorFile()">
                <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h2 style="text-align: center;"><b>My Document Upload</b></h2>
                        <hr>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Select Document Type  :</label>
                      <div class="col-sm-6">
                        <select class="form-control" name="document-meta" id="document-meta" ng-init="couuDocumentMeta='Please Select'" ng-model="couuDocumentMeta">
                                    <option>Please Select</option>
                                    <option ng-repeat="option in allUploadDocumentTypes" value="{{option.id}}">{{option.name}}</option>
                                </select>
                      </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                    <p><font size="2" color="red"><b>No Special characters are allowed</b> in uploading file name <br><b>File Size Max 5MB</b></font></p> </label>
                        <div class="col-sm-6">

                                <button class="upload-btn">Select document</button>
                                <input type="file" file="file" required class="ng-isolate-scope">

                             <input type="submit" class="btn btn-lg btn-primary" name="submit" value="Submit">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"> </label>
                        <div class="col-sm-6">
                        <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-striped">
                            <tr>
                                <th>Document Type</th>
                                <th>File</th>
                                <th>Uploaded on</th>
                            </tr>
                            <tr ng-repeat="document in allCounselorDocuments">
                                <td ng-if="document.document_meta_id == '15'">Agreement Document</td>
                                <td ng-if="document.document_meta_id == '13'">Company Logo</td>
                                <td ng-if="document.document_meta_id == '14'">GST Document</td>
                                <td>
                                    <a href="{{document.document_url}}" target="_blank" class="btn btn-sm btn-info">Open</a>
                                </td>
                                <td>{{document.date_updated}}</td>
                            </tr>

                        </table>
                    </div>
                    </div>
                 </div>
                </form>





          </div>
        </div>
      </div>
    </section>
</div>
