
<style type="text/css">
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #004b7a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #a6b9cb, #004b7a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #f5f6f8, #f5f6f8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}
.banner-sec{background:url(/images/security-concept.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}

.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #004b7a;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#f9992f; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #f9992f; color:#fff; font-weight:600;}
</style>



<section class="login-block" id="forgot-password-page">
    <div class="container" style="background:#fff; border-radius: 10px; box-shadow:8px 8px 0px rgba(0,0,0,0.1);">
    <div class="row">
        <div class="col-md-4 login-sec">
            <h2 class="text-center">Change Password</h2>
            <form class="login-form">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Old Password</label>
                <input type="text" class="form-control" placeholder="" name="oldPassowrd" id="oldPassowrd" ng-model="oldPassowrd"  required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">New Password</label>
                <input type="text" class="form-control" placeholder="" name="newPassowrd" id="newPassowrd" ng-model="newPassowrd"  required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Confirm Password</label>
                <input type="text" class="form-control" placeholder="" name="confirmPassowrd" id="confirmPassowrd" ng-model="confirmPassowrd" required>
              </div>
              <div class="form-check" style="text-align: center;">
                <button type="submit" class="btn btn-lg btn-login" ng-click="updatePassword()">Submit</button>
              </div>
            </form>
        </div>
        <div class="col-md-8 banner-sec">
        </div>
    </div>
</div>
</section>
