<style>
   .hiddenField{
   display: block;
   }
</style>
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" /-->
<!--link rel="stylesheet" href="styles/registeration1.css" /-->
<!-- new styles begin -->
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<!-- CSS Files -->
<!--link href="reg-assets/css/bootstrap.min.css" rel="stylesheet" /-->
<link href="reg-assets/css/material-bootstrap-wizard-mod.css" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<!--link href="reg-assets/css/demo.css" rel="stylesheet" /-->
<!--   Core JS Files   -->
<!--script src="reg-assets/js/jquery-2.2.4.min.js" type="text/javascript"></script-->
<!--script src="reg-assets/js/bootstrap1.min.js" type="text/javascript"></script-->
<script src="reg-assets/js/jquery.bootstrap.js" type="text/javascript"></script> <!-- required for material effect -->
<!--  Plugin for the Wizard -->
<script src="reg-assets/js/material-bootstrap-wizard.js"></script>
<!--  More information about jquery.validate here: http://jqueryvalidation.org/  -->
<!--script src="reg-assets/js/jquery.validate.min.js"></script-->
<!--script src="reg-assets/js/jquery.validate.js"></script-->
<!-- new styles end -->
<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->
<!--section style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(reg-assets/img/wizard-profile.jpg); background-size: cover;background-position: center center;width: 100%;height: 100%;">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="page-top-title" style="color: #ffffff; text-align:left;font-weight:bold;font-size:36px;">Registration</h1>

           </div>
       </div>
   </div>
   </section-->
<style>
   .tab-content>.tab-pane {
   display:block;
   }
   .btn.btn-primary, .btn.btn-secondary {
   /*margin-top:0px;*/
   }
   .selectt {
   color: black;
   padding: 30px;
   display: none;
   margin-top: 30px;
   width: 100%;
   background: white;
   box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 30%);
   }
   .labelCheck{
        font-size: 15px !important;
    line-height: 1.42857 !important;
    color: #4e4d4d !important;
    font-weight: 500 !important ;
   }
   /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
<section id="registration-page" data-speed="8" data-type="background" style="background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;background-image: url(reg-assets/img/wizard-profile.jpg); background-size: cover;background-position: center center;background-attachment: fixed; width: 100%;height: 100%;margin-top:0px;">
   <div class="container">
      <div class="row">
         <div class="col-sm-10 col-sm-offset-1">
            <!-- Wizard container -->
            <div class="wizard-container">
               <!--div class="card wizard-card" data-color="red" id="wizard"-->
               <div class="card wizard-card" data-color="green" id="wizardProfile">
                  <div class="wizard-header">
                     <h2 class="wizard-title">Register Your Self</h2>
                     <h4>This information will let us know more about you.</h4>
                  </div>
                  <div class="wizard-navigation">
                     <ul id="nav-header" class="nav nav-pills">
                        <li style="width: 33.33%"><a>Account</a></li>
                        <li style="width: 33.33%"><a>Loan Details</a></li>
                        <li style="width: 33.33%"><a>Offers</a></li>
                     </ul>
                  </div>
                  <div class="tab-content">
                     <div class="tab-pane" id="details" ng-show="currentPage == key" ng-repeat="(key, value) in template">
                        <form action="" method="" name="myForm" ng-repeat="(object, fieldsList) in value" ng-if="fieldsList!='1'">
                           <h4 class="info-text" ng-if="object=='signup_object'"> Let's start with the basic details.</h4>
                           <div class="row" ng-if="object=='signup_object'">

                            <div ng-repeat="(index, list) in fieldsList" ng-if="fieldsList[index].field_name!='requested_loan_amount' && fieldsList[index].field_name!='loan_type' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course' && fieldsList[index].field_name!='opted_year' && fieldsList[index].field_name!='opted_month'" id="{{fieldsList[index].field_table_name}}-{{fieldsList[index].field_column_name}}" ng-class="{'col-md-6': fieldsList[index].is_dependent==0, 'col-md-6 hiddenField': fieldsList[index].is_dependent==1}">
                              <div class="input-group"> <span class="input-group-addon" ng-if="fieldsList[index].field_ui_type != 'radio'"><i class="material-icons">{{fieldsList[index].field_material_icon_name}}</i></span>
                                <div class="form-group label-floating">
                                  <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio' && fieldsList[index].mandatory">{{fieldsList[index].field_display_name}} <span style="color: red;">* </span></label>
                                  <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio' && !fieldsList[index].mandatory && fieldsList[index].field_name != 'opted_other_university' && fieldsList[index].field_name != 'opted_other_course'">{{fieldsList[index].field_display_name}}</label>
                                  <input type="text" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'text' && fieldsList[index].field_name != 'opted_other_university' && fieldsList[index].field_name != 'opted_other_course'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)" autocomplete="off">
                                  <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)" autocomplete="off">
                                  <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || ''" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down'" ng-blur="checkUser(fieldsList[index].field_column_name)">
                                    <option></option>
                                    <option ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                  </select>
                                  <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                    <label class="rbt_container">{{option.display_name}}
                                      <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}" ng-change="checkUser(fieldsList[index].field_column_name)"> <span class="checkmark"></span> </label>
                                  </div>
                                  <angucomplete-alt id="ex2" pause="300" selected-object="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'">
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="tab-pane" id="description" >
                           <h4 class="info-text" ng-if="object=='loan_detail_object'" style="margin-bottom: 0;"> What type of Request ?</h4>
                           <div class="row"  ng-repeat="(index, list) in fieldsList" ng-if="fieldsList[index].field_name=='registration_type'" style="    display: inline-flex;    width: -webkit-fill-available;margin-left: 25%;">
                              <div class="col-md-4 form-group" style="    text-align: center;margin-top: 0px;" ng-if="fieldsList[index].field_ui_type == 'static_multiselect_drop_down'" ng-repeat="option in fieldsList[index].list_items">
                                 <label for="{{fieldsList[index].field_name}}" class="control-label labelCheck" >{{option.display_name}}</label>
                                 <input type="checkbox" name="{{fieldsList[index].field_name}}"
                                    ng-model="isChecked" value="{{option.id}}" ng-change="checkType(option.id)"> </label>
                                 <!-- <label class="labelCheck">
                                    <input type="checkbox" name="forexLoan"
                                       value="forexLoan"> Forex Loan</label> -->
                              </div>
                           </div>
                           <div class="422 selectt">
                              <h4 class="info-text" ng-if="object=='loan_detail_object'"> How much loan amount you need?</h4>
                              <div class="row">
                                 <div class="col-sm-offset-1 col-sm-10" ng-repeat="(index, list) in fieldsList" ng-if="fieldsList[index].field_name=='requested_loan_amount'">
                                    <div class="form-group label-floating">
                                       <h5>Requested loan amount</h5>
                                       <div class="slidecontainer">
                                          <input type="range" min="0" max="15000000" value="10" class="slider" id="myRange"  ng-model="templateFields['leads|requested_loan_amount']">
                                          <br>
                                          <h5>₹ : {{templateFields['leads|requested_loan_amount']}}</h5>
                                       </div>
                                    </div>
                                 </div>
                                 <div ng-repeat="(index, list) in fieldsList" ng-if="fieldsList[index].field_name!='requested_loan_amount' && fieldsList[index].field_name!='loan_type' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course' && fieldsList[index].field_name!='opted_year' && fieldsList[index].field_name!='opted_month' && fieldsList[index].field_name!='forex_conversion_amount' && fieldsList[index].field_name!='registration_type' && fieldsList[index].field_name!='forex_convert_to'" id="{{fieldsList[index].field_table_name}}-{{fieldsList[index].field_column_name}}" ng-class="{'col-md-6': fieldsList[index].is_dependent==0, 'col-md-6 hiddenField': fieldsList[index].is_dependent==1}">
                                    <div class="input-group" >
                                       <span class="input-group-addon" ng-if="fieldsList[index].field_ui_type != 'radio'"><i class="material-icons">{{fieldsList[index].field_material_icon_name}}</i></span>
                                       <div class="form-group label-floating">
                                          <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio' && fieldsList[index].mandatory">{{fieldsList[index].field_display_name}} <span style="color: red;">* </span></label>
                                          <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio' && !fieldsList[index].mandatory && fieldsList[index].field_name != 'opted_other_university' && fieldsList[index].field_name != 'opted_other_course'">{{fieldsList[index].field_display_name}}</label>
                                          <input type="text" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'text' && fieldsList[index].field_name != 'opted_other_university' && fieldsList[index].field_name != 'opted_other_course'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)" autocomplete="off">
                                          <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)" autocomplete="off">
                                          <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || ''" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down'" ng-blur="checkUser(fieldsList[index].field_column_name)">
                                             <option></option>
                                             <option ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                          </select>
                                          <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                             <label class="rbt_container">{{option.display_name}}
                                             <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}" ng-change="checkUser(fieldsList[index].field_column_name)">
                                             <span class="checkmark"></span>
                                             </label>
                                          </div>
                                          <angucomplete-alt id="ex2" pause="300" selected-object="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'">
                                          <!--input type="text" class="form-control" keyboard-poster post-function="searchFlight" data-ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" placeholder="Select City" list="_cities" ng-if="fieldsList[index].field_ui_type == 'auto_search'">
                                             <datalist id="_cities" ng-if="fieldsList[index].field_ui_type == 'auto_search'">
                                                 <option ng-repeat="city in cities" data-value="{{city.id}}">{{city.display_name}}</option>
                                             </datalist-->
                                          <!--md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in searchFlight(searchText)" md-item-text="item.display_name">
                                             <md-item-template>
                                                 <span md-highlight-text="searchText">{{item.display_name}}</span>
                                             </md-item-template>
                                             <md-not-found>
                                                 No matches found.
                                             </md-not-found>
                                             </md-autocomplete-->
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <h4 class="info-text" ng-if="object=='loan_detail_object'">What type of loan are you looking for? </h4>
                              <div class="row" ng-if="object=='loan_detail_object'">
                                 <div class="col-sm-10 col-sm-offset-1" ng-repeat="(index, list) in fieldsList" ng-if="fieldsList[index].field_name=='loan_type'">
                                    <div class="col-sm-3" ng-repeat="option in fieldsList[index].list_items">
                                       <div ng-class="{'choice': 1, 'active': templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] && templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name].indexOf(option.id)!=-1}" data-toggle="wizard-radio" tooltips  data-html="true" tooltip-template="<b>Processing Fees</b> : ₹ 10,000/- <br> <b>Interest Rate</b> : 9% - 11% <br> <b>Amount</b> : Upto 100% of property value / Full I20 value (Max 2CR) {{option.display_name}}">
                                          <input type="checkbox" name="{{fieldsList[index].field_name}}">
                                          <div class="icon" style="border-radius: 15%;" ng-click="selectLoanType(fieldsList[index].field_table_name, fieldsList[index].field_column_name, option.id)"><i class="material-icons">business</i></div>
                                          <h6>{{option.display_name}}</h6>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="423 selectt">
                              <h4 class="info-text" ng-if="object=='loan_detail_object'"> How much forex amount you need?</h4>
                              <div class="row">
                                  <div ng-repeat="(index, list) in fieldsList" ng-if="fieldsList[index].field_name!='requested_loan_amount' && fieldsList[index].field_name!='loan_type' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course' && fieldsList[index].field_name!='opted_year' && fieldsList[index].field_name!='opted_month' && fieldsList[index].field_name!='gre_score' && fieldsList[index].field_name!='parent_it_return' && fieldsList[index].field_name!='mortgage_value' && fieldsList[index].field_name!='registration_type'" id="{{fieldsList[index].field_table_name}}-{{fieldsList[index].field_column_name}}" ng-class="{'col-md-6': fieldsList[index].is_dependent==0, 'col-md-6 hiddenField': fieldsList[index].is_dependent==1}">
                                    <div class="input-group" >
                                       <span class="input-group-addon" ng-if="fieldsList[index].field_ui_type != 'radio'"><i class="material-icons">{{fieldsList[index].field_material_icon_name}}</i></span>
                                       <div class="form-group label-floating">
                                          <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio' && fieldsList[index].mandatory">{{fieldsList[index].field_display_name}} <span style="color: red;">* </span></label>
                                          <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio' && !fieldsList[index].mandatory && fieldsList[index].field_name != 'opted_other_university' && fieldsList[index].field_name != 'opted_other_course'">{{fieldsList[index].field_display_name}}</label>
                                          <input type="text" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'text' && fieldsList[index].field_name != 'opted_other_university' && fieldsList[index].field_name != 'opted_other_course'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)" autocomplete="off">
                                          <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)" autocomplete="off">
                                          <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || ''" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down'" ng-blur="checkUser(fieldsList[index].field_column_name)">
                                             <option></option>
                                             <option ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                          </select>
                                          <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                             <label class="rbt_container">{{option.display_name}}
                                             <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}" ng-change="checkUser(fieldsList[index].field_column_name)">
                                             <span class="checkmark"></span>
                                             </label>
                                          </div>
                                          <angucomplete-alt id="ex2" pause="300" selected-object="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'">
                                          </angucomplete-alt>
                                       </div>
                                    </div>
                                 </div>

                              </div>
                           </div>
                           <h4 class="info-text" ng-if="object=='loan_detail_object'">Which university and course are you looking for?? </h4>
                           <!--div class="pull-right" ng-if="object=='loan_detail_object'">
                              <input type='button' class='btn btn-fill btn-danger cloneBtn' ng-click="clonerow(object, fieldsList)" name='' value='+' />
                              </div-->
                           <div id="{{ object }}" class="row" >
                              <div class="col-sm-6" ng-repeat="(index, list) in fieldsList" ng-if="fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course' || fieldsList[index].field_name=='opted_month' || fieldsList[index].field_name=='opted_year'">
                                 <div class="input-group" >
                                    <span class="input-group-addon" ng-if="fieldsList[index].field_ui_type != 'radio'"><i class="material-icons">{{fieldsList[index].field_material_icon_name}}</i></span>
                                    <div class="form-group label-floating">
                                       <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio'">{{fieldsList[index].field_display_name}}</label>
                                       <input type="text" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)" autocomplete="off">
                                       <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" autocomplete="off">
                                       <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || ''" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down_year'"  ng-required="fieldsList[index].mandatory">
                                          <option></option>
                                          <option value="{{present}}">{{present}}</option>
                                          <option value = "{{next}}">{{next}}</option>
                                          <option value = "{{future}}">{{future}}</option>
                                       </select>
                                       <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || ''" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down'" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)">
                                          <option></option>
                                          <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                          <option ng-if="fieldsList[index].field_name!='opted_country'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                       </select>
                                       <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                          <label class="rbt_container">{{option.display_name}}
                                          <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}">
                                          <span class="checkmark"></span>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="wizard-footer">
                              <!-- <div class="pull-left" ng-if="prevPage">
                                 <a ng-click="gotoPrev()" type='button' class='btn btn-fill btn-default btn-wd margin12'>PREVIOUS</a>
                              </div> -->
                              <!--div class="pull-left" ng-if="!prevPage" id="error_message">
                                 {{error.message}}
                                 </div-->
                              <div class="pull-right">
                                 <a ng-click="submitForm(fieldsList[0].group_url, fieldsList[0].group_object, fieldsList[0].group_id)" type='button' class='btn btn-fill btn-danger btn-wd margin12' ng-disabled="nextButtonDisabled">NEXT </a>
                              </div>
                           </div>
                        </form>
                     </div>
                     </div>
                     <div class="tab-pane" id="description" ng-show="currentPage == 'Offers'">
                        <h4 class="info-text">OFFERS as per your given data </h4>
                        <div class="row">
                          <div class="tab">
                            <button class="tablinks" onclick="openTab(event, 'tab1')" id="defaultOpen" style="background-color: #004b7a;border: 1px solid #004b7a;color: white;">Education Loan Offers</button>
                            <button class="tablinks" onclick="openTab(event, 'tab2')" style="background-color: #f1f1f1;border: 1px solid #f1f1f1;" id="defaultClose">Forex Loan Offers</button>
                            <!-- <button class="tablinks" onclick="openTab(event, 'tab3')">New</button> -->
                          </div>
                          <div id="tab1" class="tabcontent">
                            <h3>Education Loan Offers</h3>
                            <div class="span12">
                              <div class="menu">
                                 <div class="accordion">
                                    <div class="accordion-group" ng-repeat="(index, offerdata) in offersdata">
                                       <div class="accordion-heading country">
                                          <div class="table table-striped table-condensed table_Layout">
                                             <div style="background-color: slategray;color: white;">
                                                <div class="tableTD">
                                                   {{offerdata.name}}
                                                   <!--button type="button" class="btn btn-sm btn-fill offerView pull-right" data-toggle="collapse" data-target="{{'#'+index}}" title="Click To View Offers"></button-->
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div id="{{index}}" class="accordion-body" >
                                          <div ng-if="offerdata.Collateral.length">
                                             <h4 style="text-align: -webkit-center;"><b>Collateral</b></h4>
                                             <table class="table table-striped table-condensed table_Layout" >
                                                <thead>
                                                   <tr>
                                                      <th class="tableTD"></th>
                                                      <th class="tableTD">Interest Rate</th>
                                                      <th class="tableTD">Processing Fees </th>
                                                      <th class="tableTD">Processing Time </th>
                                                      <!--                                                                     <th class="tableTD">Convenience of Processing</th>
                                                         -->
                                                      <th class="tableTD">Documentation requirement for Processing</th>
                                                      <th class="tableTD">Max Loan offered</th>
                                                      <th class="tableTD"></th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr ng-repeat="product in offerdata.Collateral" ng-if="product && product.image_url">
                                                      <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 30px;"></td>
                                                      <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                      <td class="tableTD tdWrap">
                                                         {{product.processing_fee}}
                                                         <div class="progress-barTable">
                                                            <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                         </div>
                                                      </td>
                                                      <td class="tableTD tdWrap">1 Month</td>
                                                      <td class="tableTD tdWrap">
                                                         <p>Aadhaar Card</p>
                                                         <p>PAN Card</p>
                                                         <p>University Letter</p>
                                                      </td>
                                                      <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                      <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1"><a id="{{product.product_id}}" class='btn btn-sm btn-fill applyBTN btn-danger' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.display_name, product.country_id)" value='APPLY' >APPLY</a></td>
                                                      <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) != -1"><input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                          <div ng-if="offerdata.NonCollateral.length">
                                             <h4 style="text-align: -webkit-center;"><b>Non Collateral</b></h4>
                                             <table class="table table-striped table-condensed table_Layout" >
                                                <thead>
                                                   <tr>
                                                      <th class="tableTD"></th>
                                                      <th class="tableTD">Interest Rate</th>
                                                      <th class="tableTD">Processing Fees </th>
                                                      <th class="tableTD">Processing Time </th>
                                                      <!--                                                                     <th class="tableTD">Convenience of Processing</th>
                                                         -->
                                                      <th class="tableTD">Documentation requirement for Processing</th>
                                                      <th class="tableTD">Max Loan offered</th>
                                                      <th class="tableTD"></th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr ng-repeat="product in offerdata.NonCollateral" ng-if="product && product.image_url">
                                                      <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 30px;"></td>
                                                      <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                      <td class="tableTD tdWrap">
                                                         {{product.processing_fee}}
                                                         <div class="progress-barTable">
                                                            <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                         </div>
                                                      </td>
                                                      <td class="tableTD tdWrap">1 Month</td>
                                                      <td class="tableTD tdWrap">
                                                         <p>Aadhaar Card</p>
                                                         <p>PAN Card</p>
                                                         <p>University Letter</p>
                                                      </td>
                                                      <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                      <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1"><a id="{{product.product_id}}" class='btn btn-sm btn-fill applyBTN btn-danger' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.display_name, product.country_id)">APPLY</a></td>
                                                      <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) != -1"><input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                          <div ng-if="offerdata.USCosigner.length">
                                             <h4 style="text-align: -webkit-center;"><b>US Cosigner</b></h4>
                                             <table class="table table-striped table-condensed table_Layout" >
                                                <thead>
                                                   <tr>
                                                      <th class="tableTD"></th>
                                                      <th class="tableTD">Interest Rate</th>
                                                      <th class="tableTD">Processing Fees </th>
                                                      <th class="tableTD">Processing Time </th>
                                                      <!--                                                                     <th class="tableTD">Convenience of Processing</th>
                                                         -->
                                                      <th class="tableTD">Documentation requirement for Processing</th>
                                                      <th class="tableTD">Max Loan offered</th>
                                                      <th class="tableTD"></th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr ng-repeat="product in offerdata.USCosigner" ng-if="product && product.image_url">
                                                      <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 30px;"></td>
                                                      <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                      <td class="tableTD tdWrap">
                                                         {{product.processing_fee}}
                                                         <div class="progress-barTable">
                                                            <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                         </div>
                                                      </td>
                                                      <td class="tableTD tdWrap">1 Month</td>
                                                      <td class="tableTD tdWrap">
                                                         <p>Aadhaar Card</p>
                                                         <p>PAN Card</p>
                                                         <p>University Letter</p>
                                                      </td>
                                                      <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                      <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1 && product.partner_link == NULL"><a id="{{product.product_id}}"  class='btn btn-sm btn-fill applyBTN btn-danger' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.display_name, product.country_id)" >APPLY</a></td>
                                                      <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1 && product.partner_link != NULL">
                                                         <!-- <input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.display_name, product.country_id)" value='APPLY' /> -->
                                                         <a id="{{product.product_id}}" class="btn btn-xs btn-fill applyBTN btn-danger" target="_blank" href="{{product.partner_link}}" ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.display_name, product.country_id)">APPLY</a>
                                                      </td>
                                                      <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) != -1"><input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                          <div ng-if="offerdata.NonCosignor.length">
                                             <h4 style="text-align: -webkit-center;"><b>Non Cosignor</b></h4>
                                             <table class="table table-striped table-condensed table_Layout" >
                                                <thead>
                                                   <tr>
                                                      <th class="tableTD"></th>
                                                      <th class="tableTD">Interest Rate</th>
                                                      <th class="tableTD">Processing Fees </th>
                                                      <th class="tableTD">Processing Time </th>
                                                      <!--                                                                     <th class="tableTD">Convenience of Processing</th>
                                                         -->
                                                      <th class="tableTD">Documentation requirement for Processing</th>
                                                      <th class="tableTD">Max Loan offered</th>
                                                      <th class="tableTD"></th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr ng-repeat="product in offerdata.NonCosignor" ng-if="product && product.image_url">
                                                      <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.image_url}}" style="height: 30px;"></td>
                                                      <td class="tableTD tdWrap">{{product.interest_rate}}</td>
                                                      <td class="tableTD tdWrap">
                                                         {{product.processing_fee}}
                                                         <div class="progress-barTable">
                                                            <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                         </div>
                                                      </td>
                                                      <td class="tableTD tdWrap">1 Month</td>
                                                      <td class="tableTD tdWrap">
                                                         <p>Aadhaar Card</p>
                                                         <p>PAN Card</p>
                                                         <p>University Letter</p>
                                                      </td>
                                                      <td class="tableTD tdWrap">{{product.loan_amount}}</td>
                                                      <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1 && product.partner_link == NULL">
                                                         <a id="{{product.product_id}}"  class='btn btn-sm btn-fill applyBTN btn-danger' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.display_name, product.country_id)" >APPLY</a>
                                                         <br/> <br/> <a ng-if="product.product_id == 4 " data-toggle="modal" data-target="#basicModal" href="#" class="btn btn-info btn-sm btn-circle" > <b> MPOWER ELIGIBILITY CHECK </b> </a>
                                                      </td>
                                                      <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) == -1 && product.partner_link != NULL">
                                                         <!-- <input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.display_name, product.country_id)" value='APPLY' /> -->
                                                         <a id="{{product.product_id}}" class="btn btn-xs btn-fill applyBTN btn-danger" target="_blank" href="{{product.partner_link}}" ng-click="applyProduct(product.product_id, product.university_id, offerdata.course_id, product.loan_type_id, product.display_name, product.country_id)">APPLY</a>
                                                      </td>
                                                      <td class="tableTD tdWrap" ng-if="appliedProduct.indexOf(product.product_id) != -1"><input id="{{product.product_id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                          </div>

                          <div id="tab2" class="tabcontent">
                            <h3>Forex Loan Offers</h3>
                            <div class="span12">
                              <div class="menu">
                                 <div class="accordion">
                                    <div class="accordion-group" ng-repeat="(index, offerdata) in offersdata">
                                       <div class="accordion-heading country">
                                          <div class="table table-striped table-condensed table_Layout">
                                             <div style="background-color: slategray;color: white;">
                                                <div class="tableTD">
                                                   {{offerdata.name}}
                                                   <!--button type="button" class="btn btn-sm btn-fill offerView pull-right" data-toggle="collapse" data-target="{{'#'+index}}" title="Click To View Offers"></button-->
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div id="{{index}}" class="accordion-body" >
                                          <div ng-if="offerdata.forex_offer.length">
                                             <h4 style="text-align: -webkit-center;"><b>Forex</b></h4>
                                             <table class="table table-striped table-condensed table_Layout" >
                                                <thead>
                                                   <tr>
                                                      <th class="tableTD"></th>
                                                      <th class="tableTD">Forex Partner</th>
                                                      <th class="tableTD">Conversion Amount</th>
                                                      <th class="tableTD">Conversion Rate</th>
                                                      <th class="tableTD">Fixed Charges</th>
                                                      <th class="tableTD"></th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr ng-repeat="product in offerdata.forex_offer" ng-if="product">
                                                      <td class="tableTD tdWrap"><img class="img-fluid" src="{{product.logo}}" style="height: 30px;"></td>
                                                      <td class="tableTD tdWrap">{{product.display_name}}</td>
                                                      <td class="tableTD tdWrap">
                                                         {{product.forex_conversion_amount}}
                                                         <div class="progress-barTable">
                                                            <div title="23.7%" class="progress-bar-strip" style="width: 23.7%;"></div>
                                                         </div>
                                                      </td>
                                                      <td class="tableTD tdWrap">{{product.forex_conversion_rate}}</td>
                                                      <td class="tableTD tdWrap">
                                                         {{product.fixed_charges}}
                                                      </td>
                                                      <td class="tableTD tdWrap" ng-if="appliedForexProduct.indexOf(product.id) == -1"><a id="{{product.id}}" class='btn btn-sm btn-fill applyBTN btn-danger' ng-click="applyForexProduct(product.id,product.lead_id)" value='APPLY' >APPLY</a></td>
                                                      <td class="tableTD tdWrap" ng-if="appliedForexProduct.indexOf(product.id) != -1"><input id="{{product.id}}" type='button' class='btn btn-sm btn-fill applyBTN btn-danger' value='APPLIED' disabled /></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                          </div>

                        </div>
                        <div class="wizard-footer">
                           <div class="pull-right">
                              <a ng-click="finishSignup()" type='button' class='btn btn-fill btn-danger btn-wd margin12'>FINISH</a>
                           </div>
                           <!--<div class="pull-left">
                              <a ng-click="changePage('Account')" type='button' class='btn btn-fill btn-default btn-wd margin12'>PREVIOUS</a>
                           </div>-->
                        </div>
                     </div>
                  </div>
                  <!-- popup modal begin -->
                  <div class="modal fade" style="bg-color:black;" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" style="    text-align: center;">MPOWER ELIGIBILITY CHECK</h4>
                           </div>
                           <div class="modal-body">
                              <!-- <h3>MPOWER</h3>
                                 <iframe class="center-block" id="b898a00d-524f-4bfa-ab0f-ba5e2e2d7d8f" src="https://widget.mpowerfinancing.com/eligibilityWidget/widget" width="500" height="600" frameborder="0"></iframe>
                                 -->
                              <iframe class="center-block" id="f64fac0b-7e9c-4565-94e8-209b6b904510" src="https://widget.mpowerfinancing.com/eligibilityWidget/widget" width="500" height="600" frameborder="0"></iframe>
                           </div>
                           <!--         <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div> -->
                        </div>
                     </div>
                  </div>
                  <!-- popup modal end -->
               </div>
            </div>
            <!-- wizard container -->
         </div>
      </div>
   </div>
</section>
<!--section id="view-all-projects" class="text-center supportbar" style="background-image:url(images/question.png); background-position: 50% -340px; padding:0px;margin:0px;" data-speed="5" data-type="background"-->
<section id="view-all-projects" class="text-center supportbar" style="background-color:#ff9900;" data-speed="5" data-type="background">
   <p>Have Additional Questions ?</p>
   <p>Visit our <a href="/faq">support page</a> to get your questions answered</p>
   <!--a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a-->
</section>
<script>
   window.onload = function(){
       var widget = {
           'id':'root',
           'widget_id':'f64fac0b-7e9c-4565-94e8-209b6b904510'
       };
       function serialize(obj) {
           var str = [];
           for(var p in obj){
               if (obj.hasOwnProperty(p)) {
                   str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
               }
           }
           return str.join("&");
       }
       function getWidget() {
           var hostPath = `${window.location.origin}${window.location.pathname}`;
           window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
               widget[key] = value;
           });
           widget['host_information'] = hostPath;
           widget['host_name'] = hostPath;
           return widget;
       }
       var iframe = document.getElementById(widget['widget_id']);
       iframe.src = `${iframe.src}?${serialize(getWidget())}`
   }


</script>
<script type="text/javascript">
   $(document).ready(function() {
         $('input[type="checkbox"]').click(function() {
            alert("checked");
             var inputValue = $(this).attr("value");
             alert(inputValue);
             $("." + inputValue).toggle();
         });
     });

   function openTab(evt, TabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      document.getElementById(TabName).style.display = "block";
      evt.currentTarget.TabName += " active";
      if(TabName === 'tab2'){
        $("#defaultClose").css({"border": "1px solid #004b7a" , "background-color": "#004b7a" , "color" : "white"});
        $("#defaultOpen").css({"border": "1px solid #f1f1f1" , "background-color": "#f1f1f1" , "color" : "#004b7a"});
      }else{
        $("#defaultOpen").css({"border": "1px solid #004b7a" , "background-color": "#004b7a" , "color" : "white" });
        $("#defaultClose").css({"border": "1px solid #f1f1f1" , "background-color": "#f1f1f1" , "color" : "#004b7a"});
      }
    }


    document.getElementById("defaultOpen").click();
</script>
