<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- content begin -->
<!-- Select2 -->
<link rel="stylesheet" href="https://www.imperial-overseas.com/CRM/plugins/select2/select2.min.css">
<style type="text/css">
	#div_citizenship_country{display:none;}
	#errorusadiv{color:red; margin-bottom:2%;}
	#errordiv{color:red; margin-bottom:2%;}
	#errorcls{color:red !important;}
	.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
		color: #444;
		line-height: 31px;
	}
	.select2-container--default .select2-selection--single {
		background-color: #fff;
		border: 1px solid #aaa;
		border-radius: 0px;
	}
	.select2-container .select2-selection--single {
		box-sizing: border-box;
		cursor: pointer;
		display: block;
		height: 34px;
		user-select: none;
		-webkit-user-select: none;
	}
	.myAlert-success{
		position: fixed;
		top: 5px;
		right: 1%;
		width: 10%;
		z-index: 999;
		background: #ff9300;
		padding: 10px;
		font-size: 15px;
	}
</style>
<section id="subheader" data-speed="8" data-type="background" >
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Loan eligibility</h1>
			</div>
		</div>
	</div>
</section>
<div class="myAlert-success" ng-show="success_message">
	<strong>{{success_message}}</strong>
</div>
<div class="myAlert-top" ng-show="error.message">
	<a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="error.message = null">&times;</a>
	<strong>{{error.message}}</strong>
</div>
<div id="content" class="no-top no-bottom">
	<section id="section-about-us-2" class="side-bg no-padding">
		<div class="container">
			<form action="/user/signup/create" name="signup" method="post" id="signup" enctype="multipart/form-data">
				<input type="hidden" id="us_signor_val" name="us_signor_val" />
				<input type="hidden" id="colateral_val" name="colateral_val" />
				<div class="row">
					<div class="inner-padding" id="form3" style="display:block;">
						<div class="col-md-12 " data-animation="fadeInRight" data-delay="200">
							<div class="col-md-4" id="collateral_c" style="display:block">
								<div class="bs-example">
									<div class="panel-group" id="accordion">
										<div class="panel panel-default">
											<div class="panel-heading" ng-click="accordion.current = 'general_faq'">
												<h4 class="panel-title">
													<a>General FAQ's</a>
												</h4>
											</div>
											<div ng-show="accordion.general_faq.indexOf(accordion.current) !== -1" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="bs-example">
														<div class="panel-group" id="accordion">
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'general_faq_1'">
																	<h4 class="panel-title">
																		<a>1. How does Eduloans make money?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'general_faq_1'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>Eduloans charges an origination fees to its financial partners or students. <br/>
																			<ul>
																				<li>We do not charge any upfront fees to the borrower incase we get funding from a Nationalised bank. However, the student might be asked to pay charges to the nationalized bank for the processing of loan</li>
																				<li>In case of our inhouse NBFC or Investor we would be charging 1 % processing fees upfront and a small fees per year to facilitate the loand</li>
																				<li>In case we apply to US banks with valid co signor we would be charging the borrower upfront fees of 1% of the loan sanctioned amount</li>
																			</ul>
																		</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'general_faq_2'">
																	<h4 class="panel-title"><a>2. What are the benefits of using Eduloans ?</a></h4>
																</div>
																<div ng-show="accordion.current == 'general_faq_2'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<ul>
																			<li>
																				<strong>The Complete Education Loan (Including Tuition and Living)</strong><br/>
																				We have been sending students to various Universities globally across for last 5 years and have observed that students sometimes fail to cover complete cost of education. We endeavor to provide through our financing options the total cost of study to the student.
																			</li>
																			<li>
																				<strong>Most Flexible global/local Interest rates</strong><br/>
																				We through our financing partners look to provide you the best available interest rates to reduce your overall cost of borrowing. We try to arrange loans in the currency of study and repayment to suite the profile of the candidates.
																			</li>
																			<li>
																				<strong>Convenient Mortgage-able Security</strong>
																				We try to find the most suitable solution to the security provided vs   credit profile of the student and guarantor. We use innovative financial solutions to the advantage of the student.
																			</li>
																			<li>
																				<strong>Least Remittance/Forex Charges</strong>
																				We are aggregators of remittances and provide hence are able to provide the most economical options for forex remittances
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'general_faq_3'">
																	<h4 class="panel-title"><a>3. Who are our  financial partners ?</a></h4>
																</div>
																<div ng-show="accordion.current == 'general_faq_3'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<h4>Indian Banks </h4>
																		<p>Various financial institutions in India work with Eduloans and are able to, create awareness to the next generation of customers provide services at there convenience. The centralized system reduces the processing time of the loan and Bank is able to provide timely feedback. </p>
																		<h4>Own Funds</h4>
																		<p>Eduloans is a registered trademark for BITC Loan Services Pvt Ltd, A Non Banking Financial Institution. We also lend to students through our own line of funds in India or abroad </p>
																		<h4>Foreign Banks</h4>
																		<p>Banks in home country of study offer student loans with valid co signors/guarantors in the region. Eduloans works very closely with banks and can look to provide you the loans from foreign banks that are very cost effective. </p>
																		<h4>Investors</h4>
																		<p>We provide funds to the students by encouraging peer-to-peer lending on our platform. The automated underwriting system assigns the risk Vs return to the education loan. We generally also take small exposure in the loan  to create equitable mortgage and reduce delinquency ratio.  </p>
																		<h4>University/Government Grants through Scholarships</h4>
																		<p>We work very closely with Universities and Government bodies, which provide scholarships to meritocratic or underprivileged students. </p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'general_faq_4'">
																	<h4 class="panel-title"><a>4. What is the maximum loan size? </a></h4>
																</div>
																<div ng-show="accordion.current == 'general_faq_4'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>The maximum loan amount that you can borrow is 100% of your total amount required for study which includes Tuition, Living, books, other miscellaneous expenses, etc. </p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'general_faq_5'">
																	<h4 class="panel-title"><a>5. Can loans through eduloans  be used for any tax rebates or benefits?</a></h4>
																</div>
																<div ng-show="accordion.current == 'general_faq_5'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>We can unfortunately not advise on tax matters as it applies in various financial institutions. You will have to discuss this with a the financial institution or other appropriate advisor in your country.</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" ng-click="accordion.current = 'collateral'">
												<h4 class="panel-title"><a>Collateral</a></h4>
											</div>
											<div ng-show="accordion.collateral.indexOf(accordion.current) !== -1" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="bs-example">
														<div class="panel-group" id="accordion">
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'collateral_1'">
																	<h4 class="panel-title"><a>1. What is a Collateral Loan?</a></h4>
																</div>
																<div ng-show="accordion.current == 'collateral_1'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>Collateral is a property or other asset that a borrower offers as a way of securityto a lender of a loan. If the borrower stops making the promised loan payments the lender can seize the collateral to recover its losses.  </p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'collateral_2'">
																	<h4 class="panel-title"><a>2. What are the advantages of a collateral loan? </a></h4>
																</div>
																<div ng-show="accordion.current == 'collateral_2'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>
																			<ul>
																				<li>Since collateral offers some security to the lender, should the borrower fail to pay back the loan, the security is used as a way of repaying of the losses.</li>
																				<li>Loans that are secured by collateral typically have lower interest rates than unsecured loans. </li>
																				<li>The lender can look to offer loans on collateral to a wider range of students as well as weaker sponsor credit profiles. </li>
																			</ul>
																		</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'collateral_3'">
																	<h4 class="panel-title">
																		<a>3. Who provides a Collateral loan?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'collateral_3'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>All financial institutions provide collateral loans. When it comes to being approved for a loan itÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢s all about the risk.Every lender has their own way of assessing risk based on student profile credit history of sponsor, employment potential etc. Your potential lender can finance you even if you have a weak profile provided collateral is used as a security against the loan. Hence it is always advisable to trying this option first. </p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'collateral_4'">
																	<h4 class="panel-title">
																		<a>4. What are the kinds of Mortgage-able securities?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'collateral_4'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>Collateral can be in the form of all types of asset classes ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã¢â‚¬Å“ <br />Real estate (House, Shop, etc.), Shares, Gold, Fixed Deposits, Insurance policy(net realizable value), Bonds, etc. The collateral has to have a clear title and should be mortgage-able. All asset classes have to be evaluated by Govt. approved values and each of them has a different risk parameter.</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'collateral_5'">
																	<h4 class="panel-title"><a>5. Does the Mortgage-able security have to be on the name of the parent?</a></h4>
																</div>
																<div ng-show="accordion.current == 'collateral_5'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>The Mortgage-able property owner has to preferably be a blood relative. In case the same is not a blood relative we would require an undertaking from the primary holder and next of kin, accepting the terms and conditions of the mortgage. They would have to be co-borrowers/guarantors.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--non-colleteral-->
										<div class="panel panel-default">
											<div class="panel-heading" ng-click="accordion.current = 'non_collateral'">
												<h4 class="panel-title"><a>Non Collateral</a></h4>
											</div>
											<div ng-show="accordion.non_collateral.indexOf(accordion.current) !== -1" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="bs-example">
														<div class="panel-group" id="accordion">
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'non_collateral_1'">
																	<h4 class="panel-title"><a>1. What is a Non Collateral Loan?</a></h4>
																</div>
																<div ng-show="accordion.current == 'non_collateral_1'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>An unsecured personal loan is simplya fixed-rate loan that you can receive without collateral/security to guarantee it. The same can be used for education purpose  </p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'non_collateral_2'">
																	<h4 class="panel-title"><a>2. Who can avail a Non Collateral Loan? </a></h4>
																</div>
																<div ng-show="accordion.current == 'non_collateral_2'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>Typically all potential students can avail Non collateral Loan, however with the riskier profile of the loan it is provided to the students who have secured admission into top schools globally and have a very strong Co-signor/Guarantor.</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'non_collateral_3'">
																	<h4 class="panel-title"><a>3. Is there a limitation to the Unsecured Loan?</a></h4>
																</div>
																<div ng-show="accordion.current == 'non_collateral_3'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>We generally restrict the Loan amount to not more than 50% of the course fees. We require proof of payment of the balance funds.</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'non_collateral_4'">
																	<h4 class="panel-title">
																		<a>4. Is the College/University informed about the Loan?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'non_collateral_4'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>Yes, the College/University is informed about the loan and we generally require a confirmation from the University, of you joining the college, example, I20, Admit Letter, etc.
																		</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'non_collateral_5'">
																	<h4 class="panel-title">
																		<a>5. Who can provide an Unsecured Loan?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'non_collateral_5'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>Our partnering institutions like Private Investors, Non Banking Finance Corporation, Hedge Funds and University Endowment Funds generally provide unsecured loans. Each of these Institutions hasits individual risk and screening methods.
																		</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'non_collateral_6'">
																	<h4 class="panel-title">
																		<a>6. What is a partially secured Loan?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'non_collateral_6'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>A partially secured loan is the one in which the underlying security is less than the loan approved value. The partially secured loan can be looked at with lesser risk than completely unsecured loan.
																		</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'non_collateral_7'">
																	<h4 class="panel-title">
																		<a>7. What is the interest rate for an unsecured loan?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'non_collateral_7'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>The interest rate for an unsecured loan is generally higher than a secured loan. A loan in INR would be around 12 -15% and in USD would be around 7 -10%.
																		</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'non_collateral_8'">
																	<h4 class="panel-title">
																		<a>8. What is the application process for an unsecured loan?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'non_collateral_8'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>We require you to fill up the basic details. Our experienced guidance counselor would get back to you with the response from our financing partners.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--Investor Loan-->
										<div class="panel panel-default">
											<div class="panel-heading" ng-click="accordion.current = 'investor_loan'">
												<h4 class="panel-title">
													<a>Investor Loan</a>
												</h4>
											</div>
											<div ng-show="accordion.investor_loan.indexOf(accordion.current) !== -1" class="panel-collapse collapse in">
												<div class="panel-body">
													<div class="bs-example">
														<div class="panel-group" id="accordion">
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'investor_loan_1'">
																	<h4 class="panel-title">
																		<a>1. What is an investor Loan ?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'investor_loan_1'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>An investor is an HNI, a debt fund, etc. who invests in a single/basket of loans. Eduloans provides a comprehensive financing platform connecting educational aspirants with potential Financial Institutions, Investors and endowment Funds. We are also a registered NBFC with RBI and provide the platform for you to choose the best financing options to finance your education with least hassles. </p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'investor_loan_2'">
																	<h4 class="panel-title">
																		<a>2. How does the investor loan work? </a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'investor_loan_2'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>We request you to fill out your complete application for Investor Loan. Once your application is complete we forward your profile to our interested investors along with your credit review by our data scientist. Once an investor shows interest our guidance counselors would contact you and can look to connect you to the potential investor. </p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'investor_loan_3'">
																	<h4 class="panel-title">
																		<a>3. How does Eduloans get remunerated?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'investor_loan_3'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>We would charge you as soon as you get a financing offer from an investor. We then charge you 1% + Applicable Govt. taxes and then process the loan. We then charge the investor a small percentage of the loan outstanding amount. </p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'investor_loan_4'">
																	<h4 class="panel-title">
																		<a>4. What are non-collateral guarantees?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'investor_loan_4'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>We would require personal guarantees of the bonafide student as well as his co-signors or guarantors. We would also take security cheques with appropriate Power of Attorney of the sponsors. We would intimate credit bureau on the loan taken such as CIBIL etc. We would also inform our partnering university about the loan facilities availed.
																		</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'investor_loan_5'">
																	<h4 class="panel-title">
																		<a>5. How is the payment and repayment?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'investor_loan_5'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>The payment and repayment is governed by Eduloans. The investor would provide us the funds. We would complete the legal formalities. We would remit the funds to the University after the student has joined the University and we receive an email from the admissions department that the student is enrolled full time. We would then expect the student to provide us monthly payments, which we would then remit to the investor. We are facilitating the loan however we are not responsible in case the student refuses to pay the monthly payment. We would assist the investor in recovering the dues from the student.
																		</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'investor_loan_6'">
																	<h4 class="panel-title">
																		<a>6. How do you register? </a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'investor_loan_6'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>The investor is required to fill in the basic details and then our experienced wealth managers would get back to you shortly.
																		</p>
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading" ng-click="accordion.current = 'investor_loan_7'">
																	<h4 class="panel-title">
																		<a>7. Where is the legal implication of the loan?</a>
																	</h4>
																</div>
																<div ng-show="accordion.current == 'investor_loan_7'" class="panel-collapse collapse in">
																	<div class="panel-body">
																		<p>The loan is subject to Indian laws and jurisdiction.
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-8">
								<div>
									<div class="views_app">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<div class="form-group">
														<label class="control-label" for="loanelig_name">{{data[0].field_display_name}}<span style="color:red;"> *</span></label>
														<select class="form-control" name="title" id="title" required ng-init="title='Please Select'" ng-model="title">
															<option>Please Select</option>
													      	<option ng-repeat="option in data[0].list_items" value="{{option.id}}">{{option.display_name}}</option>
													    </select>
														<p id="error_title" style="color:red;"></p>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<div class="form-group">
														<label class="control-label required" for="loanelig_city">{{data[1].field_display_name}}<span style="color:red;"> *</span></label>
														<input placeholder="First Name"  class="form-control" type="text" name="first_name" id="first_name" ng-model="first_name">
														<p id="error_firstname" style="color:red;"></p>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<div class="form-group">
														<label class="control-label required" for="loanelig_city">{{data[2].field_display_name}}</label>
														<input placeholder="Middle Name" class="form-control" type="text" name="middle_name" id="middle_name" ng-model="middle_name">
														<p id="error_middlename" style="color:red;"></p>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<div class="form-group">
														<label class="control-label required" for="loanelig_city">{{data[3].field_display_name}}<span style="color:red;"> *</span></label>
														<input placeholder="Last Name"  class="form-control" type="text" name="last_name" id="last_name" ng-model="last_name">
														<p id="error_lastname" style="color:red;"></p>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<div class="form-group">
														<label class="control-label required" for="loanelig_phone_number_attributes_number">{{data[4].field_display_name}}<span style="color:red;"> *</span></label>
														<input placeholder="2,000,000" class="form-control"  type="text" name="loan_amount" id="loan_amount" ng-model="loan_amount">
														<p id="error_loanamount" style="color:red;"></p>
														<span class="help-block">Please consider scholarships, fellowships or other financial aid before deciding the loan amount you need.</span>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<div class="form-group">
														<label class="control-label required" for="loanelig_phone_number_attributes_number">{{data[5].field_display_name}}<span style="color:red;"> *</span></label>
														<input placeholder="abc@xyz.com"  class="form-control" type="email" name="email" id="email" ng-model="email">
														<p id="error_email" style="color:red;"></p>
														<span class="help-block"> We respect your privacy and will not send you spam emails.</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<div class="form-group">
														<label class="control-label required" for="loanelig_phone_number_attributes_number">{{data[6].field_display_name}}<span style="color:red;"> *</span></label>
														<input placeholder="9876543210"  class="form-control form-control" data-minlength="10" type="text" name="mobile" id="mobile" ng-model="mobile_number" ng-blur="sendOTP()">
														<p id="error_mobile" style="color:red;"></p>
														<span class="help-block" id="otp_error">Enter the 10 digit mobile number, without any prefix.</span>
													</div>
												</div>
											</div>
											<div class="col-sm-6" style="display:none" id="otp_div">
												<div class="form-group">
													<div class="form-group">
														<label class="control-label required" for="loanelig_phone_number_attributes_number">OTP<span style="color:red;"> *</span></label>
														<input placeholder="Enter OTP" class="form-control form-control" data-minlength="6" type="text" name="otp" id="otp" ng-model="otp"><br />
														<p id="success_otp" ng-show="otp_verified">OTP is verified</p>
														<input type="button" value="Verify" id="otp_verify" class="btn btn-contrast" ng-click="verifyOTP()" />&nbsp;<input type="button" value="Resend" id="otp_resend" class="btn btn-contrast" ng-click="sendOTP()" />
														<span class="help-block" id="otp_verify_div">Enter the 6 digit OTP.</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label" for="loanelig_name">{{data[7].field_display_name}}<span style="color:red;"> *</span></label>	<br/>
													<select class="form-control select2 " name="country" id="country" required ng-change="showUniversities()" style="width:100%;border-radius:0px!important" ng-init="country='Please Select'" ng-model="country">
														<option>Please Select</option>
												      	<option ng-repeat="option in data[7].list_items" value="{{option.id}}">{{option.display_name}}</option>
												    </select>
													<p id="error_country" style="color:red;"></p><br/>	<br/>
													<input type="text" name="country_name" class="form-control" id="other_country" style="display:none; width:100%!important" placeholder="Enter Country" ng-model="other_country"/>
													<p id="error_other_country" style="color:red;"></p>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label" for="loanelig_name">{{data[8].field_display_name}}<span style="color:red;"> *</span></label>
													<br/>
													<select class="form-control select2" name="university" id="university" required ng-change="showCourses()" style="width:100%;border-radius:0px!important" ng-init="university='Please Select'" ng-model="university">
														<option>Please Select</option>
												      	<option ng-repeat="option in universities" value="{{option.id}}">{{option.display_name}}</option>
												    </select>
													<p id="error_university" style="color:red;"></p>
													<br/>
													<input type="text" name="university_name" class="form-control" id="other_university" style="display:none;width:100%!important" placeholder="Enter University" ng-model="other_university"/>
													<p id="error_other_university" style="color:red;"></p>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label" for="loanelig_name">{{data[9].field_display_name}}<span style="color:red;"> *</span></label>
													<br/>
													<select class="form-control select2" name="course" id="course" required onChange="showInput_course(this.value)" style="width:100%;border-radius:0px!important" ng-init="course='Please Select'" ng-model="course">
														<option>Please Select</option>
												      	<option ng-repeat="option in courses" value="{{option.id}}">{{option.display_name}}</option>
												    </select>
													<p id="error_course" style="color:red;"></p>																					<br/>
													<input type="text" name="course_name" class="form-control" id="other_course" style="display:none;width:100%!important" placeholder="Enter Course" ng-model="other_course"/>
													<p id="error_other_course" style="color:red;"></p>
												</div>
											</div>
											<div class="clearfix"></div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label" >{{data[10].field_display_name}}<span style="color:red;"> *</span></label>
													<select class="form-control" name="hear_about_us" id="hear_about_us" required ng-change="showHearAboutUsOptions()" ng-init="hear_about_us='Please Select'" ng-model="hear_about_us">
														<option>Please Select</option>
												      	<option ng-repeat="option in data[10].list_items" value="{{option.id}}">{{option.display_name}}</option>
												    </select>
													<p id="error_hau" style="color:red;"></p>
												</div>
											</div>
											<div class="col-md-4">
												<div id="friend_reference" style="display:none">
													<label class="control-label" >Friend reference</label>
													<input type="text" name="friend_ref" class="form-control" ng-model="friend_reference" placeholder="Enter Friend reference"/>
												</div>
												<div id="other_reference" style="display:none">
													<label class="control-label" >Other</label>
													<input type="text" name="other_ref" class="form-control" ng-model="other_reference" placeholder="Enter Other reference"/>
												</div>
												<div id="education_counsellors" style="display:none;">
													<label class="control-label" >Counsellors</label>
													<select class="form-control" name="education_counsellor" required ng-init="education_counsellor='Please Select'" ng-model="education_counsellor" >
														<option>Please Select</option>
														<option ng-repeat="option in educationCounsellors" value="{{option.id}}">{{option.display_name}}</option>
													</select>
												</div>
												<div id="other_university_name"  style="display:none">
													<label class="control-label" >University Name</label>
													<input type="text" name="university_name" id="university_name" class="form-control"  placeholder="Enter University Name" ng-model="other_university_name"/>
												</div>
											</div>
											<div class="clearfix"></div>
											<div class="col-sm-12">
												<label class="control-label" for="loanelig_amount">{{data[11].field_display_name}}<span style="color:red;"> *</span></label>
											</div>
											<div class="input-group margin-bottom-sm" style="float: left; margin-left: 15px;" id="loan_type_div" ng-repeat="option in data[11].list_items">
												<input type="checkbox" ng-model="loan_type[option.id]">&nbsp;{{option.display_name}} &nbsp;&nbsp;
											</div>
											<br/>
											<br/>
											<p id="error_loantype" style="color:red;"></p>
											<div class="clearfix"></div>
											<div class="col-sm-4 col-sm-offset-5">
												<input type="button" name="commit" value="Submit" class="btn btn-contrast" id="form3next" ng-click="submitSignupForm()">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section id="view-all-projects" class="text-center" style="background-image:url(images/question.png); background-position: 50% -340px;" data-speed="5" data-type="background">
		<span>Have Additional Questions ?</span><br/>
		<p>Visit our support page to get your questions answered</p>
		<a href="/faq" class="btn btn-line-black btn-big" style="padding-bottom: 27px;">Support</a>
	</section>

	<!-- footer begin -->
	<footer style="color:#000;">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<ul style="text-transform:uppercase; list-style-type:none; color:#000;">
						<li><a href="/about" style="color:#000; text-decoration:none;">About US</a></li>
						<li><a href="/community" style="color:#000;text-decoration:none;">Community</a></li>
						<li><a href="/user/signup" style="color:#000;text-decoration:none;">Get a Loan</a></li>
						<li><a href="/investor" style="color:#000;text-decoration:none;">Prospective Investor</a></li>
						<li><a href="/education-loans-usa" style="color:#000;text-decoration:none;">Education Loans For USA</a></li>
						<li><a href="/faq" style="color:#000;text-decoration:none;">Faq's</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div class="widget widget_recent_post">
						<ul style="text-transform:uppercase;">
							<li> <strong>Registered Office :</strong><br>
								Office no 32/33, 2nd Floor,<br>
								Dheeraj Heritage, Santacruz (W)<br>
								Telephone: +91 22 26605549 <br>
								Mobile : +91 98191 19363 / +91 91676 63090<br>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget widget-address">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.403862363214!2d72.8356646149014!3d19.089930687079853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9a509fb9a93%3A0x29ca30c80c126627!2sEduloans!5e0!3m2!1sen!2s!4v1503381575480" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="subfooter">
			<div class="container">
				<div class="row">
					<div class="col-md-6" style="color:#fff;margin-top: 5px;">
						© Copyright 2017 - Eduloans | Powered By : <a href="https://www.inventifweb.com" target="_blank" style="color:#fff;">Inventif Web</a>
					</div>
					<div class="col-md-6 text-right">
						<div class="social-icons">
							<a href=""><i class="fa fa-facebook fa-lg"></i></a>
							<a href=""><i class="fa fa-twitter fa-lg"></i></a>
							<a href=""><i class="fa fa-linkedin"></i></a>
							<a href=""><i class="fa fa-google-plus fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer close -->
</div>
<!-- Select2 -->
<script src="assets/js/select2.full.min.js"></script>
<script type="text/javascript">
	$(function () {
		$(".select2").select2();
	});

	function showInput(e){
		if(e=='other')	{
			document.getElementById("other_uni").style.display="block";
		}
		else	{
			document.getElementById("other_uni").style.display="none";
		}
	}

	function showInput_course(e){
		if(e==3)	{
			document.getElementById("other_course").style.display="block";
		}
		else	{
			document.getElementById("other_course").style.display="none";
		}
	}

	function showInput_country(e){
		if(e==4)	{
			document.getElementById("other_country").style.display="block";
		}
		else	{
			document.getElementById("other_country").style.display="none";
		}
	}

	function showInput_here(e){
		if(e=='5')	{
			document.getElementById("friend").style.display="block";
			document.getElementById("other_agent").style.display="none";
		}
		else	{
			document.getElementById("friend").style.display="none";
			document.getElementById("other_agent").style.display="none";
		}

		if(e=='7')	{
			document.getElementById("education").style.display="block";
		}
		else	{
			document.getElementById("education").style.display="none";
			document.getElementById("other_agent").style.display="none";
		}

		if(e=='8')	{
			document.getElementById("university_here").style.display="block";
			document.getElementById("other_agent").style.display="none";
		}
		else	{
			document.getElementById("university_here").style.display="none";
			document.getElementById("other_agent").style.display="none";
		}

		if(e=='9')	{
			document.getElementById("h_other").style.display="block";
			document.getElementById("other_agent").style.display="none";
		}
		else	{
			document.getElementById("h_other").style.display="none";
			document.getElementById("other_agent").style.display="none";
		}
	}

	function showInput_agentOther(e){
		if(e=='other')	{
			document.getElementById("other_agent").style.display="block";
		}
		else	{
			document.getElementById("other_agent").style.display="none";
		}
	}
</script>

<script src="/assets/js/signup.js"></script>
