<style>
.page-width {
margin:0px auto;
padding:100px 0px;
}
#logo {
    padding-top: 8px;

}
h1, h2, h3, h4, h5, h6 {
    color: #004b7a;
}
h1 {
font-size:90px;
}
h3{
font-size:30px;
}
code{
font-size:18px;
}
</style>
<div class="container page-width">
<div class="col-md-6 col-sm-6">
<h1>Oops!</h1>
<h3>We can't seem to find the <br>
page you're looking for.</h3>
<code>Error code: 404</code>
</div>
<div class="col-md-6 col-sm-6">
<img src="images/404-eduloans.jpg">
</div>
</div>
