<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree" ng-repeat="(key, menu) in menus">
            <li ng-if="!menu.submenu">
                <a href="{{menu.url}}">
                    <i class="{{menu.icon_class}}"></i>
                    <span>{{menu.name}}</span>
                </a>
            </li>
            <li ng-if="menu.submenu" class="treeview" ng-click="toggleMenu(key)">
                <a href="#">
                    <i class="{{menu.icon_class}}"></i>
                    <span>{{menu.name}}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" id="menu-{{key}}">
                    <li ng-repeat="submenu in menu.submenu" ng-if="!submenu.submenu">
                        <a href="{{submenu.url}}">
                            <i class="{{submenu.icon_class}}"></i>
                            {{submenu.name}}
                        </a>
                    </li>
                    <li ng-repeat="(subkey, submenu) in menu.submenu" ng-if="submenu.submenu" class="treeview" ng-click="toggleSubMenu(subkey)">
                        <a href="#">
                            <i class="{{submenu.icon_class}}"></i>
                            {{submenu.name}}
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" id="submenu-{{subkey}}">
                            <li ng-repeat="sub_submenu in submenu.submenu">
                                <a href="{{sub_submenu.url}}">
                                    <i class="{{sub_submenu.icon_class}}"></i>
                                    {{sub_submenu.name}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<script src="dist/js/adminlte.min.js"></script>
