<h1>VIEW 1</h1>
<div>
<div class="col-md-3">
	<h2>AngularJS 1.1.5</h2>
	<p>AngularJS is a toolset for building the framework most suited to your application development.</p>
	<p><a class="btn" href="https://angularjs.org/">View details &raquo;</a></p>
</div><!--/span-->
<div class="col-md-3">
	<h2>jQuery 2.1.1</h2>
	<p>jQuery is a fast, small, and feature-rich JavaScript library.</p>
	<p><a class="btn" href="https://jquery.com/">View details &raquo;</a></p>
</div><!--/span-->
<div class="col-md-3">
	<h2>Bootstrap 3.3.0</h2>
	<p>Sleek, intuitive, and powerful front-end framework for faster and easier web development.</p>
	<p><a class="btn" href="https://getbootstrap.com/">View details &raquo;</a></p>
</div><!--/span-->
<div class="col-md-3">
	<h2>Flat UI</h2>
	<p>Flat UI Kit - HTML/PSD Design Framework</p>
	<p><a class="btn" href="https://designmodo.github.io/Flat-UI/">View details &raquo;</a></p>
</div><!--/span-->
</div>
